/*Start main rulez*/
.container 
{
    width: 1200px;
    margin: auto
}
.clearfix{clear: both}
/*End main rulez*/

/*ÙStart Header*/
.header .slider
{
    height:600px;
    background-color:#eee;
    background-image:url(http://store2.up-00.com/2016-10/1475879242991.jpg);
    background-size:cover
}
.header .slider .intro
{
    height: 600px;
    text-align: center;
    color:#fff;
    padding-top:200px
}
.header .slider .intro h2
{
    margin:0 auto;
    font-size: 50px;
    width: 600px;
    border-top:4px solid #fff;
    border-bottom:4px solid #fff;
    padding: 5px 0
}
.header .slider .intro button
{
    background:none;
    color:#fff;
    margin-top:30px;
    font-size:20px;
    border:2px solid #fff;
    font-weight: bold;
    padding:10px 20px;
    
}
.header .navbar 
{
    background: #252F31;
    color: #fff;
    overflow: hidden;
}
.header .navbar h2 
{
    float: left;
    text-transform:uppercase
}
.header .navbar h2 span 
{
    color:#19AE5A
}
.header .navbar ul {
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: right
}
.header .navbar ul li {
    float: left;
    padding: 10px;
    font-size:20px
}
.header .navbar ul li a
{
    color:#fff;
    text-decoration: none
}
.header .navbar ul li.active a,
.header .navbar ul li a:hover
{
    color:30B576
}
/*End Header*/

/*Start Features*/
.features
{
    overflow: hidden;
    padding-top:40px;
    padding-bottom:55px
}
.features .feat
{
    float:left;
    width:33.333%;
    height:150px;

}
.features .feat h2
{
    color:#444
}
.features .feat p
{
    line-height: 1.7;
    color:#888;
    text-align: justify;
    padding: 0 20px 0 0
}
/*End Features*/

/*Start About Me*/
.about-me{background-color:#F2F2F2;overflow:hidden}
.about-me .img{float:left;width:40%}
.about-me .img img{width:100%}
.about-me .info{float:left;width:60%}
.about-me .info h2{margin:40px 0 20px 40px;color:#555}
.about-me .info > p{margin:0 0 10px 40px;}
.about-me .info > p:last-of-type{margin-top:30px;}
.about-me .info > p{line-height:1.7;color:#666}
.about-me .info .hobbies{overflow: hidden;margin:20px 0 0 40px}
.about-me .info .hobbies .content {float:left;width:50%;min-height: 100px;overflow: hidden}
.about-me .info .hobbies .content h3{color:#555}
.about-me .info .hobbies .content .icon{float:left;width:12%;margin-right:5%}
.about-me .info .hobbies .content .icon i{margin-top:30px;color:#2DCC70}
.about-me .info .hobbies .content .text{float:left;width:83%}
.about-me .info .hobbies .content .text p{margin-top: 0}
.about-me .info .hobbies .content .text h3{margin-top: 5px}
/*End About Me*/

/*Start My Skills*/
.my-skills
{
    padding:30px 0 50px 0;
    overflow: hidden
}
.my-skills .skills h2
{
    margin:40px 0 20px 40px;
    color:#555
}
.my-skills .skills > p
{
    margin:0 0 10px 40px;
    line-height:1.7;
    color:#666

}
.my-skills .skills > p:last-of-type
{
    margin-top:30px;
}
.my-skills .skills button
{
    margin-left:40px;
    margin-top:20px
}
.my-skills .skills,.my-skills .progress
{
    float:left;
    width:50%
}
.my-skills .progress .technique
{
    margin-left:50px;
}
.my-skills .progress .technique h3
{
    color:#555
}
.my-skills .progress .technique div
{
    background:#F2F2F2;
    height:25px
}
.my-skills .progress .technique span
{
    background:#2DCC70;
    width:80%;
    height: 25px;
    display: block;
    line-height: 25px;
    text-align:right;
    color: #fff;
    font-weight: bold
}
/*End My Skills*/

/*Start Rusume*/
.resume
{
    background-color:#F2F2F2;
    padding-top:50px;
    padding-bottom:70px;
    text-align: center;
}
.resume h2
{
    text-transform: uppercase;
    font-weight:bold;
    color:#666
}
.resume p
{
    line-height:1.6;
    color:#666;
    padding:0 30px 
}
.resume button
{
    margin-top:15px;
    
}
/*End Rusume*/

/*Start My Education*/
.my-education
{
    padding:30px 0 30px 0;
    overflow: hidden
}

.my-education .main
{
    float:left;
    width:45%;
    margin-right:5%
}
.my-education .main h2
{
    margin:40px 0 20px 40px;
    color:#555
}
.my-education .main > p
{
    margin:0 0 10px 40px;
    line-height:1.7;
    color:#666
}
.my-education .main > p:last-of-type
{
    margin-top:30px;
}
.my-education .exp
{
    float:left;
    width:50%;    
}
.my-education .exp h3
{
    margin-top:80px;
    margin-bottom: 10px
    color:#555;
    font-weight:bold;
    text-transform: uppercase;
    font-size:20px
}
.my-education .exp span
{
    margin-bottom:10px;
    display: block
}
.my-education .exp span:first-of-type{
    color:#999
}
.my-education .exp span:last-of-type{
    background-color:#20CC70;
    color:#fff;
    display:inline-block;
    padding:4px 10px
}
.my-education .exp hr
{
    margin:20px 0;
    background-color:#777;
    height:1px;
    border:0;
}
.my-education .exp p
{
    line-height:1.7;
    color:#777
}
/*End My Education*/

/*Start Testimonials*/
.testimonials
{
    background-color:#F2F2F2;
    padding-top:60px;
    padding-bottom:70px;
    text-align: center;
}
.testimonials q
{
    line-height:1.7;
    color:#888;
    font-size:18px;
    font-style: italic;
    font-weight: bold
}
.testimonials h3
{
    color:#666;
    margin-bottom: 30px
}
.testimonials ul
{
    list-style: none;padding-left:0;text-align: center
}
.testimonials ul li
{
    width:15px;
    height:15px;
    border:2px solid #20CC70;
    display: inline-block;
    cursor:pointer
}
.testimonials ul li.active,.testimonials ul li:hover
{
    background-color:#20CC70
}

/*End Testimonials*/

/*Start Portfolio*/
.portfolio
{
    padding-top:50px;
    padding-bottom:70px;
    text-align: center
}
.portfolio .our-work
{
    overflow: hidden
}
.portfolio .our-work > div
{
    float: left;
    width: 33.333333%;
    margin-bottom: 10px
}
.portfolio .our-work > div img
{
    width:92%;
    margin: 10px
}
.portfolio h2
{
    color:#666;
    font-size:30px;
    padding-bottom:20px
}
.portfolio p
{
    line-height:1.7;
    color:#777;
    padding-bottom:50px
}
/*End Portfolio*/

/*STart Contact Me*/
.contact
{
    background-color: #252F31;
    overflow: hidden
}
.contact h2{color:#fff;padding:50px 0 30px;margin-left:20px}
.contact .info,.contact .form
{
    width:50%;float: left
}
.contact p
{
    color:#6A6E71;
    padding-bottom:27px;
    margin-left:20px
}
.contact pre:first-of-type
{
    color:#6A6E71;
    padding-bottom:30px;
    padding-top:46px;
    margin-left:20px
}
.contact pre:last-of-type
{
    color:#6A6E71;
    margin-left:20px
    
}
.contact pre span
{
    color:#fff
}
.contact .form .name
{
    color:#c1c1c1;
    padding-top:90px;
    
}
.contact .form .email
{
    color:#c1c1c1;
    padding-top:30px;
    
}
.contact .form .message
{
    color:#c1c1c1;
    padding-top:30px;
}
.contact input
{
    height:60px;
    width:450px;
    background-color:#4B5557;
    border:none;
    color:#fff;
    font-size:30px
}
.contact .contact-me
{
    margin:40px 0 100px;
    width:170px;
    height:50px;
    color:#fff;
    text-transform: uppercase;
    font-weight:bold;
    background-color:#191E22;
    font-size:15px    
}
textarea
{
    background-color:#4B5557;
    border:none;
    width:450px;
    color:#fff;
    font-size:25px
}
/*End Contact Me*/

/*Start Footer*/
.footer
{
    background-color:#191E22;
    color:#6A6E71;
    padding: 20px;
    text-align: center;
    height:80px
}
.footer span
{
    float:left;
}
.footer ul
{
    list-style: none;
    padding-left:0;
    float:right;
    margin:0
}
.footer ul li
{
    display:inline-block
}
.footer ul li i:hover
{
    color:#fff
}
/*End Footer*/

/*Start FrameWork*/

.my-button
{
    background:none;
    color:#20CC70;
    border:3px solid #20CC70;
    padding: 10px 30px;
}

/*End FrameWork*/

