@font-face {
  font-family: "bt";
  src: url(../fonts/Cairo-Light.ttf) format("truetype")
}

@font-face {
  font-family: "bt-reg";
  src: url(../fonts/Cairo-Regular.ttf) format("truetype")
}

body {
  font-size: 15px !important;
  font-family: bt !important;
  color: #555555;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 21px;
  transition: all .5s ease-in-out;
  background-color: #fff !important;
}

.lightblue {
  color: #6ec7ff !important
}

.silver-text {
  color: #909090
}

.container {
  width: 94% !important
}

.top10 {
  position: relative;
  top: 10px
}

.top-10 {
  position: relative;
  top: -10px
}

.top5 {
  position: relative;
  top: 5px
}

.top-5 {
  position: relative;
  top: -5px
}

/*======================*/

/*======================*/

.up-nav {
  background-color: #111111;
  padding: 5px;
}

.up-nav i {
  margin-left: 10px
}

.up-nav center i {
  border-radius: 20px;
  margin: 0px !important;
}

.up-nav i.fa-facebook {
  background-color: #3b579d !important;
  border: none;
  padding: 10px 14px;
  transition: all .2s
}

.up-nav i.fa-facebook:hover {
  transform: scale(1.2, 1.2);
  color: #6ec7ff !important;
  background-color: #fff !important
}

.up-nav i.fa-twitter {
  background-color: #0fabc3 !important;
  border: none;
  padding: 10px 11px;
  transition: all .2s
}

.up-nav i.fa-twitter:hover {
  transform: scale(1.2, 1.2);
  color: #6ec7ff !important;
  background-color: #fff !important
}

.up-nav i.fa-google {
  background-color: #d6492f !important;
  border: none;
  padding: 10px 11px;
  transition: all .2s
}

.up-nav i.fa-google:hover {
  transform: scale(1.2, 1.2);
  color: #6ec7ff !important;
  background-color: #fff !important
}

.up-nav i.fa-linkedin {
  background-color: #0177b5 !important;
  border: none;
  padding: 10px 11px;
  transition: all .2s
}

.up-nav i.fa-linkedin:hover {
  transform: scale(1.2, 1.2);
  color: #6ec7ff !important;
  background-color: #fff !important
}

.up-nav i.message {
  background-color: #6ec7ff !important;
  border: none;
  padding: 10px 11px;
  transition: all .2s
}

.up-nav i.message:hover {
  transform: scale(1.2, 1.2);
  color: #6ec7ff !important;
  background-color: #fff !important
}

/*===========================*/

/*===========================*/

/*===========================*/

.nav {
  position: absolute;
  width: 100%;
  z-index: 9;
  background-color:#fff;
  padding: 15px;
}

.nav .navbar-items li {
  float: right;
  padding: 15px;
}

.nav .navbar-items li a {
  color: #2f2f2f;
  font-size: 16px;
  font-family: bt-reg;
  transition: all .5s
}

.nav .navbar-items li a:hover {
  box-shadow: 0px 0px 100px silver;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

.nav .navbar-items li a.active {
  /*color: #6ec7ff;*/
  border-bottom: 2px solid #6ec7ff
}

/*=======================================*/

/*=======================================*/

/*=======================================*/

.box {
  cursor: pointer;
  height: 396px;
  position: relative;
  overflow: hidden;
}

.box img {
  position: absolute;
  left: 0;
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  -ms-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  width: 100%;
  box-shadow: -8px -1px 32px -3px #000;
}

.box .overbox {
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 100;
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  -ms-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  opacity: 0;
  width: 100%;
  height: 400px;
  padding: 99px 20px;
  text-align: center;
  font-size: 18px !important;
}

.box:hover .overbox {
  opacity: 1;
}

.box .overtext {
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  -ms-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
  font-size: 19px !important;
}

.box .title {
  font-size: 18px;
  text-transform: uppercase;
  opacity: 0;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  margin-top: 37px;
}

.box:hover .title,
.box:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.box .tagline {
  font-size: 22px;
  opacity: 0;
  font-family: bt-reg;
  color: #6ec7ff !important;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
  padding-top: 10px
}

.box:hover .tagline,
.box:focus .tagline {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}

/*===========================*/

/*===========================*/

/*===========================*/
.products {
  margin-top: -160px !important;
  position: relative;
  z-index: 9
}

.product-categ-main span {
  background-color: #6ec7ff;
  padding: 3px 10px;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  position: relative;
  top: 10px
}

.news .title p {
  font-size: 29px;
  color: #6ec7ff;
  border-bottom: 2px solid silver;
  font-family: bt-reg;
  padding-bottom: 30px
}

.news .title span {
  font-size: 16px;
  color: silver;
  font-family: bt-reg;
  position: relative;
  top: -42px;
  background-color: #fff;
  padding: 0px 10px;
}

.news .title-news {
  font-size: 19px;
  color: #5b5b5b;
  font-family: bt-reg
}

.discription-news {
  margin-top: 10px;
  line-height: 27px;
  color: #949191;
}

.new-one {
  border: 1px solid #d7d7d7;
  padding: 0px 17px !important;
  height: 237px;
  overflow: hidden;
  margin-right: -20px;
  transition: all .5s ease-out .2s
}

.date-new {
  background-color: #6ec7ff;
  border-radius: 36px;
  color: #fff;
  font-size: 15px;
  margin-right: 20px;
  margin-top: -210px;
  padding: 10px 22px;
  position: absolute;
  z-index: 9;
  transition: all .5s ease-out .2s;
  opacity: 0;
}

.news-hover:hover .date-new {
  opacity: 1;
  transform: translate(-20px, 0px);
}

.news-hover:hover .new-one {
  margin-right: 0px
}

.images {
  background-color: #6ec7ff;
  padding: 30px;
}

.images .title p {
  font-size: 29px;
  color: #fff;
  border-bottom: 2px solid #fff;
  font-family: bt-reg;
  padding-bottom: 30px
}

.images .title span {
  font-size: 16px;
  color: #fff;
  font-family: bt-reg;
  position: relative;
  top: -42px;
  background-color: #6ec7ff;
  padding: 0px 10px;
}

footer {
  background-color: #212121;
  padding: 20px;
}

footer .title-footer {
  color: #6ec7ff;
  font-size: 20px;
  margin-bottom: 20px
}

footer .title-footer span {
  border-bottom: 2px solid #fff
}

.shopping {
  position: relative !important;
  right: -80px !important
}

.shopping-card i {
  border: 2px solid #2f2f2f;
  border-radius: 70px;
  color: #2f2f2f;
  margin-top: -6px;
  padding: 15px;
}

.shopping-card span {
  position: relative;
  right: 1px;
  top: -17px;
  color: #2f2f2f
}

.khaled {
  position: absolute;
  width: 205.9px !important;
  top: 62px;
  background-color: rgba(255, 255, 255, .5);
  padding: 14px;
  border-radius: 1px;
  right: -117px;
  z-index: 999 !important;
  float: right;
  direction: rtl
}

.khaled2 {
  background-color: rgba(255, 255, 255, .6);
  border-radius: 1px;
  padding: 13px 19px 0 19px;
  position: absolute;
  right: -113px;
  top: 62px;
  width: 305px !important;
  z-index: 999 !important;
  direction: rtl!important;
}

.search i {
  border: 2px solid #2f2f2f;
  border-radius: 70px;
  color: #2f2f2f;
  margin-top: -6px;
  padding: 15px;
  position: relative;
  right: 30px
}

#namanyay-search-btn {
  background: #6ec7ff;
  color: white;
  padding: 7px 20px;
  border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  -o-border-radius: 10px 0px 0px 10px;
  border: 0 none;
}

#namanyay-search-box {
  background: #eee;
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
  border: 0 none;
  width: 160px;
  height: 23px !important
}

@media only screen and (max-width:1100px) {
  .nivo-caption {
    width: 100% !important;
    left: 0px !important;
    top: 50% !important;
    border-radius: 0px !important
  }

  .shopping {
    float: left !important;
    direction: ltr !important;
    left: -40px !important
  }

  .khaled2 {
    right: 0px !important;
    top: 90px
  }

  .khaled {
    position: relative !important;
    top: 0px !important;
    left: 0px !important
  }

  .shopping-card {
    left: -11px !important;
    position: relative;
    top: -17.8px !important;
  }

  .search i {
    float: right !important;
    top: 27px
  }

  .search {
    position: relative !important;
  }

}

@media only screen and (max-width:520px) {
  .nivo-caption {
    width: 100% !important;
    left: 0px !important;
    top: 50% !important;
    border-radius: 0px !important
  }

  .search i {
    float: right !important;
    margin-top: -20px !important;
  }

  .shopping {
    float: left !important;
    direction: ltr !important;
    left: 0px !important
  }

  .khaled2 {
    right: 0px !important;
    top: 71px !important;
  }

  .khaled {
    position: relative !important;
    top: 0px !important;
    left: 0px !important
  }

  .shopping-card {
    left: -11px !important;
    position: relative;
    top: -17.8px !important;
  }

  .search {
    position: relative !important;
  }

}

/*============================*/
.products-page {
  background-color: #fff;
  padding: 40px 20px;
  margin-top: -40px !important;
}

.categ-prod span {
  background-color: #6ec7ff;
  border-radius: 7px;
  color: #fff;
  font-size: 14px;
  padding: 2px 15px;
}

.products .overlay {
  margin-top: -133px;
  width: 328px
}

.price-pro {
  font-size: 18px !important;
  font-family: bt-reg
}

.price-pro .right {

  /*font-size: 17px !important;*/
  color: #191c21 !important
}

.title-pro {
  font-size: 19px;
  font-family: bt-reg;
  color: #191c21;
}

.category-title {
  margin: 0px;
  background-color: #202120;
  color: #fff;
  padding: 19px 10px;
}

.category-dropdown {
  margin: 10px 0px;
}

.category-dropdown li a {
  color: grey;
  font-size: 13px;
  transition: all .5s
}

.category-dropdown li:hover a {
  color: #633b7b;
  padding-right: 10px
}

.category-dropdown li {
  padding: 10px;
}

.category {
  padding: 20px !important;
}

.product-hover {
  line-height: 35px
}

.products-page .title p {
  font-size: 23px;
  color: #6ec7ff;
  border-bottom: 1px solid silver;
  font-family: bt-reg;
  padding-bottom: 20px
}

.products-page .title span {
  font-size: 16px;
  color: silver;
  font-family: bt-reg;
  position: relative;
  top: -42px;
  background-color: #fff;
  padding: 0px 10px;
}

.pagination a {
  color: #6ec7ff !important;
}

.pagination li.active {
  background-color: #6ec7ff !important;
  color: #fff !important
}

.pagination li.active a {
  color: #fff !important
}

/*================================*/
.title-new {
  margin: 0px;
  font-size: 20px;
  color: #191c21;
  font-family: bt-reg
}

.disc-new {
  font-size: 16px;
  margin-top: -10px;
  color: #555555
}

.time-new {
  font-size: 18px;
  margin-top: 7px;
  margin-bottom: 17px;
}

.time-new i {
  margin-left: 10px
}

/*==========================*/
.albums-title {
  color: #6ec7ff;
  font-size: 17px;
  font-family: bt-reg
}

.albums-disc {
  color: #555555;
  font-size: 15px;
  line-height: 30px
}

.albums .title p {
  font-size: 23px;
  color: #6ec7ff;
  border-bottom: 1px solid silver;
  font-family: bt-reg;
  padding-bottom: 20px
}

.albums .title span {
  font-size: 16px;
  color: silver;
  font-family: bt-reg;
  position: relative;
  top: -42px;
  background-color: #fff;
  padding: 0px 10px;
}

.bell {
  transform: rotate(45deg);
}

.calendar-dis {
  margin-top: -2px;
  color: #191c21;
  transition: all .5s;
  margin-bottom: 20px
}

.calendar-hover:hover .calendar-dis {
  color: #6ec7ff
}

.contact #feedback-page {
  text-align: center;
}

.contact #form-main {
  width: 100%;
  float: left;
  padding-top: 0px;
  background-color: #6ec7ff;
  padding: 20px
}

.contact #form-div {
  background-color: rgba(72, 72, 72, 0.4);
  width: 450px;
}

.contact .feedback-input {
  color: #3c3c3c;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.contact .feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 3px solid #909090;
  color: #909090;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.contact .focused {
  color: #30aed6;
  border: #30aed6 solid 3px;
}

.contact textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

.contact input:hover,
textarea:hover,
.contact input:focus,
textarea:focus {
  background-color: white;
}

.contact #button-blue {
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #909090;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

.contact .ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.contact .submit:hover .ease {
  width: 100%;
  background-color: white;
}

@media only screen and (max-width:580px) {
  .contact  #form-div {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }

}

.title-contact {
  color: #fff;
  background-color: #6ec7ff;
  text-align: center;
  padding: 20px
}

.discription-contact {
  margin-right: 10px;
  padding: 10px
}

.discription-contact .green-color {
  margin-left: 10px
}

.contact .title center {
  font-size: 26px;
  margin-top: -40px;
  padding: 20px;
  font-family: bt-reg
}

.contact .title center span {
  color: #6ec7ff;
  border-bottom: 2px solid #6ec7ff;
}


.search-results{ line-height: 30px }


.search-result-one .right {
  font-size: 20px !important;
}

.category-search {
  background-color: #6ec7ff;
  border-radius: 3px;
  padding: 7px 13px;
}


.error {
  background-color: #191c21;
  padding: 100px;
  margin-bottom: 6px
}

.error .number1 {
  font-size: 40px;
  background-color: #6ec7ff;
  padding: 0px 22px;
  color: #fff
}

.number-center {
  font-size: 40px;
  color: #de8c43;
  background-color: #fff;
  padding: 0px 20px