#c
	{
		background-image: url(black/c1.jpg);
		background-size: cover;
		background-position: center;
		transition: background-image 1s ease-out;
	}
#c:hover
	{
		background-image: url(black/c2.jpg);
		background-position: center;
	}
#d
	{
		background-image: url(black/d1.jpg);
		background-size: cover;
		background-position: top center;
		transition: background-image 1s ease-out;
	}
#d:hover
	{
		background-image: url(black/d2.jpg);
		background-position: top center;
	}
#g
	{
		background-image: url(black/g1.jpg);
		background-size: cover;
		background-position: center;
		transition: background-image 1s ease-out;
	}
#g:hover
	{
		background-image: url(black/g2.jpg);
		background-position: top center;
	}
#h
	{
		background-image: url(black/h1.jpg);
		background-size: cover;
		background-position: center;
		transition: background-image 1s ease-out;
	}
#h:hover
	{
		background-image: url(black/h2.jpg);
	}
#i
	{
		background-image: url(black/i1.jpg);
		background-size: cover;
		background-position: center;
		transition: background-image 1s ease-out;
	}
#i:hover
	{
		background-image: url(black/i2.jpg);
	}
#j
	{
		background-image: url(black/j1.jpg);
		background-size: cover;
		background-position: center;
		transition: background-image 1s ease-out;
	}
#j:hover
	{
		background-image: url(black/j2.jpg);
	}
#k
	{
		background-image: url(black/k1.jpg);
		background-size: cover;
		background-position: center;
		transition: background-image 1s ease-out;
	}
#k:hover
	{
		background-image: url(black/k2.jpg);
	}