@media only screen and (max-width: 959px) and (min-width: 768px) {
.container {
	width: 768px;
}
/*----------الصفحة-الرئيسية----------*/
.logo {
    margin-right: 18%;
}
.categories ul li {
    display: -webkit-inline-box;
    margin-bottom: 20px;
}
.categories {
    height: auto;
    margin-bottom: 15px;
}
/*--------الصفحة-المنفردة----------*/
.share-this {
    margin: 0px 50px 15px;
    width: 60%;
}
/*-----التعليقات-----*/
.comment-form-comment textarea {
    width: 432px;
    height: 190px;
}
	
p.comment-form-author, p.comment-form-email, p.comment-form-url {
    display: inherit;
    margin-right: 20px;
    margin-top: 30px;
}
.comment-form-author input, .comment-form-email input, .comment-form-url input {
    width: 439px;
}
input#submit {
    margin-right: 24px;
}
}


@media only screen and (max-width: 767px) and (min-width: 414px) {
.container {
	width: 410px;
}

/*----------الصفحة-الرئيسية----------*/
.mini-social {
    display: none;
}
.logo {
    margin-right: 0;
    width: 126px;
}
.bar-icon {
    padding-right: 76px;
}
.menu-links {
	top: 67px;
}
.logo-real p {
    font-size: 17px;
}
.search-bar form input {
    width: 380px;
}
.search-bar form input:focus{
	width: 380px;
}
.tagcloud {
    width: 100%;
}
.categories ul li {
    display: -webkit-inline-box;
    margin-bottom: 20px;
}
.cat {
    margin: 0 14px;
}
.categories {
    height: auto;
    margin-bottom: 15px;
}
.poster {
    margin-right: 22px;
}
.widget {
    width: 100%;
}
.copywright {
    display: inline-flex;
    margin-top: 50px;
    margin-bottom: 15px;
}
.all-rights {
    width: 100%;
}
.made-by {
    width: 100%;
}
/*----------الصفحة-المنفردة----------*/
.right-side {
    width: 100%;
}
.comment-form-comment textarea {
    width: 320px;
    height: 170px;
    margin-right: 11px;
}
p.comment-form-author, p.comment-form-email, p.comment-form-url {
    display: inherit;
    margin-right: 33px;
    margin-top: 27px;
}
.comment-form-author input, .comment-form-email input, .comment-form-url input {
    width: 327px;
}
input#submit {
    margin-right: 151px;
}
.left-side {
    width: 100%;
}
.share-this {
    margin: 0px 123px 15px;
}
}

@media only screen and (max-width:414px) {
.container {
	width: 410px;
}
body {
    width: 538px;
}
/*----------الصفحة-الرئيسية----------*/
.mini-social {
    display: none;
}
.logo {
    margin-right: 0;
    width: 126px;
}
.bar-icon {
    padding-right: 76px;
}
.logo-real p {
    font-size: 17px;
}
.search-bar form input {
    width: 438px;
}
.search-bar form input:focus{
	width: 438px;
}
.categories ul li {
    display: -webkit-inline-box;
    margin-bottom: 20px;
}
.cat {
    margin: 0 14px;
}
.categories {
    height: auto;
    margin-bottom: 15px;
}
.poster {
    margin-right: 22px;
}
.widget {
    width: 100%;
}
.copywright {
    display: inline-flex;
    margin-top: 50px;
    margin-bottom: 15px;
}
.all-rights {
    width: 100%;
}
.made-by {
    width: 100%;
}
/*----------الصفحة-المنفردة----------*/
.right-side {
    width: 100%;
}
.comment-form-comment textarea {
    width: 320px;
    height: 170px;
    margin-right: 11px;
}
p.comment-form-author, p.comment-form-email, p.comment-form-url {
    display: inherit;
    margin-right: 33px;
    margin-top: 27px;
}
.comment-form-author input, .comment-form-email input, .comment-form-url input {
    width: 327px;
}
input#submit {
    margin-right: 151px;
}
.left-side {
    width: 100%;
}
.share-this {
    margin: 0px 123px 15px;
}

}