bookstore {display: block; margin-top:20px; margin-left:20px; color:black;}
author {display:block;color:black;font-size:12pt;}
year {display:block;color:black;font-size:12pt;}
title {display:block;color:blue;font-size:14pt;}
length {display:block;color:black;font-size:12pt;}
price {display:block;color:red;font-size:12pt;}
