/*Start default theme*/
/*navbar*/
.top-nav .navbar-brand span
{
	color: #FFF;

}

.top-nav .navbar-default .navbar-nav>li:hover,
.top-nav .navbar-default .navbar-nav>.active1
{
	border-top: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
	
}
.navbar-default .navbar-toggle:hover .icon-bar
{
	background-color: #FFF;
}
/*********************End section of navbar***************/

/********************Start Section of slider*************/
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev
{
	color: #FFF;
}
.main-slide .second h1 span
{
	color: #FFF;
}
/********************End Section of slider*************/
/********************Start Section of profile*************/
.profile h1
{
	color: #FFF;
}
.profile .project .over,
.profile .project .over2 i,
.profile .project .over3 i
{
	color: #FFF;
}
.profile .color
{
		border-bottom: 1px solid #FFF;
}

/********************End Section of profile*************/
/*testomonial*/
.slider1 .client span
{
	color: #FFF;
}
/*team*/
.card .worker span
{
	color: #000;
	font-weight: bold;
}

/*box color*/
.box-color i
{
	color: #FFF
}

/*jumber*/
.jumper i 
{
	color: #FFF
}
/*End default theme