.version.index /* version checker */
{
	color: #00000D;
	background-color: #BC6799;
}

.html
{
	background-color: #FAFAFA;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1200px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -38px;
	width: 0.01px;
}

#pu75
{
	width: 0.01px;
}

#u75
{
	z-index: 3;
	width: 960px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u84-4
{
	z-index: 33;
	width: 119px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 73px;
	left: 45px;
}

#u84-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 73px -10000px 0px 0px;
}

#u419
{
	z-index: 31;
	width: 205px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 720px;
}

#u418-4
{
	z-index: 37;
	width: 119px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 74px;
	left: 138px;
}

#u418-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 74px -10000px 0px 0px;
}

#u76
{
	z-index: 2;
	width: 960px;
	height: 38px;
}

#slideshowu331
{
	z-index: 42;
	width: 0.01px;
	height: 366px;
	margin-left: 1px;
	margin-top: 1px;
	position: relative;
}

#u348
{
	position: absolute;
	width: 800px;
	height: 366px;
	background-color: transparent;
}

#u348popup
{
	z-index: 43;
}

#u351
{
	z-index: 44;
	width: 800px;
	height: 366px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u387
{
	z-index: 46;
	width: 800px;
	height: 366px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u401
{
	z-index: 48;
	width: 800px;
	height: 366px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#menuu203
{
	z-index: 4;
	width: 124px;
	margin-left: 805px;
	top: -359px;
	margin-bottom: -122px;
}

#u274
{
	width: 124px;
}

#u277
{
	width: 124px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u277:hover
{
	width: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u277:active
{
	width: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u280-4
{
	width: 124px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
}

#u277:hover #u280-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 124px;
	margin: 0px -10000px 0px 0px;
}

#u277:active #u280-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 124px;
	margin: 0px -10000px 0px 0px;
}

#u284
{
	width: 124px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u277.MuseMenuActive,#u284:hover
{
	width: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u284:active
{
	width: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u285-4
{
	width: 124px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
}

#u277.MuseMenuActive #u280-4,#u284:hover #u285-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 124px;
	margin: 0px -10000px 0px 0px;
}

#u284:active #u285-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 124px;
	margin: 0px -10000px 0px 0px;
}

#u291
{
	width: 124px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u284.MuseMenuActive,#u291:hover
{
	width: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u291:active
{
	width: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u292-4
{
	width: 124px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
}

#u284.MuseMenuActive #u285-4,#u291:hover #u292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 124px;
	margin: 0px -10000px 0px 0px;
}

#u291:active #u292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 124px;
	margin: 0px -10000px 0px 0px;
}

#u281,#u288,#u295
{
	width: 124px;
	margin-top: 2px;
}

#u298
{
	width: 124px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u291.MuseMenuActive,#u298:hover
{
	width: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u298:active
{
	width: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u298.MuseMenuActive
{
	width: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u300-4
{
	width: 124px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
}

#u291.MuseMenuActive #u292-4,#u298:hover #u300-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 124px;
	margin: 0px -10000px 0px 0px;
}

#u298:active #u300-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 124px;
	margin: 0px -10000px 0px 0px;
}

#u298.MuseMenuActive #u300-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 124px;
	margin: 0px -10000px 0px 0px;
}

#u509
{
	z-index: 41;
	width: 960px;
	background-color: #FEF5E2;
	background-color: rgba(254,194,65,0.15);
	padding-bottom: 358px;
	left: -1px;
	position: relative;
	-pie-background: rgba(254,194,65,0.15);
}

#u496
{
	z-index: 51;
	width: 167px;
	height: 154px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
	left: 278px;
	background: transparent url("../images/a2.jpg") no-repeat center center;
	background-size: cover;
}

#u496:hover
{
	width: 167px;
	height: 154px;
	min-height: 0px;
	margin: 95px -10000px 0px 0px;
	background: transparent url("../images/a2-u496-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u425
{
	z-index: 50;
	width: 167px;
	height: 154px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 536px;
	background: transparent url("../images/%d8%b4%d8%b1%d9%83%d8%a9-%d8%a7%d9%84%d9%81%d9%8a%d8%b1%d9%88%d8%b2-%d8%a7%d9%84%d8%ac%d8%af%d9%8a%d8%af.jpg") no-repeat center center;
	background-size: cover;
}

#u425:hover
{
	width: 167px;
	height: 154px;
	min-height: 0px;
	margin: 93px -10000px 0px 0px;
	background: transparent url("../images/%d8%b4%d8%b1%d9%83%d8%a9-%d8%a7%d9%84%d9%81%d9%8a%d8%b1%d9%88%d8%b2-%d8%a7%d9%84%d8%ac%d8%af%d9%8a%d8%af-u425-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u413
{
	z-index: 29;
	width: 960px;
	margin-top: 7px;
}

#u416
{
	z-index: 30;
	width: 478px;
	height: 114px;
	margin-right: -10000px;
	left: -2px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

