#u453-4
{
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
}

#u488
{
	background-color: transparent;
	position: relative;
}

#u487-4
{
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
}

#u453-4:hover p,#u487-4:hover p
{
	color: #FEC241;
	visibility: inherit;
}

#u485,#u486
{
	background-color: #01152F;
	position: relative;
}

#u484,#u454
{
	background-color: #FEC241;
	position: relative;
}

