::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

body {
  font-family: inherit;
}

span {
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
  transition: 0.5s
}

.nav-header {
  background-image: url(../imgs/1.jpg);
  background-size: cover;
  min-height: 525px;
  font-family: "Lato", sans-serif;
  transform: skew(0deg, -9deg);
  transform-origin: top;
  margin-top: -147px;
  padding-top: 130px;
  transition: 0.5s
}

.nav-header .content {
  transform: skew(0deg, 9deg);
}

.nav-header .navbar-default {
  background-color: transparent;
  border-color: transparent;
  padding-top: 20px;
  padding-left: 65px;
  padding-right: 50px;
}

.nav-header .navbar-nav {
  float: right;
  margin: 0;
}

.nav-header .navbar-default .navbar-nav > li {
  transition: 0.5s
}

.nav-header .navbar-default .navbar-nav > li > a {
  color: #fff;
  margin: 5px;
  padding: 9px;
  width: 112px;
  text-align: center;
  border-radius: 22px;
  transition: 0.5s;
  font-size: 12px;
  font-weight: bold;
}

.nav-header .navbar-default .navbar-nav > li > a:hover {
  color: #734d8a;
  background: rgba(255, 255, 255, 0.91);
  margin: 5px;
  padding: 9px;
  width: 112px;
  text-align: center;
  border-radius: 22px;
  font-size: 12px;
  font-weight: bold;
}

.nav-header .navbar-brand > img {
  width: 90px;
  display: inline;
}
.nav-header .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.nav-header .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    margin-top: 15px;
}
.nav-header .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

/*div about 1*/

.nav-header .about img {
  width: 565px;
  position: absolute;
}

.nav-header .about .info {
  color: rgba(255, 255, 255, 0.56);
  position: absolute;
  margin-top: 25px;
  text-align: center;
}

.nav-header .about .info h1 {
  font-size: 52px;
  color: rgba(255, 255, 255, 0.84);
  font-weight: inherit;
}

.nav-header .about .info span {
  color: #fff
}

.nav-header .about .info .btn0 {
  background: none;
  border: 1px solid #FFF;
  padding: 6px;
  width: 113px;
  color: #FFF;
  border-radius: 20px;
  transition: 0.5s
}

.nav-header .about .info button {
  margin-left: 10px
}

.nav-header .about .info .btn0:hover {
  background: #fff;
  color: #6f4887;
}

.nav-header .about .info .btn1 {
  background: #fff;
  border: 1px solid #FFF;
  padding: 6px;
  width: 113px;
  color: #704988;
  border-radius: 20px;
  transition: 0.5s;
}

.nav-header .about .info .btn1:hover {
  background: none;
  color: #fff;
}


/*start icons*/

.icons {
  margin-top: 130px;
  text-align: center;
}

.icons .feed {
  margin-bottom: 30px;
  margin-left: 5px
}

.icons .feed span {
  color: #724390;
  background: #fff;
  padding: 27px;
  font-size: 20px;
  border-radius: 50%;
  transition: 0.5s;
  border: 3px solid #724390;
  box-shadow: 0 0 0 2px #fff, 1px 1px 1px;
}

.icons .feed span:hover {
  color: #fff;
  background: #724390;
  padding: 27px;
  font-size: 20px;
  border-radius: 50%;
  transition: 0.5s;
  border: 3px solid #fff;
  box-shadow: 0 0 0 2px #724390, 1px 1px 1px;
  transform: rotate(360deg);
}

.icons .feed span.active {
  color: #fff;
  background: #724390;
  padding: 27px;
  font-size: 20px;
  border-radius: 50%;
  transition: 0.5s;
  border: 3px solid #fff;
  box-shadow: 0 0 0 2px #724390, 1px 1px 1px;
}


/*start features*/

.features {
  background: #F6F6F6
}

.features .content .down {
  margin-bottom: 30px;
  margin-left: -43px
}

.features .content .left {
  margin-bottom: 30px;
}

.features h2 {
  font-weight: inherit;
  text-align: center;
}

.features hr {
  width: 8%;
  border: 4px solid #724390;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.features hr:hover {
  width: 30%;
}

.features .content span {
  color: #724390;
  background: #fff;
  padding: 24px;
  font-size: 17px;
  border-radius: 50%;
  transition: 0.5s;
  border: 3px solid #724390;
  box-shadow: 0 0 0 2px #fff, 1px 1px 1px;
}

.features .content span:hover {
  color: #fff;
  background: #724390;
  padding: 24px;
  font-size: 17px;
  border-radius: 50%;
  transition: 0.5s;
  border: 3px solid #fff;
  box-shadow: 0 0 0 2px #724390, 1px 1px 1px;
  transform: rotate(360deg);
}

.features .content img {
  width: 366px;
  height: 443px;
  transition: 0.5s
}

.features .content img:hover {
  opacity: 0.4
}

.features p {
  color: rgba(51, 51, 51, 0.58);
  margin-top: -12px;
}

.features h3 {
  font-size: 19px
}

.features .content span.active {
  color: #fff;
  background: #724390;
  padding: 24px;
  font-size: 17px;
  border-radius: 50%;
  transition: 0.5s;
  border: 3px solid #fff;
  box-shadow: 0 0 0 2px #724390, 1px 1px 1px;
}


/*start reviews*/

.reviews {
  background-image: url(../imgs/1.jpg);
  background-size: cover;
  min-height: 500px;
  transform: skew(0deg, -7deg);
  margin-top: 81px;
}

.reviews .content {
  transform: skew(0deg, 7deg)
}

.reviews h2 {
  padding-top: 50px;
  color: #fff;
  font-size: 43px;
  font-weight: normal;
}

.reviews hr {
  width: 5%;
  border: 4px solid #fff;
  border-radius: 12px;
}

.reviews p {
  margin-top: -11px;
  color: rgba(255, 255, 255, 0.52);
}

.reviews .content .span span {
  font-size: 36px;
  color: #ffe637;
}

.reviews span>.glyphicon-star-empty {
  color: #fff
}

.reviews img {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 1px 1px 8px #333;
}

.reviews h5 {
  color: #704a85;
  font-size: 26px;
}

.reviews .say span {
  font-size: 25px;
  color: #704a85;
}

.reviews .say {
  background: #fff;
  font-family: inherit;
  padding-top: 10px;
  padding-bottom: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px #333;
}

.reviews .slider .carousel-control {
  background: none;
  opacity: 1;
  color: #fff
}


/*start screens*/

.screen {
  margin-top: 59px;
  text-align: center;
}

.screen .header h2 {
  font-size: 35px;
}

.screen .header hr {
  width: 8%;
  border: 5px solid #724390;
  border-radius: 10px;
}

.screen .header p {
  color: rgba(51, 51, 51, 0.65);
  margin-top: -10px;
}

.screen .header button {
  border: 1px solid rgba(0, 0, 0, 0.39);
  background: none;
  padding: 5px;
  width: 113px;
  border-radius: 12px;
  transition: 0.5s;
  margin-bottom: 15px;
  color: (51, 51, 51, 0.65)
}

.screen .header .active {
  background: #724390;
  color: #fff;
  border: 1px solid #fff;
}

.screen .header button:hover {
  background: #724390;
  color: #fff;
  border: 1px solid #fff;
}

.screen .form-info {
  margin-top: 35px;
}

.screen .form-info .form {
  background-image: url(../imgs/1.jpg);
  background-size: cover;
  min-height: 415px;
  
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 2px 3px rgba(51, 51, 51, 0.65);
  width: 250px;
  margin:2px auto;
  margin-bottom: 20px;

}

.screen .form-info .form .header {
  display: inline-flex;
  background: rgb(255, 255, 255);
  width: 100%;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.45);
  font-weight: bold;
}

.screen .form-info .form .header .left {
  width: 50%;
  line-height: 3em;
}

.screen .form-info .form .header .right {
  ;
  width: 50%;
  text-align: center;
}

.screen .form-info .form .header span {
  float: left;
  line-height: 3em;
  padding-left: 6px;
}

.screen .form-info .form .pic span {
  padding: 20px;
  background: rgba(255, 255, 255, 0.74);
  border-radius: 50%;
  font-size: 38px;
  color: #69437e;
  margin-top: 26px;
}

.screen .form-info .form .input-info {
  margin-top: 23px;
  margin-bottom: 13px;
}

.screen .form-info .form .input-info input {
  background: none;
  border: 1px solid #fff;
  padding: 6px;
  border-radius: 16px;
  color: #fff;
  margin-bottom: 7px;
  width: 90%;
}

.screen .form-info .form .input-info button {
  width: 90%;
  border: 1px solid #fff;
  background: rgb(255, 255, 255);
  color: #441e5b;
  padding: 5px;
  border-radius: 14px;
}

.screen .form-info .form .input-info button:hover {
  background: none;
  color: #fff
}

.screen .form-info .form .input-info p {
  padding: 10px;
  color: #fff;
  font-size: 12px;
}

.screen .form-info .form .wheather {
  padding-left: 5px;
  padding-right: 13px;
}

.screen .form-info .form .wheather h4 {
  color: #fff;
  font-size: 21px;
}

.screen .form-info .form .wheather p {
  color: rgba(255, 255, 255, 0.53);
}

.screen .form-info .form .wheather img {
  margin-top: -14px;
}

.screen .form-info .form .wheather h1 {
  margin-top: -4px;
  font-size: 43px;
  color: #fff;
}

.screen .form-info .form .wheather h1>span {
  color: rgba(255, 255, 255, 0.53);
}

.screen .form-info .form .wheather .deg1 {
  color: #fff;
  padding: 0px 17px 0px 10px;
}

.screen .form-info .form .wheather .deg {
  margin-bottom: 10px;
}

.screen .form-info .form .wheather .deg img {
  width: 29px;
}

.screen .form-info .form .song-pic img {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  margin-top: 27px;
  border: 5px solid #854bb0;
  box-shadow: 0 0 0 8px #4c1e6a, 1px 1px 1px;
}

.screen .form-info .form .song-pic h4 {
  color: rgba(255, 255, 255, 0.66);
  margin-top: 21px;
}

.screen .form-info .form .song-pic p {
  color: rgba(255, 255, 255, 0.66);
}

.screen .form-info .form .song-pic span {
  color: rgba(255, 255, 255, 0.74);
  padding: 15px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.73);
  font-size: 18px;
  margin-left: 7px;
}

.screen .form-info .form .song-pic .glyphicon-play {
  display: none;
}

.screen .form-info .form .profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #854bb0;
  margin-left: -23px;
}

.screen .form-info .form .profile span {
  color: rgba(255, 255, 255, 0.74);
  padding: 9px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.73);
  font-size: 18px;
  margin-top: 20px
}

.screen .form-info .form .profile h4 {
  color: rgba(255, 255, 255, 0.66);
  margin-top: 21px;
}

.screen .form-info .form .profile p {
  color: rgba(255, 255, 255, 0.66);
}

.screen .form-info .form .profile .contact {
  text-align: -webkit-auto;
}

.screen .form-info .form .profile .contact span {
  padding: 0;
  border: 0;
  font-size: 12px;
  margin-left: 6px;
  margin-right: 5px;
}

.screen .form-info .form .profile .contact p {
  margin-bottom: -8px;
}

.screen .form-info .form .profile .contact img {
  width: 35px;
  height: 35px;
  margin-left: 5px;
  cursor: pointer;
  border: 0;
  margin-top: 30px;
  transition: 0.5s
}

.screen .form-info .form .profile .contact img:hover {
  opacity: 0.4
}


/*start app*/

.app {
  background-image: url(../imgs/1.jpg);
  background-size: cover;
  min-height: 400px;
  transform: skew(0deg, -7deg);
  margin-top: 81px;
}

.app .content {
  transform: skew(0deg, 7deg)
}

.app .content h2 {
  padding-top: 50px;
  color: #fff;
  font-size: 43px;
  font-weight: normal;
}

.app .content hr {
  width: 5%;
  border: 4px solid #fff;
  border-radius: 12px;
}

.app .content p {
  margin-top: -11px;
  color: rgba(255, 255, 255, 0.52);
}

.app .content .cover {
  margin-top: 22px;
}

.app .content .cover img {
  width: 130px;
}


/*start support*/

.support h2 {
  padding-top: 50px;
  color: #333;
  font-size: 43px;
  font-weight: normal;
}

.support hr {
  width: 5%;
  border: 4px solid #724390;
  border-radius: 12px;
}

.support p {
  color: rgba(51, 51, 51, 0.65);
  margin-top: -10px;
}

.support form input {
  display: block;
  border: 0;
  width: 416px;
  padding: 6px;
  border-radius: 10px;
  margin-bottom: 9px;
  color: #fff;
  background: rgba(114, 67, 144, 0.62);
}

.support textarea {
  display: block;
  width: 416px;
  height: 153px;
  border-radius: 10px;
  resize: none;
  background: rgba(114, 67, 144, 0.62);
  border: 0;
  color: #fff
}

.support button {
  display: block;
  margin-top: 11px;
  padding: 5px;
  width: 130px;
  border-radius: 10px;
  border: 2px solid #724390;
  background: none;
  transition: 0.5s;
  color: #724390
}

.support button:hover {
  background: #724390;
  color: #fff
}

.support .contact span {
  color: #724390;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #724390;
  font-size: 20px;
  margin-left: 7px;
  transition: 0.5s;
}

.support .contact span:hover {
  background: #724390;
  color: #fff
}

.support .contact h3:hover {
  color: #724390
}

.support .contact {
  text-align: -webkit-auto;
}

.support .contact h3 {
  font-size: 17px;
  transition: 0.5s;
  font-weight: bold;
}


/*start fotter*/

.fotter {
  background-image: url(../imgs/24.jpg);
  background-size: cover;
  min-height: 400px;
  margin-top: 81px;
  overflow: hidden;
}

.fotter .logo {
  width: 200px;
  margin-top: 124px;
}

.fotter i {
  color: rgba(255, 255, 255, 0.63);
  padding: 13px;
  font-size: 24px;
  border: 2px solid rgba(255, 255, 255, 0.63);
  border-radius: 50%;
  width: 48px;
  margin-left: 5px;
  font-weight: bold;
  margin-top: 20px
}

.fotter h3 {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.67);
}