/* header ------------------------------------------------------------------------------------------------------------*/
.header{
    background-image: url("../img/v.jpg");
    background-size: cover;
    color: #FFFFFF;
    position: relative;
}
.navbar{
    display: inline;
    overflow: hidden;
}
.navbar .title{
    float: left;
}
.navbar .menu{
    float: right;
    font-size: 30px;
    margin: 30px;
    color: #FFFFFF;
}
.navbar .menu-icon{
    margin: 0 5px;
}
.header .intro{
    padding:150px ;
    font-size: 130%;
}
.header p{
    font-size: 25px;
    line-height: 40px;
}
.header .button button{
    height: 60px;
    width: 200px;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    background-color: transparent;
    margin: 0 20px;
}
.header .button button:hover{
    border: 2px solid #f7600e;
    background-color: #f7600e;
}
.header .down{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
}
.header .down i{
    padding: 5px;
    margin: 20px auto;
    font-size: 30px;
    width: 30px;
    height: 30px;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
}
.header .down i:hover{
    color: #f7600e;
    border: 5px solid #f7600e;
    cursor: pointer;
}
/* screen show -------------------------------------------------------------------------------------------------------*/
.screen{
    overflow: hidden;
    padding: 40px 0;
}
.screen .box{
    float: left;
    width: 30.333333333%;
    margin-right: 4.5%;
}
.screen .box:last-child{
    margin-right: 0;
}
.screen .box i{
    color: #f7600e;
    font-size: 100px;
    padding: 50px;
    border: 3px solid #cccccc;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.screen .box i:hover{
    color: #FFFFFF;
    background-color: #f7600e;
    border: 3px solid #f7600e;
    cursor: pointer;
}
.screen .box p{
    padding: 50px 0;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
}
/* subscribe ---------------------------------------------------------------------------------------------------------*/
.sub{
    background-image: url("../img/apple.jpg");
    background-size: cover;
    height: 400px;
    position: relative;
    color: #FFFFFF;
}
.sub .container{
    padding: 200px 0;

}
.sub input{
    width: 60%;
    height: 50px;
    float: left;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 0 20px;
    color: #535353;
    font-size: 20px;
}
.sub button{
    width: 25%;
    float: right;
    height: 60px;
    background-color: #f7600e;
    border: 1px solid #f7600e;
    border-radius: 10px;
    font-size: 20px;
    font-weight: normal;
}
/* our courses -------------------------------------------------------------------------------------------------------*/
.courses{
    padding: 50px 0;
}
.courses h1{
    text-transform: capitalize;
    font-size: 40px;
    font-weight: bold;
}
.courses p{
    padding: 50px 0;
    font-size: 20px;
}
.courses .row{
    padding: 50px 0;
}
.courses .row .item{
    float: left;
    position: relative;
    width: 30%;
    height: 30%;
    margin-right: 3.5%;

}
.courses .row .item:last-child{
    margin-right: 0;
}
.courses .row .item img{
    width: 100%;
    height: 100%;
    border: 1px solid #cccccc;
    border-radius: 15px;

}
.courses .row .over{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: rgba(245,95,15,.8);
    display: none;

}
.courses .row .item:hover .over{
    display: block;
}
.courses .row .over i,
.courses .row .over span{
    margin: 100px 5px;
    font-size: 50px;
    font-weight: normal;
}
.courses .row .over button{
    font-size: 20px;
    margin:  0;
    width: 200px;
    height: 60px;
    background-color: transparent;
    border: 2px solid #cccccc;
    border-radius: 10px;

}
.courses .row .over button:hover{
    color: #f7600e;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
}
.courses .show-button button{
    margin: 50px 0;
    width: 200px;
    height: 60px;
    background-color: transparent;
    border: 2px solid #cccccc;
    border-radius: 10px;
}
.courses .show-button button:hover{
    color: #f7600e;
    border: 5px solid #f7600e;
}
/*  prove  -----------------------------------------------------------------------------------------------------------*/
.prove{
    background: url("../img/long-code.jpg");
    background-size: cover;
    height: 500px;
    padding: 50px 0;
    position: relative;
    color: #FFFFFF;
}
.prove .client{
    padding: 200px 0;
    font-size: 25px;
}
.prove .client img{
    border-radius: 50%;
}
.prove .client p{
    text-transform: capitalize;
    font-style: italic;
}
.prove .fa-chevron-left{
    position: absolute;
    top: 50%;
    left: 25%;
    font-size: 25px;
    cursor: pointer;
}
.prove .fa-chevron-right{
    position: absolute;
    top: 50%;
    right: 25%;
    font-size: 25px;
    cursor: pointer;
}
.prove .fa-chevron-right:hover,
.prove .fa-chevron-left:hover{
    color: #f7600e;
}
/* our staff ---------------------------------------------------------------------------------------------------------*/

.staff{
    padding: 50px 0;
    height: 600px;
}
.staff h1{
    text-transform: capitalize;
    font-size: 40px;
    font-weight: bold;
}
.staff h2{
    color: #9da1a5;
    transition: all .5s ease-in-out;
}
.staff h1 span{
    margin: 10px;
}
.staff p{
    padding: 50px 0;
    font-size: 20px;
}
.staff .person{
    float: left;
    width: 24%;
}
.staff .person:hover img{
    transition: all .5s ease-in-out;
    -webkit-filter : grayscale(0);
    filter : grayscale(0);
}
.staff .person:hover h2{
    color: #333333;
}
.staff .person:hover .fa-facebook{
    background-color: #3b5998;
    border: 2px solid #3b5998;
}
.staff .person:hover .fa-twitter{
    background-color: #1da1f2;
    border: 2px solid #1da1f2;
}
.staff .person:hover .fa-google-plus{
    background-color: #dd4b39;
    border: 2px solid #dd4b39;
}
.staff .person img{
    filter: grayscale(1);
    -webkit-filter :grayscale(1) ;
}
.staff .social i{
    color:#FFFFFF;
    background-color: #9da1a5;
    font-size: 30px;
    margin: 0 10px;
    border: 2px solid #9da1a5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
}
/* contact us --------------------------------------------------------------------------------------------------------*/
.contact{
    position: relative;
    background: url("../img/nice.jpg");
    background-size: cover;
    height: 900px;
    color: #FFFFFF;
}
.contact h1{
    text-transform: capitalize;
    font-size: 40px;
    font-weight: bold;
}
.contact h1 span{
    margin: 10px;
}
.contact p{
    padding: 50px 0;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 40px;
}
.contact input{
    margin: 20px 0;
    width: 45%;
    height: 50px;
    float: left;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 0 20px;
    color: #535353;
    font-size: 20px;
}
.contact input[type="email"]{
    float: right;
}
.contact textarea
{
    padding: 20px 0;
    margin: 20px 0;
    width: 100%;
    height: 200px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #535353;
    font-size: 20px;
}
.contact button{
    margin: 20px 0;
    width: 25%;
    float: left;
    height: 60px;
    background-color: #f7600e;
    border: 1px solid #f7600e;
    border-radius: 10px;
    font-size: 25px;
    font-weight: normal;
}
.contact i
{
    width: 50px;
    height: 50px;
    float: right;
    font-size: 30px;
    margin: 0 10px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
}
.contact .fa-facebook{
    background-color: #3b5998;
    border: 2px solid #3b5998;
}
.contact .fa-twitter{
    background-color: #1da1f2;
    border: 2px solid #1da1f2;
}
.contact .fa-google-plus{
    background-color: #dd4b39;
    border: 2px solid #dd4b39;
}
.contact .fa-behance{
    background-color: #1769ff;
    border: 2px solid #1769ff;
}


/* footer ------------------------------------------------------------------------------------------------------------*/
footer {
    color: #c0c0c0;
    background-color: #333;
    height: 80px;
    font-size: 20px;
    line-height: 80px;
}
footer .copy{
    float: left;
    width: 50%;
}
footer .own{
    text-align: right;
    float: right;
    width: 50%;
}







