/* fonts */
@font-face{
    font-family: R;
    src:url('../fonts/Raleway-Regular.ttf');
}
*{
    font-family: R;
}
/*// fonts */
/* Framework */
a:hover,
a:active{
    text-decoration: none;
}
li{
    list-style: none;
}
ul{
    padding: 0px;
    margin: 0px;
}
/*// Framework */
/*==================
    Index About Us 1 Page
====================*/
/* Navbar */
nav.navbar{
    height: 80px;
    margin: 0px;
    background: #fff;
    border-bottom: 0px;
    box-shadow: 0px 0px 5px #333;
    -webkit-box-shadow: 0px 0px 5px #333;
    -moz-box-shadow: 0px 0px 5px #333;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
.navbar-default .navbar-collapse{
    position: relative;
}
nav.navbar a.navbar-brand{
    padding: 20px 0px;
    margin: 0px;
}
.navbar-right~.navbar-right{
    height: 40px;
    padding: 24px 0px;
    margin-right: 20px;
}
.navbar-right~.navbar-right li{
    position: relative;
    padding: 0px;
}
.navbar-right~.navbar-right li a.mainlinks{
    font-size: 13px;
    text-transform: uppercase;
    padding: 5px 10px;
    color: #2a3044;
    font-weight: bolder;
    letter-spacing: 1px;
}
.navbar-right~.navbar-right li.active a.mainlinks{
    background: none;
    color: #f8c34f;
}
.navbar-right~.navbar-right li.active:hover a.mainlinks{
    background: none;
    color: #f8c34f;
}
.navbar-right~.navbar-right li.active a.mainlinks:after{
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    background: #f8c34f;
}
.navbar-right~.navbar-right li a.mainlinks:after{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    background: #f8c34f;
}
.navbar-right~.navbar-right li:hover a.mainlinks:after{
    width: 10px;
    height: 2px;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
}
.navbar-right~.navbar-right li:hover a.mainlinks{
    color: #f8c34f;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
}
.navbar-right~.navbar-right li ul.sublinks{
    position: absolute;
    width: 100px;
    background: #fff;
    top: 20px;
    padding-top: 30px;
    display: none;
}
.navbar-right~.navbar-right li ul.sublinks li{
    width: 100%;
    text-align: center;
    line-height: 30px;
}
.navbar-right~.navbar-right li ul.sublinks li a{
    color: #2a3044;
    font-weight: bolder;
}
.navbar-right~.navbar-right li ul.sublinks li a:hover{
    color: #f8c34f;
    transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    -ms-transition: all ease-in-out 0.4s;
}
.navbar-right~.navbar-right li:hover ul.sublinks{
    display: block;
}
.navbar-form input[type="text"]{
    position: absolute;
    right:10px;
    top: 21px;
    z-index: 8888888;
    border-radius: 0px;
    width: 70%;
    display: none;
}
.navbar-form button:focus{
    background: none;
    outline: none;
}
.navbar-form button{
    position: absolute;
    right: 10px;
    top: 21px;
    z-index: 9999999999999;
    background: none;
    border: none;
    color: #cdcdcd;
    line-height: 23px;
}
.navbar-form button:hover{
    background: none;
    color: #f8c34f;
}
/*// Navbar */
/*==================
    About Us Page One
====================*/

/* Page Name Section */
section.page{
    margin-top: 80px;
    background: #f7f9f8;
    padding: 20px 0px;
}
section.page div.page-name h3{
    font-weight: bolder;
    text-transform: uppercase;
}
section.page div.page-name h5{
    color: #d0d1d0;
}
section.page div.page-pag{
    text-align: right;
    padding: 30px 0px;
}
section.page div.page-pag a,
section.page div.page-pag i{
    color: #9c9c9c;
    font-weight: bolder;
    text-transform: uppercase;
}
section.page div.page-pag b{
    color: #f8c34f;
    text-transform: uppercase;
    font-weight: bolder;
}
/*// Page Name Section */
/* Welcome To Trendy Section */
section.welcome-trendy{
    text-align: center;
    padding: 70px 0px;
}
section.welcome-trendy h2{
    font-weight: bolder;
    text-transform: uppercase;
}
section.welcome-trendy h2:after{
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background: #f8c34f;
    margin: 10px auto;
}
section.welcome-trendy img{
    margin: 70px auto 20px auto;
}
section.welcome-trendy a{
    background: #2a3044;
    border: none;
    color: #fff;
    margin: 20px 0px 0px 0px;
    padding: 10px 15px;
}
/*// Welcome To Trendy Section */
/* About Us Section */
section.aboutus{
    background: #f7f9f8;
    padding: 70px 0px;
    overflow: hidden;
}
section.aboutus h2{
    margin: 100px 0px 0px 0px;
}
section.aboutus div.aboutus-grid p{
    margin: 20px 0px 30px 0px;
    color: #363636;
}
section.aboutus div.aboutus-grid label{
    display: block;
    margin: 15px 0px;
}
section.aboutus div.aboutus-grid label span{
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #f8c34f;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
section.aboutus div.aboutus-grid label span i{
    display: block;
    width: 14px;
    height: 14px;
    display: block;
    background: #f8c34f;
    border-radius: 50%;
    margin: 2px 0px 0px 2px;
    color: #2a3044;
    font-size: 13px;
}
section.aboutus div.aboutus-grid a{
    background:#2a3044;
    margin: 20px 0px;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 25px;
    border:none;
}
section.aboutus div.aboutus-grid div.browsers{
    position: relative;
}
section.aboutus div.aboutus-grid div.browsers img{
    position: absolute;
    top: 70px;
}
section.aboutus div.aboutus-grid div.browsers img.browser-one{
    right: -250px;
    z-index: 50;
}
section.aboutus div.aboutus-grid div.browsers img.browser-two{
    top: 100px;
}
/*// About Us Section */
/* Awesome Services Section */
section.awesome-services{
    text-align: center;
    padding: 70px 0px;
    background: #323547;
    color: #fff;
}
section.awesome-services h3{
    text-transform: uppercase;
    font-weight: bolder;
}
section.awesome-services h3:after{
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background: #f8c34f;
    margin: 10px auto;
}
section.awesome-services div.awesome-grid{
    margin-top: 70px;
}
section.awesome-services div.awesome-grid i{
    width: 80px;
    line-height: 80px;
    border-radius: 50%;
    background: #fff;
    color: #323547;
    font-size: 30px;
    border: 1px solid #fff;
}
section.awesome-services div.awesome-grid div.awesome:hover i{
    background: none;
    border: 1px solid #f8c34f;
    color: #f8c34f;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
}
section.awesome-services div.awesome-grid div.awesome:hover h4:after{
    width: 50px;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
}
section.awesome-services div.awesome-grid h4{
    color: #f8c34f;
    margin-top: 20px;
    font-weight: bolder;
}
section.awesome-services div.awesome-grid h4:after{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: #f8c34f;
    margin: 10px auto;
}
section.awesome-services div.awesome-grid p{
    width: 98%;
    margin: 0px auto;
}
/*// Awesome Services Section */
/* Our Skills */
section.our-skills{
    padding: 70px 0px;;
}
section.our-skills h3{
    font-size: 22px;
    font-weight: bolder;
    color: #2a3044;
    text-transform: uppercase;
    text-align: center;
}
section.our-skills h3:after{
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #f8c34f;
    margin: 15px auto;
}
section.our-skills div.skills-grid div.progress-info{
    margin: 10px 0px;
    font-size: 15px;
    font-weight: bolder;
    color: #2a3044;
    text-transform: uppercase;
    margin-top: 40px;
}
section.our-skills div.skills-grid div.progress-info b{
    float: right;
}
section.our-skills div.skills-grid .progress {
    height: 25px;
    margin-bottom: 0px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    padding: 5px;
}
section.our-skills div.skills-grid .progress-bar{
    background: #f8c34f;
}
/*// Our Skills */
/* Our Customers say */
section.our-customers{
    background: #f7f9f8;
    padding: 70px 0px;
}
section.our-customers h3{
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    color: #2a3044;
}
section.our-customers h3:after{
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #f8c34f;
    margin: 15px auto;
}
section.our-customers div.our-customers-slider{
    margin-top: 30px;
}
section.our-customers div.our-customers-slider #owl-demo{
    width: 90%;
    margin: 0 auto;
}
section.our-customers div.our-customers-slider #owl-demo .item{
    margin: 30px;
}
section.our-customers div.our-customers-slider #owl-demo .item div.customer-say{
    position: relative;
}
section.our-customers div.our-customers-slider #owl-demo .item div.customer-say p{
    background: #fff;
    border : 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 25px;
    font-size: 12px;
    color: #898989;
}
section.our-customers div.our-customers-slider #owl-demo .item div.customer-say span{
    width: 1px; 
    height: 1px; 
    border-left: 0px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid #fff;
    position: absolute;
    bottom: -10px;
    left: 25px;
}
section.our-customers div.our-customers-slider #owl-demo .item div.customer-info{
    margin-top: 20px;
}
section.our-customers div.our-customers-slider #owl-demo .item div.customer-info div.customer-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
section.our-customers div.our-customers-slider #owl-demo .item div.customer-info div.customer-details h4{
    color: #2a3044;
    font-weight: bolder;
    font-size: 14px;
    padding-top: 4px;
}
section.our-customers div.our-customers-slider #owl-demo .item div.customer-info div.customer-details h5{
    font-size: 12px;
    color: #898989;
}
.owl-theme .owl-controls .owl-page{
    margin-top: 50px;
}
.owl-theme .owl-controls .owl-page.active span{
    background: #f8c34f;
}
.owl-theme .owl-controls .owl-page span{
    background: #2a3044;
    opacity: 1;
}
/*// Our Customers say */
/* Our Brands */
section.our-brands{
    background: #e1e1e1;
}
section.our-brands #owl-dem .item{
    margin: 0px 2px 0px 2px;
}
section.our-brands #owl-dem .item:hover{
    box-shadow: 0px 0px 15px #333;
}
section.our-brands #owl-dem .item img{
    display: block;
    width: 100%;
    height: auto;
}
/*// Our Brands */
/* Footer */
footer div.footer-top{
    background: #2a3044;
    padding: 70px 0px;
}
footer div.footer-top div.about h3{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
}
footer div.footer-top div.about p{
    color: #555864;
    margin-top: 20px;
    width: 80%;
}
footer div.footer-top div.about div.contact{
    margin-top: 30px;
}
footer div.footer-top div.about label{
    display: block;
    color: #cccccc;
    margin: 5px 0px;
}
footer div.footer-top div.about label i{
    width: 20px;
    height: 20px;
    text-align: center;
}
footer div.footer-top div.featured-blog h3{
    color: #fff;
}
footer div.footer-top div.featured-blog div.blogs{
    margin-top: 20px;
}
footer div.footer-top div.featured-blog a.footer-blog{
    display: block;
    overflow: hidden;
    margin: 10px 0px;
}
footer div.footer-top div.featured-blog a.footer-blog div.blog-img{
    float: left;
    width: 20%;
}
footer div.footer-top div.featured-blog a.footer-blog div.blog-info{
    float: right;
    width: 79%;
    padding: 0px 20px;
}
footer div.footer-top div.featured-blog a.footer-blog div.blog-info h5{
    margin: 5px 0px;
    color: #fff;
    text-transform: uppercase;
}
footer div.footer-top div.featured-blog a.footer-blog div.blog-info p{
    font-size: 11px;
    color: #87888a;
}
footer div.footer-top div.featured-blog a.footer-blog div.blog-info:hover h5{
    color: #f8c34f;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
}
footer div.footer-top div.getnews h3{
    color: #fff;
    text-transform: uppercase;
}
footer div.footer-top div.getnews p{
    color: #767983;
    margin-top: 30px;
    width: 80%;
}
footer div.footer-top div.getnews form{
    margin-top: 20px;
}
footer div.footer-top div.getnews label{
    position: relative;
    display: block;
    width: 80%;
}
footer div.footer-top div.getnews label i{
    color: #cccccc;
    position: absolute;
    top: 10px;
    left: 10px;
}
footer div.footer-top div.getnews label input[type="email"]{
    background: #353d56;
    border:none;
    padding: 0px 40px;
}
footer div.footer-top div.getnews button{
    background: #f8c34f;
    border-color: #f8c34f;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 2px;
    color: #fff;
}
footer div.footer-bottom{
    background: #353d56;
}
footer div.footer-bottom div.copy{
    color: #fff;
}
footer div.footer-bottom div.copy ul li{
    float: left;
    margin: 30px 0px;
}
footer div.footer-bottom div.copy ul li{
    border-right: 1px solid #c2c2c2;
    padding: 0px 5px;
    line-height: 15px;
    font-size: 18px;
}
footer div.footer-bottom div.copy ul li:last-of-type{
    border-right: none;
}
footer div.footer-bottom div.copy ul li a{
    color: #f8c34f;
}
footer div.footer-bottom div.socialmedia{
    margin: 30px 0px;
    text-align: right;
}
footer div.footer-bottom div.socialmedia a{
    color: #898989;
    font-weight: bolder;
    margin: 0px 10px;
    font-size: 18px;
}
footer div.footer-bottom div.socialmedia a:hover{
    color: #fff;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
}
/*// Footer */