/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    /* Blog Section */
    section.blogs div.blog-collection div.blog-search button{
        top : 38px;
    }
    section.blogs div.blog-collection div.popular-posts div.p-posts div.p-posts-img{
        width: 35%;
    }
    section.blogs div.blog-collection div.follow-us a{
        height: 111px;
    }
    section.blogs div.blog-collection div.popular-posts div.p-posts div.p-posts-img i{
        width: 100%;
        height: 100%;
    }
    /*// Blog Section */
    /* Footer */
    footer div.footer-top div.featured-blog a.footer-blog div.blog-info p{
        font-size: 10px;
    }
    section.blogs div.blog-collection div.tags div.tags-links a {
        padding: 7px 6px;
        font-size: 12px;
    }
    section.blogs div.blog-collection div.blog-search input{
        height: 40px;
    }
    /* Blog Section */
    /*// Footer */
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    /* Header */
    .navbar-right~.navbar-right li a.mainlinks{
        font-size: 11px;
    }
    .navbar-form input[type="text"]{
        width: 76%;
    }
    /*// Header */
    /* Blog Section */
    section.blogs div.img-blog-inf p,
    section.blogs div.default-blog p,
    section.blogs div.slider-blog-inf p,
    section.blogs div.youtube-blog-inf p{
        font-size: 12px;
    }
    section.blogs div.blog-collection div.popular-posts div.p-posts div.p-posts-img i {
        width: 100%;
        height: 100%;
        line-height: 500%;
    }
    section.blogs div.blog-collection div.popular-posts div.p-posts div.p-posts-info{
        width: 64%;
    }
    section.blogs div.blog-collection div.popular-posts div.p-posts div.p-posts-info span{
        font-size: 10px;
    }
    section.blogs div.blog-collection div.popular-posts div.p-posts div.p-posts-img{
        width: 32%;
    }
    section.blogs div.blog-collection div.popular-posts div.p-posts div.p-posts-info h5{
        font-size: 11px;
    }
    section.blogs div.blog-collection div.follow-us a {
        height: 75px;
    }
    section.blogs div.blog-collection div.follow-us a i{
        width: 30px;
        line-height: 30px;
        font-size: 15px;
        margin: 13px auto 0px auto; 
    }
    section.blogs div.blog-collection div.follow-us a span{
        font-size: 12px;
    }
    /*// Blog Section */
    /* Footer */
    footer div.footer-top div.about h3,
    footer div.footer-top div.featured-blog h3,
    footer div.footer-top div.getnews h3{
        font-size: 20px;
    }
    footer div.footer-top div.about p{
        font-size: 10px;
    }
    footer div.footer-top div.featured-blog a.footer-blog div.blog-img{
        width: 25%;
    }
    footer div.footer-top div.featured-blog a.footer-blog div.blog-info{
        width: 75%;
    }
    footer div.footer-top div.featured-blog a.footer-blog div.blog-info h5{
        font-size: 10px;
    }
    footer div.footer-top div.featured-blog a.footer-blog div.blog-info p{
        font-size: 6px;
    }
    footer div.footer-top div.getnews p{
        font-size: 10px;
    }
    footer div.footer-top div.getnews button{
        font-size: 15px;
    }
    /*// Footer */
}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    /* Header */
    .navbar-default .navbar-toggle,
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: #f8c34f;
        border-color: #f8c34f;
        border-radius: 0px;
        margin-top: 22px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-collapse{
        height: 300px;
        background: #fff;
        margin-top: 15px !important;
    }
    .navbar-form{
        border: none;
        margin: 0px;
        padding: 0px;
        height: 30px;
    }
    .navbar-form input[type="text"]{
        width: 95%;
    }
    .navbar-right~.navbar-right li ul.sublinks{
        position: static;
        padding-top:0px;
    }
    /*// Header */
    /* Blog Section */
    section.blogs div.blog-grid div.blog-collection{
        margin-top: 50px;
    }
    section.blogs div.blog-collection div.popular-posts div.p-posts div.p-posts-img img{
        min-width: 100%;
    }
    section.blogs div.blog-collection div.popular-posts div.p-posts div.p-posts-img i{
        line-height: 300%;
    }
    section.blogs div.blog-collection div.popular-posts div.p-posts div.p-posts-info span{
        font-size: 12px;
    }
    section.blogs div.blog-collection div.popular-posts div.p-posts div.p-posts-info h5{
        font-size: 15px;
    }
    /*// Blog Section */
    /* Footer */
    footer div.footer-top div.about,
    footer div.footer-top div.featured-blog,
    footer div.footer-top div.getnews{
        margin-bottom: 40px;
    }
    footer div.footer-top div.about p{
        font-size: 15px;
    }
    footer div.footer-top div.featured-blog a.footer-blog div.blog-img{
        width: 20%;
    }
    footer div.footer-top div.featured-blog a.footer-blog div.blog-info{
        width: 80%;
    }
    footer div.footer-top div.featured-blog a.footer-blog div.blog-info p{
        font-size: 10px;
    }
    footer div.footer-top div.featured-blog a.footer-blog div.blog-info h5{
        font-size: 15px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    /* Page Section */
    section.page div.col-xs-6{
        width: 100%;
        text-align: center; 
    }
    /*// Page Section */
    /* Blog Section */
    section.blogs div.img-blog-inf h2,
    section.blogs div.default-blog h2,
    section.blogs div.slider-blog-inf h2,
    section.blogs div.youtube-blog-inf h2{
        font-size: 20px;
    }
    section.blogs div.img-blog-inf ul,
    section.blogs div.default-blog ul,
    section.blogs div.slider-blog-inf ul,
    section.blogs div.youtube-blog-inf ul{
        font-size: 11px;
    }
    section.blogs ul.pagination li{
        font-size: 10px;
    }
    section.blogs ul.pagination li a{
        margin: 0px 1px;
    }
    /*// Blog Section */
}