.main-container {
  padding: 10px 15px;
}
.carousel-indicators {
  bottom: 0;
}
.carousel {
  background-color: #fff;
  height: 100%
}

.carousel-inner {
  height: 100%
}

.transition-timer-carousel-progress-bar {
  height: 2px;
  background: transparent -webkit-linear-gradient(to right,#3399ff,#84FFBA,#FFFD72,#FF5F72) repeat scroll 0 0/500% auto;
  background: transparent -moz-linear-gradient(to right,#3399ff,#84FFBA,#FFFD72,#FF5F72) repeat scroll 0 0/500% auto;
  background: transparent -o-linear-gradient(to right,#3399ff,#84FFBA,#FFFD72,#FF5F72) repeat scroll 0 0/500% auto;
  background: transparent linear-gradient(to right,#3399ff,#84FFBA,#FFFD72,#FF5F72) repeat scroll 0 0/500% auto;
  width: 0;
  margin: -2px 0 0 0;
  border: none;
  z-index: 50;
  position: relative;
  -webkit-animation: 1s linear 0s normal none infinite running bi-gradient;
     -moz-animation: 1s linear 0s normal none infinite running bi-gradient;
       -o-animation: 1s linear 0s normal none infinite running bi-gradient;
          animation: 1s linear 0s normal none infinite running bi-gradient;
}

.slider-classic .transition-timer-carousel-progress-bar {
  margin: -3px 0 0 0;
}

@-moz-keyframes bi-gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@-webkit-keyframes bi-gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes bi-gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.carousel .item {
  -webkit-transition: opacity 3s;
     -moz-transition: opacity 3s;
      -ms-transition: opacity 3s;
       -o-transition: opacity 3s;
          transition: opacity 3s;
}
.carousel .active.left {
  left:0;
  opacity:0;
  z-index:2;
}
.carousel .next {
  left:0;
  opacity:1;
  z-index:1;
}

.carousel-control.right,
.carousel-control.left {
	background-image: none;
}
.carousel .item {
	height: 100%;
	width:100%;
}
.carousel .item .bg {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}

.carousel.overlay .item .bg .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #0152A2;
  opacity: 0.7;
}

.carousel .item .bg img{
  width: 100%;
  height: auto;
  min-height: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
     -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
       -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.carousel-caption {
  position: absolute;
  display: table;
  top: 50%;
  text-align: center;
  padding: 0;
  margin: auto;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel .icon-container {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  text-align: center;
  line-height: 75px;
  vertical-align: middle;
  background-color: #09c;
  overflow: hidden;
  display: block;
  margin: auto
}

/* Animation delays */

.carousel h1,
.carousel-caption span {
	-webkit-animation-delay: 1s;
       -moz-animation-delay: 1s;
        -ms-animation-delay: 1s;
         -o-animation-delay: 1s;
	        animation-delay: 1s;
}

.carousel h2,
.carousel-caption p {
	-webkit-animation-delay: 2s;
	   -moz-animation-delay: 2s;
	    -ms-animation-delay: 2s;
	     -o-animation-delay: 2s;
	        animation-delay: 2s;
}

.carousel-caption .btn {
	-webkit-animation-delay: 3s;
	   -moz-animation-delay: 3s;
	    -ms-animation-delay: 3s;
         -o-animation-delay: 3s;
	        animation-delay: 3s;
}

.carousel-caption h1, .carousel-caption h2, .carousel-caption p {
  text-align: center;
}

.carousel-caption h1 {
  font-size: 32px;
  margin-bottom: 20px;
  clear: both !important;
  display: block !important;
}

.carousel-caption span {
  font-size: 32px;
  padding: 0;
}

.carousel-caption h2 {
  font-size: 28px;
  margin-bottom: 30px;
  clear: both !important;
  display: block !important;
}
.carousel-caption p {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 30px;
  clear: both !important;
  display: block !important;
}

.carousel-caption .text-left { text-align: left !important; }
.carousel-caption .text-right { text-align: right !important; }
.carousel-caption .text-center { text-align: center !important; }

.carousel-caption button {
  margin-bottom: 0;
  clear: both !important;
  display: block !important;
  text-align: center;
  margin: auto
}
