* {
  padding: 0;
  margin: 0;
  outline: none !important;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background: #F3F3F3;
  font-family: 'Cairo', sans-serif;
  position: relative;
  overflow: hidden;
}

body.portfolio-single {
  background: #FFFFFF !important;
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #148AFF;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #148AFF;
    text-shadow: none;
}

h1, h2 {
  font-weight: 700;
}
h3, h4 {
  font-weight: 500
}
p {
  font-size: 400;
}

p.led{
  font-size:1.2em;
  margin-bottom:40px
}

p.led:first-letter{
  font-size:4em;
  float:left;
  line-height:50px
}

.no-padding {
  margin-top: 0;
  padding-top: 0;
}

hr {
  border-color: #ddd !important;
}

/*
    transation
*/
.transition-5 {
  -webkit-transition: all ease-in-out 0.5s;
     -moz-transition: all ease-in-out 0.5s;
      -ms-transition: all ease-in-out 0.5s;
       -o-transition: all ease-in-out 0.5s;
          transition: all ease-in-out 0.5s;
}

.easing-200 {
-webkit-transition: all 200ms cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
-webkit-transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
   -moz-transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
     -o-transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
        transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */

-webkit-transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
   -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
     -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
        transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
}

.easing-400 {
  -webkit-transition: all 400ms cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
  -webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
     -moz-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
       -o-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
          transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */

  -webkit-transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
     -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
       -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
          transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
}

.easing-delay-100 {
  -webkit-transition: all 200ms cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
  -webkit-transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
     -moz-transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
       -o-transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
          transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */

  -webkit-transition-delay: 100ms;
     -moz-transition-delay: 100ms;
       -o-transition-delay: 100ms;
          transition-delay: 100ms;

  -webkit-transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
     -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
       -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
          transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
}

.easing-delay-300 {
  -webkit-transition: all 200ms cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
  -webkit-transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
     -moz-transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
       -o-transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
          transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */

  -webkit-transition-delay: 300ms;
     -moz-transition-delay: 300ms;
       -o-transition-delay: 300ms;
          transition-delay: 300ms;

  -webkit-transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
     -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
       -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
          transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
}

.btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.btn-blue {
  background: #3399ff;
  color: #fff;
  font-size: 18px;
  padding: 10px 25px;
}

.intro {
  height: calc(100% - 140px);
  position: relative;
}

.intro-classic {
  height: 450px;
  position: relative;
}

.head{
  margin-bottom: 50px;
  clear: both;
  padding-bottom: 10px;
  position: relative;
}

.head:after {
  position: absolute;
  content: '';
  width: 150px;
  height: 1px;
  background: #555;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 10;
}

.head i.fa {
  position: absolute;
  background: #F6F6F6;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 3px 7px;
  bottom: -10px;
  right: 0;
  left: 0;
  text-align: center;
  margin: auto;
  display: table;
  z-index: 20;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
}

.head h2 {
  color: #3399ff;
  margin-bottom: 10px;
  margin-top: 0;
  text-shadow: -1px -1px 1px #fff;
}
.head p {
  color: #aaa;
  text-shadow: -1px -1px 1px #fff;
}

/* Page load */
#page-load {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #FFF;
  z-index: 1500;
}

.infinite-loader {
	width:148px;
	height:100px;
	position:absolute;
	margin:-50px 0 0 -74px;
	left:50%;
	top:50%
}
.infinite-loader .dot {
	width:148px;
	height:100px;
	top:0;
	left:0;
	position:absolute
}
.infinite-loader .dot:after {
	content:"";
	top:auto;
	position:absolute;
	display:block;
	animation:shadow 1.2s infinite linear;
	-moz-animation:shadow 1.2s infinite linear;
	bottom:0;
	left:0;
	height:.25em;
	width:1em;
	border-radius:50%;
	background-color:#034466;
	opacity:.3
}
.infinite-loader .roller {
	width:70px;
	height:70px;
	position:absolute;
	top:0;
	left:0;
	-webkit-animation:rollercoaster 1.2s infinite linear;
	-webkit-transform:rotate(135deg);
	-moz-animation:rollercoaster 1.2s infinite linear;
	-moz-transform:rotate(135deg);
	animation:rollercoaster 1.2s infinite linear;
	transform:rotate(135deg)
}
.infinite-loader .roller:last-child {
	left:auto;
	right:0;
	-webkit-transform:rotate(-45deg);
	-webkit-animation:rollercoaster2 1.2s infinite linear;
	-moz-transform:rotate(-45deg);
	-moz-animation:rollercoaster2 1.2s infinite linear;
	transform:rotate(-45deg);
	animation:rollercoaster2 1.2s infinite linear
}
.infinite-loader .roller:before,.infinite-loader .roller:last-child:before {
	content:"";
	display:block;
	width:15px;
	height:15px;
	background:#000;
	border-radius:50%
}
@-webkit-keyframes rollercoaster {
	0% {
		-webkit-transform:rotate(135deg)
	}
	8% {
		-webkit-transform:rotate(240deg)
	}
	20% {
		-webkit-transform:rotate(300deg)
	}
	40% {
		-webkit-transform:rotate(380deg)
	}
	45% {
		-webkit-transform:rotate(440deg)
	}
	50% {
		-webkit-transform:rotate(495deg);
		opacity:1
	}
	50.1% {
		-webkit-transform:rotate(495deg);
		opacity:0
	}
	100% {
		-webkit-transform:rotate(495deg);
		opacity:0
	}
}
@-webkit-keyframes rollercoaster2 {
	0% {
		opacity:0
	}
	49.9% {
		opacity:0
	}
	50% {
		opacity:1;
		-webkit-transform:rotate(-45deg)
	}
	58% {
		-webkit-transform:rotate(-160deg)
	}
	70% {
		-webkit-transform:rotate(-240deg)
	}
	80% {
		-webkit-transform:rotate(-300deg)
	}
	90% {
		-webkit-transform:rotate(-340deg)
	}
	100% {
		-webkit-transform:rotate(-405deg)
	}
}
@-webkit-keyframes shadow {
	0% {
		opacity:.3;
		-webkit-transform:translateX(65px) scale(.5, .5)
	}
	8% {
		-webkit-transform:translateX(30px) scale(2, 2)
	}
	13% {
		-webkit-transform:translateX(0) scale(1.3, 1.3)
	}
	30% {
		-webkit-transform:translateX(-15px) scale(.5, .5);
		opacity:.1
	}
	50% {
		-webkit-transform:translateX(60px) scale(1.2, 1.2);
		opacity:.3
	}
	60% {
		-webkit-transform:translateX(130px) scale(2, 2);
		opacity:.05
	}
	65% {
		-webkit-transform:translateX(145px) scale(1.2, 1.2)
	}
	80% {
		-webkit-transform:translateX(120px) scale(.5, .5);
		opacity:.1
	}
	90% {
		-webkit-transform:translateX(80px) scale(.8, .8)
	}
	100% {
		-webkit-transform:translateX(60px);
		opacity:.3
	}
}
@-moz-keyframes rollercoaster {
	0% {
		-moz-transform:rotate(135deg)
	}
	8% {
		-moz-transform:rotate(240deg)
	}
	20% {
		-moz-transform:rotate(300deg)
	}
	40% {
		-moz-transform:rotate(380deg)
	}
	45% {
		-moz-transform:rotate(440deg)
	}
	50% {
		-moz-transform:rotate(495deg);
		opacity:1
	}
	50.1% {
		-moz-transform:rotate(495deg);
		opacity:0
	}
	100% {
		-moz-transform:rotate(495deg);
		opacity:0
	}
}
@-moz-keyframes rollercoaster2 {
	0% {
		opacity:0
	}
	49.9% {
		opacity:0
	}
	50% {
		opacity:1;
		-moz-transform:rotate(-45deg)
	}
	58% {
		-moz-transform:rotate(-160deg)
	}
	70% {
		-moz-transform:rotate(-240deg)
	}
	80% {
		-moz-transform:rotate(-300deg)
	}
	90% {
		-moz-transform:rotate(-340deg)
	}
	100% {
		-moz-transform:rotate(-405deg)
	}
}
@-moz-keyframes shadow {
	0% {
		opacity:.3;
		-moz-transform:translateX(65px) scale(.5, .5)
	}
	8% {
		-moz-transform:translateX(30px) scale(2, 2)
	}
	13% {
		-moz-transform:translateX(0) scale(1.3, 1.3)
	}
	30% {
		-moz-transform:translateX(-15px) scale(.5, .5);
		opacity:.1
	}
	50% {
		-moz-transform:translateX(60px) scale(1.2, 1.2);
		opacity:.3
	}
	60% {
		-moz-transform:translateX(130px) scale(2, 2);
		opacity:.05
	}
	65% {
		-moz-transform:translateX(145px) scale(1.2, 1.2)
	}
	80% {
		-moz-transform:translateX(120px) scale(.5, .5);
		opacity:.1
	}
	90% {
		-moz-transform:translateX(80px) scale(.8, .8)
	}
	100% {
		-moz-transform:translateX(60px);
		opacity:.3
	}
}
@keyframes rollercoaster {
	0% {
		transform:rotate(135deg)
	}
	8% {
		transform:rotate(240deg)
	}
	20% {
		transform:rotate(300deg)
	}
	40% {
		transform:rotate(380deg)
	}
	45% {
		transform:rotate(440deg)
	}
	50% {
		transform:rotate(495deg);
		opacity:1
	}
	50.1% {
		transform:rotate(495deg);
		opacity:0
	}
	100% {
		transform:rotate(495deg);
		opacity:0
	}
}
@keyframes rollercoaster2 {
	0% {
		opacity:0
	}
	49.9% {
		opacity:0
	}
	50% {
		opacity:1;
		transform:rotate(-45deg)
	}
	58% {
		transform:rotate(-160deg)
	}
	70% {
		transform:rotate(-240deg)
	}
	80% {
		transform:rotate(-300deg)
	}
	90% {
		transform:rotate(-340deg)
	}
	100% {
		transform:rotate(-405deg)
	}
}
@keyframes shadow {
	0% {
		opacity:.3;
		transform:translateX(65px) scale(.5, .5)
	}
	8% {
		transform:translateX(30px) scale(2, 2)
	}
	13% {
		transform:translateX(0) scale(1.3, 1.3)
	}
	30% {
		transform:translateX(-15px) scale(.5, .5);
		opacity:.1
	}
	50% {
		transform:translateX(60px) scale(1.2, 1.2);
		opacity:.3
	}
	60% {
		transform:translateX(130px) scale(2, 2);
		opacity:.05
	}
	65% {
		transform:translateX(145px) scale(1.2, 1.2)
	}
	80% {
		transform:translateX(120px) scale(.5, .5);
		opacity:.1
	}
	90% {
		transform:translateX(80px) scale(.8, .8)
	}
	100% {
		transform:translateX(60px);
		opacity:.3
	}
}
#loader2:after {
	-webkit-animation-delay:.15s;
	animation-delay:.15s
}
#loader2 .roller {
	-webkit-animation-delay:.15s;
	animation-delay:.15s
}
#loader3:after {
	-webkit-animation-delay:.3s;
	animation-delay:.3s
}
#loader3 .roller {
	-webkit-animation-delay:.3s;
	animation-delay:.3s
}


/* Template setting */

.theme-settings {
  position: fixed;
  height: 100% !important;
  width: 200px;
  left: -200px;
  top: 0;
  z-index: 1100;
}

.theme-settings button, .theme-settings button:focus {
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  text-align: center;
  right: -30px;
  top: 200px;
  background: #e74c3c;
}

.theme-settings button:hover {
  background: #c0392b;
}

.theme-settings-inner {
  width: 100%;
  height: 100%;
  background-color: #34495e;
  color: #ecf0f1;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.theme-settings-inner .section {
  margin-bottom: 15px;
}

.theme-settings-inner .select2-container--default {
  margin-left: 10px;
  width: 180px !important;
}

.theme-settings-inner .section label {
  padding-left: 10px;
}

.theme-settings-inner .section input, .theme-settings-inner .section select {
  float: left;
  position: relative;
  background: #486684;
  border: none;
  border-radius: 3px;
}
.theme-settings-inner h4 {
  padding: 10px;
  margin-top: 0px;
  position: relative;
}

.theme-settings-inner h4:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 180px;
  left: 10px;
  height: 0;
  border-bottom: 1px dashed #a3a3a3;
  z-index: 10000;
}

.theme-settings-inner #theme_reset {
  position: absolute;
  bottom: 10px;
  width: 180px;
  left: 10px;
}

/*
  Navbar
*/

nav.navbar {
  background: #FFF;
  margin-bottom: 0;
  border: none !important;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  z-index: 999;
}

nav.navbar.sticky {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.navbar-toggle {
    padding: 9px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #3399ff;
    border-radius: 0;
}

.navbar-toggle .icon-bar {
  background: #fff;
}

.sticky .navbar-toggle {
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar-nav > li > a {
  line-height: 100px;
  font-size: 14px;
  padding: 0;
  margin: 0 20px;
  text-transform: uppercase;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .nav li.dropdown > a:hover, .nav li.dropdown > a:focus,
.nav li > a, .nav li > a:focus, .nav li > a:hover, .nav li.active > a:hover, .nav li.active > a:focus {
  background: transparent;
}

.sticky .navbar-nav > li > a, .sticky .navbar > .container-fluid .navbar-brand {
  line-height: 50px;
}

.navbar > .container .navbar-brand {
  line-height: 90px;
  padding: 0;
  margin-left: 0;
  height: auto !important;
}

.sticky > .container .navbar-brand {
  height: 50px;
  padding: 0;
}

.navbar > .container .navbar-brand img {
  height: 70px;
  margin: 15px 0;
  width: auto;
  vertical-align: middle !important;
}

.sticky > .container .navbar-brand img {
  height: 40px;
  margin: 5px 0;
  width: auto;
  vertical-align: middle !important;
}

.navbar-nav > li > a {
  color: #555;
  -webkit-transition: all ease-in-out 0.3s;
     -moz-transition: all ease-in-out 0.3s;
      -ms-transition: all ease-in-out 0.3s;
       -o-transition: all ease-in-out 0.3s;
          transition: all ease-in-out 0.3s;
}

.navbar-nav > li.active > a, .navbar-nav > li:hover > a {
  color: #3399ff;
  position: relative;
}

.nav > li:focus > a, .nav > li:hover > a {
  background: transparent
}
.navbar-collapse {
  padding: 0;
}

.dropdown-menu {
  right: auto !important;
  left: 0 !important;
  margin-top: 0;
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.dropdown-menu.pull-right {
  left: auto !important;
  right: 0 !important;
  border: 0 !important;
  margin-top: 0;
  padding: 0;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.dropdown-menu li {
  border-bottom: 1px solid #efefef;
}

.dropdown-menu li:last-child {
  border-bottom: 3px solid #3399ff;
}

.dropdown-menu li a {
  line-height: 40px;
  padding: 0px 15px;
  color: #333;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background: transparent;
}

.dropdown-menu > li:hover > a, .dropdown-menu > li.active > a, .dropdown-menu > li.active:hover > a, .navbar .navbar-nav .open .dropdown-menu > .active > a:hover {
  background: #FAFAFA;
  color: #3399ff
}

.dropdown-menu li.active a, .dropdown-menu li:hover a {
}

.dropdown-submenu {
  position: relative;
  background: transparent;
}

.dropdown.open .dropdown-menu .dropdown-submenu .dropdown-menu {
  display: none;
}

.dropdown-menu .dropdown {
  position: relative;
}

.dropdown-menu .dropdown-toggle:after {
  content: "\f105";
  font-family: 'FontAwesome';
  position: absolute;
  color: #333;
  right: 10px;
  -webkit-transition: all ease-in-out 0.2s;
     -moz-transition: all ease-in-out 0.2s;
      -ms-transition: all ease-in-out 0.2s;
       -o-transition: all ease-in-out 0.2s;
          transition: all ease-in-out 0.2s;
}
.dropdown-menu .dropdown-toggle:hover:after {
  color: #3399ff;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}

.dropdown-submenu .dropdown-menu {
  display: none;
  position: absolute;
  display: table;
  width: auto;
  top: 0;
  right: auto !important;
  left: 100% !important;
}

.dropdown-submenu .dropdown-menu.pull-right {
  position: absolute;
  top: 0;
  left: auto !important;
  right: 100% !important;
}

.top-menu {
  display: block;
  overflow: hidden;
  width: 100%;
  background: #fff;
  clear: both;
  vertical-align: middle;
  line-height: 40px;
  border-bottom: 1px solid #efefef;
}

.top-menu ul {
  margin-bottom: 0;
  display: block;
}

.top-menu ul li {
  list-style: none;
  float: left;
  border-right: 1px solid #efefef;
}


.top-menu ul li a {
  display: inline-block;
  line-height: 40px;
  padding: 0 15px;
  color: #b7bdc1;
  text-decoration: none;
  font-size: 0.9em;
  -webkit-transition: all ease-in-out 0.2s;
     -moz-transition: all ease-in-out 0.2s;
      -ms-transition: all ease-in-out 0.2s;
       -o-transition: all ease-in-out 0.2s;
          transition: all ease-in-out 0.2s;
}

.top-menu ul li:hover a {
  color: #3399ff;
  background: #FAFAFA;
}

.top-menu a i {
  font-size: 1em;
}

@media screen and (max-width: 767px) {
  .navbar-collapse {
    margin: 0 10px;
    max-height: 80%;
    overflow-y: scroll;
  }

  .navbar-toggle {
      padding: 9px 10px;
      margin-top: 7px;
      margin-bottom: 7px;
      background-color: #3399ff;
      border-radius: 0;
  }

  .navbar > .container .navbar-brand {
    line-height: 90px;
    padding: 0;
    margin-left: 15px;
    height: auto !important;
  }

  .navbar > .container .navbar-brand img {
    height: 40px;
    margin: 5px 0;
    width: auto;
    vertical-align: middle !important;
  }

  .navbar-nav {
    margin:  7.5px 0;
  }

  .navbar-nav > li {
    border-bottom: 1px solid #efefef;
  }

  .navbar-nav > li > a{
    line-height: 40px;
    margin: 0;
  }
  .navbar-collapse {
    padding: 0 15px;
  }
  .top-menu ul.navbar-right {
    display: none;
  }

  .dropdown-menu li:last-child {
    border-bottom: none
  }

  .navbar .navbar-nav .open .dropdown-menu > .active > a, .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    background: transparent;
    color: #3399ff;
  }

  .top-menu ul li a {
    padding: 0 10px;
    font-size: 0.8em;
  }

  .dropdown-menu li.dropdown-submenu .dropdown-menu {
  	position:static !important;
  }
}

/*
    Text rotate
*/
.intro-text-rotate {
  width: 100%;
  height: 100%;
  background: #3399ff url(../images/text-rotate-bg.jpg) center no-repeat;
  position: relative;
}
.intro-text-rotate .content {
  position: absolute;
  display: table;
  top: 50%;
  text-align: center;
  padding: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.intro-text-rotate .content > * {
  text-align: center !important;
}


.intro-text-rotate .content {
  color: #34495e;
}
.intro-text-rotate .content span {
  color: #3399ff;
}

.intro-text-rotate .content h1 {
  font-size: 38px;
  font-weight: 900;
}

.intro-text-rotate .content p {
  font-size: 16px;
}

.intro-text-rotate .content .btn {
  background: #3399ff;
  color: #fff;
  font-size: 18px;
  padding: 10px 25px;
  margin-top: 80px;
}

.intro-image .content {
  position: absolute;
  display: table;
  top: 50%;
  text-align: center;
  padding: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.intro-image.overlay .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* fallback */ 
  background-color: #2cd664; 
  background-image: url(images/linear_bg_1.png); 
  background-repeat: repeat-y; 
  /* Safari 4-5, Chrome 1-9 */ 
  background: -webkit-gradient(linear, left top, right top, from(#2cd664), to(#0082d5)); 
  /* Safari 5.1, Chrome 10+ */ 
  background: -webkit-linear-gradient(left, #2cd664, #0082d5); 
  /* Firefox 3.6+ */ 
  background: -moz-linear-gradient(left, #2cd664, #0082d5); 
  /* IE 10 */ background: -ms-linear-gradient(left, #2cd664, #0082d5); 
  /* Opera 11.10+ */ 
  background: -o-linear-gradient(left, #2cd664, #0082d5);  
  opacity: 0.5;
}

.intro-image .content h1 {
  font-size: 38px;
  font-weight: 900;
  color: #ecf0f1
}

.intro-image .content p {
  font-size: 16px;
  color: #34495e
}

.intro-image .btn {
  margin-top: 50px;
}

/*
    Services section
*/
section {
  padding: 50px 0;
  overflow: hidden;
}

.services .service {
  text-align: center;
  background: #fff;
  padding: 0 10px;
  margin: 0 10px;
  display: block;
  border: 1px solid transparent;
  margin-bottom: 50px;
  -webkit-box-shadow: rgba(1,2,2,0.08) 0px 1px 1.96px 0.04px;
          box-shadow: rgba(1,2,2,0.08) 0px 1px 1.96px 0.04px;
  -webkit-transition: all ease-in-out 0.3s;
     -moz-transition: all ease-in-out 0.3s;
      -ms-transition: all ease-in-out 0.3s;
       -o-transition: all ease-in-out 0.3s;
          transition: all ease-in-out 0.3s;
}


.services .service:hover {
  -webkit-box-shadow: 0px 10px 10px #D4D4D4;
          box-shadow: 0px 10px 10px #D4D4D4;
  border: 1px solid #3399ff;
}

.services .service .service-icon {
  padding: 15px;
  display: inline-block;
  margin-top: 0;
  color: #3399ff;
  background: #fff;
  border: 1px solid #3399ff;
  -webkit-transform: translateY(-30px);
     -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
       -o-transform: translateY(-30px);
          transform: translateY(-30px);
}

.services .service:hover .service-icon {
  -webkit-transform: translateY(-1px);
     -moz-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
       -o-transform: translateY(-1px);
          transform: translateY(-1px);
  background: transparent;
  border: 1px solid #3399ff;
  border-top-color: #fff;
}

.services .service .service-title {
  margin-top: 10px;
}

.services .service .service-info {
  padding-bottom: 15px;
  line-height: 23px;
  font-size: 13px;
  color: #949494;
}

/*
    About section
*/
section.about {
  background-color: #3399ff;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
}
section.about .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: #3399ff;
  opacity: 0.7;
}

section.about .head h2 {
  color: #fff !important;
  text-shadow:  none;
}
section.about .head p {
  color: #E3E3E3;
  text-shadow: none;
}

div.about p {
  line-height: 22px;
  font-size: 13px;
  color: #ebebed;
}

.skills {
  width: 100%;
  position: relative;
  float: left;
  padding: 0;
}
.skills h3 {
  display: block;
}

.skills ul {
  list-style: none;
  padding-top: 25px;
}
.skills ul > li {
  margin-bottom: 40px;
  background: #3399ff;
  height: 8px;
  width: 100%;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.7);
          box-shadow: inset 0px 0px 10px rgba(0,0,0,0.7);
}
.skills ul > li em {
  font-size: 14px;
  position: relative;
  top: -25px;
  font-style: normal;
  color: #f3f3f3
}
.skills ul > li span.progress {
  height: 4px;
  margin: 2px;
  overflow: visible;
  background: -webkit-linear-gradient( 45deg, #3399ff 25%, #1FFF53 50%, #FFF36E 100%);
  background:    -moz-linear-gradient( 45deg, #3399ff 25%, #1FFF53 50%, #FFF36E 100%);
  background:      -o-linear-gradient( 45deg, #3399ff 25%, #1FFF53 50%, #FFF36E 100%);
  position: absolute;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.skills ul > li span.meter {
  position: absolute;
  left: 0;
  bottom: 10px;
  padding: 3px;
  background: #80BFFF;
  color: #333;
  z-index: 900;
  margin-left: -15px;
  font-size: 11px;
  text-shadow: -1px -1px 1px #9ECFFF
}
.skills ul > li span.meter:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-top: 4px dashed #80BFFF;
  border-right: 4px solid transparent;
  right: 0;
  left: 0;
  margin: auto;
  bottom: -4px;
}

/*
    Portfolio section
*/

.portfolio-item {
  background: #fff;
  -webkit-box-shadow: 0px 2px 3px #ddd;
          box-shadow: 0px 2px 3px #ddd;
  margin-bottom: 25px;
}
.portfolio-item:hover {
  -webkit-box-shadow: 0px 10px 10px #ddd;
          box-shadow: 0px 10px 10px #ddd;
  -webkit-transform: translateY(-10px);
     -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
       -o-transform: translateY(-10px);
          transform: translateY(-10px);
}

.portfolio-item .item-image {
  position: relative;
  overflow: hidden;
}
.portfolio-item .item-image .overlay {
  position: absolute;
  display: table;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
     -moz-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
       -o-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.portfolio-item .item-image .overlay a {
  color: #3399ff;
}

.portfolio-item .item-image .overlay i {
  background: #fefefe;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  padding: 8px;
  -webkit-transform: translateY(-200px);
     -moz-transform: translateY(-200px);
      -ms-transform: translateY(-200px);
       -o-transform: translateY(-200px);
          transform: translateY(-200px);
}

.portfolio-item:hover .item-image .overlay i {
  -webkit-transform: translateY(0%);
     -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
       -o-transform: translateY(0%);
          transform: translateY(0%);
}

.portfolio-item .info {
  padding: 10px;
}
.portfolio-item .info a {
  color: #3399ff;
  text-decoration: none
}

div.portfolio-single {
  margin-top: -80px;
}

.portfolio-control {
  position: relative;
  background-color: #fff;
  height: 80px;
  border-bottom: 1px solid #ddd;
  display: block;
  overflow: hidden;
  padding: 0 10px;
  vertical-align: middle;
}

.portfolio-control h3 {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  line-height: 80px;
}

.portfolio-control a {
  text-decoration: none;
  color: #b7bdc1;
}

.portfolio-control a:hover {
  color: #3399ff;
}

.portfolio-control h3 i {
  padding: 0 10px;
}

.portfolio-work-details {
  padding: 30px 0;
  overflow: hidden;
}

.portfolio-work-details.img-head {
  padding: 0 0 30px;
}

.portfolio-work-details h2 {
  color: #34495e;
}

.portfolio-work-details p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.portfolio-work-details img {
  margin-bottom: 30px;
}

.sidebar {
  margin: 0;
  background: #f9f9f9;
}

.sidebar.sticky {
  position: fixed;
  top: 80px;
}

.sidebar-widget {
  margin-bottom: 30px;
}
.sidebar-widget:last-child {
  margin-bottom: 0;
}

.sidebar-widget .widget-head {
  background: #3399ff;
  display: block;
  overflow: hidden;
  padding: 10px;
}

.sidebar-widget .widget-head h3 {
  margin: 0;
  color: #fff;
}

.sidebar-widget .widget-content {
  padding: 10px;
}

.sidebar-widget ul {
  list-style: none;
}

.sidebar-widget.project-details ul li {
  padding: 5px 0;
  color: #34495e;
}

.sidebar-widget.project-details ul li span {
  color: #3399ff;
  padding-left: 5px;
}

/* Fancybox */
.fancybox-close {
  background: url("../images/icons/close.png") no-repeat scroll 0 0 transparent;
  height: 50px;
  right: 0;
  top: 0;
  width: 50px;
}
.fancybox-next span {
  background: url("../images/icons/right.png") no-repeat scroll center center #3399ff;
  height: 50px;
  width: 50px;
  right: 0;
}
.fancybox-prev span {
  background: url("../images/icons/left.png") no-repeat scroll center center #3399ff;
  height: 50px;
  width: 50px;
  left: 0;
}
.fancybox-title h3 {
  font-size: 15px;
  margin: 0;
}
.fancybox-title {
  padding: 15px 8px;
}

#fancybox-buttons a.btnPrev, #fancybox-buttons a.btnNext, #fancybox-buttons a.btnPlay {
   display:none;
}

#fancybox-buttons ul {
  width:80px;
}
/*
    Footer
*/
.footer {
  background: #2679CC;
  padding: 80px 0 0;
}
.footer h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 0;
}

.social-list {
  display: table;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.social-list li {
  float: left;
  margin: 0 10px 10px 0;
  display: block;
}
.social-list li:last-child {
  margin-right: 0;
}
.social-list li:hover {
  -webkit-transform: translateY(-10px);
     -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
       -o-transform: translateY(-10px);
          transform: translateY(-10px);
}
.social-list li a{
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  vertical-align: middle;
  overflow: hidden;
  display: block;
  margin: auto;
  color: #fff;
  font-size: 32px;
  background: #fff;
  text-shadow: #dddddd 1px 1px, #dddddd 2px 2px, #dddddd 3px 3px, #dddddd 4px 4px, #dddddd 5px 5px, #dddddd 6px 6px, #dddddd 7px 7px, #dddddd 8px 8px, #dddddd 9px 9px, #dddddd 10px 10px, #dddddd 11px 11px, #dddddd 12px 12px, #dddddd 13px 13px, #dddddd 14px 14px, #dddddd 15px 15px, #dddddd 16px 16px, #dddddd 17px 17px, #dddddd 18px 18px, #dddddd 19px 19px, #dddddd 20px 20px, #dddddd 21px 21px, #dddddd 22px 22px, #dddddd 23px 23px, #dddddd 24px 24px, #dddddd 25px 25px, #dddddd 26px 26px, #dddddd 27px 27px, #dddddd 28px 28px, #dddddd 29px 29px, #dddddd 30px 30px, #dddddd 31px 31px, #dddddd 32px 32px, #dddddd 33px 33px, #dddddd 34px 34px, #dddddd 35px 35px, #dddddd 36px 36px, #dddddd 37px 37px, #dddddd 38px 38px, #dddddd 39px 39px, #dddddd 40px 40px, #dddddd 41px 41px, #dddddd 42px 42px, #dddddd 43px 43px, #dddddd 44px 44px, #dddddd 45px 45px, #dddddd 46px 46px, #dddddd 47px 47px, #dddddd 48px 48px, #dddddd 49px 49px, #dddddd 50px 50px, #dddddd 51px 51px, #dddddd 52px 52px, #dddddd 53px 53px, #dddddd 54px 54px, #dddddd 55px 55px, #dddddd 56px 56px, #dddddd 57px 57px, #dddddd 58px 58px, #dddddd 59px 59px, #dddddd 60px 60px, #dddddd 61px 61px, #dddddd 62px 62px, #dddddd 63px 63px, #dddddd 64px 64px, #dddddd 65px 65px, #dddddd 66px 66px, #dddddd 67px 67px, #dddddd 68px 68px, #dddddd 69px 69px, #dddddd 70px 70px, #dddddd 71px 71px, #dddddd 72px 72px, #dddddd 73px 73px, #dddddd 74px 74px, #dddddd 75px 75px, #dddddd 76px 76px, #dddddd 77px 77px, #dddddd 78px 78px, #dddddd 79px 79px, #dddddd 80px 80px, #dddddd 81px 81px, #dddddd 82px 82px, #dddddd 83px 83px, #dddddd 84px 84px, #dddddd 85px 85px, #dddddd 86px 86px, #dddddd 87px 87px, #dddddd 88px 88px, #dddddd 89px 89px, #dddddd 90px 90px, #dddddd 91px 91px, #dddddd 92px 92px, #dddddd 93px 93px, #dddddd 94px 94px, #dddddd 95px 95px, #dddddd 96px 96px, #dddddd 97px 97px, #dddddd 98px 98px, #dddddd 99px 99px, #dddddd 100px 100px;
  -webkit-box-shadow: 0px 2px 0px #ddd;
          box-shadow: 0px 2px 0px #ddd;
}

.social-list.circle li a {
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.social-list li:hover a { color: #fff !important;}

.social-list li.facebook a { color: #204385}
.social-list li.facebook:hover a {
  background: #204385;
  text-shadow: #183263 1px 1px, #183263 2px 2px, #183263 3px 3px, #183263 4px 4px, #183263 5px 5px, #183263 6px 6px, #183263 7px 7px, #183263 8px 8px, #183263 9px 9px, #183263 10px 10px, #183263 11px 11px, #183263 12px 12px, #183263 13px 13px, #183263 14px 14px, #183263 15px 15px, #183263 16px 16px, #183263 17px 17px, #183263 18px 18px, #183263 19px 19px, #183263 20px 20px, #183263 21px 21px, #183263 22px 22px, #183263 23px 23px, #183263 24px 24px, #183263 25px 25px, #183263 26px 26px, #183263 27px 27px, #183263 28px 28px, #183263 29px 29px, #183263 30px 30px, #183263 31px 31px, #183263 32px 32px, #183263 33px 33px, #183263 34px 34px, #183263 35px 35px, #183263 36px 36px, #183263 37px 37px, #183263 38px 38px, #183263 39px 39px, #183263 40px 40px, #183263 41px 41px, #183263 42px 42px, #183263 43px 43px, #183263 44px 44px, #183263 45px 45px, #183263 46px 46px, #183263 47px 47px, #183263 48px 48px, #183263 49px 49px, #183263 50px 50px, #183263 51px 51px, #183263 52px 52px, #183263 53px 53px, #183263 54px 54px, #183263 55px 55px, #183263 56px 56px, #183263 57px 57px, #183263 58px 58px, #183263 59px 59px, #183263 60px 60px, #183263 61px 61px, #183263 62px 62px, #183263 63px 63px, #183263 64px 64px, #183263 65px 65px, #183263 66px 66px, #183263 67px 67px, #183263 68px 68px, #183263 69px 69px, #183263 70px 70px, #183263 71px 71px, #183263 72px 72px, #183263 73px 73px, #183263 74px 74px, #183263 75px 75px, #183263 76px 76px, #183263 77px 77px, #183263 78px 78px, #183263 79px 79px, #183263 80px 80px, #183263 81px 81px, #183263 82px 82px, #183263 83px 83px, #183263 84px 84px, #183263 85px 85px, #183263 86px 86px, #183263 87px 87px, #183263 88px 88px, #183263 89px 89px, #183263 90px 90px, #183263 91px 91px, #183263 92px 92px, #183263 93px 93px, #183263 94px 94px, #183263 95px 95px, #183263 96px 96px, #183263 97px 97px, #183263 98px 98px, #183263 99px 99px, #183263 100px 100px;
  -webkit-box-shadow: 0px 2px 0px #183263;
          box-shadow: 0px 2px 0px #183263;
}
.social-list li.twitter a { color: #2AA9E0}
.social-list li.twitter:hover a {
  background: #2AA9E0;
  text-shadow: #1B8FC0 1px 1px, #1B8FC0 2px 2px, #1B8FC0 3px 3px, #1B8FC0 4px 4px, #1B8FC0 5px 5px, #1B8FC0 6px 6px, #1B8FC0 7px 7px, #1B8FC0 8px 8px, #1B8FC0 9px 9px, #1B8FC0 10px 10px, #1B8FC0 11px 11px, #1B8FC0 12px 12px, #1B8FC0 13px 13px, #1B8FC0 14px 14px, #1B8FC0 15px 15px, #1B8FC0 16px 16px, #1B8FC0 17px 17px, #1B8FC0 18px 18px, #1B8FC0 19px 19px, #1B8FC0 20px 20px, #1B8FC0 21px 21px, #1B8FC0 22px 22px, #1B8FC0 23px 23px, #1B8FC0 24px 24px, #1B8FC0 25px 25px, #1B8FC0 26px 26px, #1B8FC0 27px 27px, #1B8FC0 28px 28px, #1B8FC0 29px 29px, #1B8FC0 30px 30px, #1B8FC0 31px 31px, #1B8FC0 32px 32px, #1B8FC0 33px 33px, #1B8FC0 34px 34px, #1B8FC0 35px 35px, #1B8FC0 36px 36px, #1B8FC0 37px 37px, #1B8FC0 38px 38px, #1B8FC0 39px 39px, #1B8FC0 40px 40px, #1B8FC0 41px 41px, #1B8FC0 42px 42px, #1B8FC0 43px 43px, #1B8FC0 44px 44px, #1B8FC0 45px 45px, #1B8FC0 46px 46px, #1B8FC0 47px 47px, #1B8FC0 48px 48px, #1B8FC0 49px 49px, #1B8FC0 50px 50px, #1B8FC0 51px 51px, #1B8FC0 52px 52px, #1B8FC0 53px 53px, #1B8FC0 54px 54px, #1B8FC0 55px 55px, #1B8FC0 56px 56px, #1B8FC0 57px 57px, #1B8FC0 58px 58px, #1B8FC0 59px 59px, #1B8FC0 60px 60px, #1B8FC0 61px 61px, #1B8FC0 62px 62px, #1B8FC0 63px 63px, #1B8FC0 64px 64px, #1B8FC0 65px 65px, #1B8FC0 66px 66px, #1B8FC0 67px 67px, #1B8FC0 68px 68px, #1B8FC0 69px 69px, #1B8FC0 70px 70px, #1B8FC0 71px 71px, #1B8FC0 72px 72px, #1B8FC0 73px 73px, #1B8FC0 74px 74px, #1B8FC0 75px 75px, #1B8FC0 76px 76px, #1B8FC0 77px 77px, #1B8FC0 78px 78px, #1B8FC0 79px 79px, #1B8FC0 80px 80px, #1B8FC0 81px 81px, #1B8FC0 82px 82px, #1B8FC0 83px 83px, #1B8FC0 84px 84px, #1B8FC0 85px 85px, #1B8FC0 86px 86px, #1B8FC0 87px 87px, #1B8FC0 88px 88px, #1B8FC0 89px 89px, #1B8FC0 90px 90px, #1B8FC0 91px 91px, #1B8FC0 92px 92px, #1B8FC0 93px 93px, #1B8FC0 94px 94px, #1B8FC0 95px 95px, #1B8FC0 96px 96px, #1B8FC0 97px 97px, #1B8FC0 98px 98px, #1B8FC0 99px 99px, #1B8FC0 100px 100px;
  -webkit-box-shadow: 0px 2px 0px #1B8FC0;
          box-shadow: 0px 2px 0px #1B8FC0;
}
.social-list li.google-plus a { color: #D4492C}
.social-list li.google-plus:hover a {
  background: #D4492C;
  text-shadow: #B23C24 1px 1px, #B23C24 2px 2px, #B23C24 3px 3px, #B23C24 4px 4px, #B23C24 5px 5px, #B23C24 6px 6px, #B23C24 7px 7px, #B23C24 8px 8px, #B23C24 9px 9px, #B23C24 10px 10px, #B23C24 11px 11px, #B23C24 12px 12px, #B23C24 13px 13px, #B23C24 14px 14px, #B23C24 15px 15px, #B23C24 16px 16px, #B23C24 17px 17px, #B23C24 18px 18px, #B23C24 19px 19px, #B23C24 20px 20px, #B23C24 21px 21px, #B23C24 22px 22px, #B23C24 23px 23px, #B23C24 24px 24px, #B23C24 25px 25px, #B23C24 26px 26px, #B23C24 27px 27px, #B23C24 28px 28px, #B23C24 29px 29px, #B23C24 30px 30px, #B23C24 31px 31px, #B23C24 32px 32px, #B23C24 33px 33px, #B23C24 34px 34px, #B23C24 35px 35px, #B23C24 36px 36px, #B23C24 37px 37px, #B23C24 38px 38px, #B23C24 39px 39px, #B23C24 40px 40px, #B23C24 41px 41px, #B23C24 42px 42px, #B23C24 43px 43px, #B23C24 44px 44px, #B23C24 45px 45px, #B23C24 46px 46px, #B23C24 47px 47px, #B23C24 48px 48px, #B23C24 49px 49px, #B23C24 50px 50px, #B23C24 51px 51px, #B23C24 52px 52px, #B23C24 53px 53px, #B23C24 54px 54px, #B23C24 55px 55px, #B23C24 56px 56px, #B23C24 57px 57px, #B23C24 58px 58px, #B23C24 59px 59px, #B23C24 60px 60px, #B23C24 61px 61px, #B23C24 62px 62px, #B23C24 63px 63px, #B23C24 64px 64px, #B23C24 65px 65px, #B23C24 66px 66px, #B23C24 67px 67px, #B23C24 68px 68px, #B23C24 69px 69px, #B23C24 70px 70px, #B23C24 71px 71px, #B23C24 72px 72px, #B23C24 73px 73px, #B23C24 74px 74px, #B23C24 75px 75px, #B23C24 76px 76px, #B23C24 77px 77px, #B23C24 78px 78px, #B23C24 79px 79px, #B23C24 80px 80px, #B23C24 81px 81px, #B23C24 82px 82px, #B23C24 83px 83px, #B23C24 84px 84px, #B23C24 85px 85px, #B23C24 86px 86px, #B23C24 87px 87px, #B23C24 88px 88px, #B23C24 89px 89px, #B23C24 90px 90px, #B23C24 91px 91px, #B23C24 92px 92px, #B23C24 93px 93px, #B23C24 94px 94px, #B23C24 95px 95px, #B23C24 96px 96px, #B23C24 97px 97px, #B23C24 98px 98px, #B23C24 99px 99px, #B23C24 100px 100px;
  -webkit-box-shadow: 0px 2px 0px #B23C24;
          box-shadow: 0px 2px 0px #B23C24;
}
.social-list li.youtube a { color: #EB2429}
.social-list li.youtube:hover a {
  background: #EB2429;
  text-shadow: #CD1319 1px 1px, #CD1319 2px 2px, #CD1319 3px 3px, #CD1319 4px 4px, #CD1319 5px 5px, #CD1319 6px 6px, #CD1319 7px 7px, #CD1319 8px 8px, #CD1319 9px 9px, #CD1319 10px 10px, #CD1319 11px 11px, #CD1319 12px 12px, #CD1319 13px 13px, #CD1319 14px 14px, #CD1319 15px 15px, #CD1319 16px 16px, #CD1319 17px 17px, #CD1319 18px 18px, #CD1319 19px 19px, #CD1319 20px 20px, #CD1319 21px 21px, #CD1319 22px 22px, #CD1319 23px 23px, #CD1319 24px 24px, #CD1319 25px 25px, #CD1319 26px 26px, #CD1319 27px 27px, #CD1319 28px 28px, #CD1319 29px 29px, #CD1319 30px 30px, #CD1319 31px 31px, #CD1319 32px 32px, #CD1319 33px 33px, #CD1319 34px 34px, #CD1319 35px 35px, #CD1319 36px 36px, #CD1319 37px 37px, #CD1319 38px 38px, #CD1319 39px 39px, #CD1319 40px 40px, #CD1319 41px 41px, #CD1319 42px 42px, #CD1319 43px 43px, #CD1319 44px 44px, #CD1319 45px 45px, #CD1319 46px 46px, #CD1319 47px 47px, #CD1319 48px 48px, #CD1319 49px 49px, #CD1319 50px 50px, #CD1319 51px 51px, #CD1319 52px 52px, #CD1319 53px 53px, #CD1319 54px 54px, #CD1319 55px 55px, #CD1319 56px 56px, #CD1319 57px 57px, #CD1319 58px 58px, #CD1319 59px 59px, #CD1319 60px 60px, #CD1319 61px 61px, #CD1319 62px 62px, #CD1319 63px 63px, #CD1319 64px 64px, #CD1319 65px 65px, #CD1319 66px 66px, #CD1319 67px 67px, #CD1319 68px 68px, #CD1319 69px 69px, #CD1319 70px 70px, #CD1319 71px 71px, #CD1319 72px 72px, #CD1319 73px 73px, #CD1319 74px 74px, #CD1319 75px 75px, #CD1319 76px 76px, #CD1319 77px 77px, #CD1319 78px 78px, #CD1319 79px 79px, #CD1319 80px 80px, #CD1319 81px 81px, #CD1319 82px 82px, #CD1319 83px 83px, #CD1319 84px 84px, #CD1319 85px 85px, #CD1319 86px 86px, #CD1319 87px 87px, #CD1319 88px 88px, #CD1319 89px 89px, #CD1319 90px 90px, #CD1319 91px 91px, #CD1319 92px 92px, #CD1319 93px 93px, #CD1319 94px 94px, #CD1319 95px 95px, #CD1319 96px 96px, #CD1319 97px 97px, #CD1319 98px 98px, #CD1319 99px 99px, #CD1319 100px 100px;
  -webkit-box-shadow: 0px 2px 0px #CD1319;
          box-shadow: 0px 2px 0px #CD1319;
}
.social-list li.linkedin a { color: #204385}
.social-list li.linkedin:hover a {
  background: #204385;
  text-shadow: #17305E 1px 1px, #17305E 2px 2px, #17305E 3px 3px, #17305E 4px 4px, #17305E 5px 5px, #17305E 6px 6px, #17305E 7px 7px, #17305E 8px 8px, #17305E 9px 9px, #17305E 10px 10px, #17305E 11px 11px, #17305E 12px 12px, #17305E 13px 13px, #17305E 14px 14px, #17305E 15px 15px, #17305E 16px 16px, #17305E 17px 17px, #17305E 18px 18px, #17305E 19px 19px, #17305E 20px 20px, #17305E 21px 21px, #17305E 22px 22px, #17305E 23px 23px, #17305E 24px 24px, #17305E 25px 25px, #17305E 26px 26px, #17305E 27px 27px, #17305E 28px 28px, #17305E 29px 29px, #17305E 30px 30px, #17305E 31px 31px, #17305E 32px 32px, #17305E 33px 33px, #17305E 34px 34px, #17305E 35px 35px, #17305E 36px 36px, #17305E 37px 37px, #17305E 38px 38px, #17305E 39px 39px, #17305E 40px 40px, #17305E 41px 41px, #17305E 42px 42px, #17305E 43px 43px, #17305E 44px 44px, #17305E 45px 45px, #17305E 46px 46px, #17305E 47px 47px, #17305E 48px 48px, #17305E 49px 49px, #17305E 50px 50px, #17305E 51px 51px, #17305E 52px 52px, #17305E 53px 53px, #17305E 54px 54px, #17305E 55px 55px, #17305E 56px 56px, #17305E 57px 57px, #17305E 58px 58px, #17305E 59px 59px, #17305E 60px 60px, #17305E 61px 61px, #17305E 62px 62px, #17305E 63px 63px, #17305E 64px 64px, #17305E 65px 65px, #17305E 66px 66px, #17305E 67px 67px, #17305E 68px 68px, #17305E 69px 69px, #17305E 70px 70px, #17305E 71px 71px, #17305E 72px 72px, #17305E 73px 73px, #17305E 74px 74px, #17305E 75px 75px, #17305E 76px 76px, #17305E 77px 77px, #17305E 78px 78px, #17305E 79px 79px, #17305E 80px 80px, #17305E 81px 81px, #17305E 82px 82px, #17305E 83px 83px, #17305E 84px 84px, #17305E 85px 85px, #17305E 86px 86px, #17305E 87px 87px, #17305E 88px 88px, #17305E 89px 89px, #17305E 90px 90px, #17305E 91px 91px, #17305E 92px 92px, #17305E 93px 93px, #17305E 94px 94px, #17305E 95px 95px, #17305E 96px 96px, #17305E 97px 97px, #17305E 98px 98px, #17305E 99px 99px, #17305E 100px 100px;
  -webkit-box-shadow: 0px 2px 0px #17305E;
          box-shadow: 0px 2px 0px #17305E;
}
.social-list li.behance a { color: #2E99D1}
.social-list li.behance:hover a {
  background: #2E99D1;
  text-shadow: #257AA7 1px 1px, #257AA7 2px 2px, #257AA7 3px 3px, #257AA7 4px 4px, #257AA7 5px 5px, #257AA7 6px 6px, #257AA7 7px 7px, #257AA7 8px 8px, #257AA7 9px 9px, #257AA7 10px 10px, #257AA7 11px 11px, #257AA7 12px 12px, #257AA7 13px 13px, #257AA7 14px 14px, #257AA7 15px 15px, #257AA7 16px 16px, #257AA7 17px 17px, #257AA7 18px 18px, #257AA7 19px 19px, #257AA7 20px 20px, #257AA7 21px 21px, #257AA7 22px 22px, #257AA7 23px 23px, #257AA7 24px 24px, #257AA7 25px 25px, #257AA7 26px 26px, #257AA7 27px 27px, #257AA7 28px 28px, #257AA7 29px 29px, #257AA7 30px 30px, #257AA7 31px 31px, #257AA7 32px 32px, #257AA7 33px 33px, #257AA7 34px 34px, #257AA7 35px 35px, #257AA7 36px 36px, #257AA7 37px 37px, #257AA7 38px 38px, #257AA7 39px 39px, #257AA7 40px 40px, #257AA7 41px 41px, #257AA7 42px 42px, #257AA7 43px 43px, #257AA7 44px 44px, #257AA7 45px 45px, #257AA7 46px 46px, #257AA7 47px 47px, #257AA7 48px 48px, #257AA7 49px 49px, #257AA7 50px 50px, #257AA7 51px 51px, #257AA7 52px 52px, #257AA7 53px 53px, #257AA7 54px 54px, #257AA7 55px 55px, #257AA7 56px 56px, #257AA7 57px 57px, #257AA7 58px 58px, #257AA7 59px 59px, #257AA7 60px 60px, #257AA7 61px 61px, #257AA7 62px 62px, #257AA7 63px 63px, #257AA7 64px 64px, #257AA7 65px 65px, #257AA7 66px 66px, #257AA7 67px 67px, #257AA7 68px 68px, #257AA7 69px 69px, #257AA7 70px 70px, #257AA7 71px 71px, #257AA7 72px 72px, #257AA7 73px 73px, #257AA7 74px 74px, #257AA7 75px 75px, #257AA7 76px 76px, #257AA7 77px 77px, #257AA7 78px 78px, #257AA7 79px 79px, #257AA7 80px 80px, #257AA7 81px 81px, #257AA7 82px 82px, #257AA7 83px 83px, #257AA7 84px 84px, #257AA7 85px 85px, #257AA7 86px 86px, #257AA7 87px 87px, #257AA7 88px 88px, #257AA7 89px 89px, #257AA7 90px 90px, #257AA7 91px 91px, #257AA7 92px 92px, #257AA7 93px 93px, #257AA7 94px 94px, #257AA7 95px 95px, #257AA7 96px 96px, #257AA7 97px 97px, #257AA7 98px 98px, #257AA7 99px 99px, #257AA7 100px 100px;
  -webkit-box-shadow: 0px 2px 0px #257AA7;
          box-shadow: 0px 2px 0px #257AA7;
}

.footer-bottom {
  background: #1B5793;
  width: 100%;
  overflow: hidden;
  margin-top: 80px;
  color: #fff;
}
.footer-bottom a {
  color: #8AC4FF;
  text-decoration: none
}

.scrollToTop {
  padding: 10px 15px;
  background: #3399ff;
  color: #fff;
  position:fixed;
  bottom:30px;
  right:30px;
  display:none;
}

@media screen and (max-width: 767px) {
  .social-list li a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    font-size: 18px;
  }

}

.select2-container--open {
    z-index: 10003;          /* form dialog z-index:10002 (computed)*/
}
