hr,
.circle:hover,
.line-separator,
.line-separator,
.fa-5x:hover,
.line, .btn-default,
.btn-default:hover, ul.footer-social a:hover
{
    background-color:#C40483;
}
.spirit8,
.navbar-inverse .navbar-nav>.active>a,
footer_span,
.fa-cogs,
.active
{
    color:#C40483;
}
.item:hover{
    border: 3px solid #C40483
}
.fa-5x{
    border: 4px solid #C40483;
}