body{
background-color:black;
}
.wrapper{
width:1000px; height:auto; margin:auto;
box-shadow:5px 5px 10px silver;
overflow:hidden;
}
.header{
width:1000px; height:150px;
background:white;
}
.sub_header{
width:1000px; height:30px;
background:maroon;
color:yellow;
}
.sub_header marquee{
width:1000px;
margin-top:4px;
}
.logo{
width:140px; height:140px;
float:left;
margin-left:10px;
margin-top: 10px;
}
.company{
width:850px; height:150px;
float:left;
font-size:56px;
text-align:right;
color:wheat;
}
.company p{
color:green;
margin-top:-10px;

}
#slider{
width:700px; height:288px;
margin-top: 0px;
}

.navigation{
width:1000px; height:40px;
background:maroon;
margin-top: 35px;
}


.main_content{
width:1000px; height:500px;
}
.lsb{
width:200px;
height:755px;
background:white;
float:left;
box-shadow:5px 5px 10px silver;
}
.lsb_mis{
width:200px;
height:970px;
background:white;
float:left;
box-shadow:5px 5px 10px silver;
}
.lsb_vis{
width:200px;
height:1010px;
background:white;
float:left;
box-shadow:5px 5px 10px silver;
}
.lsb_bod{
width:200px;
height:820px;
background:white;
float:left;
box-shadow:5px 5px 10px silver;
}
.lsb_perf{
width:200px;
height:875px;
background:white;
float:left;
box-shadow:5px 5px 10px silver;
}
.lsb_vcus{
width:200px;
height:625px;
background:white;
float:left;
box-shadow:5px 5px 10px silver;
}
.chairman{
background:none;
width:200px;
text-align:center;
color:white;
}

.cha_cap{
background:#556F7E;
width:200px;
height:180px;
}
.link{
background:#556F7E;
width:200px;
height:180px;
}

.content_area{
width:1000px; height:auto;
background:white;
margin-top:0px;
float:left;
}
.in_land{
width:580px;
height:auto;
background:none;
float:left;
padding:10px;
}
.gal_land{
width:600px;
height:auto;
background:none;
float:left;
padding:10px;
}
.gal_sec1{
background:yellow;
width:530px;
height:auto;
}
.col1_r1{
background:yellowgreen;
width:145px;
height:auto;
font-size:12px;
float:left;
}
.col1_r2{
background:yellowgreen;
width:145px;
height:auto;
font-size:12px;
float:left;
}
.col1_r3{
background:yellowgreen;
width:145px;
height:auto;
font-size:12px;
float:left;
}
.col1_r4{
background:yellowgreen;
width:145px;
height:auto;
font-size:12px;
float:right;
}
.gal_sec2{
background:yellow;
width:580px;
height:150px;
}
.col2_r1{
background:yellowgreen;
width:145px;
height:auto;
font-size:12px;
float:left;
}
.col2_r2{
background:yellowgreen;
width:145px;
height:auto;
font-size:12px;
float:left;
}
.col2_r3{
background:yellowgreen;
width:145px;
height:auto;
font-size:12px;
float:left;
}
.col2_r4{
background:yellowgreen;
width:145px;
height:auto;
font-size:12px;
float:right;
}

.gal_sec3{
background:yellow;
width:580px;
height:150px;
}
.col3_r1{
background:yellowgreen;
width:145px;
height:auto;
font-size:12px;
float:left;
}
.col3_r2{
background:yellowgreen;
width:145px;
height:auto;
font-size:12px;
float:left;
}
.col3_r3{
background:yellowgreen;
width:145px;
height:auto;
font-size:12px;
float:left;
}
.col3_r4{
background:yellowgreen;
width:145px;
height:auto;
font-size:12px;
float:right;
}

.fu_sec1{
width:290px; height:auto; float:left;
margin-left: 10px;
margin-top: 10px;
padding:5px;
padding:10px;
border:5px solid #AB9279;
}
.home_content{
width:520px;
height:auto;
padding:20px;
margin-left: 8px;
margin-top: 0px;
background:none;
}

.sec1{
width:100px;
height:100px;
border:1px solid #f1f1f1;
border-radius:20px;
box-shadow:0px 0px 20px #888888 inset;
padding:20px;
float:left;
margin-left: 55px;
margin-top: 25px;
font-size:10px;
}
.sec1 img{
margin-left:10px;
}

.sec1:hover{
box-shadow:0px 0px 20px maroon inset;
}
.sec2{
width:100px;
height:100px;
border:1px solid #f1f1f1;
border-radius:20px;
box-shadow:0px 0px 20px #888888 inset;
padding:20px;
float:left;
margin-left: 18px;
margin-top: 25px;
font-size:10px;
}
.sec2 img{
margin-left:10px;
}
.sec2:hover{
box-shadow:0px 0px 20px maroon inset;
}
.sec3{
width:100px;
height:100px;
border:1px solid #f1f1f1;
border-radius:20px;
box-shadow:0px 0px 20px #888888 inset;
padding:20px;
float:right;
margin-right: 60px;
margin-top: 25px;
font-size:10px;
}
.sec3 img{
margin-left:10px;
}
.sec3:hover{
box-shadow:0px 0px 20px maroon inset;
}



.sec4{
width:100px;
height:100px;
border:1px solid #f1f1f1;
border-radius:20px;
box-shadow:0px 0px 20px #888888 inset;
padding:20px;
float:left;
margin-left: 55px;
margin-top: 15px;
font-size:10px;
}
.sec4 img{
margin-left:10px;
}

.sec4:hover{
box-shadow:0px 0px 20px maroon inset;
}
.sec5{
width:100px;
height:100px;
border:1px solid #f1f1f1;
border-radius:20px;
box-shadow:0px 0px 20px #888888 inset;
padding:20px;
float:left;
margin-left: 20px;
margin-top: 15px;
font-size:10px;
}
.sec5 img{
margin-left:10px;
}
.sec5:hover{
box-shadow:0px 0px 20px maroon inset;
}
.sec6{
width:100px;
height:100px;
border:1px solid #f1f1f1;
border-radius:20px;
box-shadow:0px 0px 20px #888888 inset;
padding:20px;
float:right;
margin-right: 60px;
margin-top: 15px;
font-size:10px;
}
.sec6 img{
margin-left:10px;
}
.sec6:hover{
box-shadow:0px 0px 20px maroon inset;
}

.cont_div1{
width:465px; height:180px;
box-shadow:0px 0px 20px #888888;
border:10px solid white;
margin-left:0px;
margin-top:13px;
padding:20px;
font-size:24px;
}


.right_side_bar{
width:200px; height:755px;
background:white;
float:right;
margin-top: 0px;
box-shadow:5px 5px 10px silver;
}
.right_side_bar_mis{
width:200px; height:970px;
background:white;
float:right;
margin-top: 0px;
box-shadow:5px 5px 10px silver;
}
.right_side_bar_vis{
width:200px; height:1010px;
background:white;
float:right;
margin-top: 0px;
box-shadow:5px 5px 10px silver;
}
.right_side_bar_bod{
width:200px; height:820px;
background:white;
float:right;
margin-top: 0px;
box-shadow:5px 5px 10px silver;
}
.right_side_bar_perf{
width:200px; height:875px;
background:white;
float:right;
margin-top: 0px;
box-shadow:5px 5px 10px silver;
}
.right_side_bar_vcus{
width:200px; height:633px;
background:white;
float:right;
margin-top: 0px;
box-shadow:5px 5px 10px silver;
}
.rsb_cap{
background:gray;
width:200px;
height:30px;
text-align:center;
color:white;

}
.rsb_mark{
background:white;
width:200px;
height:auto;
color:white;
text-align:center;
}
.rsb_mark marquee{
margin-left:26px;

}
.rsb_end{
background:gray;
width:200px;
height:40px;
margin-top: 0px;
}

.future_post{
width:1000px; height:255px;
background:#D4D6E5;
margin-top: 690px;
}
.fu_sec1{
background:white; width:290px; height:210px; float:left;
margin-left: 10px;
margin-top: 10px;
padding:5px;
padding:10px;
border:5px solid #AB9279;
}
.fu_sec1 img{
width:285px; height:180px:
margin-left:5px;
margin-right:10px;
margin-top:10px;
whiteius:5px 5px 10px;
float:left;
}
.fu_sec1:hover{
box-shadow:3px 3px 10px blue;
}
.fu_sec2{
background:white; width:290px; height:210px; float:left;
margin-left: 10px;
margin-top: 10px;
padding:5px;
padding:10px;
border:5px solid #AB9279;
}
.fu_sec2 img{
width:285px; height:180px:
margin-left:5px;
margin-right:10px;
margin-top:10px;
whiteius:5px 5px 10px;
float:left;
}
.fu_sec2:hover{
box-shadow:3px 3px 10px blue;
}
.fu_sec3{
background:white; width:290px; height:210px; float:left;
margin-left: 10px;
margin-top: 10px;
padding:5px;
padding:10px;
border:5px solid #AB9279;
text-align:middle;
}
.fu_sec3 img{
width:285px; height:180px:
margin-left:5px;
margin-right:10px;
margin-top:10px;
whiteius:5px 5px 10px;
float:left;
}
.fu_sec3:hover{
box-shadow:3px 3px 10px blue;
}
.abt_future_post{
margin-top:700px;
}
.serv_future_post{
width:1000px; height:250px;
background:skyblue;
margin-top:538px;
}
.footer{
width:1000px; height:40px;
}
.part1{
width:700px; height:40px;
background:maroon;
text-align:left;
font-size:20px;
color:white;
float:left;
}
.part1 p{
margin-left:10px;
margin-top: 2px;
}
.part2{
width:300px; height:40px;
background:maroon;
float:right;
color:white;
}
.part2 img{
margin-top:0px;
margin-right: 5px;
color:maroon;
}
