
.n1{text-align: center;
  
}


h1 {
	font-size: 30px;
	text-decoration: underline;
	top: 3px;
	padding-bottom: 10px;
	line-height: 25px;
}
	

.img1 {
	margin-left: 450px;
	margin-bottom: 30px;
	position: center;
	position: static;
	position: absolute;
        top: 150px;
	
}
.n2{
	font-style: bold; 
	font-size: 25px;
	float: left;
}
li{
        text-align:center;
	float:right;
	margin-right:100px;
	

}
.ol{
	float:left;
	margin-right:100px;
}

.ul{
	float:left;
	
}

