body {
    background-color:black;
    color: whitesmoke;
    font-family:Tahoma;
    font-size: 12px;
    text-align: center;
    margin-top:20px;
}

#div {
    
    margin-top: 10px;
}

#text {
    padding: 4px;
    border:none;
    width: 180;
    height: 30px;
    font-family: monospace

    
}

#chancge {
    
    background-color: coral;
border:none;
    height:30px;
    width: 120px;
}