body{
           background-image: url("https://s31.postimg.org/l13giwdor/background.png");
           width:100%;
           height: 100%;
}


.navbar,
.form,
.howtoplay,
.footer {
  min-width: 1200px;
}


.navbar{
           height:100px;
           background-color: #1C1C1C;
           overflow: hidden;
           border-bottom: 10px solid #FFD034;
}
.content{
           width:1170px;
           margin: auto;
}

.navbar .content ul{
           float:right;
           list-style: none;
           overflow: hidden;
           font-family: 'Ubuntu',sans-serif;
}
.navbar .content ul li{
           float:left;
           margin-right: 20px;
           color:#b8b6b4;
           margin-top:25px;
           -webkit-transition:color .5s;
           -moz-transition:color .5s;
           -o-transition:color .5s;
           transition: color .5s;
}
.navbar .content ul li:hover{
           color: #ffffff;
}
.form{
           height:350px;
           background-color: #0072BB;
           font-family: 'Prompt', sans-serif;
           text-align: center;
           color: #FFFFFF;
           width:100%;
           border-bottom: 10px solid #FF4C3B;
}
.form .content h3{
           padding-top: 20px;
}
.form .content .firststep{
           float: left;
           background-color: #FFD034;
           border-radius: 12.5px;
           height: 25px;
           width:25px;
           margin-top: 20px;
           overflow: hidden;
           position: relative;
           right: -440px
}
#serial ,#username ,#password{
           width:400px;
           -webkit-transition: width 1s;
           -moz-transition:width 1s;
           -o-transition:width 1s;
           transition: width 1s;
 }
#serial:focus{
           width:600px;
}
#username:focus{
           width:600px;
}
#password:focus{
           width:600px;
}
.form .content .FormBody #btnGen{
           border:12px;
           color:#c0c0c0;
           overflow: hidden;
           width:100px;
           background-color: white;
           height: 50px;
           -webkit-box-shadow: inset 0 0 0 4px #dedede;
           box-shadow: inset 0 0 0 4px #dedede;
           cursor: pointer;
           -webkit-transition: all .5s;
           -moz-transition: all .5s;
           -o-transition:all .5s;
           transition: all .5s;
           font-family:'Prompt',sans-serif;
}
.form .content .FormBody #btnGen:hover,.form .content .FormBody #btnGen:focus{
           color: #FF4C3B;
           background-color: #FFD034;
           -moz-box-shadow: inset 0 0 0 0 #CCC;
           -webkit-box-shadow: inset 0 0 0 0 #CCC;
           box-shadow: inset 0 0 0 0 #CCC;
}
.howtoplay{
           height: 250px;
           background-color: #FFD034;
           margin-top: 20px;
           text-align: center;
           font-family: 'Prompt',sans-serif;
           border-bottom: 10px solid #0072BB;
}
.howtoplay h3 {
           padding-top:20px;
}
.howtoplay button{
           border:12px;
           color:#c0c0c0;
           overflow: hidden;
           width:100px;
           background-color: white;
           height: 50px;
           -webkit-box-shadow: inset 0 0 0 4px #dedede;
           box-shadow: inset 0 0 0 4px #dedede;
           cursor: pointer;
           -webkit-transition: all .5s;
           -moz-transition: all .5s;
           -o-transition:all .5s;
           transition: all .5s;
           font-family:'Prompt',sans-serif;
}
.howtoplay button:hover{
           color: #000000;
           background-color: #0072BB;
           -moz-box-shadow: inset 0 0 0 0 #CCC;
           -webkit-box-shadow: inset 0 0 0 0 #CCC;
           box-shadow: inset 0 0 0 0 #CCC;
}
.howtoplay .firststep{
           float: left;
           background-color: #FF4C3B;
           border-radius: 12.5px;
           height: 25px;
           width:25px;
           margin-top: 20px;
           overflow: hidden;
           position: relative;
           right: -500px;
           color: #0072BB;
}
.footer{
           background-color: #FF4C3B;
           font-family: 'Ubuntu',sans-serif;
           height:300px;
}
.footer .content .aboutus h3{
           padding-top: 20px;
}
.footer .content .aboutus img{
           float: left;
           padding-right: 10px;
}
.footer .content .aboutus p{
           padding-top:30px; 
}
.footer .content .rights{
           background-color: #C6C8CA;
           height:100px;
           margin-top:73px;
}
.footer .content .socialmedia p{
           float: left;
}
.footer .content .socialmedia img{
           float:right;
           width:30px;
           background-color: white;
           margin-right: 5px;
           -webkit-filter:grayscale(100%);
           -moz-filter:grayscale(100%);
           -o-filter:grayscale(100%);
           filter:grayscale(100%);
           -webkit-transition: all .5s;
}
.footer .content .socialmedia img:hover{
           -webkit-filter:none;
           -moz-filter:none;
           -o-filter:none;
           filter:none;
}