body{font-family: 'Play', sans-serif;}



/*start menu*/
.menu {
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 50px;

}
.menu h2 {
    font-weight: bold;
    letter-spacing: 5px;
}
.menu hr {
    width: 30%;
    margin: 20px auto;
    border: 1px solid #c56767;
    margin-bottom: 40px;
}
.menu .info {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 1px 1px 8px #222;
    cursor: pointer;
    height: 245px;
}
.menu .info img {
    width: 100%;
    height: 100%;
    transition: 1.5s
}

.menu .info .caption {
    position: absolute;
    top: 0;
    background: rgba(34, 34, 34, 0.69);
    color: #fff;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    transform: rotateX(90deg);
}
.menu .info .caption .content {
    padding-top: 9%;
}
.menu .info .caption .content h3 {
    letter-spacing: 8px;
    font-weight: bold;
    font-family: 'Playball', cursive;
}
.menu .info .caption .content p {
    color: rgba(255, 255, 255, 0.71);
    width: 80%;
    margin: 5px auto;
}
.menu .info .caption .content button {
    background: #a2344e;
    border: 0;
    padding: 11px;
    color: #fff;
    letter-spacing: 9px;
    border-radius: 2px;
    transition: 0.3s
}
.menu .info .caption .content button:hover{background: #222}
.menu .info:hover .caption{transform: rotateX(0deg);}
.menu .info:hover img{transform: scale(1.5);}

/*End menu*/

