@charset "utf-8";
/* CSS Document color:#1DA1F2 #FEAE02*/
 .iconheader  { padding-left:20px}
 .iconheader i {color:#1DA1F2 }
.iconheader h2 { display:inline-block ; color:#FEAE02 }
.informationcontact , .article  , .contactform{ padding:10px 20px  }
.informationcontact i { color:#1DA1F2 ; border:1px solid #1DA1F2 ; border-radius:50%
; padding:10px}
.informationcontact h3 { display:inline-block ; color:#B0B0B0 ; font-size:20px}
.informationcontact span { font-size:30px ; color:#FEAE02} 

.article h2 { color:#787878 ; text-align:left}
.article p { color:#aaa}
.contactform h2 {color:#787878 ; text-align:left}
.contactform textarea{ height:120px ; resize:none}
.contactform input { margin-bottom:10px}
.contactform .btn { color:#787878}  