html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #7b3962;
}

svg {
  max-width: 100%;
}

svg polygon {
  opacity: 0;
}
.no-js svg polygon {
  opacity: 1;
}

.cat {
  height: 1500px;
}
.no-cssanimations .cat > polygon {
  -webkit-transform: scale(2);
          transform: scale(2);
  opacity: 1;
}
