/***srart default olor ***/
.option-box .color-option ul li{ background: #F7600E; }
.option-box .gear-check{ color: #fff; }
.about h2 span{ color: #F7600E ; }
.testmonials span{ color: #F7600E;   }
.testmonials .carousel-indicators li{  }
.footer .copy-right strong{ color: #F7600E; }
.footer h3{}
.navbar-inverse .navbar-nav > .active > a:hover{ color: #F7600E; }
.navbar-inverse .navbar-nav > li > a:hover{ color:#F7600E;  }
.navbar-inverse .navbar-brand span{ color:;}
.dropdown-menu > li > a:hover{ background-color:transparent; }
.footer .three-columns li a:hover{ color: #F7600E;}
.carousel-indicators .active{  background-color:#F7600E ;  }
.footer .copy-right span{ color: #F7600E; }
.option-box h2{ color: #F7600E;   }
/*** srart defaultc olor***/

.features .fee i{ color: #F7600E;}
.features .feat i:hover{ background-color: #F7600E; }
.services .ser i{ color: #F7600E; }
.subscribe .btn-success:hover{ background: #F7600E; }
.work-work .work .item .over button{ background-color: #F7600E; border: 1px solid #F7600E; }
.work-work .show-more{ border: 1px solid #F7600E; background: #F7600E; }
.work-work .show-more:hover{ background-color: #F7600E; }
.statistics .statis i:hover{ color: #F7600E; }
.statistics .statis:hover{ color:#F7600E;  }
.contact-us .fields i{ color: #F7600E; }
.contact-us button{ background: #F7600E; }
.contact-us button:hover{ background: #F7600E; }
.footer .sicial-site .fa-facebook:hover { color:#F7600E;  }
.footer .sicial-site .fa-twitter:hover { color:#F7600E;  }
.footer .sicial-site .fa-google:hover { color:#F7600E;  }
.footer .sicial-site .fa-skype:hover { color:#F7600E;  }
.footer .sicial-site .fa-youtube:hover { color:#F7600E;  }
.footer .sicial-site .fa-envelope:hover { color:#F7600E;  }
#scroll-top:hover{ color: #F7600E; }
.dropdown-menu > li > a:hover{ color: #F7600E; }
.main-color{ color: #F7600E; }
.features .fee i {color: #F7600E; border: 1px solid #F7600E;}
.sell-now .sel .buttons .show-more{ background: #F7600E; }
.option-box .gear-check:hover{ color: #F7600E; }