body{ padding-top: 51px; height:; overflow: ; font-size: 15px; }
a,p,h1,h2,h3,h4,h5,.lead,span,.copy-right,li,ul,ol{ font-family: 'PT Sans Narrow', sans-serif;}

.gimmy{ display: none; }
/* Start Section Tool Box */
.option-box{ position: fixed; z-index: 9999; top:; left: ; }
.option-box h2{ margin-top: -6px; font-size: 22px; }
.option-box .color-option{ float: left; background: #1F1F1F; color: #fff; padding: 10px; width: 200px; border: 2px solid #1F1F1F; display: none; }
.option-box .color-option ul li{ width: 20px; height: 20px; display: inline-block;  margin-right: 5px; cursor: pointer;  }
.option-box .gear-check{ background: #1F1F1F; padding: 5px;  cursor: pointer;  }

/* End Section Tool Box */


/* start section about*/
.about{ background:url('../_images/100.jpg') no-repeat center center fixed; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; }
.about .abou{ background: rgba(2,2,2,0.7); }

.about .lead{ color:#fff; font-size: 18px;  }
.about h2{ color: #fff; font-weight: bold; }
/* End section about*/
/* start section features*/
.features{  padding-top:20px; color: #000; min-height: 320px; background: #EEE; }
.features .fee{  }
.features .fee i{ -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; cursor: pointer;  border-radius: 50%; width: 100px; height: 100px; line-height: 100px; }
.features .feat i:hover{  color: #fff; }
.features h1{ color: #000; font-weight: bold; padding-bottom: 40px; font-size: 30px; }
.features .feat p{ font-size: 12px; line-height: 150%;  }
.features .feat span.glyphicon{ font-size: 18px; color: #3D6D1A; }
.features .feat h3{ color: #777; font-weight: bold; font-size: 20px;  }
.features .feat{ margin-bottom: 25px; }
/* End section features*/
/*start services section*/
.services{ background: url(../_images/stats.jpg) no-repeat center center fixed; min-height: 335px;  -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; }
.services .ser{ background: rgba(2,2,2,0.8); min-height: 335px }

.services h1{ font-weight: bold; color: #fff; padding-bottom: 20px; padding-top: 20px; font-size: 28px;}
.services .ser h3{ color: #fff; font-weight: bold; font-size: 20px;  }
.services .ser p{ color: #fff; line-height: 25px;  }
/*End services section*/
/* srart of our subscribe section*/
.subscribe{ min-height: ; padding-top: 20px; padding-bottom: 40px; background: #EEE; }
.subscribe .btn-success{ background: #333333; border: none; opacity: 0.9; height: 35px; width: 120px; 
                  -webkit-transition: all .5s ease-in-out; 
          -moz-transition: all .5s ease-in-out; 
          -o-transition: all .5s ease-in-out; 
          transition: all .5s ease-in-out;  }
.subscribe .btn-success:hover{ opacity: 1; color: #fff;  }
.subscribe .sub{}
.subscribe h2{ margin-bottom: 20px; color: #000; font-weight: bold; font-size: 30px; }
.subscribe p{ margin-bottom: 20px; color: #000; font-size: 20px; }
.subscribe .form-control{ width: 300px; margin-right: 0; height: 35px; border: 2px solid #333333; color: #000; }
/* End of our subscribe section*/
/* start of our works section*/
.work-work{ padding:; background: url('../_images/stats.jpg') no-repeat center center fixed;  -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;}
.work-work .work{ background: rgba(2,2,2,0.8);}
.work-work h1{ font-weight: bold; color: #fff; padding-top: 20px; font-size: 28px;   }
.work-work p{ color: #fff; margin-bottom: 30px; }
.work-work .work img{ width: 350px; height: 350px; }
.work-work .work .item{ float: left; position: relative; overflow:hidden; border-radius: 18px; margin-bottom: 30px;   }
.work-work .work .item .over{ position: absolute; color: #fff; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(2,2,2,0.6); -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; display: none; }
.work-work .work .item:hover .over{ display: block; cursor: pointer; }

.work-work .work .item .over h4{ font-size: 26px; margin-top: 74px; color: #fff; }
.work-work .work .item .over button{  
            width: 137px;
            height: 36px;
            margin-top: 45px;
            background: transparent;
            
            color: #fff;
            
            border-radius: 4px;
            opacity: 0.7;
            -webkit-transition: all .5s ease-in-out; 
              -moz-transition: all .5s ease-in-out; 
             -o-transition: all .5s ease-in-out; 
            transition: all .5s ease-in-out; }
.work-work .work .item .over button:hover{
            opacity: 1;
}   
.work-work .show-more{ width: 170px;
            border-radius: 5px;
            opacity: 0.7;
            
            padding: ;
            margin-top: 25px;
            height: 30px;
            margin-bottom: 30px;
            color: #fff;
          -webkit-transition: all .5s ease-in-out; 
          -moz-transition: all .5s ease-in-out; 
          -o-transition: all .5s ease-in-out; 
          transition: all .5s ease-in-out; }
.work-work .show-more:hover{  opacity: 1; color: #fff; }        
.work-work .work .row{  }


/* End of our works section*/

/*start clients*/
.our-clients{ padding-top: 40px; background: #EEE; padding-bottom: 40px;  }
.our-clients img{ opacity: 0.5; margin-bottom: 20px; margin-top: 20px; -webkit-transition: all .5s ease-in-out; 
                      -moz-transition: all .5s ease-in-out; 
                      -o-transition: all .5s ease-in-out; 
                    transition: all .5s ease-in-out;   }
.our-clients img:hover{ opacity: 1; }

/*End clients*/

/* start section testmonials*/
.testmonials{ padding-top:; padding-bottom: ; height: 385px; background:url('../_images/stats.jpg') no-repeat center center fixed; margin-top:; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;  }
.testmonials .tee{ background: rgba(2,2,2,0.9); height: 385px; }

.testmonials h1{ font-weight: bold; font-size: 28px; color: #fff; margin-bottom: 45px; margin-top: 45px; }
.testimon h1 span{ font-size: 27px; }
.testmonials span{ font-weight: bold;   }
.testmonials .carousel-inner p{ line-height: 2;  font-style: italic; color: #fff; }
.testmonials .carousel-indicators li{ color: #000; border: 2px solid #eee; text-indent: 0px; width: 80px; height: 80px; opacity: 0.4;  border-radius: 50%; overflow: hidden; 
	-webkit-transition:all 0.5s ease; -moz-transition:all 0.5s ease; -o-transition:all 0.5s ease; transition:all 0.5s ease; }
.testmonials .carousel-indicators li.active{ opacity: 1; background: none;  } 
.testmonials .carousel-inner{ min-height: 140px;}
.testmonials .carousel-indicators{ position: static; margin-left: auto; width: 100%;  }
.testmonials .carousel-indicators li img{ max-width: 100%; max-height: 100%;  }

/* End section testmonials*/
/* start section price*/
.price-table{ padding-top: ;background: #eee; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;  }
.price-table .pre{  }
.price-table h2{ margin-bottom: 20px; color: #000;  }
.price-table .price-box{ background:; border: 1px solid #868686; margin-bottom: 15px;  }
.price-table .price-box h3{ font-weight: bold; }
.price-table .price-box p{ font-weight: bold; font-size: 35px; color: #000; width: 100px; height: 100px; background: #eee; border-radius: 50%; line-height: 100px;
-webkit-transition-duration:0.7s; -moz-transition-duration:0.7s; -o-transition-duration:0.7s; transition-duration:0.7s; }
.price-table .price-box ul{ line-height: 200%; color: #000; }
.price-table .price-box a{ margin-bottom: 10px; }
.price-table .price-box:hover p{  -webkit-transform:scale(1.1,1.1) rotate(360deg); 
	 -o-transform:scale(1.1,1.1) rotate(360deg); transform:scale(1.1,1.1) rotate(360deg); -moz-transform:scale(1.1,1.1) rotate(360deg); border: 2px solid #3d3d3d;}
/* End section price*/
/* start of our team section*/
.our-team{ background:url('../_images/stats.jpg') no-repeat center center fixed; min-height: 420px; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;  }
/*.our-team .team{ background: rgba(2,2,2,0.7); }*/
.our-team .team{ color: #fff;  background: rgba(2,2,2,0.9); min-height: 420px; padding-top: 20px; padding-bottom: 20px; }
.our-team h2{ font-weight: bold; color: #fff; padding-top: 20px; font-size: 31px; padding-bottom: 20px; }
.our-team .team .person img{ width: 150px; height: 150px; }
.our-team .team .person h4{ font-size: 20px; font-weight: bold; }
.our-team .team .person p{ font-size: 12px; }
.our-team .team .person{ margin-bottom: 40px; }
.our-team .team .person a{ color:#fff; }

/* End of our team section*/

/* srart of our subscribe section*/
/*.subscribe{ background:url('../_images/100.jpg') no-repeat center center fixed; padding-top: ; padding-bottom:; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; }
.subscribe .sub{  background: rgba(2,2,2,0.7);}
.subscribe h2{ margin-bottom: 20px; color: #fff; }
.subscribe p{ margin-bottom: 20px; color: #fff; }
.subscribe .form-control{ width: 290px; margin-right: -5px;   }

/* End of our subscribe section*/

/* Start of our statistics section*/
.statistics{ background: #eee; min-height:330px; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;}
.statistics .data{ color:#b6b5b5;  min-height: 330px; padding-top: 20px; padding-bottom:;  }
.statistics .data h2{  font-weight: bold; color: #000; padding-top:; font-size: 31px; padding-bottom: 20px;  }
.statistics p{ font-size: 40px; font-weight: bold; }
.statistics span{ font-size: 30px; }
.statistics .statis{ margin-bottom: 20px; color: #000; cursor: pointer; }

.statistics .statis span{ font-size: 25px; }

/* End of our statistics section*/
/*start section contact-us*/
.contact-us{ background: url('../_images/stats.jpg') no-repeat center center fixed; min-height:400px; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; margin-top: ; }
.contact-us .fields{ background: rgba(2,2,2,0.9); min-height: 400px; color: #fff; padding-top: 30px; padding-bottom: 30px;  }

.contact-us .fields h1{ font-size: 2em; }
.contact-us p{ margin-bottom: 40px; }
.contact-us textarea{ height: 83px; }
.contact-us button{ margin-top: 15px; width: 150px;  border: none; opacity: 0.8; -webkit-transition: all .5s ease-in-out; 
                      -moz-transition: all .5s ease-in-out; 
                      -o-transition: all .5s ease-in-out; 
                    transition: all .5s ease-in-out; }
.contact-us button:hover{  opacity: 1; color: #fff; }                    
.contact-us input[type="text"],
.contact-us input[type="password"],
.contact-us textarea{ color: #fff; border:; background: transparent; }
/*End section contact-us*/
/*start section footer*/
.footer{ background:#332F2F; min-height:; color: #aaa; padding-top: 20px; text-align: justify; line-height: 26px; padding-bottom: 20px; }
.footer a{}
.footer a:hover{}
.footer h3{ margin: 30px 0 20px; color: #fff; }
.footer .three-columns{ overflow: hidden;  }
.footer .three-columns li{ width: 33.33333%; float: left; padding: 5px 0; }
.footer .three-columns li a{ text-decoration: none; color: #aaa; font-size: 13px; }
.footer .media h4{ font-size: 14px; }
.footer .media span{ font-size: 12px; }
.footer .media-body h3{ color: #aaa; font-size: 13px; margin-top: 2px; margin-left: 5px; line-height: 18px; }
.footer .media-body span{ font-size: 11px; }
.footer .media-body .more a{ color: #fff; text-decoration: none; margin-left: 202px; }
.footer .sicial-site{ overflow: hidden; margin: 20px 0 10px; }
.footer .sicial-site i{ color:#000; font-size: 26px; cursor: pointer; background-color: #fff; border-radius: 50%; width: 37px; height: 37px; line-height: 37px; border: 1px solid #fff; margin: 0 3px;
                                -webkit-transition: all .5s ease-in-out; 
                      -moz-transition: all .5s ease-in-out; 
                      -o-transition: all .5s ease-in-out; 
                    transition: all .5s ease-in-out; padding-left: 5px;  }
 .footer .sicial-site .fa-envelope{ padding-left: 5px; }                   

.footer .img-thumbnail{ background: rgba(0,0,0,0.2); border: 1px solid #444;  }
/*.footer .copy-right{ background: #000; color: #fff; padding: 4px 0; height: 36px; margin-top: 20px; font-size: 15px; font-family: verdana; }*/
hr{ border-style: inset; width: 99%; border-width:;  }
.footer .copy-right .copyright{ color:; float: left; font-size: 12px; color: #aaa; }
.footer .copy-right .design{ float: right; font-size: 12px; color: #aaa; }
/*End section footer*/
/*start section loading*/
.loading-overlay{ background:#000; color:#fff; left: 0; top: 0; width: 100%; height: 100%; position: fixed; z-index: 99999; } 
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  margin-top: 370px;
  background-color: #fff;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #e50000;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
/*End section loading*/
/*start section scroll button*/
#scroll-top{ width: 40px; height: 40px; color: #fff; background-color: #000; border-radius: 50%; text-align: center; position: fixed; right: 15px; bottom: 10px; z-index: 9999; cursor: pointer; display: none; }

/*End section scroll button*/
.carousel{ height:; }
.carousel-control.right{}
.carousel-control.left{ }
.carousel-caption{ color:  #fff; bottom: 90px; background: rgba(3,3,3,0.7); padding-right: 15px; padding-left: 15px;}
.carousel-inner > .item >  img{ width: 100%; }
.carousel-inner .item .carousel-caption h1{ margin-top: -6px; }
.carousel-inner .item .carousel-caption p{ margin-bottom: -2px; }
.carousel-inner .item .carousel-caption{ margin-bottom: 120px;  }
/*start updating on bootstrap*/
.navbar-nav{ float: right; }



.navbar-inverse .navbar-nav > li > a{ color: #fff; font-size: 15px; }
.navbar-inverse .navbar-nav > li > a:hover{ color: #fff; }
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover{ background-color: transparent; }
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{ color: #fff; }
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{ color: #fff; }
.navbar-inverse .navbar-brand{ color: #fff;  }
.navbar-inverse .navbar-brand:hover{ background-color: ; }
.navbar-inverse .navbar-brand span{  font-size: 18px; }
.dropdown-menu{ background-color: #1F1F1F; margin: 2px -26px 0px; min-width: 200px; margin-left: -104px; border-radius: 10px;  }
.dropdown-menu > li > a{ color: #fff; padding: 5px 9px; font-size: 15px;  } 

.navbar-brand{ font-size: 28px;  }
 
.navbar-inverse{ background-color: #1F1F1F; }

.carousel-indicators{ bottom: 0px; }
.carousel-indicators li{ width: 13px; height: 13px; border: 1px solid #fff; }
.carousel-indicators .active{ width: 15px; height: 15px;  }




/*End updating on bootstrap*/

/*Start Hover.css*/

/*End Hover.css*/
/* start section puechase*/
.sell-now{ min-height: ; padding-top: 40px; padding-bottom: 40px; }
.sell-now .sell{ min-height:; }
.sell-now .sel h2{ font-size: 3em; font-weight: bold; }
.sell-now .sel h3{ padding-bottom: 30px; font-weight: bold; font-size: 32px; }
.sell-now .sel .buttons .show-more { width: 550px;
            border-radius: 30px;
            opacity: 0.9;
            
            padding: ;
            margin-top: 25px;
            height: 52px;
            margin-bottom: 30px;
            color: #fff;
            font-size: 22px;
            border: none;
          -webkit-transition: all .5s ease-in-out; 
          -moz-transition: all .5s ease-in-out; 
          -o-transition: all .5s ease-in-out; 
          transition: all .5s ease-in-out; }
.sell-now .sel .buttons .show-more:hover{ opacity: 1; color: #000;  } 

.sell-now .sel .buttons i{ padding-right: 15px; font-size: 30px; padding-right: 40px;} 

 /* End section puechase*/  




 /**/


 /**/  
