@charset "utf-8";
/* CSS Document */

html{ background:#282828;}
#wrapper{ background-color:#FFF; width:1100px; height:; padding:0 50px; margin:0 auto; margin-top:10px;}
#header{ height:235px; width:1150px; background:url(../_images/H-pencils.jpg) no-repeat top right;}
#logo{ padding-top:65px;}
#logo img{ width:285px; height:118px;}
#menu{ width:1100px; height:40px; background:url(../_images/menu.jpg) no-repeat;}
#menu ul{ float:left;}
#menu ul li { float:left; min-width:75px; line-height:40px; padding:0 20px;}
#menu ul li a{ text-decoration:none; color:#fff; font-family:Verdana, Geneva, sans-serif; font-size:14px;}
#menu ul li a:hover{ color:#F60;}
#menu h1{ font-family:Verdana, Geneva, sans-serif; font-size:14px; line-height:40px; color:#fff;margin-left:60px; float:left; }
#slinks{ float:right; margin-right:20px; margin-top:4px;}
#slinks h1{ margin-right:30px; margin-top:-4px; }
#slinks img{ width:30px; height:30px; margin-left:5px;}

#contents{ width:1100px; clear:both; min-height:300px; }

#sidebar{ width:270px; float:left; min-height:200px;}
.side{ width:270px; background:url(../_images/side_back1.png) repeat-y; min-height:200px; padding-top:20px;  }
.side_head{ width:270px; height:55px; background:url(../_images/red_sidebar.png); no-repeat;  }
.side h1{ color:#fff; font-family:Verdana, Geneva, sans-serif; font-size:16px; line-height:45px; margin-left:40px; }
.side_body{}
.side_body ul{ padding-left:50px;}
.side_body ul li{ list-style-image:url(../_images/arrow.jpg); }
.side_body ul li a{ text-decoration:none; color:#000; font-size:16px; font-family:Verdana, Geneva, sans-serif; line-height:25px;}
.side form{ text-align:center; margin-top:20px; }
.side input[type="text"]{ width:185px; height:15px; margin-bottom:10px; padding:5px;}
.side input[type="submit"]{ width:124px; height:25px; background:#2b2b2b; color:#fff; border:0; border-radius:5px; }

#conts{ width:810px; min-height:330px; float:right; }

#slider{ width:810px; height:330px; background:url(../_images/slider-header.jpg); no-repeat;  }

#latestprojects{ margin-top:20px;}
#latestprojects h1{ font-family:Verdana, Geneva, sans-serif; font-size:16px; color:#dc162f; margin-bottom:20px; }
.projects{ width:395px; height:100px; float:left; margin-bottom:15px; line-height:18px;}
.projects:nth-child(even){margin-right:20px;}
.projects img{ float:left; margin-right:10px;}
.projects h2{ font-family:Verdana, Geneva, sans-serif; font-size:14px; color:#000;}
.projects p{ font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#333; text-align:justify; }
.projects a{ text-decoration:none; color:#F00; float:right;}

#footer{ margin-left:-50px; width:1150px; height:399px; background:url(../_images/black_shape.jpg) no-repeat top; padding-top:100px; clear:both; padding-left:50px;}
#send{ width:257px; min-height:200px; float:left; }
#send input[type="text"]{ width:247px; height:15px; background:#eae8e8; border-radius:5px; margin-bottom:10px; padding:5px; }
#send textarea{ width:247px; padding:5px; height:150px; border-radius:5px; background:#eae8e8; margin-bottom:10px; }
#send input[type="submit"]{ width:160px; height:30px; background:#eae8e8; border-radius:5px; color: #000; font-size:15px; }

#contacts{ float:right; font-family:Verdana, Geneva, sans-serif; color:#fff; width:600px; font-size:14px;}
#contacts img{ float:left; margin-right:20px;}
#contacts a{ text-decoration:none; color:#0F6; }
#contacts a:hover{ color:#F00;}
#contacts div{ float:left; }
