body{
      margin: 0px;
      
}

.register{
      height: 370px;
      margin: 0px;
      background-image: url(../images/25.jpg);
      position: relative;
      text-align: center;
      padding-top: 300px;
      background-size: cover;
      
      
      
}
.register span {
      color: red;
}
.register .IP{
      height: 40px;
      width: 300px;
      margin: 9px;
      border-radius: 100px;
      background: transparent;
      text-align: center;
      color: red;
      
}
.register .checkbox{
     margin-top:  10px;
}
.register .rm {
      font-size: 20px;
      color: #ba0c2f;
      width: 100px;
}
.register .submit{
      color: #f4f7f9;
      margin-top: 10px;
      height: 50px;
      width: 200px;
      text-align: center;
      background: #613854;
      border: 0px;
      font-size: 25px;
}
.footer {
	background-color: #191e22;
	color: #6A6E71;
	padding: 20px 0;
	text-align: center;
}

.footer .container .a {
	color: #6A6E71;
}

.Ultras {
	color: red;
}

a:link {
	text-decoration: none;
}