body {
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
}

div {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  }

span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  mix-blend-mode: screen;
  font-family: 'Montserrat', sans-serif;
  font-size: 12em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-shadow: 32px 1px 0px rgba(237, 16, 16, 1);
  opacity: 0;
  animation: revolve 2s cubic-bezier(0.47, 0.01, 0, 1.01) forwards 0.5s;
}
@keyframes revolve {
  to {
    opacity: 1;
    text-shadow: -2px 1px gray,  -3px 2px white,  -4px 3px gray,             -5px 4px red,  -6px 5px red, -7px 6px red, -8px 7px red, -9px 8px red, -10px 9px white, -11px 10px gray, -12px 11px white;
  }
}

