/* CSS Document */
html {background-color:black }

#Wrapper { background-color:white; width:1000px; margin:0px auto }

#Header { background: url(images/Header.gif) repeat-x; height:178px }

#Logo { float:right; margin-top:38px; margin-right:20px }

#SLinks { padding:6px 0 0 20px}

#Menu { background:url(images/Shadow.gif) no-repeat; height:69px; width:1000px; margin-top:0px}

#Navbar { float:right }
#Navbar ul {float:right}
#Navbar ul li {float:right; line-height:40px; padding:0 20px}
#Navbar ul li a { color:#5c5b5b; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:20px}
#Navbar ul li:first-child a {color:#ae0404; font:bold}
#Navbar ul li:hover a {color:#ae0404}

#Search {direction:rtl; float:left; margin-left:20px; line-height:44px}
#Search input[type = text]{width:207px; height:29px; padding-right:16px; color:#b1b0b0; font-family:Tahoma; font-size:18px; border:1.5px solid #b0b0b0}
#Search input[type = submit] {background:url(images/search.gif) no-repeat; height:32px; width:32px; border:0; margin-right:0.25px}

#Main-Content { width:1000px; clear:both}
#Right-bar {width:200px; margin:0 20px; float:right}
#Right-Menu { direction:rtl; background:url(images/Right-Slide.gif) no-repeat; height:335px; padding-right:30px}
#Right-Menu h1 { color:#5c5b5b; font-size:24; text-align:center; padding-top:10px; padding-bottom:15px; margin-left:25px }
#Right-Menu ul {}
#Right-Menu ul li { list-style-image:url(images/Arrow.gif)}
#Right-Menu ul li a { text-decoration:none; color:#5c5b5b; font-family:"Times New Roman", Times, serif; font-size:18px}
#Right-Menu ul li:hover a { color:#ae0404; text-decoration:underline}

.Right-Ads {text-align:center; ; margin:15px auto}
.Right-Ads img { width:200px; height:250px}
.Right-Ads h2 { color:#f90505; font-family:Tahoma; font-size:14px; margin:5px auto }
.Right-Ads h3 { color:#060606; font-family:Tahoma; font-size:14px; margin-bottom:4px }
.Right-Ads a { color:#0a2cfa; font-family:Tahoma; font-size:14px; text-decoration:none}





#Footer {width:1000px; height:50px; clear:both; text-align:center}
#Footer hr {height:4px; background-color:#ae0404; border:none}
#Footer a { line-height:25px; font-size:20px; color:#1c1616; text-decoration:none}
#Footer a:hover {color:#ae0404}