/* CSS Document */
@import "compass/reset";
@import "compass/css3";
body{
 background:url(../computer_keyboard_mouse_laptop_mac_apple_66734_3840x2160.jpg) no-repeat top center fixed;
   background-size: cover; 

    }
#logo { width=60px; height: 60px; padding-top: 10px;}

/***********start eidt bootstrap*************/

.navbar-inverse .navbar-nav > .active > a {
    color: #c4af00
}
.navbar-inverse .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .active > a:hover{
    color: #c4af00
}
.navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
    
}
.nav > li > a {
padding: 25px 15px;
}
.navbar-brand {
    font-size: 30px;
    line-height: 30px;
    
}
.navbar-inverse .navbar-brand {
    color: #c4af00
}
.navbar-btn {
    background-color: #101010;
    border: none;
    color: #c4af00;
    margin-top: 20px;
    font-size: 18px;
}
.navbar-btn:hover {
    background-color: #c4af00;
    color: #ecf0f1;
}

/***********end eidt bootstrap*************/
.form-control{ background: #000; color: aliceblue ; height: 7%; font-size: 20px;}
.checkbox{ color: black;}
#terms{ color: blue}
.fm {
    margin-top: 70px; }
     
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (mobail, 280px and up) */
@media (min-width: 164px) {
    .fm {
      border-radius: 10px;
  background-color: rgba( 255, 255, 255, 0.471 );
  opacity: 0.600;
        padding: 10px;
    top: 40px;
    }
    .btn-defaul{ background: #c4af00; margin-left: 50%; width: 50%; color: black;  font-size: 20px;}

}


/* Small devices (mobail, 280px and up) */
@media (min-width: 280px) {
    .fm {
      border-radius: 10px;
  background-color: rgba( 255, 255, 255, 0.471 );
  opacity: 0.600;
        padding: 10px;
    top: 40px;
    }
    .btn-defaul{ background: #c4af00; margin-left: 50%; width: 50%; color: black;  font-size: 20px;}

}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .fm {
      border-radius: 10px;
  background-color: rgba( 255, 255, 255, 0.471 );
  opacity: 0.600;
  left: 100px;
  top: 40px;
        padding: 10px;

    }
    .btn-defaul{ background: #c4af00; margin-left: 50%; width: 50%; color: black;  font-size: 20px;}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
   .fm {
      border-radius: 10px;
  background-color: rgba( 255, 255, 255, 0.471 );
  opacity: 0.600;
  left: 209px;
  top: 100px;
       padding: 10px;
    }
    .btn-defaul{ background: #c4af00; margin-left: 50%; width: 50%; color: black;  font-size: 20px;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .fm {
  border-radius: 10px;
  background-color: rgba( 255, 255, 255, 0.471 );
  opacity: 0.600;
  left: 280px;
  top: 100px;
        padding: 10px;
  
}
    .btn-defaul{ background: #c4af00; margin-left: 50%; width: 50%; color: black;  font-size: 20px;}
}

/*.btn{ background:#000; color:aliceblue; margin-right:2%; font-size: 20px; }
.fm{ width: 35%; color: aliceblue; margin-left: 35%; padding-top: 9%;}
.form-control{ background: #505052; color: aliceblue; width: 80%; height:6%;}
.btn-default{ width: auto;}
#terms{ color:darkgoldenrod;}*/


