
body {
 background-image:url(../IMAGES/lucho-71.jpg);
 background-size:cover;
 background-attachment: fixed;
 height: 4000p;
}
.container {
 width: 1070px;
 margin: auto
}

/* First header style */
.header .slider {
background-image: url(../IMAGES/0003.jpg);
 background-size:cover;
 height: 700px;
 opacity: 1;
 overflow: hidden;
}
.header .slider h1 {
 text-align: center;
 margin-top:1%;
 font-size: 200px;
 color: red;
 opacity: 1;
 font-family: 'Baloo Paaji', cursive;
 -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: white;
}

.header .slider h1 span {
 color: #005183;
}
.header .navbar {
 background-color: #1D1E22;
 color: white;
 overflow: hidden;
 text-transform: uppercase;
 height: 60px;

}

.header .navbar h2 {
 float:left;
}
.header .navbar h2 span {
 color: red;
}
.header .navbar ul {
 list-style: none;
 padding-left: 0;
 overflow: hidden;
 float:right
}
.header .navbar ul li {
 float: left;
 padding:10px;
}
/* Last header style */

/* first features */
.features {
 overflow: hidden;
 padding-bottom: 20px;
 padding-top: 20px;
}
.features .feature {
 float:left;
 width: 33.3333%;
 height: 150px;
 background-color: azure;
 border:5px red dotted;
}
.features .feature h2 {
 text-transform: uppercase;
}

/* end first features */
/* Strat About Me */
.about-me {
 background-color: #1ABC9C;
 overflow: hidden;
}
.about-me .image {
 float: left;
 width: 40%
}
.about-me .image img {
 width:100%;
}
.about-me .info {
 float: right;
 width: 60%;
 position: relative
}
.about-me .info .hobby {
 margin: 20px;
 overflow: hidden;
}
.about-me .info .hobby > div {
 width: 50%;
 min-height: 100px;
 float: left;
}

/* End About me */
/* Start Skills */
.myskills {
 padding-top: 30px;
 padding-bottom: 30px;
 overflow: hidden;
}
.container .skills,
.container .progress {
 float: left;
 padding-top: 30px;
 padding-bottom: 20px;
 
}
/* End Skills */
/* resume */ 
.resume {text-align: center;
background-color: cadetblue;
padding-bottom: 20px;
padding-top: 30px;}
/* resume */
.myeducation {
 padding-top: 30px;
 padding-bottom: 30px;
 overflow: hidden;
}
.container .education {
 float: left;
 padding-top: 30px;
 padding-bottom: 20px;
}
 /* End Resume */ 

 
 /* portfolio */
.portfolio {
 padding-top: 30px;
 padding-bottom: 30px;
 text-align: center;
}
.portfolio .our-work {overflow: hidden;}
.portfolio .our-work > div {
 float: left;
 width: 33.333333%;
 margin-bottom: 10px;
}
