*{padding: 0;
margin: 0;

-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing: border-box;
}
body{background-color: white;font-family: arial; }

.container{width:1100px; margin: auto;}

.clearfix{clear: both;}
/*start slider*/
.slider{background-image: url('../images/slider.jpg') ;background-size: cover;}
 
.slider .intro {
text-align: center;

height: 900px;
padding-top: 250px;
color: white;

}
.slider .intro h1 {margin:0 auto ;text-transform: capitalize;width: 1000px;
 border-bottom: solid 3px white ;
border-top: 3px solid #fff;
width: 400px;
padding: 5px;font-size: 50px;
    }
.slider .intro button{ font-size: 30px;margin-top: 10px;padding: 5px;padding-right: 15px; padding-left: 15px; text-transform:lowercase; background:none;border: solid 3px white;color: white;}
.slider .intro button:hover{background-color:brown;color:#F8F4E3;}
/*start nav*/

.nav{ background-color: brown;overflow: hidden;color:#FFFFFF;padding: 10px; }
.nav h2{float: left;letter-spacing: 3px;}
.nav ul{overflow: hidden;float: right;}
.nav ul li { float: left;padding:10px;color:#FFFFFF ;list-style: none;letter-spacing: 2px;cursor: pointer;}
.nav ul li a{text-decoration: none;color: #FFFFFF;text-transform: capitalize; }
.nav ul li a:hover {color: #009688 }
.nav .active{color: #009688; }

/*start featurers*/
.features{ padding-top:50px;overflow: hidden;background-color:#F8F4E3;}
.feat{float: left;width: 33.33333%; padding: 10px;height: 200px;overflow: hidden;}
.feat h2{color:#91684a;text-transform: capitalize;letter-spacing:1px;}
.feat p {line-height: 30px;padding-top: 30px;color: #555; letter-spacing:1px;}
/*start ABOUT*/
.about-me{background-color:white; #e3e3e3 ; overflow: hidden;margin-bottom:0;}
 .about-me .image{float:left; width:40%;}
 .about-me .image img{width:100%;height:600px;}
.about-me .info{float:right; width:60%;padding-left:60px;}

.about-me .info .aboutt h2{padding-top:30PX; color:#91684a;text-transform: capitalize;letter-spacing:1px;}
.about-me .info .aboutt p{line-height: 30px;color:#888;letter-spacing:1px;}
 .about-me .info .aboutt .pa{padding-top:30PX;}
.about-me .info .aboutt .pc{line-height: 30px;margin-bottom:30px;margin-top:-10px;}

.about-me .info .hoppies > div{float: left; width: 50% ;padding-left:55px;padding-top:10px;}
.about-me .info .hoppies  img{width:40px;margin-left:-60px;margin-bottom:-70px; }
.about-me .info .hoppies > div h3{color:#91684a;letter-spacing:1px;}
.about-me .info .hoppies > div p{line-height: 30px;color:#888;letter-spacing:.5px;padding-top:10px;}
/*start my skills*/
.skills{overflow:hidden; padding-top:50px;padding-bottom:50px;background-color:#F8F4E3;}
.skills .my-skills {width:50%; float:left;}
.skills .my-skills h2{color:#91684a; padding-bottom:30px;letter-spacing:1px;}
.skills .my-skills p{line-height:1.7;padding-bottom:30px;letter-spacing:1px;color:#555;}
 button{padding:15px 20px 15px 20px;font-size:15px;background-color:#91684a;color:#F8F4E3; border:0px solid #A3320B;border-radius:2px;letter-spacing:1px;text-transform:capitalize; }
 button:hover{background-color:#F8F4E3;color:#A3320B;border:1px solid #A3320B;}

.skills .prog{width:50%; float:right;margin-left:20px;}
.progress{padding-left:70px;overflow:hidden;}
.progress > div {margin-bottom:30px;display:block; }
label{display:block;padding-top:13px;padding-bottom:10px;letter-spacing:1px; color:#91684a;font-weight:bold;}
.pro {width:400px; background-color: #A3320B ;float:left; display:block; height:25px;border-radius:5px;}

span{ background-color:#d1bfa7; color:white;float:right;height:25px;border-radius:4px;}
.pro .prog{float:left;}
.pro .prog p{float:right;color:#F8F4E3;text-align:center;letter-spacing:2px;color:#F8F4E3;}
 
.a{width:20%} .b{width:25%;}.c{width:30%;}.d{width:10%;}
/*start resume*/

.resume{padding-bottom:70px;text-align:center;padding-top:70px;}
.resume h2{padding-bottom:20px;letter-spacing:1px;color:#91684a;}
.resume p{letter-spacing:1px;padding-bottom:20px;line-height:30px;color:#888;}

/*start education*/

.education{overflow: hidden;  padding-top: 50px;background-color: #F8F4E3;}
.my-education{float:left; width:50%;padding-bottom: 350px;}
.diploma{float:right;width:50%;padding-left:70px ;}
.education h2 , .education h3{color:#91684a; padding-bottom:10px;letter-spacing:1px;text-transform: capitalize;}
.education h2{padding-bottom: 20px;}
.education p{line-height:1.7;padding-bottom:10px;letter-spacing:1px;color:#555;}
.gpa{color: #F8F4E3;background-color: #A3320B;width:80px;padding: 5px 10px 5px 10px;}
.pd{margin-bottom: 50px; }
 hr{margin-bottom: 20px;margin-top:30px;  
     color:#e8ddd9; border-style:solid;}



/*start experience*/
.experience{overflow: hidden;  padding-top: 50px;background-color: #F8F4E3;}
.work-experience{float:left; width:50%;}

.experience h2 , .experience h3{color:#91684a; padding-bottom:10px;letter-spacing:1px;text-transform: capitalize;}
.experience h2{padding-bottom: 20px;}
.experience p{line-height:1.7;padding-bottom:10px;letter-spacing:1px;color:#555;}

/*start testemonials*/

.testemonials{padding-bottom:70px;text-align:center;padding-top:70px;}
.testemonials h2{padding-bottom:20px;letter-spacing:1px;color:#91684a;padding-top: 20px;text-transform: capitalize;}
.testemonials q{letter-spacing:1px;padding-bottom:20px;line-height:30px;color:#888;font-style: italic;font-weight: bold;font-size: 18px;}
.testemonials ul{list-style: none;text-align: center;padding-left: 0;}

.testemonials ul li{display: inline-block;border:solid 2px brown;height: 15px; width: 15px;cursor: pointer;}
.testemonials ul li.active{background-color: brown;}
.testemonials ul li:hover{background-color: brown;}
 
/*start portfolio*/

.portfolio{padding-bottom:70px;text-align:center;padding-top:70px;background-color: #F8F4E3; }
.portfolio h2{padding-bottom:20px;letter-spacing:1px;color:#91684a;text-transform: capitalize;}
.portfolio p{letter-spacing:1px;padding-bottom:20px;line-height:30px;color:#555;}

.portfolio .designs{overflow: hidden;}
.portfolio .designs > div {float: left; width:33.33333%;margin-bottom: 30px;} 
.portfolio .designs > div img{width: 350px;height: 350px;background-color: white;border: 1px solid #ccc;box-shadow: 10px 10px 10px #ccc;}

/*start contact me*/

.contact{overflow: hidden;  padding-top: 50px;background-color: #5e0231;padding-bottom: 30px;}
.contact-me{float:left; width:50%;}

.contact h2 {color:#91684a; padding-bottom:10px;letter-spacing:1px;text-transform: capitalize;}
.contact h4{color:#91684a; padding-bottom:5px;letter-spacing:1px;text-transform: capitalize;}
.contact h2{padding-bottom: 20px;}
.contact p{line-height:1.7;padding-bottom:30px;letter-spacing:1px;color:#bbb;font-size: 15px;}
.inputs{float:right;width:50%;padding-left:70px ;}
.inputs input{background-color:#F8F4E3;;border: none;margin-bottom: 20px;width: 80%;height: 30px;}
textarea{width: 80%;height: 150px;margin-bottom: 20px;}
strong{color:#91684a;}
/*start social*/
.social{background-color: white;}
.social p{line-height:1.7;padding-bottom:20px;letter-spacing:1px;color:#777;font-size: 15px;text-align: center;padding-top: 20px;}
.social ul{list-style: none;text-align: center;padding-bottom: 20px; }
.social ul li{display: inline-block;cursor: pointer;}
.social ul li img{width: 40px;}