<style type="text/css">
/*Text Styles*/
.fs16 {font-size: 16px;}
.font {font-size: 16px;font-family:Arial,Helvetica,sans-serif;
font-style:normal;font-weight: normal;}
/*Link Styles*/
a.style1:link{color:white;
text-decoration:none!importent;}
a.style1:visited{color:white;
text-decoration:none!importent;}
a.syle1:hover {color:white;backgroud:white;
text-decoration:none!importent;}
a.style1:active{color;white;background:white;
text-decoration:none!importent;}
/*index page*/
div.cont{position:relative; width:845px; margin:auto; text-align:left;}
</style>
