.navbar
{
    border-bottom: 3px solid #FA8072;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu .divider,
.carousel-indicators .active,
.subscribe button,
.subscribe button:hover,
.portfolio .grid figcaption,
.contact .contact-form .submit:hover,
.color-box .cog
{
    background-color: #FA8072;
}


.dropdown-menu{
    border-top: 2px solid #FA8072;
}

.color-box .clr{
	border: 3px solid #FA8072;
}

.navbar-inverse .navbar-brand span,
.subscribe h1 span,.subscribe h4 span,
.stat h1 span,
.stat .data .stat1:hover,
.skills h1 span,
.testimonials blockquote,
.contact .contact-form input,
.contact .contact-form textarea,
.contact .social a,
.contact .copy span
{
    color: #FA8072; 
}

.subscribe button,
.subscribe button:hover{
    border-color: #FA8072;
}

.cd-top {
  background: #FA8072 url('../imgs/cd-top-arrow.svg') no-repeat center 50%;
}
