/*

*/
body{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: #fff;	
	font-weight: 400;
	letter-spacing: 1px;
	background: #063252;
}

h1{
	font-size: 32px;
	margin: 40px 0;

}
/*
header

*/

header{
	background:url(../images/header.jpg) top center repeat-y ;

	min-height: 760px;
	width: 100%;
	padding: 50px;

}

/*navbar*/

.navbar{
background: 0;
padding: 0;
border: 0;


}
.navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:focus,
 .navbar-default .navbar-nav > .active > a:hover
 {
 	background: 0;
 	color: #ff9;
 	border-bottom: 5px solid #ff0;
 }
 .navbar-default .navbar-nav > li > a{
 	padding: 10px;
 	color: #fff;

 }

  
  .navbar-default .navbar-nav > li > a:hover{
  	color: yellow;
  	border-bottom: 5px solid #ff0;
  }



  


 
 .search .btn-success,.dev{
 	background: #16a085;
 	border-color: #16a085;
 }
 
 /*
slogan
 */
 .slogan{
 	margin-top:7%;
 }
.slogan h3{
	font-size: 36px;
	font-weight: 300;
	
	margin-bottom: 30px;


}
.slogan h1{
	font-size: 50px;
	color: #ff0;
	margin-bottom: 30px;
}
.slogan p {
	font-size: 22px;
	text-align: justify;
	margin-bottom: 5%;
	font-weight: 300;

}
.slogan p span{
 	color: yellow;
 	font-weight: 700;	
 	text-decoration: underline;
}

 
.buttons{
	margin-top: 5%;



}
.buttons .btn{
	border-radius: 10px;
    font-size: 20px;
    line-height: 0;
    margin-left: -8%;
    padding: 23px 0;
	
}


.Portfolio{
	background: url(../images/webdesign12.jpg) center repeat-y;
	width: 100%;
	min-height: 760px;
}

.Portfolio h1{
	 
	
	color: #219452;
	 
	

}
.Portfolio p{
	color: #000;
	font-size: 17px;
	font-family: tahoma;
	-ms-text-justify: ;
	text-align: justify;
	direction: rtl;
	line-height: 35px;
	margin-bottom: 40px;

}
.Portfolio img{
	border: 2px solid #16A085;

}

/*courses*/
.courses{
	background:url(../images/stunning.jpg) top center repeat-y  ;
	min-height: 760px;
	width: 100%;
}
 .courses h1{
 	color: #ff0;
 }
.courses .pre  {
	margin: 40px 0;


}

.crs h2{
	border-radius: 3px 3px 0 0;
	background: #16A085;
	height: 40px;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 15px;
	line-height: 40px;


	

;
}
.crs img{
	border-radius: 0 0 3px 3px;

}
.crs span{
	font-size: 60px;
	margin-top: -110px;
	color: #16a085;
	margin-left: 55px;
	display: block;
	background: 0 !important;
}

.devl {margin-top: 40px;  }

 .crs:nth-child(2) h2,.crs:nth-child(2) span {
	color: #27ae60;	
	background: #27ae60;
}
.crs:nth-child(3) h2,.crs:nth-child(3) span {
	color: #297FB8;	
	background: #297FB8;
}
.crs:nth-child(4) h2,.crs:nth-child(4) span {
	color: #315478;	
	background: #315478;
}
.crs:nth-child(5) h2,.crs:nth-child(5) span {
	color: #2C3E50;	
	background: #2C3E50;
}
.crs:nth-child(6) h2,.crs:nth-child(6) span {
	color: #27ae60;	
	background: #27ae60;
}
.crs{

	min-height: 216px;

}
.crs h2{
	border-radius: 3px 3px 0 0;
	background: #16A085;
	height: 40px;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 15px;
	line-height: 40px;
	color:#fff !important;

	

;
}
/*gallery*/

.gallery{
	background: url(../images/background-desktop.jpg)center no-repeat;
	width: 100%;
	min-height: 760px;
}

.slides{
	padding-top:59px ;
	padding-left: 92px;
	  }

.arrows{
	padding-top: 25%;
}

.arrows a:first-child {
	font-size: 50px;
	color: #063252;
}

/*students*/

.students{
	background:url(../images/crecimiento_del_elearning.jpg)top center repeat-y;
	width: 100%;
	min-height: 760px;
}
.stud .pre{
	margin-top: 40px;
}


 .students img{
	width: 255px;
	height: 263px;
}
.students h1{
	color: #FF0;
}
.sp2{
	margin-top: 50px;
}

/*article*/

.articles{
	 background:url(../images/portfolio2.jpg)center repeat-y;
	 width: 100%;
	 min-height: 760px;
}

.articles h1{
	color: #FF0;
}

.pre{
	margin-top: 40px;
}


.articles .preq {
margin-top: 40px;
width: 212px;
height: 45px;
background: #fff;
border-radius: 5px;
display: block;

}
.articles img{
	height: 260px;
	width: 255px;

}

.articles h2{
	margin-top: 0;
	height: 100px;
	width: 100%;
	background: #00385E;
	font-size: 19px;
	line-height: 33px;
	text-align: center;
}
 .preq .prj{
 	color: #000;
 	line-height: 40px;
	text-align: center;
}
.preq a{
	border:0;
}
.preq .arrow-left{

}
.preq {
	padding: 5px;
}


/*contact*/

.contact {
	background: url(../images/help.jpg) center repeat-y;
	width: 100%;
	min-height: 760px;
}

.contact h1{
	color: #fe0;
}

.contact input[type="text"]{
	width: 80%;
	margin-bottom: 20px;
	background: 0;
	color: #fff	;

}

.contact textarea{
	background: 0
	;
	margin-bottom: 20px;
	color: #fff	;
	height: 255px;
	font-size: 15px;
}

.contact input[type="submit"]{
	width: 40%;
}


.mycontact{
	clear:  both;
	margin-bottom: 50px;
}

.mycontact h3{
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;

}

.mycontact img{
	float: left;	
	margin-right: 50px;
}

.mycontact a {
	color: #fff;
}

.copy{
	color: #FBEA23;
	margin-top: 70px;
}