*{ margin: 0 auto; padding: 0px;}
body { background-color: #077054;}
header{ width: 500px; text-align: center;height: 80px;}
header h1 { font-size: 50px;padding: 10px;color: #99fa99;}
a{ text-decoration: none;color: #99fa99;}
span{ font-size: 25px;}


.home {
    margin: 40px auto;background-color: white;width: 750px;height: 700px;
}

.home .in {padding: 40px;width: 90%; height: 90%;}


.bord {
    margin: 4px;width: 95%; height: 95%;
}

.text {
    width: 50%; height: 50%; float: left;
}
h3{ padding: 7px; font-size: 95px; margin-left: 70px;font-weight: bold; color: #21a51e;border-bottom: 5px solid#21a51e;}
h2{ font-size: 60px; margin-left: 70px; font-weight: bold;color:#21a51e}

.im {
    padding: 20px;
}

.tex {
    text-align: center; float: center;
}
.tex h5{ font-size:20px; color: #74c654;line-height: 25px;}
