
 html {
 font-size: 100%;
 }

/* iPhone 6s Portrait View Model */
 
 @media all and (max-width: 375px) {
 #header-nav {
 position: fixed;
 background-color: rgba(238, 238, 238, 0.8);
 top: 0px;
 left: 0px;
 height: 4.5em;
 width: 100%;
 z-index: 9999;
 }
 }
 
 @media all and (max-width: 375px) {
 #phone-icon {
 display: block;
 position: absolute;
 height: 4.1875em;
 top: 0.2em;
 left: -0.4em;
 z-index: 9999;
 }
 }
 
 @media all and (max-width: 375px) {
 #header-nav-text {
 display: block;
 position: fixed;
 font-family: 'Allerta';
 font-size: 25px;
 top: 0.15em;
 left: 14%;
 z-index: 9999;
 }
 }
 
 @media all and (max-width: 375px) {
 #container {
 display: block;
 position: absolute;
 background-color: #EC4F36;
 height: 50%;
 width: 100%;
 z-index: -9999;
 top: 0px;
 left: 0px; 
 }
 }
 
 @media all and (max-width: 375px) {
 #heading {
 display: block; 
 position: absolute;
 font-family: 'Allerta';
 color: white;
 font-size: 28px;
 top: 3em;
 left: 0.6em;
 }
 }
 
 @media all and (max-width: 375px) {
 #heading-hr {
 display: block;
 position: absolute;
 border-top: 3px solid white;
 width: 14%;
 top: 9.3em;
 left: 18px; 
 }
 }
 
 @media all and (max-width: 375px) {
 #heading-paragraph {
 display: block; 
 position: absolute;
 color: white;
 font-family: 'Allerta';
 font-size: 18px;
 left: 0.98em;
 top: 9em;
 }
 }
 
 @media all and (max-width: 375px) {
 #container2 {
 display: block;
 position: absolute;
 height: 78%;
 width: 100%;
 z-index: -9999;
 top: 20.9em;
 left: 0px; 
 
 }
 }
 
 @media all and (max-width: 375px) {
 #whoami-header {
 display: block;
 position: relative;
 text-align: center;
 font-family: 'Allerta';
 color: #424949;
 top: 0.8em;
 }
 }
 
 @media all and (max-width: 375px) {
 #self-portrait-image {
 display: block;
 position: relative;
 margin-left: auto;
 margin-right: auto;
 top: 1.2em;
 border-radius: 15px;
 }
 }
 
 @media all and (max-width: 375px) {
 #content-divider {
 display: block;
 position: relative; 
 border-top: 3px solid #424949;
 width: 68%;
 margin-right: auto;
 margin-left: auto;
 top: 1.8em;
 } 
 }
 
 @media all and (max-width: 375px) {
 #whoami-paragraph {
 display: block; 
 position: absolute;
 text-align: center;
 padding-right: 5%;
 padding-left: 5%;
 font-family: 'Allerta';
 color: #424949;
 top: 18.4em;
 font-size: 18px;
 }
 }
 
 @media all and (max-width: 375px) {
 #container3 {
 display: block;
 position: absolute;
 height: 50%;
 width: 100%;
 z-index: -9999;
 top: 53.5em;
 left: 0px; 
 }
 }
 
 @media all and (max-width: 375px) {
 #howdoesitwork-header {
 display: block;
 position: relative;
 text-align: center;
 font-family: 'Allerta';
 color: #424949;
 top: 0em;
 }
 }
 
 @media all and (max-width: 375px) {
 #question-mark {
 position: relative;
 display: block;
 height: 210px;
 top: 0.1em;
 margin-right: auto;
 margin-left: auto;
 }
 }
 
 @media all and (max-width: 375px) {
 #content-divider2 {
 display: block;
 position: relative; 
 border-top: 3px solid #424949;
 width: 68%;
 margin-right: auto;
 margin-left: auto;
 top: 0.4em;
 }
 }
 
 @media all and (max-width: 375px) {
 #howdoesitwork-paragraph {
 display: block; 
 position: absolute;
 text-align: center;
 padding-right: 5%;
 padding-left: 5%;
 font-family: 'Allerta';
 color: #424949;
 top: 17.1em;
 font-size: 18px; 
 }
 } 
 
 @media all and (max-width: 375px) {
 #pawprint-divider {
 display: block;
 position: relative;
 height: 170px;
 margin-right: auto;
 margin-left: auto;
 top: 8em;
 }
 }
 
 
 /* END OF VIEW MODEL */