#first{
	font-size:1oopx;
	font-family:roboto;
	font-weight:bold;
	
}
#secand {
	font-size:40px;
	font-family:roboto;
	
}

#third {
	font-size:40px;
	font-family:roboto;
	
}

#five {
	font-size:40px;
	font-family:roboto;
	
}

#six{
	font-size:40px;
	font-family:roboto;

}

