@media (max-width:767px)
{
    .test .carousel-indicators li{
        width:65px;
        height:65px;
    }
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
        max-height: 1000;
    }
    .our_clients li{
        width:33.333%
    }
    footer .img-thumbnail{
        width:45%;
    }
}
/*small screen*/
@media (min-width:768px)and (max-width:991px)
{
    
}
/*medium screen*/
@media (min-width:992px) and (max-width:1199)
{
    
}
/*large screen*/
@media (min-width:1200px)
{
    
}