body{
    padding-top: 61px;
}
.navbar{
    margin-bottom: 0;
}
.navbar-brand{
    margin-top: 4px;
}
.navbar-brand span{
    color:#e74c3c;
    
}
.navbar-brand:hover span{
    color:#f79187;
}
.navbar-nav > li > a{
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover{
    background-color: #e74c3c;
    color:#FFF;
}
navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
    background-color: #e74c3c;
    color:#eeffe4;
}
.dropdown-menu > li >a {
    transition:padding .5s ease;
    color:#fff;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
    background-color: #e74c3c;
    color:#FFF;
    padding-left:35px;
}
.navbar-right .dropdown-menu{
    right:auto;
    left:0;
    background: #413f3f;
}
.navbar-toggle{
    margin-top: 10px;
}
/* carousel */
.carousel{
   
}
.carousel-caption{
    top:30%;
}
.carousel-inner > .item > img{
    width:100%;
}
.welcome{
    margin: 80px 0 30px 0;
}
.welcome h2{
    margin-bottom: 20px;
    font-size: 40px;
}
.welcome span{
    color:#e74c3c;
}
.Features{
    margin-top: 20px;
    background: #EEE;
    padding: 30px 0 30px 0 ;
}
.Features .container > h2{
    margin-bottom: 60px;
    font-size:50px;
}
.Features .feat span{
    font-size:50px;
}
/* start test */ 
.test{
    margin: 50px 0 30px 0;
}
.test h1{
    margin-bottom: 20px;
}
.test .carousel-indicators{
    position: static;
    width:100%;
    margin-left: auto;
    margin-top: 20px;
    transition: all .5s ease-in-out;
}
.test .carousel-indicators div {display: inline;}
.test .carousel-indicators li{
    background: #222222;
    border:1px solid #FFF;
    text-indent: 0;
    width: 80px;
    height: 80px;
    border-radius:50%;
    overflow:hidden;
    opacity:.3;
}
.test .carousel-indicators li img{
    width: 100%;
}
.test .carousel-indicators .active{
    border:1px solid #E74C3C;
    opacity: 1;
}
.test .carousel-inner .lead{
    margin-bottom: 10px;
}
.carousel-inner span
{
    color:#E74C3C;
}
.price-table{
    background:#EEE;
    box-sizing: border-box;
    padding-top: 15px;
}
.price-table .row > div{
    margin-top: 20px;
}
.price-table .row .box {
    background:#FFF;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
    margin: 5px 0;
    padding: 5px 0px;
    border-radius:10px;
    display:block;
    
}

.price-table .row > div p{
    font-size:30px;
    width:100px;
    height:100px;
    background:#EEE;
    border-radius:50%;
    line-height:100px;
    border:1px solid #FFF;
    transition: all .5s ease-in-out;
}
.price-table .row > div:hover p{
    transform:scale(1.1,1.1) rotate(360deg);
    border:1px solid #EF9187;
}
.price-table .row > div ul{
    line-height: 250%;
}
.price-table .row > div ul li {
    padding:10px 0;
}
.price-table .row > div button {
    margin-bottom: 15px;
}
/* start our team */
.our_team{
    background: url(../image/team.jpg) no-repeat center fixed;
    background-size:cover;
    height:auto;
    width: 100%;

}
.team{
    min-height: 600px;
    background:rgba(0, 0,0,.5);
    color:#FFF;
    padding-top: 50px;
}
.team h1{margin-bottom: 50px;}
.person{
    margin-bottom:30px;
}
/* subscribe */
.subscribe{
    background:#EEE;
    padding: 50px 0;
}
.subscribe .form-control{
    border-radius:0;
    width:300px;
    
}
.subscribe button{
    border-radius:0;
}
/* start statistics */
.statistics{
    background:url(../image/16.jpg) no-repeat center fixed ;
    background-size:cover;
    height:auto;
}
.stat{
    min-height:400px;
    background:rgba(10,10,10,.5);
    color:#FFF;
    padding-top:70px;
    padding-bottom:40px;
}
.stat h2{
    margin-bottom: 50px;
}
.stat i{
    font-size:60px;
}
.stat p{
    margin-top:15px;
    font-size:20px;
    margin-bottom: 10px;
}
.stat span{
    margin-bottom: 50px;
    font-size:25px;
    display:block;
}
/*start our-skills*/
.skills{
    padding:50px 0;
}
.skills .row{
    margin-top: 40px;
}
.skills .pro{margin-top: 30;}
.skills .progress{
    height:30px;
}
.skills .progress .progress-bar{
    line-height:30px;
    text-align: left;
    text-indent:20px;
    font-size:18px;
    font-weight:bold;
}
/*start contacts us*/

.contacts_us{
    background:url(../image/contact3.jpg) no-repeat center fixed;
    background-size:cover;
}
.contacts{
    min-height: 500px;
    background:rgba(20,20,20,.5);
    color:#FFF;
    padding: 80px 0 ; 
}
.contacts .row textarea{
    height:106;
}
.contacts .row{
    margin-top: 30px;
}
.contacts .row textarea
{
    background: rgba(82,72,72,.5)
}
.contacts .row input{
    background: rgba(82,72,72,.5)
}
/*start our_clients*/
.our_clients{
    padding-top:20px;
    padding-bottom:20px;
    background:#EEEEEE;
}
.our_clients img{
    margin-top: 20px;
    margin-bottom: 20px;
    opacity:.4;
    transition:all .5s ease-in-out;
}
.our_clients img:hover{
opacity:1;
}
/*start footer*/
footer{
    padding-top:30px;
    background:#111111;
    color:#AAAAAA;
}
footer h2{
    color:#E74C3C;
    margin-bottom: 20px;
}
footer .map {
    overflow:hidden;
}
footer .map li{
    width:33.333%;
    float:left;
    margin-bottom:10px;
}
footer .social i{
    width: 60px;
    height:60px;
    border-radius:50%;
    line-height:60px;
    opacity: .5;
    transition: all .5s ease-in-out;
    cursor: pointer;
}
footer .social i:first-of-type{
    background: #3B5997;
    color:#FFF;
}
footer .social i:nth-of-type(2){
    background:#00ACEE;
    color:#FFF;
    margin-right: 10px;
    margin-left:10px;
}
footer .social i:last-of-type{
    background:#DB4437;
    color:#FFF;
}
footer .social i:hover{
    opacity:1;
}
footer .media{
    display: block;
    margin-bottom: 10px;
}
footer .img-thumbnail{
    background: rgba(0,0,0,.3);
    border:.5px solid #444;
    margin-bottom: 5px;
}
.copyright{
    background: #222222;
    color:#FFF;
    padding:15px 0;
    font-size:18px;
}
.copyright span{
    color:#E74C3C;
}
.option_box{
   position:fixed;
    top:100;
}
.color{
    background: #222222;
    width:150px;
    height:70px;
    float:left;
    border:3px solid #E74C3C;
    display:none;
    color:aliceblue;
}
.option_box ul li {
    width:20px;
    height:20px;
    background:#f50;
    display:inline-block;
    margin:5px;
    margin-top:0px;
}
.gear{
    color:#E74C3C;
}
/*start loading*/
.loading{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:9999;
    background: #EEE;
}
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
    top:40%;
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
.scroll-to-top{
    position:fixed;
    bottom:30px;
    right:20;
    background:#3b3838;
    color:#E74C3C;
    display:none;
    cursor: pointer;
}