
/* Load fonts by @font-face css3 property */
@font-face {
	font-family: "DroidKufi-Bold";
        src: url("../fonts/DroidKufi-Bold.eot"); /* IE 9 */
    	src: url("../fonts/DroidKufi-Bold.eot?") format("eot"), /* IE 6-8 */
             url("../fonts/DroidKufi-Bold.otf") format("opentype"), /* Other browsers */
    	     url("../fonts/DroidKufi-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
	font-family: "Ara  Hamah City_0";
        src: url("../fonts/Ara  Hamah City_0.eot"); /* IE 9 */
        src: url("../fonts/Ara  Hamah City_0.eot?") format("eot"), /* IE 6-8 */
             url("../fonts/Ara  Hamah City_0.otf") format("opentype"), /* Other browsers */
             url("../fonts/Ara  Hamah City_0.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
	font-family: "DroidKufi-Regular";
        src: url("../fonts/DroidKufi-Regular.eot"); /* IE 9 */
        src: url("../fonts/DroidKufi-Regular.eot?") format("eot"), /* IE 6-8 */
             url("../fonts/DroidKufi-Regular.otf") format("opentype"), /* Other browsers */
             url("../fonts/DroidKufi-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
	font-family: "k_kamran";
        src: url("../fonts/k_kamran.eot"); /* IE 9 */
        src: url("../fonts/k_kamran.eot?") format("eot"), /* IE 6-8 */
             url("../fonts/k_kamran.otf") format("opentype"), /* Other browsers */
             url("../fonts/k_kamran.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
	font-family: "hacen_liner_screen";
        src: url("../fonts/hacen_liner_screen.eot"); /* IE 9 */
        src: url("../fonts/hacen_liner_screen.eot?") format("eot"), /* IE 6-8 */
             url("../fonts/hacen_liner_screen.otf") format("opentype"), /* Other browsers */
             url("../fonts/hacen_liner_screen.ttf") format("truetype"); /* Safari, Android, iOS */
}

/*  Start General Style */
body{background: #fff;font-family: "DroidKufi-Regular";}
h6,.h4,h3,h5,h1,h2,h4,h6{font-family: "DroidKufi-Regular";}
spciel-head{position: relative}
.spciel-head:after{
content: '';
border-bottom: 3px solid #879d3b;
margin: 10px auto;
display: block;
width: 30px;
}

/*  Start  Style  Header*/
.navbar {min-height: 50px;margin-bottom: 0px;border: 1px solid }
.navbar-brand {padding: 5px 7px;}
.navbar-brand .h4{color:#879d3b;}
.navbar-brand h6{margin-right: 40px;margin-top: -3px}
.navbar-default  {border-color: #e7e7e7;background: #fff}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus { color: #71862a;
    background-color: #fff;}
/*  End  Style  Header*/



/*  Start  Style Sliders*/
.Sliders .Skitter {position: relative;max-width: 1300px;height: 300px;}
.Sliders .label_skitter {bottom: 30%;text-align: center;background:transparent;width: 100%;}
.Sliders .skitter-large .btn-default{background:#879d3b;color: #fff; }
.Sliders .skitter-large h1{color:#879d3b;margin-bottom: 30px}
.Sliders .skitter-large h4{margin-bottom: 30px}
/*  End Style Sliders*/

/*  Start  Style Contacts*/
.Contacts{padding-top:40px;padding-bottom:40px;background: #333;color:#fff;}
.Contacts p{color:#909599}
.Contacts h3 {margin-top: 0px;}
.Contacts .btn-default{background: transparent;color:#879d3b;border: 1px solid #879d3b; left:0;transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s; }
.Contacts .btn-default:hover{background:#879d3b; color:#fff;border:1px solid #879d3b; }
/*  End  Style Contacts*/

/*  Start  Style Serivers*/
.Serivers{padding-top:40px;padding-bottom:40px;background: #f7f7f7;}
.Serivers .Seriver{padding: 20px;background: #fff;margin-bottom: 20px;float: right;-webkit-transition: all .5s ease;

       -moz-transition: all .5s ease;

        -ms-transition: all .5s ease;

         -o-transition: all .5s ease;

            transition: all .5s ease;}
.Serivers .Seriver:hover{background: #879d3b;color:#fff}
.Serivers .Seriver i{width: 20%;margin-left: 5%;float: right;color:#879d3b; margin-top: 10px;}
.Serivers .Seriver .info{width: 73%;float: right;}
.Serivers .ser{ background:#879d3b;width: 100%;color:#fff;}
/*  End  Style Serivers*/

/*  Start  Style One-seriver*/	
.One-seriver{ background:#333;color: #fff }
.One-seriver .row{margin-right: 0;margin-left: 0}
.One-seriver .col-md-6{padding-left: 0}
.One-seriver .first{padding: 40px;}
.One-seriver .first p{color:#909599;margin-bottom:20px;margin-top: 20px}
.One-seriver .first .btn-default{background: transparent;color:#879d3b;border: 1px solid #879d3b;}
.One-seriver .secand img{ }	
/*  End  Style One-seriver */
	
/*  Start  Style Clinets*/		
.Clinets{padding-top:40px;padding-bottom:40px;background: #f7f7f7; }
.Clinets .serv-slider{border-left:20px solid #879d3b;background: #fff}
.Clinets .skitter .info_slide_dots { left:0%;top:-50px;}
.Clinets .skitter .info_slide_dots .image_number.image_number_select {background-color: #879d3b;}
.Clinets .skitter .info_slide_dots .image_number {background-color: #999;}	
.Clinets .skitter .container_skitter {background-color: #fff;}	
/*  End  Style Clinets */

/*  Start  Style Works*/	
.Works{padding-top:40px;padding-bottom:40px;}
.Works img
{width: 100%;
	-webkit-transition: all .5s ease;

       -moz-transition: all .5s ease;

        -ms-transition: all .5s ease;

         -o-transition: all .5s ease;

            transition: all .5s ease;}
.Works img:hover{
     -webkit-transform: scale(1.2);

        -moz-transform: scale(1.2);

         -ms-transform: scale(1.2);

          -o-transform: scale(1.2);

             transform: scale(1.2);
	overflow: hidden;
}
.item-work{padding: 0;overflow: hidden;
}
.Works .item-work:hover{}

/*  End  Style Works */

/*  Start  Style Our-clintes*/
.Our-clintes{padding-top:40px;padding-bottom:40px;background: #f7f7f7;}
/*  End  Style Our-clintes */

/*  Start  Style Footer*/	
.Footer{ padding-bottom: 40px; padding-top: 40px;background: #333;color:#909599;}
.Footer h5{}
.Footer span{color:#879d3b}
.Footer i{margin-left: 10px}
.Footer a{ color:#909599;}
/*  End  Style Footer */		

/*  Start  Style ScrollTop*/	
.ScrollTop{left:0;bottom:0;background: #879d3b;width: 40px;height: 40px;color:#fff;border-radius:50%;text-align: center;position: fixed;z-index: 9999;right: 15px; bottom: 10px;cursor: pointer;padding: 5px;display: none}
.ScrollTop{}
/*  End  Style ScrollTop */