@charset "utf-8";
/* CSS Document */

            /* Star menu bar*/

.navbar          {
                    margin-bottom:0
                 }

.navbar-default
                 {
                    border-bottom:none
                 }
.navbar-default
.navbar-collapse,
.navbar-default
                 {
                    background:#114d63;
                    position: 
                  }

.navbar-default
.navbar-nav>li>a
                {
                    color:#CDC9C9
                }

.navbar-nav>li>a
                 {
                 padding-top:20px;
                 padding-bottom:20px;
                 font-size:18px
                 }

.navbar>.container
.navbar-brand,
.navbar>.container-fluid
.navbar-brand
                {
                    color:#ffffff;
                    line-height: none
                }

                  /* end menu bar*/


                 /* Start head*/

.head .container-fluid
                    {
                     background: url(../image/header img.png);
                     max-width:100%;
                     height:850px
                    }

.container-fluid h1
                    {
                    margin-top:50px;
                    margin-bottom:50px;
                    color:#FFFFFF;
                    font-size:24px
                    }

.container-fluid h2 {color:#ffffff;}

.img-responsive
                    {margin-top:100px;
                    opacity: 0.7}


.info
                    {
                    margin-top:70px
                    }

.info .design h1
                    {
                    color:#f2f5a9;
                    font-size:26px;
                    margin:40px
                     }

.info .design p
                 {
                     color:#ffffff;
                     font-size:22px
                 }

.info .Coder h1
                {
                     color:#f2f5a9;
                     font-size:26px;
                        margin:40px
                }

.info .Coder p
                {color:#ffffff;
                font-size:22px;}

            
                 /* end head */


                /* start information*/

 #information
                {
                    background:url(../image/about.png);
                    max-width:100%;
                    height:850px
                }


 #About p       {
                    color:#3E0102
                }

 
 #About h1      {
                     font-size:35px;
                      color: #ffffff;
                        shadow:50%
                }

#information .Skills h1
a                       {   margin-top:50px;
                             margin-bottom:30px;
                             color:#000000;
                            font-size:24px
                        }

                /* end information*/


                /* Strat Portfilo */

#Portfilo
           {
              background: url(../image/portfilo%20back.png)
              ;max-width:100%;
               height:auto
             }

#Portfilo h1
          
            { color:#6E0608;
              font-size:30px
            }

            /* End Portfilo */

            /* Strat Contact*/

.flowmy  { background:url(../image/contact%20back.png);max-width:100%; height:820px}

#Contact .form-group .label for {color:red}

#Contact p {color:#FFFFFF}

label {color:#AAA3A3}

.form-control {width:400px; border-radius:18px;}

{margin-left:200px}

#Contact P {color:#01D1F3 ;width:750px; text-align: center; font-size:20px; margin-left:300px}

#contact .container-fluid h1 {color:#ffffff; margin:0}

#form-group {margin-left:50px}

.btn-primary {margin-left:146px; margin-top:15px; margin-buttom:10px}

#social h1 { color:#FFFFFF; margin:50px}

.sociallink {margin-buttom:10px; margin-left:570px}

.row {margin:0; padding:0}

/* End Contact*/

#Footer { background:#114d63; height:70px}
#Footer h1 {font-size:14px; font-style:italic}
#Footer h1 { margin-top:25px}