/***srart default olor ***/
.option-box .color-option ul li{ background: #E126D8; }
.option-box .gear-check{ color: #E126D8; }
.about h2 span{ color: #E126D8 ; }
.testmonials span{ color: #E126D8;   }
.testmonials .carousel-indicators li{ border: 3px solid #E126D8; }
.footer .copy-right strong{ color: #E126D8; }
.footer h3{ color: #E126D8; }
.navbar-inverse .navbar-nav > .active > a:hover{ background-color: #E126D8; }
.navbar-inverse .navbar-nav > li > a:hover{ background-color: #E126D8;  }
.navbar-inverse .navbar-brand span{ color:#E126D8;}
.dropdown-menu > li > a:hover{ background-color: #E126D8; }
.carousel-indicators .active{  background-color:#E126D8 ;  }
.footer .three-columns li a:hover{ color: #E126D8;}
/*** srart defaultc olor***/