

h1,h2,h3,lead

{font-family: cursive}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus 
 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.navbar-inverse .navbar-nav > li > a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #18AD67;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.navbar-inverse .navbar-nav > li > a:hover:before, .navbar-inverse .navbar-nav > li > a:focus:before, .navbar-inverse .navbar-nav > li > a:active:before {
  right: 0;
}

    
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus
{background-color:#18AD67;}

.navbar-inverse
{background-color:#111}

.navbar-inverse:hover
{background-color:#000}
.dropdown-menu 
{background-color:black;
 border-top:3px solid #18AD67;

}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
{background-color:#18AD67;
color:#000;
padding-left:30px;

}

.dropdown-menu > li > a
{color:#FFF;
    -webkit-transition:padding .5s ease;
    -moz-transition:padding .5s ease;
    -o-transition:padding .5s ease;
    -ms-transition:padding .5s ease;
    transition:padding .5s ease;
}



.dropdown-menu .divider
{background-color:#18AD67}

.navbar-right .dropdown-menu
{
 left:0px;
 right:auto;
opacity: .7
}

.navbar-inverse .navbar-brand
{font-size:24px;
font-weight:bold;
}

.navbar-inverse .navbar-brand span
{color:#18AD67}

/*-----------------------------------------------------*/




.contact-us
{
background:url(../writing-notes-idea-conference.jpg) no-repeat center center fixed;
min-height:400px;
color:#BBB;
background-size: cover;
}

.contact-us .fields
{
    background-color:rgba(1,1,1,.9);
    min-height:400px;
    padding-top:40px;
    padding-bottom: 40px
}

.contact-us p

{margin-bottom:40px}

.contact-us textarea
{
    height:107px
}

.contact-us input[type="text"],
.contact-us textarea
{
    background:rgba(140,78,78,.7);
    color:#EEE; 
    border:none
        
}

.contact-us button

{border-radius:7px}

.contact-us .fields i 
{color:#c7301b}



@-webkit-keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.contact-us .fields button
 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.contact-us .fields button:hover, .contact-us .fields button:focus, .contact-us .fields button:active {
  -webkit-animation-name: hvr-wobble-bottom;
  animation-name: hvr-wobble-bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}