@media (max-width:767px)
{  
    .navbar-default .navbar-brand{
        color:#f00;
    }
    .navbar-default{
        position: static;
    }
/*    start time line*/
/*
    .time:nth-of-type(even){
        border:none;
    }
    .time:nth-of-type(odd){
        border:none;
    }
    .time:nth-of-type(odd) >div{
        left: 50%;

    }
    .about_us .line{
        position: relative;
        padding: 2em 0;
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
    }
    .about_us .line:before{
        background: #d7e4ed;    
    }
    .time:nth-of-type(odd) >div:after{
        top: -28px;
        right: -202px;
    }
*/
/*    end time line*/
    footer .container{
        display: block;
    }
    footer .container >div{
        display: inline;
    }
    footer span{
        width: 100%;
        margin-bottom: 10px;
    }
}
/*small screen*/
@media (min-width:768px)and (max-width:991px)
{
    .navbar-default .navbar-brand{
        color:#9b0de6;
    }
    .about_us .line .time_box:nth-of-type(even) .time {
    padding-left: 5%;
}
/*medium screen*/
@media (min-width:992px) and (max-width:1199)
{
    .navbar-default .navbar-brand{
        color:#0f0;
    }
    .about_us .line .time_box:nth-of-type(even) .time {
    padding-left: 5%;
}
}
/*large screen*/
@media (min-width:1200px)
{
    .navbar-default .navbar-brand{
        color:#00f;
    }
    .about_us .line .time_box:nth-of-type(even) .time {
    padding-left: 5%;
    }
/*    start time line*/
    
}