*
{
   box-sizing: border-box;
}
@font-face {
    font-family: Angelface;
    src: url(Angelface.otf);
}
section{
    padding: 40px 0 ;
}
html,body{
    overflow-x: hidden;
}
/*start */
h2{
    text-transform: uppercase;
    font-weight: bold;
}
section .p{
    color:#a2a2a2;
    font-size:18px;
}
/*end*/
.navbar-default{
    z-index: 10;
    background: none;
    border:none;
    margin-top: 30px;
    position: absolute;
    margin-left: 120px;
}
.navbar-default .navbar-nav > li > a{
    color:#FFF;
    font-size:20px;
}
.navbar-default .navbar-brand{
    color:#D9BC3E;
    font-family: Angelface;
    font-size:60px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover{
    color:#D9BC3E;
}
.cover{
    background: url(../image/cover.jpg) fixed no-repeat;
    background-size: cover;
    height:600px;
}
.cover .hold{
    display: flex;
    align-items: center;
    height: 600px;
}
.golden{
    margin: 20px auto;
    text-align:center;
    color:#FFF;
    z-index:20;
}
.golden h2:last-of-type{
    font-size:60px;
    text-transform:uppercase;
}
.golden button{
    background: #FED136;
    padding:15px 30px;
    font-weight: bolder;
    margin-top:20px;
}
/*start services*/
.services h2{
    text-transform:uppercase;
}
.services i{
    margin-top: 30px;
    color:#FDD134;
}
/*start portfolio*/
.portfolio{
    background: #F7F7F7;
}
.portfolio .row > div{
    overflow: hidden;
    margin-bottom: 20px;
}
.portfolio .row > div img{
    width:100%;
    height: 300px;
}
/*start about us*/
.line{
    position: relative;
}
.line::before{
    content: '';
    position: absolute;
    top: 0;
    left:100px;               /*here*/
    height: 100%;
    width:4px;
    background: #F1F1F1;
}
.about_us .line .time_box{
    width: 100%;
    height: 300px;
    padding: 20px;
    position: relative

}

.about_us .line .time_box .time{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-left: 130px;
    
}
.about_us .line .time_box:nth-of-type(even) .time{
    float:none;
    width: auto;
}
.about_us .line .time_box:nth-of-type(odd) .time{
    float:none;
    text-align: left;
    width: auto;
}
.about_us .line .time_box .image{
    position: absolute;
    left: 50px;
}
.about_us .line .time_box img{
    border-radius:50%;
    width: 100px;
    border:6px solid #F3EFFD;
}
.about_us .line .lead {
    width:150px;
    height: 150px;
    border-radius:50%;
    background: #FED136;
    color:#FFF;
    font-weight: ;
    padding-top: 20px;
    position: relative;
    left:30px;
    border:6px solid #F3EFFD;
    text-align: center;
    top:50px
}
/*start our team*/
.our_team{
    background:#F9F9F9;
}

.our_team .row > div{
    align-items:center;
    margin-bottom: 30px;
}
.person{
    overflow: hidden;
}
.person .image img{
    width: 100%;
    height: 100%;
}
.person .image{
    width: 200px;
    height: 200px;
    border-radius:50%;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    
}
.person i{
    width:30px;
    height: 30px;
    border: 1px solid #000;
    border-radius:50%;
    line-height: 30px;
    font-weight: bold;
    font-size: 22px;
    cursor:pointer;
}
.our_team .container > p:last-of-type{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.compeny img{
    margin-left: 10px;
}
.contact_us{
    background: url(../image/map.jpeg) no-repeat center fixed;
    color:#FFF;
    position: relative;
}
.contact_us .overfly{
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    height: 100%;
    width: 100%;
    background: rgba(4,1,15,.5)
}
.contact_us input,.contact_us textarea{
    background: none;
}
.contact_us button{
    background: #FED136;
    padding:15px 30px;
    font-weight: bolder;
    margin-top:20px;
    border-radius: 5px;
    border:1px solid #FED136;
    font-size:20px;
}
footer{
    margin: 10px 0;
    display: flex;
    
}
footer span{
    font-size: 18px;
    float: left;
}
footer .container{
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}
footer .container div{
    width: 30%;
    margin-left:10%;
}
footer i{
    border-radius: 50%;
    width:40px;
    height: 40px;
    line-height: 40px;
    padding: 6px;
    background: #333333;
    color:#FFF;
    cursor:pointer;
    display: block;
}
.form-control::-moz-placeholder {
    color: #E6BB28;
    opacity: .9;
}
