
body{min-height:  915px}
.container{margin: auto;width:1400px; }

.header .navbar{overflow: hidden;color:#fff;width: 1400px;}
.header .navbar i{color:#7cc576;margin-left:-110px;margin-top: 10px;font-size: 20px}
.header .navbar  h1{float: left;text-transform: uppercase;margin-left: 260px;color: #555;font-size: 15px}
.header .navbar ul{list-style: none;overflow: hidden;float: right;padding-left: 0;margin-right: 225px}
.header .navbar ul li{float: left;padding: 10px;color:#777; }
.header .navbar ul li a{text-decoration: none}
.header .navbar ul li:hover a{color: #7cc576;}



.header .slider {margin:0;width: 1400px;background-image: url(../images/slider.jpg);background-size: cover ;height: 500px}
.header .slider .intro {;text-align: center;color: #FFF;height: 530px;}
.header .slider .intro h1{font-size: 50px;width: 600px;margin: auto ;padding-top: 125px}
.header .slider .intro h2{font-size: 20px;width: 500px;margin: auto}
.header .slider .intro button{background-color: #7cc576;;color: #fff;margin-top: 60px;font-size: 16px;padding: 20px 30px 20px 30px;border-radius: 20px}


.professional{padding-bottom:30px;padding-top:30px;overflow: hidden;width: 1400px}
.professional h1{text-align: center;color: #222;font-size: 40px;font-family:Myriad pro;text-transform: uppercase}
.professional h3 {text-align: center;color: #777;font-size: 20px;font-family:Myriad pro}
.professional .prof{width:30.333% ;height:250px ;float: left;padding-top:35px;padding-left :40px}
.professional .prof img{width: 150px;height: 102px;text-align: center}
.professional .prof h2{color: #222;text-transform: uppercase}
.professional .prof p{color: #777;line-height: 1.6}


.justrelax{background: url(../images/justrelax.png);height: 615px;width: 1400px;opacity: .6}
.justrelax .note{padding-top: 90px;padding-left:525px}
.justrelax .note h1{font-family:Myriad pro;font-size: 40px;color: #fff;text-transform: uppercase}
.justrelax .note h1 span{color:#7cc576 }
.justrelax .note p{font-family:Myriad pro;font-size: 16px;color: #fff}
.justrelax .note h3{font-family:Myriad pro;font-size: 16px;color: #fff}
.justrelax .note button{background-color: #7cc576;border-radius: 25px;width: 150px;height: 60px;color: #222;margin-top: 40px}



.latestproject{width: 1400px}
.latestproject h1{text-align: center;font-family:Myriad pro;font-size:40px;color: #222;text-transform: uppercase}
.latestproject h2{text-align: center;font-family:Myriad pro;font-size:20px;color: #777}
.latestproject .details{padding-left :70px;float: left}
.latestproject .details h3{font-family:Myriad pro;font-size:18px;color: #222}
.latestproject .details p{font-family:Myriad pro;font-size:16px;color: #777}
.latestproject .details .smalldetals {}
.latestproject .details .smalldetals h4{font-family:Myriad pro;font-size:18px;color: #222;}
.latestproject .details .smalldetals h5{font-family:Myriad pro;font-size:16px;color: #777;}
.latestproject .details .smalldetals  h3{font-family:Myriad pro;font-size:16px;color: #7cc576;}
.latestproject .imge{float: right}
.latestproject .imge img{width: 550px;height: 540px;border-radius: 15px;  }


.culture{width: 1400px;height: 555px;background: #f9f9f9}
.culture .middlewords{text-align: center}
.culture .middlewords h1{font-family:Myriad pro;font-size:40px;color: #222;padding: 62px 0 0 0; margin-bottom: 0}
.culture .middlewords h2{font-family:Myriad pro;font-size:18px;color: #777}
.culture .middlewords .pragragh{}

.culture .pic  hr{width: 105px;}

.pragraghl{width: 22%; float: left; margin-left: 110px;}
.pragraghl img{padding-bottom: 49px; }
.pragragh2{width: 22%; float: left;margin-left: 120px; }
.pragragh3{width: 22%; float: right;margin-right: 110px;}


.ourawesome{width: 1400px;height: 800px;margin: 0}
.ourawesome .upword{text-align: center;padding-top: 30px;padding-bottom: 30px;}
.ourawesome .upword h1{font-family:Myriad pro;font-size:40px;color: #222;text-transform: uppercase;margin-bottom: 0;}
.ourawesome .upword h2{font-family:Myriad pro;font-size: 17px;color: #777}
.left{width: 910px;height: 271px;margin: auto;}
.left .left_content{width: 640px;height: 172px;background: #f9f9f9;float: right;margin-top: 45px;border-radius: 5px;}
.left .left_content p{font-size: 20px;text-align: center;font-family: arial;line-height: 28px;}
.left .left_content h1{font-size: 20px;text-align: center;font-family: arial;line-height: 28px;color: #47df3a;}
.left .left_image img{ width: 269px;height: auto;float: left;margin-bottom: 20px;}
.right{width: 920px;height: 271px;margin: auto;}
.right .right_content{width: 640px;height: 172px;background: #f9f9f9;margin-top: 45px; border-radius: 5px;}
.right .right_content p{font-size: 20px;text-align: center;font-family: arial;line-height: 45px;}
.right .right_content h1{font-size: 20px;text-align: center;font-family: arial;line-height: 28px;color: #47df3a;}
.right .right_image img{width: 255px; height: 250px; float: right; margin-bottom: 20px; margin-top: -210px}


.contact{height: 250px;width: 1400px;background-color: #7cc576;}
.contact h1{padding-top: 70px;padding-left: 375px;font-family:Myriad pro;font-size:40px;color: #fff}
 #bot{margin-left: 605px;border-radius: 10px;width: 180px;height: 50px;color:#7cc576;background-color: #fff }
 
 
 .envato{height: 160px;width: 1400px}
.envato img{width:200px ;height:100px ;padding-top:30px;padding-left: 10px}
.envato img:first-child{margin-left: 310px}


.footer{width: 1400px;height: 365px;background-color: #222;}
.footer .menu{padding-left: 100px;padding-right:150px;padding-top: 45px;float: left}
.footer .menu:last-child{padding-right:0}
.footer .menu i{float: left;color: #fff;font-size:30px;padding-right:10px}
.footer .menu ul{ }
.footer .menu ul h2 li {color: #91bc8e ;font-size: 18px;text-align: justify}
.footer .menu h4{font-family:Myriad pro;font-size:14px;color: #ececec;text-transform: uppercase}
.footer .menu ul li{list-style:none;color: #ececec}
.footer  a{text-decoration: none;color: #fff}

.copy {height: 70px;width: 1400px;padding-top: 30px;}
.copyup{float: left}
.copy h2{margin-left: 225px;font-family:Myriad pro;font-size:14px;color: #555;text-align: center}
.copy h2 a{text-decoration: none;color: #555}
.copy .sociall{float: right;padding-right: 600px;padding-left: 10px}
.copy .sociall i{color:#00aced;font-size: 40px;margin-left: 10px}


.clear{ width:100%; height:0;clear: both}











