
h4{
	color:red;
	font-size:30;
}

h2 {
		text-align : center;
		font-size : 40pt ;
		color: green ;
	}
	
h1 {
		color: green;
		margin-left:20px;
		text-decoration:none;
	}
	
h3 {
		font-size: 30px;
		color: green;
		
	}
h5
{
	font-size: 50px;
	color: red;
}	
img
	{
		float:left;
		margin-right:20px;
		margin-top:5px;
		margin-left:30px;
		margin-bottom:20px;
	}
footer{
	float:center;
}
footer ul li{
	display:inline-block;
	margin-left:100px;
	list-style:none;
}
footer ul li a{
	font-family: sans-serif;
	font-weight: 400;
	font-size:20px;
	color:white;
	text-decoration: none;
	
}
footer{
	width:100%;
	background-color: #222;
	padding: 20px 0px;
}