body{padding-top: 50px;margin: 0; }
*{margin:0px;}
h1,h2,h3,h4,h5,.lead {font-family: droid-sans;}
 
/* loading 

.loading{
background-color: black;
color: #fff;
position:fixed;
z-index: 99999;
height: 100%;
width: 1400px;
left:0;
top:0;

}

 
  

/*end  loading */



.box-option{position: fixed;  color:#eee; z-index: 9999;margin-top: 50px; }
.box-option .color-option{float: left;border:2px solid #0895d1;padding:0px 10px;background-color: #222; display:none;}
.box-option .gear-check{cursor: pointer; padding:5px; background-color: #0895d1;}
.box-option ul li{ display: inline-block; background-color:#0895d1; width:10px; height: 10px;margin-right: 5px;cursor: pointer;}



/*.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
background-color: black;
    color: white;
}
.navbar-default .navbar-brand ,
.navbar-default .navbar-nav > li > a{color:#eee;}

.navbar-default .navbar-brand:hover ,
.navbar-default .navbar-nav > li > a:hover {
    color: floralwhite; }
.navbar-default .navbar-nav > li > a{font-size: 16px;padding-left: 25px;}



.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #c72b2b;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: black;
}
ul.dropdown-menu{  background-color: black; color:#d0d0d0;}




.navbar-right .dropdown-menu {right:auto;  left: 0;}

.dropdown-menu > li > a {padding: 6px 20px;color: #c5c5c5;}

.dropdown-menu > li > a:hover{background-color: #c72b2b; left:20px;color: white;padding-left: 25px; transition:padding .5s ease;
-webkit-transition:padding .5s ease;
-moz-transition:padding .5s ease;
-o-transition:padding .5s ease;
}


.dropdown-menu .divider {background-color: #615f5f;}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {margin-left: 30px;font-size:30px}


.navbar-right {margin-right: 30px;}*/

/*end  navbar */



.navbar-inverse .navbar-brand{font-size:30px;font-weight: 500;letter-spacing: 2px;}


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{background-color: #c72b2b; }
.navbar-right .dropdown-menu {right:auto;  left: 0;}
.navbar-inverse .navbar-nav > li > a {color:#aaa;font-size:16px;}

.dropdown-menu > li > a {color:#aaa;padding: 6px 30px;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {background-color:  #c72b2b;left:20px;color: white;padding-left: 25px; }
.dropdown-menu .divider {background-color: black;}
.navbar-nav > li > .dropdown-menu {opacity: .85}


/*end navbar*/




.carousel-caption {bottom:150px; background-color:#333; opacity: .45;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;}
/*end .carouse */
.about{padding: 50px 0px; }
.about .lead{font-size: 20px; color:#888;}


/*end section about*/
/*start features*/

.features{background-color: #eee; padding: 50px 0px;}

.feat p{line-height: 2em;color: #666;padding-bottom: 30px;}

.features span.glyphicon{font-size: 25px;}

/*end .features*/
/*start .testemonials*/

.testemonial{padding:50px 0px;}

.testemonial p{line-height: 2em;}
.testemonial span{color:#c72b2b;font-weight: bold;font-size: 18px;}

.testemonial li{width:80px;height:80px;opacity: .5;text-indent: 0; margin: 5px;border: 3px solid #fff;border-radius: 50%;overflow: hidden;}

.testemonial li img{max-width: 100%;}
.testemonial li.active{width:80px;height:80px;opacity: 1;background-color: none;border: 3px solid #c72b2b;}
.testemonial .carousel-indicators{position: static;margin: auto;padding-top: 20px;}

/*end.testemonials*/
/*start  price-table*/

.price-table{background-color: #eee;padding: 40px 0px; }
.price-table .price-box{background-color: white; border: 1px solid #ddd;padding: 10px;margin-bottom: 15px;}

.price-table .price-box:hover p{transform:scale(1.1,1.1)rotate(360deg);-wepkit-transform:scale(1.1,1.1)rotate(360deg);
-o-transform:scale(1.1,1.1)rotate(360deg);-moz-transform:scale(1.1,1.1)rotate(360deg); border:#dfdfdf solid 1px;}

.price-table h2{margin: 5px 0 15px;}
.price-table p{font-size: 35px;color: #666; height: 100px; width: 100px; background-color: #f3f3f3; border-radius: 50%;line-height: 100px;
transition-duration:.7s;
 -webkit-transition-duration:.7s;
 -moz-transition-duration:.7s; 
-o-transition-duration:.7s;
border:#fff solid 1px;}

.price-table ul{color: #555;line-height: 250%;font-size: 18px;font-weight: bold;}
.price-table a{margin-bottom: 5px;}
.btn-prices{color:#eee;}

/*end.price-tables*/
/*start  our team*/

.our-team{background: url('../image/5.jpg') center center  fixed ;width:100%;min-height:500px;background-size: cover;}
.our-team .team{background-color: #333; opacity:.9;min-height: 500px;;max-width:100%;padding: 40px;color: #fff; } 
.our-team .person{margin-bottom: 40px;}

.our-team .team img{width:150px; height:150px;}
.our-team i{margin: 5px}

/*end. our team*/
/*start SUPSCRIPE our */
    .subscribe{padding: 50px 0px;background-color: #eee;}
.subscribe .lead{font-size: 20px; color:#333;letter-spacing: 1px;margin-bottom: 30px;}

.subscribe h3{margin-bottom: 20px;color: #777;}
.subscribe .form-control{border-radius: 0;margin-right:-5px;min-width:300px;margin-bottom: 15px;}

/* غيرت شويه حجات عن الزيروا بسبب الشاشه الصغيره 
ايه فايده form control search
*/
.subscribe .btn{ border-radius: 0;margin-bottom: 15px;color:#fff;}

/*end. our team*/
/*start SUPSCRIPE our */



.statistics{
 background: url('../image/5.jpg')fixed;width:100%;min-height: 300px; background-size: cover;}

.data{background-color:#222; opacity:.9;color:#b6b5b5;min-height: 300px;padding-bottom: 70px; padding-top: 40px;}


.stat{margin-bottom: 30px;}
.statistics P{font-weight: 700;font-size: 25px;}
.statistics state:hover{color: white;}


/*end statistics*/
/*start skills */

.skills {padding-bottom: 50px ;padding-top: 50px;}

.skills h3 {margin-top: 0;color: #555;font-weight: bold;margin-bottom: 20px;}
.progress {   height: 32px;margin-bottom: 30px;}
.progress-bar {font-weight: bold;text-align:left;line-height: 32px;text-indent: 10px;font-size:15px;letter-spacing:1px;font-size: 15px;}

.skills-btn{background-color: #c72b2b;color: #E6E5D6;font-size: 15px; letter-spacing: 2px;padding: 10px;font-weight: bold;}

/*end. skills*/
/*start contact us */
.contact-us{background: url('../image/55.jpg')center center fixed no-repeat;background-size: cover;color:#ddd;}
.feel{background-color: #111; opacity: .8;padding-bottom: 40px;  }
.contact-us i{margin-top: 50px;}
.contact-us p{margin-bottom: 50px;}
.contact-us textarea {
    height: 120px;}
.contact-us input[type='text'] , .contact-us textarea{border:none;color:#fff; background-color: #555 ;opacity:7;}
.contact-us .btn{background-color:#c72b2b;color:#ddd;}

/*end. contact us*/
/*start our clients */

.our-clients {padding-bottom: 10px; padding-top: 10px;background-color: #dadaea;}


.our-clients img{width:100px;height: 50px;opacity:.5;}
.our-clients li:hover img{opacity:1;}

/*end. our clients*/
/*start footer */

.footer{padding: top:20px; background-color: #111; color:#aaa;}
.footer  h3{color:#eee;letter-spacing: 2px;margin-bottom: 20px;font-weight: bold;}
.footer .three{overflow: hidden;}
.footer .three li{float: left;width:33.33333%; }
.footer .social{overflow: hidden;margin-bottom: 30px;}
.footer .social li{float: left;margin-right: 10%;margin-top: 3%;  }
.footer .social li:hover{color:#fff;}
.footer .glyphicon {font-size:65px;}
.footer  h4{color: #dadaea;}
.footer .img-thumbnail{width:170px; height:115px;background-color: #101010; opacity:.9;border:1px solid #444;margin-bottom: 5px;}
.footer .copy-right{padding: 15px; font-size: 15px; background-color: #333;margin-top: 20px; }
.footer .copy-right span{color:#0895d1;font-weight:bold;}

/*end. footer*/
/*start our frame work*/
.statistics .h1,
.our-team .h1,
.our-team .team h1,
.skills .h1,
.price-table .h1,
.testemonial .h1,
.features .h1{margin-bottom: 50px;}

.about .h1,
.subscribe .h1{font-weight: bold;padding-bottom: 15px;}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus ,
.our-clients img,
.footer .social li
{ webkit-transition:all .5s  ease-in-out; -o-transition:all .5s ease-in-out; transition:all .5s  ease-in-out;-moz-transition:all .5s  ease-in-out}