body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  font-weight: 200;
}


#intro .container {
  padding-bottom: 150px;
}

#intro .container .col-lg-3  {
  width: auto;
  border-radius: 10px;
  margin-top: 130px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.1);
}


#intro .container .col-lg-3 h1 {
  text-transform: uppercase;
}

#countdown {
  font-size: 1.5em;
  font-weight: bold;
  color: #ff2b06;
  text-align: center;
}
#countdown p {
  display: inline;
  font-weight: normal;
  color: #000;
}


/* ========================= style of about-us ====================== */

#about-us {
  overflow: hidden;
}

#about-us .container {
	margin-top: 100px;
	padding-top: 50px;
  text-align: center;
	border-top: 1px solid #ff2b06;
	border-bottom: 1px solid #ff2b06;
}

#about-us .container .col-lg-4 h2 {
  text-align: left;;
  font-size: 1.5em;
  color: #000;
  padding-bottom: 20px;
}

#about-us .container .col-lg-4 h2 > span {
  padding-bottom: 10px;
  border-bottom: 3px solid #ff2b06;
}
#about-us .container .col-lg-4 h2 > span > small {
  color: #ff2b06;
  font-size: 1em;

}

.container  p {
	text-align: justify;
  -webkit-text-align-last: left;;
  -moz-text-align-last: left;; /* Code for Firefox */
  -o-text-align-last: left;;
  -ms-text-align-last: left;;
  text-align-last: left;;
	display: block;
  font-size: 1em;
	color: #000;
  padding-bottom: 50px;
}
/* ==================== end ==================== */


/* ====================== styl of sponer ==================== */
#sponser {
  color: #ff2b06;
}

#sponser .container {
  border-bottom: 1px solid #ff2b06;
}

#sponser .container h1 {
  text-align: center;
  font-weight: bold;
  padding-top: 100px;
  text-transform: uppercase;;
}
#sponser .container  .row {
  margin-top: 5%;
}

#sponser .container  .row .col-lg-6 img {
}
/* ====================== end ==================== */

/* ====================== styl of talk ==================== */

#talk {
  color: #ff2b06;
  overflow: hidden;
}

#talk .container {
  padding-bottom: 150px;
  border-bottom: 1px solid #ff2b06;
}

#talk .container h1 {
  color: #ff2b06;
  padding-top: 100px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

#talk .container .row .col-lg-4 .hovereffect {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

#talk .container .row .col-lg-4 .hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(75,75,75,0.7);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#talk .container .row .col-lg-4 .hovereffect:hover .overlay {
  background-color: rgba(255, 43, 6, 0.43);
}

#talk .container .row .col-lg-4 .hovereffect img {
  width: 150vmin;
  height: 200px;
  display: block;
  position: relative;
}

#talk .container .row .col-lg-4 .hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#talk .container .row .col-lg-4 .hovereffect:hover h2 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

#talk .container .row .col-lg-4 .hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: -52px 0 0 0;
  padding: 62px 100px;
}

#talk .container .row .col-lg-4 .hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#talk .container .row .col-lg-4 .hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}


/* ====================== end ==================== */



#gallery {
  color: #ff2b06;
}

#gallery .container {
  padding-bottom: 150px;
  border-bottom: 1px solid #ff2b06;
}

#gallery .container h1 {
  text-align: center;
  font-style: oblique;
  font-weight: bold;
  padding-top: 100px;
  text-transform: uppercase;
}


/* ========================== gallery ======================== */
#gallery {
  position: relative;
  color: #ff2b06
}

#gallery  .container .row .col-lg-4 .hovereffect {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

#gallery  .container .row .col-lg-4 .hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(75,75,75,0.7);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#gallery  .container .row .col-lg-4 .hovereffect:hover .overlay {
  background-color: rgba(255, 43, 6, 0.43);
}

#gallery  .container .row .col-lg-4 .hovereffect img {
  width: 150vmin;
  height: 200px;
  display: block;
  position: relative;
}

#gallery  .container .row .col-lg-4 .hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#gallery  .container .row .col-lg-4 .hovereffect:hover h2 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

#gallery  .container .row .col-lg-4 .hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: -52px 0 0 0;
  padding: 62px 100px;
}

#gallery  .container .row .col-lg-4 .hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#gallery  .container .row .col-lg-4 .hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}


/* ====================== end ==================== */
/* ====================== styl of team ==================== */

#team {
  color: #000;
  padding-bottom: 50px;
}

#team .container {
  padding-bottom: 100px;
  border-bottom: 1px solid #ff2b06;
}

 #team h1  {
   color: #ff2b06;
   font-weight: bold;
   text-align: center;
   margin-top: 110px;
   text-transform: uppercase;
 }

 #team-info {
   margin-top: 50px;
   width: 100%;
 }

.nav-list {
  margin-top: 75px;
  margin-right: 70px;
}

.nav-list ul {
  text-align: center;
  border-radius: 10px;


}

.nav-list ul > li {
  text-transform: capitalize;
  text-align: center;
  margin-left: 25px;
  font-size: 1em;
  padding: 10px;
  list-style: none;
  cursor: pointer;
  color: #000;
  transition: .3s ease-in;
  position: relative;
  display: inline-block;
  border-radius: 6px;

}
#team ul > li:hover {
  background-color:#ff2b06;
  color: #fff !important;

}

.item .col-lg-3 {
  width: 100%;
  padding: 0%;
  margin-bottom: 1%;
  margin-left: -15px;
}

.active-list {
  background-color:#ff2b06;
  color: #fff !important;
}
.item {
  width: 232px;
}

.hovereffect {
  width: 100%;
  height: auto ;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect span, .hovereffect p {
  color: #FFF;
  text-transform: capitalize;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover span, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


/*--------------------------------------------------------------------*/
.item,
.gap {
    display: inline-block;
    vertical-align: top;
}

.item,
.gap {
    width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}
@media screen and (min-width: 541px) {
    .item,
    .gap {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }
}

/* 4 Columns */

@media screen and (min-width: 961px) {
    .item,
    .gap {
        width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
    }
}

/* 5 Columns */

@media screen and (min-width: 1281px) {
    .item,
    .gap {
        width: calc(100%/5 - (((5 - 1) * 1rem) / 5));
    }
}

/* ======================  end ==================== */



/* ====================== styl of contact-us ==================== */

#contact-us {
  overflow: hidden;
  padding-bottom: 20px;
  padding:10px 0 10px;
  background-image: url(../img/contact-bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact-us .container-fluid {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: -10px;
}
#contact-us .container-fluid h1 {
  color: #ff2b06;
  font-weight: bold;
  text-align: center;
  padding-top: 110px;
  text-transform: uppercase;
}
 .col-lg-6 {
   margin-top: 2%;
 }
 .col-lg-6 .layer-img img {
  margin:auto;
  width: 60vmin;
 }

 .social-icons {
 	text-align: center
 }

 .social-icons ul {
 	list-style: none;
 	padding: 0;
 	margin: 0;

 	display: inline-block
 }

 .social-icons ul li {
 	float: left;
  margin-top: 25%;
 	margin-right: 8px;
  transition: .3s ease;
 }

 .social-icons ul li:last-child {
 	margin-right: 0
 }

 .social-icons ul li a {
 	color: #fff;
 	height: 36px;
 	width: 36px;
 	line-height: 36px;
 	display: block;
 	font-size: 16px;
 	opacity: .8;
  transition: .1s linear;
 }

 .social-icons ul li a:hover {
   margin-top: -3px;
 }

.social-icons ul {
 	list-style: none;
 	padding: 0;
 	margin: 0
 }

  .social-icons ul li a {
 	background-color: rgba(0, 0, 0, .2);
 	border-radius: 4px;
 	line-height: 33px;
 }

  .social-icons ul li a:hover {
 	color: #fff;
  transition:
 }




 .social-icons ul li a.envelope {
 	background-color: #CECB26
 }

.social-icons ul li a.facebook {
 	background-color: #3b5999
 }

  .social-icons ul li a.twitter {
 	background-color: #2ac6f7
 }

  .social-icons ul li a.dribbble {
 	background-color: #ff5b92
 }

  .social-icons ul li a.instagram {
 	background-color: #125688
 }

 .social-icons ul li a.flickr {
 	background-color: #ff1981
 }

 .social-icons ul li a.youtube {
 	background-color: #cc181e
 }

 .contact-text{
   margin:45px auto;
 }
 .layer-img {
   margin-top: 100px;
 }
#contact-us .container-fluid #for {
    padding-top: 30px;
    padding-bottom: 30px;
}


/* Input Styles */

 .form{
   width: 100%;
   padding: 15px;
   background: #fff;
   border:1px solid rgba(0, 0, 0, 0.075);
   margin-bottom:25px;
   color:#000 !important;
   font-size:17px;
   -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;
 }

 .form:hover{
   border:1px solid #ff2b06;
 }

 .form:focus{
   color: white;
   outline: none;
   border:1px solid #ff2b06;
 }


/* Generic Button Styles */

 .button{
   padding:8px 12px;
   display: block;
   width:120px;
   margin:10px 0 0px 0;
   border-radius:3px;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
   text-align:center;
   font-size:0.8em;
   box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
   -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
   -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
 }

 .button:hover{
   background:#ff2b06;
 }

/* Send Button Styles */

 .form-btn{
   width:180px;
   display: block;
   height: auto;
   padding:15px;
   color:#fff;
   background:#ff2b06;
   border:none;
   border-radius:3px;
   outline: none;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
   margin:auto;
   box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
   -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
   -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
 }

 .form-btn:active{
   opacity: 0.9;
 }
.center{
 margin-top:330px;
}
input {
   position: relative;
   color: black !important;

}
textarea {
  height: 250px;
}

/* ====================== end ==================== */



#footer {
  overflow: hidden;
  width: 100%;
  margin-top: -15px;
  background-color: #f9f9f9;
}

.footer .container-fluid .info {
  text-align: center !important;
  padding: 20px;
}
