/* Orange Theme Color */
.cssload-thecube .cssload-cube:before,
div.option-box h4,
div.option-box ul li,
div.option-box i,
div#loginandregister h3,
div#language h3,
div#via h3,
div#cart-items h3,
div#favorites h3,
div#loginandregister button,
div#language div.language-links a,
div#via div.via-links a,
div#cart-items div.cart-items-grid div.cart-item,
div#favorites div.fav-items-grid div.fav-item,
div#show-search div.search-input input[type="text"],
div#show-search button,
div.header-top,
nav.navbar-inverse .navbar-right li.active a:after,
section.offer,
section.offer div.offer-info div#clockdiv div.clockdiv-content,
div.featured-bestseller div.featured-products h2,
div.featured-bestseller div.bestseller h2:after,
div.featured-bestseller div.bestseller h2 a.left span,
div.featured-bestseller div.bestseller h2 a.right span,
div.featured-bestseller div.bestseller div.bestseller-items div.bestseller-item a.add-to-fav,
div.featured-bestseller div.bestseller div.bestseller-items div.bestseller-item a.add-to-cart,
div.testimonials-new div.new h2:after,
div.testimonials-new div.new h2 a.left span,
div.testimonials-new div.new h2 a.right span,
div.testimonials-new div.new div.new-items div.new-item a.add-to-fav,
div.testimonials-new div.new div.new-items div.new-item a.add-to-cart,
div.testimonials-new div.testimonials-products h2,
div.last-blogs h2:after,
div.last-blogs h2 a.left span,
div.last-blogs h2 a.right span,
div.brands,
footer div.footer-top div.footer-contact ul li i,
a.gotop,
nav.navbar-inverse .navbar-right li a:after,
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus span, .navbar-inverse .navbar-toggle:hover span,
nav.navbar-inverse .navbar-right li ul,
section.shop div.shop-aside h2,
section.shop div.shop-aside div.options span label:after,
section.shop div.shop-aside div.price div.price-content .slider.slider-disabled .slider-handle ,
section.shop div.shop-aside div.price div.price-content .slider.slider-disabled .slider-track,
section.shop div.shop-aside div.price div.price-content .slider-track ,
section.shop div.shop-aside div.price div.price-content .slider-selection,
section.shop div.shop-aside div.search-buttom a:hover,
section.shop div.shop-content h2:after,
section.shop div.shop-content div.shop-page nav ul li.active a,
section.shop div.shop-content div.shop-page nav ul li a:hover,
section.shop div.shop-content div.shop-items div.shop-item a.add-to-fav,
section.shop div.shop-content div.shop-items div.shop-item a.add-to-fav:hover,
section.shop div.shop-content div.shop-items div.shop-item a.add-to-cart:hover,
section.shop div.shop-content div.shop-items div.shop-item a.add-to-cart,
div.blog-content h2:after,
div.blog-content h2 a.left span,
div.blog-content h2 a.right span{
    background: #e67e22;
}
div#loginandregister h3,
div#language h3,
div#via h3,
div#cart-items h3,
div#favorites h3,
div#loginandregister h3 span,
div#language h3 span,
div#via h3 span,
div#favorites h3 span,
div#loginandregister input,
div#loginandregister button:hover,
div#language div.language-links a:hover,
div#via div.via-links a:hover,
nav.navbar-inverse .navbar-right li a:hover,
nav.navbar-inverse .navbar-right li a:after,
nav.navbar-inverse .navbar-right li.active a,
nav.navbar-inverse .navbar-right li.active a:hover,
section.offer div.offer-info h2,
section.offer div.offer-info div#clockdiv div.clockdiv-content span,
section.offer a.main-buttom:hover,
section.offer div.offer-img span.limit-price,
div.featured-bestseller div.featured-products h2 span a.left span,
div.featured-bestseller div.featured-products h2 span a.right span,
div.featured-bestseller div.featured-products div.featured-items div.featured-item div.item-info a,
div.featured-bestseller div.bestseller div.bestseller-items div.bestseller-item a.add-to-fav:hover,
div.featured-bestseller div.bestseller div.bestseller-items div.bestseller-item a.add-to-cart:hover,
div.featured-bestseller div.bestseller div.bestseller-items div.bestseller-item div.item-info h3 a,
div.testimonials-new div.new div.new-items div.new-item a.add-to-fav:hover,
div.testimonials-new div.new div.new-items div.new-item a.add-to-cart:hover,
div.testimonials-new div.new div.new-items div.new-item div.item-info h3 a,
div.testimonials-new div.testimonials-products h2 span a.left span,
div.testimonials-new div.testimonials-products h2 span a.right span,
div.testimonials-new div.testimonials-products div.testimonials-items div.testimonials-item div.item-info a,
div.last-blogs div.last-blogs-items div.last-blogs-item a.last-blogs-image div.date,
div.last-blogs div.last-blogs-items div.last-blogs-item div.last-blogs-info h3 a:hover,
div.last-blogs div.last-blogs-items div.last-blogs-item div.last-blogs-info p a,
div.last-blogs div.last-blogs-items div.last-blogs-item div.last-blogs-info ul li a:hover,
div.last-blogs div.last-blogs-items div.last-blogs-item div.last-blogs-info ul li span i,
footer div.footer-top div.footer-copyright h1,
footer div.footer-top div.footer-copyright a,
footer div.footer-top div.footer-contact h2,
footer div.footer-top div.opening-time h2,
footer div.footer-top div.opening-time div.payment-method,
footer div.footer-bottom div.designer a,
footer div.footer-bottom div.social ul li a,
nav.navbar-inverse a.navbar-brand b,
nav.navbar-inverse .navbar-right li.main-li ul li.sub-li a.sub-a:hover,
section.shop div.shop-aside div.search-buttom a,
section.shop div.shop-content div.shop-items div.shop-item div.item-info h3 a,
div.blog-content div.blog-content-items div.blog-content-item a.blog-content-image div.date,
div.blog-content div.blog-content-items div.blog-content-item div.blog-content-info h3 a:hover,
div.blog-content div.blog-content-items div.blog-content-item div.blog-content-info p a,
div.blog-content div.blog-content-items div.blog-content-item div.blog-content-info ul li a:hover,
div.blog-content div.blog-content-items div.blog-content-item div.blog-content-info ul li span i{
    color: #e67e22;
}
section.shop div.shop-aside div.price div.price-content .slider.slider-vertical .slider-handle.triangle {
    border-left-color: #e67e22;
}
/*// Orange Theme Color */