





@import url('https://fonts.googleapis.com/css?family=Titillium+Web');


body{
        font-family: 'Titillium Web', sans-serif;
}

/*=================================================================*/
/*====================   START NAVBAR   ===========================*/

/*==== top NAVBAR   ===*/

header{
	background-color:#B90000;
}
header .container-fluid,.row,.navbar-collapse,.navbar-nav{
	margin: 0px;
	padding: 0px;
}
.topnav{
    background-color: #000;

}
.navbar {
    background-color: #fff;
    border-radius: 0px;
    
    min-height: 25px;
    margin-bottom: 0px; 
    border: 0px solid transparent; 
}
.navbar-nav>li>a {
    padding: 10px 5px;
    line-height: 10px;
    font-size: 10px;
    color: #fff;
    -webkit-transition: all 1s;
   -moz-transition: all 1s;
   -ms-transition: all 1s;
   -o-transition: all 1s;
   transition: all 1s;

}
@media(max-width: 768px){
	.navbar-nav>li>a {
    padding: 10px 20px;
}
}
.nav-social>li>a {
    padding: 8px 8px;
    line-height: 10px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    -webkit-transition: all 1s;
   -moz-transition: all 1s;
   -ms-transition: all 1s;
   -o-transition: all 1s;
   transition: all 1s;

}
.nav>li>a:hover {
    background-color: #B90000;
    color: #fff;
}


.date{
    color: #fff;
    font-size: 11px;
    padding: 8px;
}
.navbar-right{
  margin-right: 0px;
}



/*====================  bottom NAVBAR   ===========================*/

.dropdown-menu{
    padding: 0px 0px;
    min-width: 200px;

}
.botnav{
	padding-right: 0px;
    padding-left: 0px;
    margin: 0px;
}
.botnav{
   /* background: -webkit-linear-gradient(  rgb(202, 0, 0)50%, rgb(185, 0, 0)50%); */
    background-color: #B90000;
    border-color: #B90000;
    outline: 0px solid #B90000;
    border-top: 0px solid #fff;
    border-bottom: 0px solid #fff;
    border-radius: 0px;
    min-height: 0px;
    margin-bottom: 0px;
}
.caret{
      margin-left: 0px;
      text-align: ;
    position: absolute;
    color: #E1F0FF;
    left: 40%;
}
.botnav .nav{
  padding-left: 8%;
}
.botnav .navbar-nav>li>a {
     padding: 15px 5px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
    color: #fff;

}
.list-group {
    padding-left: 0;
    margin-bottom: 0px;
}

a.home{
  background-color: #000;
  color: #fff !important;
  padding: 8px 15px !important;
}



.dedr{
  position: static !important;
}
.dropdown img{
  width: 100%;
}
.dedr .row{
  margin-right: 5px;
  margin-left: 5px;
}
.dedr .colg{
  padding-right: 0px;
  padding-left: 0px;
}
.dedr .dropdown-menu{
  right: 15px;
    left: 15px;
    margin: 0px 15px;
}

.hedn h1{
    color: #222222;
    font-size: 15px;
    font-weight: 700;
    margin: 15px 15px;
    text-transform: uppercase;
}
.colg .list-group a.list-group-item{
   -webkit-transition: all 1s;
   -moz-transition: all 1s;
   -ms-transition: all 1s;
   -o-transition: all 1s;
   transition: all 1s;
   border-bottom: 1px solid #eee !important;
   border: 0px solid #ddd ;
   padding: 7px 15px;
   margin: 0px 10px;
}

a.list-group-item i{
  color: #B90000;
}
a.list-group-item:hover i{
  color: #fff;
}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #B90000;
    padding-left: 40px;
     -webkit-transition: all 1s;
   -moz-transition: all 1s;
   -ms-transition: all 1s;
   -o-transition: all 1s;
   transition: all 1s;
}
.lnk{
  background-color: #fff;
  color: #fff;
  text-align: right;
}
.lnk a{
    text-decoration: none;
    background-color: #B90000;
    padding: 5px 10px;
    display: inline-block;
    color: #fff;
    
}

.post-content h2 {
    color: #333333;
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    margin: 10px 1px 5px;
}
.standard-post .post-content h2 a {
  color: #333;
}
ul.post-tags {
    margin: 5px 0px;
    padding: 0;
}

ul.post-tags li {
    display: inline-block;
    margin-right: 7px;
    color: #999999;
    font-size: 12px;
    font-style: italic;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

ul.post-tags li i {
    color: #ccc;
    margin-right: 9px;
}
ul.post-tags li a {
  color: #999;
}

.item {
    padding: 0px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
       -webkit-transition: all 1s;
   -moz-transition: all 1s;
   -ms-transition: all 1s;
   -o-transition: all 1s;
   transition: all 1s;
}
.video-post a.video-link {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 1s;
   -moz-transition: all 1s;
   -ms-transition: all 1s;
   -o-transition: all 1s;
   transition: all 1s;
    position: absolute;
    top: 20px;
    left: 27px;
    color: #ffffff;
    font-size: 30px;
    padding: 1px;
    outline: none;
}
.colg {
  margin-bottom: 10px;
}
.image-post3 .hover-box, .video-post .hover-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
    padding: 10px;
    background: rgba(34, 34, 34, 0.8);
   -webkit-transition: all 1s;
   -moz-transition: all 1s;
   -ms-transition: all 1s;
   -o-transition: all 1s;
   transition: all 1s;
 }
.image-post3 .hover-box h2, .video-post .hover-box h2 {
    color: #333333;
    font-weight: 700;
    line-height: 20px;
    margin: 0 0 10px;
    font-size: 13px;
    max-height: 40px;
    overflow: hidden;
    margin-bottom: 0;
       -webkit-transition: all 1s;
   -moz-transition: all 1s;
   -ms-transition: all 1s;
   -o-transition: all 1s;
   transition: all 1s;
}
.image-post3 .hover-box h2 a, .video-post .hover-box h2 a {
    display: inline-block;
    text-decoration: none;
     -webkit-transition: all 1s;
   -moz-transition: all 1s;
   -ms-transition: all 1s;
   -o-transition: all 1s;
   transition: all 1s;
    color: #ffffff;
}
.image-post3:hover .hover-box, .video-post:hover .hover-box {
    background: #B90000;
       -webkit-transition: all 1s;
   -moz-transition: all 1s;
   -ms-transition: all 1s;
   -o-transition: all 1s;
   transition: all 1s;
}
/*====  END BOTTOM NAVBAR   ===========================*/
@media (max-width: 786px){
  .nav-social>li {
    display: inline-block;
    width: 15%;
  }
  .botnav .nav{
  padding-left: 17px;
}
}

/*========== START LOGIN ==================*/

.modal-header{
    background-color: #B90000;
  
}
.modal-footer{
    background-color: #000;

}
.alert {
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 0px;
}
.formlogin{
 border:0px solid #fff;
 margin: 5px 0px;
 padding: 0px 0px;
 text-align: center;
 background-color: #fff;
 border-radius: 5px;
 
}
.formlogin .formbox{
  padding: 0px;
}
.formlogin h1{
  background-color: #B90000;
  color: #fff;
  padding: 25px;

}

.formlogin .input-group {
  width: 100%;
  float: inherit;
  margin: 5px 0px 5px;
  border:0px solid #cccccc; 
}
.formlogin .input-group .input-group-addon{
  background-color: #B90000;
  color: #fff; 
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  padding: 7px 15px;
    font-size: 17px;
    border:1px solid #B90000; 

}

.formlogin .input-group .form-control{
    width: 100%;
    border:1px solid #B90000; 
    height: 40px;
    border-radius: 0px;
  background-color: #B90000;
  color: #fff;
      font-size: 20px;


}
.formlogin .input-group .form-control:focus{
  border:1px solid #B90000; 

}
.input-group label{
  margin: 0px 50px 0px 10px;
}
.formlogin .btn-group {
  margin: 5px 0px;
  width: 100%;
}

.formlogin .btn-group .btn{
   background-color: #00FF00;
   color: #fff;
   padding: 5px 2px;
   border-radius: 0px;
   margin: 1px;
   font-size: 18px;
   width: 32.8%;
}
.formlogin .btn-group .btnfb {
   background-color: #3b5998;
}
.formlogin .btn-group .btntw {
   background-color: #00aced;
}
.formlogin .btn-group .btngp {
   background-color: #c32f10;
}

.formlogin .btnlog{
    width: 100%;
    background-color: #00AE00;
    margin: 25px 0px 10px;
    color: #fff;
    font-size: 20px;
    border-radius: 0px;
    padding: 5px 10px;
    -webkit-transition:all .5s;
}
.formlogin .btnlog:hover{
    background-color: #fff;
    color: #B90000;
    border: 1px solid #B90000
   
}
.formlogin .btnlog:focus{
  box-shadow: none;
  border:1px solid #B90000;


}
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #fff;
}
.form-control::-webkit-input-placeholder {
  color: #fff;
}
/*========== END LOGIN ==================*/


.navbar-toggle{
	background-color: #fff;
	border-radius: 0px;
	padding: 8px 10px;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
}
.navbar-toggle .icon-bar{
	background-color: #B90000;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    width: 50%;
    background: #fff;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #B90000;
    border: 1px solid #B90000;
    border-bottom-color: transparent;
}

.nav-tabs>li>a {
    margin-right: 0px;
    line-height: 1;
    border: 1px solid #333;
    border-radius: 0px;
    color: #fff;
    background-color: #333;
    text-align: center;
    font-size: 18px;
    font-weight: bold;

}


/*=========================================================*/
/*===============   START SEARCH  ========================*/


#flip {
    width: 50px;
    padding: 8px;
    font-size: 17px;
    text-align: center;
    background-color: #000;
    float: right;
    color: #fff;
    margin-top: -40px;
    position: relative;
    /*box-shadow: 0px 1px 1px 1px #333;*/
}

#search {
    padding: 0px;
    display: none;
    background-color: #B90000;
    border-top: 1px solid #fff;
    box-shadow: 1px 1px 5px 1px #333;
}

#search  .form-control{
    background-color: #B90000;
    border-radius: 0px;
    border: 1px solid #B90000;
    height: 45px;
    padding: 8px 15px;
    font-size: 20px;
    color: #fff;
}
#search  .form-control:focus{
    background-color: #fff;
    color: #B90000;


}
@media(max-width: 768px){


#flip {
        margin-right: 39px;
    padding: 1.3px;
    margin-top: -35px;
    position: fixed;
    top: 37px;
    right: 9px;
    background-color: #fff;
    color: #B90000;



}
.navbar{
    background-color: #B90000;

}
.date{
	padding: 10px;
}

}



/*================ LOGO ================= */
.logo{
	 margin-top: 71px;
    width: 150px;
}
@media(max-width: 768px){
.logo{
	    margin-top:33px;
    width: 100px;

}
}



/*================ news move marquee ================= */
.mq{
	padding: 0px;
}
.marqe {
  background-color: #B90000;
}
.marqe ul{

}
.marqe a.list-group-item {
    display: inline-block;
    padding: 5px 5px;
    background-color: #B90000;
    color: #fff;
    margin-bottom: 0px;
    border: 0px solid #ddd;
    border-bottom: 0px solid #ddd;
    margin-right:20px;
   
}
.marqe a.list-group-item i {
	color: #fff;
	padding-right: 25px;
}

.hd{
    background: #000;
    float: left;
    position: absolute;
    padding: 5px 20px;
    color: #fff;
    z-index: 10;
    font-size: 18px;
    font-weight: bold;
    /*box-shadow: 8px 1px 9px 1px #aaa;*/

}
@media(max-width: 400px){
	.hd{
    padding: 5px 10px;



}
.hd span{
	display: none;

}
}






/* FRIST SECTION 5 SLIDE */
.p-cols{
  padding: 0px;
}


.owl-theme .owl-controls {
    margin-top: 0px; 
    text-align: right;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
}

.owl-theme .owl-controls .owl-page span {
   
    margin: 5px 5px;
 
    opacity: 0.3;
     -webkit-border-radius: 20px; 
    -moz-border-radius: 20px;
     border-radius: 20px; 
    background: #B90000;
}
.post-featured {
    position: relative;
    width: 100%;
    color: #fff;
    overflow: hidden;    
}
.post-thumb {
    position: relative;
    overflow: hidden;
}
.slid img{
  height: 400px;
}
@media(max-width: 450px){
  .slid img{
  height: 250px;
}
}

.crosel img{
   height: 200px;
}
.post-thumb img {
   -webkit-transition: all 2s;
   -moz-transition: all 2s;
   -ms-transition: all 2s;
   -o-transition: all 2s;
   transition: all 2s;
    width: 100%;
}
.post-featured .overlay {
    padding: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
   /*  background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%,
      rgba(17, 17, 17, 0.95) 100%);*/
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
   -webkit-transition: all 2s;
   -moz-transition: all 2s;
   -ms-transition: all 2s;
   -o-transition: all 2s;
   transition: all 2s;
}

.caption-category a.category-link {
    font-size: 11px;
    text-transform: uppercase;
    padding: 5px 10px;
    color: #fff ;
    font-weight: 700;
    border-radius: 0px;
    letter-spacing: .5px;
    -webkit-transition: all 2s;
   -moz-transition: all 2s;
   -ms-transition: all 2s;
   -o-transition: all 2s;
   transition: all 2s;

}
a.category-link{
    background-color:#B90000 ;
}
a.category-link:hover{
    background-color:#333 ;
    text-decoration: none;
}
h2.post-title {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 0px;
    -webkit-transition: all 2s;
   -moz-transition: all 2s;
   -ms-transition: all 2s;
   -o-transition: all 2s;
   transition: all 2s;
}
.post-title a{
    font-weight: bold;
    color: #fff;
    letter-spacing: .3px;
}
.post-title a:hover{
    color: #B90000;
    text-decoration: none;
}
.post-featured:hover .post-title{
    margin-bottom: 50px;
   -webkit-transition: all 2s;
   -moz-transition: all 2s;
   -ms-transition: all 2s;
   -o-transition: all 2s;
   transition: all 2s;
}
  .post-featured:hover .post-thumb img {
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -ms-transform: scale(1.7);
    -o-transform: scale(1.7);
    transform: scale(1.7); }
}
  .post-thumb:hover img {
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -ms-transform: scale(1.7);
    -o-transform: scale(1.7);
    transform: scale(1.7); }
/*  END  FRIST SECTION 5 SLIDE */


/*============================================*/
/*      SECOND SECTION CAROUSEL SLIDE         */

.sec{
  
}
.news-box-title {
  border-bottom: 3px solid #000;
   margin: 10px 10px 7px;
    text-align: center;


}
.news-box-title h2{
    background: #000;
    color: #FFFFFF;
    font-size: 15px;
    width: 200px;
    line-height: 28px;
    padding: 1px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1px;
    padding-left: 10px;
    outline: 3px solid #000;
    border: 1px solid #fff;
    margin: 0px auto;
}
.news-box-title h2:after{
  content: ;
    position: absolute;
    border-bottom: 20px solid #B90000;
    border-top: 20px solid transparent;
    border-left: 30px solid #B90000;
    border-right: 30px solid transparent;
    /* width: 20px; */
    /* height: 20px; */
    margin-left: 44px;
    margin-bottom: 32px;
    top: -1px;
}
.news-box-title h2:before{
      content:;
    position: absolute;
    border-bottom: 1px solid #fff;
    border-top: 0px solid #fff;
    border-left: 30px solid #fff;
    border-right: 30px solid #FFf;
    top: 36px;
    margin-left: 150px;
    z-index: 1000;
    
   

}
 /* .customNavigation{
  text-align: right;
    margin-top: -35px;
        position: absolute;
    z-index: 100;
}
.customNavigation .prev, .next{
    background: #B90000;
    color: #FFF;
    padding: 29.5px 10px;
    font-size: 12px;
    border-radius: 0px;
    opacity: .5;
    
}*/

.customNavigation .prev{
  float: left;
    position: relative;
    bottom: -96px;
    z-index: 1;
    background: #fff;
    padding: 15px 5px;
    border-radius: 0px;
    color: #B90000;
}
.customNavigation .next{
    float: right;
    position: relative;
    bottom: -96px;
    z-index: 1;
    background: #fff;
    padding: 15px 5px;
    border-radius: 0px;
    color: #B90000;
}




.post-gallery {
    position: relative;
    overflow: hidden;
     -webkit-transition: all 1s;
   -moz-transition: all 1s;
   -ms-transition: all 1s;
   -o-transition: all 1s;
   transition: all 1s;
}
.post-gallery img{
   width: 100%;
     -webkit-transition: all 1s;
   -moz-transition: all 1s;
   -ms-transition: all 1s;
   -o-transition: all 1s;
   transition: all 1s;
}

a.category-post {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #B90000;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
       -webkit-transition: all 1s;
   -moz-transition: all 1s;
   -ms-transition: all 1s;
   -o-transition: all 1s;
   transition: all 1s;
}

a.category-post:hover {
    background-color: #333;
    color: #B90000;
    font-weight: bold;
   -webkit-transition: all 1s;
   -moz-transition: all 1s;
   -ms-transition: all 1s;
   -o-transition: all 1s;
   transition: all 1s;
}

.post-content {
    padding: 10px 1px 15px 5px;
    border-left: 1px solid #ddd;
}
 .post-content h2 {
    color: #333333;
    font-size: 13px;
    font-weight: 700;
    margin: 0 0 5px;
    padding-left: 5px;
        height: 47px;
    overflow: hidden;
}
 .post-content h2 a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    -webkit-transition: all 1s;
   -moz-transition: all 1s;
   -ms-transition: all 1s;
   -o-transition: all 1s;
   transition: all 1s;
}
 .post-content h2 a:hover {
    color: #B90000;
   -webkit-transition: all 1s;
   -moz-transition: all 1s;
   -ms-transition: all 1s;
   -o-transition: all 1s;
   transition: all 1s;
}
ul.post-tags {
    margin: 0;
    padding: 0;
    padding-left: 5px;
}
ul.post-tags li {
    display: inline-block;
    margin-right: 4px;
    padding-left: 5px;
    color: #999999;
    font-size: 12px;
    font-style: italic;
   
}
ul.post-tags li i{
    color: #B90000;
    margin-right: 5px;
}


.item:hover img {
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -ms-transform: scale(1.7);
    -o-transform: scale(1.7);
    transform: scale(1.7);
    -webkit-transition: all 1s;
   -moz-transition: all 1s;
   -ms-transition: all 1s;
   -o-transition: all 1s;
   transition: all 1s;
    }


.see-more{
    text-align: right;
    border-bottom: 5px solid #B90000;
    background-color: #fff;
    margin: 5px 10px 10px;

}
.see-more a{
    background: #B90000;
    color: #fff;
    padding: 5px 20px 3px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    outline: 2px solid #B90000;
    border: 1px solid #fff;
    margin-right: 2px;
   

}
img:hover{
  -webkit-filter: opacity(30%);
}
/*=====================================================================*/



/*======================================================================================*/
/* ============= START CONTENT  AND SIDEBAR  THIRD SECTION  ============================*/

article img{
  width: 100%;
}
article h2{
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
    padding: 2px 5px 5px 10px;
    font-weight: bold;
    height: 52px;
    overflow: hidden;

}
article h2 a{
    text-decoration: none;
    color: #333;
}
article p{
    font-size: 14px;
    line-height: 16px;
    margin: 0px 0px 10px 10px;
    height: 99px;
    overflow: hidden;

}
img.media-object{
     width: 150px !important;
     height: 100px !important; 
}

@media(max-width: 300px){
  img.media-object{
     width: 90px !important;
     height: 70px !important; 
}

}

.tab-content{
  background-color: #fff;
  padding: 0px 0px;
    margin: 0px;
}

.nav-tabs{
    margin-top: 3px;

}
.tab-content .media{
    padding: 0px 0px 0px;
    margin-top: 0px;
}
.media {
     margin-top: 0px; 
}

.media-body{
    border-bottom: 1px solid #ddd;
}
.media-heading{
    font-size: 13px;
   line-height: 1;
    font-weight: 600;
        height: 66px;
    overflow: hidden;
    padding-top: 7px;
    padding-left: 7px;

    
}
.media-heading a{
    
    text-decoration: none;
        color: #555;
    

}
.media-left, .media>.pull-left {
    padding-right: 0px;
}

.media-heading a:hover{
  color: #B90000;
}

.slideph{
  padding: 0px;
  background: #fff;
}
.slideph img{
  width: 100%;
}

.inputicon .input-group .btn{
  background-color: #B90000;
  color: #fff; 
  border-radius: 0px;
  padding: 10px 15px;
}
.inputicon .input-group .form-control{
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border:1px solid #B90000; 
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  padding: 20px 10px;
  background-color: #B90000;
  border-radius: 0px;
  font-size: 15px;
  font-weight: bold;
}
.inputicon .input-group .form-control:focus{
  border:1px solid #B90000; 
  font-weight: bold;
  background-color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}



.wp-polls{
  margin-left: 5px;
  
}
.wp-polls-ul {
    margin: 0 0 20px 0;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.tac{
  margin-left: 5px;
}
.tac i{
  color: #B90000;
}
.wp-polls input.Buttons {
        border: 0px;
    padding: 10px 8px;
    font-size: 14px;
    font-weight: 600;
    color: #FFF;
    background: #B90000;
    margin: 0px 0px;
    cursor: pointer;
    width: 48%;
}

.tags {
  margin-left: 5px;
}
   
.tags a {
    color: #fff;
    width: 48%;
    padding: 8px 8px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0px 4px 0;
    display: inline-block;
    background: #b90000;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-decoration: none !important;
}
.tags a:hover {
    background: #000;
    color: #fff;
}

.badge {
    padding: 3px 3px;
    font-size: 12px;
    color: #b90000;
    background-color: #fff;
    border-radius: 0px;
}


.prog {
    margin: 5px 5px;
    font-size: 15px;
}
.progress {
    height: 10px;
    border-radius: 0px;
    margin: 10px 0px;
}
.progress-bar {
    background-color: #B90000;
}





/*=======================================*/
/*========= START FOOTER  ===========*/
/*=======================================*/
footer{
 

}
.foot{
 padding: 10px 2px;
 margin: 0px;
 width: 100%;
  background-color: #B90000;

}
.foote{
 padding: 10px 2px;
 margin: 0px;
 width: 100%;
  background-color: #000;

}
.foote p{
  color: #fff;
  margin: 0px;
}

.infofooter{
    padding: 10px 5px;
}
.infofooter h3{
  color: #fff;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  font-size: 18px;
}


.infofooter .list-group-item{
  background-color: transparent;
  border: 0px solid #cccccc;
  padding: 5px 15px 5px 5px;
}
.infofooter .list-group-item a{
  color:  #fff;
}





/*=======================================*/




