body{
    height: 0
}

.footer {
    color: #FFF;
    background-color: #40d47b;
    margin-top: 51px;
}

.comments {
    margin: 100px auto;
    width: 700px;
    border-left: 4px solid #333;
    padding: 10px 20px 10px 30px;
}

 p {
    background-color: #FFF;
    padding: 20px;
    font-size: 18px;
    border: 2px solid #CCC;
    width: 620px;
    position: relative;
}

p:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #333;
    background-color: #40d47b;
    position: absolute;
    top: 30px;
    left: -60px;
}

p:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #CCC transparent transparent;
    border-width: 8px;
    position: absolute;
    left: -18px;
    top: 30px;
}

/* Start FAQ */

.faq {
    padding: 40px 0;
    margin-top: 70px;
}

.faq h3 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: -2px;
    font-size: 58px
}

.faq h3 ~ hr {
    width: 70%;
}

.faq-questions .panel-heading {
    padding: 15px;
}

.faq-questions .panel-heading a {
    text-decoration: none
}

.faq-questions .panel-heading a:after {
	font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: #444
}

.faq-questions .panel-heading a.collapsed:after {
    content: "\e080";
    color: #313131;
}

/* End FAQ */

.login {
    padding-top: 70px;
    padding-bottom: 70px;
}

.login form {
    padding: 45px;
}

.login  input[type="submit"] {
    background-color:  #40d47b;
    color: #fff;
    transition:  all 1s ease-in-out;
    font-size: 25px;
    border: 0;
    border-bottom: 3px solid #333;
}

.login input[type="submit"]:hover {
    background-color:  #fff;
    color: #40d47b;
    border: 0;
    border-bottom: 3px solid #40d47b;
}

/* Register */

.reg {
    padding-top: 70px;
    padding-bottom: 70px;
}

.reg .input-lg {
    margin-top: 35px;
    padding: 20px;
    border: none;
    border-bottom: 3px solid #40d47b;
    border-radius: 0;
    font-size: 22px;
    font-family: 'JF Flat';
}

.reg input[type="submit"] {
    border: 1px solid #CCC;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 3px solid #40d47b;
    background-color: #333;
    color: #FFF;
    transition: all 1s ease-in-out;
}

.reg input[type="submit"]:hover {
    border-radius: 20px;
    border-bottom: 5px solid #333;
     border-right: 5px solid #333;
     border-left: 5px solid #333;
    background-color: #40d47b;
    color: #FFF
}

/* End It */
