@media(max-width:767px) {
/*mobile devices*/
	.sidebar {
		text-align: center;
	}

	.newsletter {
		text-align: center;
	    padding: 4px 0 4px 0;
	    border-bottom: 1px solid #283492
	}

	.log_container {
		text-align: center;
	}
	li.newsletter > a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a {
		padding: 0;
		color: #283593;
	}
	.side-responsive {
		display: inline-block;
		text-align: left;
	}
	.side-responsive a {
		display: inline-block;
		width: 100%;
		margin-right: 8px
	}
	.sidebar {
		display: none;
	}
	.navbar-collapse {
		background: #fff;
	}
	.nl-detail button {
	    float: none;
	    padding: 8px 10px 8px 10px;
	    margin: 11px auto 100px auto;
	    font-size: 16px;
	}
}
@media (min-width: 768px){
/*tablet and small laptop*/
}
@media (min-width: 992px){
  /*medium screen such as laptops*/
}
@media (min-width: 1200px){
    /*large screen desktop*/
}

@media only screen and (min-width: 768px) {
	.cd-top {
	    right: 20px;
	    bottom: 20px;
	}
}