
body{
      font-family: "JF Flat Regular";
     
          background: #F1F1F1;
          overflow: hidden;
 
     
      /*color: rgba(221, 89, 11, 0.92)*/

}
  @font-face {
    font-family: "JF Flat Regular";
    src: url('../fonts/JF-Flat-regular.eot');
    src: url('../fonts/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
    url('../fonts/JF-Flat-regular.woff') format('woff'),
    url('../fonts/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:rgb(93, 123, 191);

}
::-moz-placeholder { /* Firefox 19+ */
  color:rgb(93, 123, 191);

}
:-ms-input-placeholder { /* IE 10+ */
  color:rgb(93, 123, 191);

}
:-moz-placeholder { /* Firefox 18- */
  color:rgb(93, 123, 191);

}


/********start navbar***********/
.the-nav .navbar-default {
    background-color: #232A3B;
    border-bottom: 12px solid #0096E6;
    direction: rtl
}
.the-nav .navbar{margin-bottom: 0}

.the-nav .navbar > .container .navbar-brand, .navbar >
 .container-fluid .navbar-brand {
   
    color: #fff;
    background: #0096e6;
    transition: 0.5s

}

.the-nav .navbar > .container .navbar-brand, .navbar >
 .container-fluid .navbar-brand:hover {background:rgba(0, 150, 230, 0.33)}


.the-nav .navbar-default .navbar-nav > li > a{color: #FFF;transition: 0.5s}
.the-nav .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #0096e6;
    margin-right: 5px;
    font-size: 16px

}




.navbar-default .navbar-toggle {
    border:0;
    background: #0096e6;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #000;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
/********End navbar***********/


/*********start slider***********/
.slider .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    height: 350px;

}


.slider .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 70px;
    padding-left: 10px;
    padding-right: 10px;
}
.slider .carousel-caption h1 {
    background: #0096e6;
    padding: 8px;
    margin-bottom: 0
} 
.slider .carousel-caption p {
    background: rgba(35, 42, 59, 0.56);
    padding: 10px;
}
.slider .carousel-control .glyphicon-chevron-left,
 .carousel-control .icon-prev {
    margin-left: -10px;
    color: #0096e6;
}
.slider .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -10px;
    color: #0096e6;
}
/*********end slider***********/


/*********start about***********/

.about {
    padding: 20px;
    border-radius: 8px;
    margin-top: 25px;
    margin-bottom: 30px
}
.about h3 {
    background: #0096e6;
    color: #fff;
    padding: 11px;
    margin-bottom: 16px;
    border-radius: 7px;
    transition: 0.5s;
    text-align: center;
}
.about h3:hover{background-color: rgba(0, 150, 230, 0.33)}
.about button {
    margin-top: 39px;
    color: #fff;
    background: #0096e6;
    border: 0;
    padding: 5px;
    width: 100px;
    border-radius: 6px;
}

.about p{color: rgba(255, 255, 255, 0.81);
    text-align: center;display: none;}

.about .see-more1 {
    background-color: rgba(51, 51, 51, 0.66);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: none;
}

.about .see-more2 {
    background-color: rgba(51, 51, 51, 0.66);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: none;
}

.about .see-more3 {
    background-color: rgba(51, 51, 51, 0.66);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: none;
}

.about .info1 {
    background-image: url(../img/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 250px;
    width: 300px;
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
        box-shadow: 3px 3px 3px 3px #ccc;

}

.about .info2{
   background-image: url('../img/6.jpg');
   background-size: cover;
   background-repeat: no-repeat;
    border-radius: 5px;
    height: 250px;
    width: 300px;
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
        box-shadow: 3px 3px 3px 3px #ccc;


}

.about .info3{
   background-image: url('../img/7.png');
   background-size: cover;
   background-repeat: no-repeat;
    margin: auto;
    border-radius: 5px;
    height: 250px;
    width: 300px;
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
        box-shadow: 3px 3px 3px 3px #ccc;


}

/*********end about***********/


/*********start app***********/
.app{    text-align: center;margin-bottom: 30px
}
.app i{
    font-size: 46px;
    padding: 28px;
    background: #0096e6;
    color: #fff;
    border-radius: 50%;
    border: 4px solid #f1f1f1;
    box-shadow: 0px 0px 1px 5px #0096e6;
    margin-bottom: 20px;
    transition: 0.5s;

}
.app i:hover{
    transform: rotate(360deg);
    background: rgba(0, 150, 230, 0.47);
    box-shadow:  0px 0px 1px 5px  rgba(0, 150, 230, 0.47);
}
.app p{
    font-size: 18px;
    color: #0096e6;
}
/*********end app***********/

/*********start news***********/
.news{margin-bottom: 20px}
.news img {
    width: 220px;
    height: 200px;
    box-shadow: 3px 3px 3px 3px #ccc;
    border-radius: 4px;
    transition: 0.5s
}
.news img:hover{opacity: 0.6}
.news .info{
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px
}
.news button{
    border: 0;
    color: #fff;
    background: #0096e6;
    border-radius: 4px;
    width: 90px;
}
.news h3 {
    background: #0096e6;
    color: #fff;
    padding: 11px;
    margin-bottom: 16px;
    border-radius: 7px;
    transition: 0.5s;
    text-align: center;
}
.news h2{text-align: center;}
/*********end news***********/

/*********our team***********/
 .content{
    background-color: rgba(51, 51, 51, 0.53);
       color: #FFF;
    min-height: 350px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.team{
    text-align: center;
    background-image: url('http://cdn.lightgalleries.net/4bd5ec0d18599/images/HDH07-1.jpg');
    min-height: 350px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 30px
}
.team .d1 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px
   }



.team .d2 img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px
    
}
.team .d3 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px
   
}

.team .d4 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px
    
}

.team h3 {
    background: #0096e6;
    color: #fff;
    padding: 11px;
    margin-bottom: 16px;
    border-radius: 7px;
    transition: 0.5s;
    text-align: center;
}

.team h4{
    background: #0096e6;
    padding: 9px;
    border-radius: 3px;
}
.progress-par i{margin:5px;}
/*********our team***********/


/*********start progress-par***********/
 .content{
    background-color: rgba(51, 51, 51, 0.53);
       color: #FFF;
    min-height: 350px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
.progress-par{
    text-align: center;
    background-image: url('http://www.owlhatworld.com/wp-content/uploads/2015/12/54.gif');
    min-height: 350px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
}
.progress-par .d1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid #0096e6;
    border-left-color: #fff;
    border-left-style: solid;
    margin-bottom: 20px;
    margin: 20px auto;
}



.progress-par .d2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid #dc7791;
    border-left-color: #fff;
    border-left-style: double;
    margin-bottom: 20px;
    margin: 20px auto;
}
.progress-par .d3{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid #00e68c;
    border-left-color: #fff;
    border-left-style: dotted;
    margin-bottom: 20px;
    margin: 20px auto;
}
.progress-par .d4 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid #e6af00;
    border-left-color: #fff;
    border-left-style: ridge;
    margin-bottom: 20px;
    margin: 20px auto;
}
 .progress-par h3{
    background: #0096e6;
    color: #fff;
    padding: 11px;
    border-radius: 7px;
    transition: 0.5s;
    text-align: center;
    margin-bottom: 43px;
}
.progress-par p{
    font-size: 26px;
    margin-top: 20px;
}

/*********end progress-par***********/

/*********start fotter***********/

.fotter h4 {
    font-weight: bold;
    color: rgb(0, 150, 230);
}
.fotter p{color: rgb(85, 107, 158)}
.fotter {
    font-family: sans-serif;
    background-color: #232a3b;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}
.fotter h5{
    color: rgb(85, 107, 158);
    border-bottom: 1px dotted rgb(85, 107, 158);
    padding: 5px

}
.fotter input{
    border: 0;
    padding: 7px;
    width: 215px;
    margin-bottom: 10px;
    background: rgb(59, 71, 99);
    color: #fff;
    border-radius: 5px;
}
.fotter button{
    border: 0;
    background: rgba(0, 150, 230, 0.5);
    color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    width: 103px;
    border-radius: 5px;
}
.fotter i{
    color: #3b4763;
    font-size: 28px;
}

/*********end fotter***********/

/*********start copy-right***********/
.copy-right {
    background: #0096e6;
    color: rgba(255, 255, 255, 0.58);
    font-family: sans-serif;
    padding: 12px;
}
.copy-right h4{text-align: center;}
.copy-right span{color:#232a3b}
/*********end copy-right***********/

/*********start overlay***********/
.overlay{
    background-color: #232a3b;
    color: #fff;
    position:fixed;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999
}


/*********end overlay***********/







.cssload-dots {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    outline: 1px solid red;
    filter: url(#goo);
        -o-filter: url(#goo);
        -ms-filter: url(#goo);
        -webkit-filter: url(#goo);
        -moz-filter: url(#goo);
}

.cssload-dot {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.cssload-dot:before {
    content: "";
    width: 34px;
    height: 34px;
    border-radius: 49px;
    background: rgb(251,211,1);
    position: absolute;
    left: 50%;
    transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
    margin-left: -17.5px;
    margin-top: -17.5px;
}



.cssload-dot:nth-child(5):before {
    z-index: 100;
    width: 44.5px;
    height: 44.5px;
    margin-left: -21.75px;
    margin-top: -21.75px;
    animation: cssload-dot-colors 4.6s ease infinite;
        -o-animation: cssload-dot-colors 4.6s ease infinite;
        -ms-animation: cssload-dot-colors 4.6s ease infinite;
        -webkit-animation: cssload-dot-colors 4.6s ease infinite;
        -moz-animation: cssload-dot-colors 4.6s ease infinite;
}


.cssload-dot:nth-child(1) {
    animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
        -o-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
        -ms-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
        -webkit-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
        -moz-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
}
.cssload-dot:nth-child(1):before {
    background-color: rgb(255,50,112);
    animation: cssload-dot-move 4.6s 0s ease infinite;
        -o-animation: cssload-dot-move 4.6s 0s ease infinite;
        -ms-animation: cssload-dot-move 4.6s 0s ease infinite;
        -webkit-animation: cssload-dot-move 4.6s 0s ease infinite;
        -moz-animation: cssload-dot-move 4.6s 0s ease infinite;
}

.cssload-dot:nth-child(2) {
    animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
        -o-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
        -ms-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
        -webkit-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
        -moz-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
}
.cssload-dot:nth-child(2):before {
    background-color: rgb(32,139,241);
    animation: cssload-dot-move 4.6s 1.15s ease infinite;
        -o-animation: cssload-dot-move 4.6s 1.15s ease infinite;
        -ms-animation: cssload-dot-move 4.6s 1.15s ease infinite;
        -webkit-animation: cssload-dot-move 4.6s 1.15s ease infinite;
        -moz-animation: cssload-dot-move 4.6s 1.15s ease infinite;
}

.cssload-dot:nth-child(3) {
    animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
        -o-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
        -ms-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
        -webkit-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
        -moz-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
}
.cssload-dot:nth-child(3):before {
    background-color: rgb(175,225,2);
    animation: cssload-dot-move 4.6s 2.3s ease infinite;
        -o-animation: cssload-dot-move 4.6s 2.3s ease infinite;
        -ms-animation: cssload-dot-move 4.6s 2.3s ease infinite;
        -webkit-animation: cssload-dot-move 4.6s 2.3s ease infinite;
        -moz-animation: cssload-dot-move 4.6s 2.3s ease infinite;
}

.cssload-dot:nth-child(4) {
    animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
        -o-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
        -ms-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
        -webkit-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
        -moz-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
}
.cssload-dot:nth-child(4):before {
    background-color: rgb(251,211,1);
    animation: cssload-dot-move 4.6s 3.45s ease infinite;
        -o-animation: cssload-dot-move 4.6s 3.45s ease infinite;
        -ms-animation: cssload-dot-move 4.6s 3.45s ease infinite;
        -webkit-animation: cssload-dot-move 4.6s 3.45s ease infinite;
        -moz-animation: cssload-dot-move 4.6s 3.45s ease infinite;
}

@keyframes cssload-dot-move {
    0% {
        transform: translateY(0);
    }
    18%, 22% {
        transform: translateY(-68px);
    }
    40%, 100% {
        transform: translateY(0);
    }
}

@-o-keyframes cssload-dot-move {
    0% {
        -o-transform: translateY(0);
    }
    18%, 22% {
        -o-transform: translateY(-68px);
    }
    40%, 100% {
        -o-transform: translateY(0);
    }
}

@-ms-keyframes cssload-dot-move {
    0% {
        -ms-transform: translateY(0);
    }
    18%, 22% {
        -ms-transform: translateY(-68px);
    }
    40%, 100% {
        -ms-transform: translateY(0);
    }
}

@-webkit-keyframes cssload-dot-move {
    0% {
        -webkit-transform: translateY(0);
    }
    18%, 22% {
        -webkit-transform: translateY(-68px);
    }
    40%, 100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes cssload-dot-move {
    0% {
        -moz-transform: translateY(0);
    }
    18%, 22% {
        -moz-transform: translateY(-68px);
    }
    40%, 100% {
        -moz-transform: translateY(0);
    }
}

@keyframes cssload-dot-colors {
    0% {
        background-color: rgb(251,211,1);
    }
    25% {
        background-color: rgb(255,50,112);
    }
    50% {
        background-color: rgb(32,139,241);
    }
    75% {
        background-color: rgb(175,225,2);
    }
    100% {
        background-color: rgb(251,211,1);
    }
}

@-o-keyframes cssload-dot-colors {
    0% {
        background-color: rgb(251,211,1);
    }
    25% {
        background-color: rgb(255,50,112);
    }
    50% {
        background-color: rgb(32,139,241);
    }
    75% {
        background-color: rgb(175,225,2);
    }
    100% {
        background-color: rgb(251,211,1);
    }
}

@-ms-keyframes cssload-dot-colors {
    0% {
        background-color: rgb(251,211,1);
    }
    25% {
        background-color: rgb(255,50,112);
    }
    50% {
        background-color: rgb(32,139,241);
    }
    75% {
        background-color: rgb(175,225,2);
    }
    100% {
        background-color: rgb(251,211,1);
    }
}

@-webkit-keyframes cssload-dot-colors {
    0% {
        background-color: rgb(251,211,1);
    }
    25% {
        background-color: rgb(255,50,112);
    }
    50% {
        background-color: rgb(32,139,241);
    }
    75% {
        background-color: rgb(175,225,2);
    }
    100% {
        background-color: rgb(251,211,1);
    }
}

@-moz-keyframes cssload-dot-colors {
    0% {
        background-color: rgb(251,211,1);
    }
    25% {
        background-color: rgb(255,50,112);
    }
    50% {
        background-color: rgb(32,139,241);
    }
    75% {
        background-color: rgb(175,225,2);
    }
    100% {
        background-color: rgb(251,211,1);
    }
}

@keyframes cssload-dot-rotate-1 {
    0% {
        transform: rotate(-105deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

@-o-keyframes cssload-dot-rotate-1 {
    0% {
        -o-transform: rotate(-105deg);
    }
    100% {
        -o-transform: rotate(270deg);
    }
}

@-ms-keyframes cssload-dot-rotate-1 {
    0% {
        -ms-transform: rotate(-105deg);
    }
    100% {
        -ms-transform: rotate(270deg);
    }
}

@-webkit-keyframes cssload-dot-rotate-1 {
    0% {
        -webkit-transform: rotate(-105deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
    }
}

@-moz-keyframes cssload-dot-rotate-1 {
    0% {
        -moz-transform: rotate(-105deg);
    }
    100% {
        -moz-transform: rotate(270deg);
    }
}

@keyframes cssload-dot-rotate-2 {
    0% {
        transform: rotate(165deg);
    }
    100% {
        transform: rotate(540deg);
    }
}

@-o-keyframes cssload-dot-rotate-2 {
    0% {
        -o-transform: rotate(165deg);
    }
    100% {
        -o-transform: rotate(540deg);
    }
}

@-ms-keyframes cssload-dot-rotate-2 {
    0% {
        -ms-transform: rotate(165deg);
    }
    100% {
        -ms-transform: rotate(540deg);
    }
}

@-webkit-keyframes cssload-dot-rotate-2 {
    0% {
        -webkit-transform: rotate(165deg);
    }
    100% {
        -webkit-transform: rotate(540deg);
    }
}

@-moz-keyframes cssload-dot-rotate-2 {
    0% {
        -moz-transform: rotate(165deg);
    }
    100% {
        -moz-transform: rotate(540deg);
    }
}

@keyframes cssload-dot-rotate-3 {
    0% {
        transform: rotate(435deg);
    }
    100% {
        transform: rotate(810deg);
    }
}

@-o-keyframes cssload-dot-rotate-3 {
    0% {
        -o-transform: rotate(435deg);
    }
    100% {
        -o-transform: rotate(810deg);
    }
}

@-ms-keyframes cssload-dot-rotate-3 {
    0% {
        -ms-transform: rotate(435deg);
    }
    100% {
        -ms-transform: rotate(810deg);
    }
}

@-webkit-keyframes cssload-dot-rotate-3 {
    0% {
        -webkit-transform: rotate(435deg);
    }
    100% {
        -webkit-transform: rotate(810deg);
    }
}

@-moz-keyframes cssload-dot-rotate-3 {
    0% {
        -moz-transform: rotate(435deg);
    }
    100% {
        -moz-transform: rotate(810deg);
    }
}

@keyframes cssload-dot-rotate-4 {
    0% {
        transform: rotate(705deg);
    }
    100% {
        transform: rotate(1080deg);
    }
}

@-o-keyframes cssload-dot-rotate-4 {
    0% {
        -o-transform: rotate(705deg);
    }
    100% {
        -o-transform: rotate(1080deg);
    }
}

@-ms-keyframes cssload-dot-rotate-4 {
    0% {
        -ms-transform: rotate(705deg);
    }
    100% {
        -ms-transform: rotate(1080deg);
    }
}

@-webkit-keyframes cssload-dot-rotate-4 {
    0% {
        -webkit-transform: rotate(705deg);
    }
    100% {
        -webkit-transform: rotate(1080deg);
    }
}

@-moz-keyframes cssload-dot-rotate-4 {
    0% {
        -moz-transform: rotate(705deg);
    }
    100% {
        -moz-transform: rotate(1080deg);
    }
}