BODY {
	BACKGROUND-IMAGE: url('../images/bg.gif'); TEXT-ALIGN: left; LINE-HEIGHT: 200%; MARGIN: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #01678f; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A {
	TEXT-DECORATION: none
}
.nav_home {
	BACKGROUND-IMAGE: url(../images/btn_home_off.jpg); WIDTH: 58px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 34px
}
.nav_home:hover {
	BACKGROUND-IMAGE: url(../images/btn_home.jpg)
}
.nav_ernmoney {
	BACKGROUND-IMAGE: url(../images/btn_earnmoney_off.jpg); WIDTH: 107px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 34px
}
.nav_ernmoney:hover {
	BACKGROUND-IMAGE: url(../images/btn_earnmoney.jpg)
}
.nav_business {
	BACKGROUND-IMAGE: url(../images/btn_business_off.jpg); WIDTH: 86px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 34px
}
.nav_business:hover {
	BACKGROUND-IMAGE: url(../images/btn_business.jpg)
}
.nav_wealth {
	BACKGROUND-IMAGE: url(../images/btn_wealth_off.jpg); WIDTH: 118px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 34px
}
.nav_wealth:hover {
	BACKGROUND-IMAGE: url(../images/btn_wealth.jpg)
}
.nav_forex {
	BACKGROUND-IMAGE: url(../images/btn_forex_off.jpg); WIDTH: 111px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 34px
}
.nav_forex:hover {
	BACKGROUND-IMAGE: url(../images/btn_forex.jpg)
}
.nav_loan {
	BACKGROUND-IMAGE: url(../images/btn_loan_off.jpg); WIDTH: 125px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 34px
}
.nav_loan:hover {
	BACKGROUND-IMAGE: url(../images/btn_loan.jpg)
}
.nav_immigration {
	BACKGROUND-IMAGE: url(../images/btn_immigration_off.jpg); WIDTH: 108px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 34px
}
.nav_immigration:hover {
	BACKGROUND-IMAGE: url(../images/btn_immigration.jpg)
}
.nav_nightlife {
	BACKGROUND-IMAGE: url(../images/btn_nightlife_off.jpg); WIDTH: 90px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 34px
}
.nav_nightlife:hover {
	BACKGROUND-IMAGE: url(../images/btn_nightlife.jpg)
}
.nav_datinggirls {
	BACKGROUND-IMAGE: url(../images/btn_datinggirls_off.jpg); WIDTH: 110px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 34px
}
.nav_datinggirls:hover {
	BACKGROUND-IMAGE: url(../images/btn_datinggirls.jpg)
}
.nav_contact {
	BACKGROUND-IMAGE: url(../images/btn_contact_off.jpg); WIDTH: 73px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.nav_contact:hover {
	BACKGROUND-IMAGE: url(../images/btn_contact.jpg)
}
.nav_policy {
	BACKGROUND-IMAGE: url(../images/btn_policy_off.jpg); WIDTH: 93px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.nav_policy:hover {
	BACKGROUND-IMAGE: url(../images/btn_policy.jpg)
}
.bot_link {
	COLOR: #01678f; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.bot_link:hover {
	COLOR: #ffffff
}
.head {
	BACKGROUND-IMAGE: url(../images/bg_head.jpg); WIDTH: 100%; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 27px; COLOR: #ffffff; FONT-SIZE: 17px; FONT-WEIGHT: bold
}
.txt {
	LINE-HEIGHT: 20px; LETTER-SPACING: 1px; COLOR: #999999; FONT-SIZE: 12px; FONT-WEIGHT: normal; WORD-SPACING: 2px; TEXT-DECORATION: none
}
.cat_title {
	LINE-HEIGHT: 22px; LETTER-SPACING: 1px; COLOR: #ffd201; FONT-SIZE: 14px; FONT-WEIGHT: bold; WORD-SPACING: 2px; TEXT-DECORATION: none
}
.cat_more {
	LETTER-SPACING: 1px; COLOR: #ffd201; FONT-SIZE: 12px; FONT-WEIGHT: bold; WORD-SPACING: 2px; TEXT-DECORATION: none
}
.cat {
	LINE-HEIGHT: 20px; COLOR: #0075a3; FONT-SIZE: 12px; CURSOR: pointer; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.cat:hover {
	COLOR: #ffffff
}
.sub_cat {
	LINE-HEIGHT: 16px; COLOR: #0075a3; FONT-SIZE: 11px; CURSOR: pointer; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.sub_cat:hover {
	COLOR: #ffffff
}