body
{background-color:rgba(19, 169, 190, 0.56)}

.container
{width: 950px;margin:auto}

.content
{border-top:5px solid rgba(40, 157, 185, 0.94);margin-top:100px;
	height: 1150px;border-radius: 35px;background-color: #fff}
/**-----------------------start about me---------------------------**/
.content .image img
{width: 130px;height: 130px;border: 5px solid rgb(122, 206, 218);left: 400px;
 border-radius:50%;top:-80px;position: absolute}

.content .image
{position: relative}

.content .name
{margin-top:9%;text-align:center;color:#333;text-transform:uppercase}

.content .name h2
{margin-bottom:5px;font-family: "arial black"}

.content .name p
{font-size:20px;text-transform: uppercase;font-family: "arial";margin-top:10px;
 margin-bottom:40px}

hr /**for all**/
{margin: 30px;border: 2px solid #e7e7e7}
/**----------------------------end about me----------------------------**/

.content .part-one
{float:left;width: 50%;margin: 0 0 70px 20px}
.content .skills{width:45%;float: left}

.box
{margin-left: 10PX}

.icon /**for all**/
{float: left;margin: 28px 0 10px 0;padding: 0 1%;width: 5%}

.icon img  /**for all**/
{width:95%}

.box h3  /**for all**/
{float: left;width: 93%;color:#3b3b3b;margin:30px 0 15px;text-transform:uppercase}


.part-one .box p{
	line-height: 1.5;
	font-size: 14px;
	color:#464646;
	border-left:3px solid rgba(40, 157, 185, 0.94);
	float: left;
	margin-left: 15px;
	padding-left:10px}

.part-one .box span
{display: block;float:left;font-size:15px;color:#737373;font-weight:bold}

.part-one .box span
{margin-left: 15px}

.box2
{margin-left: 35px}

ul{float: left}

.part-one .box ul li
{display:inline-block;color:#fff;background-color:rgb(19, 169, 175);
 padding:4px 9px;margin:2px;font-size:14px}

.technic .tech
{background-color:#d4d4d4;margin:10px 0;text-align: left}

.technic .tech
{background-color:rgba(40, 157, 185, 0.94);float:left;text-align:right;
 font-weight:bold;color:#fff;padding: 5px 10px}

.technic .tech span
{float:left}

.part-two
{margin-left: 5%}

.connect
{padding:8px 0}
.connect img
{width: 20px;border-right:1px solid #000;border-bottom:1px solid #000}
 
.footer footer
{text-align: center;background-color:rgba(33, 150, 243, 0.18);border-radius: 50px;height: 60px;padding: 10px 0}

footer ul
{padding:0;width: 100%;margin: 10px 0}

ul li
{list-style:none;display: inline}

ul li img
{width: 30px}