@import 'https://fonts.googleapis.com/css?family=Cairo';
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.menu{
    display: none
}
 .up{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    position: fixed;
     line-height: 60px;
    bottom: 50px;
    left: 50px;
    color: #999;
    background: #216998;
    cursor: pointer;
    display: none;
    overflow: hidden;
}
.up img{
    width: 60%;
    opacity: 0.8
}
.up:hover{
    background: #44a0dd
}
body{
    background: #f1f1f1;
    font-family: 'Cairo', sans-serif;
}
/* header */
header {
    background: #fafafa
}
header .logo {
    background: url("../img/logo.png");
    line-height: 150px;
    text-align: center;
    font-size: 40px;
    color: #fafafa;
    text-shadow: 1px 1px rgba(0,0,0,0.6)
}
header .top_nav{
    line-height: 50px;
    color: #444;
    background: #f1f1f1;
    height: 50px;
}
header .top_nav .contact{float: right}
header .top_nav .contact i {margin-left: 30px}
header .top_nav .social{float: left}
header .top_nav .social ul{list-style-type: none}
header .top_nav .social ul li{
    display: inline-block;
    float: left;
    
}
header .top_nav .social ul li a{
    padding: 10px 10px;
    margin-right: 15px;
}
header .top_nav .social ul li [class~=fa-facebook]{color: #3b5998}
header .top_nav .social ul li [class~=fa-twitter]{color: #55acee}
header .top_nav .social ul li [class~=fa-instagram]{color: #3f729b}
header .top_nav .social ul li [class~=fa-youtube]{color: #cd201f}
header .top_nav .social ul li [class~=fa-google-plus]{color: #dc4e41}
header .top_nav .social ul li [class~=fa]:hover{color: #444}
header nav{
    clear: both;
    height: auto;
    line-height: 100px;
    background: #fafafa;
}
header nav ul{
    list-style-type:none;
    float: left
}
header nav ul li{
    display: inline-block;
    margin: 0 5px;
}
header nav ul li a{
    padding: 20px;
    color: #999;
    border: 1px solid rgba(230,230,230,0.1);
}

header nav ul li a:hover,
header nav ul li a.active{
    color: #000;
    text-decoration: none;
    border-bottom: 3px solid rgba(68,160,221,0.2);
    
}
header nav input[type="search"]{
    float: right;
}
/* End header */

/* slider */
.slider {
    direction: ltr;
    overflow: hidden;
    height: 500px;
    margin-top: -10px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* end slider */


/* service */
.service{
    padding: 100px 0;
}
.h1{
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 60px;
}
.h1:after,
.h1:before{
    content: "";
    position: absolute;
    width: 15%;
    left: 42.5%;
    margin: auto;
    border-bottom: 2px solid #44a0dd;
    bottom: 0
}
.h1:before{
    bottom: -10px;
    width: 5%;
    left: 47.5%;
}
.service .tab{
    margin-bottom: 50px;
}
.service .tab img{
    margin-bottom: 20px
}
.service .tab h5{
    font-weight: 700;
    color: #444
}
.service .tab p{
    line-height: 30px;
    color: #888
}
/* End  service */

/* us */ 
.us{
    padding: 100px 0;
    background: #fff;
    overflow: hidden;
}
.us h4{
    font-size: 18px;
    color: #444
}
p.text{
    line-height: 35px;
    color: #888;
    text-align: right
}
.us .images{
    position: relative
}
.us .images img{
    border: 5px solid rgba(255,255,255,1)
}
.us .images img:first-child{
    position: absolute;
    left: 20%;
    top: 80px;
    z-index: 5
}
.us .images img:nth-child(2){
    position: absolute;
    top: -0px;
    left: 0;
}
/* end us */ 
.gallary{
    padding: 100px 0;
    
}
.gallary_tab{
    height: 265px;
    overflow: hidden;
    margin-bottom: 25px;
    position: relative;
    
}
.gallary_tab img{
    width: 100%;
}
.gallary_hover{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    line-height: 265px;
    color: #ccc;
    z-index: 5;
    transition: all 0.5s ease;
    display: none;
}
.gallary_tab:hover .gallary_hover{
    display: block
}
.gallary a:last-child {
    background: #44a0dd;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 25px;
    display: inline-block;
}
.gallary a:last-child:hover{
    text-decoration: none;
    background: #444
}

/* price */
.price{
    padding: 100px 0;
    background: url("../img/price_background.png") no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.price .h1{
    color: #fff
}
.price_table{
    background: #fff;
    padding: 20px 0 0;
    margin-bottom: 50px;
}
.price_table .title{
    font-size: 25px;
    padding-bottom: 20px;;
}
.price_table .futcher{}
.price_table .futcher ul{
    list-style-type: none
}
.price_table .futcher ul li{
    padding: 20px;
}
.price_table .futcher ul li:nth-child(odd){
    background: #fafafa
}
.price_table .futcher ul li:last-child{
    background: #fff;
    color: #9f2727;
    border-top: 2px dashed rgba(0,0,0,0.2);
    font-weight: 700;
    font-size: 1.5rem
}
.price_table a{
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none
}
.price_table a:hover{
    background: #444
}
.price_table .subscribe1{
    background: #dd8c44
}
.price_table .subscribe2{
    background: #44a0dd
}
.price_table .subscribe3{
    background: #40a134
}

/* footer */
footer{
    padding: 100px 0;
    background:  url("../img/footer.png") no-repeat ;
    background-size: cover;
    color: #fafafa;
}
footer span{
    color: #fff;
    margin-bottom: 20px;
    display: inline-block;
}
footer i ~ span{
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #ddd
}
footer a{
    color: #fafafa
}
.footer_link ul{
    list-style: none;
}
.footer_link ul li{
    line-height: 35px;
    font-size: 13px;
}
.footer_link ul li a{
    color: #ccc
}
.footer_social{
    direction: rtl
}
.footer_social ul{list-style: none}
.footer_social ul li{
    display: inline-block;
    margin-left: 20px;
}
.footer_social ul li a{
    color: #f1f1f1;
    padding: 0px 5px
}
.footer_social ul li a:hover{
    background: #fff;
    color: #444
}
.address{
    direction: rtl
}
.address i{
    line-height: 40px;
    direction: rtl;
    padding: 10px;
    font:normal 18px 
}

@media screen and (max-width:650px){

header .top_nav{
    height: auto
}
header .top_nav .contact{float: none;text-align: center}
header .top_nav .contact i {margin-left: 30px}
header .top_nav .social{float: none;display: block;}
header .top_nav .social ul{list-style-type: none;text-align: center}
header .top_nav .social ul li{
    display: inline-block;
    float: none;
    text-align: center
}
header nav{
    clear: both;
    height: auto;
    line-height: 100px;
    background: #fafafa;
    margin-bottom: 10px;
    display: none
}
header nav ul{
    list-style-type:none;
    float: none;
    display: block;
    z-index: 5
}
header nav ul li{
    display: block;
    text-align: center
}
    header .menu{
        text-align: center;
        padding: 10px;
    }
    
.us .images{
    position: relative
}
.us .images img{
    border: 5px solid rgba(255,255,255,1)
}
.us .images img:first-child{
    position: absolute;
    left: 20%;
    top: -250px;
    opacity: 0.1
}
.us .images img:nth-child(2){
    display: none
}
    .menu{
    cursor: pointer;
        display: block;
}
}


/* other page header */ 
.page_header{
    background:url("../img/page_header.png") -200px;
    padding: 50px 0;
    color: #44a0dd;
    text-shadow: 1px 1px 1px rgba(250,250,250,1);
    text-align: right;
    margin-top: -10px;
}
/* End other page header */ 

/* contact us */
.contact_us{
    padding: 100px 0;
}
.contact_us input,
.contact_us textarea{
    display: block;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    border: 0;
    margin: auto;
    box-shadow: 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 5px;
    padding: 20px;
    resize: none
}
.contact_us textarea{
    height: 300px;
}
.contact_us input[type=button]{
    background: #44a0dd;
    color: #fff;
    padding: 0;
}
.contact_us input[type=button]:hover{
    background: #2573a7
}

/* End contact us */

/* our company */
.our_company{
    padding: 100px 0
}
.text h5{
    margin-bottom: 20px;
}
.text p{
    line-height: 35px;
    color: #888;
    text-align: justify
}
/* End our company */
/* page_service */
.page_service{
    padding: 100px 0;
}
.page_service i {
    color: #44a0dd
}
.page_service h5{
    font-weight: 600;
    color: #000;
    margin-top: 20px;
}
.page_service p{
    color: #444;
    line-height: 30px;
}
/* End page_service */
/* slider */
.client_slider{
    padding: 100px 0;
}
#myCarousel{
    display: block;
    margin-top: 20px;
}
#myCarousel .carousel-indicators{}
#myCarousel .carousel-indicators li{
    background: #44a0dd;
    opacity: 0.5
}
#myCarousel .carousel-indicators li.active{
    background: #44a0dd;
    opacity: 1
}
#myCarousel .item img{
    width: 80px;
    text-align: center;
    display: block;
    margin: 30px auto 0
}
.carousel-indicators{
    bottom: -40px
}
.carousel-control{display:none}