ol {
	counter-reset: item 4;
	display:block;
}

ol li {
	display:block;
	margin-left:-1.4em;
}

ol li dl {
	display:block;
	margin-left:1.9em;
}

ol li:before {
	content:counter(item, decimal) ". ";
	counter-increment:item -1;
	padding-right:0.2em;
}