.navbar-default {
    background-color: #fff;
    border-color: #fff;
        margin-bottom: 0;
}
.navbar {
    padding-top: 30px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #FFFFFF;
	float: center;
}
.navbar-default .navbar-nav > li > a {
    color: #000;
    font-size: 14px;
    font-weight: 500;
}
.navbar-nav {
    margin-left: 0px;
}
.navbar-nav > li {
    float: center;
    margin: 0 12px;
}
.navbar-nav > li > a {
    padding: 9px 16px;
}
.logo {
    width: 23%;
    float: left;
    text-align:center;
}
.logo a h1{
   font-family: 'Berkshire Swash', cursive;
    margin-top: 0px;
    width: 56%;
    font-size: 3.1em;
    margin-bottom: 0;
    color: #000;
    font-weight: 100;
}
