*{
	max-width: 100%;
}
.clear{
   clear: both;
 }
 .clear_r{
   clear: right;
 }
 .clear_l{
   clear: left;
 }
.r{
	float : right;
}
.l{
	float : left;
}
.admin_log{
	position: absolute;
	top : 20%;
	left : 30%;
	border : solid 1px #404244;
	background-color: #f5f5f5;
	width : 36%;
	height : 60%;
	box-shadow: 1px 2px 6px #404244;

}
.admin_form_log{
	margin : 16%;
}
.span_h{
	color : #404244;
}
.error{
  width : 100%;
  height : 30px;
  background-color : #da5353;
  color : #bb1107;
  text-align: center;
  padding-top : 4px;
}
.succes{
  width : 100%;
  height : 30px;
  background-color : #3baf3b;
  color : #006100;
  text-align: center;
  padding-top : 4px;
}
.cpanel_head{
	height : 100%;
	
}
.cpanel_header{
	width : 100%;
	height : 50px;
	background-color: #000000;
	color : #fff;
	text-align: center;
	padding-top : 10px;
	font-size: 20px;
}
.cpanel_left{
	height : 100%;
	width : 68%;
}
.cpanel_right {
	
	background-color: #343c44;
	width : 30%;
	color : #fff;
	height : 100%;
}
.cpanel_right ul{
	list-style-type: none;
}
.cpanel_right ul li {
	margin-bottom: 16px;
	padding-top: 16px;
	padding-bottom: 14px;
	font-size: 19px;
}
.cpanel_right ul li a:hover {
	text-decoration: none;
}
.cpanel_r_l{

}
.cpanel_footer{
	width : 100%;
	height : 100%;
	background-color: #000000;
	color : #fff;
	text-align: center;
	padding: 10px;
	font-size: 12px;
}
.head_setting{
	margin-top : 19px;

	
}
#label{
	float : left;
	margin-left: 2%;
	padding-top: 6px;
	width : 25%;
	
}
.setting_title{
	text-align: center;
	background-color: #f5f5f5;
	box-shadow: 1px 1px 1px #404244;
	margin-bottom: 15px;
}
.borf{
	border : solid 1px #a09e9e ;
	width : 99%;
	float : left;
	margin-bottom: 19px;

}
.setting_title_h{
	font-size : 29px;
}
.setting_body{
	margin-right: 2%;
}
.admin_post_table{
	margin-top : 19px;
}