.blocks:before,
.blocks:after {
	content: "";
	display: table;
}

.blocks:after {
	clear: both;
}

.block {
	width: 50%;
	background-color: #ffffff;
	padding: 2em; 
	text-align: center;
	float: left;
	overflow: hidden;
	height: 24em;
	position: relative;
	box-sizing: border-box;
	display: table;
	
	@include bp-small {
		width: 100%;
		height: auto;
		padding: 4em 2em;
	}
}

.block-text {
	position: relative;
	display: table-cell;
	vertical-align: middle;
}

.block--img-head{
	width: 100%;
	padding: 0;
	height: 30em;
		
	.block-head__img {
	    display: block;
	    height: 30em;
	    background-size: cover;
	    background-position: center;
	}
}

.block--img {
	padding: 0;
	float: left;
	background-size: cover;
	background-position: center;
	min-height: 18em;
	
	@include bp-medium{
		max-height: 20em;
	}
}

.block--alt .block--img {
	float: right;
}

.block--full {
	width: 100%;
	height: auto;
	
	strong {
		font-size: 1.5em;
		margin: .5em 10%;
		display: block;
		
		@include bp-small {
			margin: 0;
		}
	}
}

.block--social {
	background-color: $grey_light;
}

.block--social h3 {
	color: $enactus_gray;
}

.blocks--enactus {
	color: white;
	background-color: $enactus_gray;	
	padding: 2em;

	.block {
		text-align: left;
		height: auto;
		background-color: transparent;
		padding: 0;
	}
	
	a {
		color: $grey_light;
		font-size: 12px;
	}
	
	.list {
		margin: 1em 0 0 24px;
		list-style: none;
	}
}


.block-references {
	
  li {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 1.6em 1.2em;
    
    @include bp-medium {
      width: 100%;
    }
  }
  
  h2 {
    font-size: 1.1em;
  }
  
  i {
	font-size: 120%;
	margin: 1em 0 0.5em 0;
	display: block;
	font-style: italic;
	opacity: .8;  
  }
	
  img {
  	width: 5em;
  	height: 5em;
  	background-color: white;
  }
  
  .block-reference-image {
	background: url('../../img/icon-person.png');
	background-size: contain;
	display: block;
    margin: auto;
    width: 5em;
    height: 5em;
    border-radius: 100%;
	overflow: hidden;
  }
  
}
