/*start main rules*/
.container{width: 1170px; margin: auto;}

.clearfix{clear: both;}
/*end main rules*/
/*start Header*/
.header .slider{
    background-image: url(../images/snow-landscape-nature-sky.jpeg);
    background-size: cover;/*css3*/
    background-color: #eee;
    height: 6s00px;
}
.header .slider .intro{
    height: 600px;
    text-align: center;
    color: #fff;
    padding-top: 200px;
}
.header .slider .intro h2{
    color: #fff;
    margin: 0px auto;
    font-size: 50px;
    width: 600px;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    padding: 5px;

}
.header .slider .intro button{
    background: none;
    margin-top: 30px;
    font-size: 20px;
    border: 2px solid #fff;
    font-weight: bold;
    padding: 10px 30px;
}
.header .navbar{
    background-color:#252F31;
    color: #fff;
    overflow: hidden;
}
.header .navbar h2 {color: #fff;}
.header .navbar h2 span{color: #2ecc71;}

.header .navbar ul{
    list-style: none;
    padding-left: 0px;
    overflow: hidden;
    float: right;
}
.header .navbar ul li{ float: left; padding: 10px;}

.header .navbar ul li a{
    color: #fff;
    text-decoration: none;
}
.header .navbar ul li.active a,
.header .navbar ul li a:hover{
    color:#2ecc71;
}

/*end Header*/

/*start features*/
.features{overflow: hidden;padding-top:40px;padding-bottom: 50px;}

.features .feat{ width: 33.3333%; height: 150px;}
/*end features*/

/*start about me*/
.aboutme{background-color: #eee; overflow: hidden;}

.aboutme .img{width: 40%;height: 480px; background-size: cover; }

.aboutme .img img{width: 100%;height: 100%;}

.aboutme .info{width: 60%}

.aboutme .info h2{margin: 25px 0 20px 40px;}

.aboutme .info > p{margin: 0 0 10px 40px; }

.aboutme .info > p:last-of-type{margin-top: 25px; }

.aboutme .info .hobbies{overflow: hidden; margin: 15px 0 0 40px;}

.aboutme .info .hobbies .content {width: 50%;overflow: hidden;} 

.aboutme .info .hobbies .content .icon{width: 15%; margin-right: 2%}

.aboutme .info .hobbies .content .icon i{margin-top: 25px;color: #2dcc70;font-size: 40px; }

.aboutme .info .hobbies .content .text{width: 83%;}

.aboutme .info .hobbies .content p{margin-top: 0px;}

.aboutme .info .hobbies .content h3 {margin-bottom: 5px;}

/*end about me*/
/*start my skiils*/
.my-skills{
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 50px;
}

.my-skills .skills,.my-skills .progress{width: 50%;}

.my-skills .skills h2{margin: 25px 0 20px 40px;}

.my-skills .skills p{margin: 0 0 10px 40px;}

.my-skills .skills > p:last-of-type{margin-top: 25px; }

.my-skills .progress .technique {margin-left:30px; }

.my-skills .progress .technique h3{color: #555;}

.my-skills .skills button{
  margin-left: 40px;
  margin-top: 20px;
}
.my-skills .progress .technique div{background: #f2f2f2; height: 25px;}

.my-skills .progress .technique div span{
  background:#2dcc70;
  height: 25px;
  display: block;
  line-height: 25px;
  text-align: right;
  color: #fff;
  font-weight: bold;
}
/*end my skills*/
/*start resume*/
.resume{
    background-color: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
}
.resume h2{color:#555;font-weight: bold;}

.resume p{padding: 0 40px;}

.resume button{margin-top: 15px;}

/*end resume*/

/*start my education*/
.my-education{
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
}
.my-education  hr{margin: 20px 0;background-color: #999; height: 1px; border: 0px;}

.my-education .main{
    width: 50%;
    margin-right: 5%;
}
.my-education .main h2{margin: 25px 0 20px 40px;}

.my-education .main p{margin: 0 0 10px 40px;}

.my-education .main > p:last-of-type{margin-top: 25px; }

.my-education .exp{float: left; width: 45%;}

.my-education .exp h3{
  margin-top: 75px;
  margin-bottom: 10px;
  color: #555;
}
.my-education .exp span{display: block;margin-bottom: 10px;}

.my-education .exp span:first-of-type{color: #999;}

.my-education .exp span:last-of-type{
  background-color: #2dcc70;
  color: #fff;
  display: inline-block;
  padding: 4px 10px;
}
/*end my education*/

/*start testimonials*/
.testimonials{
    background-color: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  
}
.testimonials q{color:#888; font: italic bold 18px /1.8 arial, tahoma;}

.testimonials h3 {margin-bottom: 30px;}

.testimonials ul{list-style: none; padding-left:0px; text-align: center;}

.testimonials ul li{
  width: 15px;
  height: 15px;
  border: 1px solid #2dcc70;
  display: inline-block;
  cursor: pointer;
}
.testimonials ul li.active,
.testimonials ul li:hover{background-color:#2dcc70;}
/*end testimonials*/

/*start portofolio*/
.portofolio {
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center;
}
.portofolio h2{color: #555;}

.portofolio p{margin-bottom: 30px;}

.portofolio .ourwork{
  overflow: hidden;
}
.portofolio .ourwork > div{
  float: left;
  width: 33.3333%;
  margin-bottom: 10px;
}
.portofolio .ourwork > div img{
  width: 92%;
  margin: 10px;
  padding: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
}
/*end portofolio*/

.contact-me {
  background-color: #252f31;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 70px;
}
.contact-me .info{
   width: 50%;
   margin-right: 5%
}
.contact-me h2 {color: #fff;margin-left: 40px;}

.contact-me p{color: #6a6e71; margin-left: 40px;}

.contact-me p strong{color:#d1d6da}

.contact-me .form{width: 45%;}

.contact-me .form label {
  display: block;
  color: #d1d6da;
  margin: 10px 0;
}
.contact-me .form input[type="text"]{
  background-color: #4b5557;
  color: #fff;
  padding: 10px;
  border: 0;
  width: 80%;
  margin-bottom: 10px;
}
.contact-me .form textarea{
  background-color: #4b5557;
  color: #fff;
  padding: 10px;
  border: 0;
  width: 80%;
  margin-bottom: 10px;
  height: 300px;
}
.contact-me .form input[type="submit"]{
  background-color: #191E22;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  margin-top: 10px;
}
/*start contact me*/

/*end contact me */

/*start footer*/
.footer {
  background-color: #191e22;
  color: #6a6e71;
  padding: 20px 0;
  text-align: center;
  overflow: hidden;
}
.footer ul{
  list-style:none;
  padding-left: 0;
  margin:0;
  float: right;
}
.footer ul li{display: inline-block;}
.footer ul li i:hover{color: #fff;}
/*end footer*/

/*my framework*/
.my-button{
  background: none;
  border: 3px solid #2dcc70;
  padding: 10px 30px;
  color:#2dcc70;
  font-weight: bold;
}
 .fl-left{float: left;}/*float elemnts left*/
p{
  line-height: 1.7;
  color: #888;
}
h2, h3{color: #666;}
/*end framework*/