/* Start Main Rulez*/
.container{width:1170px;margin: auto}
.clearfix{clear:both}
/* End Main Rulez*/ 

/* Start Header*/
.header .slider
{
background-image:url('../image/slider.jpg');
-webkit-background-size: cover;/*Css 3*/
-moz-background-size: cover;/*Css 3*/
-o-background-size: cover;/*Css 3*/
background-size: cover;/*Css 3*/
height:600px;
}
.header .slider .intro {text-align: center;padding-top:200px;}
.header .slider .intro h2 { color:rgba(128, 148, 255, 0.66) ;margin: 0 auto;font-size:50px;width:600px;border-top: 4px solid #FFF;border-bottom: 4px solid #FFF}
.header .slider .intro button
{
background:none;
color:rgba(128, 148, 255, 0.66);
margin:30px;
font-size:20px;
border: 2px solid #FFF;
font-weight: bold;
padding:10px 20px 
}
.header .navbar {background-color:#252F31; color:#FFF ;overflow:hidden}
.header .navbar h2 {color:#FFF}
.header .navbar h2 span {color:#2CCD70} 
.header .navbar ul{list-style:none;padding-left:0px;overflow:hidden;float:right;}
.header .navbar ul li{float:left; padding:10px}
.header .navbar ul li a 
{text-decoration:none;color:#FFF}
.header .navbar ul li.active a ,
.header .navbar ul li a:hover{color:#27CA71}
/*End Header */

/*Start Features*/
.features{overflow:hidden;padding-top:40px;padding-bottom: 50px}
.features .feat{width:33.333333%;}
/*End Features*/

/*Sart About Me*/
.about-me {background-color:#F2F2F2;overflow:hidden;}
.about-me .info h2{margin:30px 0 20px 40px}
.about-me .info >p{margin:0 0 10px 40px;}
.about-me .info > p:last-of-type{margin-top:30px}
.about-me .image{width:40%}
.about-me .image img{width:300px ;height:500px; width:100%}
.about-me .info {width:60%}
.about-me .info .hobbies{overflow:hidden;margin: 40px 0 0 40px}
.about-me .info .hobbies .content {width:50%;min-height:100px;overflow: hidden;}
.about-me .info .hobbies .content .icon {width:12%;margin-right:3%}
.about-me .info .hobbies .content .icon img {max-width: 100%;margin: 35px 10px 0 0}
.about-me .info .hobbies .content .text{width:85%}
.about-me .info .hobbies .content .text p {margin-top:0}
.about-me .info .hobbies .content .text h3 {margin-bottom:5px}
/*End About Me*/

/*Start My-Skills*/
.myskills{padding-top:30px;padding-bottom:30px;overflow:hidden;}
.myskills .skills ,
.myskills .progress {width:50%;}
.about-me .info h2{margin:30px 0 20px 40px}
.myskills .skills >p{margin:0 0 10px 40px;}
.myskills .skills > p:last-of-type{margin-top:30px}
.myskills .skills button {margin-top: 20px;margin-left: 40px}
.myskills .progress .technique  {margin-left: 50px}
.myskills .progress .technique div {background-color:#F2F2F2;height: 25px}
.myskills .progress .technique div  span {display:block;background:#2DCC70;height:25xp;line-height:25px;color:#FFF;text-align:right}
/*End My-Skills*/

/*Start Resume*/
.resume{padding-top:50px;padding-bottom:70px;text-align:center;background-color:#F2F2F2;}
.resume button{margin:20px}
/*End Resume*/

/*Start My-Education*/
.my-education {padding-top:30px;padding-bottom:30px;overflow:hidden;}
.my-education .main {margin-right:5%;width:50%}
.my-education .main > p:last-of-type{margin-top:40px}
.my-education .exp{width:45%;}
.my-education .exp h3 {margin-top:68px ;margin-bottom:8px }
.my-education .exp span {display:block;margin-bottom:8px}
.my-education .exp span:first-of-type{color:#929292}
.my-education .exp span:last-of-type{display:inline-block;background-color:#2DCC70; color:#FFF ;PADDING:4px 8px}
.my-education .exp hr {margin:20px 0; background-color:#999 ; height:1px ;border:0 }
 hr {margin:20px 0; background-color:#999 ; height:1px ;border:0 }
/*End My-Education*/

/*Start testimonials*/
.testimonials{padding-top:50px;padding-bottom:70px;text-align:center;background-color:#F2F2F2;}
.testimonials p {font-size:19px ; font-weight:bold ;font-style:italic}
.testimonials h3 {text-transform:uppercase ;margin-bottom:30px}
.testimonials ul {list-style:none; padding-left:0 ;text-align:center }
.testimonials ul li {width:10px; height:10px ;border:2px solid #2DCC70 ;display:inline-block; cursor:pointer }
.testimonials ul li.active,
.testimonials ul li:hover
{background-color:#2DCC70 }
/*End testimonials*/

/*Start portfolio*/
.portfolio{padding-top:50px;padding-bottom:70px;text-align:center;}
.portfolio h2 {text-transform: uppercase}
.portfolio p {padding-bottom:5  0px}
.portfolio .our-work{overflow:hidden;}
.portfolio .our-work >div{width:33.333333%;float:left;margin-bottom: 10px}
.portfolio .our-work >div img{width:92%;margin-bottom: 10px;padding:3px;background-color:#FFF;;border:2px solid #CCC;}
/*End portfolio*/

/*Start Contact Me*/
.contact-me{background:#252F31;overflow: hidden;padding-top:50px;padding-bottom:70px}
.contact-me h2 {color:#FFF ;margin-left:40px}
.contact-me p  {color:#8F9394;margin-left: 40px}
.contact-me p strong {color:#FDFEFF}
.contact-me .info {width:50%;margin-right:5%;}
.contact-me .form{width:45%;}
.contact-me .form label  {display:block;color:#FDFEFF }
.contact-me .form input[type="text"]{background-color:#4B5557 ; width:80%;color:#FFF; padding:10px ; border:0 ;margin:10px 0 ;margin-bottom:15px}
.contact-me .form textarea {color:#FFF ;background-color:#4B5557; border:0 ;width:80% ;padding:10px ;height:300px ;margin-bottom:15px}
.contact-me .form button {color:#FFF ; background-color:#191E21 ;border:0 ;font-weight:bold; padding: 10px 20px; margin:10px 0}
/*End Contact Me*/

/*Start Footer*/
.footer{background:#191E21 ;color:#8F9394;text-align:center;padding:10px 0;overflow:hidden}
.footer ul {list-style:none ; padding-left:0 ;margin:0 ;float:right;}
.footer ul li {display:inline-block;  }
.footer ul li i {color:#8F9394 }
.footer ul li i:hover{color:#FFF }
/*End Footer*/

 /*Start FrameWork*/
.my-button{background:none;border:3px solid #2DCC70;color:#2DCC70;padding: 10px 30px;font-weight: bold}
.fl-left {float:left}
p {line-height: 1.6;color:#666}
h2 ,h3 {color:#666}
/*End FrameWork*/