@media only screen and (max-width:1023px) {
    .ourteam .col-md-3:nth-child(3){
        clear: left;
    }
}
@media only screen and (max-width:767px) {
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover{
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
        color: #fff;
        background-color: #ff2d55;
        border:none;
        border-radius:0;
        height: 100%;
        margin-top: 0;
    }
    .btn {
        padding: 10px 40px;
    }
    
    @media only screen and (max-width:480px) {
        .header-main h1,
        .aboutus h2,
        .ourteam h2 {
            font-size: 260%;
        }
        .header-main small,
        .aboutus small,
        .ourteam small {
            font-size: 110%;
        }
        .btn {
            padding: 8px 35px;
            font-size: 13px;
        }
        .aboutus p {
            font-size: 100%;
        }
    }
}