body
{
    width: auto;
    height: auto;
    margin: auto;
    background-image:url(gear-wallpaper-6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
}

img.profile{
    width: 200px;
    height: 200px;
    margin-top: 100px;
    margin-left: 200px;
    border-right-color: aqua;
}

p.para{
    font-size:20px;
    color:white;
    margin-left: 50px;
    margin-right: 50px;
}