body {
  padding: 0;
  margin: 0;
  font-family: "Allerta", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.6em;
  background: #fff
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #05A2C8;
  outline: 1px solid #fff;
  border-radius: 5px;
  width: 0.5em
}

/*********************************************/

/*start header*/
header {
  background: #292A2C;
  color: #fff;
  text-align: center;
  padding: 22px;
}

header h1 {
  font-size: 47px;
  font-weight: bold;
  letter-spacing: -5px;
}

header p {
  color: #05A2C8;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
}

.hr1 {
  width: 5%;
  display: inline-block;
  position: absolute;
  margin-left: -122px;
  margin-top: 9px;
  border-color: #787878;
  border-width: thin;
}

.hr2 {
  width: 5%;
  display: inline-block;
  position: absolute;
  margin-left: 62px;
  margin-top: -18px;
  border-color: #787878;
  border-width: thin;
}
/*End header*/


/*start nav*/
i {
  cursor: pointer;
}

nav {
  overflow: hidden;
}

nav ul>a {
  color: #787878;
  text-decoration: none;
}

nav ul {
  list-style: none;
  overflow: hidden;
  background: #292A2C;
  color: #787878;
  text-align: center;
  padding: 0;
  margin: 0;
  border-top: 1px solid rgba(120, 120, 120, 0.44);
  border-bottom: 1px solid #787878;
  border-width: thin;
  box-shadow: 1px 0px 3px #333;
}

nav ul li {
  display: inline-block;
  padding: 20px;
  min-width: 121px;
  cursor: pointer;
  border-left: 1px solid rgba(120, 120, 120, 0.44);
  border-bottom: 4px solid #787878;
  margin: -3px;
  font-weight: bold;
}

nav ul li:last-child {
  border-right: 1px solid rgba(120, 120, 120, 0.44);
}

nav ul li:hover {
  color: #fff;
  border-bottom: 0
}

@media screen and (max-width: 832px) {
  nav ul li {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    text-align: left;
    border: 0;
    margin: 0;
    display: none;
  }
}

nav .menu {
  padding: 15px 10px;
  box-sizing: border-box;
  background: #292A2C;
  color: #fff;
  width: 100%;
  display: none;
  overflow: hidden;
  cursor: pointer;
}

@media screen and (max-width: 832px) {
  nav .menu {
    display: block;
  }
}

nav input {
  display: none;
  padding: 10px;
  margin-left: 5px;
  border: 0;
  background: #787878;
  color: #fff;
  outline: none;
  margin-bottom: -7px
}
/*end nav*/



/*start section2*/

.section2 {
  background-image: url('../imgs/1.jpg');
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.section2 img {
  width: 442px;
  margin-top: 58px;
  position: absolute;
  overflow: hidden;
}

.section2 .info {
  margin: 49px auto;
}

.section2 .info h1 {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  margin-bottom: -10px;
}

.section2 .info p {
  color: rgba(255, 255, 255, 0.8);
  margin: 24px auto;
}

.btnstyle {
  background: #292a2c;
  color: #fff;
  border: 0;
  padding: 9px;
  margin-top: 10px;
  box-shadow: 0px 2px 3px #000;
  width: 150px;
  transition: 0.5s;
}
.btnstyle:hover{opacity: 0.6}
/*End section2*/



/*start section3*/
.section3 {
  margin-top: 50px;
  margin-bottom: 40px;
}

.section3 .info h3 {
  font-size: 30px;
  font-weight: bold;
  color: #292a2c;
  margin-bottom: -18px;
}

.p-style {
  color: rgba(41, 42, 44, 0.71);
  margin-top: 26px;
  line-height: 1.7em;
}
/*End section3*/


/*start section4*/
.section4 {
  background-image: url('../imgs/section4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 600px;
  overflow: hidden;
}

.section4 .content {
  width: 100%;
  min-height: 600px;
  background: rgba(41, 42, 44, 0.63);
}

.section4 .content h3 {
  color: rgba(255, 255, 255, 0.88);
  margin-top: 75px;
  font-size: 35px;
  font-weight: bold;
}

.section4 .content .info {
  margin-top: 49px;
}

.section4 .content .info .icons {
  margin-bottom: 12px
}

.section4 .content .info .icons i {
  color: #02add5;
  font-size: 38px;
  font-weight: inherit;
  padding: 29px;
  border-radius: 50%;
  border: 4px solid #02add5;
  transition: 0.5s
}

.section4 .content .info .icons i:hover {
  color: #fff;
  background: #02add5
}

.section4 .content .info .icons h4 {
  font-weight: bold;
  color: #fff;
}

.section4 .content .info .icons p {
  color: rgba(255, 255, 255, 0.48);
  line-height: 1.7em;
}

.section4 .content button {
  margin-top: 68px;
  padding: 10px;
  border: 0;
  background: #02add5;
  color: #fff;
  box-shadow: 0px 3px 0px rgb(19, 98, 117);
  width: 150px;
  margin-bottom: 20px
}

/**************************************/



/*start section5*/

.section5 {
  margin-top: 50px;
  margin-bottom: 30px;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px
}

.section5 .case h3 {
  font-size: 30px;
  font-weight: bold;
  color: #292a2c;
  margin-bottom: -18px;
}


/*start pic style*/

.section5 .pic {
  margin-top: 20px;
  overflow: hidden;
}

.section5 .pic1 {
  border: 1px solid rgba(120, 120, 120, 0.33);
  padding: 5px 0px 1px 0px;
  overflow: hidden;
  border-width: thin;
  border-radius: 5px;
  box-shadow: 0px 1px 7px #a39c9c;
  margin-bottom: 8px;
  transition: 0.5s;
  cursor: pointer;
}

.section5 .pic1:hover {
  border: 1px solid #333;
}

.section5 .pic1 img {
  width: 97%;
  height: 200px;
}

.section5 .pic1 h4 {
  font-weight: bold;
  text-align: -webkit-auto;
  font-size: 15px;
  margin-bottom: -25px;
  margin-top: 4px;
  margin-left: 5px;
}

.section5 .pic1 p {
  text-align: -webkit-auto;
  font-size: 10px;
  margin-left: 5px;
  font-weight: bold;
}


/*start section6*/

.section6 {
  background-image: url('../imgs/1.jpg');

  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  color: #fff;
  margin-top: 20px;

  padding: 10px
}

.section6 h1 {
  font-weight: bold;
  font-size: 47px;
}

.section6 p {
  color: rgba(51, 51, 51, 0.78);
  letter-spacing: 5px;
  font-weight: bold;
}


/*start section7*/

.section7 {
  background-image: url(../imgs/section7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 500px;
}

.section7 .content {
  width: 100%;
  min-height: 500px;
  background: rgba(41, 42, 44, 0.63);
}


/*start section8*/

.section8 {
  margin-top: 26px;
  padding: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.section8 .info {
  border: 1px solid rgba(88, 86, 86, 0.3);
  padding: 7px;
  border-width: thin;
  margin-bottom: 15px;
  transition: 0.5s
}


/*start section9*/

.section9 {
  background-image: url('../imgs/1.jpg');

  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  margin-top: 20px;
  overflow: hidden;
  padding: 30px
}


/*start section 10*/

.section10 {
  background-image: url(../imgs/section10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 450px;
}

.section10 .content {
  width: 100%;
  min-height: 450px;
  background: rgba(41, 42, 44, 0.82)
}

.section10 .map {
  border: 7px solid #1b1919;
  overflow: hidden;
  width: 100%;
  height: 350px
}

.section10 .info {
  margin-top: 50px
}

.section10 .contact {
  color: #fff;
  text-align: -webkit-auto;
}

.section10 .info .info1 {
  margin-bottom: 40px
}

.section10 .info .info1 h3 {
  font-weight: bold;
  font-family: sans-serif;
}

.section10 .info .info1 p {
  color: rgba(255, 255, 255, 0.72);
  font-family: sans-serif;
}


/*section up*/

.up span {
  position: fixed;
  margin-top: 550px;
  left: 7px;
  padding: 10px;
  font-size: 25px;
  color: #fff;
  background: #02add5;;
  border-radius: 50%;
  border: 3px solid #02add5;
  cursor: pointer;
  transition: 0.5s;
  z-index: 9999

}
.up span:hover{background:#fff;color:#02add5;}

/*start section11*/

.section11 {
  background: #292a2c;
  padding: 30px;
}

.section11 h6 {
  color: #787878;
  font-size: 11px;
}

.section11 ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
}

.section11 ul li {
  display: inline-block;
  padding: 5px;
  font-size: 11px;
}

.section11 ul li:before {
  content: " / "
}

.section11 a {
  text-decoration: underline;
  color: #787878;
}

.section11 i {
  font-size: 30px;
  color: #787878;
  margin-left: 5px;
  transition: 0.5s;
  cursor: pointer;
}

.section11 i:hover {
  opacity: 0.4
}


