body {
    padding-top: 70px;
    overflow: hidden;
}

.h1,
h2,
h3,
h4,
h5,
h6,
lead {
    font-family: 'Droid Sans', sans-serif;
}


/****************** Start Overriding Bootstrap ***********************/


/* Navbar */

.navbar-inverse {
    min-height: 70px;
    margin-bottom: 0;
    border-radius: 0px;
}


/* Active Link */

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #E41B17;
}


/* Navbar Link */

.navbar-inverse .navbar-nav>li>a {
    color: #BBB;
    padding-top: 25px;
    padding-bottom: 25px;
}


/* Site Name */

.navbar-inverse .navbar-brand {
    color: #BBB;
    font-size: 30px;
    line-height: 35px;
}

.navbar-inverse .navbar-brand span {
    color: #E41B17;
}


/* Dropdown Menu */

.navbar-nav>li>.dropdown-menu {
    background-color: #333;
    border-top: 3px solid #E41B17;
    min-width: 200px;
    right: auto;
    left: 0;
}

.dropdown-menu>li>a {
    color: white;
    padding: 6px 20px;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #E41B17;
    color: white;
    padding-left: 28px;
}

.dropdown-menu .divider {
    background-color: #8a0808;
}


/* Navbar Toggle */

.navbar-toggle {
    padding: 12px 11px;
    margin-top: 14px;
}


/* Start Carousel */

.carousel-caption {
    bottom: 250px;
    background-color: rgba(3, 3, 3, 0.4);
    padding-right: 20px;
    padding-left: 20px;
}

.carousel-inner img {
    width: 3957px;
    height: 2638px;
}

.audi {
    color: lightsteelblue;
}

.carousel-indicators li {
    height: 15px;
    width: 15px;
}

.carousel-indicators .active {
    height: 17px;
    width: 17px;
    background-color: #E41B17;
}


/* End Carousel */


/****************** End Overriding Bootstrap ***********************/


/* Start About Section */

.about {
    padding-top: 20px;
    padding-bottom: 20px;
}

.about div p {
    color: #888;
}

.about div .h1 .about div h3 {
    font-weight: bold;
}

.about div .h1 span,
.about div h3 span {
    color: #E41B17;
}


/* End About Section */


/* Start Features Section */

.features {
    padding: 30px;
    background-color: #EEE;
}

.features .h1 {
    margin-bottom: 30px;
}

.features .feat {
    line-height: 2em;
    margin-bottom: 10px;
}

.features .glyphicon {
    font-size: 30px;
    margin-bottom: 10px;
    color: #666;
}


/* End Features Section */


/* Start Testimonials Section */

.testimonials carousel-inner {
    min-height: 250px;
}

.testimonials .lead {
    line-height: 1.5em;
}

.testimonials .h1 {
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 30px;
}

.testimonials .item span {
    color: #E41B17;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}

.testimonials .carousel-indicators {
    position: static;
    width: 100%;
    margin-left: auto;
    padding-top: 20px;
}

.testimonials .carousel-indicators li {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-indent: 0;
    margin: 4px;
    overflow: hidden;
    opacity: .4;
}

.testimonials .carousel-indicators li.active {
    background: none;
    width: 80px;
    height: 80px;
    opacity: 1;
}

.testimonials .carousel-indicators li img {
    max-width: 100%;
}


/* End Testimonials Section */


/* Start Price Table */

.price-table {
    background-color: #EEE;
    padding-top: 40px;
    padding-bottom: 40px;
}

.price-table .price-box:hover p {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    border: 2px solid #DFDFDF;
}

.price-table .price-box p {
    font-weight: bold;
    font-size: 30px;
    width: 100px;
    height: 100px;
    background-color: #e0e0e0;
    border-radius: 50%;
    line-height: 100px;
    color: #616161;
}

.price-table .price-box li {
    line-height: 3em;
}


/* End Start Table */


/* Start Our Team Section */

.our_team {
    background: url("../Img/moon.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 600px;
}

.our_team img {
    width: 200px;
    height: 200px;
}

.our_team .team {
    background: rgba(2, 2, 2, .5);
    color: #FFF;
    min-height: 600px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.our_team .team .person {
    margin-bottom: 30px;
}

.our_team .team .h1 {
    padding-bottom: 30px;
    color: #FFF;
}


/* End Our Team Section */


/* Start Subscribe Section */

.subscribe {
    background-color: #eeeeee;
}

.subscribe .h1 {
    padding-top: 30px;
}

.subscribe .form-inline {
    padding-bottom: 50px;
}

.subscribe .form-inline button {
    margin-top: 10px;
    padding: 12px;
    border-radius: 0px;
}

.subscribe .form-inline input {
    margin-top: 10px;
    margin-right: -5px;
    border-radius: 0px;
}


/* End SubScribe Section */


/* Start Statistics Section */

.Statistics {
    background: url("../Img/camera.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 300px;
    color: #9e9e9e;
}

.Statistics .content {
    background-color: rgba(2, 2, 2, .7);
    min-height: 300px;
    padding-bottom: 30px;
}

.Statistics .content .h1 {
    padding: 30px;
}

.Statistics .content .data {
    margin-bottom: 20px;
}

.Statistics .content .data:hover {
    color: #FFF;
}

.Statistics .content .data p {
    font-size: 50px;
    font-weight: bold;
}

.Statistics .content .data span {
    font-size: 20px;
    font-family: sans-serif;
}


/* End Statistics Section */


/* Start Skills Section  */

.our_skills {
    padding-top: 40px;
    padding-bottom: 40px;
}

.our_skills .h1 {
    padding-bottom: 30px;
}

.progress {
    height: 30px;
}

.progress-bar {
    line-height: 30px;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
}

.our_skills .our_progress {
    margin-top: 0px;
}

.our_skills .about_team h2 {
    margin-top: -10px;
}


/* End Skills Section */


/* Start Contact Us */

.contact_us {
    background: url("../Img/maps.jpg") no-repeat center center fixed;
    -webkit-background: cover;
    -moz-background: cover;
    -o-background: cover;
    background: cover;
    min-height: 300px;
    color: #FFF;
    font-family: sans-serif;
}

.contact_us .content {
    background-color: rgba(2, 2, 2, .9);
    padding: 30px;
}

.contact_us .content h4 {
    margin-bottom: 30px;
}

.contact_us .content .form-control {
    background-color: rgba(82, 78, 78, .07);
    color: #FFF;
    border: none;
}

.contact_us .content .form-control.active {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.contact_us .content textarea {
    height: 108px;
}

.contact_us .content .btn-danger {
    padding-bottom: 10px;
    padding-top: 10px;
}


/* End Contact Us */


/* Start Sponsors Section */

.sponsors {
    background: #EEE;
}

.sponsors ul li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sponsors ul li img {
    opacity: .5;
}

.sponsors ul li img:hover {
    opacity: 1;
}


/* End Sponsors Section */


/* Start Footer Section */

.footer {
    background-color: #000;
    opacity: .9;
    padding: 10px 0px 0px 0px;
    color: #FFF;
}

.footer .img-thumbnail {
    background-color: rgba(0, 0, 0, .3);
    border: 1px solid #212121;
    margin-bottom: 10px;
}

.footer h3 {
    color: #039be5;
    font-weight: bold;
    font-size: 30px;
    margin-left: 4px;
}

.site_map {
    display: inline-block;
}

.site_map .site_map_list {
    overflow: hidden;
    margin-top: 20px;
    margin-left: 4px;
}

.site_map .site_map_list li {
    float: left;
    margin-bottom: 4px;
    margin-top: 4px;
    width: 33.333333%;
}

.site_map social_media_list {
    overflow: hidden;
    margin-top: 20px;
    display: inline-block;
}

.site_map .social_media_list li {
    float: left;
    margin: 10px 4px 10px 4px;
    opacity: .7;
}

.site_map .social_media_list li:hover {
    opacity: 1;
}

.footer .copyright {
    background-color: #111;
    padding: 10px 0px 10px 0px;
    margin: 0px;
}

.footer .copyright span {
    color: #039be5;
    margin-bottom: 0px;
}


/* End Footer Section */


/* Start Loading Screen Section */

.spinner {
    width: 40px;
    height: 40px;
    background-color: #333;
    margin: 300px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

.loading {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #FFF;
    z-index: 99999;
}


/* End Loading Screen Section */


/* Start Scroll To Top Section */

.scroll_top {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 15px;
    bottom: 20px;
    background-color: #AAA;
    color: #FFF;
    text-align: center;
}

.scroll_top:hover {
    cursor: pointer;
}


/* End Scroll To Top Section */


/* Start Grouping System */

.dropdown-menu>li>a,
.sponsors ul li img,
.price-table .price-box p,
.Statistics .content .data,
.site_map .social_media_list li,
.contact_us .content .form-control,
.testimonials .carousel-indicators li,
.testimonials .carousel-indicators li
{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/* End Grouping System */