p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.7em
}

p {
  font-size: 15px
}

body {
  font-family: "Raleway", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.8em;
  background: #fff
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #377FD9;
  outline: 1px solid #fff;
  width: 0.5em
}

section {
  overflow: hidden;
}


/*start option box*/

.option-box {
  position: fixed;
  top: 250px;
  left: 0;
  z-index: 99999
}

.option-box .color-option {
  float: right;
  background-color: #fff;
  color: #fff;
  padding: 1px;
  text-align: center;
  box-sizing: border-box;
  padding: 12px;
  padding-bottom: 0px;
  display: none;
}

.option-box .color-option ul li {
  width: 35px;
  height: 35px;
  background-color: #0096E6;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin-left: 5px;
}

.option-box .check {
  padding: 10px;
  background-color: #377FD9;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
  animation: coloring 1s infinite linear;
}

.option-box .check:hover {
  background-color: #fff;
  color: #377FD9;
}


/*end option box*/


/*start up*/

.up span {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 20px;
  height: 50px;
  background-color: #377FD9;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
  font-size: 27px;
  padding: 10px;
  top: 300px;
  z-index: 9999;
  box-shadow: 1px 2px 5px #000;
  animation: up 0.5s infinite alternate-reverse;
}

@keyframes up {
  0% {
    top: 290px
  }
  100% {
    top: 310px
  }
}

.up span:hover {
  animation: paused;
}


/*End up*

/*start navbar*/

.navbar-default {
  background-color: transparent;
  border: 0;
  margin-bottom: 0;
  z-index: 9999;
  position: absolute;
  width: 100%;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  transition: 0.5s
}

.navbar-default .navbar-nav > li > a:hover {
  color: #fff
}

.navbar-default .navbar-nav > li > a:focus {
  border-bottom: 5px solid #377FD9;
  color: #fff;
}

.navbar-nav > li {
  float: left;
  font-weight: bold;
  padding-top: 8px;
  font-size: 15px;
  display: none;
}

.navbar-nav > li:hover,
.navbar-nav > li:focus {
  border-bottom: 5px solid #377FD9;
  color: #fff;
}

.navbar-nav .glyphicon-menu-hamburger {
  color: #fff;
  top: 23px;
  font-size: 24px;
  cursor: pointer;
  margin-left: 7px;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-weight: bold;
  line-height: 34px;
  font-size: 24px;
}

.navbar-default .navbar-brand span {
  color: #377FD9
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: #222;
  background: #222;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #377FD9;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #222;
}

@media screen and (max-width: 768px) {
  .navbar-nav > li {
    width: 100%;
    text-align: center;
    background: #377FD9;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .navbar-nav > li:hover {
    background: #222
  }
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}


/*end navbar*/


/*start home*/

.home {
  background-image: url(../imgs/blue-green-home-section.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.home .content {
  background: rgba(34, 34, 34, 0.75);
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
}

.home .content .info {
  margin: 20% auto;
  padding-top: 30px;
}

.home .content .info h1 {
  font-weight: bold;
  color: #377FD9;
  opacity: 0.4;
  transition: 0.3s;
  font-family: 'Righteous', cursive;
  animation: fade 1s infinite alternate-reverse;
}

@keyframes fade {
  from {
    opacity: 0.4
  }
  to {
    opacity: 1
  }
}

.home .content .info h1:hover {
  opacity: 1
}

.home .content .info h3 {
  color: rgba(255, 255, 255, 0.92);
  background: #377FD9;
  width: 60%;
  margin: 1px auto;
  padding: 5px;
  border-radius: 2px;
  text-align: center;
  margin-bottom: 20px
}

.home .content .info p {
  color: rgba(255, 255, 255, 0.38);
}

.home .content .info .glyphicon {
  color: #377FD9;
  font-size: 31px;
  top: 41px;
  cursor: pointer;
  animation: moveing 1s infinite alternate-reverse;
  background: #222;
  padding: 15px;
  border-radius: 100%;
  transform: scale(0.9, 0.9);
}

@keyframes moveing {
  0% {
    top: 34px;
  }
  100% {
    top: 49px
  }
}


/*End home*/


/*start services*/

.services {
  background: #fff;
  min-height: 500px;
  overflow: hidden;
}

.services h2 {
  color: rgb(34, 34, 34);
  font-weight: bold;
  padding-top: 40px;
  margin-top: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 16px;
}

.services .info {
  width: 100%;
  margin-bottom: 50px;
}

.services .info h4 {
  color: #377FD9;
  font-weight: bold;
}

.services .info p {
  color: rgb(34, 34, 34);
  font-size: 13px;
}

.services .info i {
  color: #377FD9;
  font-size: 46px;
  padding: 46px;
  background: #222222;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.5s
}

.services .info i:hover {
  transform: scale(0.9, 0.9);
}

hr {
  width: 98px;
  border: 3px solid #377FD9;
  border-radius: 5px;
  margin-bottom: 80px
}


/*end services*/


/*start About Me*/

.about-me {
  background: #f0f0f0;
  min-height: 400px;
}

.about-me h2 {
  color: rgb(34, 34, 34);
  font-weight: bold;
  padding-top: 40px;
  margin-top: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 16px;
}

.about-me hr {
  width: 98px;
  border: 3px solid #377FD9;
  border-radius: 5px;
      margin-bottom: 62px;
}

.about-me .info {
  margin-bottom: 40px
}

.about-me .info img {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 5px solid #377FD9;
  transition: 0.5s;
  cursor: pointer;
  margin-top: -29px;
}

.about-me .info img:hover {
  transform: scale(0.9, 0.9);
}

.about-me .info h2 {
  background: #377FD9;
  color: #fff;
  padding: 5px;
  text-align: -webkit-auto;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: normal;
  font-family: "Raleway", sans-serif;
}

.about-me .info p {
  color: rgba(0, 0, 0, 0.62);
  ;
  text-align: -webkit-auto;
}

.about-me .info .progress-bar {
  background: #377FD9
}


/*end About Me*/


/*start works*/

.works {
  background-image: url(../imgs/works-section.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.works .content {
  background: rgba(34, 34, 34, 0.75);
  min-height: 100vh;
}

.works .content h2 {
  color: rgba(255, 255, 255, 0.68);
  font-weight: bold;
  padding-top: 40px;
  margin-top: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 16px;
}

.works .info {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 7px 13px #222;
  border: 2px solid #377FD9;
}

.works .info img {
  width: 100%;
  height: 250px;
  transition: 0.5s
}

.works .info figcaption {
  position: absolute;
  z-index: 9999;
  top: 0px;
  background: #090d13;
  color: #fff;
  width: 64%;
  height: 100%;
  padding: 5px;
  transform: rotateY(90deg);
  transition: 0.5s
}

.works .info figcaption>h1 {
  height: 46px;
  font-weight: normal;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: 'Open Sans Condensed', sans-serif;
}

.works .info figcaption>a {
  color: #ffffff;
  text-decoration: none;
  background: #377FD9;
  padding: 10px;
  border-radius: 4px;
}

.works .info figcaption>p {
  color: #ea5065;
  font-size: 13px;
}

.works .info:hover figcaption {
  transform: rotateY(0deg)
}

.works .info:hover img {
  transform: scale(1.5, 1.5);
}


/*end works*/


/*start price*/

.price {
  background: #f0f0f0;
  padding-bottom: 10px;
  min-height: 100vh;
}

.price h2 {
  color: rgba(0, 0, 0, 0.68);
  font-weight: bold;
  padding-top: 40px;
  margin-top: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 16px;
}

.price .info {
  width: 80%;
  height: 100%;
  background: #fff;
  color: #222;
  font-weight: bold;
  margin: 5px auto;
  margin-bottom: 50px;
  transition: 0.3s;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 10px #000;
}

.price .info i {
  background: #377FD9;
  padding: 13px;
  border-radius: 100%;
  font-size: 25px;
  position: absolute;
  top: -29px;
  right: 42%;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 1px 1px 4px #333;
  color: #fff
}

.price .info:hover i {
  background: #222;
}

.price .info:hover button {
  transform: scale(1.2, 1.2);
}

.price .info h3 {
  background: #377FD9;
  padding: 22px;
  margin-top: 0;
  font-weight: bold;
  color: #fff;
}

.price .info h3>span {
  color: rgba(255, 255, 255, 0.57);
  font-size: 40px;
  font-family: sans-serif;
}

.price .info ul>li {
  padding: 13px;
  font-size: 15px;
  border-bottom: 2px solid #377FD9;
  width: 90%;
  margin: 0px auto;
}

.price .info li>span {
  background: #377FD9;
  font-size: 12px;
  padding: 4px;
  border-radius: 50%;
  color: #fff
}

.price .info li>.color {
  background: none;
  color: #377FD9;
  font-weight: bold;
}

.price .info button {
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
  background: #377FD9;
  border: 0;
  width: 117px;
  border-radius: 10px;
  transition: 0.3s;
  color: #fff
}

.price .info button:hover {
  background: #333;
}


/*End price*/


/*start team*/

.team {
  min-height: 350px;
  background-image: url(../imgs/team-section.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.team h2 {
  color: #fff;
  font-weight: bold;
  padding-top: 40px;
  margin-top: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 16px;
}

.team .content {
  height: 100%;
  width: 100%;
  background: rgba(34, 34, 34, 0.68)
}

.team .info {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 50px;
  border: 2px solid #377FD9;
  box-shadow: 3px 5px 7px #222;
  cursor: pointer;
}

.team .info .background {
  width: 100%;
  height: 100%;
  filter: blur(2px);
  transition: 0.3s
}

.team .info:hover {
  border: 0
}

.team .info:hover .caption {
  transform: rotateY(0deg);
}

.team .info:hover .background {
  transform: scale(1.3, 1.3);
  filter: blur(0px);
}

.team .info:hover .member {
  top: -500px
}

.team .info .caption {
  position: absolute;
  top: 0px;
  background: rgba(34, 34, 34, 0.68);
  width: 100%;
  height: 100%;
  transition: 0.5s;
  transform: rotateY(90deg);
}

.team .info .member {
  position: absolute;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  top: 31px;
  right: 15%;
  box-shadow: 1px 3px 6px #222;
  transition: 0.5s
}

.team .info .caption h3 {
  color: #fff;
  letter-spacing: 3px;
  margin-top: 50px;
}

.team .info .caption p {
  color: #377FD9;
}

.team .info .caption i {
  padding: 10px;
  background: #377FD9;
  color: #fff;
  border-radius: 3px;
  margin-left: 3px;
  cursor: pointer;
  transition: 0.3s
}

.team .info .caption i:hover {
  background: #222
}


/*End team*/


/*start contact*/

.contact {
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #222;
  padding-bottom: 10px
}

.contact h2 {
  color: #fff;
  font-weight: bold;
  padding-top: 40px;
  margin-top: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 16px;
}

.contact hr {
  margin-bottom: 10px;
}

.contact form {
  margin: 2px auto
}

.contact form>input {
  background: none;
  border: 1px solid rgba(238, 238, 238, 0.48);
  border-width: thin;
  padding: 6px;
  font-size: 12px;
  width: 100%;
  border-radius: 4px;
  outline: none;
  margin-bottom: 10px
}

.contact form>textarea {
  width: 100%;
  height: 147px;
  background: none;
  resize: none;
  border-radius: 3px;
  text-indent: 5px;
  border: 1px solid rgba(238, 238, 238, 0.48);
  border-width: thin;
  outline: none;
}

.contact form>button {
  padding: 10px;
  background: #377FD9;
  color: #fff;
  border: 0;
  width: 99px;
  margin-top: 10px;
  border-radius: 3px;
  transition: 0.3s;
}

.contact .info {
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.8);
}

.contact .info h3 {
  font-weight: bold;
}

.contact .info p {
  font-size: 13px
}


/*End contact*/


/*start footer*/

.footer {
  background: #333;
  min-height: 180px;
}

.footer .social-icons {
  display: inline-flex;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 20px
}

.footer .social-icons>li {
  font-size: 21px;
  background: #377FD9;
  margin-left: 9px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.footer .social-icons>li:hover {
  background: #222
}

.footer li>a {
  color: #fff;
  text-decoration: none;
}

.footer .navbar-list {
  display: inline-flex;
  padding: 0;
  margin-bottom: 20px
}

.footer .navbar-list>li {
  padding:3px;
  cursor: pointer;

}
.footer p {
  color: rgba(255, 255, 255, 0.49);
  padding: 20px
}

.footer p>span {
  color: #377FD9
}


/*end footer*/


/*start loading*/

.overlay {
  background-color: #377FD9;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 300px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}


/*end loading*/