
body{
      font-family: "JF Flat Regular";
      height: 5000px;
          background: #F1F1F1
 
     
      /*color: rgba(221, 89, 11, 0.92)*/

}
  @font-face {
    font-family: "JF Flat Regular";
    src: url('../fonts/JF-Flat-regular.eot');
    src: url('../fonts/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
    url('../fonts/JF-Flat-regular.woff') format('woff'),
    url('../fonts/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/********start navbar***********/
.the-nav .navbar-default {
    background-color: #232A3B;
    border-bottom: 8px solid #0096E6;
    direction: rtl
}
.the-nav .navbar{margin-bottom: 0}

.the-nav .navbar > .container .navbar-brand, .navbar >
 .container-fluid .navbar-brand {
   
    color: #fff;
    background: #0096e6;

}
.the-nav .navbar-default .navbar-nav > li > a{color: #FFF;transition: 0.5s}
.the-nav .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #0096e6;
    margin-right: 5px;

}

.navbar-default .navbar-toggle {
    border:0;
    background: #0096e6;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #000;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
/********End navbar***********/


/*********start slider***********/
.slider .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    height: 350px;

}


.slider .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 70px;
    padding-left: 10px;
    padding-right: 10px;
}
.slider .carousel-caption h1 {
    background: #0096e6;
    padding: 8px;
    margin-bottom: 0
} 
.slider .carousel-caption p {
    background: rgba(35, 42, 59, 0.56);
    padding: 10px;
}
.slider .carousel-control .glyphicon-chevron-left,
 .carousel-control .icon-prev {
    margin-left: -10px;
    color: #0096e6;
}
.slider .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -10px;
    color: #0096e6;
}
/*********end slider***********/


/*********start about***********/

.about {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 25px;
}
.about h3 {
    background: #0096e6;
    color: #fff;
    padding: 11px;
    margin-bottom: 16px;
    border-radius: 7px;
    transition: 0.5s;
    text-align: center;
}
.about h3:hover{background-color: rgba(0, 150, 230, 0.33)}
.about button {
    margin-top: 39px;
    color: #fff;
    background: #0096e6;
    border: 0;
    padding: 5px;
    width: 100px;
    border-radius: 6px;
}

.about p{color: rgba(255, 255, 255, 0.81);text-align: center;}

.about .see-more1 {
    background-color: rgba(51, 51, 51, 0.66);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: none;
}

.about .see-more2 {
    background-color: rgba(51, 51, 51, 0.66);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: none;
}

.about .see-more3 {
    background-color: rgba(51, 51, 51, 0.66);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: none;
}

.about .info1 {
    background-image: url(../img/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 200px;
    width: 220px;
    margin: auto;
    margin-bottom: 8px;
    text-align: center;
}

.about .info2{
   background-image: url('../img/6.jpg');
   background-size: cover;
   background-repeat: no-repeat;
    border-radius: 5px;
    height: 200px;
    width: 220px;
    margin: auto;
    margin-bottom: 8px;
    text-align: center;

}

.about .info3{
   background-image: url('../img/7.png');
   background-size: cover;
   background-repeat: no-repeat;
    margin: auto;
    border-radius: 5px;
    height: 200px;
    width: 220px;
    margin: auto;
    margin-bottom: 8px;
    text-align: center;

}

/*********end about***********/


