*{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing:border-box;
}
body{margin: 0;}
.container{width: 1170px;margin: auto}
.clearfix{clear:both }

/*start header*/
.header{overflow: hidden;width: 100%;height:200px}
.header .left_header{width: 50%;float: left;height: 220px}
.header .left_header img{width: 200px;height: 200px;margin-left:40px}
.header .right_header{width: 50%;float: right;margin-top: 40px}
 .header .right_header .form-control {border-radius:10px;margin-right:-5px;width:300px}
 .header .right_header button {border-radius:10px;background-color:#129546}
 /*end header*/
 
/*start menu*/
.menu{width: 100%;height:100px;text-align: center;margin-bottom: 30px}
.menu ul {list-style: none;overflow: hidden;text-align: center;margin-top: 30px;}
.menu li{font-size:35px;float:left;padding:20px;float: right;}
.menu ul li a{color:#129546;text-decoration:none;}
.menu .active a{font-weight: bold;color:#221c1d }*/
/*end menu*/

/*start slider*/
hr{width: 100%}
.slider{width: 100%}
.slider h2{float: right;font-family: tahoma;font-size: 30px;font-weight: bold;color: #129546}
.slider img{float: left;margin-left: 10px;margin-top: 40px;width: 480px;height: 340px}
.slider p{float: right;font-family: tahoma;font-size: 30px;line-height: 35px;text-align: justify;width: 50%;margin-top: 20px}
/*end slider*/
/*start news*/
.news{text-align: center;margin-top: 30px;margin-bottom: 40px}
.news img{background-size:100%;height: 400px;width: 1100px;border-radius:10px;transition: all 2s ease-in-out;margin-top:40px}
.news img:hover{transform:scale(.9);-webkit-transform:scale(.9);-moz-transform:scale(.9)}
.news h2{font-size: 30px;float: right;color:#221c1d;margin-top: 50px;font-family:tahoma;font-weight:100}
.news li {float: left;margin-top: 50px;list-style: none;padding:10px;font-size: 30px;color:#129546 }
.news li i{color:#129546}
.news li i:hover{color:#221c1d }
/*end news*/

/*start last news*/
.last_news{width: 100%;height:1000px;margin-top:100px}
.last_news .right{width:40%;height: 800px;background-color: #36e079;float: right;border-radius:10px}
.last_news .right img{width: 200px;height: 200px;padding: 20px}
.last_news .button_bottom {padding: 20px 30px;background:none;border:5px solid #221c1d;color:#fff;font-weight: bold;font-size: 30px;margin-top:20px;border-radius: 10px}
.last_news .left{width: 50%;height: 1000px;float: left;border: 2px solid #129546 ;border-top:100px solid #36e079  }
.last_news .left h2{margin-top: -70px;text-align: center;color: #fff;font-family: tahoma;font-size: 50px;font-weight: bold}
.last_news .left h3{margin-top: 45px;text-align: center;font-family: tahoma;font-size: 50px;color:#129546 }
.last_news .left h4{float:left;margin-top: 40px;text-align: center;color:#221c1d;font-size:30px;font-weight:700;margin-left: 15px }

/*end last news*/
/*start content*/
.content{text-align: center;margin-top:80px;height:600px;margin-bottom: 50px}
.content .container {border-radius:10px;box-shadow: 8px 8px 8px #129546,10px 10px 10px #129546, -8px -8px 15px #129546,-10px -10px 15px #129546}
.content img{display:inline-block;width:300px;height: 300px;padding: 20px;border-radius:30px;border-radius: 50%; animation: radius 3s ease-in-out 2s infinite;-webkit-animation: radius 3s ease-in-out 2s infinite;-moz-animation: radius 3s ease-in-out 2s infinite}
.content img:hover{border-radius:30px}
.content .button_bottom{padding: 20px 30px;background:none;border:5px solid #129546;color:#221c1d;font-weight: bold;font-size: 30px;border-radius: 10px}
@keyframes radius{
   0%{
      border-radius: 50%;
   }
    50%{
      border-radius: 70px;
   }
    80%{
      border-radius: 40px;
   }
    100%{
      border-radius: 30px;
   }
}
@-webkit-keyframes radius{
   0%{
      border-radius: 50%;
   }
    50%{
      border-radius: 70px;
   }
    80%{
      border-radius: 40px;
   }
    100%{
      border-radius: 30px;
   }
}
@-moz-keyframes radius{
   0%{
      border-radius: 50%;
   }
    50%{
      border-radius: 70px;
   }
    80%{
      border-radius: 40px;
   }
    100%{
      border-radius: 30px;
   }
}
/*end content*/
/*start footer*/
.footer{overflow: hidden;height: 520px;background-color:#36e079;margin-top: 30px}
.footer form{float: right;width: 50%;margin-top: 30px}
.footer .form label{display: block;color:#221c1d;margin: 10px 0;}
.footer .form input[type="text"]{background-color: #fff;color:red;padding: 10px;border: 0;width:90%;margin-bottom: 10px;border-radius: 10px}
.footer .form textarea{background-color: #fff;color: red;padding: 10px;border: 0;width:50%;margin-bottom: 10px;height:100px;border-radius: 10px}
.footer .form input[type="submit"]{background-color: #fff;color: #0e3f56;padding: 10px 30px;border: 0;margin-top:10px;border-radius: 10px}
.footer .left_footer{float: left;width: 50%}
.footer .left_footer img{width: 400px;height: 400px;}
.footer li {list-style: none;padding:10px;font-size: 30px;color:#129546;display:block }
.footer li i{color:#221c1d;float: left;padding: 10px;font-size: 50px}
.footer li i:hover{color:#129546 }
/*end footer*/

/*start copy-right*/
.copy_right{background-color:#221c1d }
.copy_right span{margin-bottom: 20px;font-size:30px;text-align: center;color:#129546;margin-left:370px}
/*end copy-right*/



