 body {
    background-color: lightgrey;
}

a:link    {color:green; background-color:transparent; text-decoration:none}
a:visited {color:darkgreen; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}

h1 {
    color: blue;
    font-family: calibri;
    border: 1px solid blue;
    padding: 20px;
    margin: 50px;
}

#p01 {
    color: white;
}

table#t02 , th, td {
     border: 1px solid black;
	 border-collapse: collapse;
	 text-align: left;
	 padding: 10px;
}

table#t01 {
    width: 100%;
} 

table#t01, tr:nth-child(even) {
     background-color: #eee;
}
 table#t01 tr:nth-child(odd) {
     background-color: #fff;
}
 table#t01 th {
    color: white;
    background-color: black;
} 

table#t02, tr:nth-child(even) {
     background-color: #eee;
}
 table#t02 tr:nth-child(odd) {
     background-color: #fff;
}
 table#t02 th {
    color: white;
    background-color: black;
} 

ul#header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
	border: 2px solid #333333;
}

ul#header li {
    float: left;
}

ul#header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

ul#header li a:hover {
    background-color: white;
	color: black;
}

ul#header li a#more:hover {
    background-color: grey;
	color: white;
}

#test {
	background-color: black;
	color: white;
}

table#t03 td {
     border: none;
	 text-align: tleft;
	 padding: 10px;
	 vertical-align: top;
}

header, section, footer, aside, nav, main, article, figure {
     display: block; 
} /* used to make HTML5 compatible with old browsers */

nav {
	position:fixed;
	width:100%;
}