body
{
	
}
.header h1
{
	font-size: bold;
	color: #E32C2C;
	direction: rtl;
	margin-top: 63px;
	line-height: 1.5;
}
.header p
{
	color: #333;
	direction: rtl;
	margin-top: 36px;
	font-size: 20px;
}
.field h3
{
	direction: rtl;
	color: #FF00FC;
	margin-top: 53px;
}
.field p
{
	direction: rtl;
	color: #333;
	font-size: 23px;
	font-family: arial, tahoma;
}
button
{
	width: 100%;
	height: 53px;
	margin-top: 10px;
}
.btn
{
	font-size: 26px;
	margin-bottom: 15px;
}
.progress
{
	width: 50%;
	margin-left: 50%; 
	margin-top: 18px;
}
.progress-bar-success
{
    background-color: #B0B4B0;
}
.note p
{
	direction: rtl;
	font-size: 16px;
}
.glyphicon
{
	color: #1E1A1E;
}
.contect .notes p
{
	direction: rtl;
	font-size: 16px;
}
.connect .notes p
{
	direction: rtl;
	font-size: 16px;
}
.finial p
{
	direction: rtl;
	font-size: 16px;
}
.finial img
{
	width: 100%;
	height: 53px;
}
.finial button
{
	border: none;
	margin-top: 28px;
	margin-left: 10%;
	width: 75%;
}
.finial p
{
	direction: rtl;
	font-size: 16px;
	margin-top: 10px;
	color: #8A8484;
}
.image
{
	width: 400px;
	height: 600px;
	border: 3px solid #CCC;
	overflow: hidden;
	margin-top: 63px;
	padding: 10px
}
.image img
{
	width: 360px;
	height: 575px;
}