#head{
width: 100%;
height: 150px;
background-color: #00e6ac;
font-size: 45;
color: red;


}


.mainhead{

	display: inline-block;
	padding-left: 10px;
	background: #333;
	color: white;
	text-decoration:none;
	width: 100%;
	list-style: none;
	text-decoration:none;

}


ul li a{
	color: red;
	display: block;
	text-decoration:none;


}
