* {
text-align: center;
font-family: Cairo;
}
body {
           background-image:("bg.png");
           background-position: fixed;
           background-repeat: repeat-x;
           background-color: #191b19; 
           background-attachment: fixed;
}
.box-chat {
	margin: 180px auto;
	color: white;
	width:650px;
}
.box-chat img {
    align-items: center;
}
.input {
	margin: 30px;
}
#age,#name,#sex {
	width: 450px;
	height: 40px;
	font-size: 20px;
	opacity: 0.3;
	padding: 5px;
	text-align: right;
	margin: 10px;
}
#age:hover {
    opacity: 1.0;}
#name:hover {
    opacity: 1.0;}
#sex:hover {
    opacity: 1.0;}
button{
	padding: 10px;
	background: #0f92e5;
	border: none;
	color: white;
	opacity: 0.5;
}
a {
	text-decoration: none;
	font-style: none;
	color: white;
}
button:hover {
	opacity: 1;
}
#msg {
	opacity: 1;
	width: 450px;
	height: 40px;
	font-size: 20px;
	padding: 5px;
	text-align: right;
	margin: 10px auto;
}
.msg-box {
	width: 500px;
	height: auto;
	background: #fff;
	overflow: hidden;
	margin: 10px auto;

}
#icon-prof {
	float: right;
	margin: 15px;
}
.clear {
	clear: both;
}
#icon-prof2 {
	float: right;
	margin: 15px;
}