/* start framework */

*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    outline: none;
}

body
{
    font-family: 'Open Sans', sans-serif;
}

.container
{
    width:1200px;
    margin: auto;
    position: relative;
}

.overlay
{
    background: rgba(49, 55, 61, .8);
    width:100%;
    height: 100%;
}

.hidden{
    display: none;
}

.table
{
    display: table;
    height: 100%;
}

.table-row
{
    display: table-row;
}

.text-center
{
    text-align:center;
}

.upper
{
    text-transform: uppercase;
}

.main-color
{
    color:#f7600e;
}

.main-background
{
    background-color:#f7600e;
}

::-webkit-input-placeholder{
    font-size: 14px;
}

:-moz-input-placeholder{
    font-size: 14px;
}

:-ms-input-placeholder{
    font-size: 14px;
}

.hidden2{
    display: none;
}



/* end framework */

/* start header */

header
{
    background: url('../images/back.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
    clear: both;
}

header nav
{
    overflow: hidden;
    padding: 20px 0;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
}

header nav .logo{
    font-size: 24px;
}

header nav .links
{
    float: right;
}

header nav .links i 
{
    margin-left:5px;
}

header .intro h1
{
    margin:0;
    font-weight:800;
}

header .intro p
{
    margin: 5px 0 40px 0;
    line-height:1.9;
    font-size:20px;
    color:#E2E2E2;
}

header .buttons .hire
{
    background: transparent;
    padding: 10px 0;
    width: 180px;
    font-size: 14px;
    border: 1px solid #909090;
    margin: 0 8px;
    border-radius: 10px;
    color: #fff;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

header .buttons .hire:hover{
    background-color: #f7600e;
    color: #FFF;
    border: 1px solid #f7600e;
}


header .arrow
{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align:center;
    padding:40px 0;
}

header .arrow i
{
    border: 1px solid #7b7b7b;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 32px;
    cursor:pointer;
}
/* end header */
/* Start Features */
.features
{
    padding:60px 0;
    overflow: hidden;
}

.features .box
{
    float: left;
    width:22%;
    margin-right:4%;
}

.features .box:last-child
{
    margin-right:0
}

.features .box i
{
    color:#f7600e;
    border: 1px solid #ccc;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    line-height: 120px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.features .box i:hover{
    background-color: #f7600e;
    color: #FFF;
    border: 1px solid #f7600e;
}

.features .box h3
{
    text-transform:uppercase;
    font-weight:normal;
    color:#505050;
}

.features .box p
{
    line-height: 2;
    color: #888;
}

/* Start Features */

/* Start Subscribe */

.subscribe{
    background: url(../images/subscribe.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
}

.subscribe form{
    padding:100px 0;
    width: 700px;
    margin:auto;
    text-align: center;
}

.subscribe form input[type="email"]{
    position: relative;
    top: 1px;
    width: 320px;
    border-radius: 10px;
    border: none;
    height: 37px;
    line-height: 37px;
    padding: 0 10px;
}

.subscribe form button{
    width:200px;
    padding: 8px;
    color:#FFF;
    background-color: #f7600e;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 14px;
}

/* End Subscribe */

/* Start Our Work */

.our-works{
    padding: 50px 0;
}

.our-works h2{
    font-size: 35px;
    font-weight: 500px;
    margin-bottom: 0;
}

.our-works h2 ~ p{
    line-height: 1.9;
    margin: 10px 0 40px;
    color: #666;
    font-size: 18px;
}

.our-works .show-more , .our-works .fox{
    width: 180px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius:10px;
    padding: 10px;
    margin-top: 20px;
    color:#555;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.our-works .show-more:hover ,.our-works .fox:hover{
    background-color: #f7600e;
    color: #FFF;
    border: 1px solid #f7600e;
}

.our-works .items-box{
    overflow: hidden;
    text-align:center;
    padding-left: 210px;
}

.our-works .items-box .item{
    float: left;
    overflow: hidden;
    width: 23%;
    margin-left: 2.5%;
    margin-bottom: 14px;
    border-radius: 14px;
    position: relative;
}

.our-works .items-box .item:hover .overx{
    display: block;
}

.our-works .items-box .item .overx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 96, 14, .9);
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    display: none;
}

.our-works .item .overx h4{
    margin-top: 70px;
    margin-bottom: 0;
    font-size: 18px;
}

.our-works .item .overx p{
    line-height: 1.8;
    margin-top: 10px;
    margin-bottom: 60px;
}

.our-works .item .overx button{
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 6px;
    color: #fff;
}

.our-works .item .overx button:hover{
    background-color: #fff;
    color: #f7600e;
    border: 1px solid #fff;
}


/* End Our Work */

/* Start Testimonials */

.testim{
    background: url('../images/testim.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
    overflow: hidden;
    
}

.testim .client{
    padding: 50px 0;
    font-size: 20px;
}

.testim .client p{
    line-height: 2;
    font-style: italic;
}

.testim .client img{
    border-radius: 50%;
}

.testim .fa-chevron-right,
.testim .fa-chevron-left{
    top: 50%;
    color: #999;
    position: absolute;
    cursor: pointer;
}

.testim .fa-chevron-right:hover,
.testim .fa-chevron-left:hover{
    color:#f7600e; 
}

.testim .fa-chevron-right{
    right: 0;
}

.testim .fa-chevron-left{
    left: 0;
}




/* End Testimonials */

/* Start Our Team */

.our-team{
    padding: 80px 0;
}

.our-team h2{
    font-size: 35px;
    margin-bottom: 0;
}

.our-team .main{
    line-height: 1.9;
    color: #666;
    margin: 10px 0 40px;
    font-size: 18px;
}

.our-team .the-team{
    overflow: hidden;
}

.our-team .the-team .person{
    float: left;
    width: 18%;
    margin-left: 1.8%;
    position: relative;
    left: 8.5%;
    color: #666;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
    perspective-origin: center;
}

.our-team .the-team .person:hover img{
    filter: none;
    transform: scale3d(1.2, 1.1, 0.6);    
}

.our-team .the-team .person:hover {
    color: #444;
    transform: scale3d(1.2, 1.1, 0.6);
}


.our-team .the-team .person:hover .fa-facebook{
    background-color: #3b5998;   
}

.our-team .the-team .person:hover .fa-twitter{
    background-color: #55acee;
}

.our-team .the-team .person:hover .fa-google-plus{
    background-color: #dc4e41;
}

.our-team .the-team .person img{
    width: 265px;
    height: 290px;
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.our-team .the-team .person p{
    font-size: 15px;
    line-height: 1.4;
}

.our-team .the-team .social-icons i{
    background-color: #9da1a5;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    color:#fff;
}

/* End Our Team */

/* Start Contact Form */

.contact{
    background: url('../images/city.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact .overlay{
    color:#fff;
    padding:50px 0;
}

.contact h2{
    font-size: 35px;
}

.contact form{
    width: 700px;
    margin:50px auto;
    text-align: center;
    overflow: hidden;
}

.contact form input[type='text'],
.contact form input[type='email']{
    width: 48%;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.contact form input[type='text']{
    float: left
}

.contact form input[type='email']{
    float: right
}

.contact form textarea{
    margin-top: 20px;
    width: 100%;
    padding:10px;
    height: 240px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.contact form .info{
    overflow: hidden;
    margin-top: 10px
}

.contact form .info button{
    float: left;
    width:200px;
    color:#FFF;
    padding: 8px;
    background-color: #f7600e;
    border: none;
    border-radius: 10px;
    font-size: 14px;
}

.contact form .info .form-icons{
    float: right
}

.contact form .info .form-icons i{
    background-color: #9da1a5;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    margin-left: 6px;
    color:#fff;
}

.contact form .info .form-icons .fa-facebook{
    background-color: #3b5998;
}

.contact form .info .form-icons .fa-twitter{
    background-color: #55acee;
}

.contact form .info .form-icons .fa-google-plus{
    background-color: #dc4e41;
}

/* End Contact Form */

/* Start Footer */
.footer{
    background-color: #3b434c;
    padding: 30px 0;
    color: #fff;
    overflow: hidden;
}

.footer .copy{
    float: left
}

.footer .copy{
    float: right;
}

/* End Footer */