body {perspective:600px;}

.karem
{
    width:400px;
    height:400px;
    margin:70px auto;
}

.karem img
{
    width:300px;
    height:300px;
    border:2px solid #CCC;
    transition:all 0.5s ease-in-out;
}

.karem img:hover
{
    box-shadow:1px 6px 77px 27px #349fe2;
    transform: rotate(360deg);
    transform-origin:;
}