/***srart default olor ***/
.option-box .color-option ul li{ background: #53BFAC; }
.option-box .gear-check{ color: #53BFAC; }
.about h2 span{ color: #53BFAC ; }
.testmonials span{ color: #53BFAC;   }
.testmonials .carousel-indicators li{ border: 3px solid #53BFAC; }
.footer .copy-right strong{ color: #53BFAC; }
.footer h3{ color: #53BFAC; }
.navbar-inverse .navbar-nav > .active > a:hover{ background-color: #53BFAC; }
.navbar-inverse .navbar-nav > li > a:hover{ background-color: #53BFAC;  }
.navbar-inverse .navbar-brand span{ color:#53BFAC;}
.dropdown-menu > li > a:hover{ background-color: #53BFAC; }
.carousel-indicators .active{  background-color:#53BFAC ;  }
.footer .three-columns li a:hover{ color: #53BFAC;}
/*** srart defaultc olor***/