@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@font-face {
  font-family: 'flat';
  src: url("assets/fonts/JF Flat regular.ttf");
  font-style: normal; }
body {
  font-family: Droid Arabic Kufi,flat , serif; 
 }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.entrance-pic{
    visibility: hidden; 
}
p{
	text-align: right;
}
body .container-fluid:nth-child(2n){
	background-color: #FAFAFA;
}
.row{
	padding-top: 100px;
	padding-bottom: 100px;
}
.page-header{
	margin-top: 80px;
}
.text-center,.text-right{
	margin-bottom: 10px;
}
.arrow img{
	margin-top: 160px;
}
.lastaa {
  background-color: #212A34 !important ;
  color: #556678; }

.fixed-background{
  background-image: url("../images/30.jpg");
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center 50px;
}
