@charset "utf-8";
/* CSS Document */

html{ background:#a394d0; }

#wrapper{
	width: 1000px;
	margin: 0 auto;
	background-color:#FFF;

}
#header{
	width:1000px;
	height:50px;
	background-color:#7d5bff;
}
#header h1{
	padding-left: 20px;
	padding-top: 20px;
	/*padding-bottom: 10px;*/
	/*margin-bottom: 10px;*/
	font-size: 18px;
	font-family: "Times New Roman",Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
	color: #FFF;
}
#menu{
	padding-left:20px;
	height:50px;
}

#menu h1{
	float: left;
	line-height:150%;
	font-size: 32px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight: bold;		
}
#menu ul{
	float:left;
		
}
#menu ul li {
	float: left;
	margin-left: 50px;
	padding-top: 15px;
	padding-bottom: 0px;
}
#menu ul li a{
	text-decoration:none;
	font-size: 22px;
	font-family: "Times New Roman",Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
	color:#626262;
}
#content{
	margin-top:30px;
	height:405px;
}
#leftcontent{
	float:left;
	margin-top:100px;
	margin-left:65px;
}

#leftcontent img{
	margin-bottom:25px;
}
#leftcontent p{
	margin-bottom:25px;
	margin-left:30px;
	font-size: 22px;
	font-family:Tahoma,Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color:#000;
}

#sociallinks{
	height:40px;
	margin-left:22px;
}
#sociallinks img{
	margin-right:10px;
}
#rightcontent{
	float:right;
	margin-right:20px;
}
#footer{
	border-top: 3px solid #7d5bff;
	height:50px;
}
#footer p{
	font-size: 22px;
	font-family: Tahoma,Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color: #000;
	line-height:200%;
	text-align: center;
}

