/* Public style */
@import 'https://fonts.googleapis.com/css?family=Cairo:400,700';
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Cairo', sans-serif;
}

#owl-demo .item img{
    display: block;
    width: 100%;
}

 .up{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 79px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    color: #999;
    background: #444;
    cursor: pointer;
    display: none
}
.up:hover{
    background: #000
}


header {
    position: relative;
    top: 50px;
    display: block;
    margin: auto;
    z-index: 2
}
header .container{
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
}
header .logo{
    line-height: 150px;
    background: #f4f4f4;
    line-height: 150px;
    text-align: center;
    background: url("../img/logo.png");
    font-size: 50px;
    font-weight: 600;
    color: #fafafa;
    text-shadow:  1px 1px 1px rgba(0,0,0,0.1);
}
header .top_header{
    min-height: 75px;
    background: #f1f1f1;
    line-height: 75px;
}
header .top_header .social_media{
    float: left;
    
}
header .top_header .social_media a {
    padding: 0 15px; 
    margin: 0 5px;
    float: left;
    font-size: 17px;
}

header .top_header .social_media [class~=fa-facebook]{color: #3b5998}
header .top_header .social_media [class~=fa-twitter]{color: #55acee}
header .top_header .social_media [class~=fa-instagram]{color: #3f729b}
header .top_header .social_media [class~=fa-youtube]{color: #cd201f}
header .top_header .social_media [class~=fa-google-plus]{color: #dc4e41}

header .top_header .contact_us{
    float: right
}
header .top_header .contact_us span{
    float: left;
    margin: 0 15px;
    color: #777
}
header nav{
    height: 75px;
    line-height: 75px;
    background: #fafafa;
    color: #fff
}
header nav ul{
    list-style: none;
    float: right
}
header nav ul li{
    display: inline-block;
    margin: 0 15px;
}
header nav ul li a{
    color: #1d61b3
}
header nav ul li a:hover{
    color: #000;
    text-decoration: none
}
header .search{
    float: left
}
header .search input{
    border: 0;
    outline: 0;
    background: #fafafa;
    color: #777;
    border-right: 1px solid rgba(200,200,200,0.1);
    padding-right: 5px;
}
header .search input:focus{
    background: #fff
}
header .search button{
    background: #fafafa;
    border: 0;
    outline: 0;
    color: #777;
    width: 50px;
} 
/* end header */


/* start slider */

.slider {
    direction: ltr;
    overflow: hidden;
    height: 100vh;
    margin-top: -150px
}
.owl-theme .owl-controls{
    position: relative;
    bottom: 400px;
    z-index: 5
}
.owl-buttons{display: none}

.slider #owl-demo p{
    position: relative;
    padding: 20px;
    top: -500px;
    background: rgba(0,0,0,0.1);
    color: #fff;
    line-height: 50px;
    text-align: center;
    width: 70%;
    margin: auto;
}
.slider #owl-demo p span{
    display: block;
    text-align: center;
    font-size: 25px;
}
.slider #owl-demo a{
    bottom: 480px;
    margin: auto;
    position: relative;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    background: #0072bc;
    border-radius: 35px;
    color: #fff;
    font-size: 17px;    
}
.slider #owl-demo a:hover{
    text-decoration: none;
    background: #045c96;
}
/* our vision */
.vision{
    padding: 100px 0;
}
h2{
    color: #3498db;
    border-bottom: 3px solid #fafafa;
    padding-bottom: 20px;
    position: relative
}
 h2:after{
    content: "";
    position: absolute;
    bottom: -4.1px;
    left: 42.5%;
    width: 15%;
    height: 3px;
    background: #3498db
}
.vision p{
    line-height: 40px;
    padding-top: 20px;
    background: url("../img/visionbg.png") no-repeat center 1px;
}
.service {
    background: #fafafa;
    padding: 100px 0;
}
.service h2{
    border-bottom-color: #f4f4f4
}
.service .tabs{
    padding: 50px 0;
}
.service .tabs img{
    margin-bottom: 20px;
}
.service .tabs h5{
    font-weight: bold;
    color: #444
}
.service .tabs p{
    line-height: 30px;
    color: #888
}
.service .col-md-4{
    margin-bottom: 60px;
     border-left: 1px solid rgba(200,200,200,0.2)
}
.service .col-md-4:nth-of-type(3),
.service .col-md-4:nth-of-type(6){
   border: 0
}

.offers{
    padding: 100px 0;
    background: #f1f1f1;
    transition: all 5s ease;
}
.offers h2{
    border-bottom-color: #e8e8e8
}
.offers_tab{
    margin: 50px 0 10px;
    height: 340px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
    position:relative;
    transition: all 5s ease;
}

.hover{
    width: 100%;
    height: 100%;
    background: rgba(41, 128, 185,0.9);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    transition: all 5s ease;
        
}
.hover a{
    color: #fff;
    background: #414875;
    padding: 5px 15px;
    margin: 0 5px;
    border-radius: 15px;
    position: relative;
    top: 250px;
    text-decoration: none;
    transition: all 0.4s ease;
}
.hover a:nth-child(1){
    background: #f1f1f1;
    color: #444
}
.hover a:hover{
    background: #303030;
    color: #fff
}
.offers_tab:hover .hover{
    display: block;
    z-index: 5;
    transition: all 5s ease;
        
}
.offers_tab_img {
    height: 160px;
    overflow: hidden;
    
}
.offers_tab_img img{
    width: 100%;
}
.price{
    width: 80px;
    height: 80px;
    background: #e74c3c;
    color: #fff;
    line-height: 70px;
    border-radius: 50%;
    margin: auto;
    z-index: 10;
    position: relative;
    top: -40px
}
.price span{
    display: block;
    margin-top: -50px;
}
h6{
    color: #444;
    font-weight: 600;
    font-size: 17px;
    margin-top: -10px;
}
h6 span{
    display: inline-block;
    font-size: 14px;
    position: relative;
    top: -5px
}
.tab_icon{
    direction: rtl
}
.tab_icon i[class^=fa]{
    color: #888;
}

.tab_icon .icon{
    display: inline-block;
    margin: 20px 10px;
}
.tab_icon i{
    padding: 5px;
}
.tab_icon .icon span{
    color: #666;
    display: inline-block;
    font-weight: 600
}
.more{
    background: #2980b9;
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    display: inline-block;
    margin: 30px auto;
    text-decoration: none
}
.more:hover{
    background: #303030;
    color: #fff;
    text-decoration: none
}
.map{
    position: relative
}
.map_contact_us{
    position: absolute;
    top: 75px;
    width: 400px;
    height: 200px;
    background: rgba(255,255,255,0.9);
    padding: 20px;
}
.map_contact_us i{
    width: 40px;
    text-align: center
}
.map_contact_us span{
    display: block;
    line-height: 40px;
    text-align: right
}
.map_contact_us span:first-child{
    text-align: center
}


footer{
    padding: 80px 0px;
    background: url("../img/footer.png");
    font-size: 12px;
}
.footer_logo{
    height: 150px;
    line-height: 150px;
    text-align: center;
    background: url("../img/logo.png");
    font-size: 20px;
    font-weight: 600;
    color: #fafafa;
    text-shadow: 1px 1px rgba(0,0,0,0.1);
    margin-top: 20px;
}
.footer_logo ~ p{
    line-height: 25px;
    text-align: right;
    margin-top: 10px;
}
footer span{
    display: block;
    font-size: 15px;
    color: #000;
    margin-top: 20px;
}
footer ul {
    list-style: none
}
footer ul li{
    line-height: 30px
}
footer ul li a{
    color: #777
}
footer ul li a:hover{
    text-decoration: none;
    color: #000
}
.footer_social_media{
    
}
.footer_social_media a{
    color: #777;
    padding: 10px;
    margin: 10px 5px;
    display: inline-block;
}
.footer_social_media a i{
    font-size: 16px
}
.footer_social_media form{
    margin: 10px 0;
}
.footer_social_media input{
    display: block;
    width: 100%;
    border: 1px solid #777;
    padding: 10px;
    background: #f1f1f1;
    border-radius: 20px;
    outline: 0;
}
.footer_social_media button{
    background: #cccccc;
    border: 0;
    margin: 7px auto;
    display: block;
    padding: 10px 15px;
    border-radius: 18px;
    color: #000;
}

.menu{
    display: none
}



/* responsive header and slider and map */
/* responsive header and slider and map */
/* responsive header and slider and map */
/* responsive header and slider and map */
/* responsive header and slider and map */

@media screen and (max-width:1200px){
header {top: 0px;}
    .slider #owl-demo p{top: -450px;}
    .slider #owl-demo p span{font-size: 20px;}
    .slider #owl-demo a{bottom: 430px;}
}

@media screen and (max-width:995px){
header {top: 0px;}
    .slider #owl-demo p{top: -350px;}
    .slider #owl-demo p span{font-size: 20px;}
    .slider #owl-demo a{bottom: 320px;}
    .owl-theme .owl-controls{display: none}    
}
@media screen and (max-width:800px){
    .slider{display: none}
}
@media screen and (max-width:710px){
header .logo{line-height: 100px;}
header .top_header{min-height: 50px;line-height: 50px;}

header nav{
    height: auto;
    line-height: 50px;
}
header .search button{
   width: 25px;
} 
}
@media screen and (max-width:680px){
    
header .top_header .social_media{
}
header .top_header .social_media a {
    padding: 0 15px; 
    margin: 0 0px;
    float: left;
    font-size: 17px;
}

header .top_header .contact_us{
    float: right
}
header .top_header .contact_us span{
    float: none;
    clear: both;
    margin:0px 3px;
    text-align: center;
    display: inline-block;
}
header nav{
    height: auto;
    line-height: 50px;
    display: none
}
header nav ul{
    list-style: none;
    float: none
}
header nav ul li{
    display: block;
    margin: 0;
    text-align: center;
}

header .search{
    float: none
}
header .search input{
    width: 90%
}
header .search button{
    
} 
.menu{
    display: block
}
}
@media screen and (max-width:420px){
    .map{
    position: relative
}
.map_contact_us{
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.9);

}

}
    