/* Css */

body
{
background-color: #ecf0f1;    
}

.container
{
    width: 1280px;
    margin: auto;
    background: #fff;
}
.header .slider
{
    background-color: #EEE;
    height: 600px;
}
.header .navbar 
{
    background-color: #252f31;
    color: #ecf0f1;
    overflow: hidden;
}
.header .navbar h2
{
    float: left;
    text-transform: uppercase;
}
.header .navbar h2 span
{
   color: #2ecc71; 
}

.header .navbar ul {
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: right;
}
.header .navbar ul li
{
    float: left;
    padding: 10px;
}
