$dia: #5A7495;
$noite: #181F26;
$textColor: #eee;
$nuvem: #f9f9f9;
$chuva: #e9e9e9;
$pao: #E0B56E;
$md: '1024px';
$sm: '1023px';
$xs: '787px';

$sol: #dcb64c;
$lua: #fbfcfc;

$verde-grama: #50662e;

$cinza-1: #968F8A;
$cinza-2: #3d3d3d;

$tronco: #353126;
$arvore-1: #44612e - 5;
$arvore-2: #515b2f - 5;
$arvore-3: #374927;

$poste: #49494a;
$lampada-dia: #eee;

$rua: #2a2b2a;
$ciclovia: #783B31;
$branco: #eee;

$rio: #69764f;

$onibus: #949494;
$verde-bus: #32612C;

@mixin transform($info) {
  transform: $info;
  -webkit-transform: $info;
  -moz-transform: $info;
  -ms-transform: $info;
}
@mixin gradient($type, $info) {
  background: #{$type}-gradient($info);
  background: -webkit-#{$type}-gradient($info);
  background: -moz-#{$type}-gradient($info);
  background: -ms-#{$type}-gradient($info);
}
@mixin browsers($info) {
  animation: $info;
  -webkit-animation: $info;
  -moz-animation: $info;
  -ms-animation: $info;
  -o-animation: $info;
}
@mixin blur($info) {
  filter: blur($info);
  -webkit-filter: blur($info);
  -moz-filter: blur($info);
  -ms-filter: blur($info);
  -o-filter: blur($info);
}
@mixin animation($name) {
  @keyframes #{$name} {
    @content;
  }
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
}

body {
  background-color: $dia;
  color: $textColor;
  margin: 0;
  overflow: hidden;
  padding: 0;
  &.noite {
    background-color: $noite;
  }
}

.super-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.container {
  height: 200px;
  position: absolute;
  z-index: 5;
  &::before {
    background-color: $textColor;
    border-radius: 5px;
    content: '';
    height: 54px;
    opacity: 0.15;
    left: -20px;
    padding: 20px;
    position: absolute;
    top: -15px;
    width: 100%;
  }
}

.switch-wrapper {
  margin: 2.5% 0;
  text-align: center;
}

.switch {
  display: inline-block;
  height: 50px;
  position: relative;
  width: 96px;
  & input {
    display: none;
  }
  &.dia-noite {
    margin-right: 26px;
  }
}

.slider {
  background-color: $dia - 10;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  -webkit-transition: .4s;
  &:before {
    background-color: $dia - 25;
    content: "";
    height: 40px;
    left: 5px;
    position: absolute;
    top: 5px;
    transition: .4s;
    -webkit-transition: .4s;
    width: 40px;
  }
  .dia-noite {
    transition: .3s;
    -webkit-transition: .3s;
    background-color: $sol;
    border-radius: 100%;
    height: 15px;
    left: 17px;
    position: absolute;
    top: 17px;
    width: 15px;
    z-index: 3;
    .raio {
      background-color: $sol;
      height: 6px;
      position: absolute;
      width: 2px;
      &.r1 {
        left: 0;
        margin: auto;
        right: 0;
        top: -8px;
        &:after {
          @extend .raio.r1;
          background-color: $sol;
          content: '';
          height: 6px;
          position: absolute;
          top: 25px;
          width: 2px;
        }
      }
      &.r2 {
        left: -6.5px;
        top: 4px;
        @include transform(rotate(90deg));
        &:after {
          @extend .raio.r2;
          background-color: $sol;
          content: '';
          height: 6px;
          left: 0;
          top: -25px;
          position: absolute;
          width: 2px;
          @include transform(rotate(0deg));
        }
      }
      &.r3 {
        left: -2px;
        top: 14px;
        @include transform(rotate(45deg));
        &:after {
          @extend .raio.r3;
          background-color: $sol;
          content: '';
          height: 6px;
          left: 0;
          top: -25px;
          position: absolute;
          width: 2px;
          @include transform(rotate(0deg));
        }
      }
      &.r4 {
        left: 16px;
        top: 14px;
        @include transform(rotate(-45deg));
        &:after {
          @extend .raio.r4;
          background-color: $sol;
          content: '';
          height: 6px;
          left: 0;
          top: -26px;
          position: absolute;
          width: 2px;
          @include transform(rotate(0deg));
        }
      }
    }
  }
  .sol-chuva {
    background-color: $nuvem;
    border-radius: 100px;
    height: 42px;
    left: -37px;
    opacity: 0.75;
    position: absolute;
    top: 8px;
    transition: .3s;
    -webkit-transition: .3s;
    width: 125px;
    @include transform(scale(0.25));
    .raio-chuva {
      display: none;
    }
    &:after {
      background-color: $nuvem;
      border-radius: 100px;
      content: '';
      display: block;
      height: 55px;
      position: absolute;
      right: 15px;
      top: -34px;
      width: 55px;
    }
    &:before {
      background-color: $nuvem;
      border-radius: 100px;
      content: '';
      display: block;
      height: 43px;
      position: absolute;
      left: 19px;
      top: -21px;
      width: 43px;
    }
    @media(max-width: 787px) {
      height: 42px;
      width: 125px;
    }
  }
}

input:checked + .slider {
   background-color: $noite + 20;
    &:before {
      background-color: $noite;
      @include transform(translateX(46px));
    }
  .dia-noite {
    background-color: $lua;
    height: 19px;
    left: 64px;
    top: 15px;
    width: 17px;
    @include transform(rotate(-30deg));
    .raio {
      display: none;
    }
    &:after {
      background-color: $noite;
      border-radius: 100%;
      content: '';
      height: 15px;
      left: 7px;
      position: absolute;
      top: 4px;
      width: 12px;
    }
  }
  .sol-chuva {
    background-color: $noite + 140;
    left: 9px;
    &:after, &:before {
      background-color: $noite + 140;
    }
    .raio-chuva {
      background-color: $noite + 100;
      display: block;
      height: 30px;
      left: 50px;
      position: absolute;
      top: 22px;
      width: 18px;
      @include transform(skew(-15deg));
      &:after {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 25px solid $noite + 100;
        content: '';
        height: 20px;
        left: 2px;
        position: absolute;
        top: 22px;
        width: 5px;
        @include transform(rotate(15deg));
      }
    }
  }
}

.hidden {
  display: none!important;
}

.nuvem-wrapper {
  position: relative;
  z-index: 5;
}

.arvore-wrapper {
  height: 100vh;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 85vw;
}

.arvore {
	height: 30px;
	position: absolute;
	width: 30px;
	.folha {
		border-radius: 100%;
		position: absolute;
		&.arvore-1 {
			background-color: $arvore-1;
		}
		&.arvore-2 {
			background-color: $arvore-2;
		}
		&.arvore-3 {
			background-color: $arvore-3;
		}
	}
	&.a1 {
		bottom: 60px;
		left: 50px;
		.f1 {
			height: 25px;
			left: -3px;
			top: 0px;
			width: 25px;
		}
		.f2 {
			height: 28px;
			left: 10px;
			top: -7px;
			width: 28px;
		}
		.f3 {
			height: 24px;
			left: 13px;
			top: 8px;
			width: 24px;
		}
		.f4 {
			height: 23px;
			left: 0px;
			top: 10px;
			width: 23px;
		}
		&:after {
			background-color: $tronco;
			bottom: -22px;
			content: '';
			height: 30px;
			left: 14px;
			position: absolute;
			width: 6px;
		}
	}
	&.a2 {
		bottom: 75px;
		left: 150px;
		.f1 {
			height: 23px;
			left: 12px;
			top: 0px;
			width: 23px;
		}
		.f2 {
			height: 23px;
			left: -3px;
			top: -4px;
			width: 23px;
		}
		.f3 {
			height: 21px;
			left: 13px;
			top: 8px;
			width: 21px;
		}
		.f4 {
			height: 18px;
			left: 0px;
			top: 12px;
			width: 18px;
		}
		&:after {
			background-color: $tronco;
			bottom: -18px;
			content: '';
			height: 26px;
			left: 12px;
			position: absolute;
			width: 6px;
		}
	}
	&.a3 {
		bottom: 65px;
		left: 190px;
		.f1 {
			height: 22px;
			left: -5px;
			top: 0px;
			width: 23px;
		}
		.f2 {
			height: 23px;
			left: 10px;
			top: -2px;
			width: 23px;
		}
		.f3 {
			height: 21px;
			left: 13px;
			top: 8px;
			width: 21px;
		}
		.f4 {
			height: 18px;
			left: 0px;
			top: 12px;
			width: 18px;
		}
		&:after {
			background-color: $tronco + 2;
			bottom: -18px;
			content: '';
			height: 26px;
			left: 12px;
			position: absolute;
			width: 6px;
		}
	}
	&.a4 {
		bottom: 60px;
		left: 220px;
		.f1 {
			height: 25px;
			left: -5px;
			top: 0px;
			width: 25px;
		}
		.f2 {
			height: 26px;
			left: 10px;
			top: -2px;
			width: 26px;
		}
		.f3 {
			height: 24px;
			left: 13px;
			top: 8px;
			width: 24px;
		}
		.f4 {
			height: 21px;
			left: 0px;
			top: 12px;
			width: 21px;
		}
		&:after {
			background-color: $tronco + 2;
			bottom: -22px;
			content: '';
			height: 30px;
			left: 14px;
			position: absolute;
			width: 6px;
		}
	}
	&.a6 {
		bottom: 70px;
		left: 290px;
		.f1 {
			height: 23px;
			left: 12px;
			top: 0px;
			width: 23px;
		}
		.f2 {
			height: 23px;
			left: -3px;
			top: -4px;
			width: 23px;
		}
		.f3 {
			height: 21px;
			left: 13px;
			top: 8px;
			width: 21px;
		}
		.f4 {
			height: 18px;
			left: 0px;
			top: 12px;
			width: 18px;
		}
		&:after {
			background-color: $tronco;
			bottom: -18px;
			content: '';
			height: 26px;
			left: 12px;
			position: absolute;
			width: 6px;
		}
	}
	&.a5 {
		bottom: 65px;
		left: 320px;
		.f1 {
			height: 23px;
			left: -3px;
			top: 0px;
			width: 23px;
		}
		.f2 {
			height: 23px;
			left: 12px;
			top: -4px;
			width: 23px;
		}
		.f3 {
			height: 21px;
			left: 13px;
			top: 10px;
			width: 21px;
		}
		.f4 {
			height: 20px;
			left: -1px;
			top: 12px;
			width: 20px;
		}
		&:after {
			background-color: $tronco + 4;
			bottom: -20px;
			content: '';
			height: 28px;
			left: 13px;
			position: absolute;
			width: 6px;
		}
	}
	&.a7 {
		bottom: 61px;
		left: 380px;
		.f1 {
			height: 24px;
			left: -3px;
			top: 0px;
			width: 24px;
		}
		.f2 {
			height: 25px;
			left: 13px;
			top: -3px;
			width: 25px;
		}
		.f3 {
			height: 23px;
			left: 13px;
			top: 10px;
			width: 23px;
		}
		.f4 {
			height: 22px;
			left: -4px;
			top: 12px;
			width: 22px;
		}
		&:after {
			background-color: $tronco + 4;
			bottom: -20px;
			content: '';
			height: 28px;
			left: 13px;
			position: absolute;
			width: 6px;
		}
	}
	&.a9 {
		bottom: 64px;
		left: 510px;
		.f1 {
			height: 25px;
			left: -5px;
			top: 0px;
			width: 25px;
		}
		.f2 {
			height: 26px;
			left: 10px;
			top: -2px;
			width: 26px;
		}
		.f3 {
			height: 24px;
			left: 13px;
			top: 8px;
			width: 24px;
		}
		.f4 {
			height: 21px;
			left: 0px;
			top: 12px;
			width: 21px;
		}
		&:after {
			background-color: $tronco + 4;
			bottom: -18px;
			content: '';
			height: 26px;
			left: 13px;
			position: absolute;
			width: 5px;
		}
	}
	&.a8 {
		bottom: 66px;
		left: 415px;
		.f1 {
			height: 24px;
			left: -3px;
			top: 0px;
			width: 24px;
		}
		.f2 {
			height: 25px;
			left: 13px;
			top: -3px;
			width: 25px;
		}
		.f3 {
			height: 23px;
			left: 13px;
			top: 10px;
			width: 23px;
		}
		.f4 {
			height: 22px;
			left: -4px;
			top: 12px;
			width: 22px;
		}
		&:after {
			background-color: $tronco + 4;
			bottom: -20px;
			content: '';
			height: 28px;
			left: 13px;
			position: absolute;
			width: 6px;
		}
	}
	&.a10 {
		bottom: 68px;
		left: 485px;
		.f1 {
			height: 24px;
			left: -3px;
			top: 0px;
			width: 24px;
		}
		.f2 {
			height: 25px;
			left: 13px;
			top: -3px;
			width: 25px;
		}
		.f3 {
			height: 23px;
			left: 13px;
			top: 10px;
			width: 23px;
		}
		.f4 {
			height: 22px;
			left: -4px;
			top: 12px;
			width: 22px;
		}
		&:after {
			background-color: $tronco + 4;
			bottom: -20px;
			content: '';
			height: 28px;
			left: 13px;
			position: absolute;
			width: 6px;
		}
	}
	&.a11 {
		bottom: 58px;
		left: 570px;
		.f1 {
			height: 23px;
			left: 12px;
			top: 0px;
			width: 23px;
		}
		.f2 {
			height: 23px;
			left: -3px;
			top: -4px;
			width: 23px;
		}
		.f3 {
			height: 21px;
			left: 13px;
			top: 8px;
			width: 21px;
		}
		.f4 {
			height: 18px;
			left: 0px;
			top: 12px;
			width: 18px;
		}
		&:after {
			background-color: $tronco + 4;
			bottom: -20px;
			content: '';
			height: 28px;
			left: 13px;
			position: absolute;
			width: 6px;
		}
	}
	&.a12 {
		bottom: 62px;
		left: 630px;
		.f1 {
			height: 24px;
			left: -3px;
			top: 0px;
			width: 24px;
		}
		.f2 {
			height: 25px;
			left: 13px;
			top: -3px;
			width: 25px;
		}
		.f3 {
			height: 23px;
			left: 13px;
			top: 10px;
			width: 23px;
		}
		.f4 {
			height: 22px;
			left: -4px;
			top: 12px;
			width: 22px;
		}
		&:after {
			background-color: $tronco + 4;
			bottom: -20px;
			content: '';
			height: 28px;
			left: 13px;
			position: absolute;
			width: 6px;
		}
	}
	&.a13 {
		bottom: 63px;
		left: 770px;
		.f1 {
			height: 25px;
			left: -3px;
			top: 0px;
			width: 25px;
		}
		.f2 {
			height: 28px;
			left: 10px;
			top: -7px;
			width: 28px;
		}
		.f3 {
			height: 24px;
			left: 13px;
			top: 8px;
			width: 24px;
		}
		.f4 {
			height: 23px;
			left: 0px;
			top: 10px;
			width: 23px;
		}
		&:after {
			background-color: $tronco;
			bottom: -22px;
			content: '';
			height: 30px;
			left: 14px;
			position: absolute;
			width: 6px;
		}
	}
	&.a14 {
		bottom: 72px;
		left: 730px;
		.f1 {
			height: 23px;
			left: 12px;
			top: 0px;
			width: 23px;
		}
		.f2 {
			height: 23px;
			left: -3px;
			top: -4px;
			width: 23px;
		}
		.f3 {
			height: 21px;
			left: 13px;
			top: 8px;
			width: 21px;
		}
		.f4 {
			height: 18px;
			left: 0px;
			top: 12px;
			width: 18px;
		}
		&:after {
			background-color: $tronco;
			bottom: -18px;
			content: '';
			height: 26px;
			left: 12px;
			position: absolute;
			width: 6px;
		}
	}
	&.a15 {
		bottom: 67px;
		left: 890px;
		.f1 {
			height: 22px;
			left: -5px;
			top: 0px;
			width: 23px;
		}
		.f2 {
			height: 23px;
			left: 10px;
			top: -2px;
			width: 23px;
		}
		.f3 {
			height: 21px;
			left: 13px;
			top: 8px;
			width: 21px;
		}
		.f4 {
			height: 18px;
			left: 0px;
			top: 12px;
			width: 18px;
		}
		&:after {
			background-color: $tronco + 2;
			bottom: -18px;
			content: '';
			height: 26px;
			left: 12px;
			position: absolute;
			width: 6px;
		}
	}
	&.a16 {
		bottom: 60px;
		left: 820px;
		.f1 {
			height: 25px;
			left: -5px;
			top: 0px;
			width: 25px;
		}
		.f2 {
			height: 26px;
			left: 10px;
			top: -2px;
			width: 26px;
		}
		.f3 {
			height: 24px;
			left: 13px;
			top: 8px;
			width: 24px;
		}
		.f4 {
			height: 21px;
			left: 0px;
			top: 12px;
			width: 21px;
		}
		&:after {
			background-color: $tronco + 2;
			bottom: -22px;
			content: '';
			height: 30px;
			left: 14px;
			position: absolute;
			width: 6px;
		}
	}
	&.a17 {
		bottom: 72px;
		left: 950px;
		.f1 {
			height: 23px;
			left: 12px;
			top: 0px;
			width: 23px;
		}
		.f2 {
			height: 23px;
			left: -3px;
			top: -4px;
			width: 23px;
		}
		.f3 {
			height: 21px;
			left: 13px;
			top: 8px;
			width: 21px;
		}
		.f4 {
			height: 18px;
			left: 0px;
			top: 12px;
			width: 18px;
		}
		&:after {
			background-color: $tronco;
			bottom: -18px;
			content: '';
			height: 26px;
			left: 12px;
			position: absolute;
			width: 6px;
		}
	}
	&.a18 {
		bottom: 63px;
		left: 990px;
		.f1 {
			height: 23px;
			left: -3px;
			top: 0px;
			width: 23px;
		}
		.f2 {
			height: 23px;
			left: 12px;
			top: -4px;
			width: 23px;
		}
		.f3 {
			height: 21px;
			left: 13px;
			top: 10px;
			width: 21px;
		}
		.f4 {
			height: 20px;
			left: -1px;
			top: 12px;
			width: 20px;
		}
		&:after {
			background-color: $tronco + 4;
			bottom: -20px;
			content: '';
			height: 28px;
			left: 13px;
			position: absolute;
			width: 6px;
		}
	}
	&.a19 {
		bottom: 62px;
		left: 1030px;
		.f1 {
			height: 24px;
			left: -3px;
			top: 0px;
			width: 24px;
		}
		.f2 {
			height: 25px;
			left: 13px;
			top: -3px;
			width: 25px;
		}
		.f3 {
			height: 23px;
			left: 13px;
			top: 10px;
			width: 23px;
		}
		.f4 {
			height: 22px;
			left: -4px;
			top: 12px;
			width: 22px;
		}
		&:after {
			background-color: $tronco + 4;
			bottom: -20px;
			content: '';
			height: 28px;
			left: 13px;
			position: absolute;
			width: 6px;
		}
	}
}

.poste {
	background-color: $poste;
	bottom: 30px;
	height: 40px;
	position: absolute;
	width: 2px;
  z-index: 1;
  &.atras {
	  bottom: 140px;
	  height: 20px;
	.lampada {
		height: 2px;
		top: -1px;
		width: 6px;
		&:after {
			bottom: -1px;
			height: 2px;
			width: 5px;
		}
		&:before {
	    border-bottom: 25px solid $lampada-dia;
			width: 3.5px;
		}
		&.esquerda {
			left: -6px;
			&:before {	
	    		border-left: 10px solid transparent;
	    		left: -7px;
			}
		}
		&.direita {
			right: -6px;
			&:before {	
	    		border-right: 10px solid transparent;
	    		right: -7px;
			}
		}
	}
    &.p1 {
      left: 34vw;
    }
    &.p2 {
      left: 47vw;
    }
    &.p3 {
      left: 57vw;
    }
    &.p4 {
      left: 66vw;
    }
   
  }
	.lampada {
		background-color: $poste;
		border-radius: 100%;
		height: 4px;
		position: absolute;
		top: -1px;
		width: 12px;
		&.noite {
			&:before {
				display: block;
			}
		}
		&:after {
			background-color: $lampada-dia;
			border-radius: 100%;
			bottom: -1px;
			content: '';
			height: 4px;
			opacity: 0.7;
			position: absolute;
			width: 10px;
			z-index: -1;
		}
		&:before {
	    	border-bottom: 50px solid $lampada-dia;
			content: '';
			display: none;
			opacity: 0.15;
			position: absolute;
			width: 7px;
			z-index: -1;
		}
		&.esquerda {
			left: -10px;
			&:after {
				left: 1px;
			}
			&:before {	
	    		border-left: 20px solid transparent;
	    		left: -17px;
			}
		}
		&.direita {
			right: -10px;
			&:after {
				right: 1px;
			}
			&:before {	
	    		border-right: 20px solid transparent;
	    		right: -17px;
			}
		}
	}
	&.p1 {
		left: 100px;
	}
	&.p2 {
		left: 450px;
	}
	&.p3 {
		left: 800px;
	}
	&.p4 {
		left: 1150px;
	}
}

.prefeitura {
  bottom: 140px;
  height: 180px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 288px;
  &:after {
		background-color: $cinza-1;
		bottom: -110px;
		content: '';
		height: 110px;
		position: absolute;
		right: 0px;
		width: 12px;
		@include transform(skewX(20deg));
  }
  .principal-vertical {
    background-color: $cinza-1;
    bottom: 0;
    height: 132px;
    position: absolute;
    right: 0;
    width: 12px;
    &:after {    
      border-left: 12px solid $cinza-1;
      border-top: 132px solid transparent;
      content: '';
      position: absolute;
      right: -12px;
      width: 0px;
    }
    &:before {
      border-right: 12px solid $cinza-2;
      border-bottom: 102px solid transparent;
      content: '';
      position: absolute;
      right: -12px;
      top: 15px;
    }
  }
  .detalhe-topo-principal-vertical {
    background-color: $cinza-1;
    bottom: 108px;
    height: 12px;
    position: absolute;
    right: -24px;
    width: 24px;
    &:after {
      background-color: $cinza-2;
      content: '';
      height: 8.4px;
      position: absolute;
      right: 0;
      width: 10.8px;
    }
  }
  .detalhe-meio-principal-vertical {
    background-color: $cinza-1;
    bottom: 84px;
    height: 12px;
    right: 12px;
    position: absolute;
    width: 24px;
    &:after {
      border-top: 12px solid transparent;
      border-right: 18px solid $cinza-2;
      content: '';
      position: absolute;
      right: 0;
      top: -12px;
    }
    &:before {
      background-color: $cinza-2;
      content: '';
      height: 8.4px;
      position: absolute;
      right: 7.2px;
      width: 10.8px;
    }
    .riscos {
      background-color: $cinza-2;
      height: 7px;
      position: absolute;
      right: 0px;
      width: 1px;
      &:after {
        @extend .riscos;
        content: '';
        right: 2px;
      }
      &:before {
        @extend .riscos;
        content: '';
        right: 4px;
      }
    }
  }
  .detalhe-baixo-principal-vertical {
    background-color: $cinza-1;
    bottom: 72px;
    height: 6px;
    position: absolute;
    right: -36px;
    width: 24px;
    &:after {  
      border-right: 24px solid transparent;
      border-top: 12px solid $cinza-1;
      bottom: -12px;
      content: '';
      position: absolute;
      right: 0px;
    }
  }
  .vertical {
    background-color: $cinza-1;
    border-radius: 10%;
    position: absolute;
    width: 18px;
    &:after {
      background-color: $cinza-2;
      content: '';
      height: 43px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 6px;
      width: 2.4px;
    }
    &.v1 {
      bottom: 12px;
      height: 54px;
      right: 36px;
    }
    &.v2 {
      bottom: 0;
      height: 54px;
      right: 120px;
    }
    &.v3 {
      bottom: 0;
      height: 54px;
      right: 240px;
    }
  }
  .horizontal {
    background-color: $cinza-1;
    height: 2.4px;
    position: absolute;
    &:after {
      background-color: $cinza-2;
      bottom: -12px;
      content: '';
      height: 12px;
      position: absolute;
    }
    &.h1 {
      bottom: 48px;
      right: 12px;
      width: 48px;
      &:after {
        width: 48px;
      }
    }
    &.h2 {
      bottom: 36px;
      right: 20.4px;
      width: 78px;
      &:after {
        width: 90px;
      }
    }
    &.h3 {
      bottom: 24px;
      right: 28.8px;
      width: 132px;
      &:after {
        width: 168px;
      }
    }
    &.h4 {
      bottom: 12px;
      right: 37.2px;
      width: 253px;
      &:after {
        right: -25.2px;
        width: 277.2px;
      }
    }
    &.h5 {
      bottom: 0px;
      right: 12px;
      width: 277.2px;
    }
  }
}

.bandeira {
  background-color: $arvore-1 - 10;
  border-radius: 1px;
  bottom: 142px;
  height: 10px;
  position: absolute;
  right: 5px;
  width: 15px;
  @include browsers(wave 1.2s linear infinite);
  .tecido {
    background-color: $sol;
    height: 7px;
    left: 4px;
    position: absolute;
    top: 2px;
    width: 7px;
    @include transform(rotate(30deg) skew(-30deg));
    &:after {
      background-color: $dia - 20;
      border-radius: 100%;
      bottom: 0;
      content: '';
      height: 5px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 5px;
      @include transform(skew(30deg));
    }
  }
}

.haste {
  background-color: $cinza-2;
  bottom: 132px;
  height: 10px;
  position: absolute;
  right: 5px;
  width: 1px;
}

.rio {
	background-color: $rio;
	border-radius: 0 0 90% 90%;
	border-width: 0 4px 4px 0;
	bottom: 70px;
	height: 60px;
	position: absolute;
	width: 100vw;
}

.gramado {
  background-color: $verde-grama;
  bottom: 20px;
  height: 120px;
  position: absolute;
  width: 100vw;
}

.ciclovia {
  background-color: $ciclovia;
  bottom: 20px;
  height: 10px;
  position: absolute;
  width: 100vw;
  &:after {
    background-color: $branco;
    content: '';
    height: 1px;
    opacity: 0.4;
    position: absolute;
    top: 4px;
    width: 100vw;
  }
}

.rua {
	background-color: $rua;
	bottom: 0px;
	height: 20px;
	position: absolute;
	width: 100vw;
}

.onibus-wrapper {
  bottom: 10px;
  position: absolute;
  width: 85px;
  z-index: 2;
	@include browsers(vroomvroom 15s linear infinite);
	.roda {
	  background-color: #1b1b1b;
	  border-radius: 100px;
	  bottom: -5px;
	  height: 12px;
	  position: absolute;
	  width: 12px;
	  @include browsers(gira 0.4s linear infinite);
	  &:after {
	    background-color: #fff;
	    border-radius: 100px;
	    bottom: 0;
	    content: '';
	    display: block;
	    height: 6px;
	    left: 0;
	    margin: auto;
	    opacity: 0.2;
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 6px;
	    @include browsers(gira 0.4s linear infinite);
	  }
	}
	.roda-1 {
	  right: 20px;
	}
	.roda-2 {
	  left: 23px;
	}
}

.onibus {
	background-color: $onibus;
	border-radius: 2px;
	height: 26px;
  overflow: hidden;
  position: relative;
	width: 85px;
	&:after {
		background-color: $onibus - 85;
		content: '';
		height: 18px;
		opacity: 0.8;
		position: absolute;
		right: 0;
		top: 2px;
		width: 2px;
	}
  .detalhes-verde {
    border-bottom: 18px solid $verde-bus;
    border-radius: 100%;
    height: 60px;
    left: -10px;
    position: absolute;
    top: -60px;
    width: 100px;
    @include transform(rotate(-30deg));
    &:after {
      border-bottom: 12px solid $verde-bus - 10;
      border-radius: 100%;
      content: '';
      height: 40px;
      left: -5px;
      position: absolute;
      top: 16px;
      width: 45px;
    }
  }
	.janela-padrao {
		background-color: $onibus - 95;
		border-radius: 2px;
		height: 10px;
		position: absolute;
		top: 2px;
		width: 10px;
	}
	.janela-pequena {
		background-color: $onibus - 95;
		border-radius: 2px;
		height: 10px;
		position: absolute;
		top: 3px;
		width: 7px;
	}
	.janela-p-meio-1 {
		left: 16px;
	}
	.janela-p-meio-2 {
		left: 39px;
	}
	.janela-atras {
		left: 2px;	
	}
	.janela-meio {
		left: 26px;	
	}
	.janela-f1 {
		left: 52px;	
	}
	.janela-f2 {
		left: 63px;	
	}
	.janela-p-frente {
		left: 75px;	
		&:before {
			background-color: $onibus - 10;
		}
	}
}

/* nuvens que viram pao */
.nuvem {
	background-color: $nuvem;
  border-radius: 100px;
  height: 42px;
  opacity: 0.75;
  position: absolute;
  width: 125px;
  &.chovendo, &.chovendo:after, &.chovendo:before {
    background-color: $nuvem - 100;
  }
  &.tipob {
    @media (max-width: $xs) {
      display: none;
    }
    &:after {
      height: 35px;
      right: 15px;
      top: -20px;
      width: 35px;
    }
    &:before {
      height: 60px;
      right: 19px;
      top: -30px;
      width: 60px;
    }
  }
  &:after {
    background-color: $nuvem;
    border-radius: 100px;
    content: '';
    display: block;
    height: 55px;
    position: absolute;
    right: 15px;
    top: -34px;
    width: 55px;
  }
  &:before {
    background-color: $nuvem;
    border-radius: 100px;
    content: '';
    display: block;
    height: 43px;
    position: absolute;
    left: 19px;
    top: -21px;
    width: 43px;
  }
  @media (max-width: $xs) {
    height: 17px;
    width: 50px;
    &:after {
      height: 22px;
      right: 6px;
      top: -13px;
      width: 22px;
    }
    &:before {
      height: 17px;
      left: 7.5px;
      top: -8px;
      width: 17px;
    }
  }
}

@for $i from 1 through 10{  
  .nuvem#{$i}{
    $delay: random(250)*-1 + s;
    $speed: random(60) + 120 + s;
    left: 0;
    top: random(20) + 35 + px;
    @include browsers(walkthecloud $speed $delay linear infinite);
   }
}
  
@include animation(walkthecloud) {
  from {left: -20%; }
  to { left: 120%; }
}

/* estrelas da noite */
.estrelas-wrapper {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
}

.estrelas{
  background-color: #f9f9f9;
  border-radius: 5px;
  position: absolute;
}

@for $i from 1 through 100{
  .s#{$i}{
    $speed: random(15) + 10 + s;
    $delay: - (random(25)) + s;
    $size: random(2) + px;
    height: $size;
    left: random(100) + 0%;
    top: random(100) + 0%;
    width: $size;
    @include browsers(shiningStar $speed $delay infinite);
  }
}

@include animation(shiningStar) {
  0% { opacity: 1; }
  20% { opacity: 0.5; }
  40% { opacity: 0; }
  60% { opacity: 0.5; }
  80% { opacity: 0.75; }
  100% { opacity: 1; }
}

/* ta chovendo kd minha canoa? */
.chuva-wrapper {
  height: 100vh;
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100vw;
}

.chuva {
  background-color: $chuva;
  height: 7px;
  opacity: 0.25;
  position: absolute;
  width: 1px;
  z-index: 3;
}

@for $i from 0 through 100{
  .chuva-#{$i}{
      $speed: random(5) + 1 + s;
      $delay: - (random(100)/random(100)) + s;
      left: random(90) + 0%;
      @include browsers(kdcanoa $speed $delay linear infinite);
  }
}

@include animation(kdcanoa) {
  from { top: -10vh }
  to { top: 110vh }
}

/* o ceu vira pao */
.pao, .pao.chovendo{
	background-color: $pao;
  border-radius: 80% 90% 80% 85%;
  height: 50px;
  position: absolute;
  width: 125px;
    @media (max-width: $xs) {
      height: 20px;
      width: 50px;                                                                                
    }
  &:after, &.tipob:after {
    background-color: $pao + 30;
    border-radius: 5% 100% 5% 100%;
    bottom: 0;
    box-shadow: 0px 3px 3px ($pao - 20) inset;
    content: '';
    display: block;
    height: 35%;
    left: 0;
    margin: auto;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    @include transform(rotate(1deg));
    width: 75%;
  }
  &:before {
    display: none;
  }
}

/* wave the flag!! */
@include animation(wave) {
  0% {
    @include transform(skew(0));
  }
  50% {
    @include transform(skew(25deg));
  }
  100%{
    @include transform(skew(0));
  }
}

/* vroom vroom o bus */
@include animation(gira) {
  100% { -webkit-transform: rotate(360deg); } 
}

/* ônibus que anda */
@include animation(vroomvroom) {
  from {left: -50px; }
  to { left: calc(100vw + 30px); }
}