/* 584 lines*/
/*Start main rules*/
.container{
    width: 1170px;
    margin: auto
}

.clearfix {
    clear:both
}

/*End main rules*/

/*  S  Header  */

.header ,.slider {
    background-image: url('../images/slider.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
}

.header ,.intro  {
    padding-top:  360px;
    height: 600px;
    text-align: center;
    color: #FFF
}

.header ,.intro h2 {
    margin: 0px auto;
    font-size: 50px;
    width: 600px;
    border-top: 4px solid #FFF;
    border-bottom: 4px solid #FFF;
    padding: 5px 0    
}

.header ,.intro button {
    background: none;
    width: 160px;
    margin-top: 30px;
    font-size: 20px;
    border: 2px solid #FFF;
    color: #FFF;
    padding: 10px 20px;
    font-weight: bold;
    
}

.header ,.intro button:hover {
    border-color: #2A9F58;
    cursor: pointer;
    color:#2A9F58;
}

.header ,.navbar{
    background-color: #252F31;
    color:#FFF;
    overflow: hidden;
    text-transform: uppercase
}

.header ,.navbar h2{
    float: left
}
.header ,.navbar .active,
.header ,.navbar h2 span{
    color:#2A9F58
}

.header ,.navbar ul{
    list-style: none;
    float: right;
}

.header ,.navbar li{
    float: left; padding: 10px;
}

.header ,.navbar li:hover{
    color:#2A9F58;
    cursor: pointer
}

/*  E  Header  */

/*  S  Features  */

.features{
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 55px;
}

.features .feat{
    float: left;
    width: 33.33333%;
    height: 150px;
    color: #566366
}


.features .feat p{
    line-height: 1.6;
    color: #919191;
    text-align: left;
    padding: 0 20px 0 0
}


/*  E  Features  */

/*  S About me*/
.about-me{
    background: #F2F2F2;
    overflow: hidden;
}

.about-me .image{
    float: left;
    width: 40%;
}

.about-me .image img{
    width:100%;
    margin-bottom: -1.5px;
}

.about-me .info{
    float: left;
    text-align: left;
    width: 60%;
}

.about-me .info h2{
    margin: 50px 0 20px 70px;
    color: #566366;
}

.about-me .info > p{
    margin: 0 0 10px 70px;
    line-height: 1.7;
    color: #919191
}

.about-me .info > p:last-of-type{
    margin-top: 25px;
}

.about-me .info  p{
    line-height: 1.6;
    color: #919191
}


.about-me .info .hobbies{
    overflow: hidden;
    margin: 20px 0 0 70px
}

.about-me .info .hobbies .content{
    float: left;
    width: 50%;
    min-height: 100px;
    overflow: hidden;
}

.about-me .info .hobbies .content h3{
    color: #566366;
}

.about-me .info .hobbies .content .icon{
    float: left;
    width: 12%;
    margin-right: 5%
}

.about-me .info .hobbies .content .icon img{
    max-width: 100%;
    margin: 20px 10px 0 0;
    }
    
.about-me .info .hobbies .content .text{
    float: left;
    width:83%;
}

/*  E About me*/

/*  S Skills*/

.mskills {
    padding: 30px 0px 50px 0px;
    overflow: hidden;
 
}

.mskills .skills,
.mskills .progress{
    width: 50%;
    float: left;
}

.mskills .skills h2{
    margin: 50px 0 20px 70px;
    color: #566366;
}

.mskills .skills  p{
    margin: 0 0 10px 70px;
    line-height: 1.7;
    color: #919191
}

.mskills .skills  p:last-of-type{
    margin-top: 25px;
}

.mskills .skills .my-button{
    margin-left: 70px;
    margin-top: 20px;
}

.mskills .progress .tech {
    margin-left: 40px;
}

.mskills .progress .tech h3{
        color: #566366;
        text-transform: uppercase
}

.mskills .progress .tech div {
    background-color: #F3F3F3;
    height: 28px;
}

.mskills .progress .tech div span{
    background-color:#2DCC70;
    display: block;
    height: 28px;
    line-height: 28px;
    text-align: right;
    color:#FFF

}

/*  E Skills*/

/*  S   Resume*/
.resume {
    background-color: #F2F2F2;
    padding: 50px 0px 70px 0px;
    overflow:hidden;
    text-align: center;
}

.resume h2{
    color: #566366;
    text-transform: uppercase;
    font-weight: bold;
}

.resume p {
    line-height: 1.7;
    color: #919191
}

.resume button{
    margin-top: 25px;
}




/*  E   Resume*/

/*  S Education*/

.meducation{
    padding: 30px 0px 30px 0px;
    overflow: hidden
}

.meducation  hr{
    margin: 20px 0;
    background-color: #BABABA;
    height: 1px;
    border:0;
}

.meducation .main {
    width: 50%;
    margin-right: 5%;
    float: left
}


.meducation .main h2{
    margin: 50px 0 20px 70px;;
    color: #566366;
    text-transform: uppercase;
}

.meducation .main  p{
    margin: 0 0 10px 70px;
    line-height: 1.7;
    color: #919191
}

.meducation .main p:last-of-type{
    margin-top: 25px;
}


.meducation .exp{
    width: 45%;
    float: left;
    margin-bottom: 50px;
}

.meducation .exp h3{
    margin-top: 90px;

    color: #566366;
    text-transform: uppercase;
}

.meducation .exp span{
    display: block;
    margin-bottom: 10px;
    
}

.meducation .exp .firstspan{
    color: #919191
}

.meducation .exp .lastspan{
    background-color: #2DCC70;
    color: #FFF;
    display: inline-block;
    padding: 4px 8px;
}


.meducation .exp  p{
    line-height: 1.7;
    color:#919191;
}

/*  E Education*/

/*  S   Testemonials    */
.testemonials {
    background-color: #F2F2F2;
    padding: 50px 0px 50px 0px;
    overflow:hidden;
    text-align: center;
}

.testemonials blockquote{
color:#919191;
font:italic bold 18px/1.8 Arial, Tahoma
}

.testemonials h3 {
    color: #566366;
    text-transform: uppercase;
}

.testemonials ul{
    margin-top: 50px;
    list-style: none;
    padding-left: 0;
    text-align: center
}

.testemonials ul li{
    width: 10px;
    height: 10px;
    border: 2px solid #2DCC70;
    display: inline-block;
}

.testemonials .active{
        background-color: #2DCC70;
}
.testemonials ul li:hover{
    background-color: #2DCC70;
    cursor: pointer
}

/*  E   Testemonials    */

/*  S Portofolio    */

.portofolio{
    padding: 50px 0px 70px 0px;
    text-align: center;
    
}

.portofolio h2{
    color: #566366;
    text-transform: uppercase;
}

.portofolio p{
    margin-top: 15px;
    margin-bottom: 50px;
    line-height: 1.7;
    color:#919191;
}

.portofolio .our-work{
    overflow: hidden;
}

.portofolio .our-work > div{
    float: left;
    width: 33.33333%;
    margin-bottom: 10px;
}

.portofolio .our-work > div img{
    width: 92%;
    margin: 10px;
    padding: 3px;
    background-color: #FFF;
    border: 1px sold #DDD
}

/*  E Portofolio  */

/*  S Contact me  */
.contactme {
    padding: 30px 0px 70px 0px;
    background-color: #252F31;
    overflow: hidden;
}

.contactme .info{
    width: 50%;
    margin-right: 5%;
    float: left
}


.contactme h2{
    margin: 50px 0 10px 70px;
    color: #FFF;
    text-transform: uppercase
}

.contactme p {
    margin: 30px 0 20px 70px;
    color:#6A6E71;
    line-height: 1.6;
}

.contactme div .spon{
    margin-left: 70px;
    color:#6A6E71;
    line-height: 1.6;
    display: block
}

.contactme div .spann{
    margin-bottom: 30px;
}


.contactme div .lon{
    margin-left: 70px;
    margin-bottom: 10px;
    color:#FFF;
    display:block;
}

.contactme .in{
    color:#6A6E71;
    padding: 86px;
}

.contactme .lel{
     color:#6A6E71;
    padding: 89px;
}

.contactme .form{
    width: 45%;
    float: left;
    padding-top: 75px; 
}

.contactme .form label{
    color:#FFF;
    display: block;
    padding-bottom: 10px;
}

.contactme .form input{
    background-color: #4b5456;
    margin-bottom: 30px;
    border: none;
    width: 400px;
    height: 38px;
    color: #FFF;
    padding: 5px;
}

.contactme .form textarea{
    background-color: #4b5456;
    margin-bottom: 30px;
    border: none;
    width: 400px;
    height: 200px;
    color: #FFF;
    padding: 5px;
}

.contactme .form button{
    width: 185px;
    height: 56px;
    background: none;
    background-color: #191f21;
    display: block;
    border: none;
    color:#FFF;   
}

.contactme .form button:hover{
    backgound-color:#14191b;
    cursor: pointer;
    
}



/*  E Contact me  */

/*  S Footer  */

.footer{
    background-color: #191f21;
    color: #6A6E71;
    padding: 50px 0 20px 0;
    text-align: center
}

.footer .ima{
    padding: 20px;
    display: block;
}

.footer .ima img{
    margin: 5px;
}

.footer .ima img:hover{
    cursor: pointer
}
/*  E Footer */


/*  S My Framework*/
.my-button{
    background: none;
    border: 3px solid #2DCC70;
    padding: 15px 25px;
    color: #2DCC70;
    font-weight: bold;
}

.my-button:hover {
    border-color: #2A9F58;
    cursor: pointer;
    color:#2A9F58;
}

/*  E My Framework*/