/* Smart PHones and Tablets*/

@media (max-width: 767px){
	.navbar-inverse .navbar-nav > li > a{
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.subscribe .form-control{
		margin: 20px auto;
	}
	.navbar-fixed-top .navbar-collapse, 
	.navbar-fixed-bottom .navbar-collapse{
		max-height: none;
	}
}

/* Small Screens*/

@media (min-width: 768px) and (max-width: 991px){
	.carousel-caption{
		bottom: 130px;

	}
	.carousel-caption h1{
		font-size: 20px;
	}
	.carousel-caption .lead{
		font-size: 14px;
		padding-bottom: 0
	}
}

/* Medium Screens */

@media (min-width: 992px) and (max-width: 1199px){
	.carousel-caption{
		bottom: 150px;
	}
}

/* Large Screens */

@media (min-width: 1200px){

}