/* Start Main Rules */
*
{
    font-family: 'Prata', serif;
}
body
{
   
}
/* Start Header */
    /* Start Slider */
div.header div.slider
{
    background-image: url(../images/slider-image.png);
    -webkit-background-size: cover; /* CSS3 Property */
    -moz-background-size: cover; /* CSS3 Property */
    -o-background-size: cover; /* CSS3 Property */
    background-color: #EEE;
    height: 600px
}
div.header div.slider div.intro
{
    padding-top: 200px;
    text-align: center
}
div.header div.slider div.intro h2
{
    margin: 0 auto;
    font-size: 50px;
    width: 400px;
    color: black; 
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    padding: 5px 0;
    font-family: 'Playball', cursive;
}
div.header div.slider div.intro button
{
    background: none;
    width: 150px;
    margin-top: 20px;
    font-size: 20px;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold
    
}
    /* End Slider */
div.container
{
    width: 1170px;
    margin: auto
}
.clearfix
{
    clear: both
}
/* Start Navigation Bar */
div.header div.navbar
{
    background-color: #252F31;
    color: #FFF;
    overflow: hidden
}
div.header div.navbar h2 {float: left}
div.header div.navbar h2 span {color: #2ecc71}
div.header div.navbar ul
{
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: right
}
div.header div.navbar ul li
{
    float: left;
    padding: 10px
}
div.header div.navbar ul li a
{
    color: #FFF;
    text-decoration: none
}
div.header div.navbar ul li a:hover
{
    color: #388576;
    font-weight: bold
}
/* End Navigation Bar */

/* Start Features */
div.features
{
    overflow: hidden; 
    padding-top: 40px;
    padding-bottom: 40px
}
div.features div.feat
{
    float: left;
    width: 32.3333%;
    height: 160px
    
    
}
div.features div.feat h2
{
    color: #555; /* Zay El Kolonya :D */

}
div.features div.feat p
{
   line-height: 1.5;
    text-align: left;
    color: #888;
    margin-right: 20px
    

}
/* End Features */
    /* Start About Me */
div.about-me
{
    background-color: #F2F2F2;
    overflow: hidden
}
div.about-me div.image
{
    float: left;
    width: 40%
    
}
div.about-me div.image img {width: 100%}
div.about-me div.info
{
    float: left;
    width: 60%
}
div.about-me div.info h2
{
    margin: 40px 0 20px 40px
}
div.about-me div.info p
{
    margin: 0 0 10px 40px;
    line-height: 1.5;
    color: #555
}
div.about-me div.info p:last-of-type
{
    margin-top: 30px;
}
div.about-me div.info div.hobbies
{
    overflow: hidden;
    margin: 20px 0 0 40px
}
div.about-me div.info div.hobbies div.content
{
    float: left;
    width: 50%;
    min-height: 100px;
    overflow: hidden
}
div.about-me div.info div.hobbies div.content h3 { color: #444}
div.about-me div.info div.hobbies div.content .icon
{
    float: left;
    width: 8%;
    margin-right: 4%
    
}
div.about-me div.info div.hobbies div.content .icon img 
{
    max-width: 100%;
    margin: 20px 10px 00
}
div.about-me div.info div.hobbies div.content .text
{
    float: left;
    width: 88%
}
/* End About Me */
/* Start My Skills */
div.my-skills
{
    padding-top: 30px;
    padding-bottom: 50px;
    overflow: hidden
    
}
div.my-skills div.skills h2
{
    margin: 25px 0 20px 40px;
    color: #555;
}
div.my-skills div.skills p
{
    margin: 0 0 10px 40px;
    line-height: 1.6;
    color: #666
}
div.my-skills div.skills p:last-of-type
{margin-top: 25px}
div.my-skills div.skills button
{
    background: none;
    border: 3px solid #2DCC70;
    padding: 10px 30px;
    color: #2DCC70;
    cursor: pointer;
    margin-left: 40px
    
}
div.my-skills div.skills, div.my-skills .progress
{
    width: 50%;
    float: left
}
div.progress div.tech h3
{
    color: #555;
    text-transform: uppercase
}
div.progress div.tech div
{
    background-color: #F2F2F2;
    height: 25px;
    
}
div.progress div.tech div span
{
    background-color: #2DCC70;
    width: 80%;
    height: 25px;
    display: block;
    line-height: 25px;
    text-align: right;
    color:#FFF;
    font-weight: bold
}

/* End My Skills */
/* Start Resume */
div.resume
{
    background-color: #f2f2f1;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center
}
div.resume button
{
    background: none;
    color: #2DCC70;
    font-weight: bold;
    border: 2px solid #2DCC70
}
/* End Resume */
/* Start My Education */
div.my-education
{
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden
    
}
div.my-education .main, div.my-education .exp
{
    width: 50%;
    float: left
}

/* End My Education */
/* Start Testimonials */
div.testimonials
{
    background-color: #f2f2f1;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center
}
/* Start Portfolio */
div.portfolio
{
   padding-top: 30px;
   padding-bottom: 30px;
   text-align: center 
}
div.portfolio .our-work { overflow: hidden}
div.portfolio .our-work> div
{
    float: left;
    width: 33.333333%;
    margin-bottom: 10px
}
div.portfolio .our-work > div img
{
    width: 92%;
    margin: 10px
}
/* End Portfolio */
/* Start Contact Me */
div.contact
{
    background-color: #252F31;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 70px
}
div.contact h2
{
    color: #FFF;
    margin-left: 40px;
    line-height: 1.7
}
div.contact p
{
    color: #D1D6DA;
    margin-left: 40px
}
div.contact div.form input[type="text"]{background-color: #4B5557; color: #FFF}
div.contact div.form textarea{background-color: #3b5557; #FFF; height: 200px; padding: 20px; color: #FFF}
div.contact address
{
    color: #D1D6DA;
    font-weight: bold
}
div.contact div.contact-info
{
    width: 50%;
    float: left
}
div.contact div.form
{
    width: 50%;
    float: left
}
div.contact div.form label
{
    display: block;
    color: #D1D6DA;
    margin-bottom: 10px;
    
}
/* End Contact Me */
/* Start Footer */
div.footer
{
    background-color: #191E22;
    color: #6A6E71;
    padding: 20px 0;
    text-align: center

}
/* End Footer */
/* End Main Rules */