/* main */
body
{
    height: 5000px
}
.contaner
{
    width: 950px;
    margin: auto
}
/*End*/
/*header*/
.header 
{
    background-image: url(images/cover.jpg);
    height: 600px;
    background-size: cover
    
}
.header .nav 
{
    overflow: hidden
}
.header .nav h2
{
    float: left;
    color: #011219;
    
}
.header .nav ul
{
    list-style: none;
    float: right
}
.header .nav ul li 
{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    color: aliceblue
}
.header .nav ul li :hover
{
    border-bottom: 2px solid #be9e36
}

.header .nav ul li a 
{
    color: black;
    text-decoration: none;
    cursor: pointer
}
.header .nav ul li.active a
{
    color: #be9e36
}
.header .intro
{
    text-align: center
}
.header .intro h3
{
    color: #000;
    font-size: 30px;
    padding-top: 60px;
    
}
.header .intro h2
{
    color: #000;
    font-size: 50px;
     padding-top: 60px
}
.header .intro button
{
    background-color: #be9e36;
    border: 2px solid #000;
    color: aliceblue;
    padding: 15px;
    border-radius: 10px
}
/*end header */
/*start servers*/
.Services .text h2
{
    padding-top: 70px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px
    
}
.Services .text p
{
    text-align: center;
    color: #acacac;
     font-size: 20px;
    padding-bottom: 10px
}

.Services .icons ul
{
    
    list-style: none;
    text-align: center
    
}
.Services .icons ul li {
    display: inline-block;
    width: 33%;
    font-size: 50px;
    color: #be9e36;
    
}
.Services .feat
{
    width: 33.333333%;
    display: inline-block;
   
}
.Services .feat h3
{
    text-align: center;
    padding-left: 40px
}
.Services .feat p 
{
    text-align: center;
    line-height: 1.7;
        color: #acacac;
    padding-bottom: 70px

}

/*end servers*/

/*start portfolio*/

.portfolio .text h2
{
    padding-top: 70px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px
    
}
.portfolio .text p
{
    text-align: center;
    color: #acacac;
     font-size: 20px;
    padding-bottom: 10px;
    padding-bottom: 30px
}
.portfolio .imges
{
    overflow: hidden
}

.portfolio .imges > div
{
    width: 33%;
    float: left;
    margin-bottom: 20px;
    transition: all .5s ease-in-out
    
    
}
.portfolio .imges > div img
{
    width: 92%;
    margin: 10px;
    border-radius: 10px
}
.portfolio .imges > div:hover
{
    transform:rotateY(180deg)
}
/*end portfolio*/
/*start aboutme*/
.aboutme .text h2
{
    padding-top: 70px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px
    
}
.aboutme .text p
{
    text-align: center;
    color: #acacac;
     font-size: 20px;
    padding-bottom: 10px;
    padding-bottom: 30px
}
.aboutme .text1 
{
    width: 43%;
    float: left
}
.aboutme .text1 h3
{
    text-align: right;
    padding-right: 50px;
    text-transform: uppercase
}
.aboutme .text1 p
{
    width: 90%;
    line-height: 1.7;
        color: #acacac;
    text-align: right
}

.aboutme .icon1
{
    padding-top: 70px;
    
}
   





.aboutme .icon2 
{
    float: left;
    
}
.aboutme .text2
{
 padding-top: 70px  ;
    
}
.aboutme .text2 h3
{
    text-align: right;
    padding-right: 50px;
    text-transform: uppercase
}
.aboutme .text2 p
{
    width: 40%;
    line-height: 1.7;
   color: #acacac;
    text-align: right;
    float: right; 
    
}

.aboutme .icon2
{
    padding-top: 150px;
    
}






.aboutme .text3 
{
    
    width: 43%;
    float: left;
     padding-top: 150px
     
}
.aboutme .text3 h3
{
    text-align: right;
    padding-right: 50px;
    text-transform: uppercase
}
.aboutme .text3 p
{
    width: 90%;
    line-height: 1.7;
        color: #acacac;
    text-align: right
}

.aboutme .icon3
{
   padding-top: 320px;
   padding-bottom: 50px;
    
}

/*end aboutme*/

/*start testmation*/

.testamation .text h2
{
    padding-top: 70px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px
    
}
.testamation .text p
{
    text-align: center;
    color: #acacac;
     font-size: 20px;
    padding-bottom: 10px;
    padding-bottom: 30px
}
.testamation .dwair
{
    padding-top: 50px
}
.testamation .dwair > div 
{
    width: 32%; 
    display: inline-block;
    text-align: center;
    overflow: hidden
    
   
}
.testamation .dwair > div img
{
    width: 80%;
    
}
.testamation .dwair > div p
{
    color: #acacac;;
    
    
}

.testamation .dwair > div span
{
    font-size: 30px;
    border-radius: 10px;
     overflow: hidden
}
.testamation .pragraph
{
    padding-top: 50px;
    text-align: center;
    width:700px;
    padding-left: 120px;
    line-height: 1.7;
    color: #acacac;padding-bottom: 100px
}
/*end testmation*/
/*start contact*/
.contact
{
    background-color: #222222;
    height: 600px;
    padding-bottom: 0px
}
.contact .text h2
{
    padding-top: 70px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: aliceblue;
    text-transform: uppercase
    
}
.contact .text p
{
    text-align: center;
    color: #acacac;
     font-size: 20px;
    padding-bottom: 10px;
    padding-bottom: 30px
}
.contact .info
{
   width:50%;
    color: aliceblue;
    text-align: center
}
.contact .info
{
    float: left;
   
    
}
.contact .info input
{
    height: 30px;
    width: 80%;
    border-radius: 10px;
    padding: 5px;
    color: #acacac;
    margin-bottom: 30px;
    border: 2px solid #fff
    
}
.contact .form
{
    padding-left: 400px
}
.contact .form input
{
    height: 180px;
    width: 70%;
    border-radius: 10px;
    padding: 5px;
    color: #acacac;
     border: 2px solid #fff
    
}
.contact .but
{
    padding-top: 50px;
    text-align: center;
}
.contact .but button
{
    background-color: #be9e36;
    border: 2px solid #be9e36;
    color: aliceblue;
    padding: 15px;
    border-radius: 10px
}


/*end contact*/
/*start footer*/

.footer .foot .text
{
    padding-top: 30px;
    float: left
    
}
.footer .foot  .icons
{
 
     padding-top: 30px;
    text-align: center;padding-right: 230px;
    font-size: 40px;
    padding-bottom: 10px
}

/*end footer*/