@charset "UTF-8";
/* CSS Document */

body {
	background: #FFF;
	color: #FFF;
	font: 100%/1.4  Arial, Verdana, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: lighter;	
	line-height: 20px;
	margin: 0;
	padding: 0;
}
body a{
	color: #000;
	text-decoration: underline;
}
.container{
	background-color: #BAD535;
	border: 1px solid #000;
	height: 250px;
	overflow: hidden;
	position: relative;
	width: 300px;
	margin: 0 auto;

	/*Keeps Border from expanding div*/
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    
	/*If you are trying to hide absolute positioned elements make sure the container of those
	  absolute positioned elements is relatively positioned.*/	
	
}

.display{
	display:none;
}

/*ELEMENTS*/
.click{
	cursor: pointer;
	width: 298px;
	height: 248px;
	overflow: hidden;
	position: absolute;
	z-index: 129;
	border: 1px solid #000;
    margin: -1px 0 0 -1px;
}

.link_top{
	cursor: pointer;
	width: 300px;
	height: 170px;
	position: absolute;
	z-index: 850;
}

.bgstart{
width: 300px;
height: 250px;
background-color: #45297C;
margin: 0;
position: absolute;
z-index:1;
}

.wave{
	width: 300px;
    height: 300px;
    margin: 160px 0 0 0;
    position: absolute;
    z-index: 940;
    background: url('wave.png');
}

.meet {
    width: 160px;
    height: 18px;
    margin: 206px 0 0 160px;
    position: absolute;
    z-index: 999;
    background: url('meet.png');
}

.learn{
    width: 113px;
    height: 18px;
    margin: 226px 0 0 160px;
    position: absolute;
    z-index: 999;
    background: url('learn.png');
	cursor:pointer;
}


.logo{
	width: 160px;
	height: 65px;
	background: url('logo.png');
	background-repeat: no-repeat;
	margin: 180px 0 0 0;
	position: absolute;
	z-index: 950;
}

.text1 {
    width: 300px;
    height: 170px;
    position: absolute;
    z-index: 2;
    background: url('text1.png');
}


.text2 {
    width: 300px;
    height: 170px;
    position: absolute;
    z-index: 3;
    background: url('text2.png');
}

.photo{
    width: 254px;
    height: 350px;
    position: absolute;
	margin: 0 0 0 80px;
    z-index: 4;
    background: url('photo.png');
}

.specialty1{
    width: 150px;
    height: 90px;
    margin: 66px 0 0 28px;
    position: absolute;
    z-index: 860;
    background: url('specialty1.png');
	background-repeat: no-repeat;
}
.specialty2 {
    width: 150px;
    height: 61px;
    margin: 72px 0 0 0;
    position: absolute;
    z-index: 860;
    background: url('specialty2.png');
	background-repeat: no-repeat;
}

.map{
    width: 189px;
    height: 189px;
	top: 410px;
	left: 55px;
    position: absolute;
    z-index: 860;
    background: url('map.png');
	background-repeat: no-repeat;	
}
.located{
	 width: 300px;
    height: 60px;
    margin: 75px 0 0 0;
    position: absolute;
    z-index: 850;
    background: url('located.png');
	background-repeat: no-repeat;	
	
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #BAD535;
    z-index: 900;
	line-height: 0;
}

.back{
	width: 47px;
	height: 21px;
	background: url('back.png');
	margin: 4px 0 0 240px;
	position: absolute;
	cursor:pointer;

}







