/* Start Main Rules */

body {font-family: 'Montserrat', sans-serif;}
.container {width:1100px;margin:auto;}
a {text-decoration: none;}
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
.droid-arabic-kufi{font-family: 'Droid Arabic Kufi', serif;}

/* End Main Rules */

/* Start Header */

.header .slider {
    background-image: url("images/5.jpg");
    background-size: cover;
    height: 680px;
}
.header .slider .intro {
    padding-top: 60px;
    text-align: center;
    color: #fff;
}
.header .slider .intro h1 {
    margin: 0;
    font-size: 55px;
}
.header .slider .intro h1 span {
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    padding: 10px 15px;
}
.header .slider .intro button {
    background: none;
    padding: 15px 25px;
    margin: 40px 0;
    color: #fff;
    border: none;
    border: 3px solid #fff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.header .slider .intro button:hover {
    background-color: #fff;
    color: #000;
}
.header .navbar {
    overflow:hidden;
    background-color: #252F31;
    color: #fff;
}
.header .navbar h2 {
    float: left;
}
.header .navbar h2 a:link {color:#fff}
.header .navbar h2 a:visited {color:#fff}
.header .navbar h2 a:active {color:#fff}
.header .navbar h2 span {color:#2ecc71}
.header .navbar ul {
    list-style: none;
    float: right;
}
.header .navbar ul li {
    float: left;
    padding:10px 20px 0 20px;
    color: #fff;
    font-size: 16px;
}
.header .navbar ul li a {transition: 0.5s;}
.header .navbar ul li a:link {color:#fff}
.header .navbar ul li a:visited {color:#fff}
.header .navbar ul li a:hover {color:#2eec71}
.header .navbar ul li a:active {color:#fff}

/* End Header */

/* Start Features */

.features {
    overflow: hidden;
    padding: 30px 0;
    font-family: 'Droid Arabic Kufi', serif;
}
.features .feats {
    float: right;
    width: 100%;
    height: 150px;
    margin: 0 5px;
    padding-bottom: 30px;
    text-align: center;
}
.features .feats h2 {
    color: #575F61;
    padding-bottom: 7px;
}
.features .feats p {
    color: #888;
    margin: 0;
    margin-bottom: 7px;
    font-size: 20px;
}

/* End Features */

/* Start Portfolio */

.portfolio {
    padding-top: 30px;
    padding-bottom: 30px;
}
.portfolio h1 {
    text-align: center;
}
.portfolio .images {
    overflow: hidden;
    text-align: center;
}

.portfolio .images .videos {
    text-align: center;
}

/* End Portfolio */

/* Start Footer */

.footer {
    overflow: hidden;
    background-color: #252F31;
    text-align: center;
    color: #c9c9c9;
    padding: 20px 0;
}
.footer a {
    text-decoration: underline;
    transition: 0.5s
}
.footer a:link {color: #d1d1d1;}
.footer a:visited {color: #d1d1d1;}
.footer a:hover {color: #2ecc71}
.footer a:active {color: #d1d1d1;}