//Colors

@bg-color: #eeeeee;
@white: #ffffff;
@black: #000000;
@text-color: #1a1a1a;
@violet: #b776a8;
@light-text: #c4c4c4;
@light-line: #e5e5e5;
@people-section: #f5f5f5;
@slider-people: #3f3f3f;


//Font

@glam: 'CACChampagneRegular';
@main-font: 'Montserrat';