/*
	AUTHOR 				: REDA YOUSSOUFI
	AUTHOR URL 			: **********
	FACEBOOK ACCOUNT 	: **********
*/

*{
	padding: 0px;
	margin: 0px
}

li, ul{
	list-style:none;
}

a, a:hover{
	text-decoration: none;
}

body{
	font-family: 'Roboto Slab', serif;
	color: #FFF
}

p{
	transition: 2s;
}

.header-top {
    background: url("../images/header-banner.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px 0;
	height: 100%;
}

.nav-top {
    overflow: hidden;
    margin: 0 auto;
    width: 103%;
}

.nav-top ul{
}

.nav-top ul li {
    display: -webkit-inline-box;
    margin: 0px 86px;
    float: left;
}

.nav-top ul li a {
    color: #FFF;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    display: -webkit-box;
    padding: 8px 16px;
	transition: all 0.7s;
}

.nav-top ul li a:hover{
	background: #FFD670;
}

/*=== Logo Styles ===*/
.logo-content {
    overflow: hidden;
    text-align: -webkit-center;
    padding-top: 7em;
}

.logo-content img {
    text-align: -webkit-center;
	transition: all 1s;
	cursor: pointer;
}

.logo-content img:hover{
	transform: rotate(360deg);
}

.logo-text {
}

.logo-text h3 {
    font-size: 2.5em;
}

.logo-text h1 {
    font-size: 4em;
    font-weight: 300;
}

.logo-text h1 span {
    font-weight: 700;
}

.logo-text p {
    font-weight: 300;
    font-size: 17px;
}

/* Header Social Style */
.header-social {
    text-align: center;
}

.header-social a .fa {
    color: #FFF;
    padding: 25px;
    font-size: 30px;
    border: 3px solid #eee;
    border-radius: 60px;
    margin: 10px;
	transition: 0.7s;
}

.header-social a .fa:hover {
    color: #eee;
}

/* Details Styles */
.header-details {
    text-align: center;
}

.header-details li {
    display: -webkit-inline-box;
    margin: 0 50px;
}

.header-details li h3{
	font-family: Source Sans Pro;
	font-weight: 300;
}

.header-details li h3 a {
    color: #FFD670;
}

.header-details li h3 a:hover{
    text-decoration: underline;
}

/* HEADER BOTTOM STYLES */
.header-bottom{
	background: #524664;
	padding: 4.2em;
}

.about-me {
    overflow: hidden;
}

.about-title {
    text-align: center;
}

.about-title h1 {
    font-weight: 700;
}

.about-title p {
    font-weight: 100;
}

.about-content {
    overflow: hidden;
    width: 100%;
    margin-top: 50px;
}

.about-content h5 {
    font-weight: 700;
}

.about-me .about-content p {
    font-size: 13px;
	margin-left: 10px;
}

span.about-col1 {
    overflow: hidden;
    float: left;
    width: 33.33333333%;
}

span.about-col2 {
    overflow: hidden;
    float: left;
    width: 33.33333333%;
    margin: 0 17px;
    text-align: -webkit-center;
}

.about-col2 img {
    border: 5px solid #cacaca;
    border-radius: 500px;
    padding: 11px;
}

.about-col3{
    overflow: hidden;
    float: left;
    width: 29%;
}

.Aprog-1 {
    background: #615474;
    width: 100%;
    overflow: hidden;
    margin: 10px 0;
}

.Aprog-1 h6{
    float: right;
    position: relative;
    top: 3px;
    padding: 0 10px;
}

.Aprog span{
    overflow: hidden;
    background: #FFD670;
    padding: 2px 11px;
    display: -webkit-box;
}

.Aprog-1-title h6 {
    float: right;
    position: static;
}

.portfolio{
	overflow: hidden;
	background: #FFD670;
	padding: 1.2em;
	text-align: center;
}

.portfolio p{
	font-size: 10px;
}

.port-img {
    overflow: hidden;
    float: left;
    width: 30%;
    margin-left: 22px;
}

.port-img img {
    width: 100%;
    border: 2px solid #ffb600;
    border-bottom: transparent;
    border-radius: 15px;
}

.port-img p {
    font-size: 19px;
    border: 2px solid #ffb600;
    border-top: transparent;
    font-weight: 700;
    border-radius: 25px;
}

.contact {
    overflow: hidden;
    text-align: center;
    padding: 20px 0;
}

.contact h1 {
    color: #444;
}

.contact > p {
    color: #000;
    font-size: 10px;
    font-weight: 700;
}

.email {
    color: #A5AABE;
}

.phone {
    color: #A5AABE;
}

.email::before {
    content: "EMAIL : {";
}

.email::after {
	content: "}";
}

.phone::before {
    content: "PHONE : {";
}

.phone::after {
	content: "}";
}

.contact-col2 {
    margin: 0 auto;
    width: 90%;
}

.form-top {
    overflow: hidden;
}

input[type="text"] {
    padding: 10;
    background: #f1f1f1;
    border: 2px solid #f1f1f1;
    width: 49%;
    float: left;
    color: #999;
	border-radius: 20px;
}

input[type="email"] {
    padding: 10px;
    background: #f1f1f1;
    border: 2px solid #f1f1f1;
    width: 49%;
    float: right;
    color: #999;
	border-radius: 20px;
}

input[type="message-box"] {
    width: 100%;
    color: #999;
    background: #f1f1f1;
    border: 2px solid #f1f1f1;
    padding-bottom: 150px;
    padding-top: 20px;
    padding-left: 5px;
    border-radius: 20px;
}

input[type="submit"] {
    margin-top: 10px;
    background: #ffd670;
    border: 2px solid #ffd670;
    padding: 10px;
	transition: all 0.7s;
}
input[type="submit"]:hover{
	background: #F7B000;
}
/* Footer Styles */
footer{
	background: #3e364d;
	padding: 2em;
}

footer p {
	color: #AAAAAA;
    text-align: center;
	font-size: 10px;
	font-weight: 300;
}

footer p a{
	color: #FFF;
	font-size: 10px;
	font-weight: 300;
}

footer p a:hover{
    color: #FFD670;
    text-decoration: underline;
}