0@charset "utf-8";
/******************** start CSS Document here ********************/
/* strat body h1 h2 h3 h4 p .h1 .lead group here */
body, h1 h2 h3 h4 p .h1 .lead{
	padding-top:61px;min-height:1000px;font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;}
/* end body h1 h2 h3 h4 p .h1 .lead group here */	
	
/************ start override bootstrap here **********/
/**** start navbar here ****/
/* start class active link here */
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus{background:#E41B17;padding-top:20px;padding-bottom:20px;}
/* end class active link here */	

/* start nav bar main here */
.navbar-inverse{min-height:60px;}
/* end nav bar main here */	

/* start class navbar link here */	
.navbar-inverse .navbar-nav > li > a{color:#949494;padding-top:20px;padding-bottom:20px;font-size:16px;}	
/* end class navbar link here */

/* start class brand name here */
.navbar > .container .navbar-brand, .navbar > 
.container-fluid .navbar-brand{font-size:25px;line-height:35px;}
	 	
.navbar-brand span{
	color:#E41B17;}		
/* end class brand name here */

/* start class navbar-toggle here */
.navbar-inverse .navbar-toggle{margin-top:14px;}
/* end class navbar-toggle here */	

/* start class dropdown-menu here */
.navbar-nav > li > .dropdown-menu{background:#222;border-top:3px solid #E41B17;min-width:200px;}
	
.navbar-right .dropdown-menu{left:0;right:auto;}	
	
.dropdown-menu > li > a{
	color:#FFF;
	padding:7px 20px;
	-webkit-transition:padding 0.5s ease;
	-moz-transition:padding 0.5s ease;
	-o-transition:padding 0.5s ease;
	transition:padding 0.5s ease;}
	
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus{background:#E41B17;color:#fff;padding-left:30px;}
/* end class dropdown-menu here */	

/* start class divider here */	
.dropdown-menu .divider{background:#F00;}
/* end class divider here */
/**** end navbar here ****/

/**** start carousel here ****/
/* start carousel caption here */
.item img{width:1596px;height:600px;}

.carousel-caption{bottom:80px;background:rgba(3,3,3,0.3);padding:20px;}
	
	.carousel-caption .h1{font-size:40px;color:#FFF;}
		
	.carousel-caption p{font-size:20px;font-weight:normal;line-height:150%;}
/* end carousel caption here */

/* start carousel indwcators here */
.carousel-indicators{bottom:0;}
	
	.carousel-indicators li{width:15px;height:15px;border:1px solid #CCC;}
		
	.carousel-indicators .active{width:17px;height:17px;background:#E41B17;border:1px solid #CCC;}
		
	.item > img, .carousel-inner > 
	.item > a > img	{width:100%;}	
/* end carousel indcators here */	
/**** end carousel here ****/
/************ end override bootstrap here **********/

/* start section Option Box here */
.OptionBox{position:fixed;top:100px;left:0;z-index:9999;}
	
	.OptionBox .ColorBox{padding:10px;width:200px;color:#fff;background:#333;float:left;border:4px solid #E41B17;display:none;}
		
	.OptionBox .ColorBox ul li{height:20px;width:20px;background:#F00;float:left;margin-right:5px;cursor:pointer;}
		
	.OptionBox .GearChech{padding:5px;background:#E41B17;color:#fff;cursor:pointer;}		
/* end section Option Box here */ 

/* start section about here */
	.about h1{font-size:35px;font-weight:bold;}
	
	.about h1 span{color:#E41B17;}
		
	.about .lead{color:#888;font-size:25px;margin-top:20px;}	
/* end section about here */

/* start section features here */
.features{background:#EEE;overflow:hidden;}
		
	.features .feat{margin-bottom:20px;}	
		
	.features .feat p{line-height:2em;font-size:15px;}
		
	.features .feat h4{font-size:22px;}	
		
	.features .feat span.glyphicon{font-size:25px;margin-bottom:25px;color:#222;}	
/* end section features here */

/* start section testimonials here */	
	.testimonials .lead{line-height:2em;font-size:20px;margin-bottom:10px;}
		
	.testimonials span{font-size:17px;font-weight:bold;color:#E41B17;}
		
	.testimonials .carousel-inner{min-height:150px;}
		
	.testimonials .carousel-indicators{position:static;width:100%;margin-left:auto;padding-top:30px;}	
		
	.testimonials .carousel-indicators li{
		text-indent:0;
		width:80px;
		height:80px;
		margin:0 10px;
		opacity:0.5;
		border:3px solid #FFF;
		border-radius:50%;
		overflow:hidden;}
		
	.testimonials .carousel-indicators li img{max-width:100%;}
		
	.testimonials .carousel-indicators li.active{width:80px;height:80px;opacity:1;border:3px solid #E41B17;background:none;}					
/* end section testimonials here */

/* start section price-table here */
.price-table{background:#EEE;overflow:hidden;}
	
	.price-table .price_box{background:#FFF;border:1px solid #DDD;padding:10px;margin-bottom:15px;}
		
	.price-table .price_box h3{margin:5px 0 20px 0;}
		
	.price-table .price_box p{
		font-weight:bold;
		font-size:24px;
		width:100px;
		height:100px;
		background:#EEE;
		line-height:100px;
		border:1px solid #FFF;
		border-radius:50%;
		-webkit-transition-duration:1s;
		-moz-transition-duration:1s;
		-o-transition-duration:1s;
		transition-duration:1s;}
		
	.price-table .price_box:hover p{
		border:1px solid #222;
		-webkit-transform:scale(1.1,1.1) rotate(360deg);
		-moz-transform:scale(1.1,1.1) rotate(360deg);
		-o-transform:scale(1.1,1.1)) rotate(360deg);
		transform:scale(1.1,1.1) rotate(360deg);}	
		
	.price-table .price_box ul li{line-height:250%;font-size:15px;}
		
	.price-table .price_box a{margin-bottom:10px;}					
/* end section price-table here */

/* start section Our Team here */
.OurTeam{
	background:url(../images/team_bg.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
	min-height:500px;
	color:#FFF;
	width:100%;}
	
	.OurTeam .Team{background:rgba(2,2,2,0.9);min-height:500px;padding-top:40px;padding-bottom:10px;}
		
	.OurTeam .person{margin-bottom:40px;}
		
	.OurTeam .person i{margin-right:5px;}
	
	.OurTeam .person img{width:200px;height:200px;}
	
	.OurTeam .person a{color:#FFF;text-decoration:none;}
/* end section Our Team here */

/* start section subscribe here */
.subscribe{background:#EEE;}
	
	.subscribe .h1{color:#888;margin-bottom:20px;letter-spacing:5px;font-size:35px;}
		
	.subscribe p{margin-bottom:30px;}
		
	.subscribe .form-control{border-radius:0;width:240px;margin-right:-5px;}
		
	.subscribe button{border-radius:0;}			
/* end section subscribe here */

/* start section statistics here */
.statistics{
	min-height:300px;
	background:url(../images/statistics_bg.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;}

	.statistics .data{min-height:300px;background:rgba(2,2,2,0.85);color:#B6B5B5;}
		
	.statistics .stats{margin-bottom:30px;}
		
	.statistics .stats:hover{color:#FFF;}	
	
	.statistics .stats p{font-size:60px;font-weight:700;margin-bottom:0;}
		
	.statistics .stats span{font-size:18px;}		
/* end section statistics here */

/* start section OurSkills here */
	.OurSkills .TeamInfo h3{margin-top:-5px;}
		
	.OurSkills .progress{height:35px;}
		
	.OurSkills .progress-bar{line-height:35px;font-size:16px;font-weight:bold;text-align:left;text-indent:10px;}			
/* end section OurSkills here */

/* start section ContactUs here */
.ContactUs{
	background:url(../images/contactus-bg.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;}
	
	.ContactUs .fields{background:rgba(9,9,9,0.9);color:#DDD;min-height:300px;}
		
	.ContactUs .fields .h1{font-size:35px;margin-bottom:20px;}
		
	.ContactUs .fields p{margin-bottom:60px;}
		
	.ContactUs .fields textarea{height:109px;}
		
	.ContactUs .fields input[type="text"],
	.ContactUs .fields textarea{background:rgba(82,78,78,0.6);color:#fff;border:none;}				
/* end section ContactUs here */

/* start section Our Clients here */
	.OurClients img{width:125px;height:50px;margin-top:10px;margin-bottom:10px;opacity:0.5;filter:alpha(opacity=50);}
		
	.OurClients img:hover{opacity:1;}	
/* end section Our Clients here */ 

/* start section footer here */
.footer{background:#111;color:#AAA;padding-top:20px;}
	
	.footer h3{color:#E41B17;margin-top:20px;margin-bottom:20px;letter-spacing:1px;}
		
	.footer .ThreeColumns{overflow:hidden;}
		
	.footer .ThreeColumns li{float:left;width:33.3333%;padding-top:10px;padding-bottom:10px;}
		
	.footer a{color:#AAA;text-decoration:none;display:inline-block;}
		
	.footer .ThreeColumns a:hover{color:#fff;}
		
	.footer .SocialList{overflow:hidden;margin-top:20px;}
		
	.footer .SocialList li{float:left;margin-right:5px;opacity:0.5;filter:alpha(opacity=50);}
	
	.footer .SocialList li img{width:50px;height:50px;}
		
	.footer .SocialList li:hover{opacity:1;}
	
	.footer .media img{width:65px;height:65px;}
		
	.footer .media .media-body h4{color:#fff;}
	
	.footer .OurAwesomeWork img{width:150px;height:100px;}
		
	.footer .img-thumbnail{background:rgba(0,0,0,0.5);border:1px solid #444;margin-bottom:5px;}
		
	.footer .CopyRights{background:#333;padding-top:15px;padding-bottom:15px;color:#AAA;margin-top:20px;}
		
	.footer .CopyRights{font-size:18px;}
		
	.footer .CopyRights span a{color:#E41B17;text-decoration:none;font-weight:600;}	
/* end section footer here */

/* start section Loading Overlay here */
.LoadingOverlay{background:#222;color:#fff;position:fixed;left:0;top:0;width:100%;height:100%;z-index:99999;}
	
	.spinner{width:60px;height:60px;position:relative;margin:300px auto;}
		
	.double-bounce1,.double-bounce2{
		width:100%;
		height:100%;
		border-radius:50%;
		background:#FFF;
		opacity:0.5;
		position:absolute;
		top:0;
		left:0;
		-webkit-animation:bounce 2.0s infinite ease-in-out;
		animation:bounce 2.0s infinite ease-in-out;}
		
	.double-bounce2{-webkit-animation-delay:-1.0s;animation-delay:-1.0s;}
		
	@-webkit-keyframes bounce{0%,100%{-webkit-transform:scale(0.0)}50%{-webkit-transform:scale(1.0)}}
			
	@keyframes bounce{0%,100%{transform:scale(0.0);-webkit-transform:scale(0.0);}50%{transform:scale(0.0);-webkit-transform:scale(1.0);}}				
/* end section Loading Overlay here */

/* start div scroll top here */
#ScrollTop{
	width:50px;
	height:50px;
	background:#E41B17;
	color:#FFF;
	text-align:center;
	position:fixed;
	right:20px;
	bottom:20px;
	padding:5px;
	opacity:0.7;
	display:none;
	cursor:pointer;}
	
	#ScrollTop:hover{opacity:1;}
/* end div scroll top here */

/* start our grouping system here */
.OurTeam, .statistics, .ContactUs{-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
	
.features .h1, .testimonials .h1, .price-table .h1, 
.OurTeam .h1, .statistics .h1, .OurSkills .h1{font-size:40px;margin-bottom:50px;}
		
.about ,.features, .testimonials, .price-table, .subscribe, 
.statistics .data, .OurSkills, .ContactUs .fields, .OurClients{padding-top:60px;padding-bottom:60px;}
	
.testimonials .carousel-indicators li, .statistics .stats,
.OurClients img, .footer a, .footer .SocialList li, 
.footer .SocialList li, 
#ScrollTop{-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease;}			
/* end our grouping system here */
/******************** end CSS Document here ********************/