.stacksSpacerstacks_in_174_page0 {
	display: block;
	width: 100%;
	height:50px;
}.contentProtectorstacks_in_220_page0 {
	display: block;
	position: relative;
	z-index: 1;
} 

.contentProtectorSkinstacks_in_220_page0 {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background:url(../files/filter.gif);
	z-index:10;
}
#stacks_in_184_page0 {
	line-height: 2em;
	letter-spacing: 2px;
	font-size: 250%;
}
.stacksSpacerstacks_in_169_page0 {
	display: block;
	width: 100%;
	height:20px;
} #stacks_in_185_page0 hr{border:0;height:0;width:100%;margin:0;padding:0}#stacks_in_185_page0 hr.gradient{height:7px;background:#333;background-image:-webkit-linear-gradient(left,#FFFFFF,#D4D4D4,#FFFFFF);background-image:-moz-linear-gradient(left,#FFFFFF,#D4D4D4,#FFFFFF);background-image:-ms-linear-gradient(left,#FFFFFF,#D4D4D4,#FFFFFF);background-image:-o-linear-gradient(left,#FFFFFF,#D4D4D4,#FFFFFF);background-image:linear-gradient(left,#FFFFFF,#D4D4D4,#FFFFFF)}#stacks_in_185_page0 hr.faded{height:7px;background-image:-webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));background-image:-moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));background-image:-ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));background-image:-o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0))}#stacks_in_185_page0 hr.dashed_fade{border-bottom:7px dashed #FFFFFF;background:#D4D4D4}#stacks_in_185_page0 hr.dotted_fade{border-bottom:7px dotted #FFFFFF;background:#D4D4D4}#stacks_in_185_page0 hr.dashed{border-bottom:7px dashed #D4D4D4}#stacks_in_185_page0 hr.dotted{border-bottom:7px dotted #FFFFFF}#stacks_in_185_page0 hr.shadow{height:7px;box-shadow:inset 0 7px 7px -7px rgba(0,0,0,0.5)}#stacks_in_185_page0 hr.cloudy{margin:7px 0;box-shadow:0 0 7px 1px #D4D4D4}#stacks_in_185_page0 hr.cloudy:after{content:"\00a0"}#stacks_in_185_page0 hr.inset{border-top:7px solid rgba(0,0,0,0.1);border-bottom:7px solid rgba(255,255,255,0.3)}#stacks_in_185_page0 hr.inset_two{border-top:7px solid #FFFFFF;border-bottom:7px solid #D4D4D4}#stacks_in_185_page0 hr.inset_three{border-top:7px solid #D4D4D4;border-bottom:7px solid #FFFFFF}#stacks_in_185_page0 hr.inset_four{border-top:7px solid #D4D4D4;border-bottom:7px solid #CCCCCC}#stacks_in_185_page0 hr.flared{height:30px;border-style:solid;border-color:#D4D4D4;border-width:7px 0 0 0;border-radius:20px;margin-top:12px}#stacks_in_185_page0 hr.flared:before{display:block;content:"";height:30px;margin-top:-31px;border-style:solid;border-color:#D4D4D4;border-width:0 0 7px 0;border-radius:20px}#stacks_in_185_page0 hr.glyph{padding:0;border:0;border-top:7px double #D4D4D4;color:#D4D4D4;text-align:center;margin:1em 0}#stacks_in_185_page0 hr.glyph:after{content:"my seeds";display:inline-block;position:relative;top:-0.73em;font-size:1.5em;padding:0 .25em;background:#000000} 
.stacksSpacerstacks_in_189_page0 {
	display: block;
	width: 100%;
	height:20px;
}.contentProtectorstacks_in_113_page0 {
	display: block;
	position: relative;
	z-index: 1;
} 

.contentProtectorSkinstacks_in_113_page0 {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background:url(../files/filter.gif);
	z-index:10;
}
#stacks_in_132_page0 .stacks_left {
	float:left;
	width:31%;
}

#stacks_in_132_page0 .stacks_right {
	float:right;
	width:67%;
}
#stacks_in_157_page0 {
	font-size: 130%;
}

#stacks_in_167_page0 {
	font-size: 130%;
}

#stacks_in_162_page0 {
	font-size: 130%;
}
.stacksSpacerstacks_in_200_page0 {
	display: block;
	width: 100%;
	height:20px;
} #stacks_in_201_page0 hr{border:0;height:0;width:100%;margin:0;padding:0}#stacks_in_201_page0 hr.gradient{height:7px;background:#333;background-image:-webkit-linear-gradient(left,#FFFFFF,#D4D4D4,#FFFFFF);background-image:-moz-linear-gradient(left,#FFFFFF,#D4D4D4,#FFFFFF);background-image:-ms-linear-gradient(left,#FFFFFF,#D4D4D4,#FFFFFF);background-image:-o-linear-gradient(left,#FFFFFF,#D4D4D4,#FFFFFF);background-image:linear-gradient(left,#FFFFFF,#D4D4D4,#FFFFFF)}#stacks_in_201_page0 hr.faded{height:7px;background-image:-webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));background-image:-moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));background-image:-ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));background-image:-o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0))}#stacks_in_201_page0 hr.dashed_fade{border-bottom:7px dashed #FFFFFF;background:#D4D4D4}#stacks_in_201_page0 hr.dotted_fade{border-bottom:7px dotted #FFFFFF;background:#D4D4D4}#stacks_in_201_page0 hr.dashed{border-bottom:7px dashed #D4D4D4}#stacks_in_201_page0 hr.dotted{border-bottom:7px dotted #FFFFFF}#stacks_in_201_page0 hr.shadow{height:7px;box-shadow:inset 0 7px 7px -7px rgba(0,0,0,0.5)}#stacks_in_201_page0 hr.cloudy{margin:7px 0;box-shadow:0 0 7px 1px #D4D4D4}#stacks_in_201_page0 hr.cloudy:after{content:"\00a0"}#stacks_in_201_page0 hr.inset{border-top:7px solid rgba(0,0,0,0.1);border-bottom:7px solid rgba(255,255,255,0.3)}#stacks_in_201_page0 hr.inset_two{border-top:7px solid #FFFFFF;border-bottom:7px solid #D4D4D4}#stacks_in_201_page0 hr.inset_three{border-top:7px solid #D4D4D4;border-bottom:7px solid #FFFFFF}#stacks_in_201_page0 hr.inset_four{border-top:7px solid #D4D4D4;border-bottom:7px solid #CCCCCC}#stacks_in_201_page0 hr.flared{height:30px;border-style:solid;border-color:#D4D4D4;border-width:7px 0 0 0;border-radius:20px;margin-top:12px}#stacks_in_201_page0 hr.flared:before{display:block;content:"";height:30px;margin-top:-31px;border-style:solid;border-color:#D4D4D4;border-width:0 0 7px 0;border-radius:20px}#stacks_in_201_page0 hr.glyph{padding:0;border:0;border-top:7px double #D4D4D4;color:#D4D4D4;text-align:center;margin:1em 0}#stacks_in_201_page0 hr.glyph:after{content:"experimental grow";display:inline-block;position:relative;top:-0.73em;font-size:1.5em;padding:0 .25em;background:#000000} 
.stacksSpacerstacks_in_202_page0 {
	display: block;
	width: 100%;
	height:20px;
}.contentProtectorstacks_in_292_page0 {
	display: block;
	position: relative;
	z-index: 1;
} 

.contentProtectorSkinstacks_in_292_page0 {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background:url(../files/filter.gif);
	z-index:10;
}
#stacks_in_294_page0 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_294_page0 .stacks_right {
	float:right;
	width:49%;
}.contentProtectorstacks_in_361_page0 {
	display: block;
	position: relative;
	z-index: 1;
} 

.contentProtectorSkinstacks_in_361_page0 {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background:url(../files/filter.gif);
	z-index:10;
}
#stacks_in_363_page0 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_363_page0 .stacks_right {
	float:right;
	width:49%;
}.contentProtectorstacks_in_384_page0 {
	display: block;
	position: relative;
	z-index: 1;
} 

.contentProtectorSkinstacks_in_384_page0 {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background:url(../files/filter.gif);
	z-index:10;
}
#stacks_in_386_page0 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_386_page0 .stacks_right {
	float:right;
	width:49%;
}.contentProtectorstacks_in_216_page0 {
	display: block;
	position: relative;
	z-index: 1;
} 

.contentProtectorSkinstacks_in_216_page0 {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background:url(../files/filter.gif);
	z-index:10;
}.contentProtectorstacks_in_407_page0 {
	display: block;
	position: relative;
	z-index: 1;
} 

.contentProtectorSkinstacks_in_407_page0 {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background:url(../files/filter.gif);
	z-index:10;
}
#stacks_in_409_page0 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_409_page0 .stacks_right {
	float:right;
	width:49%;
}.contentProtectorstacks_in_468_page0 {
	display: block;
	position: relative;
	z-index: 1;
} 

.contentProtectorSkinstacks_in_468_page0 {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background:url(../files/filter.gif);
	z-index:10;
}.contentProtectorstacks_in_430_page0 {
	display: block;
	position: relative;
	z-index: 1;
} 

.contentProtectorSkinstacks_in_430_page0 {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background:url(../files/filter.gif);
	z-index:10;
}
#stacks_in_432_page0 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_432_page0 .stacks_right {
	float:right;
	width:49%;
}.contentProtectorstacks_in_226_page0 {
	display: block;
	position: relative;
	z-index: 1;
} 

.contentProtectorSkinstacks_in_226_page0 {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background:url(../files/filter.gif);
	z-index:10;
}.contentProtectorstacks_in_236_page0 {
	display: block;
	position: relative;
	z-index: 1;
} 

.contentProtectorSkinstacks_in_236_page0 {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background:url(../files/filter.gif);
	z-index:10;
}.stacksSpacerstacks_in_170_page0 {
	display: block;
	width: 100%;
	height:100px;
}.stacksSpacerstacks_in_225_page0 {
	display: block;
	width: 100%;
	height:100px;
}#toTop{display:none;text-decoration:none;position:fixed;bottom:10px;right:10px;overflow:hidden;width:51px;height:51px;border:0;text-indent:-9999px;background:url(../files/image_109.png) no-repeat left top;z-index:9988} #toTop:active,#toTop:focus{outline:0}
