*{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
}
/*start main rules*/
.container
{
    margin:auto;
    width:100%;
}
.clear-fix
{
    clear:both;
}
/*end main rules*/
/*start header*/
.header
{
    text-align: center;
    color:#fff;
    background-image:url('../images/pexels-photo-30732.jpg');
    background-size: 100% 100%;
    -webkit-background-size:cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height:450px;
}
.heading
{
    position:relative;
    top:150px;
    left:200px;
    width:60%;
}
.header .heading h2
{
    margin:0;
    font-family: 'Courgette', cursive;
}
.header .heading p
{
    margin:0 0 20px 0;
    font-family: 'Handlee', cursive;
}
.header .heading button
{
    padding:10px 25px;
    background-color:rgba(0,0,0,0);
    border:2px solid#fff;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
}
.header .heading button:focus
{
    outline:none
}
.parent
{
    width:100%;
    height:450px;
    text-align:center;
    color:#fff;
}
.parent button
{
    padding:10px 25px;
    background-color:rgba(0,0,0,0);
    border:2px solid#fff;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
}
.parent button:focus
{
    outline:none
}
.parent h2 
{
    font-size:18px;
    font-family: 'Courgette', cursive;
}
.parent p
{
    font-size:14px;
    word-wrap: break-word;
    font-family: 'Handlee', cursive;;
}
.second,.third
{
    float:left;
    width:50%;
    height:450px;
    padding: 145px 100px
    
}
.second
{
    background-image:url('../images/pexels-photo-31013.jpg');
    background-size: cover
}
.third
{
    background-image:url('../images/pexels-photo-27954.jpg');
      background-size: cover
}

/*end header*/
/*start portfolio*/
.portfolio
{
    text-align: center;
    height:600px;
}
.portfolio h2
{
    color:#333;
    font-size:25px;
    margin-top: 80px;
}
.portfolio p
{
    color:#333;
    font-size:18px;
}
.portfolio .top
{
    margin-top:-190px
}
.portfolio .bottom div {
	width: 280px;
	height: 280px;
	-webkit-clip-path: polygon(50% 0%, 0 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0 100%, 100% 100%);
    display:inline-flex
}
.portfolio .top div {
	width: 280px;
	height: 280px;
	-webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    display:inline-flex;
    position: relative;
}
.portfolio .top div:first-child
{
    top:250px;
    background-image: url('../images/cornflower-ladybug-siebenpunkt-blue-70335%20(2).jpeg');
}
.portfolio .top div:last-child
{
    top:250px;
    background-image: url('../images/pexels-photo-58899.jpeg');
}
.portfolio .bottom div:first-child
{
    background-image: url('../images/pexels-photo-27843.jpg');
}
.portfolio .bottom div:nth-child(2)
{
     background-image: url('../images/pexels-photo-114988.jpeg');
}
.portfolio .bottom div:last-child
{
     background-image: url('../images/pexels-photo.jpg');
}
.portfolio .top div,
.portfolio .bottom div
{
    transition:all .5s ease-in-out
}
.portfolio .bottom div:hover,
.portfolio .top div:hover
{
    transform: scale(1.1)
}
.nav
{
    width:400px;
    height:51px;
    border:1px solid#ddd;
    border-radius: 4px;
    position: relative;
    left:300px;
    margin-top:30px;
    text-align: left;
}
.nav p
{
    display:inline-flex;
    margin:0px 2px 0px 14px;
    border-right:1px solid#ddd;
    border-left:1px solid#ddd;
    padding:13px;
    color:#000;
    cursor: pointer;
    height:50px;
}
.active
{
    background-color: #333;
    color:#fff !important
}
.next
{
    width:68px;
    height:45px;
}
.nav p:hover
{
    background-color:rgba(0,0,0,0.1)
}
.nav p:focus
{
    background-color:#333;
    color:#fff
}
/****************************************************************************************/
.portfolio .top div:first-of-type
{
    animation:change-img 20s ease-in-out infinite alternate-reverse;
}
.portfolio .top div:nth-of-type(2)
{
    animation:change-img-5 20s ease-in-out infinite alternate;
}
.portfolio .bottom div:first-of-type
{
    animation:change-img-2 20s ease-in-out infinite alternate;
}

.portfolio .bottom div:nth-of-type(2)
{
    animation:change-img-3 20s ease-in-out infinite alternate-reverse;
}
.portfolio .bottom div:last-of-type
{
    animation:change-img-4 20s ease-in-out infinite alternate;
}

@keyframes change-img
{
    0%{background-image:url('../images/cornflower-ladybug-siebenpunkt-blue-70335%20(2).jpeg');}
    20%{background-image:url('../images/portfolio/pexels-photo-26264%20(1).jpg'); }
    40%{background-image:url('../images/portfolio/pexels-photo-27043.jpg'); }
    60%{background-image:url('../images/pexels-photo-58899.jpeg'); }
    80%{background-image:url('../images/pexels-photo.jpg');}
    100%{background-image:url('../images/portfolio/pexels-photo-106399.jpeg'); }
}
@keyframes change-img-2
{
    0%{background-image:url('../images/portfolio/pexels-photo-106399.jpeg');}
    20%{background-image:url('../images/portfolio/pexels-photo-63884.jpeg');}
    40%{background-image:url('../images/pexels-photo-58899.jpeg'); }
    60%{background-image:url('../images/portfolio/pexels-photo-27043.jpg'); }
    80%{background-image:url('../images/portfolio/pexels-photo-31075.jpg');}
    100%{background-image:url('../images/portfolio/pexels-photo-105829.jpeg'); }
}
@keyframes change-img-3
{
    0%{background-image:url('../images/portfolio/pexels-photo-63884.jpeg');}
    20%{background-image:url('../images/pexels-photo-58899.jpeg');}
    40%{background-image:url('../images/pexels-photo-58899.jpeg'); }
    60%{background-image:url('../images/portfolio/pexels-photo-27043.jpg'); }
    80%{background-image:url('../images/portfolio/pexels-photo-106399.jpeg');}
    100%{background-image:url('../images/portfolio/pexels-photo-105829.jpeg'); }
}
@keyframes change-img-4
{
    0%{background-image:url('../images/portfolio/pexels-photo-106399.jpeg');}
    20%{background-image:url('../images/pexels-photo-114988.jpeg');}
    40%{background-image:url('../images/pexels-photo-58899.jpeg');}
    60%{background-image:url('../images/portfolio/pexels-photo-105829.jpeg');}
    80%{background-image:url('../images/portfolio/pexels-photo-27043.jpg');}
    100%{background-image:url('../images/portfolio/pexels-photo-105829.jpeg');}
}
@keyframes change-img-5
{
    0%{background-image:url('../images/pexels-photo-58899.jpeg');}
    20%{background-image:url('../images/portfolio/pexels-photo-31075.jpg');}
    40%{background-image:url('../images/portfolio/pexels-photo-27043.jpg'); }
    60%{background-image:url('../images/portfolio/pexels-photo-63884.jpeg'); }
    80%{background-image:url('../images/portfolio/pexels-photo-106399.jpeg');}
    100%{background-image:url('../images/portfolio/pexels-photo-105829.jpeg'); }
}

/*****************************************************************************************/
/*end portfolio*/
/*start features*/
.features
{
    width:100%;
    height:300px;
    background-color:#333;
    text-align: center;
    color: #fff;
}
.features .container div
{
    width:250px;
    height:250px;
    display: inline-block;
    text-align:center;
    margin:70px 35px;
}
.features .container div i
{
    transition: all .5s cubic-bezier(0.94, -0.38, 0.96, -0.41)
}
.features .container .firsti:hover
{
    text-shadow:0 0 15px#ff9900;
    transform:rotate(360deg);
}
.features .container .secondi:hover
{
    text-shadow:0 0 15px#ff9900;
    transform: translateX(60px) translateY(-50px);
    visibility: hidden;
}
.features .container .thirdi:hover
{
    text-shadow:0 0 15px#ff9900;
}
/*end features*/
/*start contact me*/
.contact
{
    height:400px;
    width:100%;
    margin-top:40px;
}
.contact .info,
.contact .form
{
    width:50%;
    height:400px;
    border:1px solid#ccc;
    float: left;
    padding:30px;
    border-right:0
}
.contact .info
{
    color:#444;
    border-left:0;
}
.contact .info i
{
    margin:5px;
}
.contact .info i[class="fa fa-linkedin-square fa-3x"]
{
    color:#0077b5
}
.contact .info i[class="fa fa-facebook-square fa-3x"]
{
    color:#3b5598
}
.contact .info i[class="fa fa-twitter-square fa-3x"]
{
    color:#55acee
}
.contact .info i[class="fa fa-google-plus-square fa-3x"]
{
    color:#dc4e41
}
.form h2
{
    color:#555
}
.contact .form input[type="text"],
.contact .form input[type="email"]
{
    display: block;
    margin:10px;
    width:200px;
    padding:7px;
    border-radius:10px;
    border: 1px solid#ccc;
    transition: all .5s cubic-bezier(0.94, -0.38, 0.96, -0.41);
}
.contact .form input[type="text"]:focus,
.contact .form input[type="email"]:focus
{
  width:300px;
}
.contact .form textarea
{
    display: block;
    margin:10px;
    padding:7px;
    width:300px;
    height:150px;
    border-radius:10px;
    border:1px solid#ccc;
    resize: none;
}
.contact .form input:focus
{
    outline: none
}
.contact .form textarea:focus
{
    outline: none
}
.contact .form input[type="submit"]
{
    width:300px;
    border-radius:10px;
    border:none;
    background-color:#333;
    padding:10px;
    margin-left:10px;
    color:#fff;
    cursor: pointer
}
/*end contact me*/
/*start footer*/
.footer
{
    text-align:center;
    color:#555
}
/*end footer*/
/*start media*/

/*end media*/