
body{
    padding-top: 50px;
}
img{
    max-width: 100%;

}

.navbar a{
    padding-right: 30px;
    padding-left: 30px;
    background: gray;
    color: white !important;
    transition: 0.3s ease-in-out;
}
.navbar a:hover{
    background: black;
}

#header{
    background: url('../img/logo.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}
#head-containt{
    color: black;
    padding-top: 10px;
    padding-left: 20px;
    background: white;
}
 
#about-us{
    background: white;
    padding-top: 20px;
}
#about-descr,
#food-descr{
    margin-top: 80px;
    margin-bottom: 20px;
    
    
}
#about-descr{
    margin-left: 40px;
}
#about-descr h1{
    text-align: center;
   margin-bottom: 20px;
    padding-bottom: 20px; 
}

#shiping h1{
    text-align: center;
    padding: 20px 0;
    background: #3e3eca;
    margin: 10px auto;
    color: white;
}
#shiping h3{
    padding: 10px 0;
    padding-left: 30px;
}

#shiping .container{
    background: transparent;
}

#food {
    background: #55e752;
    padding-top: 20px;
    margin-top: 20px;
}
#food-descr h2{
     margin-bottom: 20px;
    padding-bottom: 20px; 
}

#advert{
    background: url('../img/advert.jpg') center center no-repeat;
    background-size: cover;
   /* background-attachment: fixed; */
    max-width: 100%;
    height: 100vh;
}
#advert h1{
    text-align: center;
    color: white;
    padding-top: 15px;
}

#advert-cont{
     background: rgba(0,0,0,0.8);
    color: white;
    margin-top: 20px;
    margin-left:20px;
    padding: 60px 2px;
}
#advert-cont h5{
    margin-top: 10px;
}

#agri{
 margin: 20px auto;
}
#agri-desc h1{
    margin-top: 30px;
}
#agri-desc p{
    margin: 30px 0;
}

#tour-head{
    text-align: center;
    padding: 20px 0;
    margin: 20px 0;
    background: #3333ff;
    color: white;
}

#more{
    background: url('../img/more.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    
}

#more-about{
     background: rgba(0,0,0,0.8);
    color: white;
    margin-top: 110px;
    margin-left: 15px;
    border: 1px solid white;
    padding: 20px;
     box-shadow: 10px 10px 5px #888888;
    
}

#footer{
    background: #333333;
    color: aliceblue;
}

#social,
#copy{
    padding-top: 40px;
}
#cridet{
    opacity: 0.5;
    background: black;
    color: white;
}