body
{
	margin:0;
	background-image:url("cat.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: 100% 100%;
}
h1{
	
	font-size: 50px;
	color: white;
	left: 220px;
	position: absolute;
	top: 180px;
	font-family: League Spartan,Helvetica,Arial,sans-serif;
}
h2
{
	color: white;
	width: 170px;
	text-align: center;
	border: 5px solid gray;
	border-radius: 50px;
}
h2.gb
{
	color: white;
	width: 190px;
	text-align: center;
	border: 5px inset white;
	border-radius: 1px;
	top: 
}
h2.gb1
{
	color: white;
	width: 190px;
	text-align: center;
	border: 5px inset white;
	border-radius: 1px;
	top: 3000px;
}
em
{
	font-size: 20px;
	color: white;
	left: 220px;
	position: absolute;
	top: 290px;
}
div.about{
	
	overflow: auto;
	font-family: League Spartan,Helvetica,Arial,sans-serif;	
	left: 220px;
	position: absolute;
	top: 380px;
	letter-spacing: 3px;
	
	}
div#mask{
	
	border: 5px;
}
@-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
}
div.nickname
{
	font-weight: bold;
	font-size: 25px;
	top: 20px;
	left: 150px;
	float: right;
	position: absolute;
	font-family: "Knockout 50 A", "Knockout 50 B", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
}
div.menu
{
	top: 25px;
	left: 630px;
	float: right;
	position: absolute;
	color: white;
	font-family: League Spartan,Helvetica,Arial,sans-serif;
}
div.menu1
{
	top: 25px;
	left: 900px;
	float: right;
	position: absolute;
	color: white;
	font-family: League Spartan,Helvetica,Arial,sans-serif;
}
div.menu2
{
	top: 25px;
	left: 500px;
	float: right;
	position: absolute;
	color: white;
	font-family: League Spartan,Helvetica,Arial,sans-serif;
	}
div.menu3
{
	
	float:right;
	top: 25px;
	left: 1140px;
	position: absolute;
	color: white;
	font-family: League Spartan,Helvetica,Arial,sans-serif;
}

a:link.yeah, a:visited.yeah
{
	background-color: #f06449;
    color: black;
	font-weight: bold;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
}
a:link.home, a:visited.home
{
    color: white;
	font-weight: 400px;
	font-style: normal;
    text-decoration: none;
}
a:link.nick, a:visited.nick
{
    color: white;
	font-weight: 400px;
	font-style: normal;
    text-decoration: none;
}
a:hover.yeah, a:active.yeah {
    background-color: #f44242
}
a:hover.home, a:active.home {
    color: red;
}
a:hover.nick, a:active.nick {
    color: white;
}
div#wrapper
{
	background-image:url("wow.jpg");
	background-size: 100% 100%;	
	width: 1349px;
	height: 600px;
}
div#wrapper1
{
	z-index: 1;
	background-color: black;
	width: 1349px;
	height: 65px;
	position:fixed;
	
}
div.person
{
	left: 550px;
	position: absolute;
	top: 900px;
}

div.info
{
	background-color: black;
	font-size: 20px;
	border: 10px double white;
	width: 1000px;
	padding: 50px;
	padding-left: 1px;
	font-weight: bold;
	color: white;
	left: 130px;
	position: absolute;
	top: 970px;
	text-align: center;
}
div.info1
{
	background-color: black;
	font-size: 20px;
	border: 10px double white;
	width: 970px;
	padding: 50px;
	padding-left: 1px;
	font-weight: bold;
	color: white;
	left: 150px;
	position: absolute;
	top: 1650px;
	height: 400px;
	
}
div.info2
{
	background-color: black;
	font-size: 20px;
	border: 10px double white;
	width: 1247px;
	padding: 50px;
	padding-left: 30px;
	font-weight: bold;
	color: white;
	left: 1px;
	position: absolute;
	top: 2500px;
	height: 280px;
	text-align: justify;
}
div.info3
{
	background-color: black;
	font-size: 20px;
	border: 10px double white;
	width: 1247px;
	padding: 50px;
	padding-left: 30px;
	font-weight: bold;
	color: white;
	left: 1px;
	position: absolute;
	top: 2900px;
	height: 260px;
	text-align: justify;
}
div.info4
{
	background-color: black;
	font-size: 20px;
	border: 10px double white;
	border-radius: 50px;
	width: 1000px;
	padding: 50px;
	padding-left: 100px;
	font-weight: bold;
	color: white;
	left: 100px;
	position: absolute;
	top: 3700px;
	height: 630px;
	text-align: justify;
}
div.info5
{
	background-color:  #ff6666;
	font-size: 20px;
	width: 550px;
	padding: 50px;
	padding-left: 50px;
	font-weight: bold;
	color: #ffe6e6;
	left: 1px;
	position: absolute;
	top: 4600px;
	height: 105px;
	text-align: justify;
}
div.info6
{
	background-color:  #ff6666;
	font-size: 20px;
	width: 600px;
	padding: 50px;
	font-weight: bold;
	color: #ffe6e6;
	right: 0px;
	position: absolute;
	top: 4600px;
	height: 105px;
	
}
div.pi
{
	text-decoration: underline;
	text-transform: uppercase;
}
div.control
{
	text-align: justify;
	padding-left: 30px;
	
}
div.tl
{
	position: absolute;
	letter-spacing: 3px;
	left: 550px;
	position: absolute;
	top: 1550px;
	
}
div.tl1
{
	top: 1600px;
	position: absolute;
	left: 200px;
}
hr
{
	top: 1400px;
	position: absolute;
	left: 80px;
	
}
img.img
{
	position: absolute;
	left: 70px;
	
}
p.d
{
	position: absolute;
	top: 150px;
	left: 70px;
	text-transform: uppercase;
}
img.img1
{
	position: absolute;
	left: 320px;
}
p.c
{
	position: absolute;
	top: 150px;
	left: 330px;
	text-transform: uppercase;
}
img.img2
{
	position: absolute;
	left: 580px;
}
p.e
{
	position: absolute;
	top: 150px;
	left: 590px;
	text-transform: uppercase;
}
img.img3
{
	position: absolute;
	left: 850px;
}
p.s
{
	position: absolute;
	top: 150px;
	left: 840px;
	text-transform: uppercase;
}
img.img4
{
	position: absolute;
	left: 185px;
	top: 300px;
}
p.g
{
	position: absolute;
	top: 400px;
	left: 100px;
	text-transform: uppercase;
}
img.img5
{
	position: absolute;
	left: 455px;
	top: 300px;
}
p.r
{
	position: absolute;
	top: 400px;
	left: 470px;
	text-transform: uppercase;
	
}
img.img6
{
	position: absolute;
	left: 740px;
	top: 300px;
}
p.ct
{
	position: absolute;
	top: 400px;
	left: 765px;
	text-transform: uppercase;
}
hr.h1
{
	top: 2230px;
	position: absolute;
	left: 80px;
}
hr.h2
{
	top: 3350px;
	position: absolute;
	left: 3px;
}
hr.h3
{
	top: 4520px;
	position: absolute;
	left: 50px;
}
div.tl2
{
	position: absolute;
	letter-spacing: 3px;
	left: 550px;
	position: absolute;
	top: 2400px;
}
div.tl3
{
	position: absolute;
	letter-spacing: 3px;
	left: 550px;
	position: absolute;
	top: 3600px;
}
div.f
{
	text-decoration: underline;
	text-transform: uppercase;
	text-indent: 40px;
}
p.last
{
	text-indent: 50px;
}
div.ccontrol
{
	position: absolute;
	padding-left: 230px;
}



