/* Large Devices, Wide Screens Section */
@media only screen and (max-width : 1200px) {
    /* Awesome Services */
    section.awesomeservices div.awesomeservices-content div.awesomeservices-info h3{
        font-size: 17px;
    }
    section.awesomeservices div.awesomeservices-content div.awesomeservices-info p{
        font-size: 10px;
    }
    /*// Awesome Services Section */
    /* Our Talent Section */
    section.our-talent div.our-talent-grid p{
        font-size: 10px;
    }
    /*// Our Talent Section */
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    /* Header */
    .navbar-right~.navbar-right li a.mainlinks{
        font-size: 11px;
    }
    .navbar-form input[type="text"]{
        width: 76%;
    }
    /*// Header */
    /* Our Talent Section */
    section.our-talent div.our-talent-grid div.our-talent-img{
        width: 120px;
        height: 120px;
    }
    section.our-talent div.our-talent-grid div.our-talent-img img {
        width: 120px;
        height: 120px;
    }
    section.our-talent div.our-talent-grid h3{
        font-size: 18px;
    }
    section.our-talent div.our-talent-grid h5{
        font-size: 12px;
    }
    section.our-talent div.our-talent-grid p{
        font-size: 8px;
    }
    section.our-talent div.our-talent-grid div.team-links a {
        font-size: 12px;
        padding: 0px 5px;
    }
    /*// Our Talent Section */
    /* Our Customers Say */
    .owl-theme .owl-controls .owl-buttons div.owl-prev,
    .owl-theme .owl-controls .owl-buttons div.owl-next{
        top: 45%;
    }
    section.ourcustomers div.ourcustomers-slider div#owl-customers-say div.item p{
        font-size: 12px;
    }
    /* Footer */
    footer div.footer-top div.about h3,
    footer div.footer-top div.featured-blog h3,
    footer div.footer-top div.getnews h3{
        font-size: 20px;
    }
    footer div.footer-top div.about p{
        font-size: 10px;
    }
    footer div.footer-top div.featured-blog a.footer-blog div.blog-img{
        width: 25%;
    }
    footer div.footer-top div.featured-blog a.footer-blog div.blog-info{
        width: 75%;
    }
    footer div.footer-top div.featured-blog a.footer-blog div.blog-info h5{
        font-size: 10px;
    }
    footer div.footer-top div.featured-blog a.footer-blog div.blog-info p{
        font-size: 6px;
    }
    footer div.footer-top div.getnews p{
        font-size: 10px;
    }
    footer div.footer-top div.getnews button{
        font-size: 15px;
    }
    /*// Footer */
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    /* Header */
    .navbar-default .navbar-toggle,
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: #f8c34f;
        border-color: #f8c34f;
        border-radius: 0px;
        margin-top: 22px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-collapse{
        height: 300px;
        background: #fff;
        margin-top: 15px !important;
    }
    .navbar-form{
        border: none;
        margin: 0px;
        padding: 0px;
        height: 30px;
    }
    .navbar-form input[type="text"]{
        width: 95%;
    }
    .navbar-right~.navbar-right li ul.sublinks{
        position: static;
        padding-top:0px;
    }
    /*// Header */
    /* Our Talent Section */
    section.our-talent div.our-talent-grid div.our-talent-item{
        margin-bottom: 30px;
    }
    /*// Our Talent Section */
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    /* Page Section */
    section.page div.page-name h3{
        font-size: 20px;
    }
    section.page div.page-name h5{
        font-size: 12px;
    }
    /*// Page Section */
    /* Welcome Trendy Section */
    section.welcome-trendy h2{
        font-size: 24px;
    }
    section.welcome-trendy p{
        font-size: 10px;
    }
    /*// Welcome Trendy Section */
    /* Our Awesome Services */
    section.awesome-services h3{
        font-size: 20px;
    }
    section.awesome-services div.awesome-grid p{
        font-size: 12px;
    }
    /*// Our Awesome Services */
}