
body
{
   background-color:white-space;  
}
p
{
	color:blue;
	font-size:large;
	font-family:'calibri';
}

.p_style
{
	color:blue;
	font-size:large;
	font-family:'calibri';
}

#objective
{
	color:brown;
	border:4px solid brown

}

#objective:first-letter
{
	font-size:70pt;
	color:maroon;
	text-decoration:underline;
	font-style:italic;
}

#education
{
	color:brown;
	border:3px solid brown
}

#education:first-letter
{
	font-size:70pt;
	color:maroon;
	text-decoration:underline;
	font-style:italic;
}

#experince
{
	color:brown;
	border:3px solid brown
}

#experince:first-letter
{
	font-size:70pt;
	color:maroon;
	text-decoration:underline;
	font-style:italic;
}

#technicalskills
{
	color:brown;
	border:1px solid brown
}

#technicalskills:first-letter
{
	font-size:70pt;
	color:maroon;
	text-decoration:underline;
	font-style:italic;
}

#computerskills
{
	color:brown;
	border:1px solid brown
}

#computerskills:first-letter
{
	font-size:70pt;
	color:maroon;
	text-decoration:underline;
	font-style:italic;
}

#personalinformation
{
	color:brown;
	border:1px solid brown
}
#personalinformation:first-letter
{
	font-size:70pt;
	color:maroon;
	text-decoration:underline;
	font-style:italic;
}
a:link
{
	color:blue;
	text-decoration:none;
}
a:hover
{
	color:orange;
	text-decoration:underline;
}
a:active
{
	color:yellow;
}
a:visited
{
	color:green
}