/* Start Main Rulez */

* {
    box-sizing: border-box;
    margin: 0;
}

.container {width:1170px;margin: auto}

a {
    text-decoration: none;
    color: #FFFFFF
}

/* End Main Rulez */  

/* Start Header */
nav {
    background-color: #1F2C33;
    color: #FFFFFF;
    overflow: hidden;
}


nav h1 {
    float: left;
    width: 30%;
    padding: 10px;
    font-size: 50px;
    font-family: sans-serif;
}

nav ul {
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: left;
    width: 40%;
    padding: 10px;
    margin-top: 12px;
    font-size: 15px;
    font-family: cursive
    
}

.social ul {
    padding-left: 0;
    overflow: hidden;
    float: right;
    display: inline-block;
    width: 30%;
    padding: 5px
    
}

.social ul li {
    padding: 3px;
    margin-top: 10px
}

ul li {
    float: left;
    padding: 10px;
}

nav ul li a {
    transition: all .25s ease-in-out
}

nav ul li a:hover {
    color: #AF2E2B
}

/* Start Slider */

header .slider {
    background-image: url('../imags/542508.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
}
header .slider .intro {
    padding-top: 200px
}

header .slider .intro h1,p {
    text-align: center;
    color: #EEE;
    padding: 15px;
    font-family: cursive;
    text-shadow: 2px 5px 3px #333333
}


/*End Slider

/* End Header */

/* Start Services */

article {
    background-color: #EBEBEB;
    height: 1000px;
    padding: 50px;
}

article .container {
    background-color: #FFF;
    height: 600px;
    border: 1px solid #FFFFFF;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 5px 5px 5px ##242F3A;
}

section h1,p {
    text-align: center;
    padding-top: 50px
}

section h1 {
    color: #ED4F2E;
    font-family: sans-serif;
    font-size: 30px
}

section p {
    text-shadow: none;
    color: #3C3930;
    padding-top: 20px
}


.main .services {
    width: 33.33333%;height: 150px;float: right;
}

.main .services img {
  transform: translate(170px,70px)
}

.main .services h2 {
    text-align: center;
    font-family: cursive;
    color: #242F3A;
    padding-top: 70px
}

.main .services p {
    text-shadow: none;
    color: #3C3930;
    padding-top: 2px;
}

/* End Services */

/* Start Simple Pricing */

.article {
    background-color: #EBEBEB;
    height: 350px;
    padding: 50px;
}

.article .container {
    background-color: #FFF;
    height: 600px;
    border: 1px solid #FFFFFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 5px 5px 5px ##242F3A;
    margin-top: -350px
}

.pricing section {
    float: left;
    width: 15%;
    margin-left: 110px;
    margin-top: 20px;
    border: 1px solid #EBEBEB;
    transform: translateX(-42px)
}

.pricing section:hover {
    border: 1px solid #ED4F2E
}

.pricing section h1 {
    background-color: #EBEBEB;
    color: #010101;
    padding: 10px;
    font-family: cursive
}

.pricing section h2,h3 {
    text-align: center;
    padding: 5px
}

.pricing section h3 {
    color: #c9c3c3;
    font-family: sans-serif
}

.pricing section p {
    padding: 8px;
    font-size: 14px;
    color: #919191
}

.pricing section p span {
    color: #010101
}

.pricing section button {
    background-color: #ED4F2E;
    color: #ffffff;
    padding: 15px 25px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ED4F2E;
    border-radius: 5px;
    transition: all .5s ease-in-out
}

.pricing section button:hover {
    cursor: pointer;
    background-color: black;
    color: #EEE;
    border: 1px solid black
}

/* End Simple Pricing */

/* Start photo intro */

.photo {
    background-image: url('../imags/the%20witch.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
}

.photo h2 {
    text-align: center;
    color: #EEE;
    padding-top: 150px;
    font-size: 30px;
    font-family: monospace;
    text-shadow: 1px 2px 3px black
}

.photo h2 span {
    font-size: 40px
}

.photo button {
    background: none;
    color: #fff;
    margin-top: 35px;
    margin-left: 625px;
    font-size: 15px;
    font-family: cursive;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 30px;
    text-align: center;
    transition: all .3s ease-in-out
}

.photo button:hover {
    background-color: #ED4F2E;
    border: 1px solid #ED4F2E;
    cursor: pointer
}

/* End photo intro */

/* Start Latest Projects */

.protofolio {
    background-color: #EBEBEB;
    height: 1100px;
    padding: 50px;
}

.protofolio .container {
    background-color: #FFF;
    height: 1000px;
    border: 1px solid #FFFFFF;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 5px 5px 5px ##242F3A;
}

.protofolio .container h1,p {
    text-align: center;
    padding-top: 50px
}

.protofolio .container h1 {
    color: #ED4F2E;
    font-family: sans-serif;
    font-size: 30px
}

.protofolio .container p {
    text-shadow: none;
    color: #3C3930;
    padding-top: 20px
}

.protofolio .container .our-projects {
    overflow: hidden
    
}

.protofolio .our-projects > div {float: left;width: 33.333333%;margin-bottom: 10px}

.protofolio .our-projects > div img {
    width: 92%;
    margin: 15px;
    padding: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 6px #ccc;
    transition: all .25s ease-in-out
}

.protofolio .our-projects > div img:hover {
    transform: scale(1.02,1.01)
}


/* End Latest Projects */

/* Start Features */

.features .imag-1 {
    float: left;
    width: 50%;
    height: 500px
}

.features .imag-2 {
    float: left;
    width: 50%;
    height: 500px
}

.features .imag-1 {
    background-image: url(../imags/Triss.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.features .imag-1 h2 {
    text-align: center;
    color: #EEE;
    padding-top: 100px;
    font-size: 35px
    
}

.features .imag-1 p {
    text-align: center;
    color: #EEE;
    padding-top: 30px;
    text-shadow: none;
    font-size: 20px
}

.features .imag-1 img {
    border-radius: 50%;
    margin-left: 260px;
    margin-top: 50px
}

.features .imag-2 {
    background-image: url(../imags/geralt.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.features .imag-2 h2 {
    text-align: center;
    color: #EEE;
    padding-top: 100px;
    font-size: 35px
    
}

.features .imag-2 input {
    border: 1px solid #EEE;
    padding: 15px 150px;
    margin-top: 40px;
    margin-left: 100px;
    background: none;
    border-radius: 5px;
    display: block
}

.features .imag-2 button {
    margin-left: 260px;
    margin-top: 40px;
    padding: 10px 50px;
    border-radius: 5px;
    background-color: #ED4F2E;
    border: 1px solid #ED4F2E;
    color: #EEE;
    font-size: 18px;
    transition: all .5s ease-in-out
    
}

.features .imag-2 button:hover {
    background-color: #3C3930;
    border: 1px solid #3C3930;
    cursor: pointer
}

/* End Features */

/* Start Contact Us */

.contact {
    background-color: #EBEBEB;
    height: 1000px;
    padding: 50px;
    overflow: hidden
}

.contact .container {
    background-color: #FFF;
    height: 900px;
    border: 1px solid #FFFFFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 5px 5px 5px ##242F3A;
    margin-top: 5px
}

.contact .container h2 {
    color: #ED4F2E;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: -25px
    
}

.contact .container p {
    text-shadow: none;
    color: #3C3930;
    margin-bottom: 60px

}

.contact .container form {
    width: 100%
}

.contact .container form input {
    margin-left: 50px;
    margin-bottom: 50px;
    padding: 20px 160px;
    float: left;
    border-radius: 5px
}

.contact .container form textarea {
    margin-left: 50px;
    padding: 140px 440px;
    border-radius: 5px;
    display: block
}

.contact .container form button {
    margin-left: 555px;
    margin-top: 20px;
    background-color: #ED4F2E;
    border: 1px solid #ED4F2E;
    color: #EEE;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding: 15px 40px;
    border-radius: 5px;
    transition: all .5s ease-in-out
    
}

.contact .container form button:hover {
    background-color: #3C3930;
    border: 1px solid #3C3930;
    cursor: pointer
}

/* End Contact US */

/* Start Footer */

footer {
    background-color: #283645;
    color: #EEE;
    text-align: center;
    height: 55px;
    padding: 20px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px

}


/* End Footer */













































