body{
    //height: 4000px;
   // background-color: #F78536;
    margin: 0px;
    padding: 0px;
    font-family: Cairo;
    
}
.container{
    width:1170px;
    margin: auto;
    
}
/* Start Fonts */
@font-face
{
    font-family:Cairo;
    src: url(../Fonts/Cairo-Regular.ttf);
}
@font-face
{
    font-family:cairo_B;
    src: url(../Fonts/Cairo-Bold.ttf);
}
@font-face
{
    font-family:Acme;
    src: url(../Fonts/Acme-Regular.ttf);
}

/* End Fonts */

/* Start header */

.header{/*#2B4450*/
    background-color:#1a1a1a;
    color: #fff;
    overflow: hidden;
    height: 40px;
}

.header ul{
    list-style: none;
    padding-left: 0px;
    overflow: hidden;
    float: right;
    margin: auto;
}
    
#s{
    list-style: none;
    padding-left: 0px;
    overflow: hidden;
    float: left;
    //margin-top: 5px;
}
#i a{
    color: #a6a6a6;
    float: right;
}
#i a:hover{
    color: #FFF;
}

.header ul li{
    overflow: hidden;
    float: right;
    margin: 5px; 
}
/* End header */ 

/* Starrt navbar */
.Navbar{
    height: 110px;
    background-color:#FFF; 
}

.Navbar ul{
    margin: 30px;
    list-style: none;
    padding-left: 0px;
    overflow: hidden;
    float: left;
    font-family: cairo_B;
    font-size: 17px;

}

.Navbar ul li{
    overflow: hidden;
    float: right;
    margin:7px;
    color: black;
    //font-weight:bolder;
    //padding: 5px;

    
    
}
#ch {
     padding-left: 15px;
     padding-right: 15px;
    
}
#ch:hover {
    color:#FFF;
    background-color: #20b2e7;
    //text-shadow: 1px 1px 10px #333;
    border-radius: 50px;
    
}
#ch:active {
    color:#FFF;
    background-color: #f7922d;
    text-shadow: 1px 1px 10px #FFF;
    border-radius: 50px;
    
}
#l{
    float: right;
    margin: 20px;
}
/* End navbar */ 
.slider{
    //background-color:blue;
    //background-image:url(../pic/3Qjrcp3.jpg);
    height: 530px;
}


.slider img{
    width:100%;
    //height: 530px;
}
/*Start about me */
.about_me{
    height: 300px;
    display: block;
    text-align: left;
    background-color: #f2f2f2;
    overflow: hidden;
    color: #2B4450;
    font-family: Cairo;

}
#im{
    float: left;
    height: 250px;
    width: 250ps;
    //margin: 25px;
    //margin-left: 200px;
    margin-right: 50px;
}
#Layer_1{
    height: 200px;
    width: 200px;
    display: block;
}
/*End about me */

/* start L_schedual */
.L_schedual{
    background-color: #fff;
    height: 380px;
    //padding: 50px;
    text-align: center;
    font-family: Cairo;
    overflow: hidden;
    color: #2B4450;
}
#table{
    width:100%;
    border-collapse: collapse;
    //width: auto;
    //width: 1170px;
    font-family:Cairo;
}
th,td{
    // border: 2px solid #111;
    //border-bottom-left-radius: 0px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    
}
#t th{
    background-color:#F78536;
    color:white;
}
tr:nth-child(even){background-color: #f2f2f2}
tr:hover{background-color:  #20b2e7;color: white;}
/* End L_schedual */

/* Start interests */ 
.Int{
    font-family: Cairo;
    background-color:#f2f2f2;
    height: 380px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    color: #2B4450;
    
}
.Int .IN{
    font-family: Acme;
    color: #2B4450;
    width: 370px;
    float: left;
    text-align:center;
    background-color:#f8f8f8;
    margin:10px;
    height: 200px;
    //box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #fff;
}
a:hover .IN {
    box-sizing: border-box;
    border: 1px solid #F78536;
}
.Int svg{
    margin:10px;
    width: 100px;
    height: 100px;
    fill: #2B4450;
}
.Int a:hover svg{
    fill:#20b2e7; 
}
.Int a:hover h2{
    color: #F78536;
}

/* End interests */ 

/* Start Forms */
#F{
    font-family: Cairo;
}
.Forms{
    height: 280px;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    font-family:Cairo_B;
    color: #2B4450;
    font-size: 20px;
}
.Forms ul{
    list-style: none;
    overflow: hidden;
    margin-top: 50px;
}
.Forms ul li{
    text-align: center;
    float: right;
    overflow: hidden;
    margin-left:  100px;
    margin-right: 100px;
    padding-right: 50px;
    padding-left: 50px;
    border: 2px solid #2B4450;
    border-radius: 25px;
    color: #2B4450;
}
.Forms ul li:hover{
    color: #FFF;
    background-color:#20b2e7;
    border-color: #2B4450;
}
/* End Forms */ 

/*Start footer */ 
.logo{
    height: 300px;
    background-color: #333333;
    text-align: center;
    overflow: hidden;
}
.logo ul{
    margin-right: 250px;
    list-style: none;
    overflow: hidden;
    margin-bottom: 50px;
}
.logo ul li {
    margin: 40px;
    float: right;
    overflow: hidden;
    //border: 2px solid #2B4450;
    //border-radius: 25px;
    color: #fff;
    margin-left: 45px;
    margin-right:45px;
    font-family: Cairo_B;
}
.logo ul li:hover {
    color: #20b2e7;
}
.logo img{
    margin: 20px;
}
.FOO{
    height: 40px;
    background-color: #1a1a1a;
    overflow: hidden;
    color: #a6a6a6;
    
}
#q{
    margin: 5px;
    float: left;
}
#w{
    margin: 5px;
    float: right;
}

/* End footer */