@media(max-width:1199px){
    .header-sec .header-post{
        text-align:center;
    }
    .header-sec .header-post h4,.header-sec .header-post p,.header-sec .header-post .header-button a{
        margin-right:0px;
    }
    .header-sec .header-post .header-button a{
        margin-bottom:70px;
    }
    .header-sec .header-img img{
        margin-bottom:60px;
    }
    .header-sec .header-nav-menus ul > li,.header-sec .header-nav-logo a{
        margin-bottom:130px;
    }
}
@media(max-width:991px){
    .feature-sec .feature-post,.feature-sec-2 .feature-post,.feature-sec-3 .feature-post,.feature-sec-4 .feature-post,.feature-sec-5 .feature-post{
        text-align:center;
    }
    .feature-sec .feature-img img,.feature-sec-2 .feature-img img,.feature-sec-3 .feature-img img,.feature-sec-4 .feature-img img,.feature-sec-5 .feature-img img{
        margin-top:80px;
        margin-bottom:60px;
    }
    .feature-sec .feature-post h4{
        margin-top:0px;
    }
    .feature-sec-2 .feature-post h4{
        margin-top:0px;
    }
    .feature-sec-3 .feature-post h4{
        margin-top:0px;
    }
    .feature-sec-5 .feature-post p{
        margin-top:0px;
        margin-bottom:90px;
    }
}
@media(max-width:767px){
    .header-sec .header-nav-logo{
        text-align:center;
    }
    .header-sec .header-nav-logo a{
        margin-right:0px;
        margin-top: 60px;
        margin-bottom: 70px;
    }
    .header-sec .header-nav-menus ul > li{
        margin-top:0px;
        margin-bottom:80px;
    }
    .header-sec .header-nav-logo a i{
        margin-left:45px;
    }
    .comment-sec .inputs{
        padding-right:15px !important;
        padding-left:15px !important;
    }
}
@media(max-width:420px){
    .header-sec .header-post h4{
        font-size:50px;
    }
    .header-sec .header-post p{
        font-size:20px;
    }
}
@media(max-width:380px){
    .header-sec .header-nav-menus ul > li > a{
        font-size:14px;
        padding:7px 10px;
    }
}
@media(max-width:350px){
    .header-sec .header-nav-menus ul > li > a{
        font-size:12px;
    }
    .header-sec .header-nav-menus ul > li:first-of-type > a:after,.header-sec .header-nav-menus ul > li > a:after{
        right:14px;
    }
}
@media(max-width:320px){
    .header-sec .header-nav-menus ul > li > a{
        padding:6px 8px;
    }
    .header-sec .header-post p{
        font-size:18px;
    }
}