body{
    font-family: 'Cairo', sans-serif;

}

.a1{
    background-color: #3079d5;
    height: 250px;
    padding: 20px;
}
.a2{
    background-color: #eb49b0;
    height: 250px;
    padding: 20px;
}
.a3{
    background-color: #ffb900;
    height: 250px;
    padding: 20px;
}
.a4{
    background-color: #10c35b;
    height: 250px;
    padding: 20px;
}

.a5{
    background-color: #48a7d5;
    height: 150px;
    padding: 20px;
}
.a6{
    background-color: #eab831;
    height: 150px;
    padding: 20px;
}
.a7{
    background-color: #d94da6;
    height: 150px;
    padding: 20px;
}
.a8{
    background-color: #3079d5;
    height: 150px;
    padding: 20px;
}
.a9{
    background-color: #10c35b;
    height: 150px;
    padding: 20px;
}
.a10{
    background-color: #48a7d5;
    height: 150px;
    padding: 20px;
}

.title{margin: 50px;}
.course{border: 1px solid #9c9c9c; margin: 20px 0px;    padding: 0px !important; text-align: center;}
.course1{ margin: 20px 0px; padding: 0px !important; }
.course1 h4{ font-weight: bold;  width: 85%; margin:  20px 0px;  color: #3079d5;}
.course1 p{ font-weight: bold;  width: 85%; margin: 20px 0px;  }
.course1 srtong { font-weight: bold;  border-top: 2px solid #fdc735; }
.course1 a{ text-decoration: none; color: #3079d5 ;font-size: 16px; }

.course1 span{     padding: 5px 10px;font-size: 16px;
    font-weight: bold;
    margin: 0px 2px;
    float: left;
    border: 2px solid #fdc735;}

.course h4{ font-weight: bold;     margin: 20px;  color: #3079d5;}
.course p {margin: 0px 0px 30px 0px;}
.course a{ font-weight: bold; padding: 10px 25px ;   background: #3079d5; border-radius: 4px;  color: #fff; text-decoration: none;}
.course a:hover {   background: #eb49b0;   }
.first{margin-right: 0px;}
.first{margin-right: 0px;}

img{width: 100%;}
.navbar-custom{background: none;  font-size: 28px;}
.navbar-custom a {color: #fff;}
.custom>li>a:hover{color: #fdc735; text-decoration: overline;}

.navbar{border-radius: 0px;}
.section{ margin-top: -20px;
    height: 760px;
    background-image:url(../image/student.jpg);
    background-size: cover;
    background-position: center;
}
.Achieve{
     background-image:url(../image/BlackBack.jpg); margin:30px 0px; min-height: 600px ; padding:10px 0px;
}
.last {background-image:url(../image/BlackBack.jpg); margin:60px 0px 0px 0px; min-height: 500px; text-align: center; color: #fff;}
.last i{font-size: 60px;}
.log{background: #eab831; min-height: 500px; text-align: center; padding: 10px 0px;}
.logbox{background: #fff; color: #000; text-align: center; padding: 20px; margin: 40px;}
.logbox input{margin: 20px 0px;}
.logtext{margin: 100px 0px;}
.logtext h1{color: #fff; font-size: 40px; font-weight: bold;}
.logtext span{color: #000; }
.Achieve i{font-size: 100px; color: #fdc735; }
.Achieve h5{font-size: 70px; color: #fff; }
.Achieve h3{font-size: 25px; color: #fdc735; }
.Achieve h1{font-size: 20px; color: #fff; }
.Achieve h2{ color: #fff; }
.headertexr{margin: 150px 0px;; font-size: 55px; font-weight: bold;}

footer{
    min-height: 510px;
    background-color: antiquewhite;
   padding-bottom: 10px;
    background-image: url(../image/BlackBack.jpg);
        color: #fff;
}
footer .container{
     padding: 40px 0px ;
}
.footer-icon{margin-top: 100px;
font-size: 24px
}

.footer-icon a{
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: #eab831;
    color: #fff;
    border-radius: 50%;
    
    
}

footer h2{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 30px;
    
}
.abstract p{
    text-align: justify;
    margin-bottom: 30px;
}
.abstract a{
    border: 3px solid #fff;
    padding: 5px 30px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
footer p{
   line-height: 34px;
    font-size: 16px; 
}

.contact i{
    margin-left: 10px;
    font-size: 24px;
}

.last > .col-md-2 ,.col-sm-4 ,.col-xs-6 {
    margin-bottom: 20px;
}