@import url("../fonts/font.css");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-size: 17px;
    font-family: 'GESSTwoMedium-Medium', sans-serif ;
    overflow-x: hidden;
}
a,
input,
button,
span,
textarea,
i,
div{
    transition: all 0.4s ease
}

ul{list-style: none}
li{display: inline-block}
i {
    font-size: 15px !important;
    margin-left: 13px;
}

/* header */
.top_header{
    line-height:60px;
    background: #092d36;
    color: #fff;
    
}
.top_header .date{
    text-align: right;
}
.top_header .social{
    text-align: left
}
.top_header .social ul li{
    margin-right: 10px;
}
.social ul li a{color: #fff;padding: 10px}
.social ul li i[class~=fa-facebook]:hover{color: #3b5998}
.social ul li i[class~=fa-twitter]:hover{color: #55acee}
.social ul li i[class~=fa-youtube]:hover{color: #cd201f}
.social ul li i[class~=fa-instagram]:hover{color: #3f729b}

.center_header{
    border-bottom: 1px solid #e6e8e8;
    padding: 20px 0;
}
.center_header i{
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #e9e9e9;
    font-size: 21px !important;
    color: #879092;
    display: inline-block;
    margin-top: 20px;
}
.center_header .phone:hover i,
.center_header .address:hover i,
.center_header .email:hover i{ 
    background: #0597bb;
    color: #fff
}
.center_header .logo{}
.center_header span{
    display: inline-block;
    position: relative
}

.center_header span:first-of-type{
    display: inline-block;
    top: -15px
}
.center_header span:nth-of-type(2){
    bottom: 25px;
    right: 70px;
    font-size: 12px;
    direction: ltr;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px
}

nav{
    line-height: 90px;
}
nav ul{
    display: inline-block;
    float: right
}
nav li{
    margin-left: 35px;
}
nav li a{
    color: #1b2d31
}
nav li a:hover{
    text-decoration: none;
    color: #888
    
        
}


nav i[class~=fa-search]{
    padding: 0 20px;
    font-size: 20px;
    color: #b3d7e0;
    cursor: pointer;
    float: left;
    line-height: 100px;
    text-align:left 
}
nav i[class~=fa-search]:hover{
    color: #426d78
}
.search_box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #55acee;
    height: 315px;
    display: none
}
.search_box form{
    padding: 100px;
}
.search_box input{
    width: 80%;
    border: 0;
    background: #e8f4fd;
    padding: 10px;
}
.search_box button{
    width: 10%;
    border: 0;
    outline: 0;
    background: #e8f4fd;
    text-align: center;
}
.search_box button i{
    padding: 0;
    margin: 0;
    font-size: 20px !important;
    color: #888
}
.search_box input ,
.search_box button{
    height: 100px;
}
.close_search{
    font-size: 30px !important;
    color: dimgrey;
    cursor: pointer;
}
.close_search:hover{
    color: brown
}
/* end header */

/* start main */

.main{
    height: 600px;
    overflow: hidden;
    background: 
        url("../img/man_main.png") no-repeat, linear-gradient(to top, rgba(3,38,47,0.9), rgba(3,38,47,0.9)) ,
        url("../img/main_background.png") no-repeat;
    background-size: 300px , cover , cover;
    background-position: right 150px , right ,right;
    padding-top: 180px ;
}
.main_text{
    text-align: center;
    color: #fff
}
.main_text h1{
    margin-bottom: 25px
}
.main_text p{
    width: 90%;
    margin: auto;
    line-height: 35px;
    font-size: 20px
}
.main_text a{
    display: inline-block;
    margin: 25px 10px 0;
    border: 2px solid #fff;
    width: 165px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    border-radius: 10px;
    text-decoration: none
}
.main_text a:hover{
    color: #192c31;
    background: #fff
}
.main_text a:first-of-type{
    color: #192c31;
    background: #fff
}
.main_text a:first-of-type:hover{
    color: #fff;
    background: #000;
}
/* End main */

/* start icon tab */
.service_tab{
    background: #033744;
    color: #fff;
    box-shadow: inset 0px -2px 30px 0px rgba(0,0,0,0.1);
    padding-top: 10px
}
.service_tab .tab{
    padding-top: 10px;
    height: 95px;
    margin-top: -10px
}
.service_tab .active_tab{
    background: #0597bb;
    height: 140px;
    margin-top: -40px
}
.service_tab .tab img{
    float: right;
    padding: 20px;
}
.service_tab .tab span:first-of-type{
    display: block;
    margin: 10px 0
}

/* service */
.service{
    padding: 60px 0;
}
.service_header{
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 25px;
    position: relative;
}
.service_header:after{
    content: "";
    position: absolute;
    width: 20%;
    background: #e3e5e6;
    height: 3px;
    left: 40%;
    bottom: 0;
    z-index: 1
}
.service_header:before{
    content: "";
    position: absolute;
    width: 5%;
    background: #0597bb;
    height: 3px;
    left:48.3%;
    bottom: 0px;
    z-index: 2
}
.service_header .h1 span{
    color: #0597bb
}
.service_header span{
    color: #787878;

}
.service .serv{
    margin-bottom: 50px;
}

.service .serv:hover i{
    color: #0597bb
}
.service .serv i{
    font-size: 40px !important;
    color: #a2e7f8;
    padding: 10px;
    padding-top: 30px;
}
.service .serv{
    overflow: hidden;
}

.service .serv span:first-of-type{
    display: inline-block;
    color: #3b3d3d;
    position: relative;
    top: -18px;
}
.service .serv span:nth-of-type(2){
    position: relative;
    color: #787878;
    display: inline-block;
    right: 75px;
    top: -18px;
    overflow: hidden;
    font-size: 16px;
    width: 70%;
}
/* service */

/* small_serv */
.small_serv{
    padding: 60px;
    background: 
        url("../img/member2.png") no-repeat, linear-gradient(to top, rgba(3,38,47,0.9), rgba(3,38,47,0.9)) ,
        url("../img/member.png") no-repeat;
    background-size: 250px , cover , cover;
    background-position: 90px 100px , right ,right;
    color: #fff
}
.small_serv .small_serv_tab{
    margin-top: 70px;
}
.small_serv .small_serv_tab i{
    font-size: 56px !important;
}
.small_serv .small_serv_tab h6{
    font-size: 21px;
    padding: 20px 0
}
.small_serv .small_serv_tab span{
    font-size: 16px;
    line-height: 34px
}
.small_serv .service_header:after{
    background: #144e5c;
}
.small_serv .service_header:before{
    background: #0597bb;
}

/* customer */ 
.customer{
    padding: 60px 0;
    direction: ltr;
}
#owl-demo{
    margin-top: 50px;
}
#owl-demo .item{
    background: #fff;
    border: 2px solid #e3e5e6;
    padding: 30px 0px;
    margin: 5px;
    color: #FFF;
    text-align: center;
    padding: 20px
}
.customer_tab_header{
    color: #000;
    text-align: right;
    padding-right: 15px;
    border-right: 3px solid #0597bb;
    font-size: 19px;
    direction: rtl;
}
.customer_tab_header:after{
    content: "\f10d";
    position: absolute;
    font: normal 46px FontAwesome;
    color: #e3e5e6;
    left: 25px;
    top: 25px;
    z-index: 1;
    opacity: 0.5
}
.customer_tab_header b{
    display: block;
    z-index: 2
}
.customer_tab_header span{
    color: #787878;
    font-size: 15px;
    z-index: 3
}
.item p{
    color: #787878;
    font-size: 16px;
    margin-top: 20px;
    text-align: right;
    direction: rtl;
    padding: 0 20px;
    z-index: 4
}

/* blog */
.blog{
    padding: 80px 0;
    background: url("../img/blog_background.png") no-repeat;
    background-size: cover;
    color: #fff
}
.blog_tab{
    margin-top: 70px;
    padding: 10px 0;
    overflow: hidden;
    margin-bottom: 20px;
}
.blog_tab img{
    width: 165px;
    height: 104px;
    float: right;
    border: 3px solid #f9f9f9;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    display: inline-block
}
.blog .service_header:after{
    background: #495f64;
}
.blog_tab p{
    font-size: 15px;
    margin-top: 15px
}
.blog_tab p a{
    color: #fff
}
.blog_tab i{
    font-size: 13px;
}
.blog_tab span{
    margin-right: -10px;
    font-size: 13px;
}
.blog_tab:hover img:after{
    
}
/* brand */
.brand{
    direction: ltr;
    padding: 60px 0;
}
#owl-brand .item_brand{
  margin: 3px;
    
}
#owl-brand .item_brand img{
  display: block;
  width: 100px;
  height: auto;
    margin: auto;
}

/* footer */
footer{
    background: #092d36;
    padding: 60px 0;
}
footer .social{margin-bottom: 50px;}
footer .footer_header{
    color: #fff;
    font-size: 18px;
}
footer p{
    color: #6b6c6c;
    font-size: 12px;
    margin: 33px 0;
    line-height: 30px;
}
footer .links ul{
    margin: 20px 0;
    float: right;
    margin-left: 50px;
    font-size: 12px;
    margin-bottom: 30px;
    
}
footer .links ul li{
    display: block;
    line-height: 50px;
}
footer .links ul li a{
    color: #6b6c6c
}
footer .links ul li a:hover{color: #fff;text-decoration: none}
footer .contact_us form{
    margin-top: 38px;
}
footer .contact_us form input,
footer .contact_us form textarea{
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255,0.5);
  background: transparent;
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    outline: 0;
    font-size: 12px;
}
footer .contact_us form textarea{
    height: 150px;
    overflow: auto
}
footer .contact_us form button{
    background: #0597bb;
    border: 0;
    padding: 10px 35px;
    margin-top: 10px;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
}
footer .contact_us form button:hover{
    background: #004151
}

 .up{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    left: 30px;
     border-radius: 50%;
     line-height: 50px;
    color: #fff;
    background: #0597bb;
    cursor: pointer;
    display: none;
    text-align: center;     
}
.up i{
    padding: 0;
    margin: 0;
}
.up:hover{
    background: #444;
}
/* copy right */
.copyright{
    background: #051d23;
    color: #fff;
    font-size: 16px;
    padding: 20px;
}
.copyright span{
    font-size: 12px;
}
.menu{
    text-align: center;
    display: block;
    font-size: 40px !important;
    color: #051d23 !important;
    cursor: pointer;
    padding: 20px 0
}
@media screen and (max-width:1000px) {
    .main{
        height: 600px;
    }
    .top_header .date{
        display: inline-block;
        float: right
    }
    .top_header .social{
        float: left;
        display: inline-block;
    }
    .center_header .logo{
        text-align: center;
    }
}
@media screen and (max-width:990px){
    .center_header{
        border: 0
    }
    header nav {
        border: 0;
        display: none
    }
    header nav ul{
        width: 100%;
        display: block;
        margin: auto;
        padding: 0;
        margin: 0
    }
    header nav ul li{
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
        overflow: hidden
    }
    header nav ul li a{
        padding: 50px
    }
    header nav ul li:nth-of-type(odd){
        background: #f1f1f1
    }
    header nav {}
    footer .links ul{
        float: none
    }
    
    .blog_tab{
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .small_serv{
        background: 
            url("../img/member2.png") no-repeat, linear-gradient(to top, rgba(3,38,47,0.9), rgba(3,38,47,0.9)) ,
            url("../img/member.png") no-repeat;
        background-size: 250px , cover , cover;
        background-position: -100px bottom , right ,right;
    }
    .service_tab .tab{
        padding-top: 10px;
        height: 95px;
        margin-top: 0px;
        height: auto;
        padding: 10px;
    }
    .service_tab .active_tab{
        background: #0597bb;
        height: auto;
        margin-top: 0px;
        padding: 10px;
    }
    .service_tab .tab img{
        float: right;
        padding: 0px;
    }
    .service_tab .tab span:first-of-type,
    .service_tab .tab span:nth-of-type(2){
        display: block;
        margin: 10px auto;
        width: 50%;
    }
    .service .serv i {
    display: block;
    text-align: center;
}
    .service .serv span:first-of-type{
    display: inline-block;
    color: #3b3d3d;
    top: 0px;
    display: block;
    text-align: center
}
.service .serv span:nth-of-type(2){
    position: relative;
    color: #787878;
    display: block;
    position: relative;
    overflow: hidden;
    line-height: 20px;
    width: 100%;
    right: auto;
    margin-top: -10px;
    left: auto;
    top: auto;
    text-align: center;
    line-height: 25px
}
}
@media screen and (max-width:650px){

    .search_btn{
        display: none
    }
}
@media screen and (max-width:550px){
    .main{
        padding: 25px;
        height: auto;
    }
    .search_btn{
        display: none
    }
    .service .serv i{
        display: block;
        text-align: center;
    }
.service .serv span:first-of-type{
    display: inline-block;
    color: #3b3d3d;
    top: 0px;
    display: block;
    text-align: center
}
.service .serv span:nth-of-type(2){
    position: relative;
    color: #787878;
    display: block;
    position: relative;
    overflow: hidden;
    line-height: 20px;
    width: 100%;
    right: auto;
    top: auto;
    left: auto;
    top: auto;
    text-align: center;
    line-height: 25px
}
    .copyright span{
        display: block;
        text-align: center;
    }
}



/********************************************
****************** 404 page *****************
*********************************************
*********************************************
*****************/
.not_found_page{
    background: #0597bb;
    padding: 100px 0;
    color: #fff
}
.not_found_page .error_title{
    font-size: 15em;
    color: #fff;
}
.not_found_page p {
    font-size: 16px;
    font-weight: 100;
    margin-top: -50px
}
.not_found_page a{
    color: #0597bb;
    width: 150px;
    height: 50px;
    line-height: 50px;
    background: #fff;
    margin: 10px auto;
    display: inline-block;
    border-radius: 5px
}
.not_found_page a:hover{
    background: #0597bb;
    text-decoration: none;
    border:  3px solid #fff;
    box-sizing: border-box;
    color: #fff
}




/********************************************
****************** services page ************
*********************************************
*********************************************
*****************/
.main_service{
    height: auto;
    padding: 100px 0;
    background-position: right 75px , right ,right;
}
.main_service i{
    font-size: 50px !important; 
    margin-top: 20px;
}




/********************************************
****************** About page ***************
*********************************************
*********************************************
*****************/
.about{
    padding: 70px 0;
    background: #eff6f7;
}
.about h2,
.contact_us_m h2{
    padding: 10px;
    border-right: 3px solid #0597bb
}
.about p{
    font-size: 16px;
    font-weight: lighter;
    line-height: 35px;
    color: #787878;
    padding: 10px
}

/********************************************
****************** contact us page **********
*********************************************
*********************************************
*****************/
.map_section{
    padding: 50px 0;
}
.map_section iframe{
    border-radius: 10px;
}
.contact_us_m{
    padding: 10px 0 100px;
}
.contact_us_m h2{
    margin-bottom: 50px
}
.contact_us_m input,
.contact_us_m textarea{
    width: 100%;
    border: 1px solid #e3e0e0;
    padding: 10px;
    margin-bottom: 25px
}
.contact_us_m input{
    height: 55px;
}
.contact_us_m input[type="button"]{
    background: #0597bb;
    color: #fff;
}
.contact_us_m input[type="button"]:hover{
    background:#000
}
.contact_us_m .address span{
    display: block;
    margin-bottom: 20px;
    color: #818f9d
}
.contact_us_m .address_social a{
    text-decoration: none;
    color: #818f9d;
    margin-left: 5px;
    padding: 10px;
}



/********************************************
****************** Login page ***************
*********************************************
*********************************************
*****************/
.login{
    padding: 80px 0;
    background: #0597bb;
}
.login form{
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 80px 10px
}
.form_title{
    margin-bottom: 50px;
    font-size: 25px;
}
.login form input{
    height: 55px;
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 25px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    font-size: 15px;
    padding: 10px;
    outline: 0;
    transition: all 0.5s ease
}
.login form input:focus{
    border: 1px solid  #0597bb;
}
.login form button{
    padding: 15px 25px;
    background: #0597bb;
    border: 0;
    color: #fff;
    border-radius: 3px;
    display: block;
    margin:100px auto 0
}
.login form button:hover{
    background: #005c73
}
label{
    font-size: 11px;
    text-align: right;
    font-weight: 200;
    color: #818f9d;
    margin-right: -37%;
}
.login form input[type="checkbox"]{
    display: inline-block;
    float: right;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-right: 10%;
}
.login form span{
    float: left;
    display: inline-block;
    font-size: 11px;
    margin-left: 10%;
    color: #818f9d;
    margin-top: 1%
}
.login form span a{
    color: #08b120
}
.login form span ~ button{
    margin: 30px auto
}
@media screen and (max-width:550px){label{margin-right: -20%;}}
@media screen and (max-width:360px){label{margin-right: -40%;} .login form span{display: block;float: none;text-align: right;padding-right: 10%;margin-top: 10px;} .login form input[type="checkbox"]{margin: auto;margin-right: 10%;}}

/********************************************
****************** blog page ****************
*********************************************
*********************************************
*****************/
.main_title h1{
    text-align: right;
    font-size: 22px;
}
.main_blog{
    height: auto;
    overflow: hidden;
    background: 
        linear-gradient(to top, rgba(3,38,47,0.9), rgba(3,38,47,0.9)) ,
        url("../img/main_background.png") no-repeat;
    background-size: cover;
    background-position: right 150px , right ,right;
    padding: 20px ;
}
.blog_item{
    padding: 70px 0;
    background: #edebeb;
}
.blog_item .blog_post{
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    height: 423px;
    margin-bottom: 60px;
}
.blog_item .blog_post img{
    width: 100%;
}
.blog_item .blog_post .blog_title{
    text-align: right;
    padding: 15px 10px 0px;
    font-size: 16px;
}
.blog_item .blog_post .blog_title a{
    color: #3e3e3e
}
.blog_item .blog_post p{
    padding: 10px;
    color: #8c8c8d;
    line-height: 25px;
    font-size: 13px
}
.blog_item .blog_post p a{
    color: #8c8c8d;
}