
body{height: 5000px}

/*start option box*/

.option-box {
  position: fixed;
  top: 200px;
  left: 0;
  z-index: 99999
}

.option-box .color-option {
    float: right;
    background-color: #222222;
    color: #fff;
    padding: 1px;
    text-align: center;
    box-sizing: border-box;
    padding: 12px;
    padding-bottom: 0px;
    display: none;
}

.option-box .color-option ul li {
    width: 35px;
    height: 35px;
    background-color: #0096E6;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.option-box .check {
    padding: 10px;
    background-color: #222;
    color: #e85c41;
    transition: 0.5s;
    cursor: pointer;
    animation: rotate 3s infinite linear;
}



.option-box .check:hover {
  background-color: #e85c41;
  color: #222;
}


/*end option box*/


/*start navbar*/

.navbar-default {
  background-color: #E85C41;
  border: 0;
  margin-bottom: 0;
  box-shadow: 1px 2px 0px #222;
  position: fixed;
  width: 100%;
  z-index: 9999
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  transition: 0.5s
}

.navbar-default .navbar-nav > li > a:hover {
  color: #fff
}
.navbar-default .navbar-nav > li > a:focus {
   background: #222222;
  color: #fff;}

.navbar-nav > li {
  float: left;
  font-weight: bold;
  padding: 7px;
  transition: 0.5s;
  font-size: 15px
}

.navbar-nav > li:hover, .navbar-nav > li:focus {
  background: #222222;
  color: #fff;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-weight: bold;
  line-height: 34px;
  font-size: 24px;
}

.navbar-default .navbar-brand span {
  color: #222222
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: #222;
  background: #222;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #e85c41;
}



.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #222;
}


/*end navbar*/



/*start home*/

.home{
    background-image: url(../imgs/home2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:100vh;
    width: 100%;
    overflow: hidden;
}
.home .content{
    background: rgba(34, 34, 34, 0.75);
   height:100vh;
    width: 100%;
    background-attachment: fixed;

}
.home .content .info {
    
    margin: 35% auto;
}
.home .content .info h1{
    font-weight: bold;
    color: #e85c41;
    opacity: 0.4;
    transition: 0.3s
}
.home .content .info h1:hover{opacity: 1}
.home .content .info h3 {
    color: rgba(255, 255, 255, 0.92);
    background: #e85c41;
    width: 60%;
    margin: 1px auto;
    padding: 5px;
    border-radius: 2px;
    text-align: center;
}
.home .content .info p{
    color: rgba(255, 255, 255, 0.38);
    width: 60%;
    margin: 5px auto
}

.home .content .info .glyphicon {
    color: rgba(232, 92, 65, 0.74);
    font-size: 31px;
    top: 41px;
    cursor: pointer;
    transition: 0.3s
}

.home .content .info .glyphicon:hover{
    transform: scale(0.9,0.9);
    background: #222;
    padding: 15px;
    border-radius: 100%
}

/*End home*/


/*start services*/

.services {
  background: #2C2C2C;
  min-height: 500px;
  overflow: hidden;
}

.services h2{
    color: rgba(255, 255, 255, 0.68);
    font-weight: bold;
    padding-top: 40px;
    margin-top: 0;
}

.services .info {
  width: 100%;
  margin-bottom: 20px;
}

.services .info h4 {
  color: #fff;
  font-weight: bold;
}

.services .info p {
  color: rgba(255, 255, 255, 0.63);
  font-size: 13px;
}

.services .info i {
  color: #e85c41;
  font-size: 46px;
  padding: 46px;
  background: #222222;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.5s
}

.services .info i:hover {
  transform: scale(0.9, 0.9);
}


hr{
    width: 98px;
    border: 2px solid rgba(232, 92, 65, 0.67);
    border-radius: 5px;
 
    margin-bottom: 80px
}

/*end services*/


/*start About Me*/
.about-me{background: #222;min-height: 400px}
.about-me h2{
    color: rgba(255, 255, 255, 0.68);
    font-weight: bold;
    padding-top: 40px;
    margin-top: 0;
}
.about-me hr {
    width: 98px;
    border: 2px solid rgba(232, 92, 65, 0.67);
    border-radius: 5px;
    margin-bottom: 19px;
}
.about-me .info {
   margin-bottom: 20px
}
.about-me .info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 17px;
    border: 5px solid #e85c41;
    transition: 0.5s;
    cursor: pointer;
}
.about-me .info img:hover{transform: scale(1.2,1.2);}
.about-me .info h2{
    background: #e85c41;
    color: #fff;
    padding: 5px;
    text-align: -webkit-auto;
    font-weight: bold;
}
.about-me .info p{
    color: rgba(255, 255, 255, 0.62);
    text-align: -webkit-auto;
}
.about-me .info p>span {
    font-size: 22px;
    color: rgba(232, 92, 65, 0.59);
}
/*end About Me*/

/*start works*/
.works{
    background-image: url(../imgs/worksection.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    position: relative;
    
}
.works .content{
    background:rgba(34, 34, 34, 0.75) ;
    min-height: 500px;
    
}
.works .content h2{
    color: rgba(255, 255, 255, 0.68);
    font-weight: bold;
    padding-top: 40px;
    margin-top: 0;
}
.works .info{margin-bottom: 30px;position: relative;overflow: hidden;cursor: pointer;transition: 0.5s}
.works .info .hover {
    background: #222;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.8;
    top: -800px;
    transition: 0.5s

}
.works .info .hover span {
    color: #fff;
    font-size: 23px;
    top: 177px;
    margin-left: 10px;
}





.works .info:hover .hover{top: 0}

.works .info img {
    width: 100%;
    height: 250px;
    transition: 0.3s
    
}

/*end works*/