.rinka-loading-screen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 16000;
    background-color: #79deff;
}

.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    margin: 0 auto;
}

.box-of-car {
    position: relative;
    left: -35px;
    height: 230px;
    width: 400px;
    display: inline-block;
    animation: vibration .3s infinite ease-in-out;
}

.box-of-car img {
    position: absolute;
}

.box-of-car img.rinka-car {
    top: 0;
    right: 0;
}

.box-of-car img.left-tire {
    top: 155px;
    right: 190px;
    height: 70px;
    width: 69px;
    animation: rotation .8s infinite linear;
}

.box-of-car img.right-tire {
    top: 150px;
    right: 45px;
    animation: rotation .8s infinite linear;
}

.box-of-car img.smoke-1 {
    top: 167px;
    right: 322px;
    animation: fadeToggle .5s infinite linear;
}

.box-of-car img.smoke-2 {
    top: 158px;
    right: 343px;
    animation: fadeToggle .5s infinite linear .3s;
}

.box-of-car img.smoke-3 {
    top: 150px;
    right: 370px;
    animation: fadeToggle .5s infinite linear .4s;
}

.loading-container h2 {
    direction: ltr;
    color: darkslategray;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    margin: 26px -25px 0 0;
    animation: flashing .4s infinite ease-in-out alternate;
}

@keyframes vibration {
    
    from {
        top: 10px;
    }
    
    to {
        top: 7px;
    }
    
}

@keyframes fadeToggle {
    
    from {
        opacity: 1;
    }
    
    to {
        opacity: .2;
    }
    
}

@keyframes rotation {
    
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
    
}

@keyframes flashing {
    
    to {
        text-shadow:
            0 0 1px #2953ed,
            0 0 2px #ef7070,
            0 0 3px #93e9f0,
            0 0 4px #5cf05c;
    }
    
}

/* Start Responsive */

@media (min-width: 767px) and (max-width: 991px) {
    .loading-container .box-of-centering {
        transform: scale(.7,.7);
    }
}

@media (max-width: 767px) {
    .loading-container .box-of-centering {
        transform: scale(.5,.5);
    }
}

@media (max-width: 300px) {
    .loading-container .box-of-centering {
        transform: scale(.3,.3);
    }
}