/* Global */

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {text-decoration: none;}

.clearfix {clear: both;}

.container {
    margin-left: auto;
    margin-right: auto;
}

/* Global */

/* Start freamework */
@font-face {
    font-family: 'DroidArabicKufiRegular';
    src: url("../fonts/DroidKufi-Regular.ttf");
}

a:hover, i:hover:before,
.mobile-menu-button:hover,
.down-nav .logo:hover,
.down-nav input[type="search"]:hover,
.down-nav input[type="button"]:hover,
.log-in .login-with-fb:hover,
.log-in .login-with-tw:hover,
.sign-up .sign-up-with-fb:hover,
.sign-up .sign-up-with-tw:hover {
    transition: .4s all ease-in-out;
}
/* End freamework */

::-webkit-scrollbar {
    display: none;
}

html {
    font-family: 'DroidArabicKufiRegular';
    font-weight: normal;
}

body {
    background-color: #6bb9f0;
    overflow: hidden;
}

/* Start Nav */
nav .up-nav {
    background-color: #e6f6ff;
    border-radius: 0 0 5px 5px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 10px 2px rgba(52,140,179,0.6);
}

.up-nav .navigation,
footer .navigation {
    float: right;
    display: flex;
}

.up-nav .navigation a,
footer .navigation a {
    display: inline-flex;
    color: #005;
    padding: 7px 12px;
    font-size: 11px;
}

.up-nav .navigation a.active {
    background-color: #f22f6b;
    color: #e6f6ff;
}

.up-nav .navigation a:hover {
    background-color: #dd2961;
    color: #e6f6ff;
}

.up-nav .social-media,
.mobile-menu .social-media,
footer .social-media {
    float: left;
    margin: 3px 25px 1px;
    cursor: default;
}

.social-media a {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 27px;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
}

.social-media a:nth-of-type(1) {
    background-color: #37acd7;
    color: #e6f6ff;
}

.social-media a:nth-of-type(2) {
    background-color: #4ecec5;
    color: #e6f6ff;
}

.social-media a:nth-of-type(3) {
    background-color: #d6c601;
    color: #e6f6ff;
}

.social-media a:nth-of-type(4) {
    background-color: #e30000;
    color: #e6f6ff;
}

.social-media a:nth-of-type(1):hover {
    background-color: #e6f6ff;
    color: #37acd7;
    box-shadow: 0px 0px 10px #aaa;
}

.social-media a:nth-of-type(2):hover {
    background-color: #e6f6ff;
    color: #4ecec5;
    box-shadow: 0px 0px 10px #aaa;
}

.social-media a:nth-of-type(3):hover {
    background-color: #e6f6ff;
    color: #d6c601;
    box-shadow: 0px 0px 10px #aaa;
}

.social-media a:nth-of-type(4):hover {
    background-color: #e6f6ff;
    color: #e30000;
    box-shadow: 0px 0px 10px #aaa;
}

nav .down-nav {
    background-color: #e6f6ff;
    padding-right: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px rgba(52,140,179,0.6);
}

.nav-fixed {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 13000;
    width: 100%;
    border-radius: 0 !important;
    height: 76px !important;
    margin-top: -14px !important;
}

nav .down-nav .mobile-menu-button {
    float: right;
    margin: 30px 0;
    height: 31px;
    width: 37px;
    position: relative;
}

nav .down-nav .mobile-menu-button i {
    font-size: 29px;
    padding: 0 5px;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

nav .down-nav .mobile-menu-button .fa-times {
    line-height: 28px;
    padding: 0 6px;
    display: none;
}

nav .down-nav .mobile-menu-button:hover {
    box-shadow: 0px 0px 10px -1px rgba(52, 140, 179, 0.35);
}

nav .down-nav .logo {
    float: right;
    margin: 18px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

nav .down-nav .logo img {
    display: block;
}

nav .down-nav .logo:hover {
    box-shadow: 0px 0px 10px -1px rgba(52, 140, 179, 0.35);
}

nav .down-nav .shopping-cart-icon {
    position: relative;
    display: block;
    float: left;
    margin: 24px;
}

nav .down-nav .shopping-cart-icon i:hover {
    color: #1b99d1;
}

.down-nav .shopping-cart-icon span {
    position: absolute;
    top: 0px;
    right: -5px;
    height: 12px;
    width: 12px;
    font-size: 10px;
    line-height: 12px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 10px -2px;
}

nav .down-nav i {
    font-size: 38px;
    color: #1fb1f2;
    cursor: pointer;
}

nav .down-nav .search-box {
    float: left;
    margin: 25.5px 10px;
}

.search-box input[type="search"] {
    width: 200px;
    background-color: transparent;
    border: 1px solid #ddd;
}

.search-box input[type="search"]:hover {
    box-shadow: 0px 0px 10px -1px rgba(52, 140, 179, 0.35);
}

.search-box input[type="search"]:focus {
    box-shadow: 0px 0px 10px -1px rgba(52, 140, 179, 0.35);
}

.search-box input[type="button"] {
    min-width: 45px;
    background-color: #f22f6b;
    color: #e6f6ff;
    border: 1px solid transparent;
}

.search-box input[type="button"]:hover {
    background-color: #1fb1f2;
    box-shadow: 0px 0px 10px -1px rgba(52, 140, 179, 0.6);
}

.search-box input[type="search"],
.search-box input[type="button"] {
    float: left;
    outline: none;
    font-size: 11px;
    padding: 3px;
    margin: 5px;
    border-radius: 8px;
}

.down-nav .login {
    float: left;
    margin: 29px 0px 31px;
}

.down-nav .login a {
    display: inline-block;
    color: #005;
    font-size: 11px;
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.down-nav .login a.active {
    background-color: #f22f6b;
    color: #e6f6ff;
    text-decoration: none;
}

.down-nav .login a:hover {
    background-color: #dd2961;
    color: #e6f6ff;
    text-decoration: none;
    border: 1px solid #dd2961;
    box-shadow: 0px 0px 10px -1px rgba(242,47,107,0.5);
}

.down-nav .login a div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.down-nav .login a i {
    font-size: 16px;
    margin: 0 5px;
}

.down-nav .login a i.fa-sign-in {
    font-size: 18px;
}

.down-nav .login a:hover i {
    color: #e6f6ff;
}

.down-nav .login a span {
    margin: 0 5px;
}

/* Start Mobile Menu */
.mobile-menu {
    background-color: #0e6b95;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    right: -270px;
    height: 100%;
    width: 250px;
    z-index: 12000;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: -5px 0px 15px 1px rgba(72, 92, 101, 0.6);
}

.mobile-menu-fixed {
    padding-top: 74px;
}

.mobile-menu .search-box,
.Mobile-Menu-login,
.mobile-menu .social-media {
    display: none;
}

.mobile-menu ul li:not(:first-child) {
    display: none;
}

.mobile-menu ul li:first-child {
    display: flex;
    justify-content: space-between;
    background-color: #1185ba;
    color: #e6f6ff;
    font-size: 16px;
    padding: 5px 15px;
    border-top: 1px solid #2a4f86;
    cursor: pointer;
}

.mobile-menu ul li:first-child i {
    background-color: #63abd3;
    margin: 5px;
    padding: 0 7px;
    line-height: 25px;
    border-radius: 4px;
}

.mobile-menu .fa-arrow-up {
    display: none;
}

.mobile-menu ul li:first-child:hover {
    background-color: #0f75a3;
}

.mobile-menu ul li:first-child:active {
    background-color: #3c94bc;
}

.mobile-menu ul li:first-child:hover i {
    background-color: #6bb7e2;
}

.mobile-menu ul li:first-child:active i {
    background-color: #85c3e5;
}

.mobile-menu ul li a {
    display: block;
    background-color: #58addd;
    color: #013851;
    padding: 5px 30px;
    border-top: 1px solid #4b96c1;
}

.mobile-menu ul li a:hover {
    background-color: #2d99d6;
}
/* End Mobile Menu */

/* End Nav */

/* Start Header */
header .offers-container {
    overflow: hidden;
}

header .slick-dotted.slick-slider {
    margin: 20px auto 60px;
    box-shadow: 1px 1px 10px 2px rgba(52,140,179,0.6);
}

header .single-item .slick-dots {
    bottom: -40px;
}

header .single-item img {
    width: 100%;
}

header .offers {
    text-align: center;
    margin: 0 -2% 15px;
}

header .offers > div {
    display: inline-block;
    width: 22%;
    margin: 15px 1%;
    box-shadow: 1px 1px 10px 2px rgba(52,140,179,0.6);
}

header .offers > div img {
    width: 100%;
    min-height: 150px;
    display: block;
}
/* End Header */

/* Start Content */
.content .slick-dotted.slick-slider {
    padding: 0 20px;
}

.content .slick-dotted.slick-slider:last-of-type {
    margin-bottom: 0;
}

.content .slick-dots {
    position: static;
}

.content .slick-prev {
    right: 5px;
}

.content .slick-next {
    left: 5px;
}

.content .slick-prev:before, .content .slick-next:before {
    color: #888;
}

.content .all-items {
    background-color: #e6f6ff;
    padding: 30px 0;
    border-radius: 10px 10px 5px 5px;
    box-shadow: 1px 1px 10px 2px rgba(52,140,179,0.6);
}

.all-items .mobile-products-heading,
.all-items .computer-products-heading,
.all-items .electronics-products-heading,
.all-items .houseware-products-heading,
.all-items .fashion-products-heading,
.all-items .health-beauty-products-heading {
    width: 70%;
    text-align: center;
    font-size: 16px;
    margin: 10px auto 0;
    background-color: #c3e6fa;
    color: #014472;
    padding: 5px;
    border: 1px solid #bcd8ed;
    border-radius: 6px;
    box-shadow: 0 0 10px -5px;
}

.content .all-items .item {
    background-color: #dff4ff;
    width: 200px;
    text-align: center;
    margin: 30px 20px 20px;
    outline: 0;
    border: 1px solid #c3daf1;
    border-radius: 10px;
    box-shadow: 0 0 10px -5px, 0px 0px 20px -4px #87d5fd inset;
}

.content .all-items .item a {
    color: #d20041;
    outline: 0;
}

.content .all-items .item a:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 5px;
}

.content .all-items .item h4 {
    font-size: 18px;
    line-height: 25px;
    padding: 0;
    margin: 0;
}

.content .all-items .item img {
    width: 100%;
    border-radius: 3px;
}

.content .item .price-Product {
    padding: 10px; 
    border-top: 1px solid #e6f6ff;
}

.content .item .price-Product span {
    color: #00618c;
    font-size: 14px;
}

.content .item .Before-discount span:last-child {
    text-decoration: line-through;
    text-decoration-color: #f00;
}

.content .item .price-Product span:last-child {
    color: #000;
    font-size: 15px;
}
/* End Content */

/* Start Footer */
footer {
    background-color: #e6f6ff;
    margin-top: 15px;
    padding: 5px 0;
    box-shadow: 1px 1px 10px 2px rgba(52,140,179,0.6);
}

footer .navigation a:hover {
    color: #0071ff;
}

footer .social-media {
    margin: 3px 12px 1px;
}

footer .copyright {
    text-align: left;
    font-size: 12px;
    font-family: cursive;
    margin: 5px 12px 0;
}

footer .copyright a {
    color: #5171ba;
    font-size: 13px;
}

footer .copyright a:hover {
    color: #1fb1f2;
}
/* End Footer */

/* Start Scroll To Top */

#Scroll-To-Top {
    position: fixed;
    right: 0;
    bottom: 28px;
    z-index: 10000;
    width: 40px;
    height: 40px;
    background-color: #0089ff;
    padding: 8px;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    opacity: .5;
    display: none;
}

#Scroll-To-Top img {
    width: 100%;
    height: 100%;
}

#Scroll-To-Top:hover {
    opacity: .7;
}

#Scroll-To-Top:active {
    opacity: .5;
}

/* End Scroll To Top */

/* Large And Medium Media */

@media (min-width: 1200px) {
    
    .container {
        width: 1170px;
    }
    
}

@media (min-width: 992px) {
    
    .container {
        width: 90%;
    }
    
    nav .down-nav .mobile-menu-button .fa-times {
        padding: 0 7px;
    }
    
}