*{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing:border-box;
}
body{margin: 0;perspective:600px;background-color:#f0dfc5}
.container{width: 1170px;margin: auto}
.clearfix{clear:both }

/*start header*/
.head{text-align: center}
.head h1{margin: 0;font-family:vivaldi;font-size:80px;color: #120703;text-shadow:1px 3px 8px #8c4046}
.head h2{margin: 0;font-family: Vijaya;font-size:30px;color: #942a34}
.two-coffee{width: 1000px;height:50px}
.two-coffee .left{margin-right:450px}
.two-coffee i{color: #120703;font-size: 60px;animation:animate 3s  ease-in-out 2s infinite both;-webkit-animation:animate 3s  ease-in-out 2s infinite both;-moz-animation:animate 3s  ease-in-out 2s infinite both }
@keyframes animate{
   0%{
      font-size: 20px;
      color: #942a34
   }
    50%{
      font-size: 40px;
   }
    80%{
     font-size: 50px;
   }
    100%{
      font-size: 60px;
   }
}
@-webkit-keyframes animate{
   0%{
      font-size: 20px;
      color: #942a34
   }
    50%{
      font-size: 40px;
   }
    80%{
     font-size: 50px;
   }
    100%{
      font-size: 60px;
   }

}
@-moz-keyframes animate{
   0%{
      font-size: 20px;
      color: #942a34
   }
    50%{
      font-size: 40px;
   }
    80%{
     font-size: 50px;
   }
    100%{
      font-size: 60px;
   }
}
/*start nav*/
.head .nav{overflow: hidden;}
.head .nav ul{list-style: none;overflow: hidden;font-size:30px;margin-right:50px;height:60px}
.head .nav ul li{margin-top: 5px;display: inline-block;padding-left:50px;margin-right:30px;transform:rotatey(8deg);-webkit-transform:rotatey(8deg);-moz-transform:rotatey(8deg);transition: all 1s ease-in-out }
.head .nav ul li:hover{transform:none}
.head .nav ul li a{color:#120703;text-decoration:none}
.head .nav ul li a:hover{color:#942a34;transform:none}
/*end nav*/

/*start slider*/
.slider{text-align: center}
.slider img{background-size:100%;height: 400px;border-radius:10px;transition: all 2s ease-in-out}
.slider img:hover{transform:scale(.9);-webkit-transform:scale(.9);-moz-transform:scale(.9)}
/*end slider*/

/*start about_us*/
.about_us{margin-top:70px;min-height: 400px; }
.about_us .left{float: left;margin-left:100px;width: 40%}
.about_us .left h1{font-family: verdana;font-size:30px;color: #120703;text-shadow:3px 4px 5px #8c4046 }
.about_us .left p{font-family: vivaldi;font-size:25px;color: #624237;line-height: 30px}
.about_us .left div i{font-size: 30px;color: #8c4046;}
.about_us .right{float: right;width: 40%}
.about_us .right img{width:300px;height:300px;margin-top: 20px;border-radius: 20px;margin-left:80px;transition: all 1s ease-in-out}
.about_us .right img:hover{margin-right:10px;transform:translatey(10px);-webkit-transform:translatey(10px);-moz-transform:translatey(10px)}
/*end about_us*/

/*start content*/
.content{text-align: center;margin-top:70px;height:360px;}
.content .container {border-radius:10px;box-shadow: 8px 8px 8px #351719,10px 10px 10px #935f38, -8px -8px 15px #351719,-10px -10px 15px #935f38}
.content img{padding: 20px;border-radius:30px;border-radius: 50%; animation: radius 3s ease-in-out 2s infinite;-webkit-animation: radius 3s ease-in-out 2s infinite;-moz-animation: radius 3s ease-in-out 2s infinite}
.content img:hover{border-radius:30px}
@keyframes radius{
   0%{
      border-radius: 50%;
   }
    50%{
      border-radius: 70px;
   }
    80%{
      border-radius: 40px;
   }
    100%{
      border-radius: 30px;
   }
}
@-webkit-keyframes radius{
   0%{
      border-radius: 50%;
   }
    50%{
      border-radius: 70px;
   }
    80%{
      border-radius: 40px;
   }
    100%{
      border-radius: 30px;
   }
}
@-moz-keyframes radius{
   0%{
      border-radius: 50%;
   }
    50%{
      border-radius: 70px;
   }
    80%{
      border-radius: 40px;
   }
    100%{
      border-radius: 30px;
   }
}
/*end content*/

/*start section*/
.section{height:280px;overflow: hidden;margin-top:60px}
.section .container{}
.section .left_section{width: 30%;float: left;margin-left: 20px}
.section .left_section h2{font-family:Vijaya ;font-size:40px;color: #120703;line-height: 40px}
.section .right_section{width: 40%;float: right;margin-right: 30px}
.section .right_section h2{font-family: Vijaya;font-size:30px;color: #120703;line-height:30px}
.section .right_section p{font-family: vivaldi;font-size:22px;color: #120703;line-height: 30px;}
.medium span{font-size:200px;color: #120703;text-align: center;margin-left:140px}
/*end section*/

/*start backgroung*/
.backgroung{background-image: url(../images/background2.png);height:580px;background-repeat: no-repeat;background-position:48% 100% ;opacity:.3;margin-top:40px}
.note{text-align: center;width:1000px;height: 500px;overflow: hidden;margin-top:50px;margin-left: 40px}
.note i{font-weight: bold;font-size: 80px;color:#120703;margin-top: 20px}
.note h1{font-size: 50px;font-family:vivaldi }
.note h2{font-size:30px;color:#120703;font-family:Vijaya;margin-top: 0}
/*end background*/

/*start contact*/
.contact{height:300px;overflow: hidden;text-align: center;margin-top: 60px;margin-right: 132PX}
.contact h2{font-size:40px;color:#120703;font-weight: bold}
.contact i{font-size: 20px;color:#8c4046}
.contact .icon{}
.contact .icon i{ padding: 90px;text-align: center;font-size: 50px;cursor: pointer;margin-left: 30px}
/*end contact*/

/*start footer*/
.footer{overflow: hidden;height: 440px;margin-top:60px}
.footer .left-footer{float: left;width:45%;}
.form{width:800px;margin-left:70px}
.left-footer .form label{display: block;color:#120703;margin: 10px 0;}
.left-footer .form input[type="text"]{background:none;color:#8c4046;padding: 10px;border: 0;width:40%;margin-bottom: 10px;border-radius: 15px;border: 2px solid #8c4046}
.left-footer .form textarea{background:none;color:#8c4046;padding: 10px;border: 0;width:30%;margin-bottom: 10px;height:100px;border-radius: 10px;border: 2px solid #8c4046}
.left-footer .form input[type="submit"]{background:none;color:#120703;padding: 10px 30px;border: 0;margin-top:10px;border-radius: 10px;border: 2px solid #8c4046;cursor: pointer }
.footer .right-footer{width: 400px;float: right;}
.footer .right-footer i{font-size:250px;margin-top: 130px;margin-right: 80px;color: #120703;animation: coffee 9s ease-in-out 5s infinite;-webkit-animation:coffee 9s ease-in-out 5s infinite;-moz-animation:coffee 9s ease-in-out 5s infinite }
@keyframes coffee{
   0%{
      color: #8c4046;
      font-size: 5px;
   }
    0%{
      font-size: 70px;
   }
     30%{
      color: #8c4046;
      font-size: 100px;
      color: #8c4046;
   }
     70%{
     
      color: #8c4046;
      font-size: 150px;
      color:#942a34 
   }
     80%{
     color:#942a34 ;
     font-size:200px
   }
     90%,100%{
      opacity: 1;
      color: #120703;
      font-size: 250px
   }
}
@-webkit-keyframes coffee{
   0%{
      color: #8c4046;
      font-size: 5px;
   }
    0%{
      font-size: 70px;
   }
     30%{
      color: #8c4046;
      font-size: 100px;
      color: #8c4046;
   }
     70%{
     
      color: #8c4046;
      font-size: 150px;
      color:#942a34 
   }
     80%{
     color:#942a34 ;
     font-size:200px
   }
     90%,100%{
      opacity: 1;
      color: #120703;
      font-size: 250px
   }
}
@-moz-keyframes coffee{
   0%{
      color: #8c4046;
      font-size: 5px;
   }
    0%{
      font-size: 70px;
   }
     30%{
      color: #8c4046;
      font-size: 100px;
      color: #8c4046;
   }
     70%{
     
      color: #8c4046;
      font-size: 150px;
      color:#942a34 
   }
     80%{
     color:#942a34 ;
     font-size:200px
   }
     90%,100%{
      opacity: 1;
      color: #120703;
      font-size: 250px
   }
}
/*end footer*/

 /*start copyright*/
.copy-right{color:#120703;margin-top:30px;text-align: center;overflow: hidden;padding-top: 20px;margin-right:85PX;animation: copy 6s ease-in-out 0s infinite;-webkit-animation: copy 6s ease-in-out 0s infinite;-moz-animation:copy 6s ease-in-out 0s infinite}
.copy-right span{margin-bottom: 20px;font-size:40px;font-family:vivaldi }
.copy-right .copy{color: #8c4046}
@keyframes copy{
   0%{
      opacity: .4
   }
     30%{
      opacity: .5;
      transform:translatez(-7px)
   }
     70%{
      opacity: .7
   }
     
     80%{
      opacity: .9
   }
     
     100%{
      opacity: 1
   }
}
@-webkit-keyframes copy{
   0%{
      opacity: .4
   }
     30%{
      opacity: .5;
      transform:translatez(-7px)
   }
     70%{
      opacity: .7
   }
     
     80%{
      opacity: .9
   }
     
     100%{
      opacity: 1
   }
}
@-moz-keyframes copy{
   0%{
      opacity: .4
   }
     30%{
      opacity: .5;
      transform:translatez(-7px)
   }
     70%{
      opacity: .7
   }
     
     80%{
      opacity: .9
   }
     
     100%{
      opacity: 1
   }
}
 /*end copyright*/





