/*main ruelz*/

body{
	
	
	padding: 0;
	font-family: Fontin , Sans, sans-serif
	
	
}

p{
	
	margin: 0;
	padding: 0
}

ul , li{
	
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block
	
}

.container{
	
	
	width: 1349px;
	
}
/*start right section*/

.container .leftSection{
	
	width: 245px;
	height: 858px;
	float: left;
	margin-top: -20px;

}


.container .leftSection .YouMentor{
	
	height: 120px;
	background-color: #de4945;
	margin: 0;

}


.container .leftSection .YouMentor h2{

	padding: 36px;
	padding-top: 45px;
	color: #feffec;
	font-weight: normal;
	letter-spacing: 1.5px;
	cursor: pointer
	
}


.container .leftSection .YouMentor h2:hover{
	
	
	font-weight: 600
}

.container .leftSection .YouMentor h2 span{
	
	color: #ffb8ad
}
.container.leftSection .YouMentor h2 i{
	
	padding-left: 55px;
	margin-left: 10px
}

.container .leftSection .search{
	
	margin-top: -19px;
	background-color: #d14341;
	height: 80px
	
}

.container .leftSection .search h3 {
	
	padding: 20px 27px ;
	color: #f98182;
	
}

.leftSection .search h3 span{
	
	padding-left: 10px;
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 1px
}

.leftSection .search h3 span:hover{
	
	font-weight: 600;
	color: aliceblue
	
}
.container .leftSection .search h3 i{

	font-weight: bolder;
	color: #f98182;
	cursor: pointer;
}

.container .leftSection .search h3 i:hover{
	
	color: aliceblue
	
}
.container .leftSection .menu{
	
	width: 300px;
	height: 638px;
	background-color: #c9423f;
	
}

.container .leftSection .menu .element{
	
	height: 90px;
	width: 300xp;
	border-bottom: 1px solid #b6322e;
	cursor: pointer
}

.container .leftSection .menu .icons{
	
	width: 90px;
	height: 90px;
	background-color: #b93c3a;
	float: left;
	text-align: center
}

.container .leftSection .menu .icons i{
	
	color: #f8fff1;
	margin-top: 32px
	
}


.container .leftSection .menu .icons i:hover{
	
	font-weight: 600
}

.container .leftSection .menu ul li p {
	
	color: #f8fff1;
	text-align: left;
	margin-top: 30px;
	margin-left: 23px;
	font-weight: 600
}

.container .leftSection .menu ul li span{
	
	color: #ff8a8a ;
	text-align: left;
	margin-left: 23px;
	font-size: 1px
	
	
}


/*end right section*/

/*start mid section*/

 .container .midSection{
	
	
	display: inline-flex;
	 margin: 0;
	 height: 838px
	

}

 .container .midSection .size{
	
	height: 800px;
	width: 800px;
}

 .container .midSection .size .header{
	
	padding: 45px 50px;
	height: 30px;
	background-color: #ffffff;
	width: 730px
	
	 
	
}

.container .midSection .size .header .first ,.second ,.third{
	
	display: inline-block;
	margin-right: 60px;
	font-weight: normal;
	font-size: 35px;
	margin-top: 0;
	color: #acacac;
	cursor: pointer
	
}

.container .midSection .size .header .first:hover , .second:hover , .third:hover{
	
	font-weight: 600
	
}

.container .midSection .size .header .second:hover , .third:hover{
	
	color: #894f4e;
	
}
.container .midSection .size .header .first{
	
	color: #894f4e;

}

.container .midSection .size .navbar{
	
	height:80px;
	background-color: #f3e3e4;
	width: 830px;
}

.container .midSection .size .navbar .content h3{
	
	font-weight: normal;
	color: #d8baba;
	margin: 0;
	padding: 30px 50px;
	float: left;
	
}


.container .midSection .size .navbar .first{
	
	padding: 0;
	margin: 0;
	margin-left: 50px;
	display: inline-block;
	font-weight: normal;
	color: #c2a2a3;
	cursor: pointer
}

.container .midSection .size .navbar .first span{
	
	color: #894f4e;
	background: #fff;
	border: 2px solid #c2a2a3;
	border-radius: 10px;
	padding: 5px
}


.container .midSection .size .navbar .first span:hover{
	
	
	background: #894f4e;
	color: #fff
}

.container .midSection .size .navbar .first:hover{
	
	font-weight: 600
	
}

.container .midSection .size .navbar ul .li1{
	
	margin-top: 20px;
	margin-left: 350px;
	height: 40px;
	width: 100px;
	display: inline-block;
	background-color: #eedadc;
	cursor: pointer

}


.container .midSection .size .navbar .li2{
	
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	height: 40px;
	width: 100px;
	display: inline-block;
	background-color: #eedadc;
	cursor: pointer
	
	
}

.container .midSection .size .navbar .li3{
	
	background-color: #eedadc;
	cursor: pointer

}

.container .midSection .size .navbar .li1:hover,.li2:hover, .li3:hover{
	
	border: 2px solid #c2a2a3;
	border-radius: 10px
	
}


.container .midSection .size .navbar ul li h4{
	
	text-align: center;
	margin: 0;
	padding: 0;
	padding-top: 13px;
	color: #c2a2a3;
	font-weight: normal

}

.container .midSection .size .navbar ul li h4:hover{
	
	font-weight: 600
}

.container .midSection .size .navbar ul li .thirrd{
	
	width: 40px;
	height: 27px;
}

.container .midSection .size .boody{
	
	background-color: #f9f0f1;
	width: 830px;
	height: 638px
}

.container .midSection .size .boody .sizee{
	
	padding-top:20px;
	
	padding-left: 25px;
	padding-right: 25px;
}

.container .midSection .size .boody .sizee .fbox{
	
	background-color: #ffffff;
	width: 45%;
	height: 280px;
	padding: 15px;
	margin-bottom: 20px;
	float: left
	
}

.container .midSection .size .boody .sizee .fbox > h3{
	
	font-weight: bold;
	font-size: 15px;
	color: #bf3c5b;
	cursor: pointer
}

.container .midSection .size .boody .sizee .fbox > p{
	
	color: #c5c5c5;
	line-height: 1.5;
	margin-bottom: 15px
	
}

.container .midSection .size .boody .sizee .fbox .main{
	
	margin-left: 10px;
	color: #cba8ac;
	border-right: 1px solid #dcd3d6;
	cursor: pointer
	
	
}

.container .midSection .size .boody .sizee .fbox .main:hover{
	
	font-weight: 600
}

.container .midSection .size .boody .sizee .fbox .main p{
	
	display: inline-block;
	color: #cba8ac;
	margin-right: 15px;
	
	
}



.container .midSection .size .boody .sizee .fbox .a{
	
	display: inline;
	color: #cba8ac;
	margin-left: 15px;
	cursor: pointer
	
}


.container .midSection .size .boody .sizee .fbox .a:hover{
	
	font-weight: 600
	
}

.container .midSection .size .boody .sizee .fbox .followers{
	
	margin-left: 5px;
	color: #cba8ac;
	font-size: 10px;
	cursor: pointer
	
}

.container .midSection .size .boody .sizee .fbox .followers:hover{
	
	font-weight: 600
	
}

.container .midSection .size .boody .sizee .fbox .main i{
	
	color: #cba8ac;
	margin-right: 5px
	
}

.container .midSection .size .boody .sizee .fbox .img{
	
	width: 40px;
	height: 40px;
	margin-top: 25px;
}

.container .midSection .size .boody .sizee .fbox .img img{
	
	border-radius: 50%;
	width: 100%;
	border: 1px solid #cba8ac;
	cursor: pointer
	
}

.container .midSection .size .boody .sizee .fbox .img img:hover{
	
	border: 2px solid #cba8ac;
	-webkit-box-shadow: 3px 5px 7px #888888;
}

.container .midSection .size .boody .sizee .fbox .info{
	
	margin-top: -35px;
	margin-left: 55px;
	cursor: pointer
}

.container .midSection .size .boody .sizee .fbox .info:hover{
	
	font-weight: 600
}


.container .midSection .size .boody .sizee .fbox .info .name{
	
	color: #cba8ac;
	width: 100px
	
}

.container .midSection .size .boody .sizee .fbox .info .loc{
	
	color: #c5c5c5;
	width: 100px;
	font-size: 13px
}

.container .midSection .size .boody .sizee .fbox .fb{
	
	float: right;
	margin-top: -50px;
	margin-left: 245px;
	width: 80px;
	height: 28px;
	text-align: center;
	padding-top: 10px;
	background-color: #f9f0f3;
	color: #cba8ac;
	border-radius:10px;
	border: 1px solid;
	cursor: pointer

}


.container .midSection .size .boody .sizee .fbox .fb:hover{
	
	border: 2px solid;
	border-radius:10px;
	-webkit-box-shadow: 3px 5px 7px #888888;
}

.container .midSection .size .boody .sizee .sbox{
	
	background-color: #ffffff;
	width: 49%;
	height: 390px;
	float:right;
	margin-bottom: 20px
	
}


.container .midSection .size .boody .sizee .sbox > h3{
	
	font-weight: bold;
	font-size: 15px;
	color: #bf3c5b;
	margin-bottom: 0;
	padding-bottom: 0;
	padding: 15px;
	cursor: pointer
	
}

.container .midSection .size .boody .sizee .sbox > p{
	
	color: #c5c5c5;
	line-height: 1.5;
	padding-left: 15px;
	margin-bottom: 15px
	
}

.container .midSection .size .boody .sizee .sbox .main{
	
	margin-left: 25px;
	color: #cba8ac;
	border-right: 1px solid #dcd3d6;
	cursor: pointer
	
	
}

.container .midSection .size .boody .sizee .sbox .main:hover{
	
	font-weight: 600
}

.container .midSection .size .boody .sizee .sbox .main p{
	
	display: inline-block;
	color: #cba8ac;
	margin-right: 15px;
	
	
}
.container .midSection .size .boody .sizee .sbox .a{
	
	display: inline;
	color: #cba8ac;
	cursor: pointer
}

.container .midSection .size .boody .sizee .sbox .a:hover{
	
	font-weight: 600
}


.container .midSection .size .boody .sizee .sbox .followers{
	
	margin-left: 5px;
	color: #cba8ac;
	font-size: 10px;
	cursor: pointer
}

.container .midSection .size .boody .sizee .sbox .followers:hover{
	
	font-weight: 600
	
}


.container .midSection .size .boody .sizee .sbox .main i{
	
	color: #cba8ac;
	margin-right: 5px
	
}

.container .midSection .size .boody .sizee .sbox .photos{
	
	width: 76.5px;
	height: 75px;
	padding: 0;
	margin-top: 10px;
	display: flex;
	cursor: pointer;
	
	
}

.container .midSection .size .boody .sizee .sbox .photos img{
	
	width: 100%;
	
}

.container .midSection .size .boody .sizee .sbox .photos img:hover{
	
	border: 2px solid #cba8ac;
	-webkit-box-shadow: 3px 5px 7px #888888;
	margin-left: -4px;
	border-radius: 	10px
}
.container .midSection .size .boody .sizee .sbox .photos #f:hover{
	
	margin-left: 0
	
}
.container .midSection .size .boody .sizee .sbox .img{
	
	width: 40px;
	height: 40px;
	margin-top: 25px;
	padding-left: 15px;
	cursor: pointer
}


.container .midSection .size .boody .sizee .sbox .img img{
	
	border-radius: 50%;
	width: 100%;
	border: 1px solid #cba8ac;
	
}


.container .midSection .size .boody .sizee .sbox .img img:hover{
	
	-webkit-box-shadow: 3px 5px 7px #888888;
	border: 2px solid #cba8ac;
}

.container .midSection .size .boody .sizee .sbox .info{
	
	margin-top: -35px;
	margin-left: 55px;
	padding-left: 15px;
	cursor: pointer
}

.container .midSection .size .boody .sizee .sbox  ul{
	
	padding-left: 15px
	
}
.container .midSection .size .boody .sizee .sbox .info .name{
	
	color: #cba8ac;
	width: 100px
	
}

.container .midSection .size .boody .sizee .sbox .info .loc{
	
	color: #c5c5c5;
	width: 100px;
	font-size: 13px
}

.container .midSection .size .boody .sizee .sbox .fb{
	
	float: right;
	margin-top: -50px;
	margin-left: 245px;
	width: 80px;
	height: 28px;
	text-align: center;
	padding-top: 10px;
	background-color: #f9f0f3;
	color: #cba8ac;
	border-radius:10px;
	border: 1px solid;
	cursor: pointer
}

.container .midSection .size .boody .sizee .sbox .fb:hover{
	
	border: 2px solid;
	border-radius:10px;
	-webkit-box-shadow: 3px 5px 7px #888888;
}

.container .midSection .size .boody .sizee .tbox{
	
	background-color: #ffffff;
	width: 45%;
	height: 258px;
	padding: 15px;
	float: left

}


.container .midSection .size .boody .sizee .tbox > h3{
	
	font-weight: bold;
	font-size: 15px;
	color: #bf3c5b;
	cursor: pointer
}

.container .midSection .size .boody .sizee .tbox > p{
	
	color: #c5c5c5;
	line-height: 1.5;
	margin-bottom: 15px
	
}

.container .midSection .size .boody .sizee .tbox .main{
	
	margin-left: 10px;
	color: #cba8ac;
	border-right: 1px solid #dcd3d6;
	cursor: pointer
}

.container .midSection .size .boody .sizee .tbox .main:hover{
	
	font-weight: 600
}

.container .midSection .size .boody .sizee .tbox .main p{
	
	display: inline-block;
	color: #cba8ac;
	margin-right: 15px;
	
	
}
.container .midSection .size .boody .sizee .tbox .a{
	
	display: inline;
	color: #cba8ac;
	margin-left: 15px;
	cursor: pointer
}

.container .midSection .size .boody .sizee .tbox .a:hover{
	
	font-weight: 600
}

.container .midSection .size .boody .sizee .tbox .followers{
	
	margin-left: 5px;
	color: #cba8ac;
	font-size: 10px;
	cursor: pointer
	
}

.container .midSection .size .boody .sizee .tbox .followers:hover{
	
	font-weight: 600
}

.container .midSection .size .boody .sizee .tbox .main i{
	
	color: #cba8ac;
	margin-right: 5px
	
}

.container .midSection .size .boody .sizee .tbox .img{
	
	width: 40px;
	height: 40px;
	margin-top: 17px;
}

.container .midSection .size .boody .sizee .tbox .img img{
	
	border-radius: 50%;
	width: 100%;
	border: 1px solid #cba8ac;
	cursor: pointer

}

.container .midSection .size .boody .sizee .tbox .img img:hover{
	
	-webkit-box-shadow: 3px 5px 7px #888888;
	border: 2px solid #cba8ac;
}

.container .midSection .size .boody .sizee .tbox .info{
	
	margin-top: -35px;
	margin-left: 55px;
	cursor: pointer
	
}

.container .midSection .size .boody .sizee .tbox .info:hover{
	
	font-weight: 600
	
}
.container .midSection .size .boody .sizee .tbox .info .name{
	
	color: #cba8ac;
	width: 100px
	
}

.container .midSection .size .boody .sizee .tbox .info .loc{
	
	color: #c5c5c5;
	width: 100px;
	font-size: 13px
}

.container .midSection .size .boody .sizee .tbox .fb{
	
	float: right;
	margin-top: -50px;
	margin-left: 245px;
	width: 80px;
	height: 28px;
	text-align: center;
	padding-top: 10px;
	background-color: #f9f0f3;
	color: #cba8ac;
	border-radius:10px;
	border: 1px solid;
	cursor: pointer

}

.container .midSection .size .boody .sizee .tbox .fb:hover{
	
	border: 2px solid;
	border-radius:10px;
	-webkit-box-shadow: 3px 5px 7px #888888;
}


.container .midSection .size .boody .sizee .foourbox{
	
	background-color: #ffffff;
	width: 45%;
	height: 178px;
	padding: 15px;
	margin-bottom: 20px;
	float: right
	
}

.container .midSection .size .boody .sizee .foourbox > h3{
	
	font-weight: bold;
	font-size: 15px;
	color: #bf3c5b;
	cursor: pointer;

}
.container .midSection .size .boody .sizee .foourbox > p{
	
	color: #c5c5c5;
	line-height: 1.5;
	margin-bottom: 15px
	
}

/*end mid section*/

/*start right section*/

.container .rightSection{
	
	float: right;
	background-color: #ddd;
	width: 300px;
	height: 838px
}

.container .rightSection .top{
	
	background-color: #d4805c;
	margin-top: -25px;
	height: 120px
}

.container .rightSection .top .pic{
	
	width: 45px;
	height: 60px;
	margin-top: 25px;
	padding-top: 30px;
	padding-left: 40px
	
	
}

.container .rightSection .top .pic img{
	
	width: 100%;
	border-radius: 50%;
	border: 5px solid #f0a450;
	cursor: pointer
	
}

.container .rightSection .top .pic img:hover{
	
	-webkit-box-shadow: 3px 5px 7px #888888;
}

.container .rightSection .top .info {
	
	margin-top: -50px;
	margin-left: 105px;
	cursor: pointer
	
}

.container .rightSection .top .info .name{
	
	color: #ffd0b5;
	font-weight: 600
}


.container .rightSection .top .info .loc{
	
	color: #e29374;
	font-size: 15px;
	font-weight: 600

}

.container .rightSection .search{
	
	height: 80px;
	background-color: #de845f;
	margin-top: -19px
	
}

.container .rightSection .search h3{
	
	padding: 20px 45px;
	color: #f7a88a;
}


.container .rightSection .search h3 span{
	
	padding-left: 10px;
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 1px;
	
}

.container .rightSection .search h3 span:hover{color: #fff;font-weight: 600}

.container .rightSection .search h3 i{

	font-weight: bolder;
	color: #f7a88a;
	cursor: pointer
}

.container .rightSection .search h3 i:hover{color: #fff;}

.container .rightSection .contact{
	
	height: 468px;
	padding: 40px 45px;
	background-color: #e68d65
}

.container .rightSection .contact .pics{
	
	width: 40px;
	height: 50px;
	margin-bottom: 20px
}

.container .rightSection .contact .pics img{
	
	width: 100%;
	border-radius: 50%;
	cursor: pointer
	
}

.container .rightSection .contact .pics img:hover{

	border: 2px solid #cba8ac;
	-webkit-box-shadow: 3px 5px 7px #888888;
	
}

.container .rightSection .contact p {
	
	width: 190px;
	margin-top:-30px;
	margin-left:60px;
	color: #ffccac;
	cursor: pointer
	
}

.container .rightSection .contact p:hover{
	
	font-weight: 600
}

.container .rightSection .contact p i{
	
	margin-left: 60px;
	color: #fabc41
}


.container .rightSection .contact p #r{
	
	color: #e36163;
	
}


.container .rightSection .contact p #g{
	
	color: #3be847;
}

.container .rightSection .last{
	
	background-color: #dc825d;
	height: 90px
}

.container .rightSection .last .plus i{
	
	text-align: center;
	margin-top: 22px;
	margin-left: 155px;
	color: #ffb28d;
	cursor: pointer
}

.container .rightSection .last .plus i:hover{
	
	font-weight: 600;
	color: #fff
}

/*end right section*/

/*start footer*/
.container .footer{
	
background-color: #d98382;
height: 104px;
	
}

 .social-networks{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
}

 .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #CCC;
    padding: 10px;
    transition: 0.2s;
}

 .social-networks a:hover{
	text-decoration: none;

}

.facebook:hover{
	color:#0077e2;
}

 .google:hover{
	color:#ef1a1a;
}

 .twitter:hover{
	color: #00aced;
}

.footer-copyright{
	background-color: #bf3c5b;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

 .footer-copyright p{
	margin:10px;
	color: #ccc;
}



/*end footer*/