/* Start Main Rulez */

.container {
    width: 1170px;
    margin: auto;
}

.clear-fix {
    clear: both;
}

/* End Main Rulez */


/* Start Header */

.header .slider {
    background-image:url('../images/slider.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
}

.header .slider .intro {color: #FFF;padding-top: 200px;}

.header .slider .intro h2{
    color: #FFF;
    margin: 0 auto;
    font-size: 50px;
    width: 600px;
    border-top: 3px solid#FFF;
    border-bottom: 3px solid#FFF;
    padding: 5px
}

.header .slider .intro button {
    background: none;
    color: #FFF;
    margin: 30px;
    padding: 12px 25px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid#FFF;
}

.header .navbar {background-color: #252f31;color: #FFF;overflow: hidden;}

.header .navbar h2 {color: #FFF}

.header .navbar h2 >span {color: #2ecc71;}

.header .navbar ul {
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: right;
}

.header .navbar ul li {float: left;padding: 10px;}

.header .navbar ul li a {text-decoration: none;color: #FFF}

.header .navbar ul li a.active,
.header .navbar ul li a:hover
{color: #30b576;}

/* End Header */


/* Start Features */

.features {overflow: hidden;padding: 40 0 50 0;}

.features .feat {width: 33.3333%;}

/* End Features */


/* Start About Me */

.about-me {background-color: #f2f2f2;overflow: hidden;}

.about-me .image {width: 40%}

.about-me .image img {width: 92%;height: 500px;padding-top: 12px;}

.about-me .info {overflow: hidden;width: 60%;}

.about-me .info h2 {margin: 40px 0 20px 40px}

.about-me .info > p {margin: 40px 0 20px 40px;}

.about-me .info > p:last-of-type {margin-top: 30px;}

.about-me .info .hobbies {margin: 20px}

.about-me .info .hobbies .content {overflow: hidden;width: 50%}

.about-me .info .hobbies .content .icon {width: 12%;margin-right: 5%}

.about-me .info .hobbies .content .icon i {color: #2dcc70;margin-top: 20px}

.about-me .info .hobbies .content .text {width: 83%}

.about-me .info .hobbies .content .text p {margin-top: 0;}

.about-me .info .hobbies .content .text h3 {margin-bottom: 5px;}

/* End About Me */


/* Start My Skills */

.my-skills {padding-top: 30px;padding-bottom: 50px;overflow: hidden;}

.my-skills .skills,
.my-skills .progress {width: 50%;overflow: hidden;}

.my-skills .skills h2 {margin: 40px 0 20px 40px}

.my-skills .skills > p {margin: 40px 0 20px 40px;}

.my-skills .skills > p:last-of-type {margin-top: 30px;}

.my-skills .skills > button {margin: 30px 0 0 40px;}

.my-skills .progress {width: 50%}

.my-skills .progress .tech {margin-left: 50px;height: 80px}

.my-skills .progress .tech h3 {margin-bottom: 5px;}

.my-skills .progress .tech div {background-color: #f2f2f2;height: 25px;}

.my-skills .progress .tech div span {
    background-color: #2dcc70;
    display: block;
    height: 25px;
    line-height: 25px;
    color: #FFF;
    text-align: right;
    font-weight: bold;
}

.my-skills .progress .progress-bar {min-width: 100%;background-color: aquamarine;}

/* End My Skills */


/* start Resume */

.resume {background-color: #f2f2f2;padding: 50px 0 70px 0;}

.resume p {padding: 0 40px;}

.resume button {margin: 30px 0 0 40px;}

/* End Resume */


/* Start My Education */

.my-education {padding: 30px 0;overflow: hidden;}

.my-education hr {
    margin: 20px 0;
    background-color: #999;
    height: 1px;
    border: 0;
}

.my-education .main{width: 50%;margin-right: 5%;}

.my-education .main h2 {margin: 40px 0 20px 40px;}

.my-education .main > p {margin: 40px 0 20px 40px;}

.my-education .main > p:last-of-type {margin-top: 30px;}

.my-education .exp {width: 45%;}

.my-education .exp h3 {margin-top: 80px;margin-bottom: 10px;}

.my-education .exp span {display: block;margin-bottom: 10px;}

.my-education .exp span:first-of-type{color: #999}

.my-education .exp span:last-of-type{
    color: #FFF;
    background-color: #2dcc70;
    display: inline-block;
    padding: 6px 8px;
}

.my-education .exp hr {
    margin: 20px 0;
    background-color: #999;
    height: 1px;
    border: 0;
}

/* End My Education */


/* start Testimonials */

.testimonials {background-color: #f2f2f2;padding: 50px 0}

.testimonials q {
    color: #999;
    font: italic bold 18px/1.8 Arial, Tahoma;
    padding: 20px;
    padding: 0 40px;
}

.testimonials h3 {margin-bottom: 30px}

.testimonials ul {padding-left: 0;list-style: none;}

.testimonials ul li {
    border: 2px solid#2dcc70;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    display: inline-block;
    cursor: pointer;
}

.testimonials ul li.active,
.testimonials ul li:hover
{ background-color: #2dcc70 }

/* End Testimonials */


/* Start Portfolio  */

.portfolio {padding: 50px 0 70px 0}

.portfolio p {margin-bottom: 30px}

.portfolio .our-work {overflow: hidden;}

.portfolio .our-work >div {float: left;width: 33.3333%;margin-bottom: 10px;}

.portfolio .our-work >div img {
    margin: 10px;
    width: 92%;
    padding: 3px;
    background-color: #FFF;
    border: 1px solid#CCC;
    box-shadow: 10px 10px 12px #CCC;
}

/* End Portfolio  */


/* Start Contact Me */

.contact {
    padding: 30px 0;
    overflow: hidden;
    background-color: #252f31;
    padding: 50px 0 70px;
}

.contact .info {width: 50%;margin-right: 5%;overflow: hidden;}

.contact h2 {color: #FFF;margin-left: 40px}

.contact .info p {margin-left: 40px;}

.contact .info p b {color: #D1D6DA}

.contact .form {width: 45%;overflow: hidden;}

.contact .form label {display: block;color: #D1D6DA;margin: 10px 0;}

.contact .form input[type="text"] {
    background-color: #4B5557;
    border: 0;
    margin-bottom: 10px;
    color: #FFF;
    width: 80%;
    padding: 10px;
}

.contact .form textarea {
    width: 80%;
    height: 300px;
    background-color: #4B5557;
    color: #FFF;
    border: 0;
    padding: 10px;
    margin-bottom: 10px;
    
}

.contact .form input[type="submit"] {
    background-color: #191E22;
    color: #FFF;
    border: 0;
    padding: 10px 20px;
    margin-top: 10px;
}

/* End Contact Me */


/* Start Footer */

.footer {
    padding: 15px 0;
    background-color: #191e22;
    color: #6a6e71;
    overflow: hidden;
}

.footer ul {
    padding-left: 0;
    list-style: none;
    margin: 10px 0 0;
    float: right;
}

.footer ul li {display: inline-block;cursor: pointer;}

.footer ul li.facebook:hover {color: #5373AD}
.footer ul li.twitter:hover {color: #23AAE1}
.footer ul li.linkedin:hover {color: #007FB2}
.footer ul li.google:hover {color: #BC362B}

/* End Footer */




/* Start My Framwork */

p {color: #888;line-height: 1.7}

h2 {color: #777}

h3 {color: #555}

.text-center {text-align: center}

.fl-left {float: left;}

.my-button {
    background: none;
    color: #3d7;
    border: 3px solid#3d7;
    padding: 10px 30px;
    font-weight: bold;
}

/* Start My Framwork */