@media (max-width: 768px) {
    /*global*/
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .col-sm-6 {
        padding: 0;   
    }
    .home-management, .extra-procection, .customer-says, .safety, footer .container,.security-main {
        padding: 20px 0;   
    }
    .global-header .container > .row .price h3 {
        font-size: 20px;
    }
    .global-header .container > .row .price h2 {
        font-size: 80px;   
    }
    .global-header .container > .row .price h2:after {
        font-size: 25px;
    }
    .global-header .container > .row .box {
        position: static;
    }
    .global-header .container > .row .box h3 {
        font-size: 20px;   
    }
    .global-header .container > .row .box .box-content {
        padding-bottom: 10px;
    }
    header .call-us p, .global-header .call-us p, .price-header .call-us p{
        font-size: 13px;
        padding: 5px;
    }
    header .call-us p span, .global-header .call-us p span, .price-header .call-us p span{
        font-size: 15px; 
        display: block;
    }
    .ready-to-learn {
        padding: 5px 0;   
    }
    .ready-to-learn p {
        font-size: 18px;   
    }
    .ready-to-learn p span{
        display: block;
    }
    /*nav*/
    .brand {
        width: 150px;
        padding: 10px;
    }
    .navbar-default {
        padding: 0;   
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color:#6C8DE2; 
    }
    .navbar-default .navbar-toggle {
        border-color: #6C8DE2;   
    }
    .navbar-default .navbar-toggle:focus {
        background-color: #eee;   
    }
    .navbar-default .navbar-nav > li.selected > a:after {
        display: none;
    }


    /*header*/
    header .filter {
        background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
        background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
        background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
        background: -o-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
        background:linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
    }
    header .container h2 {
        font-size: 20px;   
    }
    
    /*why choose us*/
    .why-choose-adt .container .box {
        position: static;
        padding-top: 20px;
    }
    .why-choose-adt .container .box h4 {
        color: #333;
        margin-top: 20px;
    }
    .why-choose-adt .container .box .call {
        bottom: 0;
        padding: 0;
    }
    .why-choose-adt .container .box .phone-number span {
        font-size: 18px;   
    }
    .why-choose-adt .container .box .phone-number {
        width: 100%;
        font-size: 10px;
    }

    .why-choose-adt h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .why-choose-adt h2:after {
        width: 25%;
        left: 37.5%;
    }
    
    /*Home*/
    .home-management h3, .safety h3 {
        font-size: 20px;
    }
    .home-management h3:after, .safety h3:after {
        width:25%;   
    }
    .home-management p, .safety p {
        width: 100%;   
    }
    
    /*extra*/
    .extra-procection h3 {
        font-size: 20px;   
    }
    .extra-procection h3:after {
        width: 25%;
    }
    .extra-procection p {
        width: 100%;   
    }
    .extra-procection span {
        padding: 10px;
        margin-bottom: 20px;
    }
    
    /*customer says*/
    .customer-says h2 {
        font-size: 20px;
    }
    .customer-says h2:after {
        width: 25%;
        left: 37.5%;
    }
    .customer-says i {
        width:50px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        top: 10px;
    }
    .customer-says .slider img {
        width: 100px;   
    }
    .customer-says .slider p {
        margin-top: 70px;   
    }
    
    /*footer*/ 
    footer .container.footer .col-sm-2, footer .container.footer{
        text-align: center;
    }
    footer img {
        margin: auto;
    }
    
    /**************************/
    /*security*/
    .security-main h2 {
        margin: 10px 0;
        font-size: 20px;
    }
    .security-main .call-now span {
        width: 170px;
        font-size: 18px;
    }
    
    /***************************/
    /*equipment*/
    .equipment-main h2 {
        font-size: 20px;   
    }
    .equipment-main img {
        margin: auto;
    }
    .equipment-main .call-now {
        margin: 0;   
    }
    .equipment-main .call-now span {
        margin-left: none;
        font-size: 18px;
        width: 150px;
    }
    .wireless-main h2 {
        font-size: 20px;
        margin: 10px 0;
    }
    .wireless-main li {
        margin: 10px 0;   
    }
    
    
    /************************/
    /*adt-plus-*/
    .adt-pluse{
        padding: 10px 0;   
    }
    .adt-pluse h2 {
        font-size: 20px;   
    }
    .adt-pluse .call-now {
        margin: 0;   
    }
    .adt-pluse .call-now span {
        width: 150px;
        font-size: 18px;
        margin: 0;
    }
    .adt-pluse .nest-features {
        padding: 5px;   
    }
    .adt-pluse .col-sm-1 img {
        width: 30px;
        margin: auto;
        margin-bottom: 5px;
    }
    
    
    /*********************/
    /*Price*/
    .price-header h2 {
        font-size: 20px;
        margin-top: 20%;
    }
    .price-main {
        padding: 10px 0;   
    }
    .price-main h2{
        font-size: 20px;   
    }
    .price-main h3 {
        font-size: 16px;   
    }
    .price-main .table-container .t-header {
        padding: 3%;   
    }
    .price-main .row .col-sm-3 span {
        width: 100%;   
    }
    .price-main .row .features ul li {
        margin: 5px 0;   
    }
    .price-main .row {
        padding: 15px 0;   
    }
    .price-main .row .features p {
        padding-top: 10px;   
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    /*nav*/
    .navbar-default .navbar-nav > li {
        margin: 0;
    }
    .nav>li>a {
        padding: 10px;   
    }
    .navbar-default .navbar-nav > li.selected > a:after {
        bottom: -20px    
    }

}
@media (min-width: 991px) {

}
@media (min-width: 1199px) {
    /*footer*/

}