$mainColorA: #6C8DE2;
$mainColorB: #36F174;
$mainColorC: #333;
$mainColorD:#009edc;
$mainPadding: 40px 0px;
/*global*/
.none {
    display: none;   
}
%transition {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}
.global-header {
    background-image: url(../images/header/secutiry-header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .filter {
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        background-color: rgba(0, 0, 0, 0.32);
        width: 100%;
        height: 100%;
    }
    p {
        color: #FFF;   
    }
    .container > .row {
        position: relative;
        margin-bottom: 10px;
        margin-top: 10px;
        .price {
            background-image: url(../images/header/price-bk.png);
            background-repeat: no-repeat;
            background-size: cover;
            padding:5px;
            text-align: center;
            h3 {
                color: #FFF;
                font-weight: bold;
                font-size: 28px;
            }
            h4 {
                color: #FFF;   
            }
            .title-p {
                font-size: 22px;
                font-style: italic;
            }
            p {
                color: #f9bd16;   
            }
            h2 {
                color: #FFF;
                font-size: 150px;
                position: relative;
                display: inline-block;
                margin: 0;
                &:after {
                    content: "$";
                    position: absolute;
                    top: 0;
                    left: -10px;
                    color: #FFF;
                    font-size: 40px;
                }
            }
        }
        .box {
            position: absolute;
            width: 100%;
            left: 20px;
            right: 0;
            h3 {
                color: #FFF;
                font-size: 28px;
                font-weight: bold;
            }
            .box-content {
                background-image: url(../images/header/box-content-bg.png);
                background-repeat: no-repeat;
                background-size: cover;
                border-top: 9px solid #f9bd16;
                border-bottom: 9px solid #0081E9;
                h2 {
                    color: #f9bd16;
                    font-size: 40px;
                    font-weight: bold;
                    span {
                        color: #FFF;
                        font-weight: normal;
                        position: relative;
                        &:after {
                            position: absolute;
                            width: 90%;
                            content: "";
                            border-top: 7px solid  #f9bd16;
                            left: 10%;
                            top: 40%;
                            transform: rotate(45deg);
                        }
                    }
                }
                p {
                    color: #FFF;
                    margin-top:45px;
                    span {
                        color: #f9bd16;
                        font-weight: bold;
                    }
                }
                .adt {
                    img {
                        margin-top: 15px;   
                    }
                    color: #FFF;
                    p {
                        font-size: 11px;
                        opacity: .8;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
    .call-us {
        background-color:#125eaa;
        box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
        -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
        -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
        -ms-box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
        -o-box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
        position: relative;
        left: 0;
        right: 0;
        z-index: 11;
        p {
            @extend %transition;
            font-size: 18px;
            margin: 0;
            padding: 20px 0;
            text-align: center;
            span {
                font-size: 30px;
            }
            i {
                margin:0 10px;
            }
        }
    }

}
//bootstrap edit
@media (min-width: 1200px) {
    .container {width: 1024px}   
}
//nav
.navbar-default {
    @extend %transition;
    padding: 15px 0;
    background-color: #FFF;
    margin-bottom: 0;
    position: fixed;
    border-radius: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    .logo {
        width: 100px;   
    }
}
.navbar-default .navbar-nav>li>a {
    color: #333;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>li.selected > a {
    @extend %transition;
    color: $mainColorA;
    position: relative;
    &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -16px;
        width: 70%;
        margin: auto;
        left: 15%;
        border-bottom:3px solid $mainColorA;
    }
}
.navbar-default .navbar-nav>li.after > a {
    @extend %transition;
    color: $mainColorA;
    position: relative;
    &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -8px;
        width: 70%;
        margin: auto;
        left: 15%;
        border-bottom:3px solid $mainColorA;
    }
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color:$mainColorA;
    background-color: #FFF;
    
}
.dropdown-menu>li>a{
    @extend %transition;
    &:hover {
        color: $mainColorA;
        background-color: #FFF;
    }
}
.navbar-default .navbar-nav>li {
    margin: 0 10px;
}

//header
header {
    background-image: url('../images/header/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% -4%;
    position: relative;

    .filter {
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left: 0;
        width:100%;
        height:100%;
        background: -webkit-linear-gradient(left, rgba(0,0,0,.6) , rgba(0,0,0,0));
        background: -moz-linear-gradient(left, rgba(0,0,0,.6) , rgba(0,0,0,0));
        background: -ms-linear-gradient(left, rgba(0,0,0,.6) , rgba(0,0,0,0));
        background: -o-linear-gradient(left, rgba(0,0,0,.6) , rgba(0,0,0,0));
        background:linear-gradient(left, rgba(0,0,0,.6) , rgba(0,0,0,0));
    }
    .container {
        position: relative;
        z-index: 2;
        h2 {
            font-weight: bold;
            color: $mainColorB;
            word-spacing: 5px;
            letter-spacing: 2px;
            font-size: 35px;
            padding-top: 20px;
        }
        p {
            color: #FFF;
            text-align: justify;
            padding: 0;
            font-weight: bold;
        }

    }
    .call-us {
        background-color:#125eaa;
        box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
        -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
        -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
        -ms-box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
        -o-box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
        position: relative;
        left: 0;
        right: 0;
        z-index: 11;
        p {
            @extend %transition;
            font-size: 18px;
            margin: 0;
            padding: 20px 0;
            text-align: center;
            span {
                font-size: 30px;
            }
            i {
                margin:0 10px;
            }
        }
    }
}

//why-choose-adt
.why-choose-adt {
    h2 {
        padding-top: 7%;
        position: relative;
        color: $mainColorC;
        margin-bottom: 40px;
        &:after {
            position: absolute;
            width: 5%;
            left: 47.5%;
            border-bottom: 3px solid $mainColorA;
            content: "";
            bottom: -20px;
        }
    }
    .container {
        position: relative;
        .box {
            position: absolute;
            width: 100%;
            left:0;
            right:0;
            top:-140px;
            img {
                margin: auto;
            }
            h4 {
                color: #FFF;
                font-weight: bold;
                font-size: 28px;
            }
            .call {
                position: relative;
                color: #FFF;
                font-size: 18px;
            }
            .phone-number {
                display: inline-block;
                width: 100%;
                border-radius:5px;
                padding: 10px;
                font-weight: bold;
                letter-spacing: 1px;
                background-color: #2bce61;
                box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
                -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
                -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
                -ms-box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
                -o-box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
                &:hover {
                    opacity: .95;   
                }
                i {
                    margin-right: 10px;
                }
                span {
                    font-size: 20px;   
                }
            }
        }
    }
}

//home-management && safety
.home-management, .safety  {
    padding: $mainPadding;
    background-color: #ECF8FF;

    h3 {
        color: $mainColorC;
        position: relative;
        &:after {
            position:absolute;
            content:"";
            width:10%;
            bottom:-20px;
            left: 0;
            border-bottom:3px solid $mainColorA;
        }
    }
    p {
        color: #636668;
        margin-top: 40px;
        line-height:2;
        width: 80%;
    }
    span {
        @extend %transition;
        display:inline-block;
        color:$mainColorA;
        border:2px solid $mainColorA;
        border-radius:5px;
        padding: 10px 20px;
        margin-top: 40px;
        font-weight:bold;
        font-size: 13px;
        text-transform:uppercase;
        cursor: pointer;
        &:hover {
            color: #ECF8FF;
            background-color: $mainColorA;
        }
    }
}

//extra-protection
.extra-procection {
    background-image:url('../images/extra-protection/extra-protection-bg.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFF;
    padding:$mainPadding;
    a{
        color: #FFF;   
    }
    h3 {
        position:relative;
        &:after {
            position:absolute;
            content:"";
            width:10%;
            bottom:-20px;
            left: 0;
            border-bottom:3px solid #FFF;
        }
    }
    p {
        margin-top: 40px;
        line-height: 2;
        font-weight: bold;
        width: 80%;
    }
    span {
        @extend %transition;
        display:inline-block;
        border:2px solid #FFF;
        border-radius:5px;
        padding: 10px 20px;
        margin-top: 40px;
        font-weight:bold;
        font-size: 13px;
        text-transform:uppercase;
        cursor: pointer;
        &:hover {
            color: $mainColorC;
            background-color: #FFF;
        }
    }
    img {
        margin: auto;
    }

}

//customer-says
.customer-says {
    padding:$mainPadding;
    h2 {
        color: $mainColorC;
        position: relative;
        &:after {
            position:absolute;
            content:"";
            width: 5%;
            left: 47.5%;
            bottom:-20px;
            border-bottom:3px solid $mainColorA;
        }
    }
    i {
        @extend %transition;
        height: 100px;
        width: 100px;
        line-height: 100px;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        color: #A0A1A0;
        border:1px solid #A0A1A0;
        position: absolute;
        &:hover {
            color: $mainColorA;
            border:1px solid $mainColorA;
        }
    }
    i.fa-chevron-right {
        right:0;   
    }
    i.fa-chevron-left {
        left:0;   
    }
    .slider {
        margin-top: 80px;
        color: $mainColorC;
        position: relative;
       img {
           margin: auto;
           border-radius: 60px;
           box-shadow: -21px -12px 0px #DBF0EA;
           -webkit-box-shadow: -21px -12px 0px #DBF0EA;
           -moz-box-shadow: -21px -12px 0px #DBF0EA;
           -ms-box-shadow: -21px -12px 0px #DBF0EA;
           -o-box-shadow: -21px -12px 0px #DBF0EA;
       }
        p {
            width: 80%;
            margin: auto;
            color: #636668;
        }
        h3 {
            margin: 20px auto;
            font-size: 20px;
        }
    }
}

//footer
footer {
    background-color: #2F3241;
    .container {
         padding:$mainPadding;
    }
    .container.footer {
        padding: 5px 0;
        p{
            margin: 0;   
        }
        .col-sm-2 {
            text-align: right;
            i {
                color: #FFF;
                @extend %transition;
                margin-right: 10px;
            }
            .fa-facebook:hover {
                color: #3b5998;
            }
            .fa-twitter:hover {
                color: #00aced;
            }
            .fa-instagram:hover {
                color: #bc2a8d;
            }   
        }
    }
    hr{
        border-color: #545A79;
        margin: 5px 0;
    }
    p {
        color: #FFF;
        margin-top: 20px;
        line-height: 2;
    }
    h4 {
        font-weight: bold;
        margin-bottom: 20px;
        color: #FFF;
        text-transform: uppercase;
    }
    a {
        color: #FFF;
        @extend %transition;
        &:hover {
            color: $mainColorA;
            text-decoration: none;
        }
    }
    li {
        margin-bottom: 10px;   
    }
    ul {
        .call-now {
            width: 100%;
            color: $mainColorB;
            border: 1px solid $mainColorB;
            text-align: center;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            @extend %transition;
            &:hover {
                color: #FFF;
                background-color: $mainColorB;
            }
            i {
                font-size: 20px;
                margin-right: 5px;
            }
        }   
    }
}


/***************************************************/
/*security*/
.dont-wait {
    background-color: #ef3e23;
    padding: 20px 0;
    p {
        color: #FFF;
        font-size: 18px;
        margin: 0;
        margin-top: 15px;
        span {
            font-weight: bold;
        }
    }
    a {
        color: #FFF;
        span {
            @extend %transition;
            display: inline-block;
            text-transform: uppercase;
            font-style: italic;
            background-color: #facb48;
            width: 100%;
            padding:15px;
            text-align: center;
            font-weight: bold;
            font-size: 18px;
        }
    }
}
.security-main {
    padding: $mainPadding;
    .row {
        margin-bottom: 60px;   
    }
    h2 {
        color:$mainColorD;
        font-weight: bold;
        margin: 40px 0;
    }
    h4 {
        color:$mainColorD; 
    }
    .col-sm-6 {
        p {
            margin-top: 30px;
        }
    }
    .box {
        img {
            margin-bottom: 20px;   
        }
    }
    .call-now {
        p {
            color: #000;
            font-weight: bold;
            margin-bottom: 20px;
        }
        span {
            @extend %transition;
            text-align: center;
            display: inline-block;
            background-color: #ef3e23;
            color: #FFF;
            padding: 10px 20px;
            width: 250px;
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
            text-transform: uppercase;
            &:hover {
                background-color: #d0290f;
            }
        }
    }
}

/***************************************************/
/*Equipment*/
.ready-to-learn {
    padding: 20px 0;
    background-color: #125eaa;
    p {
        font-size: 22px;
        color: #f9bd16;
        span {
            color:#FFF;   
        }
    }
}
.equipment-main {
    h2 {
        color: $mainColorD;
        font-weight: bold;
        margin: 40px 0;
    }
    .row {
        margin: 40px 0;
        p {
            margin-top: 20px;
        } 
        h3 {
            font-weight: bold;
            color: $mainColorD;
            
        }
    }
    .call-now {
        margin-left: 20px;
        p {
            color: #000;
            font-weight: bold;
            margin-bottom: 20px;
        }
        span {
            @extend %transition;
            text-align: center;
            display: inline-block;
            background-color: #ef3e23;
            color: #FFF;
            padding: 10px 20px;
            width: 250px;
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
            text-transform: uppercase;
            margin-left: 20px;
            &:hover {
                background-color: #d0290f;
            }
        }
    }

}

/***************************************************/
/*wireless*/
.wireless-main {
    h2{
        color: $mainColorD;
        font-weight: bold;
        margin: 40px 0;
    }
    h3, h4 {
        color: $mainColorD;
        font-weight: bold;
    }
    p {
        margin-bottom: 20px;   
    }
    li {
        margin: 20px 0;   
    }
}

/***************************************************/
/*adt-pluse*/
.adt-pluse {
    padding: $mainPadding;
    h2 {
        color:$mainColorD;
        margin:40px 0;
        font-weight: bold;
    }
    p{margin-top: 20px;}
    .call-now {
        margin-left: 20px;
        p {
            color: #000;
            font-weight: bold;
            margin-bottom: 20px;
        }
        span {
            @extend %transition;
            text-align: center;
            display: inline-block;
            background-color: #ef3e23;
            color: #FFF;
            padding: 10px 20px;
            width: 250px;
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
            text-transform: uppercase;
            margin-left: 20px;
            &:hover {
                background-color: #d0290f;
            }
        }
    }
    .mobile {
        p {
            margin: 5px 0;   
        }
        p.small {
            font-size: 10px;   
        }
        h3 {
            margin-top: 60px;
            color: $mainColorD;
            font-weight: bold;
        }
        h4 {
            color: #000;
            font-weight: bold;
        }
        h5 {
            font-weight: bold;
            color: #000;
            font-style:italic;
        }
        i {
            width: 100%;
            display: block;
            margin-top: 6px;
            color: #f58a1e;
        }
    }
    .nest-container {
        margin:40px 0;
        .nest {
            padding: 50px;
            background-color: #125eaa;
            img {
                margin: auto;
            }
        }
    }
    .nest-features {
        background-image: url(../images/adt-pluse/nest-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px 40px;
        h2 {
            margin: 0;
            margin-bottom: 30px;
        }
        p {
            color: #FFF;   
        }
        .row {
            margin-bottom: 20px;
            color: #FFF;
            .col-sm-1 {
                padding: 0;   
            }
            h4 {
                margin: 0;
                font-weight: bold;
                margin-bottom: 10px;
            }
            p {
                margin: 0;   
            }
        }
    }
    li {
        margin: 10px 0;   
    }
    .col-sm-1 {
        img {
            margin: 1px;   
        }
    }

}


/***************************************************/
/*price*/
.price-header {
    background-image: url('../images/header/header-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    .filter {
        position: absolute;
        top: 0;
        left:0;
        bottom:0;
        right:0;
        
        background: -webkit-linear-gradient(left, rgba(0,0,0,.6) , rgba(0,0,0,0));
        background: -moz-linear-gradient(left, rgba(0,0,0,.6) , rgba(0,0,0,0));
        background: -ms-linear-gradient(left, rgba(0,0,0,.6) , rgba(0,0,0,0));
        background: -o-linear-gradient(left, rgba(0,0,0,.6) , rgba(0,0,0,0));
        background:linear-gradient(left, rgba(0,0,0,.6) , rgba(0,0,0,0));
        
        width: 100%;
        height: 100%;
    }
    h2 {
        color: #FFF;
        margin: 20% 5% 10% 5%;
        font-size: 40px;
    }
    .fa-chevron-down {
        margin-top: 5%;
        width: 70px;
        height: 70px;
        line-height: 60px;
        border-radius: 50%;
        border: 4px solid #FFF;
        color: #FFF;
        cursor: pointer;
    }
    .call-us {
        background-color:#125eaa;
        box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
        -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
        -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
        -ms-box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
        -o-box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
        position: relative;
        left: 0;
        right: 0;
        z-index: 11;
        color: #FFF;
        p {
            @extend %transition;
            font-size: 18px;
            margin: 0;
            padding: 20px 0;
            text-align: center;
            span {
                font-size: 30px;
            }
            i {
                margin:0 10px;
            }
        }
    }
}
.price-main {
    .small {
        font-size: 10px;   
    }
    padding: $mainPadding;
    h2,h3 {
        color: $mainColorD;
        font-weight: bold;
    }
    .bold {
        color: #000;
        font-weight: bold;
    }
    .table-container {
        overflow-x: auto;
        overflow-y: hidden;
        max-width: 100%;
        margin-top: 50px;
        img {
            width: 30px;
            margin: auto;
        }
        tr:nth-child(even) {
            background-color: #FFF;
        }
        tr:nth-child(odd) {
            background-color:  #c4c4c4;
        }
        td {
            border: 0;  
        }
        .most-pop {
            background-color: #ef3e23;
            text-transform: uppercase;
            font-weight: bold;
            position: relative;
            font-size: 17px;
            &:after {
                border-width: 10px;
                border-color: #ef3e23 transparent transparent;
                border-style: solid;
                position: absolute;
                bottom: -20px;
                left: 45%;
                content: "";
                z-index: 10;
            }
        }
        td {
            padding: 15px 10px;
            color: #FFF;
            text-align: center;
            width: 200px;
            position: relative;
            &:first-child {
                width: 300px;
                background-color: #FFF;
                
                &:hover .span {
                    right: -360px;

                }
                p {
                    font-weight: bold;
                    text-align: right;
                    color: #000;
                    i {
                        color: #bababa;
                        margin-right: 5px;
                    }
                }
                > .span {
                    transition: all .5s cubic-bezier(0.62,-0.12, 0, 1.15);
                    -webkit-transition: all .5s cubic-bezier(0.62,-0.12, 0, 1.15);
                    -moz-transition: all .5s cubic-bezier(0.62,-0.12, 0, 1.15);
                    -ms-transition: all .5s cubic-bezier(0.62,-0.12, 0, 1.15);
                    -o-transition: all .5s cubic-bezier(0.62,-0.12, 0, 1.15);
                    
                    display: inline-block;
                    text-align: left;
                    border: 2px solid #c4c4c4;
                    padding: 5px;
                    border-radius: 5px;
                    position: absolute;
                    top: -36px;
                    right: 1000px;
                    width: 350px;
                    z-index: 10;
                    background-color: #FFF;

                    h5 {
                        color: $mainColorD;
                    }
                    p {
                        color: #FFF;
                        text-transform: none;
                        font-size: 14px;
                        font-weight: normal;
                        color: #333;
                        text-align: left;
                        position: relative;
                        &:after {
                            content: "";
                            position: absolute;
                            border-width: 10px;
                            border-color: transparent #FFF transparent transparent;
                            border-style: solid;
                            left: -25px;
                            top: 10%;
                        }
                        &:before {
                            content: "";
                            position: absolute;
                            border-width: 12px;
                            border-color: transparent #c4c4c4 transparent transparent;
                            border-style: solid;
                            left: -29px;
                            top: 8.9%;
                        }
                    }
                }
            }

            h5 {
                font-weight: bold;
            }
            p {
                span {
                    font-size: 50px;
                    position: relative;
                    &:after {
                        position: absolute;
                        top: 5px;
                        left: -10px;
                        content: "$";
                        color: #FFF;
                        font-size: 16px;
                    }
                }
            }
            > div {
                margin: 20px auto 0;
                background-color:#ef3e23;
                padding: 5px 10px;
                text-transform: uppercase;
                border-bottom: 4px solid #a92d1a;
                border-radius: 17px;
                font-size: 18px;
                cursor: pointer;
                font-weight: bold;
                &:hover {
                    background-color: #d0290f;   
                }
            }

        }
        .t-header {
            padding: 5%;   
        }

    }
    .table-header {
        font-weight: bold;
        font-size: 18px;
    } 
    
    .row {
        border-bottom: 1px solid #5E6369;
        padding: 40px 0;
        .col-sm-3{
            span{
                width: 80%;
                display: inline-block;
                padding: 10px;
                text-align: center;
                background-color: #5e6369;
                border-radius: 5px;
                color: #FFF;
                cursor: pointer;
                text-transform: uppercase;
                border-bottom: 2px solid #3c3f43;
                
                box-shadow: 0 1px 5px #999;
                -webkit-box-shadow: 0 1px 5px #999;
                -moz-box-shadow: 0 1px 5px #999;
                -o-box-shadow: 0 1px 5px #999;
                -ms-box-shadow: 0 1px 5px #999;
                
                &:hover {
                    opacity: .9;   
                }
            }
            span.active {
                background-color: #f58a1e;
                border-color: #B8570C;
            }
        }
        .col-sm-9 {
            p {
                font-weight: bold;
                color: #f58a1e;
                padding: 10px;
                text-transform: uppercase;
            }
        }
        .features{
            ul {
                display: inline-block;
                li{
                    margin: 20px 0;   
                }
            }
            p {
                color: #125eaa;
                padding-top: 20%;
                font-weight: bold;
            }
            img{
                padding-top: 50%;   
            }
        }

    }
}