/*Start Global*/
*{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
font-family: 'Raleway', sans-serif;
}
body
{
}
/*End Global*/

/*Start My FrameWork*/
.container
{
width:1200px;
margin: auto;
}
.table
{
display: table;
height: 100%;
}
.table-row
{
display: table-row;
}
.hidden
{
display:none
}
.text-center
{
text-align:center
}
.upper
{
text-transform: uppercase;
}
.main-color
{
color:#eb1414
}
.main-background
{
background-color:#eb1414
}
/*End My FrameWork*/


/*Start Header*/
.header
{
background:url("../image/slider.jpg");
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
color:#FFF;
}
.header .overlay
{
background:rgba(49, 55, 61, .7);
width:100%;
height: 100%
}
.header .navbar 
{
overflow:hidden;
padding: 20px 0;
}
.header .navbar span
{
font-size: 20px;
}
.header .navbar .links
{
float:right;
}
.header .navbar .links i
{
margin-left:5px
}
.header .navbar .links:hover
{
color:#eb1414;
cursor:pointer;
	
}
.header .intro h1
{
margin:0;
font-size:50px;
font-weight: 700px;
}
.header .intro p
{
line-height: 1.8;
font-size: 20px;
margin-bottom: 50px;
}
.header .buttons button
{
color: #FFF;
background: transparent;
padding: 7px 0;
margin: 0 8px 30px 0;
width: 170px;
font-size: 14px;
border: 1px solid #848181;
border-radius: 10px;
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}
.header .buttons button:hover
{
cursor: pointer;
color:#FFF;
border: 1px solid #eb1414;
background:#eb1414
}
.header  .arrow
{
position: relative;
margin-bottom:40px;
text-align: center;
display:block;
margin-right: 50px;
}
.header .arrow i 
{
position: absolute;
bottom:0;
left:50%;
text-align: center;
padding:13px;
font-size: 40px;
border-radius: 50%;
-webkit-animation: down 3s infinite ease-in-out ;
-moz-animation: down 3s infinite ease-in-out ;
-o-animation: down 3s infinite ease-in-out ;
animation: down 3s infinite ease-in-out ;
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}
.header  .arrow i:hover
{
color:#eb1414;
cursor: pointer;
}

@keyframes down
{
	0%,100%{
		margin-bottom:50px;
	}
	25%{
		margin-bottom:30px
	}
	50%{
		margin-bottom: 20px
	}
	75%{
		margin-bottom: 10px
	}
}
/*End Header*/

/*Start Features*/
.feat
{
overflow:hidden;
width:100%;
margin: 40px 0; 
}
.feat .box 
{
float:left;
width:25%;

}
.feat .box i
{
font-size:50px;
color:#e51e1e;
border:1px solid #CCC;
border-radius:50%;
transition: all .5s ease-in-out;
width: 120px;
height: 120px;
line-height: 120px
}
.feat .box i:nth-of-type(3)
{
margin: 0;
padding:70px;
}
.feat .box i:hover
{
cursor:pointer;
color:#FFF;
border:1px solid #e51e1e;
background-color:#e51e1e
}
.feat .box p
{
line-height: 1.9;
color:#888;
}
/*End Features*/

/*Start subscribe*/
.subs
{
margin-top: 70px;
background: url('../image/subscribe.jpg');
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
color:#FFF;
height:233px;

}
.subs .overlay
{
background:rgba(49, 55, 61, .7);
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
width: 100%;
height: 100%;

}
.subs form
{
padding:70px 0;
}
.subs form input
{
margin: 0 20px;
width:350px;
padding:10px 7px;
border:1px solid #CCC;
border-radius: 15px;

}
.subs form button
{
color: #FFF;
background: transparent;
padding: 10px 7px;
margin: 0 8px 30px 0;
width: 200px;
font-size: 14px;
border: 1px solid #848181;
border-radius: 10px;
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}
.subs form button:hover
{
cursor: pointer;
color:#FFF;
border: 1px solid #eb1414;
background:#eb1414
}
.subs .face
{
width:300px;
height:75px;
margin: auto;
position: relative;
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
transform-style:preserve-3d;
perspective:400px;
}
.subs .face:hover
{
-webkit-transform:rotateX(180deg);
-moz-transform:rotateX(180deg);
-o-transform:rotateX(180deg);
transform:rotateX(180deg);
cursor:pointer;
}
.subs .face > div
{
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
color:#FFF;
text-align: center
}
.subs .front
{
z-index:2;
backface-visibility:hidden;
line-height: 75px;
font-size: 25px;
}
.subs .front:hover,
.subs .back:hover
{
color:#eb1414;
}
.subs .back
{
z-index:1;
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
line-height:100px;
-webkit-transform:rotateX(180deg);
-moz-transform:rotateX(180deg);
-o-transform:rotateX(180deg);
transform:rotateX(180deg);
}
/*End Subscribe*/

/*Start Our-Work*/
.our-work {
}
.our-work h2
{
padding-top:60px;
font-size: 30px;
font-weight: bold;
}
.our-work p
{
color:#757575;
line-height: 1.7;
font-size: 20px;
}
.our-work .box-work .overflow
{
overflow: hidden;
}
.our-work .box-work
{
width:30%;
height:350px;
margin: auto;
position: relative;
-webkit-transition: all 2s ease-in-out;
-moz-transition: all 2s ease-in-out;
-o-transition: all 2s ease-in-out;
transition: all 2s ease-in-out;
-webkit-transform-style:preserve-3d;
-moz-transform-style:preserve-3d;
-o-transform-style:preserve-3d;
transform-style:preserve-3d;
-webkit-perspective:400px;
-moz-perspective:400px;
-o-perspective:400px;
perspective:400px;
float: left;
margin:10px;
}
.our-work .box-work front1
{
}
.our-work .box-work:hover
{
-webkit-transform:rotateY(180deg);
-moz-transform:rotateY(180deg);
-o-transform:rotateY(180deg);
transform:rotateY(180deg);
}

.our-work .box-work img
{
width:370px;
height:350px;
padding:5px;
border:1px solid #CCC;
border-radius:20px;
}
.our-work .box-work > div
{
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
text-align: center;
}

.our-work .box-work .front1
{
z-index:2;
backface-visibility:hidden;
line-height: 75px;
font-size: 25px;
}

.our-work .box-work .back1
{
z-index:1;
-webkit-backface-visibility:hidden;
-moz-backface-visibility:hidden;
-o-backface-visibility:hidden;
backface-visibility:hidden;
-webkit-transform:rotateY(180deg);
-moz-transform:rotateY(180deg);
-o-transform:rotateY(180deg);
transform:rotateY(180deg);
background-color:rgba(235, 20, 20, 0.9);
color:#FFF;
padding:30px;
border:2px solid #ccc;
border-radius:20px;


}
.our-work .box-work .back1 h4
{
font-size: 30px;
font-weight:bold
}
.our-work .box-work .back1 p
{
line-height: 1.8;
color:#EEE;
font-size:14px;
margin-bottom: 40px;
}
.our-work .back1 button
{
color: #FFF;
background: transparent;
padding: 10px 7px;
margin: 0 8px 30px 0;
width:170px;
font-size: 20px;
border: 1px solid #FFF;
border-radius: 10px;
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}
.our-work .back1 button:hover
{
cursor: pointer;
color:#eb1414;
border: 1px solid #FFF;
background:#FFF
}
.our-work .showhidden
{
color: #eb1414;
background: transparent;
padding: 10px 7px;
margin: 0 8px 30px 0;
width:170px;
font-size: 20px;
border: 1px solid #ccc;
border-radius: 10px;
margin-top: 20px;
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
	
}
.our-work  .showhidden:hover
{
cursor: pointer;
color:#FFF;
border: 1px solid #eb1414;
background:#eb1414
}
/*End Our-Work*/

/*Start testimonials*/
.testim
{
background:url("../image/testimonials.png");
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
height:400px;
color:#CCC;
position:relative;
}
.testim .overlay
{
background:rgba(49, 55, 61, .8);
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
width: 100%;
height: 100%;
}
.testim .overlay img
{
margin-top:40px;
border-radius:50%;
padding:3px;
border:1px solid #ccc
}
.testim .overlay q
{
display: block;
line-height: 2;
margin:20px auto;
font-size: 22px;
}
.testim .overlay span
{
font-size:28px;
color:#eb1414;
font-weight:bold
}
.testim .fa-chevron-right ,
.testim .fa-chevron-left
{
position:absolute;
top:50%;
-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;	
}
.testim .fa-chevron-left
{
left:150px;
}
.testim .fa-chevron-right
{
right:150px;
}
.testim .fa-chevron-right:hover,
.testim .fa-chevron-left:hover
{
color:#eb1414;
cursor:pointer;
}

/*End Testimonials*/


/*Start Our-team*/
.our-team
{
overflow: hidden;


}
.our-team h2
{
font-size: 35px;
margin:50px 0 30px ;
}
.our-team p
{
color:#666;
line-height: 1.9;
margin-bottom: 30px
}
.our-team .team
{
overflow: hidden;
}
.our-team .team .person
{
float:left;
width:24%;
margin-left: 1%;
color:#888;
}
.our-team .team .person:hover img {
filter: none;
-webkit-filter: grayscale(0)
}

.our-team .team .person:hover {
color: #555
}

.our-team .team .person:hover .fa-facebook {
background-color: #3b5998;
cursor: pointer
}

.our-team .team .person:hover .fa-twitter {
background-color: #55acee;
cursor: pointer

}

.our-team .team .person:hover .fa-google-plus {
background-color: #dc4e41;
cursor: pointer

}
.our-team .team img
{
width:265px;
height: 290;
filter: gray;
filter: grayscale(1);
-webkit-filter: grayscale(1);
-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
}
.our-team .team .person h2
{
font-size:25px;
margin-top: 10px
}
 .our-team .team .person .social i
{
background:#888;
width: 34px;
height: 34px;
line-height: 34px;
border-radius: 50%;
color: #FFF;
-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
}
/*End Our-team*/

/*Start Contact*/
.Contact
{
margin-top: 50px;
background:url('../image/city.png');
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
color:#fff;
height:650px;
}
.Contact .overlay
{
background:rgba(49, 55, 61, .9);
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
width:100%;
height: 100%
}
.Contact h2
{
padding:50px 0 40px;
font-size: 30px;
}
.Contact p
{
padding-bottom: 30px;
line-height: 1.5;
font-size:20px;
}
.contact form 
{
width: 700px;
margin: 50px auto;
text-align: center;
overflow: hidden;
}
.Contact  form input
{
width:350px;
padding:13px 15px;
border-radius:18px;
margin-left:10px;
}
.Contact form textarea
{
display:block;
margin:30px auto;
width:711px;
border-radius: 22px;
padding: 15px;

}
.Contact form .info
{
padding: 10px;
width: 250px;
background: transparent;
color: #eb1414;
border-radius: 16px;
font-size: 20px;
margin-right: 457px;
border:1px solid #ccc;
-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
}
.Contact form .info:hover
{
color:#fff;
background-color:#eb1414;
border-radius: 16px;
border:1px solid #eb1414;
cursor: pointer;
}
input:hover
{
border:1px solid #eb1414
}
/*End Contact

/*Start footer*/
.footer
{
background-color:#3b434c;
color:#FFF;
overflow: hidden;
padding: 30px 0;
}
.footer .copyright
{
float: left;
}
.footer .design
{
float: right;
}
.footer .design .main-color,
.footer .copyright .main-color
{
font-weight: bold;
font-size: 20px;
}
/*End Footer*/