#header{
	background-color: #FA3D9A;
	margin-left: -10px;
	margin-top: -50px;
	color: #fff;
	font-family: 'Bree Serif', serif;
	padding-left: 1em;
	font-size: 2em;
}
#header h1{
	font-size: 2.2em;
}
#header h2{
	margin-top: -1em;
	font-style: italic;
	padding-left: 1.1em;
}
.socialMedia ul li {
	display: inline;
	float: right;
}
.socialMedia img{
	width: 70px;
	margin-top: -30px;
	
}
.socialMedia img:hover{
	opacity: 0.8;
	
}
.wrap img{
	margin-top: -5px;
	margin-left: -2px;
	width:400px;
}
.wrap ul{
	display: inline;
	margin-left: 3px;
}
.wrap ul li{
	list-style: none;
	float: left;
	margin-left: 3px;

}
.wrap ul li:nth-child(2){
	margin-left: 1%;
	font-size: 8em;
	color: #94675F;
	font-family: 'Bree Serif', serif;
	font-family: 'Satisfy', cursive;
	margin-bottom: -5%;
}
.wrap ul li:nth-child(3){
	margin-top: 12%;
	margin-left: -13%;
	font-size: 3em;
	color: #94675F;
	font-family: 'Bree Serif', serif;
	font-family: 'Satisfy', cursive;
}

.images tr td a img{
	
	width: 200px;
	padding-right: 5px;
	text-align: center;
	
}
.images img:hover{
	opacity: 0.8;
}
footer{
	text-align: center;
	background-color: #e3e3e3;
	margin-top: 150px; 
}
/*******************************************************************************
			About me page
********************************************************************************/
h3{
	text-align: center;
	font-size: 60px;
	font-family: sans-serif;
	color: #94675F;
	font-family: 'Bree Serif', serif;
	font-family: 'Satisfy', cursive;
	text-decorationn: : underline;
}	
.aboutMePageImage  img{
	width:20%;
	margin-top: -100px;
	border-radius: 10%;
	margin-left: 70px;

}
.aboutMePageImage ul{
	vertical-align: top;
	 width: 50%;
	 float: right;
}

.aboutMePageImage li{
		
		list-style: none;
		padding-left: 20px;
		font-family: sans-serif;
		font-size: 20px;
		margin-left: -270px;

}
/************************************************************************************
					EXPERIENCE PAGE
************************************************************************************/

.experince ul{
	display: inline;

}
.experince ul li{
	list-style: none;
	float: left;
	font-family: sans-serif;
	font-size: 30px;
	padding-right: 60px;
}
.experince ul a{
	text-decoration: none;
	color: #94675F;
}
.experince ul a:hover{
	text-decoration: underline;
	}
/*********************************************************************************
					Places
**********************************************************************************/
blockquote{
	
	font-size: 20px;
	font-family: sans-serif;
	color: #332445;
}
.Places img{
	margin-left: 130px;
	width: 60%;
}
.Places p{
	color: #94675F;
	font-family: 'Bree Serif', serif;
	font-family: 'Satisfy', cursive;
	font-size: 30px;
	text-decoration: underline;
}
.Places ul{
	display: inline;

}
.Places ul li{
	list-style: none;
	float: left;
	font-family: sans-serif;
	font-size: 20px;
	padding-right: 15px;
	margin-bottom: 15px;
	margin-left: 20px;
}
.Places ul a{
	text-decoration: none;
	color: #663aa5;
	}
.Places ul a:hover{
	text-decoration: underline;
	
	}
/****************************************************************************
						Activites
******************************************************************************/
#act{

	color: #94675F;
	font-family: sans-serif;
	font-size: 30px;
	text-decoration: underline;
}
.ul_act li{

	font-size: 19px;
	font-family: sans-serif;
}
#colors img{
	margin-top: -250px;
	width: 900px;
	float: right;
}
#books a{
	text-decoration: none;
	font-size: 19px;
		color: #94675F;
	font-family: sans-serif;
}
#books a:hover{
	text-decoration: underline;
}
.Books_page ul{
	text-align: center;
}
.Books_page ul li{
	display: inline;
	padding-right: 10px;

}
.Books_page img{
	width: 200px;
}
