body{
    padding-top:60px
}
.navbar-inverse{
    background-color:#f28858
}
.navbar{
    border-radius:0;
    border:none;
    min-height:65px
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
    background-color:#FFF;
    color:#f28858
}
.navbar-inverse .navbar-nav > li > a{
    color:#FFF;
    line-height:35px
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand{
    font-size:25px;
    padding:22px 15px;
    color:#A17450
}
.navbar-toggle{
    border:none;
    border-radius:0
}
.navbar-brand span{
    color:#FFF
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form{
    border:none
}



.img-responsive, .thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
    min-width:100%
}
.carousel-indicators .active{
    background-color:#f28858
}
.carousel-indicators li{
    border:1px solid #f28858
}
.carousel-caption{
    bottom:160px
}
.item h1, .h1{
    font-size:50px;
    color:#f28858;
    font-weight:800
}
.item .btn{
    font-weight:600;
    font-size:20px;
    padding:15px 30px;
    margin-top:30px;
    background-color:#77a1a0;
    border-bottom:5px solid #576f6f;
}



.service{
    padding:30px 0
}
.service h1{
    color:#f28858;
    font-weight:700
}
.service p{
    color:#938F8F;
    font-size:17px
}


.feet img{
    border:5px solid #f28858;
    padding:30px;
    width:180px
}
.feet h3{
    color:#f28858;
    font-size:20px;
    font-weight:bold
}
.feet p{
    color:#938F8F;
    line-height:1.1
}
.feet .btn{
    background-color:#77a1a0;
    border:none;
    border-radius:0;
    border-bottom:3px solid #576f6f;
    padding:5px 10px;
    margin-bottom:20px
}
.feet .glyphicon-chevron-left:before,
.feet .glyphicon-chevron-right:before{
    background-color:#5E7F7E;
    padding:10px;
    color:#3D3D3D;
    font-size:15px
}



.service .btn{
    background-color:#f28858;
    margin-right:10px;
    border:none;
    border-radius:0
}


.feet2 img{
    width:200px;
    padding:56px;
    background-color:#77a1a0;
    border:8px solid #576f6f;
}
.feet2 p{
    color:#f28858;
    margin:20px 0 50px 0;
    font-size:15px
}