
body{
      font-family: "JF Flat Regular";
      
     
      /*color: rgba(221, 89, 11, 0.92)*/

}
  @font-face {
    font-family: "JF Flat Regular";
    src: url('../fonts/JF-Flat-regular.eot');
    src: url('../fonts/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
    url('../fonts/JF-Flat-regular.woff') format('woff'),
    url('../fonts/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink

}
::-moz-placeholder { /* Firefox 19+ */
  color: pink

}
:-ms-input-placeholder { /* IE 10+ */
  color: pink

}
:-moz-placeholder { /* Firefox 18- */
  color: pink

}
 /*start section 1*/
 .about{text-align: center;}
.about img {
    width: 150px;
    margin-bottom: -26px;
    transition: 0.7s
}
.about img:hover{opacity: 0.6}
.about .play {
    background-color: rgb(255, 20, 147);
    padding: 3px;
    color: #fff;
    border-radius: 5px;
}


.about .info {margin: auto;width: 270px}

 .formlog
 {
    height: 540px;
    width: 300px;
    border: 0;
    border-radius: 5px;
    margin: 50px auto;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.formlogo .header{
    margin-left: 167px;
}
 .formlog .logo{text-align: center;}
 
 .formlog .main{
    width: 94px;
    margin-top: 23px;
    transition: 0.7s
}
.formlog .main:hover{opacity: 0.4}
 .formlog .main2 {
    width: 94px;
    margin-top: 23px;
    transition: 0.7s
}
 .formlog .main2:hover {
    transform: rotate(360deg);
}
 .formlog p{
    padding-bottom: 60px;
}
 .formlog input[type="text"],input[type="password"]{
    border: 0;
    border-bottom: 1px solid #ff1493;
    padding: 9px;
    text-indent: 13px;
    width: 264px;
    margin-left: 17px;
    outline: none;
    color: #ff1493;
    display: block;
    background:none;
}
 .formlog .glyphicon-user{color: #ff1493;
    position: absolute;
    margin-left: 21px;
    top: 332px;
}
 .formlog .glyphicon-lock {
    color: #ff1493;
    position: absolute;
    margin-left: 21px;
    top: 372px;
}
 .formlog input[type=checkbox]:hover {
    box-shadow: 0px 0px 10px #ff1493;
}
 .formlog input[type=checkbox] {
 
    -webkit-appearance: button;
    border: double 1px #ff1493;
    background-color: #ffffff;
    color: #ff1493;
    white-space: nowrap;
    overflow: hidden;
    width: 10px;
    height: 10px;
    margin-left: 20px;
    margin-top: 16px;
}
 .formlog input[type=checkbox]:checked {
    background-color: #ff1493;
   outline: none;
    }

 .formlog span {
    color: #ff1493;
    margin-left: 7px;
}
 .formlog button {
    display: block;
    /* margin-top: 12px; */
    margin: auto;
    margin-top: 13px;
    width: 251px;
    padding: 10px;
    font-family: sans-serif;
    border: 0;
    color: #fff;
    background: rgba(255, 0, 120, 0.51);
    transition: 0.5s;
    border-radius: 5px
}

