@media(max-width:767px)
{
    .navbar-header
    {
        padding-bottom:8px
    } 
    
    .navbar-inverse .navbar-toggle
    {
        margin-top: 19px
    }
    
    .main-header .header h2
    {
        font-size: 25px
    }
    
    .main-header .header button
    {
        padding: 10px 50px;
    }
}