*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    transition: all .3s ease-in-out;
}
.header
{
    text-align: center;
    width: 100%;
    background: #07162e;
    height: 50px;
}
.FB, .Y
{
    text-align: center;
    line-height: 35px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #FFF;
    float: right;
    margin: 5px;
}
.FB:hover , .Y:hover
{
    border: 3px solid #fff;
}
.FB
{
    background: #00f;
}
.Y
{
    background: #f00;
}
.header input
{
    padding:5px;
    float: left;
    margin: 10px;
    height: 80pz;
    width: 130px;
    border-radius: 10px;
    outline: none;
}

/**************start navbar*************/

.fatherul
{
    z-index: 9999;
    width: 100%;
    background: rgba(80, 170, 76, 0.6);
    text-align: center;
    margin: 0 auto;
    position: relative;
}
.fatherul li
{
    display: inline-block;
    margin: 5px 30px;
}
li
{
    display: block;
}
li:hover
{
    background: rgba(80, 170, 76, 0.8);
   /* border-radius: 10px 10px 0px 0px;*/
}
a
{
    text-decoration: none;
    font-size: 30px ;
    color: #fff;
}
a:hover
{
    color: #0ff;
}
.sonul1, .sonul2, .sonul3 ,.freeul ,.buyul ,.saleul
{
    width: 150px;
    display: none;
    background: rgba(80, 170, 76, 0.6);
    text-align: center;
    margin: 0px auto;
    position: absolute;
    /*border-radius: 0px 10px 10px;*/
}
.sonul1 li, .sonul2 li, .sonul3 li,.freeul li,.buyul li,.saleul li
{
    width: 100%;
    margin: 10px 0px;
    display: block;
    padding: 5px;
}
.sonul3 li:hover 
{
    /*border-radius: 10px 0 0 10px;*/
}
.son1:hover .sonul1
{
    display: block;
}
.son2:hover .sonul2
{
    display: block;
}
.son3:hover .sonul3
{
    display: block;
}
.freeli:hover .freeul
{
    display: block;
}
.buyli:hover .buyul
{
    display: block;
}
.saleli:hover .saleul
{
    display: block;
}
.freeul ,.buyul ,.saleul
{
    width: 100px;
    left: 150px;
    /*border-radius: 0 10px 10px;*/
    background: rgba(80, 170, 76, 0.6);
}
.freeul
{
    top: 0px;
}
.buyul
{
    top: 54px
}
.saleul
{
    top: 108px;
}
/*******************end navbar*****************/
.body
{
    z-index: 1;
    width: 100%;
    height: 800px;;  
    background: url('1.jpg') no-repeat;
    background-size: cover;
    animation: bg 9s infinite;
/*    -webkit-clip-path: polygon(50% 0%,  0% 100%, 100% 100%);
clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
*/
}
/***********contact us***********/
.footer
{
    text-align: center;
    width: 100%;
    background:  #000;
    padding: 20px;
    border-top: 5px solid rgba(85, 255, 126, 0.62);
}
.footer h2
{
    text-align: center;
    color:#fff;
}
label
{
    color: rgba(85, 255, 126, 0.62);
    font-size: 20px;
}
.name, .email
{
    width:20%;
    height:30px;
    border: 0px;
    border-bottom: 3px solid rgba(85, 255, 126, 0.62);
    margin: 4px;
    background:  #000;
    color: #fff;
    outline:none;
}
.msg
{
    width:20%;
    height:100px;
    border: 0px 10px 10px 0px;
    border-color: rgba(85, 255, 126, 0.62);
    margin: 4px;
    overflow: scroll;
    resize:none;
}
form span
{
    color: rgba(85, 255, 126, 0.62);
    font-size: 20px;
}
.send
{
    color:#080;
    background-color: #fff;
    border:3px solid #FFF;
    width:80px;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}
.send:hover
{
    color:#fff;
    background: #080;
}
@keyframes bg{
    0%{
        background: url('1.jpg') no-repeat;
        background-size: cover;
    }
    50%
    {
        background: url('2.jpg') no-repeat;
        background-size: cover;
    }
    100%{
        background: url('3.jpg') no-repeat;
        background-size: cover;
    }
}