*{
    box-sizing:border-box;
    -o-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    padding:0px;
    margin:0px;
}
.header{
    position:relative;
    width:100%;
    height:auto;
    background:#6ed3cf;
}
.header canvas{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.header .header-contact .logo img{
    display:block;
    margin-top:60px;
}
.header .header-contact {
    text-align:center;
}
.header .header-contact .contact-1{
    text-align:center;
    display:inline-block;
    margin-right:26px;
}
.header .header-contact .contact-1 a{
    display:inline-block;
    position:relative;
   /* z-index:9999;*/
    margin-top:71px;
    color:#fff;
    font-size:14px;
    font-family: 'Exo 2', sans-serif;
    font-weight:bold;
    text-decoration:none;
    cursor:pointer;
    margin-bottom:140px;
    transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -webkit-transition:all .3s ease-in-out;
}
.header .header-contact .contact-1 a:hover{
    color:#31292a;
}
.header .header-contact .contact-1 a:hover i{
    color:#9068be;
}
.header .header-contact .contact-1 a i{
    font-size:18px;
    position:relative;
    top:2px;
    margin-right:12px;
}
.header .header-content .post{
    text-align:center;
}
.header .header-content .post h4{
    font-family: 'Exo 2', sans-serif;
    font-weight:bold;
    margin-top:0px;
    font-size:36px;
    color:#fff;
    margin-bottom:15px;
}
.header .header-content .post h3{
    font-family: 'Exo 2', sans-serif;
    font-weight:normal;
    font-size:20px;
    color:#fff;
    margin-top:0px;
    margin-bottom:30px;
}
.header .header-content .post h5{
    font-family: 'Exo 2', sans-serif;
    font-weight:normal;
    margin-top:0px;
    font-size:18px;
    color:#fff;
    margin-bottom:5px;
}
.header .header-content .post p{
    font-family: 'Exo 2', sans-serif;
    font-weight:normal;
    margin-top:0px;
    font-size:18px;
    color:#fff;
    margin-bottom:35px;
}
.header .header-content .post .icons a{
    display:inline-block;
    position:relative;
    z-index:9999;
    width:50px;
    height:50px;
    border:2px solid #fff;
    line-height:50px;
    margin-right:10px;
    background:transparent;
    font-size:18px;
    color:#fff;
    border-radius:50%;
    -o-border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    outline:none;
}
.header .header-content .post .icons a:hover{
    background:#fff;
    color:#6ed3cf;
}
.header .header-content .post .icons .last{
   margin-left:-6px;
}
.header .img-div img{
    position:relative;
    bottom:-101px;
    margin-top:-80px;
    max-width:100%;
}
.header .up-down-div{
    text-align:center;
     position:relative;
}
.header .up-down-div i{
    position:relative;
    display:inline-block;
   /* position:relative;
    z-index:9999;*/
    cursor:pointer;
    font-size:40px;
    margin-bottom:45px;
    color:#fff;
    animation:up-down 1s infinite ease-in-out;
    -o-animation:up-down 1s infinite ease-in-out;
    -moz-animation:up-down 1s infinite ease-in-out;
    -webkit-animation:up-down 1s infinite ease-in-out;
}
@keyframes up-down{
    0%,100%{
        transform:translateY(-5px);
        -o-transform:translateY(-5px);
        -moz-transform:translateY(-5px);
        -webkit-transform:translateY(-5px);
    }
    65%{
        transform:translateY(2px);
        -o-transform:translateY(2px);
        -moz-transform:translateY(2px);
        -webkit-transform:translateY(2px);
    }
}
@-o-keyframes up-down{
    0%,100%{
        transform:translateY(-5px);
        -o-transform:translateY(-5px);
        -moz-transform:translateY(-5px);
        -webkit-transform:translateY(-5px);
    }
    65%{
        transform:translateY(2px);
        -o-transform:translateY(2px);
        -moz-transform:translateY(2px);
        -webkit-transform:translateY(2px);
    }
}
@-moz-keyframes up-down{
    0%,100%{
        transform:translateY(-5px);
        -o-transform:translateY(-5px);
        -moz-transform:translateY(-5px);
        -webkit-transform:translateY(-5px);
    }
    65%{
        transform:translateY(2px);
        -o-transform:translateY(2px);
        -moz-transform:translateY(2px);
        -webkit-transform:translateY(2px);
    }
}
@-webkit-keyframes up-down{
    0%,100%{
        transform:translateY(-5px);
        -o-transform:translateY(-5px);
        -moz-transform:translateY(-5px);
        -webkit-transform:translateY(-5px);
    }
    65%{
        transform:translateY(2px);
        -o-transform:translateY(2px);
        -moz-transform:translateY(2px);
        -webkit-transform:translateY(2px);
    }
}
.service{
    position:relative;
    width:100%;
    height:auto;
    background:none;
}
.service .service-title{
    text-align:center;
}
.service .service-title h4{
    display:inline-block;
    margin-top:80px;
    font-family: 'Exo 2', sans-serif;
    font-weight:bold;
    font-size:30px;
    color:#2f2c2c;
    margin-bottom:15px;
}
.service .service-title p{
    display:block;
    margin-top:0px;
    font-family: 'Exo 2', sans-serif;
    font-weight:normal;
    margin-bottom:80px;
    font-size:16px;
    color:#4e4848;
}
.service .serv-1{
    text-align:center;
}
.service .serv-1 img{
    display:block;
    margin-right:auto;
    margin-left:auto;
    margin-top:0px;
    max-width:100%;
    margin-bottom:25px;
}
.service .serv-1 h4{
    font-family: 'Exo 2', sans-serif;
    font-weight:bold;
    margin-top:0px;
    font-size:18px;
    color:#2f2c2c;
    margin-bottom:80px;
}
.disease-sec{
    position:relative;
    width:100%;
    height:auto;
    background:#e1e8f0;
}
.disease-sec .disease-title{
    text-align:center;
}
.disease-sec .disease-title h4{
    display:inline-block;
    margin-top:80px;
    font-family: 'Exo 2', sans-serif;
    font-weight:bold;
    font-size:30px;
    color:#2f2c2c;
    margin-bottom:15px;
}
.disease-sec .disease-title p{
    display:block;
    margin-top:0px;
    font-family: 'Exo 2', sans-serif;
    font-weight:normal;
    margin-bottom:80px;
    font-size:16px;
    color:#4e4848;
}
.disease-sec .disease-img img{
    display:block;
    margin-right:auto;
    margin-left:auto;
    max-width:100%;
    margin-top:0px;
    margin-bottom:60px;
}
.disease-sec .disease-post h4{
    font-family: 'Exo 2', sans-serif;
    font-weight:bold;
    font-size:18px;
    margin-top:15px;
    color:#301208;
    margin-bottom:18px;
}
.disease-sec .disease-post p{
    font-family: 'Exo 2', sans-serif;
    font-weight:normal;
    font-size:16px;
}
.rates-sec{
    position:relative;
    width:100%;
    height:auto;
    background:none;
}
.rates-sec .rates-title{
    text-align:center;
}
.rates-sec .rates-title h4{
    display:inline-block;
    margin-top:80px;
    font-family: 'Exo 2', sans-serif;
    font-weight:bold;
    font-size:30px;
    color:#2f2c2c;
    margin-bottom:80px;
}
.rates-sec .table-sec{
    display:block;
    width:500px;
    height:auto;
    max-width:100%;
    background:#2980b9;
    cursor:pointer;
    margin-right:auto;
    margin-left:auto;
}
.rates-sec .table-sec .table-1{
    position:relative;
    margin-bottom:100px;
    width:50%;
    float:left;
    background:#2980b9;
    text-align:center;
    box-shadow:6px 6px 0px 0px rgba(0,0,0,.3);
    -o-box-shadow:6px 6px 0px 0px rgba(0,0,0,.3);
    -moz-box-shadow:6px 6px 0px 0px rgba(0,0,0,.3);
    -webkit-box-shadow:6px 6px 0px 0px rgba(0,0,0,.3);
}
.rates-sec .table-sec .table-1 h3{
    color:#fff;
    font-family: 'Exo 2', sans-serif;
    font-weight:bold;
    font-size:18px;
    padding-top:12px;
    padding-bottom:12px;
    margin:0px;
    width:100%;
    border-bottom:2px solid #fff;
}
.rates-sec .table-sec .table-1 ul{
    list-style:none;
    color:#fff;
    margin:0px;
}
.rates-sec .table-sec .table-1 ul li{
    font-family: 'Exo 2', sans-serif;
    font-weight:bold;
    font-size:18px;
    padding-top:10px;
    padding-bottom:10px;
    width:100%;
}
.rates-sec .rates-post-2{
    text-align:center;
}
.rates-sec .rates-post-2 h4{
    font-family: 'Exo 2', sans-serif;
    font-weight:bold;
    font-size:30px;
    color:#d234a4;
    margin-top:45px;
    margin-bottom:35px;
}
.rates-sec .rates-post-2 h5{
    font-family: 'Exo 2', sans-serif;
    font-weight:bold;
    font-size:60px;
    color:#fa345e;
    margin-top:0px;
    margin-bottom:50px;
}
.rates-sec .rates-post-2 p{
    font-family: 'Exo 2', sans-serif;
    font-size:18px;
    font-weight:bold;
    margin-top:0px;
    color:#2a2027;
}
footer{
    position:relative;
    width:100%;
    height:auto;
    background:#e62739;
    text-align:center;
}
footer .post h4{
    margin-top:60px;
    color:#fff;
    font-family: 'Exo 2', sans-serif;
    font-size:18px;
    font-weight:bold;
    margin-bottom:20px;
}
footer .post h3{
    color:#fff;
    font-family: 'Exo 2', sans-serif;
    font-size:18px;
    font-weight:bold;
    margin-bottom:60px;
}
footer .post h3 a{
    color:#44e444;
    display:inline-block;
}
footer .arrow-to-top a{
    position:fixed;
    top:70%;
    right:40px;
    width:40px;
    outline:none;
    height:40px;
    border:2px solid #f7941d;
    line-height:37px;
    font-size:16px;
    color:#f7941d;
    cursor:pointer;
    border-radius:5px;
    -o-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -webkit-transition:all .3s ease-in-out;
    transform:scale(0);
    -o-transform:scale(0);
    -moz-transform:scale(0);
    -webkit-transform:scale(0);
}
footer .arrow-to-top a:hover{
    background:#f7941d;
    color:#fff;
}