/* Main Rules */
body
{
	font-family: 'Open Sans';
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}
/*Header*/
.header 
{
	background-image: url('../images/header-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 800px;
}
.logo
{
	font-family: 'Leckerli One';
	padding: 5px;
	font-size: 300%;
	color: #e84c3d;
}
.header .container .row
{
	margin-top: 20px;
}
.header .container .row .nav ul
{
	list-style: none;
}
.header .container .row .nav ul li
{
	display: inline-block;
	color: #333b46;
	opacity: 0.9;
	cursor: pointer;
	font-weight: 600;
	padding: 15px 5px;
}
.header .container .row .nav ul li:hover
{
	opacity: 1;
}
.head-cap
{
	text-align: center;
	font-family: 'Roboto';
	margin-top: 200px;
}
.head-cap h1
{
	font-size: 400%;
	font-weight: 600;
	color: #333b46;
}
.head-cap h2
{
	color: #8e9299;
	font-size: 300%;
}
.scroll
{
	text-align: center;
	margin-top: 150px;
}
.scroll img
{
	position: relative;
	cursor: pointer;
	animation-name: scrolling;
	top: 0;
	animation-iteration-count: infinite;
	animation-duration: .8s;
}
@keyframes scrolling
{
	0%
	{
		top: 0px;
	}
	25%
	{
		top: 3px;
	}
	50%
	{
		top: 0px;
	}
	75%
	{
		top: -3px;
	}
	100%
	{
		top: 0;
	}
}
.scroll h4
{
	color: #e84c3d;
}