*{box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;}
{direction: rtl;}
*{margin: 0}
body{background-color: #902924;height: 3000px;}
.continer{width: 1200px;margin: auto;}
.clear{clear: both;}


/*start navebar*/
    .linkes{background-color: #393939;overflow: hidden;text-align: center;padding: 15px;direction: rtl;}
    .linkes ul{list-style: none;word-spacing:}
    .linkes ul li{display: inline-block;word-spacing:0;}
    .linkes ul li a{ text-decoration: none;color:#FFF;font-weight: bold;padding: 10px}
    .linkes ul li a:hover,.linkes ul li .active{background-color:#D4D4D4;border-radius:5px;color: #808}
/*End navebar*/

/* start Advertisment */
    .advertis{overflow: hidden;height:130px;margin:5px 0;;background-color: #FFF;}
    .advertis .logo{float: right;width:50%;}
    .advertis .logo.managger{float: left;}
    .advertis .logo img{float: right;padding: 10px;}
    .advertis .Advertisement{float:left;width: 50%;text-align: center;color:red;margin-top: 10px}
/*End Advertisment */

/*Start search */
    .search{background-color: #333;direction: rtl;padding: 15px;overflow: hidden;}
    .search h3{color:#F15258;display: inline;}
    .search p{color: #FFF;display: inline;width: 70%;background:#434343;border-radius: 5px;padding: 5px }
    .search input,button{float: left}
    .search input{border-radius: 5px;padding:2px 5pxك}
    .search button{color: #FFF;margin-right: 15px;background-color:#E88000;border: none;border-radius:5px;padding:2px 10px;font-weight: bold}
    .search button:hover{background:#350201 }
/*End search */

/* start body*/
.body{overflow: hidden;background-color: #DDD;margin:5px 0 0 0}
.right{float: right;width: 65%;direction: rtl}
.left{float: right;width: 35%;background-color:#FFF;direction: rtl}
/* start right*/

/*start events*/
.body .right{overflow: hidden;}
.body .right .events h3{background:#333;padding: 7px;color: #FFF;}
.body .right .events div{padding: 20px 0 20px 0}
.body .right .events img{float: right;width:20%}
.body .right .events p{float: left;width: 78%;padding: 10px 10px 10px;color:#DF2829;font-weight:bold;line-height: 1.6;}
.body .right .events p span{color: #555;font-weight:normal}
.body .right .events .paragraph,.body .right .events.image{float: left}

/*End events*/

/*start family problims*/
.body .right{overflow: hidden;}
.body .right .family-problims h3{background:#350201;padding: 7px;color: #FFF;}
.body .right .family-problims p{float: left;width: 49%;padding: 30px 10px 10px;color:#888;font-weight:bold;line-height: 1.6}
.body .right .family-problims p span{color: #555;font-weight:normal}
.body .right .family-problims img{float: right;width: 49%}
/*End family problims*/

/* start advirtsment*/
.advirt{height: 99px;max-height: 100px;}
.advirt img{width: 100%}
/*End Advertesment*/

/*start Human Development */
.body .right{overflow: hidden;text-overflow: clip;}
.body .right .Human-Development h3{background:#2D772D;padding: 7px;color: #FFF;}
.body .right .Human-Development p{float: left;width: 49%;padding: 30px 10px 10px;color:#333;font-weight:bold;line-height: 1.6;}
.body .right .Human-Development p span{color: #555;font-weight:normal}
.body .right .Human-Development img{float: right;width: 49%;width: 280px;}
.body .right  .main{overflow: hidden;margin: 10px 0}
.body .right  .main div {width: 25%;float: right;}
.body .right  .main .img{width: 20%;text-overflow: clip;}
.body .right  .main .img img{width: 100%}
.body .right  .main .pragraph{width: 30%;padding: 5px;padding: 15px}
/*End Human Development */
.body .right hr{border: 2px solid #6C0002;width:80%;margin: 10px  auto}
/* Start tables */
.body .right  .main-tables{overflow: hidden;margin:40px 0;background-color:#646464}
.body .right  .main-tables section{width: 33.333333%;float: right;border:3px solid #FFF}
.body .right  .main-tables section h3{background: #222;padding: 7px;color: bisque;text-align: center}
.body .right  .main-tables section div{border:3px solid #FFF;text-align: center;padding:5px 10px 20px;line-height: 1.6;color: #ccc;font-weight:500;text-overflow: clip; }
.body .right  .main-tables section div p:hover{color:#EEE;font-weight:600}
.body .right  .main-tables section div img{width: 100%;height:28%;margin-top:0px;}
/* End tables */
/* End right*/

/* Start left*/
/* Start Video */
.body .left .video{height:325px}
.body .left .video video{height:93%;width: 100%}
.body .left .video h3{background-color:#333333;text-align: center;color: #FFF;padding:7px}
/* End Video */

/* Start Advartisement */
.body .left .Advartisement{ width: 100%;height: 300px;max-height: 350px;text-align: center;} 
.body .left h2{ color: #FFF;background-color: #350201;margin-top: 11px;padding:3px;text-align: center;}
.body .left .Advartisement img{padding:5px;border: 3px solid #CCC;margin-top:10px}
.body .left .Advartisement img:hover{box-shadow: 10px 10px 10px #2D772D,-10px -10px 10px #902924 }
/* Start Advartisement */

/* Start Opinion */
.body .left .opinion h3{background-color:#5D5D5D ;text-align:center;color:#FFE4C4;padding: 5px;}
.body .left .opinion{overflow: hidden;background:#EEE}
.body .left .opinion div{width: 50%;float: right;max-height:150px}
.body .left .opinion .img img{margin:30px 10px}
.body .left .opinion .info{padding: 20px;font-weight:bold;color:#555;line-height: 1.6;;height: 150px;max-height: 150px;text-overflow: clip;}
.body .left .opinion .info p:hover{color:brown;font-family: cursive;font-weight:500;}
/* End Opinion */

/* Start Articles */
.body .left .articles h3{background-color:#5D5D5D ;text-align:center;color:#FFE4C4;padding: 7px;margin: 5px 0}
.body .left .articles{overflow: hidden;margin: 10px 0 }
.body .left .articles .img{width: 35%;float: right;max-height:150px;margin-bottom: 10px;background-color: #CCC}
.body .left .articles .info{width: 65%;float: right;max-height:150px;margin-bottom: 10px;}
.body .left .articles .img img{padding: 5px;border: 2px solid #CCC;background-color: #DDD;margin:30px 5px }
.body .left .articles .info{padding: 20px;font-weight:bold;color:#555;line-height: 1.6;background:#DDD;height: 150px;max-height: 150px;text-overflow: clip;background-color: #CCC}
.body .left .articles .info p:hover{color:brown;font-weight:600;}
/* End Articles */

/*  Start Most Read */
.most-read div {text-overflow: clip;height:auto;max-height: 100px;background:#EEE;margin-bottom: 5px}
.most-read .subject p{padding:15px 10px;font-weight:bold;line-height: 1.6;color:#555}
.most-read .subject p:hover{color:firebrick;font-weight:600;text-decoration: underline}
/*  End Most Read */
/* End left */
/* End body*/

/* start foter*/
.footer {background: #333;color:#DDD;height:300px;}
.footer .social-media ul{list-style: none;text-align: center;padding-top: 100px}
.footer .social-media ul li{display:inline;padding: 5px;}
.footer .social-media a{text-decoration: none}
.footer .social-media a i {color:#DDDDDD;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out ;
    transition: all .5s ease-out
}
.footer .social-media a i.face:hover{color:#36609F;transform: scale(1.25)}
.footer .social-media a i.twitter:hover{color:#2AA9E0;transform: scale(1.25)}
.footer .social-media a i.plus:hover{color:#BE0000;transform: scale(1.25)}
.footer .social-media a i.in:hover{color:#3AA7CE;transform: scale(1.25)}
.footer .social-media a i.tube:hover{color:#ED3437;transform: scale(1.25)}
.footer .social-media a i.inst:hover{color:#2E5E86;transform: scale(1.25)}

/* End foter*/
/* start copy-right*/
.copy-right{padding: 20px;text-align: center;background-color:#350201;color:#646464}
.copy-right p a{text-decoration:none;color:#FFF}
.copy-right p a:hover{text-decoration: underline;color:#999}
/* End copy-right*/
img{padding: 5p;border: 3px solid #CCC;background-color:#DDD}