@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Droid Arabic Naskh', serif;
}
body{
    background-color: #f6f6f6;
    padding-top: 50px;
}
header{
/*    height: 70px;*/
    
}

a.logo{
    overflow: hidden;
    padding-top: 7px;
    
}
a.logo img {
    width: 80%;
}
.ads{
    height: 160px;
    overflow: hidden;
    margin: 30px 0px;
    border: 1px solid rgba(0,0,0,.1)
}
.ads img{ 
    height: 160px;
    width: 100%;
    vertical-align: middle;
}
.main_vote{
    margin: 30px 0px;
} 
.vote{
    height: 200px;
    -webkit-box-shadow: 0.5px 0.5px 8px 0.5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0.5px 0.5px 8px 0.5px rgba(0,0,0,0.2);
    -o-box-shadow: 0.5px 0.5px 8px 0.5px rgba(0,0,0,0.2);
    box-shadow: 0.5px 0.5px 8px 0.5px rgba(0,0,0,0.2);
    overflow: hidden;
    position: relative;
    margin-top: 14px;
    perspective: 200px;
    cursor: pointer;
}
.vote img{
    width: 100%;
/*    margin-top: -150px;*/
}
.vote_num{
    position: absolute;
    bottom: 19px;
    left: 10px;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1875d0;
    border: 3px solid #f8f8f8;
    z-index: 1;
    line-height: 60px;
    text-align: center;
    color: #fff;
}
.vote_title{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    text-align: right;
    padding: 10px;
    line-height: 25px;
    color: #fff;
}
.vote_hover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
    color: #f5f5f5;
    font-size: 3em;
    text-align: center;
    line-height: 180px;
    -webkit-transform: rotateX(-90deg);    
    -moz-transform: rotateX(-90deg);    
    -o-transform: rotateX(-90deg);    
    transform: rotateX(-90deg);    
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.vote:hover > .vote_hover{
    -webkit-transform: rotateX(0deg);    
    -moz-transform: rotateX(0deg);    
    -o-transform: rotateX(0deg);    
    transform: rotateX(0deg); 
    cursor: pointer;
}
footer{
    position: relative;
    margin-top: 50px;
    padding: 17px 0px 0px;
    background-color: #fff;
    -webkit-box-shadow: 0.5px 0.5px 8px 0.5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0.5px 0.5px 8px 0.5px rgba(0,0,0,0.2);
    -o-box-shadow: 0.5px 0.5px 8px 0.5px rgba(0,0,0,0.2);
    box-shadow: 0.5px 0.5px 8px 0.5px rgba(0,0,0,0.2);
}
.right_footer{
    float: right
}
nav.footer{}
nav.footer ul{
    list-style: none
}
nav.footer li{
    display: inline-block;
    margin: 0px 10px;
}
nav.footer a{}
nav.footer a:hover{}
.left_footer{
    float: left
}
.left_footer .social_icon{
    
}
.left_footer ul{
    padding: 0;
    list-style: none;
}
.left_footer ul li{
    display: inline-block;
    margin: 0px 10px
}
.left_footer ul li img{
    width: 30px;
    opacity: 0.7;
    transition: all 0.3s ease-in;
}
.left_footer ul li img:hover{
    opacity: 1
}
.left_footer ul li a{}
footer .up{
    position: absolute;
    top: -25px;
    left: 47%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
    border-top: 3px solid #ddd;
    cursor: pointer;
    opacity: 0.7;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
footer .up:hover{
    opacity: 1
}

.vote_btn{
    
}

