* {box-sizing: border-box;}
*{outline: none;}
body{
	
	font-family: sans-serif;
	background-repeat: no-repeat;



}
* p {
	text-transform: lowercase;
}
.cont{
	width:900px;
	margin: auto;
	overflow: hidden;
}



/*start slider*/
.header .slider{
width: 100%;
height: 450px;
background-image: url('slider1.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-attachment: fixed;
background-color: rgba(3,3,3,0.3);

}
.header .slider .intro img{
	width: 35px;
	height: 35px;
	background-color:#FFF ;
	margin: 7px;
	transition: 0.5s
	
}
.header .slider .intro img:hover{
    width: 50px;
    height: 50px

}

.header .slider .intro h1{
	margin: 0 auto;
	width: 400px;
	border-top: 4px solid #FFF;
	border-bottom: 4px solid #FFF;
    padding:5px 0 5px 0;
    font-size: 50px;
    transition: 0.5s;
   
}


.header .slider .intro h1:hover{
	color: #DD4B39;
	border-right: 20px solid #FFF;
	border-left: 20px solid #FFF;
	border-bottom: 0px;
	border-top: 0px
}
.header .slider .intro  a{
	text-decoration: none;
	color: #FFF
}
.header .slider .intro  a:hover{
	color: red
}
.header .slider .intro button{
	background:none;
	border:2px solid #FFF;
	color:#FFF;
	width: 140px;
	padding: 5px;
	border-radius: 5px;
	margin-top: 50px;
	transition: 0.5s
}
.header .slider .intro button:hover{
   
	width: 300px;
	font-size: 20px;
	color:#DD4B39;
	padding: 10px

}
.header .slider .intro{
	text-align: center;
     padding-top: 100px;
     color:#FFF
}
/*End of slider*/








/*start nav bar*/
.header .navbar{
	background-color: #3f4652;
	overflow: hidden;
	color: #FFF;
	height: 55px;

}
.header .navbar a{
	color: #FFF
}
.header .navbar ul{
  list-style: none;
  padding-left: 0;
  float: right;
  margin-top: 8px;

}
.header .navbar li{
	float: left;
	margin: 7px;
	
}
.header .navbar li:hover{
	color: #778191
}
.header .navbar li.active{
	color:#778191;
}
.header .navbar h3{

}
.header .navbar h3:hover{
	color: #37685b;
}
.header .navbar span{
	color: #37685b
}
.header .navbar span:hover{
	color: #FFF;
}
.header .navbar button{
	background:none;
	color:#FFF;
	border-right: 2px solid #778191;
	border-left: 0px ;
	border-bottom: 0px;
	border-top: 0px;
    outline:none;
}

.header .navbar button:hover{
	border:2px solid #778191;
	border-radius: 10px;

}


/*end nav bar*/




/* start of info*/
.about {
	overflow: hidden;
	padding-bottom: 30px;
	padding-top: 30px;
	

}
.about .info{
	float: left;
	width: 33.33333%;
	height:180px;
	line-height: 23px
	

}
.about .info h3{
	color:#3c434f;


}
.about .info p{
	width: 250px;
	color:#626975;
}
.about .info p:hover{
	color:#2f497f;
	font-family: arial;
	
	font-weight: bold;
}
.about .info img{
	width: 40px;
	height: 40px;
	transition: 0.5;

}
.about .info img:hover{
	border:5px dotted #2DCC70;
	border-radius: 100%
}

/*end of info*/







/* start about-me */
.about-me
{
    background-color:#f2f2f1;
    overflow:hidden; 
    font-size: 12px
    
}

.about-me .image
{
    float:left;
    width:40%;
}

.about-me .image img
{
    width:100%;
    margin:0;
    padding: 3px;
 	background-color: #FFF;
 	box-shadow: 10px 10px 6px #CCC;
 	transition: 0.2s


}
.about-me .image img:hover{
	padding: 6px;
}



.about-me .info
{
    float:left;
    width:60%;
}
.about-me .info h2
{
    margin:20px 0 20px 40px;
    color:#3c434f;
    
}
.about-me .info h2:hover{
	color: #DD4B39;
	font-size: 20px
}
.about-me .info > p           
{
    margin:0 0 10px 40px;
    color: #626975;
    
}
.about-me .info p:hover{
	color: #DD4B39
}

.about-me .info > p:last-of-type
{
    margin-top:25px;
}

.about-me .info p
{
    line-height:1.6;
    color:#626975;
    text-align:justify;
}
.about-me .info .hobbies
{
    overflow:hidden;
    margin:20px 0 0 40px; 
}


.about-me .info .hobbies .content
{
    float:left;
    width:50%;
    min-height:100px;
    overflow:hidden;
}

.about-me .info .hobbies .content h3
{
    color:#3c434f;
}

.about-me .info .hobbies .content .icon
{
     float:left;
     width:12%;
     margin-right:5%
}
.about-me .info .hobbies .content .icon img
{
    max-width:100%;
    margin:20px 10px 0 0;
    transition: 0.5s
}
.about-me .info .hobbies .content .icon img:hover{
	border-radius: 100%;
	border:5px dotted #2DCC70;

}
.about-me .info .hobbies .content .text
{
    float:left;
    width:83%;
}

.about-me .info .hobbies .content .text h3
{
    margin-bottom:5px;
}
.about-me .info .hobbies .content .text p
{
    margin-top:0;
    margin-right:40px;
}

/* end about-me */









/* start my skills*/

.my-skills{
	padding-top: 30px;
	padding-bottom: 50px;
	overflow: hidden;

}

.my-skills .skills,
.my-skills .progress{
	width: 50%;
	float: left;
}

.my-skills .skills h2{
	margin:25px 0 20px 40px;
	color:#555;
}
.my-skills .skills p{
	margin:0 0 10px 40px;
	color:#666;
	line-height: 1.5
}
.my-skills .skills p:last-of-type{
	margin-top: 25px;
}
.my-skills .skills button{
	background:none;
	border:3px solid #DD4B39;
	padding: 10px 30px;
	color:#DD4B39;
	margin-left: 40px;
	margin-top: 10px;
	outline:none;
	transition: 0.5s
	
}
.my-skills .skills button:hover{
	width: 200px;
	background-color: #DD4B39;
	color: #FFF;
	border:0;
	border-radius: 10px
}

.my-skills .progress .tec{
	margin-left:60px;
}
.my-skills .progress .tec h3{
	color:#555;

}
.my-skills .progress .tec div{
	background-color: #EEE;
	height: 25px;
	border-radius: 10px;
}
.my-skills .progress .tec div span{
	background-color: #DD4B39;
	height: 25px;
	display: block;
	width: 80%;
	border-radius: 10px;
	line-height: 25px;
	text-align: right;
	color: #fff;
	transition: 0.5s
}
.my-skills .progress .tec div span:hover{
 background-color: #31363f;
 width: 100%
}
.my-skills .progress .tec div span.one{
	background-color: #DD4B39;
	height: 25px;
	display: block;
	width: 70%;
	border-radius: 10px;
	line-height: 25px;
	text-align: right;
	color: #fff;
	transition: 0.5s

}
.my-skills .progress .tec div span.one:hover{
 background-color: #151a23;
 width: 100%
}
.my-skills .progress .tec div span.two{
	background-color: #DD4B39;
	height: 25px;
	display: block;
	width: 50%;
	border-radius: 10px;
	line-height: 25px;
	text-align: right;
	color: #fff;
	transition: 0.5s
}
.my-skills .progress .tec div span.two:hover{
 background-color: #4f5e75;
 width: 100%
}
.my-skills .progress .tec div span.three{
	background-color: #DD4B39;
	height: 25px;
	display: block;
	width: 40%;
	border-radius: 10px;
	line-height: 25px;
	text-align: right;
	color: #fff;
	transition: 0.5s

}
.my-skills .progress .tec div span.three:hover{
 background-color: #112547;
 width: 100%
}

/*end my skills*/




/* start resume*/

.cv {
	text-align: center;
	background-color: #F2F2F2;
	padding-top: 30px;
	padding-bottom: 30px

}
.cv h2{
	color: #555
}
.cv p{
	color: #555;
	line-height: 1.8;
	text-transform:capitalize;
}
.cv p:hover{
    font-weight: bold;
}
.cv button{
	background:none;
	border:3px solid #DD4B39;
	color: #DD4B39;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 30px;
	transition: 0.5s;
	outline: none;
	border-radius: 3px
}
.cv button:hover{
	width: 200px;
	background-color: #DD4B39;
	color: #FFF;
	border-radius: 10px
}

/*end resume*/




/*start my Education*/

.education{
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: hidden;
}
.education .myeducation{
	float: left;
    width: 50%;
   
}
.education .myeducation p{
	margin:0 0 10px 40px;
	line-height: 1.7;
	color: #555;
}
.education .myeducation h2{
	 margin:25px 0 20px 40px;
	 color: #555;
}
.education .progress{

float: left;
width: 50%
}
.education .tec .text,hr{
	margin-left: 60px;

}
.education .tec .text{
text-transform: capitalize;
margin-bottom: 50px
}

.education .tec .text h3{
	color: #555;
	padding-top: 60px
}
.education .tec .text p{
	color: #555;
	line-height: 1.7;
	width: 400px
}
.education .tec .text span{
	font-weight: bold;
}
.education .tec .text button{

	background-color: #DD4B39;
	color: #FFF;
    border:2px solid #DD4B39;
    padding: 3px;
    border-radius: 3px;
   ;
    transition: 1s

}
.education .tec .text button:hover{
 border-radius:20px 3px 3px 20px;
 width: 350px;
 padding: 10px;
 background:none;
 color: #555

}

.education .tec hr{
 
    background-color:#cccccc;
    height:2px;
    border:0;
}

/*end my Education*/





/*start CV_2*/

.cv_ {
	text-align: center;
	background-color: #F2F2F2;
	padding-top: 50px;
	padding-bottom: 20px;
	
	

}
.cv_ h4{
    color:#555;
    font-weight: bold;


}
.cv_ q{
	line-height: 1.7;
	font-weight: bold;
    color:#888;
    font-style: italic;
    
}
.cv_ q{
	margin-left: 40px
}
.cv_ ul{list-style: none;padding-left: 0}
.cv_ ul li{

	width: 15px;
	height: 15px;
	border:2px solid #DD4B39;
	border-radius: 100%;
	text-align: center;
	display: inline-block;
	transition: 0.2s

}
.cv_ li.active{
	background-color: #DD4B39
}
.cv_ ul li:hover{
	background-color: #DD4B39;
	width: 20px;
	height: 20px
}

/*end CV_2*/


/* start porto*/

.portfolio{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	
}
.portfolio h2{
	color: #555;
	margin-left: 40px
}
.portfolio p{
	color: #888;
	margin-left: 40px;
	line-height: 1.7
}
/*end porto*/

/*start profile*/
.profile{
	padding-bottom: 30px;
	padding-top: 20px;
	text-align: center;
}
.profile .photo{
	overflow: hidden;
	margin-left: 40px
}
.profile .photo >div{
	float: left;
	width: 33.333333%;
	margin-bottom: 15px;
}

.profile .photo >div img{width: 92%}
 .profile .photo  img{
 	width: 299.98px;
 	height: 278.89px;
 	border:2px solid #CCC;
 	padding: 3px;
 	background-color: #FFF;
 	box-shadow: 10px 10px 6px #CCC;
    transition: 0.5s
   }


   .profile .photo  img:hover{
     
   	padding: 10px
   }
/*end profile*/


/* start call*/
.contact{
	background-color: #252f31;
	overflow: hidden;
	padding-top: 35px;
	padding-bottom: 50px;
	font-size: 13px;


}
.contact .info{
	float: left;
	width: 50%;
	
}

.contact .info h3{
	color: #FFF;
	margin-left: 40px;

}
.contact .info p{
	color: #566366;
	margin-left: 40px;
	line-height: 1.7
}


.contact .form{
	float: left;
   width: 45%;
   margin-left: 5%;
   
}
.contact p strong{
	color: #D1D6DA
}

.contact .form label{
	display: block;
	color:#D1D6DA;
	margin: 10px 0

}
.contact .form input[type=text]{
	background-color: #556568;
	color: #FFF;
	padding: 10px;
	border:0px;
	width: 85%;
	margin-bottom: 10px;
	border-radius: 13px;
	outline: none;
	color:#555;

}
.contact .form input[type=text]:hover{
	background-color: #325156
}
.contact .form textarea{
	background-color: #556568;
	
	padding: 10px;
	border:0px;
	width: 85%;
	margin-bottom: 10px;
	height: 250px;
	resize: none;
	border-radius: 5px;
	outline: none;
	color: #222
}
 .contact .form input[placeholder]{
 	color: #FFF
 }
.contact .form textarea[placeholder]{
 	color: #FFF
 }
.contact .form textarea:hover{
	background-color: #325156
}
.contact .form button{
	border:0px;
	border-radius: 13px;
	background-color: #0A1011;
	width: 100px;
	color: #D1D6DA;
	padding: 10px;
	font-size: 12px;
	transition: 0.5s;
	outline: none;

}
.contact .form button:hover{
  width: 350px;
  border-radius: 50px 3px 3px 50px;
  border:2px solid #FFF;
  background:none;

}
/*end call*/


/* start footer*/
.footer{
	text-align: center;
	background-color: #0a1011;
	color: #566366;
	padding-bottom: 14px;
	overflow: hidden;
	font-size: 12px;

	


}
.footer .icon_ img{
	width: 30px;
	height: 30px;
	transition: 0.5s;
	margin:10px 5px 10px 0;
}
.footer .icon_ img:hover{
width: 40px;
height: 40px
}


.footer .icon_ a{
	text-decoration: none;
}
/*end footer*/

.fl-left{float: left;}





