.m0{margin: 0;}
.p0{padding: 0;}

body{
    font: 400 14px/25px $loraFont;
    letter-spacing: 0.25px;
    color: #5d5d5d;
}

a,.btn,button{
    text-decoration: none;
    outline: none;
    @include transition();
    &:hover,&:focus{
        text-decoration: none;
        outline: none;
    }
}
ul,h2,h3,h4,h5,h6{
    margin: 0;
    list-style: none;
    padding: 0;
}
section, header, footer{
    &.row{
        margin: 0;
    }
}
p{
    margin-bottom: 0px;
}
.img-gray{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.date{
    a{
        font: 700 14px/6px "Arimo", sans-serif;
        color: #7b7b7b;
    }
}


 @-webkit-keyframes mouseUpDown {
  0% {
    bottom: 151px;
  }
  25% {
    bottom: 170px;
  }
  50% {
    bottom: 151px;
  }
  75% {
    bottom: 130px;
  }
  100% {
    bottom: 151px;
  }
}
@keyframes mouseUpDown {
  0% {
    bottom: 151px;
  }
  25% {
    bottom: 170px;
  }
  50% {
    bottom: 151px;
  }
  75% {
    bottom: 130px;
  }
  100% {
    bottom: 151px;
  }
}

.related_post_tittle{
    h3{
        color: $black;
        letter-spacing: .50px;
        font-family: $arimo;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
    }
}
.comment_from_tittle{
    h4{
        color: #333333;
        font-family: $loraFont;
        letter-spacing: .50px;
        font-size: 20px;
        text-transform: uppercase;
    }
    p{
        font-size: 13px;
        color: #999999;
        font-family: $loraFont;
        letter-spacing: .25px;
        font-style: italic;
        padding: 10px 0px 35px 0px;
    }
}