*{
    padding:0;
    margin: 0
}

.back{padding: 0;margin: 0;}

.backgr{background-color:white}

.texthead{
    color:black;
    font-weight: bold;
    font-family:inherit;
    margin-top:12px;
    margin-bottom:12px;
    
}

.numerotel{
    float:right;
}

.logo-gmail-tel{
    width:30px;
    height: 30px;
}

.text-logo-1{
    
    font-weight:bold;
    font-size:20px;
    color:black;
    margin-left:8px;
}

.text-logo-2{
    
    font-weight:bold;
    font-size:20px;
    color:#ffd340;
    margin-left:8px;
    
}

.logo{
    width:120px;
    height:90px;
    padding-left:30px;
    padding-right:12px;
    margin-top:0
}



.colornav{
    background-color:#eee;
    opacity:0.8;
    
}

.social-media{
    
    width: 50px;
    height: 50px;
    padding-left: 2px;
    
}
.menu-fixed{position: fixed;}

.menu {
    
    padding:0;
    margin:0
    
}

.menu ul{
    
    list-style-type:none;
    font-size:15px;
    font-weight:bold;
    
        
}

.menu ul li {
    
    padding-top:33px;
    padding-left: 38px;
    display:inline-block ;
    
}

.menu ul li a {
    
    text-decoration:none;
    color:black;
    
}

.espace{
    margin-top:144px;
    padding-left:0;
    padding-right:0;
    
    
}

.menu ul li a:active{
    
    background-color:#ffd340;
    border-radius:10%;
    padding:12px 12px 12px 12px;
    
}
.peopleCarouselImg{
  width: 100%; 
  max-height: 500px;
}