body
{
    margin: 0;
}


.slider
{
    background-image: url("portfolio-img-big7.jpg");
    background-size: cover;
    height: 600px;
}

.title h2
{
    display: inline-block;
    color: #fff;
    padding: 10px;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    margin-top: 200px;
    margin-left: 300px;
    font-size: 60px;
    font-weight: bold;
}

.title button 
{
    border: 3px solid #fff;
    color: #fff;
    background-color: transparent;
    margin-left: 600px;
    font-size :25px;
    cursor : pointer;
    padding-right:  20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.title h2:hover
{
    border-color: #cc6600;
}

.title button:hover
{
    border-color: #cc6600;
}

.menu
{
    width: 100%;
    height: 70px; 
    background-color: #1a0900;
}

.logo
{
    display: inline-block;
}
.menu .logo h2
{
    display : inline-block;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    margin-left: 100px;
    margin-right: 0px;
    margin-top: 15px;
    
    
}
.menu .logo span
{
    color: #cc6600;
    font-size: 35px;
    font-weight: bold;
    margin-left: 0;
}
.links
{
    display: inline;
    color : #fff;
    margin-left: 600px;
}
.links a
{
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    margin-left: 15px;
}
.links a:hover
{
    color: #cc6600;
}
.menu .logo .links .active
{
    color: #cc6600;
}
.vg
{
    display: block;
}

.vleft
{
    width: 500px;
    height: 300px;
    padding: 70px;
    float: left;
    
}
.gright
{
    width: 500px;
    height: 300px;
    padding: 70px;
    float: right;
}
.vleft p
{
    font-size: 25px;
    color: #888;
}
.gright p
{
    font-size: 25px;
    color:  #888;
}
.vleft h1
{
    font-weight: bold;
    color: #808080;
}
.gright h1
{
    font-weight: bold;
    color: #808080;
}
.line , .line2
{
    background-color: #cc6600;
    height: 300px;
    line-height: 300px;
    width: 1px;
    display: inline-block;
    margin-left: 25px;
    margin-top: 45px;
}
.line2
{
    margin-left: 1px;
}

.us
{
    background-color: #F2F2F2;
    display: block;
    height: 880px;
    width: 100%;
}
hr
{
    height: 1px;
    width: 200px;
    margin-left: 580px;
    background-color: #cc6600;
}
.us h1
{
    color: #808080;
    margin-left: 620px;

}
.about .us .usus p
{
    font-size: 25px;
    color:  #888;
    margin-left: 140px;
    margin-right: 140px;
}

.who h1
{
    margin-left: 590px;
    color: #808080;
    margin-top: 100px;
}
.who .team img
{
    margin-left: 240px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.member1 .name
{
    margin-left: 230px;
    font-size: 25px;
    color: #000;
    font-weight: bold;
}
.member1 .work
{
    font-size: 18px;
    color:  #000;
    margin-left: 240px;
}
.memb1
{
    width: 220px;
    height: 100px;
    margin-left: 230px;
    margin-top: 20px;
    color:  #888;
    font-size: 18px;
}
.member2 .name2
{
    margin-right: 570px;
    font-size: 25px;
    color: #000;
    font-weight: bold;
}
.member2 .work2
{
    font-size: 18px;
    color:  #000;
    margin-right: 240px;
}
.memb2
{
    width: 220px;
    height: 100px;
    margin-right: 230px;
    margin-top: 20px;
    color:  #888;
    font-size: 18px;
}
.member2
{
    float: right;
}
.member1
{
    float: left;
}
.member3
{
    float: right;
    margin-top: -170px;
}
.member3 .name3
{
    margin-left: 510px;
    font-size: 25px;
    color: #000;
    font-weight: bold;
}
.member3 .work3
{
    margin-left: 515px;
    font-size: 18px;
    color:  #000;
    margin-right: 240px;
}
.memb3
{
    width: 220px;
    height: 100px;
    margin-left: 510px;
    margin-top: 20px;
    color:  #888;
    font-size: 18px;
}
.clear
{
    clear: both;
}
.about
{
    margin-bottom: 10px;
}
.skills
{
    width: 100%;
    background-color: #fff;
    margin-top: 160px;
    height: 500px;
}

.lskill
{
    float: left;
    margin-top: 40px;
    margin-left: 80px;
    width: 600px;
}
.skills hr
{
    margin-left: 560px;

}
.lskill span
{
    color: #808080;
    font-size: 30px;
    font-weight: bold;
    
}
.lskill p
{
    color: #888;
    font-size: 18px;
}
.lskill button
{
    border: 3px solid #cc6600;
    color: #cc6600;
    background-color: transparent;
    font-size :18px;
    cursor : pointer;
    padding-right:  30px;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.rskill
{
    float: right;
    margin-top: -290px;
    margin-right: 400px;
    display: inline-block;
}
.htcss
{
    display: block;
}
.rskill .htcss .ht
{
    background-color: #cc6600;
    height: 25px;
    width: 400px;
    margin-top: -330;
    float: right;
    margin-right: -260px;
    
}
.rskill .htcss .hc
{
    background-color: #F2F2F2;
    height: 25px;
    width: 100px;
    margin-top: -330;
    float: right;
    margin-right: -400px;
}
.ht span
{
    display: inline-block;
    margin-left: 250px;
    color: #FFF;
    font-weight: bold;
    font-size: 25px;
    
}
.htt
{
    background-color: #cc6600;
    height: 25px;
    width:300px;
    float: right;
    margin-right: -160px;
    
}
.rskill .htcss .hcc
{
    background-color: #F2F2F2;
    height: 25px;
    width:220px;
    float: right;
    margin-right: -420px;
}
.htt span
{
    display: inline-block;
    margin-left: 150px;
    color: #FFF;
    font-weight: bold;
    font-size: 25px;
    
}
.httt
{
    background-color: #cc6600;
    height: 25px;
    width:420px;
    float: right;
    margin-right: -280px;
    
}
.rskill .htcss .hccc
{
    background-color: #F2F2F2;
    height: 25px;
    width:30px;
    float: right;
    margin-right: -420px;
}
.httt span
{
    display: inline-block;
    margin-left: 150px;
    color: #FFF;
    font-weight: bold;
    font-size: 25px;
    
}
.htcss h3
{
    color: #808080;
    margin-left: -5px;
    
}
.htttt
{
    background-color: #cc6600;
    height: 25px;
    width:440px;
    float: right;
    margin-right: -300px;
    
}

.htttt span
{
    display: inline-block;
    margin-left: 370px;
    color: #FFF;
    font-weight: bold;
    font-size: 25px;
    
}
.contact
{
    background-color: #1a0900;
    width: 100%;
    height: 1000px;
    display: inline-block;
    float: left;
}
.lcontact
{
    margin-left: 120px;
    margin-top: 50px;
    width: 600px;
}
.lcontact h1
{
    margin-left: 1px;
    color: #fff;
}
.lcontact p
{
    color: #fff;
    font-size: 18px;
}
.lcontact span
{
    color: #fff;
    font-size: 18px;
    display: block;
    margin-top: 10px;
}
.ep
{
    margin-top: 20px;
}
.ep span
{
    margin-top: 5px;
    font-size: 20px;
}
.rcontact
{
    float: left;
    display: block;
}
form
{
    margin-top: -260px;
    margin-left: 800px;
}
.rcontact form label
{
    color: #fff;
    font-size: 20px;
    
}
form input,textarea
{
    background-color: #331200;
    color: #FFF;
    padding: 10px;
    border: 0;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.bb
{
    background-color: #331200;
    color: #FFF;
    padding: 10px;
    border: 0;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer
{
    background-color: #331200;
    width: 100%;
    height: 50px;
    display: block;
    padding-top: 40px;
}
.fl-left
{
    margin-left: 60px;
    color: #fff;
    font-size: 18px;
}
.container
{
    float: right;
    margin-right: 200px;
    margin-top: -30px;
    display: inline;
}
li
{
    list-style: none;
}
.container ul li 
{
   
    display: inline;
    margin-left: 5px;
}
