h1, h2, h3, h4, h5, .lead {font-family: 'Droid Sans', sans-serif}



/* Start Contact */

.contact
{background-color: #9e9b9b;
padding: 10px 0}

.contact .lang img
{margin-right: 5px}

.contact .lang span:nth-of-type(2)
{margin: 0 7px}

.contact .lang .search
{margin-top: 40px}

.contact .lang .search i
{margin-left: -25px;
cursor: pointer}

.contact .page-title span
{margin: 0 2px;
font-size: 13px;
font-weight: bold}

.contact .page-title h1
{font-weight: bold;
letter-spacing: 2px;
margin-top: 30px}

.contact .social
{padding-left: 208px}

.contact .social .social-icons
{padding-left: 25px}

.contact .social .social-icons i
{margin-left: 12px;
cursor: pointer}

.contact .social .social-icons i:hover
{-webkit-transform:scale(1.3,1.3);
-moz-transform:scale(1.3,1.3);
-o-transform:scale(1.3,1.3);
transform:scale(1.3,1.3);
-webkit-transition:all .3s ease-in-out;
-moz-transition:all .3s ease-in-out;
-o-transition:all .3s ease-in-out;
transition:all .3s ease-in-out}

.contact .social .cash
{margin-top: 40px}

.contact .social .cash span
{margin: 0 4px 0 10px}

@media (max-width: 991px) {

    .contact .social {margin-top: 20px}
    .contact .social .cash {margin: 15px 0 0 20px}

}    

@media (min-width: 992px) and (max-width: 1199px) {
    
    .contact .social
    {padding-left: 142px}
}

/* End Contact */

/* Start Navbar */

.navbar
{border-radius: 0;
margin-bottom: 0}

.navbar .nav .dropdown-menu
{background-color: #000}

.dropdown-menu > li > a 
{color: #fff}

.navbar .nav
{float: none}

.navbar .nav .active > a:hover
{font-weight: bold}

.navbar .nav li
{text-align: center;
float: none;
display: inline-block;
margin: 0 20px}

@media (max-width: 991px) {
    
    .navbar .nav li {margin: 0 10px}
}

/* End Navbar */

/* Start Header */

.carousel .carousel-caption
{bottom: 100px;
background: rgba(3,3,3,0.3)}

.carousel .carousel-indicators
{left: 85%}

.carousel .carousel-indicators li
{width: 30px;
height: 7px}

.carousel .carousel-indicators .active
{width: 32px;
height: 9px;
background-color: #3f19d0}

.sale .discount
{background-color: #5b35ea;
color: #fff;
padding: 16px;
margin-top: 30px}

.sale .discount h3
{font-weight: bold}

.sale .discount p {
margin: 15px 0 17px;
line-height: 1.7;
font-size: 16px}

.sale .discount .btn
{padding: 10px 30px}

@media (max-width: 991px) {
    
    .sale img{text-align: center;
            margin: 25px auto 0}
}
/* End Header */

/* Start Collection */

.collection
{padding: 60px 0 0;
margin: 50px 0;
background-color: #dcdcdc}

.collection h3
{margin: 0 0 20px;
font-weight: bold}

.collection img
{width: 100%}

.collection .classic img
{height: 672px}

.collection .furn .modern img
{height: 246px}

.collection .furn .video h3
{margin-top: 27px}

.collection .furn iframe
{width: 100%;
height: 352px}

@media (max-width: 991px) {
    
    .furn .modern h3
    {margin-top: 25px}
}

/* End Collection */

/* Start Our Products */

.our-products
{padding: 80px 0;
height: 570px}

.our-products .bxslider p
{margin: 15px 0 5px;
font-weight: bold;
font-size: 16px}

.our-products .bxslider .price
{font-weight: bold;
color: #6798c1}

.our-products .bxslider .discount
{margin-left: 5px;
font-size: 12px;
text-decoration:line-through}

.our-products .bxslider .order
{margin-top: 10px}

.our-products .bxslider .order .btn
{border-radius: 0;
font-weight: bold}

.our-products .bxslider .order i
{padding: 9px 10px;
border: 1px solid #ccc;
cursor: pointer}

.our-products .bx-wrapper .bx-viewport
{height: 450px !important;
border: none;
box-shadow: none}

.our-products .bx-wrapper .bx-controls .bx-pager
{bottom: 510px}

.our-products .bx-wrapper .bx-controls-direction .bx-prev
{left: 495px;
margin-top: -270px}

.our-products .bx-wrapper .bx-controls-direction .bx-next
{right: 495px;
margin-top: -270px}

.our-products .pagers
{margin-top: -587px}

.our-products .pagers a
{margin: 0 10px;
font-weight: bold;
font-size: 17px;
color: #6798c1;
cursor: pointer}

.our-products .pagers a:hover
{text-decoration: none}

.our-products .pagers .active
{font-size: 18px;
color: #5b35ea;
text-decoration: none}

.our-products .pagers i
{color: #f59113}

.our-products .outside
{margin-top: 15px}

.our-products .outside i
{margin: 0 15px;
padding: 5px 15px;
background: #eee}

.our-products .outside i:hover
{background: #3f19d0;
color: #fff}

@media (max-width: 991px) {
    
    .our-products
    {height: 1087px !important}
    
    .our-products .bx-wrapper .bx-viewport
    {height: 1000px !important;}
    
    .our-products .bxslider .box
    {margin-top: 25px}
    
    .our-products .pagers
    {margin-top: -1128px}
}

@media (max-width: 767px) {
    
    .our-products .pagers a
    {font-size: 13px}
    
    .our-products .pagers .active
    {font-size: 14px}
    
    .our-products .bxslider .order i
    {padding: 9px 4px}
    
}

@media (max-width: 420px) {
    
    .our-products .pagers a
    {font-size: 9px}
    
    .our-products .pagers .active
    {font-size: 10px}
    
    .our-products .bxslider .order .btn
    {margin:0 15px 10px}
    
    .our-products .bxslider .order i
    {padding: 9px 10px}
}

/* End Our Products */

/* Start Blog */

.blog
{padding: 50px 0}

.blog .h1
{font-size: 34px;
font-weight: bold;
margin-bottom: 30px}

.blog .gallery img
{filter: grayscale(1);
filter: gray}

.blog .gallery:hover img
{filter: none;
-webkit-filter: grayscale(0)}

@media (max-width:991px) {
    
    .blog .gallery img
    {margin:20px auto}
}

/* End Blog */

/* Start Subscribe */

.subscribe
{background: url(../images/subscribe.png) no-repeat fixed center center;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
position: relative;
margin: 50px 0 80px;
padding: 30px 0;
height: 300px}

.subscribe .overlay
{background: rgba(49, 55, 61, 0.93);
width: 100%;
height: 300px;
position: absolute;
top: 0px;
bottom: 0;
right: 0;
left: 0}

.subscribe .h1
{font-size: 33px;
font-weight: bold;
margin-top: 67px}

.subscribe span
{font-weight: bold;
font-size: 14px;
color: #6798c1}

.subscribe .form-group
{width: 500px;
margin: 30px auto}

.subscribe .form-control
{padding: 25px 12px;
border-radius: 0}

.subscribe .btn
{margin-left: 365px;
margin-top: -74px;
letter-spacing: 0.9px;
border-radius: 0;
padding: 8px 15px}

/* End Subscribe */

/* Start Footer */

.footer
{background: #1d1a1a;
color: #aaa;
padding: 40px 0 0}

.footer h2,
.footer h3
{margin-bottom: 30px;
font-weight: bold}

.footer p,
.footer span
{font-size: 17px}
    
.footer p
{line-height: 1.6}

.footer .column .info
{margin-bottom: 10px}

.footer .point
{display: inline-block;
width: 7px;
height: 7px;
margin-right: 5px;
background-color: #aaa}

.footer .column ul li
{margin-left: -17px}

.footer .column ul li:nth-of-type(2)
{margin-top: 35px;
margin-left: -11px}

.footer .column ul li:last-of-type
{margin-top: 20px}

.footer .column .data
{margin-left: 60px}

.footer .column .data span
{display: block}

.footer .column .data span:not(:first-of-type)
{margin-top: 20px}

.footer .copyright
{margin-top: 50px;
padding: 15px 0;
background: #333}

/* End Footer */

/* Start My Framework */

.main-color
{color: #5b35ea}

/* End My Framework */
