/*****Start Default Theme*****/







.navbar-inverse .navbar-nav > .active > a,
 .navbar-inverse .navbar-nav > .active > a:hover, 
 .navbar-inverse .navbar-nav > .active > a:focus,
 .dropdown-menu > li > a:hover,
 .carousel-indicators .active,
 .option-box .fa.fa-gear.fa-3x.gear-check,
 .carousel-inner .carousel-indicators .active
  {
	background-color: #F01B1F;
}


.navbar-inverse .navbar-brand,
.item .carousel-caption h1,
.about.text-center h1 span,
.contact-us .container .row h1,
.col-lg-3.col-md-6.col-sm-12 .feat .glyphicon,
.testimonials .container h1,
.testimonials .container span,
.col-lg-3.col-sm-6 .person h3,
.row .col-lg-4 h3,
.our-skills  h1,
.footer .copyright.text-center span

{
	color: #F01B1F;
}




.navbar-nav > li > .dropdown-menu,
.option-box .color-option,
.col-md-3.col-sm-6 .price_box p:hover{ 
	border-top: 4px solid #F01B1F;

}

.our-client img:hover  {
	border: 2px solid #F01B1F;
	border-radius: 9px;

}















