body{
backgroud:url("C:\Users\Ava Antony\Desktop\NEW\background.jpg.jpg ")no-repeat center center fixed

webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
  
}

#container
#center{
	
background-color:rgba(0,0,0,0.7);

text-align:center;
top:45%;
color:white;
margin:50px;
width:10 px;
height :10 px;
padding:10px
}
#center
.ull{
position:fixed;
top:2;
width:100%;
    margin:0;
	
	
	background-color:gray;
	overflow:hidden;
	font-size:30px;
	text-transform:5;
}

.ull li {
float:left;

}
.ull li a{

      display:inline block;
	  color:white;
	  text-align:center;
	  padding:10px 10px;
	  text-decoration:none;
	  justify-content: space-around;
	  
}
li  a:hover{
	background-color:black;
}

	img{
		size:"10";
		border-radius:100px;
		border:6px solid gray;
	}


	