@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	background-color:#333;
	}
	/* part1 */

.part1 .a{
	width:23%;
	height:200px;
	background-color:#444;
	border-radius:5px;
	float:left;
	margin-left:30px;
	margin-top:40px;
	margin-right:1%;
	margin-bottom: 40px;
	}
.s1{background-color:#000;
width:100%;
height:40%;
}
.part1 .a .s1:hover{background-color:#C06;}
.part1 .a .s1 img{float:left;}
.part1 .a .s1 .p1{float:right;
color:#FFF;
font-size:14px;
margin-right:40%;}
.part1 .a .s1 .p1 span{font-size:30px;}
.part1 .a .p2{text-align:center;
font-size:12px;
color:#666;
margin-bottom:20px;
}
.part1 .a button{background-color:#000;
color:#FFF;
border-radius:5px;
width:100px;

height:30px;

outline:none;
margin-left:7%;}
.part1 .a button:hover{background-color:#C36}
/*part 2*/
.part2 .a{
	width:23%;
	height:200px;
	background-color:#444;
	border-radius:5px;
	float:left;
	margin-top:40px;
	margin-right:1%;
	margin-bottom: 40px;
	}
.s2{background-color:#000;
width:100%;
height:40%;
}
.part2 .a .s1:hover{background-color:#C06;}
.part2 .a .s1 img{float:left;}
.part2 .a .s1 .p1{float:right;
color:#FFF;
font-size:14px;
margin-right:50%;
}
.part2 .a .s1 .p1 span{font-size:30px;}
.part2 .a .p2{text-align:center;
font-size:12px;
color:#666;
margin-bottom:20px;
}
.part2 .a button{background-color:#000;
color:#FFF;
border-radius:5px;
width:100px;

height:30px;

outline:none;
margin-left:7%;}
.part2 .a button:hover{background-color:#C36}
/*part3*/
.part3 .a{
	width:23%;
	height:200px;
	background-color:#444;
	border-radius:5px;
	float:left;
	margin-top:40px;
	margin-right:1%;
	margin-bottom: 40px;
	}
.s1{background-color:#000;
width:100%;
height:40%;
}
.part3 .a .s1:hover{background-color:#C06;}
.part3 .a .s1 img{float:left;}
.part3 .a .s1 .p1{float:right;
color:#FFF;
font-size:14px;
margin-right:40%;}
.part3 .a .s1 .p1 span{font-size:30px;}
.part3 .a .p2{text-align:center;
font-size:12px;
color:#666;
margin-bottom:20px;
}
.part3 .a button{background-color:#000;
color:#FFF;
border-radius:5px;
width:100px;

height:30px;

outline:none;
margin-left:7%;}
.part3 .a button:hover{background-color:#C36}
/*part4*/
.part4 .a{
	width:23%;
	height:200px;
	background-color:#444;
	border-radius:5px;
	float:left;
	margin-top: 40px;
	margin-bottom: 40px;
	}
.s1{background-color:#000;
width:100%;
height:40%;
}
.part4 .a .s1:hover{background-color:#C06;}
.part4 .a .s1 img{float:left;}
.part4 .a .s1 .p1{float:right;
color:#FFF;
font-size:14px;
margin-right:40%;}
.part4 .a .s1 .p1 span{font-size:30px;}
.part4 .a .p2{text-align:center;
font-size:12px;
color:#666;
margin-bottom:20px;
}
.part4 .a button{background-color:#000;
color:#FFF;
border-radius:5px;
width:100px;

height:30px;

outline:none;
margin-left:7%;}
.part4 .a button:hover{background-color:#C36}
/* part 2 */
.pic .pic1{
	
	margin-left: 27px;
	margin-bottom: 20px;
	width: 28%;
	height: 400px;
	float: left;
}
.pic1 h2{
	font-family: sans-serif;
	color: white;
}
.pic1 p{
	font-family: sans-serif;
	font-size: 14px;
	color: #666;
}
.pic1 img{
	border-radius: 5px;
}

.pic .pic2{
	
	margin-left: 27px;
	margin-bottom: 20px;
	width: 28%;
	height: 400px;
	float: left;
}
.pic2 h2{
	font-family: sans-serif;
	color: white;
}
.pic2 p{
	font-family: sans-serif;
	font-size: 14px;
	color: #666;
}
.pic2 img{
	border-radius: 5px;
}
 .pic .pic3{
	
	margin-left: 27px;
	margin-bottom: 20px;
	width: 28%;
	height: 500px;
	float: left;
}
.pic3 h2{
	color: white;
}
.pic3 button{
	width: 110px;
	border-radius: 5px;
	text-align: center;
	height: 30px;
	background-color: #C36;
	color: white;
}
.pic3 button:hover{background-color: black;
color: white;}
.pic3 .pra{
	font-family: sans-serif;
	font-size: 12px;
	color: #777;
	padding-bottom: 20px;

}
/* part 3 */

.pr .pr1{width: 60%;
height: 300px;
float: left;
margin-left: 20px;
margin-right: 1%;
margin-bottom: 20px;
}
.pr .pr1 h2{
	color: white;
}
.pr .pr1 p{
	font-family: sans-serif;
	font-size: 14px;
	color: #777;
}
.pr .pr1  .a{
	float: left;
	list-style: none;
	font-size: 14px;
	margin-right: 20px;

}
.pr .pr1 .a a{
	
	color: white;

}
.pr .pr1  .b {
	float: left;
	list-style: none;
	font-size: 14px;

}
.pr .pr1 .b a{
	
	color: white;


}
.pr .pr1 .a i{
	font-size: 14px;
	color: #c36;
}
.pr .pr1 .b i{
	font-size: 14px;
	color: #c36;
}
.pr .pr1 .c{
	width: 40%;
	margin-top: 20%;
	margin-left: 40px;
	color: white;

}
.pr .pr1 .c i{
	font-size: 14px;
	color: #c36;
}
.pr .pr2{width: 30%;
height: 200px;
float: left;
margin-top: 5%;
margin-bottom: 20px;}
.pr .pr2 h2{
	color: white;
}
.pr .pr2 p{
	color: #777;
}
.pr .pr2 h4{
	color: white;
}
/* footer*/

.footer .f1{float: left;
width: 60%;

}
.footer .f1 ul{
	list-style: none;
	
	margin-left: 40px;
}
.footer .f1 ul a{
	margin-top: 20px;
	padding: 10px;
	float: left;
	text-decoration: none;
	color: #999;
	margin-bottom: 5%;
}
.footer .f1 p{
	margin-top: 5%;
	margin-left: 100px;
	font-size: 14px;
	color: #999;
}
.footer .f1 p span{
	color:#c36;
}
.footer .f2{float: left;
width: 30%;
}
.footer .f2 .contact{
	width: 90%;
	height: 150px;
	background-color: gray;
	border-radius: 5px;
}
.footer .f2 .contact h2{
	color: white;
	padding: 15px;
}
.footer .f2 .contact input {
	width: 65%;
	height: 15%;
	margin-left: 10px;
	border-radius: 5px;
	margin-right: 1%;
}
.footer .f2 .contact button{
	width: 20%;
	height: 28px;
	border-radius: 5px;
	outline: none;
}
