/*---------------------------------------
    Body Style              
-----------------------------------------*/
body{
  font-family: 'Changa', sans-serif;

}

body::-webkit-scrollbar {
  width: 0.6em;
  background: #fff
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background: #1976d2;
  outline: 1px solid #fff;
  border-radius: 0px;
  width: 0.5em
}


/*---------------------------------------
    Up To page style              
-----------------------------------------*/

.up i {
    color: #fff;
    position: fixed;
    z-index: 9999;
    background: #0C3A67;
    padding: 14px;
    border-radius: 2px;
    font-size: 32px;
    right: 10px;
    cursor: pointer;
    top: 500px;
    transition: 0.3s;
    display: none;
}

.up i:hover {
  background:#358ade;
  color: #fff
}


/*---------------------------------------
    Pre Loader Style              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #fff;
}

.sk-spinner-pulse {
  width: 60px;
  height: 60px;
  background-color:#1976d2;
  border-radius: 100%;
  margin: 40px auto;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
  animation: sk-pulseScaleOut 1s infinite ease-in-out;
}

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    trans.info: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    trans.info: scale(1);
    opacity: 0;
  }
}

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    trans.info: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    trans.info: scale(1);
    opacity: 0;
  }
}



.container{width: 87%}


/*---------------------------------------
    navbar section Style              
-----------------------------------------*/
.navbar nav {
    background: #1976d2;
}
.navbar nav .trans-lang span {
    position: absolute;
    right: 18px
}
.navbar nav .trans-lang span a.active-lang{background: #fff;color: #222}
.navbar nav .trans-lang span a {
    background:#2a3045;
    text-align: center;
    transition: 0.3s
}
.navbar nav .trans-lang span a:hover{
  background: #fff;
  color: #222
}
.navbar nav ul a:hover {
    background:#358ade;
}
.navbar nav ul{float: left;}
.navbar nav ul li{
  float: right;
}
.navbar img {
    width: 226px;
    position: relative;
    top: 4px;
    right: 70px;
}
  .navbar .side-nav li{width: 100%;}
  .navbar .side-nav a{color: #fff}
    .navbar .side-nav{
      background: #1976d2; 
    }

/*---------------------------------------
    slider section Style              
-----------------------------------------*/
.slider-carousel .owl-carousel{
  direction: ltr
}
.slider-carousel .items {
  position: relative;
  height: 550px;
  overflow: hidden;
  text-align: center;
}
.slider-carousel .items img{
  width: 100%;
  height: 100%;

}
.slider-carousel .items .caption {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
}

.slider-carousel .items .caption .content {
    position: absolute;
    text-align: -webkit-auto;
    left: 40px;
    width: 50%;
    top: 21%;
}
.slider-carousel .items .caption .content hr {
    border-color: rgba(255, 255, 255, 0.38);
    margin-top: 5%;
    margin-bottom: 5%;
    width: 66%;
    position: relative;
    right: 17%;
}
.slider-carousel .items .caption .content a {
    background: #1976d2;
    margin-top: 3%;
}

/*the inductor style*/
.owl-theme .owl-nav.disabled + .owl-dots {
    position: absolute;
    bottom: 1px;
    right: 44%;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1.5;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #1976d2;
}
.owl-theme .owl-dots .owl-dot span {
    background: rgba(255, 255, 255, 0.55);
    border-radius: 0px;
}




/*---------------------------------------
   about section Style              
-----------------------------------------*/
.about-us {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #1976d2;
}
.about-us .info{
    width: 63%;
    margin: 0 auto;
}
.about-us .info h5 {
    margin-top: 0;
    color: #fff;
    font-weight: bold;
}
.about-us .info h6 {
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.7em;
    font-size: 17px;
}



/*---------------------------------------
   offers section Style              
-----------------------------------------*/

.offers {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #fff;
    margin-bottom: -16px;
}
offers .col {
  margin-bottom: 30px
}

.offers a{
 background: #1976d2;
 margin-top: 3%;
 transition: 0.3s 
}
.offers a:hover{
  background:#358ade;
}

/*---------------------------------------
   works section Style              
-----------------------------------------*/
.works{
  min-height: 400px;
  margin-bottom: -21px;
  background: #1976d2;
  }


.works h5{
    color: #fff;
    padding-top: 33px;
}
.works hr {
    width: 29%;
    margin-top: 25px;
    border-color: #78bfe0;
}
.works .info{
  overflow: hidden;
  height: 170px;
  margin-top: 40px;
}
.works .info .details{
  width: 60%;
  height: 100%;
  background: rgba(0, 0, 0, 0.51);
  color: #fff
}
.works .info .details p{
  color: rgba(255, 255, 255, 0.47)
}
.works .info .details a{
  background: #1976d2;
  transition: 0.3s 
}
.works .info .details a:hover{
  background:#358ade;

}
.works .info .img{
  width: 40%;
  height: 100%;
  overflow: hidden;
}
.works .info .img img{
  width: 100%;
  height: 100%
}
.works .see-more{padding-bottom: 50px}
.works .see-more a{background:#358ade;transition: 0.5s }
.works .see-more a:hover{ background: #1976d2;}
.works #info{display: none;}
.works .see-more .span-2{display: none;}

/*---------------------------------------
  contact-us section Style              
-----------------------------------------*/
.contact-us{
  overflow: hidden;
  background-image: url(../imgs/contact.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 40px;
  margin-top: 0;

}
.contact-us .info{
  margin-bottom: 25px
}

.contact-us .info p{color: #fff}
.contact-us .info i {
    color:#1976d2;;
    position: relative;
    top: 10px;
}
.contact-us .info h5 {
    margin-top: 0px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ffffff;
    width: 50%;
    color: #fff;
}
.contact-us .info input {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.53);
    text-indent: 10px;
    font-size: 13px;
    color: #fff;
}
.contact-us .info textarea{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.53);
    height: 150px;
    resize: none;
    margin-bottom: 10px;
    color: #fff
}
.contact-us .info a{
    background: #1976d2;
    transition: 0.5s
}



.footer {
  background: #1976d2;
  color: #fff;
  margin-top: -15px;
  padding-top:25px;
  padding-bottom: 25px
}
.footer ul{
    display: inline-flex;
    padding: 0;
}
.footer ul li {
    margin-right: 26px;
    font-size: 21px;
}
