/*Start Main Rules*/
*
{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box
}

.container
{
    margin:5px auto;
    width:1100px
}
hr{
    background-color:#ccc;
    border:0;
    height:1px
}
/*End Main rules*/
/*Start Header*/
.header .slider
{
    height:683px;
    background-image: url("../images/13818125963_5a67445be7_b.jpg");
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
    padding-top:200px
}
.header .slider .intro{
    height:600px;
    opacity: .7
}
.header .slider .intro h2{
    font-size:50px;
    width:600px;
    margin:auto;
    border-top:3px solid #85ec9a;
    border-bottom:3px solid #85ec9a;
    padding:5px 0 5px 0
}
.header .slider .intro h2 span{color:#85ec9a}
.header .slider .intro button{
    margin-top:20px;
    background:none;
    padding:10px 15px;
    border:3px solid #85ec9a
}
.navbar{background-color:#252e30}
.navbar .container ul
{
    list-style-type:none;
    padding-left:0;
    float:right
}
.navbar .container ul li
{
    padding:10px;
    text-transform:capitalize
}
.navbar .container ul li a{
    color:#EFEFEF;
    text-decoration:none
}
.navbar .container ul li a:hover{
    color:#2ecc71;
    transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out
}
/*End Header*/

/*Start Features*/
.features{padding:40px 0 40px 0}
.features .container > div
{
    width:33.33%;
    padding:0 20px ;
    line-height:1.5
}
/*End Features*/

/*Start About-Me*/
.about-me .image{width:40%}
.about-me .container .image img{
    width:100%;
    height:1000px
}
.about-me .container .info{
    width:60%;
    padding:30px 0 0 140px;
    line-height:1.5
}
.about-me .container .info .hobbies{padding-top:20px}
.about-me .container .info .hobbies .content{
    width:50%;
    min-height:100px
}
.about-me .container .info .hobbies .content .icon{
    width:20%;
    padding:20px 0 0 10px
}
.about-me .container .info .hobbies .content .icon img{max-width:30px}
.about-me .container .info .hobbies .content .text{width:80%}
.about-me .container .info .hobbies .content .text h3{
    margin-bottom:0;
    font-size:22px
}
/*End About-Me*/

/*Start Skills*/
.skills{padding:80px 0}
.skills .container .my-skills{
    width:50%;
    padding-right:30px
}
.skills .container .my-skills h2,
.skills .container .my-skills p{line-height:1.5}
.skills .container .my-skills h2{padding-bottom:10px;}
.skills .container .my-skills button{
    background:none;
    border:2px solid #2ecc71;
    padding:10px 30px;
    margin-top:20px
}
.skills .container .progress{
    float:right;
    width:50%;
    padding-top:20px
}
.skills .container .progress .tecnique{padding-left:30px}
.skills .container .progress .tecnique h3{font-size:22px}
.skills .container .progress .tecnique div{height:25px}
.skills .container .progress .tecnique div span{
    display:block;
    background-color:#2ecc71;
    height:25px;
    line-height:1.7;
    text-align:right
}
/*End Skills*/

/*Start Resume*/
.resume{
    padding:20px;
    line-height:1.7;
    padding:80px 0
}
.resume h2{
    padding-bottom:20px;
    margin:0
}
.resume p{padding-bottom:20px}
.resume button{
    background:none;
    padding:10px 30px;
    border:2px solid #2ecc71
}
/*End Resume*/

/*Start Education*/
.education{
    padding:20px;
    line-height:1.7
}
.education::before
{
    content:"";
    border-top:20px solid #f2f2f1;
    border-right:20px solid transparent;
    border-left:20px solid transparent;
    height:0;
    width:0;
    position:relative;
    top:-5px;
    left:49%
}
.education .main{
    width:50%;
    padding-top:40px
}
.education .main p{padding-bottom:15px}
.education .exp{
    width:50%;
    padding:100px 0 0 60px
}
.education .exp h3{font-size:22px}
.education .exp span:first-of-type{
    margin:15px 0;
    display:block;
    font-style: italic
}
.education .exp span:nth-of-type(2){
    display:block;
    width:80px;
    background-color:#2ecc71;
    padding:5px 10px;
    margin-bottom:30px;
    font-size:14px
}
.education .exp p{padding:15px 0 50px}
/*End Education*/

/*Start Testimonial*/
.testimonial{
    padding:50px 0;
    line-height:1.7
}
.testimonial q{font-size:24px}
.testimonial ul{
    list-style-type:none;
    padding-left:0
}
.testimonial ul li{
    display:inline-block;
    border:2px solid #2ecc71;
    width:15px;
    height:15px;
    border-radius:50%
}
.testimonial ul li:hover{
    background-color:#2ecc71;
    transition: all .5s ease-in-out;
    cursor: pointer
}
/*End Testimonial*/

/*Start Portfolio*/
.portfolio{
    padding:50px 0;
    line-height:1.7
}
.portfolio p{padding:20px 0 50px}
 .portfolio .sc-shots > div{width:33.333%}
.portfolio .sc-shots > div img{
    width:92%;
    margin-bottom:20px;
    opacity:.5;
    box-shadow:8px 8px 12px #a7a7a7
}
.portfolio .sc-shots > div:hover img{
    opacity:1;
    box-shadow:8px 8px 5px #a7a7a7;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out
}
/*End Portfolio*/

/*Start Contact Me*/
.contact-me{
    padding:80px 0;
    background-color:#252e30
}
.contact-me .my-contacts{
    width:50%;
    color:#919191;
    line-height:1.7
}
.contact-me .my-contacts p{padding:20px 0}
.contact-me .form{width:50%}
.contact-me .form form{padding:90px 0 0 60px}
.contact-me .form form label{display:block}
.contact-me .form form label span{color:#616464}
.contact-me .form form input,
.contact-me .form form textarea{
    display:block;
    background-color:#4b5456;
    border:none;
    margin:20px 0 40px;
    border-radius:10px
}
.contact-me .form form input[type="text"],
.contact-me .form form input[type="email"]{
    width:100%;
    height:50px
}
.contact-me .form form textarea{
    display:block;
    width:100%;
    height:200px
}
.contact-me .form form input[type="submit"]{
    padding:15px 40px;
    background-color:#191f21
}
/*End Contact Me*/

/*Start Footer*/
.footer{
    padding:20px;
    background-color:#191f21;
    text-align:center;
    color:#4b5456
}
.footer p{text-transform:uppercase}
.footer ul{
    list-style-type: none;
    padding-left:0
}
.footer ul li{display:inline-block}
.footer ul li img{
    width:45px;
    height:45px;
    transition: all .8s ease-in-out;
    border-radius:50%
}
.footer ul li img[alt="twitter"]:hover{background-color:#1da1f2}
.footer ul li img[alt="facebook"]:hover{background-color:#3b5998}
.footer ul li img[alt="pintrest"]:hover{background-color:#bd081c}
.footer ul li img[alt="googleplus"]:hover{background-color:#dd4b39}
.footer ul li img[alt="instagram"]:hover{background-color:#5851db}
.footer ul li img[alt="linkedin"]:hover{background-color:#0077b5}
/*End Footer*/

/*Start Framework*/
.white{color:#FFF}
.green{color:#2ecc71}
.l-gray{color:#566366}
.white-bg{background-color:#f2f2f1}
.hidden{overflow:hidden}
.clear-fix{clear: both}
.f-left{float:left}
.lf-size{
    font-size:30px;
    text-transform:uppercase
    }
.sf-size{font-size:18px}
.u-case{text-transform:uppercase}
.b-radius{border-radius:10px}
.center{text-align:center}
/*End Framework*/