/*!CK:3609853146!*//*1427228411,*/

._36iq{border-top:1px solid #f0f0f0;color:#7f7f7f;cursor:pointer;font-size:12px;font-weight:bold;line-height:16px;text-align:center}._2yf7{vertical-align:bottom}._36iq._4ivs{color:#5890ff}._2yf7._5jp{display:inline-block}._2yf7._3wdt{display:none}._4ivs ._5jp{display:none}._4ivs ._3wdt{display:inline-block}

#bootloader_PoXIL { height: 42px; }
.bootloader_PoXIL { display:block !important; }