/**** Start Default Theme ****/

.navbar{background:#ea5577;}
.slid{background:rgba(241, 0, 54, 0.81);}
.slid input[type="submit"]{background :#ea5577;}
.about{background:#ea5577;}
.about-us{background:rgba(241, 0, 54, 0.81);}
.about-us input[type="submit"]{background:rgba(234, 85, 119, 0.32)}
.servis  input[type="submit"]{background:#ea5577;}
.servis  input[type="submit"]hover{background:#ea5577;}
.servis hr{border: 1px solid #ea5577;}
.contact{background: rgba(6, 0, 1, 0.84)}
.contact h5{color:#ea5577; }
.contact .glyphicon{color:#ea5577; }
.contact input[type="submit"]{background:#ea5577;}
 .contact input[type="submit"]:hover{ color:#fff; background:#ea5577; }
 .footer{background:#ea5577;}
 .copyright{background:#ea5577;}
 .option-box .glyphicon-cog{background:#ea5577;}
body::-webkit-scrollbar-thumb {background-color:#ea5577;}

.btn-floating.btn-large:hover{background:#ea5577;}
 .btn-floating.btn-large{border:2px solid #ea5577}
 .b1:hover{background:#ea5577; color: #fff;}
 .b2:hover{background:#ea5577; color: #fff;}
 .b3:hover{background:#ea5577; color: #fff;}
 .b1,.b2,.b3{border:2px solid #ea5577}
 .sidebar .material-icons{background:#ea5577}


/**** End Default Theme ****/