/**** Start Default Theme ****/
.option-box .glyphicon-cog{border: 2px solid #30719d}
#logo{background-color: #30719d;}
#Features .a .glyphicon{color: #30719d;}
.nav li:hover {color: #30719d;}
#Features .material-icons, #Features .fa{color: #30719d;}
#my-work .all{background-color: #30719d; color: #fff;}
#my-work button{color: #30719d; }
#contact input[type="submit"]{background-color: #30719d;}
#contact input[type="submit"]:hover{background: #195279}
.option-box .color-option{border: 1px solid #30719d;}
.footer span{color: #195279 }
.head h1{border-bottom: 1px solid #30719d;}
.sidebar .material-icons{color:#195279; }
.side-nav span{color:#195279 }

body::-webkit-scrollbar-thumb {
  background-color:#30719d;}

.btn-floating.btn-large:hover{background:#30719d;}
.btn-floating.btn-large{border: 2px solid #30719d}

.b1:hover{background:#30719d;}
.b2:hover{background:#30719d;}
.b3:hover{background:#30719d}
.b1,.b2,.b3{border: 2px solid #30719d}




/**** End Default Theme ****/

<body>
<div class="progress-bar position" data-percent="98" data-color="#444444, #4fcead"><div>
</body>
