
body::-webkit-scrollbar {
  width: 0.6em;
  background: #fff
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color:#ea594f;
  outline: 1px solid #fff;
  border-radius: 5px;
  width: 0.5em
}

body{overflow-x: hidden;}
body{background-color:#e8e8e8}
h1,h2,h3,section
{
  font-family: 'cabin handgloves';
  letter-spacing:0;
}

.cp-spinner{width:48px;height:48px;display:inline-block;box-sizing:border-box;position:relative}.cp-flip{transform-style:preserve-3d;perspective:10em}.cp-flip:before{width:48px;height:48px;display:inline-block;box-sizing:border-box;background:#F56151;content:" ";position:absolute;top:0;left:0;animation:cp-flip-animate-before 2s linear infinite}@keyframes cp-flip-animate-before{0%{transform:rotateY(0) rotateX(0)}25%{transform:rotateY(360deg) rotateX(0)}50%{transform:rotateY(360deg) rotateX(360deg)}75%{transform:rotateY(0) rotateX(360deg)}100%{transform:rotateY(0) rotateX(0)}}
.cp-spinner
{
  top: 300px;
  left: 500px;
}

.loading
{
  position: fixed;
  left: 0;
  top:0 ;
  z-index: 99999;
  color: #fff;
  width: 100%;
  height: 100%;
  background: #222;
}
.fixed-action-btn{bottom:100px;}
.btn-floating.btn-large{padding-top: 7px;}
.btn-floating{background:#585fbd}
.b1{background:#585fbd; width:50px; height:50px}
.b2{background:#585fbd; }
.b3{background:#585fbd; }
.fixed-action-btn a{text-decoration: none;}
.b1,.b2,.b3
{
    width: 50px;
    height: 50px;
    padding-right: 10px;
    padding-top: 5px;
    border: 1px solid #222;
    padding-left: 7px;
}

.btn-floating.btn-large{padding-top: 3px;font-weight: bold; width: 59px; height: 59px; border: 2px solid #e9594f;}
.btn-floating{background:#3e3e3e}


.fixed-action-btn a{text-decoration: none;}
.b1,.b2,.b3
{
    width: 59px;
    height: 59px;
    padding-right: 10px;
    padding-top: 5px;
    border: 2px solid #e9594f;
    padding-left: 7px;
    font-weight: bold;
}

.btn-floating.btn-large:hover{background:#e9594f;; color: #fff}
.b1:hover{background:#e9594f; color: #fff;}
.b2:hover{background:#e9594f; color: #fff;}
.b3:hover{background:#e9594f; color: #fff;}


/* NAVIGATION */
nav {
  width: 100%;
  margin: 0 auto;
  background:#444444;
  padding: 0;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.14);
  top: 50px;
    position: absolute;
    z-index: 2;
}

/* By Dominik Biedebach @domobch */

nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding:9px;
  text-decoration: none;
  color: #aaa;
  font-weight:bold;
  text-transform: uppercase;
  margin: 0px 0px;
  margin-top: 12px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}


nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
  color:#ede7f6
;
  text-decoration: none;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #fff;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}
nav ul {
  list-style: none;
  text-align:center;
  padding-right:200px;

}

.side-nav .userView img
{
    height:200px;
    width: 100%;
    padding-left: -22px;
    position: absolute;
    left:0px;
    top:0;
}
.link
{
    padding-top:180px;
}
.link .material-icons 
{
    color:#4fcead;
    box-shadow:none;
    font-size: 25px;
    padding-right: 7px; 
}
.link ul
{
   padding-top: 20px;
}
.side-nav a
{
    color:#848484;
    font-size: 18px;
    text-decoration: none;
}
.side-nav span
{
    padding-left: 16px;
    color:#f35449;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
}



.menu {
  position: fixed;
  height: 50px;
  width: 50px;
  cursor: pointer;
  top:60px;
  left: 0;
  background:#444444;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  z-index: 100;
  overflow: hidden;
  
}

.menu nav {
  position: fixed;
  
  left: 13%;
   top:69%;
   width:50%;
   height:100vh;
   bottom: 0; 
   -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  opacity: 0;
  -moz-transition: all 250ms linear 250ms;
  -o-transition: all 250ms linear 250ms;
  -webkit-transition: all 250ms linear;
  -webkit-transition-delay: 250ms;
  -webkit-transition: all 250ms linear 250ms;
  transition: all 250ms linear 250ms;
  pointer-events: none;
  
}
.menu nav ul {
  list-style-type: none;
  padding: 0;
}
.menu nav ul li{display: block}
.menu nav ul li a {
  display: block;
  padding: 0;
  text-decoration: none;
  color:#ede7f6;
  text-align: left;
  margin-left: 31px;
}

.menu .line {
  height: 5px;
  width: 40px;
  background: #d1c4e9;
  position: absolute;
  top: 22.5px;
  left: 5px;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}
.menu .line:after, .menu .line:before {
  content: ' ';
  height: 5px;
  width: 40px;
  background: #d1c4e9;
  position: absolute;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}
.menu .line:before {
  top: -10px;
}
.menu .line:after {
  bottom: -10px;
}
.menu.active {
  width:26%;
  height: 100%;
  top:53px;
}
.menu.active nav {
  opacity: 1;
  pointer-events: all;
}
.menu.active .line {
  background: transparent;
}
.menu.active .line:before {
  background: #000;
  -webkit-transform: rotate(-405deg);
  transform: rotate(-405deg);
  top: 0px;
}
.menu.active .line:after {
  background: #000;
  -webkit-transform: rotate(405deg);
  transform: rotate(405deg);
  bottom: 0px;
}

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  width: 460px;
  text-align: center;
}
.menu hr
{
    margin-top: 15px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.28);
}


.fixed-action-btn.toolbar ul li a i
{
    color: #fff;
}

.logo
{
    background:#ea594f;
    color: #ede7f6;
    text-align: center;
    position: fixed;
    z-index: 3;
    margin-top: -1px;
    width: 100%;
    height: 54px;
    padding-top: 13px;
    font-weight: 800;
    font-size: 22px;
    text-shadow: 0 0 20px black;
    box-shadow: inset 0px -20px 20px 0px rgba(0, 0, 0, 0.08);
}
.form{position: relative; float:left; top: 13px; padding-left: 85px;}
.form .fa-search 
{
    position: absolute;
    float: right;
    font-size:18px;
    color: #dcdcdc;
    top:1px;
    left:27px;
    background-color:#e5574d;;
    border-radius: 50%;
    padding:4px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.26);
    border: inset #e5574d;
}
.form input[type="text"]
{
     height: 34px;
    float: right;
    width:184px; 
   
    border-radius:3px;
    border: none;
    background: #f7f7f7;
    visibility: hidden;
}
.form p
{
    position: absolute;
    right: 85px;
    top: 4px;
    color:#c5c5c5;
    font-size: 20px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.63);
}
.menu .fa
{
    color:#ede7f6;
    margin-right: 15px;
    font-size: 20px;
}


.jssora05l, .jssora05r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 40px;
            cursor: pointer;
            background: url('../imgs/img/1.jpg') no-repeat;
            overflow: hidden;
        }
        .jssora05l { background-position: -10px -40px; }
        .jssora05r { background-position: -70px -40px; }
        .jssora05l:hover { background-position: -130px -40px; }
        .jssora05r:hover { background-position: -190px -40px; }
        .jssora05l.jssora05ldn { background-position: -250px -40px; }
        .jssora05r.jssora05rdn { background-position: -310px -40px; }
        .jssora05l.jssora05lds { background-position: -10px -40px; opacity: .3; pointer-events: none; }
        .jssora05r.jssora05rds { background-position: -70px -40px; opacity: .3; pointer-events: none; }
        /* jssor slider thumbnail navigator skin 01 css *//*.jssort01-99-66 .p            (normal).jssort01-99-66 .p:hover      (normal mouseover).jssort01-99-66 .p.pav        (active).jssort01-99-66 .p.pdn        (mousedown)*/.jssort01-99-66 .p {    position: absolute;    top: 0;    left: 0;    width: 99px;    height: 66px;}.jssort01-99-66 .t {    position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%;    border: none;}.jssort01-99-66 .w {    position: absolute;    top: 0px;    left: 0px;    width: 100%;    height: 100%;}.jssort01-99-66 .c {    position: absolute;    top: 0px;    left: 0px;    width: 95px;    height: 62px;    border: #000 2px solid;    box-sizing: content-box;    background: url('../imgs/img/1.jpg') -800px -800px no-repeat;    _background: none;}.jssort01-99-66 .pav .c {    top: 2px;    _top: 0px;    left: 2px;    _left: 0px;    width: 95px;    height: 62px;    border: #000 0px solid;    _border: #fff 2px solid;    background-position: 50% 50%;}.jssort01-99-66 .p:hover .c {    top: 0px;    left: 0px;    width: 97px;    height: 64px;    border: #fff 1px solid;    background-position: 50% 50%;}.jssort01-99-66 .p.pdn .c {    background-position: 50% 50%;    width: 95px;    height: 62px;    border: #000 2px solid;}* html .jssort01-99-66 .c, * html .jssort01-99-66 .pdn .c, * html .jssort01-99-66 .pav .c {    /* ie quirks mode adjust */    width /**/: 99px;    height /**/: 66px;}

.sidebar .material-icons
{
    color: #f1f1f1;
    padding: 1px;
    font-size: 46px;
    margin-top: -62px;
    z-index:2;
    float:right;
    position: relative;
    left: -6px;
}
.sidebar
{
    position: relative;
    top: 120px;
}
.a
{
    width: 100%;
    height: 50px;
    background:#444444;
    text-align: center;
    position: relative;
    top:135px;
    color: #ede7f6;
    padding-top:5px;
    font-size: 30px;
}
.b 
{
    position: relative;
    top: 135px;
}
.b p
{
    padding: 15px;
}
.b  h2
{
    color:#ea594f;;
    font-weight: bold;
}

      /************* this card *************/

.card .card-reveal{z-index:1}
.card .card-content img
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    top: -114px;
    z-index: 1;
}
.card .card-image img
{
    width:100%;
    height: 200px;
}

.cardx
{
  position: relative;
  top:148px;
}

     /******* card-a ******/
.card-a .card .card-content p
{
    font-size: 14px;
    display: block;
}
.card .card-content img
{
    position: absolute;
    top: 166px;
    z-index: 1;
    left: 28px;
}
.card-a .card .glyphicon{padding-right: 7px; color: #e0554c;}
.card-a .card .glyphicon-chevron-up
{
    top: -30px;
    left: 221px;
    color: #222
}

 /******* card-b ******/
 .card-b .card .card-content .card-title
 {
    font-size: 16px;
 }
 .card-b .card .glyphicon-chevron-up
 {
    left: 124px;
 }
 
 /******* card-c ******/
 .card-c .i  .fa 
 {
    font-size: 25px;
    margin-top: 24px;
 }
 .card-c .i  .fa-facebook-square{color:#253f6f}
 .card-c .i  .fa-twitter-square{color: #58edef}
 .card-c .i  .fa-google-plus-square{color: #ef5858}
 .card-c .i  .fa-github-square{color: #efa5ec}

 .card-c .card .card-content .card-title
 {
    font-size: 17px;
 }
 .card-c .card .glyphicon-chevron-up
 {
    left: 127px
 }

.modal
{
    max-height: 275px;
}
.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat
{
     margin: 13px 7px;
    background-color: #4dbbb1;
    color: white;
}
img.responsive-img,
video.responsive-video
{
    background-color:#353535;
    padding-left: 6px;
    padding-right: 6px;
}
.card-panel
{
    position: relative;
    top: 163px;
}
.table
{
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    top: 156px;
}
.table .open1 , .table .open2 , .table .open3 ,.table .open4
{
    background: white;
    border: 1px solid #e0e0e0;
    padding:12px;

}
.table .box1 , .table .box2 , .table .box3 ,.table .box4
{
    background:rgb(255, 210, 207);
    padding:9px;
    display: none;   
}

.slider .indicators .indicator-item{display: none;}

.slider
{
    position: relative;
    top: 137px;
    background: #c3c5c5;
    padding-bottom: 50px;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.84);
}

.progress
{
    height: 4px;
    width: 100px;
    float: right;

}
.collection-item span.badge
{
    margin-top: calc(-0.25rem - 11px);
    margin-right: 52px;
    color: #ffffff;
    border-radius: 2px;
    min-width: 2rem;
    
}
.collection-item span.new
{
    margin-top: calc(0.75rem - 11px);
    background: #f15f54;
    margin-right: 25px;
}
.collection .collection-item.avatar p 
{
    margin-left: -52px;
    font-size: 12px;
    color:#2196f3;
}
.collection .collection-item.avatar i.circle
{
   background:#e5574d
}
.collection a.collection-item
{
    color:#5f5f5f; 
}
.collection h4
{
    color: #4c4c4c;
    font-weight: bold;
    font-size: 15px;
    margin-left: -53px;
    font-family: monospace, monospace;
}
.collection .i 
{
    color:#484848;
    margin-left: 1px;
    margin-top: 13px;
}
.secondary-content
{
    color:#ff9800;
}
.material-icons
{
    float: right;
    color:#ea594f;
}
.card-action .btn i
{
    font-size: 2.3rem;
    color: white;
    margin-top: -4px;
}
.card-action .btn
{
    margin-top:17px;
    background:#ea594f;
}
.Foster
{
    position: relative;
    top: 149px;
    padding-bottom: 30px;
}
.Foster .material-icons
{
    float: none;
    color:#ea594f;
    position: relative;
    top: 6px;
    right: 5px;
}
.Foster .btn
{
    padding: 4px 11px;
    height:28px;
    background: #ea594f;
}


.parallax-container {
      height:300px
    }

.background .container .row
{
    margin-left: -3.75rem;
    margin-right: -2.75rem;
}
.background
{
    
    position: relative;
    top: 153px;
    background:#ffffff;
}
.background h4
{
   
  padding:15px;
  margin-bottom: 0;
}
.larg p
{
    background:#ea594f;
    width:40%;
    color:#fff;
    margin-left:15px; 
    padding:5px;
    border-radius: 4px;
    font-size:20px;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.35);
    margin-top:5px;
}
.larg .material-icons
{
    float: left;
    color: #fff;
    margin-right: 5px;
}
.mark
{
    background:#444444;
    width: 100%;
    position: relative;
    top:190px;
    font-size: 49px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    padding: 0;
}
.footer
{
    width: 100%;
    margin-top: 191px;
    text-align: center;
    background: #444444;
    padding: 3px;
}
.footer img{width: 100%;}
.mark .fa
{
   color:#fff;
   
}


.footer h6
{   
    color: #c7c7c7;  
}

@media (max-width:767px)
{

    .stroke ul{display: none;} 
    .white-text
    {
      color: #f44336 !important
    }
    .larg p{font-size: 14px;}
    .larg .material-icons{display: none;}
    .card-b .card .glyphicon-chevron-up,.card-c .card .glyphicon-chevron-up
    {left: 83px}
    .card-a .card .glyphicon-chevron-up{left: 173px}
}

@media(max-width:991px)
{
    .card{width:238px }
    .background h4{padding-top: 0}
}
@media(max-width:789px)
{
    .collection-item span.badge{display: none;}
}
@media(max-width:600px)
{
    .Foster p{margin-top: 50px;}

}


