/*main rulez*/
body{
	
	width: 1349px;
	height: 1000px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;}

h1,h2,h3,h4,h5,h6,p{
	
	margin: 0;
	padding: 0
}

ul,li{
	
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block
}

/*start header*/
.header{
	
	height: 85px;
	background-color: #5e4072;
}

.header .logo{
	
	margin: 30px 40px;
	float: left;
	color:#ffffff;
	cursor: pointer
}
.header .logo h2:hover{
	
	color: #c6b7ce
}
.header .logo span{
	
	margin-left: 5px;
	padding: 5px;
	border: 3px solid #c6b7ce;
	border-radius: 30%;
	background-color: #fff;
	color: #5e4072
	
}

.header .logo span:hover{
	
	margin-left: 5px;
	padding: 5px;
	border: 3px solid #fff;
	border-radius: 30%;
	color:#fff;
	background-color: #c6b7ce;
	
}

.header .topics ul li{
	
	color: #ffffff;
	margin:35px 20px;
	cursor: pointer;

}

.header .topics #active{
	
	color: #c6b7ce;
	font-weight: 600
}

.header .topics ul li:hover{
	
	color: #c6b7ce;
	font-weight: 600;
	border-bottom: 3px solid #c6b7ce
}

.header .search-box{
	
	width: 300px;
	height: 35px;
	background-color: #fff;
	margin-left: 115px;
	
	border-radius: 20px;
	color: #c4c4c4;
	display: inline-block;
	
	
}
.header .search-box p{
	
	padding-top: 10px;
	text-transform: capitalize
	
}

.header .search-box:hover{
	
	color: #6d2891;
	font-weight: 600;
	opacity: 0.4
}

.header .search-box p i{
	
	margin-left: 10px
}

.header .topics #ring{
	
	color: #c6b7ce;
	margin-left: 35px;
	z-index: 1;
	cursor: pointer
}

.header .topics #ring:hover{
	
	color: #fff
}
.header .topics #circle{
	
	color: #ff5b5f;
	font-size: 10px;
	margin-left: -12px;
	z-index: 2;

		
}

.header .topics .img{
	
	width: 50px;
	height: 50px;
	display: inline-block;
	padding-top: 18px;
	padding-right: 40px;
	float: right;
	cursor: pointer
}

.header .topics .img img{
	width: 100%;
	border-radius: 15%
}

.header .topics .img img:hover{
	
	border: 2px solid #c6b7ce
}
/*end header*/

/*start details*/

.details{
	
	background-color: #f6f6f4;
	height: 1065px
}


.details .my-headding h1{
	
	width: 470px;
	color: #5e4072;
	padding-top: 60px;
	margin-left: 460px;
	padding-bottom: 20px;
	cursor: pointer
}


.details .my-headding h1:hover{

	border-bottom: 2px solid #c6b7ce;

	
}


/*end details*/

/*start container*/

.details .container{
	
	margin-top: 75px;
	padding-left: 200px;
	width: 1025px;
}

.details .container .mid-box{
	
	background-color: #c6b7ce;
	height:45px;
	width: 1025px;
	border: 2px solid #5e4072;
	border-radius: 5px
}

.details .container .mid-box:hover{
	
	-webkit-box-shadow: 3px 5px 7px #888888;
}

.details .container .mid-box h5{
	
	margin-top: 15px;
	margin-left:25px;
	cursor: pointer
}

.details .container .mid-box p{
	
	color: #eee;
	display: inline-block
}

.details .container .mid-box p:hover{
	
	text-decoration: underline
}

.details .container .mid-box i{
	
	margin-left: 5px;
	color: #eee;
	
}

.details .container .mid-box #dismiss{
	
	float: right;
	color: #eee;
	font-size: 12px;
	margin-top:-15px;
	margin-right:25px;
	text-decoration: none;
	cursor: pointer
	
}

.details .container .mid-box #dismiss:hover{
	border-bottom: 1px solid #eee;
}

.details .container .mid-box #dismiss span{
	margin-left: 2.5px
}

.details .container .titles{
	
	width: 1025px;
	margin-top: 35px;
	
	
}

.details .container .titles p{
	
	display: inline-block;
	margin-left: 25px;
	font-weight: 600;
	margin-bottom: 25px;
	padding-bottom: 30px;
	cursor: pointer
}

.details .container .titles #overflow{
	
	border-bottom: 3px solid #5e4072;
	
}

.details .container .titles #overflow:hover{
	
	border-bottom: none;
	color: #5e4072;
}

.details .container .titles #filter{
	
	float: right;
	margin-right: 20px
}


.details .container .titles #filter-icon{
	
	color: #5c5c5a;
	margin-right: 5px;
	font-weight: normal
}

.details .container .titles #down{
	
	color: #5c5c5a;
	margin-left: 5px;
	font-weight: normal
}

.details .container .titles #filter:hover,#timeline:hover{
	
	border-bottom: 3px solid #5e4072;
	color: #5e4072
}

.details .container .people{
	
	width: 1025px;
	margin-top: 35px;
	padding-top: 25px;
	padding-bottom: 10px;
	border-top: 1px solid #c6b7ce;	
	
}

.details .container .people .person{
	
	width: 324px;
	height: 60px;
	margin-right: 15px;
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: 3px;
	display: inline-block
}
.details .container .people .person:hover,.details .container .people .person-last:hover{
	
	background-color: #c6b7ce;
	color: #000;
	-webkit-box-shadow: 3px 5px 7px #888888;
}
.details .container .people .person-last{
	
	width: 335px;
	height: 60px;
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: 3px;
	display: inline-block
}
.details .container .people .person .pic{
	
	width: 40px;
	height: 40px;
	margin: 10px 15px 10px 10px;
	display: inline-block;
	float: left;
	cursor: pointer
}

.details .container .people .person .pic img{
	width: 100%;
	border-radius: 5px;
}

.details .container .people .person .pic img:hover,.details .container .people .person-last .pic img:hover{
	
	opacity: 0.5
}

.details .container .people .person .info .name{
	
	margin-top: 15px;
	margin-bottom: 5px;
	font-size: 13px;
	font-weight: 600;
	cursor: pointer;
	text-transform: capitalize;
}

.details .container .people .person .info .work{
	
	margin-top: 6px;
	font-size: 10px;
	cursor: pointer;
	text-transform: capitalize;
}
.details .container .people .person .info .work:hover,.details .container .people .person-last .info .work:hover{
	
	color: #000
}

.details .container .people .person-last .pic{
	
	width: 40px;
	height: 40px;
	margin: 10px 15px 10px 10px;
	display: inline-block;
	float: left;
	cursor: pointer
}

.details .container .people .person-last .pic img{
	width: 100%;
	border-radius: 5px;
}

.details .container .people .person-last .info .name{
	
	margin-top: 15px;
	margin-bottom: 5px;
	font-size: 13px;
	font-weight: 600;
	text-transform: capitalize;
	cursor: pointer
}

.details .container .people .person-last .info .work{
	
	margin-top: 6px;
	font-size: 10px;
	cursor: pointer;
	text-transform: capitalize;
}

 #avilable{
	
color: #72ab4c;
}
#On-a-vacation{
	color: #fbe693
}
#under-line{
	text-decoration: underline
}
/*end container*/



/*start footer*/
.footer{
	
height: 104px;
	
}

 .social-networks{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
	background-color: #c6b7ce
	 
}

 .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #CCC;
    padding: 10px;
    transition: 0.2s;
}

 .social-networks a:hover{
	text-decoration: none;

}

.facebook:hover{
	color:#0077e2;
}

 .google:hover{
	color:#ef1a1a;
}

 .twitter:hover{
	color: #00aced;
}

.snapchat:hover{
	color: #fffc00;
}
.youtube:hover{
	color: #bb0000;
}
.whatsapp:hover{
	color: #4dc247;
}


.footer-copyright{
	background-color: #5e4072;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

 .footer-copyright p{
	margin:10px;
	color: #ccc;
}



/*end footer*/