/*---------------------------------------
    Body Style              
-----------------------------------------*/
body{
  font-family: 'Raleway', sans-serif;
  background: #F1F1F1;
  overflow-x: hidden;
  overflow-y:hidden;

}

body::-webkit-scrollbar {
  width: 0.6em;
  background: #fff
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background: #ce3636;
  outline: 1px solid #fff;
  border-radius: 0px;
  width: 0.5em
}


/*---------------------------------------
    Up To page style              
-----------------------------------------*/

.up  {
    color: #fff;
    position: fixed;
    z-index: 9999;
    background:#ce3636;
     width: 60px;
     height: 60px;
    border-radius: 4px;
    font-size: 32px;
    right: 10px;
    cursor: pointer;
    top: 500px;
    transition: 0.3s;
    display: none;
    text-align: center;
}
.up i{position: relative;}
.up:hover {
  background: #222;
  color: #fff
}


/*---------------------------------------
    Pre Loader Style              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #fff;
}

.sk-spinner-pulse {
  width: 60px;
  height: 60px;
  background-color:#ce3636;
  border-radius: 100%;
  margin: 40px auto;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
  animation: sk-pulseScaleOut 1s infinite ease-in-out;
}

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    trans.info: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    trans.info: scale(1);
    opacity: 0;
  }
}

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    trans.info: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    trans.info: scale(1);
    opacity: 0;
  }
}


/*---------------------------------------
    container style              
-----------------------------------------*/
.container{width: 90%}



/*---------------------------------------
    navbar section style              
-----------------------------------------*/
.navbar .brand-logo img {
    width: 156px;
    position: relative;
    top: 4px;
}
.navbar ul li{}
.navbar ul a {
    color: #222;
    font-size: 19px;
    transition: 0.7s;
    font-weight: bold;
}
.navbar ul a:hover{
  color: #fff ;
  background: #ce3636;
}
.navbar .button-collapse i{
    color: #ce3636;
    font-size: 40px;
}
#sidenav-overlay{z-index: 99}
.side-nav li{padding-bottom: 20px}
.navbar ul i{
  color: #222;
  cursor: pointer;
  margin-left: 8px;
  transition: 0.5s
}
.navbar ul i:hover{color: #ce3636 }


/*search input style*/
.navbar .search {
    position: relative;
    overflow: hidden;
    background: #eee;
    height: 67px;
    border: 1px solid #fff;
    display: none;
}
.navbar .search input{
    background: #fff;
    border: 0;
    width: 98%;
    position: relative;
    right: -12px;
    color: #000
}
.search i{
    background: #222;
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    width: 50px;
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
}
/*---------------------------------------
    slider section Style              
-----------------------------------------*/
.slider-carousel .owl-carousel{
  direction: ltr;
}
.slider-carousel .items {
  position: relative;
  height: 500px;
  overflow: hidden;
  text-align: center;
}
.slider-carousel .items img{
  width: 100%;
  height: 100%;

}
.slider-carousel .items .caption {
    position: absolute;
    bottom: 8px;
    color: #000;
    background: #fff;
    width: 47%;
    text-align: -webkit-auto;
    padding: 13px;
    right: 1px;
}

.slider-carousel .items .caption .content h5 {
   font-weight: bold;
}
.slider-carousel .items .caption .content hr {

}
.slider-carousel .items .caption .content a {
       color:#ce3636 
}

/*the inductor style*/
.owl-theme .owl-nav.disabled + .owl-dots {
    position: absolute;
    bottom: 1px;
    left: 25px;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1.5;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ce3636;
}
.owl-theme .owl-dots .owl-dot span {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}


/*---------------------------------------
    category section style              
-----------------------------------------*/

.category-list {
    margin-bottom: 20px;
}
.category-list .active {
    background: #000;
    color: #fff;
}
.category-list span {
    margin-right: 8px;
}
.category-list a {
    padding: 10px;
    font-weight: bold;
    color: #222;
    letter-spacing: 3px;
    transition: 0.5s
}
.category-list a:hover{background: #000;color: #fff}
.category .info{

      overflow: hidden;
      position: relative;
    text-align: center;
    background: #fff
}

/*start category details*/
.category {
    padding-top: 30px
}
.category .info{
  margin-bottom: 30px
}
.category .info .details{
     margin-top: 21%;
}
.category .info .details h6{
    font-weight: bold;
          color: rgba(34, 34, 34, 0.62);
}
.category .info .details p{
    color: rgba(34, 34, 34, 0.78);
}

.category .info img {
    width: 74%;
    height: 190px;
}
/*start sale div*/
.category .info .sale {
    position: absolute;
         top: 0px;
       right: 0px;
 font-weight: 600;
       color: #fff;
}
.category .info .sale span {
    position: absolute;
    right: 3px;
    top: 10px;
}
.category .info .sale:before {
        content: "";
        display: inline-block;
     border-top: 65px solid #ce3636;
    border-left: 65px solid transparent;
}

/*start new div*/
.category .info .new {
    position: absolute;
         top: 0px;
       left: 0px;
 font-weight: 600;
       color: #fff;
}
.category .info .new span {
    position: absolute;
    left: 3px;
    top: 10px;
}
.category .info .new:before {
        content: "";
        display: inline-block;
     border-top: 65px solid #222;
    border-right: 65px solid transparent;
}

/*start icon list*/
.category .info .icons ul{
     list-style: none;
        display: inline-flex;
 }
.category .info .icons ul li {
    margin-left: 10px;
}
.nivo-lightbox-content iframe body img{width: 100%;background: #fff}
.category .info .icons ul .material-icons{
       background: #ededed;
            color: #7b7878;
          padding: 4px;
        font-size: 17px;
    border-radius: 50%;
       transition: 0.7s;
           cursor: pointer;
}
.category .info .icons ul .material-icons:hover{
     transform: scale(1.2);
    background: #222;
         color: #fff
}
.nivo-lightbox-content body>img{
     width: 100%;
    height: 100%
}

/*---------------------------------------
    offers section style              
-----------------------------------------*/
.offers{
  overflow: hidden;
  background: #fff;
}

.offers .info {
    padding: 15px;
    font-weight: bold;
    width: 85%
}
.offers .info h4{
    font-weight: 900;
}
.offers .info a{
  color: #ce3636
}
.offers .offers-img{
  overflow: hidden;
}
.offers .offers-img img{
  width: 100%
}

/*---------------------------------------
    Blog section Style              
-----------------------------------------*/
.blog{
  background: #fff;
  padding-top: 10px;
  margin-top:30px;
  padding-bottom:10px;
}
.blog .blog-img{width: 100%;box-sizing: border-box;}
.blog .info{
    overflow: hidden;
    position: relative;
    height: 380px;
    margin-bottom: 20px
}
.blog .info img{width: 100%;height: 100%}
.blog .info .caption {
    position: absolute;
    bottom: 9px;
    text-align: right;
    background: #fff;
    padding: 16px;
    width: 77%;
    right: 10px;
    transform: rotateY(90deg);
    transition: 0.6s
}
.blog .info .caption h6{
    color: rgba(34, 34, 34, 0.57);
    font-weight: bold;
}
.blog .info .caption h5 {
    font-weight: 900;
    transition: 0.5s;
}
.blog .info .caption:hover h5{color: #ce3636 }
.blog .info:hover .caption{transform: rotateY(0deg);}

/*---------------------------------------
    Brands section Style              
-----------------------------------------*/
.brands {
    padding-top: 20px;
    padding-bottom: 20px;
}
.brands h5{font-weight: bold;}

/*---------------------------------------
    Discount section Style              
-----------------------------------------*/
.discount{
  background: #fff;
  padding-top:20px;
  padding-bottom: 30px
}
.discount .info{
  background-image: url(../imgs/discount.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 300px
}
.discount .row{
    color: #fff;
    position: relative;
    top: 31%;
}
.discount h4 {
    font-weight: 900;
    font-size: 38px;
}
.discount h6 {
    font-size: 21px;
    font-weight: bold;
}
.discount a{color: #fff;font-weight: bold;}


/*---------------------------------------
   Favorite section Style              
-----------------------------------------*/
.favorite .info{margin-top: 30px}
.favorite .info h4{margin-top: 0}
.favorite .info h5{
    margin-top: 0px;
    background: #000;
    color: #fff;
    padding: 19px;
    border-radius: 3px;
    margin-bottom: 15px;
    padding-bottom:40px;
    padding-top: 30px
}
.favorite .info #img {
    overflow: hidden;
    height: 167px;
    padding: 10px;
    margin-bottom: 20px
}
.favorite .info #img img{
  width: 100%;
  height: 100%;
  background: #fff
}
.favorite .info #img h6{
    font-weight: 900;
    font-size: 15px;
}
.favorite .info #img .fa-stack {
    font-weight: bold;
    font-size: 18px;
    margin: -10px;
    text-align: center;
}
.favorite .info #img p{font-weight: 800}



/*---------------------------------------
   Footer section Style              
-----------------------------------------*/
.footer{
    background: #fff;
    padding-top: 30px;
}
.footer h5{
    font-weight: 800;
}
.footer ul a{
  color: #9e9e9e;
  transition: 0.5s
}
.footer ul li {
    font-size: 19px;
    margin-bottom: 16px;
}
.footer p {
    font-size: 16px;
    font-weight: bold;
}
.footer input {
    background: #eee;
    text-indent: 11px;
    border: 0;
    padding: 5px;
    color: #222;
}
.footer i {
    background: #eee;
    padding: 10px;
    border-radius: 50%;
    width: 37px;
    margin-right: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.footer i:hover{background: #222;color: #fff}
.footer button {
    background: #000;
    color: #fff;
    border: 0;
    padding: 12px;
}