
/* Load fonts by @font-face css3 property */
@font-face {
	font-family: "DroidKufi-Bold";
        src: url("../fonts/DroidKufi-Bold.eot"); /* IE 9 */
    	src: url("../fonts/DroidKufi-Bold.eot?") format("eot"), /* IE 6-8 */
             url("../fonts/DroidKufi-Bold.otf") format("opentype"), /* Other browsers */
    	     url("../fonts/DroidKufi-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
	font-family: "Ara  Hamah City_0";
        src: url("../fonts/Ara  Hamah City_0.eot"); /* IE 9 */
        src: url("../fonts/Ara  Hamah City_0.eot?") format("eot"), /* IE 6-8 */
             url("../fonts/Ara  Hamah City_0.otf") format("opentype"), /* Other browsers */
             url("../fonts/Ara  Hamah City_0.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
	font-family: "DroidKufi-Regular";
        src: url("../fonts/DroidKufi-Regular.eot"); /* IE 9 */
        src: url("../fonts/DroidKufi-Regular.eot?") format("eot"), /* IE 6-8 */
             url("../fonts/DroidKufi-Regular.otf") format("opentype"), /* Other browsers */
             url("../fonts/DroidKufi-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
	font-family: "k_kamran";
        src: url("../fonts/k_kamran.eot"); /* IE 9 */
        src: url("../fonts/k_kamran.eot?") format("eot"), /* IE 6-8 */
             url("../fonts/k_kamran.otf") format("opentype"), /* Other browsers */
             url("../fonts/k_kamran.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
	font-family: "hacen_liner_screen";
        src: url("../fonts/hacen_liner_screen.eot"); /* IE 9 */
        src: url("../fonts/hacen_liner_screen.eot?") format("eot"), /* IE 6-8 */
             url("../fonts/hacen_liner_screen.otf") format("opentype"), /* Other browsers */
             url("../fonts/hacen_liner_screen.ttf") format("truetype"); /* Safari, Android, iOS */
}

/*  Start General Style */
body{padding-top: 70px;}
body{background: #fff;font-family: "DroidKufi-Regular";}
h6,.h4,h3,h5,h1,h2,h4,h6{font-family: "DroidKufi-Regular";}
spciel-head{position: relative}
.spciel-head:after{
content: '';
border-bottom: 3px solid #71862a;
margin: 10px auto;
display: block;
width: 30px;
}
.about{padding-top: 40px;padding-bottom: 40px;}
.about .aboutus{ padding-top: 20px;}
.about h4{ padding-top: 60px;color: #71862a;font-weight: bold}
.about .btn { padding: 10px 60px; margin-right: 20px;background:#879d3b;border-color: #879d3b;  }
.about .btn:hover{background:#000;}
/*  Start  Style  Header*/
.navbar {min-height: 50px;margin-bottom: 0px;border: 1px solid;}
.navbar-brand {padding: 5px 7px;}
.navbar-brand .h4{color:#879d3b;}
.navbar-brand h6{margin-right: 40px;margin-top: -3px}
.navbar-default  {border-color: #e7e7e7;background: #fff}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus { color: #71862a;
    background-color: #fff;}
/*  End  Style  Header*/



/*  Start  Style Sliders*/
.Sliders .Skitter {position: relative;max-width: 1300px;height: 300px;}
.Sliders .label_skitter {bottom: 30%;text-align: center;background:transparent;width: 100%;}
.Sliders .skitter-large .btn-default{background:#879d3b;color: #fff; }
.Sliders .skitter-large h1{color:#879d3b;margin-bottom: 30px}
.Sliders .skitter-large h4{margin-bottom: 30px}
/*  End Style Sliders*/

/*  Start  Style Contacts*/
.Contacts{padding-top:40px;padding-bottom:40px;background: #333;color:#fff;}
.Contacts p{color:#909599}
.Contacts h3 {margin-top: 0px;}
.Contacts .btn-default{background: transparent;color:#879d3b;border: 1px solid #879d3b; left:0;transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s; }
.Contacts .btn-default:hover{background:#879d3b; color:#fff;border:1px solid #879d3b; }
/*  End  Style Contacts*/

/*  Start  Style Serivers*/
.Serivers{padding-top:40px;padding-bottom:40px;background: #f7f7f7;}
.Serivers .Seriver{padding: 20px;background: #fff;margin-bottom: 20px;float: right;-webkit-transition: all .5s ease;

       -moz-transition: all .5s ease;

        -ms-transition: all .5s ease;

         -o-transition: all .5s ease;

            transition: all .5s ease;}
.Serivers .Seriver:hover{background: #879d3b;color:#fff}
.Serivers .Seriver i{width: 20%;margin-left: 5%;float: right;color:#879d3b; margin-top: 10px;}
.Serivers .Seriver .info{width: 73%;float: right;}
.Serivers .ser{ background:#879d3b;width: 100%;color:#fff;}
.Serivers .ser a{text-decoration: none;color:#fff;font-weight: bold;}
/*  End  Style Serivers*/

/*  Start  Style One-seriver*/	
.One-seriver{ background:#333;color: #fff }
.One-seriver .row{margin-right: 0;margin-left: 0}
.One-seriver .col-md-6{padding-left: 0}
.One-seriver .first{padding: 40px;}
.One-seriver .first p{color:#909599;margin-bottom:20px;margin-top: 20px}
.One-seriver .first .btn-default{background: transparent;color:#879d3b;border: 1px solid #879d3b;}
.One-seriver .secand img{ }	
/*  End  Style One-seriver */
	
/*  Start  Style Clinets*/		
.Clinets{padding-top:40px;padding-bottom:40px;background: #f7f7f7; }
.Clinets .serv-slider{border-left:20px solid #879d3b;background: #fff}
.Clinets .skitter .info_slide_dots { left:0%;top:-50px;}
.Clinets .skitter .info_slide_dots .image_number.image_number_select {background-color: #879d3b;}
.Clinets .skitter .info_slide_dots .image_number {background-color: #999;}	
.Clinets .skitter .container_skitter {background-color: #fff;}
.Clinets .clinet{ background:#879d3b;color:#fff;padding: 20px 20px 40px 20px; border-radius:20px }
.Clinets .say{ margin: 40px; display: none}
.Clinets .active{display: block}
.Clinets h6{color:#879d3b}
.Clinets .say img{border-radius:50%;margin-top: -35px;border: 2px solid #000}
/*  End  Style Clinets */

/*  Start  Style Works*/	
.Works{padding-top:40px;padding-bottom:40px;}
.Works img
{width: 100%;
	-webkit-transition: all .5s ease;

       -moz-transition: all .5s ease;

        -ms-transition: all .5s ease;

         -o-transition: all .5s ease;

            transition: all .5s ease;}
.Works img:hover{
     -webkit-transform: scale(1.2);

        -moz-transform: scale(1.2);

         -ms-transform: scale(1.2);

          -o-transform: scale(1.2);

             transform: scale(1.2);
	overflow: hidden;
}
.item-work{padding: 0;overflow: hidden;
}
.Works .item-work:hover{}

/*  End  Style Works */

/*  Start  Style Our-clintes*/
.Our-clintes{padding-top:40px;padding-bottom:40px;background: #f7f7f7;}
/*  End  Style Our-clintes */

/*  Start  Style  Page Contacts */
.body-top{background:#666;height: 100px }
.contact-us{padding-top: 40px;padding-bottom: 40px}

.contact-us input {height: 44px;}
.contact-us textarea{ margin-top: 10px;margin-bottom: 10px;height: 200px }
.contact-us .btn { padding: 10px 60px; margin-right: 20px;background:#879d3b;border-color: #879d3b;  }
.contact-us .btn:hover{background:#000;}
.adress{height: 55px;}
.adress h5{line-height:55px;margin-top:5px}
.adress .fa{float: right;padding: 12px 12px;margin-left: 20px;
    text-align: center;
    font-size: 25px;background:#879d3b;text-align: center;color:#fff;border-radius:10px;}
.adress .fa:hover{ background: #000;color:#fff }
.classic{ background: #ddd;height: 100px;width:200px;margin: 40px auto;position: relative}
.classic:after{ content: "";
border-width: 20px 20px 20px 20px;
border-color:#000 #888;display: block;position: absolute;border-style: dotted}
.classic:before{ }
/*  End  Style  Page Contacts */
.aa{ background: #f0f;width: 300px;height: 300px;position: relative;overflow: hidden;}
.aa:before{content:""; width: 90%;height: 90%;background: #ff0;position: absolute;display: block;top:0;}
.aa img{position: relative;width: 200px;height: 200px}
.aa:after{content:""; width: 100%;height: 100%;background: #ff0;position: absolute;display: block;top:0;opacity: 0;-webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
   -webkit-transition: all .5s ease;

       -moz-transition: all .5s ease;

        -ms-transition: all .5s ease;

         -o-transition: all .5s ease;

            transition: all .5s ease;
}
.aa:hover.aa:after{opacity: 0.3;-webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);}

/*  Start  Style  Page Contacts */
.One-seriver{ background:#333;color: #fff }
.One-seriver .row,.One-seriver2 .row,.One-seriver3 .row{margin-right: 0;margin-left: 0}
.One-seriver .col-md-6,.One-seriver3 .col-md-6{padding-left: 0}
.One-seriver2 .col-md-6{padding-right: 0;}
.One-seriver .first,.One-seriver2 .first,.One-seriver3 .first{padding: 40px;}
.One-seriver .first p{color:#909599;margin-bottom:20px;margin-top: 20px}
.One-seriver .first .btn-default{background: transparent;color:#879d3b;border: 1px solid #879d3b;}
.One-seriver .secand img{ }	
.One-seriver2{ background:#fff;color: #000 }
.One-seriver3{ background:#879d3b;color: #fff }
/*  End  Style  Page Contacts */

/*  Start  Style Footer*/	
.Footer{ padding-bottom: 40px; padding-top: 40px;background: #333;color:#909599;margin-top: 40px}
.Footer h5{}
.Footer span{color:#879d3b}
.Footer i{margin-left: 10px}
.Footer a{ color:#909599;}
/*  End  Style Footer */		

/*  Start  Style ScrollTop*/	
.ScrollTop{left:0;bottom:0;background: #879d3b;width: 40px;height: 40px;color:#fff;border-radius:50%;text-align: center;position: fixed;z-index: 9999;right: 15px; bottom: 10px;cursor: pointer;padding: 5px;display: none}
.ScrollTop{}
/*  End  Style ScrollTop */