body{font-size:25px;
	color:white;
background-color:#123;
margin:10px auto;

font-family:"Times New Roman", Times, serif;
}
nav{display:block;
float:left;
}
nav a:link{display:block;
font-weight:bold;
background-color:orange;
border-bottom:3px solid;
border-radius:5px;
padding:10px;
text-decoration:none;}
nav a:hover{
	color:white;
	background-color:black;
	text-decoration:underline;
}
a:hover{text-decoration:underline;}

section{display:block;
font-weight:bold;
float:left;
margin:0 0 0 250px;
background-image:url("pic1.jpg");
border:solid;
border-color:aqua;
border-radius:5px;}
article{display:block;
padding:30px;
margin:10px;
border:solid;
border-radius:10px;
font-size:25px;}
h1{background-color:orange;
text-align:center;
border-radius:5px;
font-size:25px;
}
h2{background-color:orange;
text-align:center;
border-radius:5px;
font-size:25px;
}