@use postcss-simple-vars;
@use postcss-media-minmax;
@use postcss-nested;

$blue: #043754;
$red: #f04155;


.heart {
  position: relative;
  top: 50%;
	left: 50%;
	width: 50%;
	padding-bottom: 50%;

	background-color: $red;
  
  
}


body {
  background: $blue;
}

