body{
	width:auto;
	height: auto;
	margin: auto; 
}
#nav{
	float:left;
	height: 40px;
	background-color: black;
	width: 99.9%;
}
ul li{
	float:left;
}
ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	margin-top: 10px;
}
ul li a {
	text-decoration: none;
	color: white;
	padding: 20px;
}
ul li a:hover{
	color: grey;
}
article{
	height: 495px;
}
h1{
	font-size: 40px;
}
p{
	font-size: 18px;
}
img{
	width: 100px;
}
footer{
	background-color: black;
	height: 50px;
	margin: 0px;
	padding: 0px;
}
#foo{
	color: white;
}