@font-face{
    font-family:"coco";
    src:url("fonts/CoconRegular.otf");
}

*
{
    font-family: coco;
}
h1
{
    color: #e4b498;
    font-size: 40px;
}


body
{
    background-image: url(future-search-ss-1920.jpg);
    background-size: cover
}

.container
{
    /* border: 1px solid rgba(255,255,255,0.5); */
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(116,116,116,0.3);    
    position: absolute;
    left:7.555555%;
    top:10%;
    box-shadow: -5px 5px 20px 1px #3c3c3c;
}

div
{
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    height: auto;
    padding: 20px;
    margin: 2px
}

input
{
    float: right;
    border: 0 ;
    border-bottom: 1px solid #4b5e9c;
    border-radius: 3px;
    padding: 4px;
    color: #e8e8e8;
    background-color: rgba(0,0,0,0.1);
    font-size: 18px;
}
lable
{  
    color: #4b5e9c;
    font-weight: bold;
    font-size: 24px;
}
