body
{
	background-color: #DDD;
	overflow: hidden;
}
.container
{
	width: 600px;
	height: 500px;
	border: 1px solid #FFF;
	margin: 100px auto;
	
	background-color: #EEE;
	display: block;
	box-shadow: -15px 35px 5px #888888;
}
h2
{
	padding: 0;
	margin-top: 50px;
	margin-bottom: 0px;
	margin-left: 30px;
	color: #3377ff;
	letter-spacing: 2px;
	font-size: 40px
}
.logInForm{
	padding-top: 50px;
	padding-bottom: 100px;
}

.logInForm .form
{
	width: 550px;
	height: 40px;
	border: 1px solid #CCC;
	margin-left: 15px;
	margin-bottom: 10px;
	display: inline-block;
	margin-top: 5px;
}
.logInForm label 
{
	margin-left: 15px;
}

.logInForm .btn
{
	width: 554px;
	height: 40px;
	color: #FFF;
	background-color: #269900;
	border: 1px solid #DDD;
	margin-left: 15px;
	cursor: pointer;
}
.logInForm .btn:hover{
	background-color:  #2db300;
}
.logInForm .rem
{
	margin-left: 15px;
	margin-top: 10px
}

.logInForm .cancel
{
	width: 100px;
	height: 40px;
	background-color: #F00;
	color: #FFF;
	border: 1px solid #DDD;
	margin-left: 15px;
	margin-top: 10px;
	cursor: pointer;
}
.logInForm .cancel:hover
{
	background-color: #ff1a1a
}
.logInForm .spw
{
	float: right;
	margin-right: 35px;
	margin-top: 25px;
}
.logInForm .spw a{text-decoration: none; color: #000}