body{padding-top:10px}

.header.navbar.navbar-inverse .navbar-toggle {
  margin-top: 32px;
}
.navbar-inverse {
    background: rgba(8,8,8,0.7);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1); padding-top:10px;
    padding-bottom:5px;
  }

.navbar-brand{padding: 19px 267px;}

.navbar > .container .navbar-brand,
.navbar > .container-fluid
 .navbar-brand {
font-family: 'Open Sans', sans-serif;font-size: 20px;}
.header .navbar.navbar-brand .span{color:#ff5c57; }
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
{
    color: #fff;
    background-color: transparent;
 
    border-bottom: 3px solid #ff5c57; 
}
.navbar-nav > li > a { padding-top: 20px;padding-bottom: 20px}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -140px;    margin-right: -172px;
}



.dropdown-menu a {
    text-decoration: none;
}
 .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: rgba(26, 28, 40, 0.9);
    border: 0;
    border-radius: 0;
  }



.dropdown-menu > a > li{
    border-top: 1px solid #404455;
    padding:10px 0;
    color: #eeeeee;
  }
   
   .dropdown-menu > a.active,
  .dropdown-menu > a.open,
   .dropdown-menu > a:hover {
    border-left-color:#ff5c57 ;
  }



.dropdown-menu > a.active > li,
.dropdown-menu > a.open > li,
.dropdown-menu > a:hover > li{
    color: #ff5c57 ;
    background-color: transparent; border-left: 2px solid #ff5c57 
  }


/*start slider*/

.slider{background:url('../1.jpg ') no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
      background-size:cover;
    width:100%;
    min-height: 600px}
.slider h2{ margin-top:250px;color: white;font-size:70px; font-family: 'Cookie', cursive;}
.slider p{ color: white;font-size:50px; font-family: 'Cookie', cursive;}

/* end slider*/

/* start section our-stronghts*/
.our-strengths{
    padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #ccc;
}
.our-strengths  h2{
font-family:'Cookie', cursive;font-size: 50px;
    color: rgb(152, 152, 152);    margin-bottom: 50px;

}

/*start section about*/

.about-us .pic {width:320px;
	height:320px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius:197px;
   margin-left: -24px;
margin-bottom: 55px}
/*end section about */

/*Start section our news*/
.our-news h2{font-size: 50px;font-family:cookie ;margin-bottom: 30px}
.carousel-inner .item h4 {font-size:18px;color:#ff5c57}
.carousel-inner .item p{font-size:14px;}
.carousel-inner .item img{margin-left: 10px;margin-right: 10px;width: 272px;height: 267px;border-radius:50px}
/*End section our news*/

/*End section our teams*/
.teams  h2{margin-top:90px ;margin-bottom:20px}

.teams h3{font-family: 'Cookie' ;font-size: 30px;}
.teams h4{font-family:  'Cookie';font-size: 30px; color:#ff5c57}
.teams a{margin-left: 117px;margin-bottom: 17px;text-decoration: none;}

.teams fa{margin-left: 117px;
    margin-bottom: 17px}


/*start section department*/
.Departments h2{margin-top: 60px}
.Departments h4 {color:#ff5c57}
 .Departments  .image-depart
{
    width: 200px;
    height: 200px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius:97px;
   margin-top: 25px
}

.Departments .image img {
       width: 278px;
    height: 313px;
 border: 1px solid #ccc;
    padding: 3px;
    background-color: #fff;
    box-shadow: 10px 10px 10px #ccc;
margin-bottom: 14px
}

.Departments  .text-depart{margin-top: 25px;}
.Departments  .text-depart p{font-size:21px}
.more{font-size: 24px;margin-top: 30px ;margin-bottom: 30px}

.more  a{border: 2px solid #ff5c57
    ;color:#ff5c57;
    font-family: gotham_mediumregular;
    padding: 10px 20px;
    position: relative;
    display: inline-block;
    margin: 0 30px;
   text-decoration: none;background: rgba(255, 255, 255, .15)}
.more  a:before { background: #ff5c57}

/*end section department*/


/* Start Section Our Team */

.our_team
{
    background:url('../about_cover.jpg') no-repeat center center fixed;
 min-height:600px
}

.our_team .team {color:#FFF;min-height:600px}

.our_team .person {margin-bottom:40px}
.our_team h2{font-family: 'Cookie', cursive;margin-bottom: 50px;margin-top: 30px}
.our_team h3{font-family: 'Cookie', cursive;}
.our_team p{color:black;margin-bottom: 10px;font-size: 20px}

our_team img{width:200 ;height:200px}
/* End Section Our Team */


/* Start Section Contact Us */


.contact-us .fields {background:rgba(9,9,9,0.8);height:600px;color:#DDD}

.contact-us p {margin-bottom:40px}

.contact-us textarea {height:108px}

.contact-us input[type="text"],

.contact-us textarea {background:rgba(82,78,78,0.5);color:#FFF;border:none}
.contact-us .btn {    margin-left: 164px;
width: 161px;
    margin-bottom: 30px;
    border-radius: 25px;
}


.contact-us ul {margin: 0;padding: 0;}
.contact-us ul .facebook {background-color: #3b5998}
.contact-us ul .twitter { background-color: #1da1f2}
.contact-us ul .youtube { background-color: #cd201f}
.contact-us ul .google { background-color: #dd4b39}
.contact-us ul li {
    display: inline-block;
    padding: 15px;
    border-radius: 50%;
    margin: 0 10px;
    color: #555;
    cursor: pointer;
    transition: all .5s ease-in-out;
    -webkit-filter: grayscale(1);
    filter: grayscale(1)}

.contact-us ul li i {
    width:12px;
    height:10px;
    color: #fff;
}
.contact-us ul li:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
/* End Section Contact Us */

.slider-1{background-color:#dddfe0 ;    margin-bottom: -9px; }
.slider-1 p , h2 {
    font-size: 37px;
    font-family: cookie;}
.slider-1 h4{font-family: 'Cookie', cursive;margin-top: 25px;font-size:38px}
.slider-1 span {color:#ff5c57}


/* Start  section footer*/
.footer{background: #111;color: #AAA;}
.footer h3{color:#ff5c57;font-family: cookie; }
.footer li{color: #AAA;}
.footer a{ text-decoration: none;}
.footer department a:hover {color: navajowhite}
.footer .event {color:#fff9f9;background-color:#ff5c57;padding-left: 18px;margin-left: 2px;width: 54px;height: 63px;}

.copyright {background: #333;color: #AAA;;overflow: hidden;padding: 10px;}
.copyright p {font-size: 21px;; margin-top: 10px;}
.copyright span{color:#ff5c57 ;font-family: cookie;font-size: 33px}

/* End section footer*/

/****Start loading****/
.loading-overlay
{
    background :#ff5c57;
    color:#fff;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:99999
}

.spinner {
  width: 80px;
  height: 80px;
  background-color: #fff;

  margin: 250px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/**** End loading****/

