*{ margin: 0 auto; 
padding: 0px;}

header {width: 1350px; height: 500px; }
.logo {width: 1350px; height: 440px;background-image: url(../image/dogs.jpg); background-size: cover;}
.navbar{ width: 1350px; height: 60px; background-color: silver;}
ul li{ display: inline-block; margin-left: 250px;margin-top: 20px; }
ul li a{ text-decoration: none; color: black;}
.center {
    height: 341px;width: 1350px;background-image: url(../image/bg-content.jpg); background-size: cover;
}
.center .wall{margin-top:130px;width: 40%;height: 50%; margin-left: 150px;}
.center .wall  p{ display: block; width: 100%; line-height: 50px; font-size: 20px;}
h1{ font-size:47px;}
.data {
    height: 500px;width: 1350px; background-color: black;
}
.data .continr{ padding: 5%; color: white; }
.data .continr img{ float: left;  height: 160px; width: 23%;}
.pra{  width: 55%;font-size: 18px;font-weight: lighter;line-height: 30px; margin-right: 200px;}
.inf1{ padding: 30px;width: 90%; }

footer{ height: 30px;width: 1350px; background-color: dimgrey;}
.tex{ text-align: center;}