#fileMenu {
    position:absolute;
    color:blue;
    visibility:hidden;
    background-color:gray;
}
#optionsMenu{
    position:absolute;
    color:red;
    background-color:gray;
    visibility:hidden; 
}
#helpMenu{
    position:absolute;
    background-color:gray;
    color:green;
    visibility:hidden;
}

