body{background-color:white;
background-image:url(safe.png);
background-repeat:no-repeat;
background-size:1800px;
background-position:50%;}

#title{color:black;
font-family:cooper black;
font-size:50px;}

#top{font-size:25px;
background-color:#FFD892;
}
#middle{text-align:center;}

h2{font-size:28px;

}
P{font-size:42px;
font-family:aharoni;
color:black;
text-align:left;}

#footer{text-align:center;
width:1300px;
}
#right{float:right;
position:relative;
bottom:40px;}

#list{list-style-position:inside;
text-align:left;
font-family:aharoni;
color:black;
font-size:20px;

}