body{
background-image:url(camera.jpg);
background-size:1800px;
background-repeat:no-repeat;
background-position:50%;
}
#header{font-size:40px;
font-family:cooper black;
}

#right{float:right;}

#top{font-size:30px;
font-style:italic;
}


#middle {
	font-size:25px;
	font-family:aharoni;
	h2{font-size:32px;}
}
