body{background-color:black;
background-image:url(pets.jpg);
background-size:cover;
background-repeat:no-repeat;
background-position:50%;
width:1300px;}

#header{
font-family:cooper black;
color:#C7C7BC;
height:200px;

}
#logo{width:800px;
float:left;
font-size:40px;}

#right{color:#C7C7BC;
width:300px;
float:left;
}

#top{font-size:20px;
width:1300px;
}
#middle{
color:#C7C7BC;
}
h2{font-size:35px;

}
P{font-size:22px;
font-family:aharoni;}

#footer{text-align:center;
width:100%;
color:#C7C7BC;
}
