body{
background-image:url(gloves.jpg);
background-repeat:no-repeat;
background-position:50%;
background-size:1800px;
}
#header{font-size:40px;
font-family: cooper black;
}
#top{font-size:35px;

}

h2{font-size:35px;

}
P{font-size:22px;
font-family:cooper black;
font-color:#FFFFFF;}

#footer{text-align:center;
width:1300px;
}
#right{font-size:20px;
float:right;
position:relative;
bottom:150px;}