@font-face {
	font-family: 'GE SS Unique';
	src: url('http://www.fontsaddict.com/fontface/ge-ss-unique-light.otf');
}
body {
	background-color: #E4E7EF;
	margin: 0 auto auto auto;
}
#header {
	position: fixed;
	width: 100%;
	height: 60px;
	background: #fff;
	margin-top: 0px;
	opacity: 0.92;
	box-shadow: 5px 20px 55px rgba(0, 0, 0, 0.2);
}
.top {
	height: 2px;
	background-color: #247298;
}
.logo {
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: auto;
	max-height: 70%;
	float: right
}
.cover {
	background-image: url(cover.png);
	background-size: cover;
	height: 400px;
	background-attachment: fixed;
	padding-top: 100px;
}
.covertitle {
	max-width: 50%;
	display: block;
	margin: auto auto;
}
.coverp {
	margin-right: 50px;
	margin-left: 50px;
	text-align: center;
	font-size: 20px;
	color: white;
	font-family: 'GE SS Unique', sans-serif;
	word-spacing: 5px
}
.title {
	height: auto;
	background-color: #fff;
	margin-bottom: 30px;
	padding-top: 10px;
}
.ptitle {
	text-align: center;
	font-size: 17px;
	margin-left: 20px;
	margin-right: 28px;
	font-family: 'sky';
	font-size: 17px;
	margin-left: 20px;
	margin-right: 28px;
	font-family: 'sky';
	color: #868686;
	padding-bottom: 20px
}
h3 {
	margin: 0 auto;
	padding: 0 7px 7px 7px;
	font-size: 15px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	font-family: 'JAZEERA', sans-serif;
	color: #3D8AB9;
}
.allbox {}
.box {
	width: 300px;
	height: inherit;
	background: #fff;
	float: right;
	margin: 0 9px 19px 9px;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #247298;
}
h4 {
	text-align: right;
	margin-right: 29px;
	padding-right: 10px;
	font-size: 20px;
	color: #3D8AB9;
	font-family: 'jazeera';
	border-right-style: solid;
	border-right-width: 5px;
	border-right-color: #3D8AB9;
	margin-bottom: 0.9px
}
.pbox {
	text-align: right;
	font-size: 17px;
	margin-left: 20px;
	margin-right: 28px;
	font-family: 'sky';
	color: #515456;
}
hr {
	margin-right: 28px;
	margin-left: 28px;
	margin-top: 15px;
	color: #E6E9EC;
	background-color: #E6E9EC;
	border: 0;
	height: 1px;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.ta7t {
	width: 130px;
	margin: 0 auto 20px;
}
.plus {
	margin-left: inherit;
	text-align: center;
	color: #3BA73F;
	font-family: 'jazeer', sans-serif;
	margin: 0 auto 10px auto;
	font-size: 16px
}
a {
	color: #3BA73F;
	text-decoration: none;
}
.tt {
	clear: both;
	height: 250px;
	background-image: url(pattern-search.png);
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 40px;
	margin-top: 50px;
	padding-top: 80px
}
.hokok {
	clear: both;
	height: 40px;
	background-color: #272727;
}
.foot {
	height: auto;
	padding-bottom: 20px;
	color: white;
	text-align: center;
	padding-top: 15px;
	background-color: #333333;
	margin-top: inherit;
}
.con {
	text-align: center;
	color: white;
	margin: 0 auto;
	padding-top: 5px;
	font-family: 'jazeera', sans-serif;
}
.nabda {
	font-family: 'sky', sans-serif;
	text-align: right;
	font-size: 17px;
	display: block;
	margin: 2px 35px;
}
.ads {
	width: 80%;
	display: block;
	margin: 0 auto 40px auto;
	;
}
.hsoub {
	display: block;
	margin: 0px auto;
}
.io {
	text-align: center;
	color: #fff;
	font-family: 'jazeera';
	font-size: 25px
}
