*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: arial;
    display: none;
}
.http://www.upload-website.com/ImageSourceaTdnF79{
    display: none;
}
.container{
width: 1200px;
margin: 0 auto;
}
li{
    list-style: none;
}
header{
    width: 100%;
    height: 9px;
    background: white;
}
header .logo{
    width: 50%;
    margin-left: 210px
}
header .logo h3{
    font-weight: normal;
}
header .logo h3 span{
    font-weight: bold;
}
header .nav{
    width: 50%;
    float: right;
}
header .nav ul {
    position: relative;
    top: -64px;
    font-size: 14px;
}
header .nav ul li , 
.social{
    display: inline-block;
    padding: 10px;
}
header .nav ul li a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;  
    transition: .5s ease-in-out;
}
header .nav ul li a:hover{
    color: rgb(251, 210, 0);
}
header .nav .social{
    font-size: 20px;
    cursor: pointer;
}
header .nav .social i{
    transition: .5s ease-in-out;
}
header .nav .social #facebook:hover{
    color: blue;
}
header .nav .social #twitter:hover{
    color: #5397de;
}
header .nav .social #instagram:hover{
    color: #ce49bc;
}






.slider{
    background-image: url(../img/slider2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 510px;
    text-transform: uppercase;
}
.slider h1 ,
.span{
    padding: 60px;
    font-size: 53px;
    color: white;
    font-weight: normal;
    font-family: sans-serif;
    margin-left: 17px;
}
.slider h1 span{
    color: yellow;
    font-size: 65px;
}
.slider h4 {
    font-family: cursive;
    color: white;
    margin-top: -77px;
    margin-left: 96px;
    font-size: 17px;
}
.slider button {
    margin-left: 65px;
    padding: 7px;
    background: none;
    border: 1px solid white;
    color: white;
    width: 133px;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.slider button:hover{
    border: 1px solid yellow;
}

.content{
    width: 100%;
    height:375px;
    background: rgb(251, 210, 0);
}

.content .design{
    width: 25%;
    float: left;
    font-size: 20px;
    color: black;
}
.content .copy{
    width: 25%;
    float: left;
    font-size: 20px;
   color: black;
}
.content .creative{
    width: 25%;
    float: left;
    font-size: 20px;
    color: black;
}
.content .manger{
    width: 25%;
    float: left;
    font-size: 20px;
    color: black;
}
.content i{
    margin-left: 67px;
    margin-top: 82px;
}
.content p{
    margin-left: 69px;
    font-size: 18px;
}


.about{
    background-color: #eee;
    width: 100%;
    height: 700px;
    margin-top: -36px;
}

.about .head h1{
    font-size: 55px;
    margin-left: 150px;
            padding-top: 57px;
}
.about .title p{
    margin-top: -35px;
        margin-left: 200px;
}

.about .man{
    width: 25%;
    float: left;
}
.about .girl{
    width: 25%;
    float: left;
}
.about .man2{
    width: 25%;
    float: left;
}
.about .girl2{
    width: 25%; 
    float: left;
}
.about img{
    width: 229px;
    border-radius: 10px;
    border: 1px solid black;
}
p.photos {
    font-size: 13px;
    width: 287px;
}







.contact {
    background: #2f2f2f;
    margin-top: -34px;
    height: 600px;
    width: 100%;
}
.contact .head2 h1 {
    font-size: 49px;
    color: white;
    text-indent: 66px;
    padding-top: 40px;
}
.contact .title2 p {
    color: white;
    margin-top: -30px;
    text-indent: 129px;
}
form {
    margin-left: 75px;
    margin-top: 32px;
}
form input[type="email"] {
    width: 332px;
    border: 1px solid white;
    color: white;
    background: none;
    height: 39px;
    font-size: 14px;
    font-weight: normal;
}
form input[type="number"] {
    width: 332px;
    border: 1px solid white;
    color: white;
    background: none;
    height: 39px;
    font-size: 14px;
    font-weight: normal;
    margin-left: 21px;
}
form textarea {
    margin: 15px 0px 0px;
    height: 264px;
    width: 690px;
    background: none;
    border: 1px solid white;
    color: white;
}

form button {
    margin-left: 65px;
    padding: 7px;
    background: none;
    border: 1px solid white;
    color: white;
    width: 133px;
    cursor: pointer;
    margin-top: 6px;
}
.copyrights {
    margin-top: 64px;
    font-size: 11px;
    margin-left: 80px;
    color: white;
}
img{
    display: none;
}
p{
    display: none;
}
h1{
    display: none;
}
i{
    display: none;
}