/* Start Main Rulez */

body {
   height: 4000px
}
.clearfix{clear: both}
.container
{
    width: 1170px;
    margin: auto
}
/* End Main Rulez */
/* Start Header */
.header .navbar
{
    background-color:#252F31;
    color:#fff;
        overflow: hidden;

}
.header .slider
{
    height: 600px;
        background-image:url("../Images/11.jpg");
    background-size:cover
}

.header .slider .intro 
{
    padding-top: 250px;
    height: 600px;
    text-align: center;
    color:#fff
}

.header .slider .intro h2
{
    margin:0 auto;
    font-size: 50px;
    width: 600px;
    border-bottom: 3px solid#fff;
    border-top: 3px solid#fff;
    padding: 6px 0;
    color:#fff

}
.header .slider .intro button
{
    background: none;
    color:#fff;
    margin-top: 30px;
    padding: 12px 30px;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid #fff;
    font-weight: bold;
    cursor: pointer
}
.header .slider .intro button:hover
{
    color:#2FCC71;
    background-color: rgba(99,213,144,0.3)
}


.header .navbar h2 
{
    float:left;
    cursor: pointer;
    color:#fff;
    padding: 0;
}
.header .navbar h2:hover
{
    color:#2FCC71

}

.header .navbar h2 span
{
    color:#2FCC71;
        cursor: pointer

}
.header .navbar h2 span:hover
{
    color:#fff
}


.header .navbar ul
{
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float:right;
}
.header .navbar ul li
{
    float:left;
    padding: 10px;
    cursor: pointer
}
.header .navbar ul li.active a ,
.header .navbar ul li a:hover
{
    color:#2FCC71;
    border: 1px solid#fff;
    padding: 7px 15px;
    background-color: rgba(99,213,144,0.2)
}
.header .navbar ul li a
{
    color:#fff;
    text-decoration: none
}
/* End Header */
/* Start Features */
.features 
{
    overflow: hidden;
    padding: 50px 0 65px
}
.features .feat
{
    float: left;
    width: 33.3333333%;
    height: 150px;
  
}
.features .feat h2{color:#556467}

.features .feat p
{
    line-height: 1.7;
    color:#929292
}


/* End Features */
/* Start About Me */
.about-me
{
    background-color: #F2F2F2;
    overflow: hidden
}
.about-me .image
{
    float:left;
    width: 40%
}
.about-me .image img {width: 100%;height: 520px;padding-top: 27px}

.about-me .info
{
    float:left;
    width: 60%
}
.about-me .info h2
{
        margin: 60px 0 25px 60px

}
.about-me .info > p
{
        margin: 0px 0 10px 60px

}
.about-me .info > p:last-of-type
{
    margin: 30px 0 10px 60px
}

.about-me .info .hobbies
{
    overflow:hidden;
    margin: 40px 0 0 60px
}


.about-me .info .hobbies .content
{
    float: left;
    width: 50%;
    min-height: 100px;
    overflow: hidden
}
.about-me .info .hobbies .content .icon
{
    float: left;
    width: 15%;
    margin-right: 5%
}
.about-me .info .hobbies .content .icon img{max-width: 100%; margin: 30px 50px 0 0;}

.about-me .info .hobbies .content .text
{
    float: left;
    width: 80%
}
/* End About Me */ 
/* Start My Skills */
.my-skills
{
    padding:30px 0;
    overflow: hidden
}
.my-skills .skills,
.my-skills .progress
{
    width: 50%;
    float: left
}
.my-skills .skills h2
{
    padding-top: 25px
}
.my-skills .skills p:last-of-type
{
    padding-top: 18.3px
}
.my-skills button
{
    color:#29CC6F;
    font-weight: bold;
    background: none;
    padding: 14px 28px;
    border:2.4px solid#29CC6F;
    margin-top: 20px;
    text-transform: capitalize
}
.my-skills button:hover
{
    cursor: pointer;
    background-color: rgba(99,213,144,0.3)
}
.my-skills .progress .pro
{
    color:#fff;
    font-weight: bold;
    padding: 15px 0 0 40px
}
.my-skills .progress .pro:first-of-type
{
    
    padding: 55px 0 0 40px
}
.my-skills .progress .pro:last-of-type
{
    padding-bottom: 50px
}
.my-skills .progress h3{}
.ph
{
    height: 28px;
    background-color: #eee;
    max-width: 100%;
    margin-left:0
}
.my-skills .progress .photo {max-width: 90%;}
.my-skills .progress .ill {max-width: 80%;}
.my-skills .progress .html {max-width: 90%;}
.my-skills .progress .php {max-width: 70%;padding-bottom: 50px}
.my-skills .progress .photo ,
.my-skills .progress .ill ,
.my-skills .progress .html ,
.my-skills .progress .php
{
    height: 18px;
    background-color: #2DCC70;
    padding: 5px 10px ;
    text-align: right;
}

/* End My Skills */
/* Start Resume */
.resume
{
    background-color: #F2F2F2;
        padding:30px 0;
    text-align: center;
    padding-top:70px;
    padding-bottom: 85px
}
.resume p
{
    margin-left: 60px;
    padding-top: 13px;
    margin-right: 60px;
}
.resume button
{
    color:#29CC6F;
    font-weight: bold;
    background: none;
    padding: 14px 28px;
    border:2.4px solid#29CC6F;
    margin-top: 20px;
    text-transform: capitalize
}
.resume button:hover
{
    cursor: pointer;
    background-color: rgba(99,213,144,0.3)
}
/* End Resume */ 
/* Start My Education */
.my-education
{
    padding:60px 0;
    overflow: hidden
}
.my-education .main h2
{
    padding-bottom: 10px
}
.my-education .main p
{
    padding-right: 30px
}
.my-education .main p:first-of-type
{
    padding-bottom: 20px
}

.my-education .main,
.my-education .exp
{
    width: 50%;
    float: left
}
.my-education .exp
{
    padding-top: 65px;
}
.my-education .exp div
{
     padding-left: 20px
}
.exp h3
{
    margin-bottom: 13px
}
.my-education .exp p:first-of-type
{
    margin-top: 0px;
    margin-bottom: 15px
}

.my-education .exp span ,
.gpa
{
    font-weight: bold
}
.gpa
{
    background-color: #2DCC70;
    color:#fff;
    font-size: 11px;
    padding: 6.3px 9px;
}
.my-education .exp div hr
{
    margin-top: 38px;
    color:#ccc
}
.my-education .exp .second
{
    margin-bottom: 60px
}
.sec
{
        margin-bottom: 50px

}
.main {
padding-top: 65px;}
.main h2 {margin-bottom: 5px}
.my-education .exp
{
    padding-top: 65px;
}
.tow
{
     padding-left: 20px;
    padding-top: 40px
}
.tow h3
{
    margin-bottom: 13px
}
.tow p:first-of-type
{
    margin-top: 0px;
    margin-bottom: 15px
}

.tow span ,
.gpa
{
    font-weight: bold
}
.tow .gpa
{
    background-color: #2DCC70;
    color:#fff;
    font-size: 11px;
    padding: 6.3px 9px;
}
.tow hr
{
    margin-top: 38px;
    color:#ccc
}
.tow .second
{
    margin-bottom: 60px
}
/* End My Education */
/* Start Testimonials */
.testimonials
{
    background-color: #F2F2F2;
        padding:50px 0px;
    text-align: center
}
.testimonials h3
{
    margin-bottom: 30px
}
.testimonials q 
{
    font-size: 19px;
    font-style: italic;
    color:#A5A5A5
}
.testimonials ul {list-style: none;padding: 0;text-align: center;}

.testimonials ul li {width: 13px;height: 13px;border:2px solid#2ECF71;display: inline-block;cursor: pointer}
.testimonials ul li.active , .testimonials ul li:hover {background-color:#2ECF71}
/* End Testimonials */
/* Start Portfolio */
.portfolio
{
    padding:50px 0 70px;
    text-align: center
}
.portfolio h2
{
    padding: 30px 0 15px
}
.portfolio p
{
    padding: 0px 60px 50px
}
.portfolio .our-work
{
    overflow: hidden
}
.portfolio .our-work > div
{
    float: left;
    width: 33.333333%;
}
.portfolio .our-work > div img 
{
    width: 92%;
    margin: 10px;
    padding:3px;
    background-color: #fff;
    border:1px solid#ccc;
    box-shadow: 10px 10px 10px #ccc
}

/* End Portfolio */ 
/* Start Contact Me */
.contact
{
    background-color: #252F31;
    overflow: hidden;
    padding-top:60px
}
.contact h2
{
    color:#fff;
    margin-left: 10px
}
.contact p 
{
    color:##949597;
    margin-left: 10px

}
.contact p:first-of-type
{
    padding-top: 20px
}

.p
{
    margin: 25px 0 35px 
}
.p p
{
    margin: 0 0 0 10px
}

.contact strong 
{
    color: #fff
}
.contact .info ,
.contact .form
{
    width: 50%;
    float: left;
}
.contact .form
{
    margin: 60px 0px 0 0px
}
.contact .form .fr
{
    margin-left: 30px
}
.contact .form .fr label
{
    display: block;
    color:#FDFEFF
}
.contact .form .fr input[type="text"]
{
    background-color: #4B5557;
    border: none;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
    color: azure;
    font-family: Arial
}
.contact .form .fr textarea
{
        height: 290px;
    background-color: #4B5557;
    border: none;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 100%;
    color: azure;
    font-family: Arial

}
.contact input[type="submit"]
{
    padding: 15px 32px;
    color:#fff;
    background-color: #191E21;
    border: none;
    margin-bottom: 120px;
    font-size: 110%;
    font-family: sans-serif;
    cursor: pointer
}
.contact input[type="submit"]:hover
{
    background-color: rgba(99,213,144,0.3);
    border: 2.4px solid#23CC6F;
    margin-bottom: 117.6px;
}

/* End Contact Me */ 
/* Start Footer */
.footer
{
    background-color:#191E21;
    color:#4B5556;
    text-align: center;
    padding: 30px 0
}
.footer a
{
    text-decoration: none;
    color:#4B5556
}
.footer a:hover
{
    color:#23CC6F
}
.footer ul
{
    list-style: none;
        margin-top:20px;
    margin-right:45px

}
.footer ul li
{display: inline-block;}
.footer ul li i
{padding: 1px;font-size: 40px;}
.footer ul li i:hover
{
    cursor: pointer;
    color: #23CC6F
}

/* End Footer */
h2 , h3{color:#556467}

p , q
{
    line-height: 1.8;
    color:#929292
}

