body
{


}
.continar
{
    width: 1170px;
    margin: auto;
}
.clear
{
    clear: both
}
/* star header */
.header .slidar
{
    padding-top: 200px;
   background-image: url('../image/32.jpg');
    background-size: cover;
    height: 600px
}
.header .slidar .intro
{
    height: 600px;
    text-align: center;
    color: #fff
}
.header .slidar .intro h2
{
    margin: 0 auto;
    color: snow;
    font-size: 50px;
  width: 600px;
    border-top: 3px solid snow;
    border-bottom: 3px solid snow;
    padding: 5px 0
}
.header .slidar .intro button
{
    background: none;
       color: #fff;
    margin-top: 30px;
    border: 2px solid #fff;
    font-size: 20px;
    font-weight: bold;
   padding: 10px 20px 10px 20px
}
.header .navbar
{
    background:#252f31;
    color: aliceblue;
    overflow: hidden
}

.header .navbar .continar h3
{
    float: left;
    text-transform: uppercase;
}
.header .navbar .continar h3 span
{
    color: red
}
.header .navbar .continar ul
{
  list-style: none; 
   
    float: right
} 
.header .navbar ul li
{
    float: right;
    padding: 10px
} 
.header .navbar .continar ul li a
{
    color: #fff;
    text-decoration: none;
    
}
.header .navbar ul li.active a,
.header .navbar ul li a:hover
{
    color: #30b576;
}

/* end header */
/* star Advantage */
.Advantages
{
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 50px;
}
.Advantages .feat
{
    float: left;
    width: 33.33333%;
    height: 150px;
    overflow: hidden
}
.Advantages .feat h2
{
    text-transform: uppercase;
    color:#444 
}
.Advantages .feat p
{
    line-height: 1.4;
    color: #888
}
/* end Advantage */
/* star about me */
.about-me
{
    background: #f2f2f1;
    overflow: hidden;
}
.about-me .image
{
float: left  ;
    width: 40%
}
.about-me .image img
{
    width: 100%;
}
.about-me .info
{
    width: 60%;
    float: left
}
.about-me .info h2
{
    margin: 40px 0 20px 40px
}
.about-me .info> p
{
    margin: 0 0 10px 40px;
    line-height:1.7;
    color: #666
}
.about-me .info .hobbies
{
overflow: hidden;
 margin: 40px 0 10px 40px
}
.about-me .info .hobbies > div
{
    width: 50%;
    float: left;
    min-height: 100px;
}
/* end about me */
 /* star my skils*/ 
.myskils
{
    padding-bottom: 30px;
    padding-top: 30px;  
    overflow: hidden
}
.myskils .skils ,
.myskils .progress 
{
    float: left;
    width: 50%
}
 /* end my skils*/ 
/* star resume */
.resume
{
      background: #f2f2f1;
        text-align: center;
    padding-bottom: 30px;
    padding-top: 30px; 
}
/* end resume */
 /* star my Education*/ 
.myEducation
{
    padding-bottom: 30px;
    padding-top: 30px;  
    overflow: hidden
}
.myEducation .main ,
.myEducation .exp 
{
    float: left;
    width: 50%
}
 /* end my Education*/
/* star testimonals */
.testimonals
{
      background: #f2f2f1;
        text-align: center;
    padding-bottom: 30px;
    padding-top: 30px; 
}
/* end testimonals */
/* star star Portfolio */
.Portfolio
{
    padding-bottom: 30px;
    padding-top: 30px;
   text-align: center;
}
.Portfolio .our-work
{
  overflow: hidden;  
}
.Portfolio .our-work > div
{
    float: left;
    width: 33.33333%;
    margin-bottom: 10px;
}
.Portfolio .our-work > div img
{
    width: 92%;
    margin: 10px;
}
/* end  Portfolio */
/* star  contact me */
.contactme
{
background:#252e30;
overflow: hidden
}
.contactme h2
{
    color: #ffffff;
}
.contactme p
{
    color: #919191
}
.contactme .info,
.contactme .form
{
    width: 50%;
    float: left
}
/* end  contact me */
/* star footar */
.media
{
    background: #191f21;
    padding: 20px 0 ;
    text-align: center;
    color: aliceblue;
}
/* end footar */