@media (max-width: 768px) {
    /*global*/
    /*nav*/
    .navbar-header .brand {
        width: 150px;
        margin: 0   ;
    }
    .navbar-default .navbar-toggle {
        margin-top:20px;   
    }
    .container-fluid>.navbar-header {
        margin: 0;   
    }
    
    /*header*/
    header > .container > h2 {
        padding: 0;
        font-size: 20px;
    }
    header .call-us {
        padding: 10px;   
    }
    header h2 {
        font-size: 20px;
        margin: 0;
    }
    header h2 span {
        display: block;
    }
    
    /*dish-latino*/
    .dish-latino .col-sm-6:last-child {
        padding: 10px;     
    }
    .dish-latino h2 {
        font-size: 20px;
    }
    .dish-latino .my-hover-effect {
        display:block;
        text-align: center;
    }
    
    /*packages*/
    .dish-packages .col-sm-12 h2 {
        font-size: 20px;
        margin: 5px;
    }
    .dish-packages .col-sm-3 {
        padding: 5px;   
    }
    
    /*offer*/ 
    .offer .col-sm-6 {
        padding: 10px;   
    }
    .offer h2 {
        font-size: 20px;   
    }
    
    /*save-money*/
    .save-money h2 {
        font-size: 20px;
    }
    .save-money .call-us {
        padding: 5px;   
    }
    .save-money .call-us .my-hover-effect {
        display: block;   
    }
    .save-money .col-sm-6:last-child {
        padding: 10px;   
    }
    .save-money .col-sm-6:last-child .my-hover-effect {
        display: block;
        text-align: center;
    }
    
    /*order*/
    .order .col-sm-6:first-child {
        padding: 10px;   
    }
    .order .col-sm-6:first-child h2 {
        font-size: 20px;   
    }
    .order .col-sm-6:first-child .my-hover-effect {
        display: block;
        text-align: center;
    }
    
    
    /*footer*/
}

@media (min-width: 769px) and (max-width: 991px) {

}

@media (min-width: 991px) {

}
@media (min-width: 1199px) {


}