/*Start Global*/

*{ padding: 0; margin: 0 }

*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.container { width:1200px; margin: auto }

ul { list-style: none } 

h2,h3,h4 {font-weight: normal}

nav,
header,
.services,
.our-team,
.testim,
.our-projects,
footer{ min-width: 1000px }

/*End Global*/

/*Start Navbar*/

nav {
    font-size: 20px;
    height: 0;
    color: white;
    position: relative;
    z-index: 2  /* to make the .navbar above .overlay which has z-index = 0 */
}

nav .barnd { 
    float: left; 
    width: 40%; 
    text-transform: uppercase;
    margin-top: 35px
}

nav .links { 
    float: left; 
    width: 60%; 
    margin-top: 25px 
}

nav .links li{ 
    display: inline-block;
    padding: 10px 0;
    margin: 0 15px;
    border-bottom: 2px solid transparent;
    cursor: pointer
}

nav .links li a{
    color:#FFF;
    text-decoration: none
}

nav .links li.active a,
nav .links li a:hover { color: #1ABC9C }

nav .links li.active,
nav .links li:hover { border-bottom: 2px solid #1ABC9C }

/*End Navbar*/


/*Start header*/

header {
    background: url('../Images/1.bmp'); /* image size 1920 X 1275 */
    -webkit-background-size:cover;      /* to make the image cover picture*/
       -moz-background-size:cover;
            background-size:cover; 
    position: relative
}

header .overlay{
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;  /* to make this overlay cover the screen we set top,left,bottm,right = 0*/
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0 /* below all items */
}

header .bx-wrapper{ height: 100% }

header .bx-wrapper .bx-viewport{
    box-shadow: none;
    border: 0;
    background: none;
    height: 100% !important /* !important: to the make external css style file override the inline style */
}

header .bxslider { height: 100% }

header .bxslider li{
    display: block;
    text-align: center;
    margin-top: 0
}

header .bxslider li h2 { font-size: 60px; color: white }

header .bxslider li h2 span{ color: #1ABC9C }

header .bxslider li p {
    font-size: 20px;
    color: aliceblue;
    letter-spacing: 2px
}

/*End header*/

/*Start Services*/

.services{ padding: 80px 20px 40px 20px }   

.services h2 { margin: 0 0 50px 0 }

.services .item{
    margin-top: 10px;
    float: left;
    width: 33.3%;
    margin-bottom: 10px
}

.services .item i {
    color: #1ABC9C;
    float: left;
    width: 20%;
    margin-top: 0px;
    margin-right: 3%
}

.services .item .info { float: left; width: 75% }

.services .item .info h3 {
    color: #555;
    margin-bottom: 15px;
    margin-top: 10px
}

.services .item .info p { color: #888 }

/*End Services*/

/*Start Our Team*/

.our-team { padding: 40px 20px }

.our-team .box { float: left }

.our-team .box h2 { padding: 0 0 15px }

.our-team .box p{
    color: #888;
    line-height: 1.5;
    font-size: 16px
}
 
.our-team .box:first-child { width: 35% }

.our-team .box:not(:first-child){  /* (15.25% x 4) + (1% X 4) + 35% = 100%  */
    width: 15.25%;
    margin-left: 1%;
    position: relative
}

.our-team .box:not(:first-child) .box-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    widows: 100%;
    height: 100%;
    line-height: 183px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(26,188,156,.7);
    display: none
}

.our-team .box:not(:first-child):hover .box-overlay {
    display: block;
    border-radius: 10px
}

/* to put overlay over images => the image width should be exactly the div '.box'  width */
.our-team .box:not(:first-child) img { width: 100%; border-radius: 10px }  /* image size 175 px X 175 px */

/*End Our Team*/

/*Start Testimonials*/

.testim{
    background: url('../Images/computer.png');
    -webkit-background-size:cover;
       -moz-background-size:cover;
            background-size:cover;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 80px 0
}

.testim .testim-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    widows: 100%;
    color: #FFF;
    background-color: rgba(0,0,0,0.7)
}

.testim h2{ font-size: 40px; margin: 40px 0 }

.testim q {
    font-size: 20px;
    line-height: 1.5;
    display: block;
    margin-top: 40px
/* becasue <q> has display:inline default style, so I cannot modify margin unless set display:block */
}

q::before{ color: #1ABC9C } /* color first quet */

q::after{ color: #1ABC9C }  /* color End quet */

.testim p{
    font-size: 30px;
    color: #1ABC9C;
    margin-top: 10px
}

.testim .slider > div { display: none }  /* hide all direct child Divs*/

.testim .slider .active { display:block } /* show only child who has class 'active' */

/*End Testimonials*/

/*Start our Projects*/

.our-projects{ padding: 50px 0 }

.our-projects .mix { display: none } /* 'mix' class for MixitUp library*/

.our-projects ul { margin-top: 50px }

.our-projects ul li {
    display: inline-block;
    border: 2px solid #AAA;
    color: #AAA;
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer
}

.our-projects ul li.selected{
    background-color: #1ABC9C;
    border: 2px solid #1ABC9C;
    color: #FFF
}

.our-projects .gallery{ margin-top: 50px; overflow: hidden }

.gallery .row > div:nth-child(2) { margin-left: 1%; margin-right: 1% }

/*
    (.row > div) means style the .row direct childs <div> only
    so will style the <div> that evelope the <img> not the <img>
*/
.gallery .row > div{
    width: 32.666%;
    float: left;
    margin-bottom: 10px;
    position: relative
}

.gallery .row > div .image-overlay { 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    widows: 100%;
    height: 100%;
    line-height: 232px; /* line-height = height :to make the text in center */
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(26,188,156,.7);
    display: none
}

.gallery .row > div .heart-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #FFF;
    display: none
}

.gallery .row > div:hover .image-overlay,
.gallery .row > div:hover .heart-icon { display: block }

.gallery .row > div img { width: 100% } /* to make <img> take the full width of the enveloped <div> */

/*End Our Projects*/

/*Start Footer*/

footer {
    background-color: #6C6C6C;
    color: #EEE;
    padding: 40px 0;
    overflow: hidden
}

footer .col { width: 25%; float: left }

footer .col h3 { color: #FFF; margin-bottom: 20px }

footer .col p { margin-bottom: 20px; line-height: 1.5 }

footer .col i {
    color: #979797;
    border: 1px solid #979797;
    width: 40px;
    padding: 10px
}

footer .tags span {
    display: inline-block;
    color: #FFF;
    border: 1px solid #979797;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 10px
}

footer .recent-posts div { overflow: hidden; margin-bottom: 30px }

footer .recent-posts div img {
    float: left;
    margin-right: 10px;
    width: 75px;
    height: 75px
}

footer .recent-posts div h4 { margin: 5px 0; color: #CCC }

footer .blog-categories ul li{
    padding: 15px;
    border-bottom: 1px solid #979797;
    color:#CCC
}

footer .copyright{ margin-top: 0 }

/*End Footer*/

/*Start my Framework*/

.clearfix{ clear: both }

.separator{ border: 1px solid #EEE }

/*End my Framework*/