/*!
 * Custom Styles
 */

 /* Start Section Our Team */
body{
  height: 2200px;
  padding-top: 51px;    

 }

/*Start Main carousel*/

.our-carousel
{

}
.our-carousel .carousel-caption {
    top: 20px;
    background: none repeat scroll 0% 0% rgba(3, 3, 3, 0.3);
    padding-right: 20px;
    padding-left: 20px;
    height: 300px;
}
.carousel-indicators li {
    border: 1px solid #ccc;

}
.carousel-indicators .active {
  background-color: #f00;
}
/*End Main carousel*/

/*Start About Us*/
.aboutus
{
    background: #fff;
    padding-top: 50px;
    padding-bottom: 70px;    
}
.aboutus h1
{
    margin-bottom: 30px;
    font-weight: bold;
    color: #333;
}
.aboutus h1 span
{
    color: #F00;
}

.aboutus p
{
    font-size: 25px;
    margin-top: 15px;
    color: #999;
}

/*End About Us*/

/*Start Section Features*/

.features
{
    background: #e6e6e6;
    padding-top: 40px;
    padding-bottom: 50px;
}
.features h1
{
    font-weight: bold;
    color: #666;
    margin-bottom: 40px;
}
.features .feat span
{
    font-size: 30px;
    color: #666;
}

.features .feat p
{
    line-height: 2;   
}

.features .feat
{
    margin-bottom: 20px;
}

/*End Section Features*/


/*Start Tesimonials Section*/

.tesimonials
{
    padding-top: 50px;
    padding-bottom: 50px;
}
.tesimonials h1
{
    font-weight: bold;
    margin-bottom: 20px;
}
.tesimonials .lead
{
    line-height: 2em;
    margin-bottom: 15px;
}
.tesimonials span
{
    display: inline-block;
    color: #F00;
    font-size: 20px;
    font-weight: bold;
}
.tesimonials .carousel-indicators {
    position: static;
    width: 100%;
    margin-left: auto;
    margin-top: 20px;
}

.tesimonials .carousel-indicators li 
{
    text-indent: 0;
    width: 80px;
    height: 80px;
    opacity: .5;
    overflow: hidden;
    margin: 5px;
    border: 4px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}
.tesimonials .carousel-indicators li.active
{
    width: 80px;
    height: 80px;
    opacity: 1;
    background: none;
    border: 4px solid #f00;
}
.tesimonials .carousel-indicators li img
{
    max-width: 100%;
}

/*End Tesimonials Section*/


.our-team
 {
    background: url('../images/team.jpg') no-repeat fixed center center / cover transparent; 
    width: 100%;
    min-height: 500px;
 }
.our-team .team
 {
    background: rgba(2,2,2,0.75);
    min-height: 500px;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
 }
.our-team h1{
    font-weight: bold;
    margin-bottom: 60px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.our-team .team .person{
    text-align: center;
    margin-bottom: 20px;
}
.our-team .team .person h3{
    font-family: 'Droid Serif', serif;
}

.our-team .team .person .img-circle
 {
    border: 4px solid #fff;
    opacity: 0.7;
    cursor: pointer;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
 }

 .our-team .team .person .img-circle:hover{
    opacity: 1;
 }

 /* End Section Our Team */


 /* Start Section subscribe */

.subscribe
{
    padding-top: 40px;
    padding-bottom: 40px;
    background: #EEE;
    font-family: 'Droid Serif', sans-serif;
}

.subscribe h1{
    color: #888;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: bold;
    -webkit-text-shadow: 1px 1px 2px #888;
    -moz-text-shadow: 1px 1px 2px #888;
    -o-text-shadow: 1px 1px 2px #888;
    text-shadow: 1px 1px 2px #888;
}

.subscribe p
{
    margin-bottom: 30px; 
}

.subscribe .form-control {
    border-radius: 0;
   margin-right: -5px;
}
.subscribe .btn{
    border-radius: 0;
}
/* End Section subscribe */

/* Start Section Statistics */

.statistics
{
    background: url('../images/statistics.jpg') no-repeat fixed center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    min-height: 400px;
}
.statistics .data   
{
    background: rgba(2,2,2,0.85);
    width: 100%;
    min-height: 400px;
}
.statistics .data h1
{
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 60px;
    letter-spacing: 2px;
    color: #fff;
}
.statistics .stats
{
    margin-bottom: 30px;
    color: #999;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.statistics .stats:hover
{
    color: #fff;
}
.statistics p
{
    margin-bottom: 0;
    font-size: 60px;
    font-weight: bold;
}
.statistics span
{
    font-size: 18px;
}

/* End Section Statistics */


/* Start Section Our Skills */

.our-skills
{
    padding-top: 40px;
    padding-bottom: 40px;
}
.our-skills h1{
    font-weight: bold;
    margin-bottom: 60px;
}

.our-skills h3{
    margin-top: 0;
    font-weight: bold
}

.our-skills p{ 
    font-size: 16px;
}

.our-skills .progress
{
    height: 25px;
}

.our-skills .progress-bar
{
    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding-left: 30px;
}
/* End Section Our Skills */



/*Start Style Contact Us*/

.contact-us
{
    background: url('../images/contact.jpg') no-repeat fixed center center / cover ;
    min-height: 450px;
}
.contact-us .data
{
    background: rgba(2,2,2,0.8);
    width: 100%;
    min-height: 450px;
}

.contact-us .data .row
{
    margin-top: 40px;
    color: #999;
}
.contact-us .data h1
{
    font-weight: bold
}
.contact-us .data p
{
    font-size: 20px;
}

.contact-us input[type="text"],
.contact-us textarea
{
    background: rgba(82,78,78,0.5);
    color: #FFF;
    border: none;
}

.contact-us textarea
{
    height: 108px;
}

.contact-us button
{
    margin-bottom: 20px;
}
/*End Style Contact Us*/


/*Start Style Our Clients*/

.our-clients
{
    background: #eee;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 130px;
}
.our-clients .list
{
    list-style: none;
    padding-top: 35px;
}

.our-clients li
{
    margin-bottom: 30px;
}

.our-clients img
{
    opacity: 0.5;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.our-clients img:hover
{
    opacity: 1;
}
/*End Style Our Clients*/

/*Start Tesimonials*/
.tesimonials
{
    
}

/*Start Tesimonials*/

/*Scroll Top Botton*/

#scroll-top
{
    width: 50px;
    height: 40px;
    padding: 10px;
    z-index: 999999;
    position: fixed;
    right: 15px;
    bottom: 15px;
    opacity: 0.5;
    cursor: pointer;
    display: none
}
#scroll-top:hover
{
    opacity: 1;
}

