@charset "utf-8";
/* CSS Document */


/*Style for body*/

body {  background-color:#FFFFFF; height:4000px;}
 
.container { width:1100px; margin:auto;background-color:#676767;height:500px; }

.clearfix {clear:both;}



/*style for header*/

 .logo h2 {padding-left: 35px;margin-top: 8px;}

.logo .ax {font-size: 33px; font-weight: bold; color: #FFFFFF;}

.logo .ax  span {font-size: 33 px;font-weight: normal;color: #ff8b38;}

/*End style for header*/




/*Start Style for navbar*/

.header .navbar {background-color: #444B54;color: #AAAAAA;height: 50px;}

.navbar ul { 	list-style:none; float:right; overflow:hidden; padding:0 30px 10px 0;}

.navbar ul li {display: inline-block; font-size: 0px;}

.navbar ul li a{ 	text-decoration:none;font-family:arial;font-size:15px;color:#F4F4F4;text-transform:capitalize;padding:20px;}

.navbar ul li a:hover{ color:#FF8B38; font-family: 'Lato', sans-serif; font-size:20px;}

.navbar  ul li a:active{ color:#FF8B38;}
	
	/*End Style for navbar*/
	
	
	
	
	
	/*Start Style for slider*/
	
.slider {      background-image:url(../Images/maker-fine-coffee-1.jpg);
				 -webkit-background-size:cover;	
				 -moz-background-size:cover;	
				 -o-background-size:cover;	
				 background-size:cover;
				 height:400px;	
             
			 }
			 
.slider .intro {     padding-top:150px;}


.slider .intro h2 {
						 margin:0 auto;
						 font-size:40px;
						 color:#FC8B38;
						 border-top:4px solid #FC8B38;
						 border-bottom:4px solid #FC8B38;
						 padding:5px  0  5px 0;
						 width:600px;
						 }
						 	
							
.slider .intro button { margin-top:30px;
                                background:none;
								border:2px solid #DA8641;
								padding:15px 30px 15px 30px;
								color:#FC8B38;}
													
			 /*End Style for slider*/
			 
			 
			 
			 
			 
	/*Start Style For Feature*/		 
			 
.feature { overflow:hidden;background: #EEEEEE;	padding:30px 0 55px 10px;}
													
.feature h1{  color:#FF8B39; font-size:40px;}	
			
 .feature  .feat{	width:33.3333%; height:150px; margin-top:30px;}
	
									
 .feature .feat h1 { 				font-family:'Oswald', sans-serif;
 										font-size:25px;
										text-align:left;
										color:#444B54;
										cursor:pointer;
										margin-left:30px;}		
																	
											
.container .feature .feat h1:hover { color:#555;}	  

.container .feature .feat  p {
	color: #7A7A7A;
	text-align: left;
	text-decoration: none;
	padding-left: 36px;
	font-size: 13px;
	line-height:1.7;
}                                       

	
	/*End Style For Feature*/		
	
	
	
	
	
	/*Start Style For  About me */
	
	.about-me {background-color:#444B54; overflow:hidden;}
  
    .about-me .image { width:40%; overflow:hidden;}
	
	.about-me .image img { width:100%; height:550px;}
	
	.about-me .info {padding-top:50px; width:55%;}
	
	.about-me .head-about {color:#E2E3E4; padding-left:35px;}
	
	.about-me .head-about h2 {  text-transform:uppercase;} 									 
										 
	.about-me .head-about p { line-height:1.7; padding-right:5px; font-size:12px;}
								
	.about-me .head-about p:last-of-type{	 margin:30px 0 30px 0;	}		
						
	.about-me .info .hoppies { overflow:hidden;
											margin-left:35px;
											margin:60px 0 10px 40px;	
											color:#E2E3E4;
											font-size:12px;
											line-height:1.7;}
											
    .about-me .info .hoppies .content { min-height:100px;width:50%}			
	
	.about-me .info .hoppies .content .icons { width:12%;}
	
	.about-me .info .hoppies .content .icons img { max-width:100%;padding-top:18px;}
	
	.about-me .info .hoppies .content .text {width:88%;}
	

	
	
	
	/*End style for development*/  
	
	
	
	
	
	
	
	/*Start style for my skills*/
	
	.skills   {overflow:hidden; background:#E5E5E5; padding:30px 0 20px 10px;}
						
    .skills .my-skills { width:50%; padding-left:20px;}
     
	 .skills .my-skills h2 { font-size:30px;color:#FF8B3A;}
	 							
	 .skills .my-skills  p { line-height:1.7; padding-right:5px; font-size:12px; color:#5A5A5A;}
								
 	 .skills .my-skills  p:last-of-type{	 margin:30px 0 30px 0;	}	
	
	
	
	
	.skills .progressbar { width:40%;margin-left:30px;padding:20px 0 10px 10px;}
		
	.skills .progressbar h4 { color:#FF8B3A; margin-bottom:5px;}
	
	.skills  .progressbar .progress { margin:5px;padding:5px;}

	.skills .progressbar .progress  div {height:22px;background-color:#BCBCBC}
	
	.skills .progressbar .progress  .tec1 span { display:block; background-color:#FF8B3A;width:80%;  height:22px;text-align:right; font-weight:bold;line-height:25px;}
	
	.skills .progressbar .progress  .tec2 span { display:block;background-color:#FF8B3A;width:50%; height:22px;text-align:right;font-weight:bold;line-height:25px;}	
															 
	.skills .progressbar .progress  .tec3 span { display:block;background-color:#FF8B3A; width:75%; height:22px;text-align:right;font-weight:bold;line-height:25px;}	
															 
	.skills .progressbar .progress  .tec4 span { display:block;background-color:#FF8B3A;width:90%; height:22px;text-align:right;font-weight:bold; line-height:25px;}															
	
	.skills .my-skills button { background:none;	border:solid 1px #F79C59;color:#F5A367;padding:10px 20px 10px 20px;margin:40px 0 10px 0;}

/*End Style for my skills*/





	                       
/*Start Style for my resume*/

.my-resume { background-color:#444B54; padding:40px 40px 30px 10px;}
					 
.my-resume h1 { color:#E2E3E1;text-transform:uppercase;}

.my-resume p { font-size:13px;line-height:1.7;color:#CFCFCF;width:800px;padding:10px 0 0 120px;}

.my-resume button {  background:none;border:solid 1px #F79C59;color:#F5A367;padding:10px 20px 10px 20px;margin:40px 0 10px 0;	}
					
/*End Style for my resume*/			  
				  




/*Start Style for my education*/
	
.my-education {  background-color:#F0F0F0;overflow:hidden; padding:30px 10px 20px  30px;}
						
.my-education .main  { width:50%;margin-right:10px;}
				
.my-education .main h1 { color:#C08961;}

.my-education .main p { font-size:12px;ine-height:1.7;color:#5A5A5A;padding-top:10px;}

														
.my-education .exp {  width:40%;padding-left:20px; padding-top:70px;}

.my-education .exp h3 { margin-bottom:0;font-size:18px;}

.my-education .exp span { display:block;color:#8B8989;padding-top:10px;}

.my-education .exp button { margin-top:18px; background-color:#BA825D; padding-top:7px; font-size:13px;}
										 
.my-education .exp hr { margin-top:20px; background-color:#DDDADA;}									 
										 	 						 
.my-education .exp p { line-height:1.7;padding-right:5px;font-size:12px;	color:#5A5A5A;	}					

.my-education .exp .certificate2 { padding-top:20px;}



 								
/*End Style for my education*/







/*Start Style for testmonials*/

.testmonials { 
					
					padding-top:60px;
					padding-bottom:80px;
					background-color:#444B54;
					overflow:hidden;}
					
					
.testmonials  q{
	padding: 0 70px 20px 70px;
	font-size: 13px;

	line-height: 1.7;
	color: #E2E3E4;}

.testmonials  h3 { color:#C4C4C4;	font-style:italic;padding-top:40px;}

.testmonials ul { list-style:none; padding-left:0px;text-align:center;}
						
						
.testmonials ul li {
	border: 2px solid #BA825D;
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 9px;
	cursor:pointer;
						 }
			

.testmonials ul li:hover, 
.testmonials ul li.active { background-color:#B9815D;}



/*End Style for testmonials*/		






/*Start Style for portfolio*/

.portfolio { text-align:center;padding-top:50px;padding-botton:30px;background-color:#F0F0F0;	}

.portfolio h1 { color:#B9815D;text-transform:uppercase;font-style:normal;font-weight:bold;}

.portfolio p { font-size:14px;
                    color:#646464;
					width:900px;
					margin:15px 50px 20px 130px;
					line-height:1.7;
					text-transform:capitalize}
					
.portfolio .our-work { overflow:hidden;padding-top:50px;padding-bottom:80px;}					
					
.portfolio .our-work > div  { width:33.33333%; margin-bottom:15px;}
							
.portfolio .our-work > div img { 
											margin:10px;
											height:300px;
											width:300px;
											padding:3px;
											background-color:#FFF;
											border:1px solid #111111;
											box-shadow:4px 2px 2px 4px #ACACAC; }	

/*End Style for Portfolio*/







/*Start style for contact*/


.my-contact { overflow:hidden;background:#444B54;padding-left:20px;}
				
.my-contact  .info{ width:40%;margin-left:20px;padding-top:60px;}

.my-contact .info h2 { color:#ECECEC;text-transform:uppercase;font-weight:bold;font-size:25px}


.my-contact .info p { color:#C2C2C2;line-height:1.7;padding-top:20px;}	
								
								
.my-contact .info span { color:#C2C2C2;
									line-height:1.7;
									padding-top:30px;
									padding-bottom:30px;
									font-weight:bold;
									display:block;}

.my-contact .info strong { color:#FFFFFF; padding-right:10px;}



						
.my-contact .form { width:55%;padding:130px 0 0 30px;overflow:hidden;}							 
									 

.my-contact .form label { display:block; color:#E4E7E8;font-size:18px; margin:10px;}

.my-contact .form input { width:80%;height:35px;margin:15px;background-color:darkgray  ; border:1px solid #000000; padding:5px;}

.my-contact .form textarea { width:80%;height:300px;margin:15px;background-color:darkgray ; border:1px solid #000000; padding:5px	;}

.my-contact .form button { margin:0px 30px 20px 40px;
                                         background:none;
										 padding:15px 60px 15px 60px;	
										 color:#742D00;
										 font-weight:bold;
										 font-size:17px;	
										 background-color:#A9A9A9;
										 border-radius: 15px;
										 border-color:#000000;
										 text-transform:uppercase;}

/*End Style for contact*/








/*Start Style for footer*/

		.footer { overflow:hidden;background-color:#742D00; text-align:center;padding-left:20px;color:#FDFDFD;}
					
		.footer p { font-size:16px;float:left;padding-top:0;}
		
		.footer span { font-size:20px;font-weight:bold;padding-right:10px;color:#EC843B;}
		
		.footer ul { list-style:none;float:right;padding:0 10px  0 0;}
		
		.footer ul li{display:inline-block;}
		
		.footer ul li img { width:25px; height:25px;margin:2px;}
		
	
/*End Style for Footer*/



/*Floating left */

.fl-left { float:left}
.align { text-align:center;}