/*main rules..............................*/
body{height:100%}
.cont{margin:auto;width:1000px}
.clearfix{clear:both}
/*header start .........................................*/
.header{height:600px; 	}
.header .headerdata{height:40px;overflow:hidden;background-color:#FFF;border-bottom:1px solid #AEAEAE;}
.header .headerdata .usa{width:30%;background-color:#FFF;float:left;height:100%;padding:0}
.header .headerdata .liks{width:30%;background-color:#FFF;float:right;height:100%;padding:0}
.header .headerdata .usa img,
.header .headerdata .usa p,
.header .headerdata .usa i{float:left;}

.header .headerdata .usa img{margin-top:4px}
.header .headerdata .usa p{line-height:0.8;margin-left:7px}
.header .headerdata .usa i{margin-left:7px;line-height:1;height:35px;padding-top:5px;padding-right:20px;border-right:1px solid #AEAEAE;}


.header .headerdata .usa .signin{float:right}

.header .headerdata .usa .signin span{font-weight:bold}
.header .headerdata .usa .signin .sign-in{font-weight:bold;border-bottom:1px solid #AEAEAE}

.header .headerdata .liks .search,
.header .headerdata .liks .bag,
.header .headerdata .liks .dolar{width:25%;float:left;margin-top:13px}
.header .headerdata .liks .search p{float:left;margin-top:5px;line-height:0.4;margin-left:3px}
.header .headerdata .liks .search i{float:left;}

.header .headerdata .liks .bag i{float:left}
.header .headerdata .liks .bag p{float:left;margin-top:5px;line-height:0.4;margin-left:3px}
.header .headerdata .liks .dolar i{float:left}
.header .headerdata .liks .dolar p{float:left;margin-top:6px;line-height:0.4}
.headerdata2{overflow:hidden;height:90px;}
.headerdata2 .left-pra{width:30%;float:left;height:100%;color:#A1A1A1;line-height:2}
.headerdata2 .title{width:30%;float:left;height:100%;margin-left:85px;font-size:40px;font-family:sans-serif;margin-top:-20px;color:#515151}
.headerdata2 .right-pra{width:30%;float:right;height:100%;color:#A1A1A1;line-height:2}


.navbar ul{list-style:none;overflow:hidden;margin-left:0;padding-left:0}
.navbar ul li{display:block;float:left;margin-left:0px;margin-right:38px;font-size:15px}

.poster{height:500px;background-image:url(..//img/bg-banner.jpg);background-size:cover;background-position:50% center;}
.poster p{color:#FFF;font-size:15px;text-align:center;padding-top:215px}
.poster h1{color:#FFF;font-size:40px;text-align:center;padding-top:17px}
.poster button{background:none;margin-left:40%;width:15%;color:#FFF;height:8%}