body{
    margin: 0px auto;
    padding: 0px;
}
.header1{
    height: 70px;
    margin: 0px auto;
    background-color:#03a8fe;
}
.header1 .search{
    float: right;
    margin: 18px 15px;
}
.header1 .search input{
    width: 200px;
    height: 30px;
    border: 2px solid #03a8fe;
    border-radius: 5px;
    background-image: url(img/search2.png);
    background-repeat: no-repeat;
    text-align: center;
}
.header1 .logo{
    float: left:
}
.header1 .logo img{
    width: 300px;
    height: 50px;
}
.header2{
    margin: 0ox auto;
    height: 100px;
    background-color:#adf306;
    border-top: 1px solid #adf306;
}
.header2 .uldiv{
    float: right;
}
.header2 .uldiv ul{
    list-style-type: none;
}
.header2 .uldiv ul li{
    float: right;
    background-color:;
    padding: 7px 5px;
    margin: 18px 2px;
}
.header2 .uldiv ul li a{
    text-decoration: none;
    padding: 7px 5px;
    font-size: 25px;
    color: #03a8fe;
    border-bottom: 2px solid #fff;
    
}
.header2 .uldiv ul li a:hover{
    background-color: #03a8fe;
    border: 1px solid #03a8fe;
    border-radius: 4px;
    color: #fff;
}
.header2 .logo2 p{
    float: left;
    margin: 25px 5px;
    font-size: 30px;
    color: #ff5a00;
    border-bottom: 2px solid #fff;
    border-radius: 10px;
    padding: 5px 5px;
}
.header2 .logo2 p:hover{
    border-color: #ff5a00;
}

.page{
    margin: 0px auto;
    padding: 0px 0px;
    height:600px;
    background-color: #9aa9a4;
    border-top:1px solid #9aa9a4;
}
.page p{
    margin: 250px auto;
    font-size: 40px;
}
.theend{
    border-top: 1px solid #000;
    height: 150px;
    background-color: #000;
    
}
.theend .tab table{
    margin: 20px auto;
    color: #fff;
}
.theend2{
    height: 50px;
    background-color:#3964d2;
    border-top:1px solid #3964d2;
}
.theend2 p{
    color: #fff;
    font-size: 20px;
    margin: 12px auto;
}
.theend2 p a{
    text-decoration: none;
    font-size: 20px;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
    padding: 5px 5px;
}
.theend2 p a:hover{
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    color:#000;
}
