body
{
    width: auto;
    margin: auto;
    height:auto;
    background-color: maroon
    
}

header
{
    width: auto;
    height: 170px;
    background-image: url(5.jpg);
    margin-top: -22px;
    padding: 5px;
}

#nav
{
 
    width: 700px;
    height: 50px;
    margin-top: 20px;
    margin-left: 350px;
    
    
}


ul
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    list-style-type: none;
    
}

ul li
{
    float: left;
}

ul li a
{
    display: block;
    text-decoration: none;
    padding: 15px 40px;;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
	color:white;
    
}

ul li a:hover
{
    color: white;
}

ul ul
{
    display: none;
    position: relative;
    position: absolute;
    box-shadow: 10px 10px 5px #888888;
    
}

ul ul li
{
    float: none;
}

ul ul li a
{
    background-color: maroon;
}

ul li:hover > ul
{
    display: block;
}

#dropicon
{
    width: 13px;
    height: 13px;
    margin-left: 3px;
        
}

article
{
    width: 700px;
    height: auto;
    margin: auto;
}

h1
{
    font-size: 40px;
    font-family: sans-serif;
	color:white;
}

p
{
    font-size: 20px;
    font-family: sans-serif;
    line-height: 2em;
	color:white;
}
#second
{
    margin: auto;
    width: 1250px;
    height: 350px;
    

}
#firstline
{
    width: 250px;
    height: 250px;
    display: block;
    float: left;
    padding: 20px;
    margin-left: 20px;
    cursor: pointer;
}

footer
{
    width: auto;
    height: 100%;
    background-image:url(5.jpg);
    line-height: 2em;
    padding: 15px;
    
}

#foo
{
    font-family: sans-serif;
    color: white;
    margin-left: 140px;
    margin-top: -25px;
}


