
body{
   
   background-color: #EFF1F4;
   
}
p{line-height: 25px;
font-size: 120%;}

a {text-decoration: none;
color: #2B2727;}

.Countainer{
    width: 1170px;
    margin: auto;}
   
    
    /*begine header*/
    .slider{
        height: 590px;
        background-image: url(Digital-Marketing-Agency-1170x600.jpg);
        background-size: cover;
        
      
    }
    
   
    
.nvbar{
    background-color: #252f31;
    overflow: hidden;
    color: #FFF;
    
 }
 
 .nvbar h2{
    float: left; text-transform: uppercase;
    color: #FCF7F7;
 }
 .nvbar span{
    color: #026275;
 }
 .nvbar ul{
     list-style-type: none;
    overflow: hidden;
    padding-left: 0;
    float: right; /*l2n h2 btkon 3nwan f btkoon fo2 so lazm a5ly el ul klha right*/
 }
 .nvbar ul li{
    float: right;
    list-style-type: none;
   padding: 10px;
     
 }
 .nvbar .home {
    color: #026275;
 }
 .nvbar ul li a{
    color: white;
    text-decoration: none;
    
 }
 .nvbar ul li a:active{font-size:15px; }
 /*end header*/
 /*design*/
 
 

.web , .web1{padding-bottom: 40px;
padding-top: 40px;}

.web_development ul li{
    height: 50px;
    font-size: 120%;
}
 
 
 
   .copy {padding-top: 20px;
margin-bottom: -10px;
text-align: center;
margin-bottom: 50px;
 }


.copy img{
    display: inline;
    margin: 0;
}







