body{
  background: #ececec;
  font-size: 87.5%;
  font-family: khmer os new;
  color:#666666;
  line-height: 1.7em;
  text-align: left;
}
a{
  text-decoration: none;
  color: #781a26;
}
a:hover{
  color: #666666;
}
h2{
  color: #781a26;
}
.clr{
  clear: both;
}
#container{
  width:80%;
  margin: 0 auto;
  overflow: auto;
  clear: both;
  float: left;
}
.main-header #logo{
  width: 50%;
  height: 50%;
  height: 150px;
  width: 150px;
  margin:0 auto;
  display: block;
}
.main-header .main-nav{
  background: #882433;
  height: 40px;
  border-radius: 1px #c13046 solid;
}
.main-header .main-nav ul{
  list-style-type: none;
  padding: 0;
}
.main-header .main-nav li{
  color: #ffffff;
  display: inline-block;
  margin: 0 auto;
  max-width: 420px;
}
.main-header .main-nav li a{
  color: #ffffff;
  display: block;
  line-height: 40px;
  margin:0 20px;
  font-family: khmer os moul light;
  vertical-align: center;
}
.main-header .main-nav li a:hover,.main-header .main-nav li a:active{
  background: #efeadd;
  color: #666666;
  border-radius: 10px;
}
#sidebar{
  float:right;
  width: 20%;
}
#slogan{
  display: block;
  margin: 0 auto;
}
