body {

  font-family: "Droid Sans", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.6em;
  background: #fff
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #00AFEE;
  outline: 1px solid #fff;
  border-radius: 5px;
  width: 0.5em
}


/*start section1*/
.section1{margin-top: 20px}
.post-section {
  overflow: hidden;
}

.post-section .header {
  padding: 10px;
  border-width: thin;
  overflow: hidden;
  margin-bottom: 2px;

}

.post-section .header .logo {
  float: left;
  font-weight: bold;
  color: #00afee;
}

.post-section .header .logo i {
  color: #fff;
  background: #00afee;
  padding: 6px;
  border-radius: 2px;
}

.post-section .header .post {
  float: right;
  color: #b8b5b5;
  font-size: 20px;
}


/*start profile-info*/

.profile-info .info img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-left: -11px
}

.profile-info .info {
  border: 1px solid rgba(51, 51, 51, 0.34);
  padding-top: 5px;
}

.profile-info .info .name {
  color: #00AFEE;
  font-weight: bold;
  word-spacing: -1px;
}

.profile-info .info .email a {
  color: #bfbfbf;
  margin-left: 44px;
}


/*start cover litter*/

.cover-litter {
  text-align: center;
  padding: 5px;
  border: 1px solid rgba(51, 51, 51, 0.34);
  margin-top: 1px;
}

.cover-litter .info {
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 102px;
}

.cover-litter .info p {
  font-weight: bold;
  text-align: -webkit-auto;
}

.cover-litter .info::-webkit-scrollbar {
  display: none;
}

.cover-litter .bottom {
  padding: 6px;
}

.cover-litter .bottom i {
  font-size: 16px;
  font-weight: bold;
  margin-left: 9px;
}

.cover-litter .bottom .fa-facebook {
  color: #4c5877;
}

.cover-litter .bottom .fa-twitter {
  color: #56ACED;
}

.cover-litter .bottom .fa-whatsapp {
  color: #62B772
}

.cover-litter .bottom .fa-youtube-play {
  color: rgb(181, 20, 20)
}

.cover-litter .bottom .fa-y-combinator {}

.cover-litter .bottom .fa-wikipedia-w {
  color:
}


/*start members*/

.members {
  overflow: hidden;
  background: #BDCFD6;
  padding: 5px;
  margin-top: 5px;
  border-radius: 2px;
  border: 1px solid rgba(51, 51, 51, 0.23);
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

.members::-webkit-scrollbar {
  display: none;
}

.members .info .id a {
  font-weight: bold;
  font-size: 12px;
}

.members .info .name {
  font-weight: bold;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 0px;
}

.members .info img {
  width: 38px;
  height: 38px;
  border-radius: 2px;
  border: 1px solid #333;
}

.members .info .person {
  margin-left: -31px;
}

.members .info .glyphicon-plus {
  padding: 10px;
  background: #eee;
  border-radius: 3px;
  cursor: pointer;
  font-size: 11px;
  transition: 0.3s
}

.members .info .glyphicon-plus:hover {
  background: #333;
  color: #fff
}


/*start request*/

.request {
  border: 1px solid rgba(51, 51, 51, 0.41);
  overflow: hidden;
  border-radius: 3px;
  margin-bottom: 100px
}

.request h5 {
  font-weight: bold;
  font-size: 13px;
  text-align: -webkit-right;
  margin-bottom: -3px;
}

.request input {
  border: 1px solid rgba(51, 51, 51, 0.47);
  padding: 5px;
  width: 93%;
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 12px;
}

.request a {
  font-size: 10px;
  font-weight: bold;
}




/*start posts*/
.posts{bottom: 0}
.posts .content{overflow: scroll;height: 800px;overflow-x:hidden;}
.posts .content::-webkit-scrollbar {
  width: 0.6em;
  background: #fff
}

.content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.content::-webkit-scrollbar-thumb {
  background-color: #00AFEE;
  outline: 1px solid #fff;
  border-radius: 5px;
  width: 0.5em
}
.posts .header{margin-bottom: 20px}
.posts .header input{
    border: 0;
    padding: 10px;
    background: #bdcfd6;
    color: #fff;
    width: 100%;
    text-align: center;
    position: relative;
    outline: none;
}

.posts .header span {
    position: absolute;
    font-size: 23px;
    left: 90%;
    top: 10px;
}

.posts .main-post {
    margin-top: 36px;
    border: 1px solid #ababab;
    box-shadow: 1px 2px 3px rgba(51, 51, 51, 0.31);
    padding: 5px;
    margin-bottom: 20px

}
.posts .main-post:last-child{margin-bottom: 0px}
.posts .main-post .title h3{
    display: inherit;
    font-size: 13px;
    font-weight: bold;
    margin-top: -36px;
    margin-left: 42px;
}

.posts .main-post .title  img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: list-item;
}

.posts .main-post .title button{
    border: 0;
    padding: 4px;
    width: 34%;
    margin-top: 12px;
    color: #fff;
    background: #00afee;
}
.posts .main-post .news {
    text-align: -webkit-auto;
    direction: rtl;
    border: 1px solid rgba(51, 51, 51, 0.32);
    margin: 9px;
}
.posts .main-post .news img {
    vertical-align: middle;
    width: 100%;
    height: 207px;
}

 .posts .main-post h3{
    text-align: -webkit-auto;
    font-size: 17px;
    direction: rtl;
    margin-top: 31px;
    font-weight: bold;
}

.posts .main-post .news h3 {
    text-align: -webkit-auto;
    font-size: 17px;
    direction: rtl;
    margin-top: 11px;
    font-weight: bold;
}

.posts .main-post i {
    font-size: 20px;
    margin-left: 7px;
}

.posts .main-post .option{text-align: -webkit-auto;margin-left: 7px}
.posts .main-post .fa-thumbs-up {
    color: #206514;
}
.posts .main-post .fa-thumbs-down{
    color: #b92727;
}
.posts .main-post .fa-reply{color: #00afee}


.frinds .header {margin-bottom: 20px}
.frinds .header p {
    font-size: 12px;
    font-weight: bold;
    color: #b9b9b9;
    cursor: pointer;
}


button{transition: 0.3s}
button:hover{opacity: 0.4}
i{cursor: pointer;transition: 0.3s}
i:hover{opacity: 0.4}

.frinds .members {
    overflow: hidden;
    padding: 5px;
    margin-top: 5px;
    border-radius: 2px;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    border: 0;
    background: transparent;

}

.frinds .members .info{margin-bottom: 20px}
.frinds .members::-webkit-scrollbar {
  display: none;
}

.frinds .members .info .id a {
  font-weight: bold;
  font-size: 12px;
}

.frinds .members .info .name {
    font-weight: bold;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 33px;
}

.frinds .members .info p{
    margin-left: 33px;
}

.frinds .members .info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
}

.frinds .members .info .person {
  margin-left: -31px;
}

.frinds .members .info .btn1 {
    background: #fff;
    color: #00afee;
    border: 1px solid #00afee;
    margin-left: -4px;
    width: 70px;
}
.frinds .members .info .btn2 {
    background: #00afee;
    color: #fff;
    border: 1px solid #00afee;
    margin-left: -4px;
    width: 70px;
}


.frinds  .follows{
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 20px
}
.frinds  .follows h4{
    font-weight: bold;
}
 .frinds  .follows  i{
    padding: 10px;
    background: #00afee;
    color: #fff;
    border-radius: 50%;
    margin-left: 11px;
    font-size: 24px;
}

.frinds .search input{
    border: 0;
    padding: 10px;
    background: #bdcfd6;
    color: #fff;
    width: 100%;
    text-align: center;
    position: relative;
    outline: none;
}

.frinds .search span {
    position: absolute;
    top: 634px;
    left: 85%;
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}