*{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing:border-box;
}
body{margin: 0;   perspective:600px;background-color:#f0dfc5}
.container{width: 1170px;margin: auto}
.clearfix{clear:both }

/*start header*/
.head{text-align: center}
.head h1{margin: 0;font-family: verdana;font-size:70px;color: #120703;text-shadow:4px 7px 10px #8c4046}
.head h2{margin: 0;font-family: verdana;font-size:50px;color: #942a34}
.head .nav{overflow: hidden;height:130px;border-radius: 30px;text-align: center;margin-top:-10px}
.head .nav ul {list-style: none;text-align: center;padding: 25px}
.head .nav ul li{font-size:22px;display: inline-block;padding: 20px;transform:skew(158deg,20deg )scale(1.6);color:#942a34}
.head .nav ul li:hover{transform:none;}
.head .nav ul .left{transform:none}
.head .nav ul .left i{color:#120703;transform:none;font-size:70px; transition: all 2s ease-in-out;transform:translatez(20px)}
.head .nav ul .left i:hover{transform:none;color: #942a34}
.head .nav ul li span{color:#120703}
.head .nav ul li a{text-decoration:none;color:#942a34}
.head .nav ul  li  a:hover{color: #f1ba82}

/*end header*/

/*start slider*/
.slider{text-align: center;margin-top: 30px}
.slider img{background-size:100%;height: 400px;border-radius:10px}
/*end slider*/

/*start about_us*/
.about_us{margin-top:70px;min-height: 400px; }
.about_us .left{float: left;margin-left:100px;width: 40%}
.about_us .left h1{font-family: verdana;font-size:30px;color: #120703;text-shadow:3px 4px 5px #8c4046 }
.about_us .left p{font-family: verdana;font-size:20px;color: #624237;line-height: 30px}
.about_us .left div i{font-size: 30px;color: #8c4046;}
.about_us .right{float: right;width: 40%}
.about_us .right img{width:300px;height:300px;margin-top: 20px;border-radius: 20px;margin-left:80px}
/*end about_us*/

/*start content*/
.content{text-align: center;margin-top:70px;height:360px;}
.content .container {border-radius:10px;box-shadow: 8px 8px 8px #351719,10px 10px 10px #935f38, -8px -8px 15px #351719,-10px -10px 15px #935f38}
.content img{padding: 20px;border-radius:30px;border-radius: 50%; transition: all 2s ease-in-out}
.content img:hover{border-radius:30px}
/*end content*/

/*.start section*/
.section{height:280px;overflow: hidden;margin-top:60px}
.section .container{}
.section .left_section{width: 30%;float: left;margin-left: 20px}
.section .left_section h2{font-family: verdana;font-size:25px;color: #120703;line-height: 30px}
.section .medum{}
.section .right_section{width: 40%;float: right;margin-right: 30px}
.section .right_section h2{font-family: verdana;font-size:20px;color: #120703;line-height: 30px}
.section .right_section p{font-family: verdana;font-size:17px;color: #120703;line-height: 30px;}
/*end section*/

/*start backgroung*/
.backgroung{background-image: url(../images/background2.png);height:580px;background-repeat: no-repeat;background-position:bottom center ;opacity:.3;margin-top:40px}
.note{text-align: center;width:1000px;height: 500px;overflow: hidden;margin-top:50px;margin-left: 40px}
.note i{font-weight: bold;font-size: 80px;color:#120703;margin-top: 20px}
.note h1{font-size: 50px}
.note h2{font-size:30px;color:#120703}
/*end background*/

/*start contact*/
.contact{height:300px;overflow: hidden;text-align: center;margin-top: 60px}
.contact h2{font-size:40px;color:#120703;font-weight: bold}
.contact i{font-size: 20px;color: #120703}
.contact .icon{}
.contact .icon i{ padding: 90px;text-align: center;font-size: 50px}
/*end contact*/
 
 /*start copyright*/
.copy-right{color:#120703;margin-top:30px;text-align: center;overflow: hidden;padding-top: 20px }
.copy-right span{margin-bottom: 20px;font-size:50px;}
 /*end copyright*/





