* {
  margin: 0;
  padding: 0;
  outline: none !important;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background: #ecf0f1;
  color: #2c3e50;
  font-family: 'DroidKufi-Regular';
}
section#intro {
  height: 100%;
  width: 100%;
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #DDF1FC , #65ABFF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #DDF1FC , #65ABFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  overflow: hidden;
}

nav.navbar {
  background: transparent; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, transparent 20% , rgba(0, 0, 0, 0.3) 50%); /* Chrome 10-25, Safari 5.1-6 */
  background: -moz-linear-gradient(to top, transparent 20% , rgba(0, 0, 0, 0.3) 50%); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, transparent , rgba(0, 0, 0, 0.3)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 999;
  border: none;
  box-shadow: none;
}
.nav > li {
  margin-top: 15px;
}

.nav > li > a {
  -webkit-transition: all ease-in-out 0.4s;
     -moz-transition: all ease-in-out 0.4s;
      -ms-transition: all ease-in-out 0.4s;
       -o-transition: all ease-in-out 0.4s;
          transition: all ease-in-out 0.4s;
}

.nav > li.active > a, .nav > li > a:hover {
  position: relative;
  color: #58CC65;
}

.nav > li.active > a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 2px;
  width: 80%;
  background: #58CC65;
}

.nav > li.active > a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: auto;
  height: 6px;
  width: 40%;
  background: #58CC65;
}

.nav > li > a, .navbar-brand {
  color: #fff;
  font-size: 16px;
}

.navbar-brand {
  margin-right: 0;
}

.nav > li > a:focus, .nav > li > a:hover, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background: transparent
}

.intro-msg {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.intro-msg p {
  font-size: 18px;
  font-weight: normal;
  text-align: justify;
  color: 1e2a36;
  line-height: 28px;
}

.intro-msg ul.adobe-icons {
  list-style: none;
}

.intro-msg ul.adobe-icons li {
  float: left;
  margin-right: 10px;
}

.intro-msg ul.adobe-icons li:first-child {
  margin-right: 0;
}

.greenland1 {
  width: 150%;
  height: 70%;
  position: absolute;
  bottom: -50%;
  left: -45%;
  background: #4CA955;
  border-radius: 100% 100%;
  z-index: 150;
}

.greenland2 {
  width: 120%;
  height: 60%;
  position: absolute;
  bottom: -35%;
  right: -65%;
  background: #418D49;
  background: -webkit-linear-gradient(to left, #5AB563 , #418D49); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #5AB563 , #418D49); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 100% 100%;
  z-index: 150;
}
.treeBg {
  position: absolute;
  bottom: 10%;
  left: 30%;
  z-index: 500
}

.treeSm {
  position: absolute;
  bottom: 17%;
  right: 20%;
  z-index: 500
}

@media screen and (max-width: 480px) {
    .intro-msg p {
      font-size: 14px;
      line-height: 22px;
    }
    .intro-msg ul.adobe-icons li {
      float: right;
      margin-left: 5px;
    }
    .intro-msg ul.adobe-icons li:first-child {
      margin-left: 0;
    }
    .intro-msg ul.adobe-icons li img{
      width: 24px;
    }
    .greenland1 {
      width: 130%;
      height: 55%;
      bottom: -40%;
      left: -40%;
    }

    .greenland2 {
      width: 110%;
      height: 55%;
      bottom: -45%;
      right: -45%;
    }
    .treeBg {
      bottom: 10%;
      left: 20%;
      height: 100px;
    }

    .treeSm {
      bottom: 6%;
      right: 10%;
      height: 65px;
    }
}



#clouds{
	padding: 75px 0;
    direction: ltr !important;
    z-index: 100 !important;
}

/*Time to finalise the cloud shape*/
.cloud {
	width: 200px; height: 60px;
	background: #fff;

	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;

	position: relative;
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute;
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;

	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;

	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 200px;

	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/

	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.x3 {
	left: -250px; top: -200px;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/

	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

.x4 {
	left: 470px; top: -250px;

	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; /*opacity proportional to the size*/

	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
}

.x5 {
	left: -150px; top: -150px;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/

	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}