/*---------------------------------------
    Body Style              
-----------------------------------------*/

body {
  font-family: 'El Messiri', sans-serif;
 

}



a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 0.6em;
  background: #fff
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: red;
  outline: 1px solid #fff;
  border-radius: 5px;
  width: 0.5em
}


/*---------------------------------------
    Up To page style              
-----------------------------------------*/

.up span {
  color: #fff;
  position: fixed;
  z-index: 9999;
  background: #f26b1c;
  padding: 11px;
  border-radius: 2px;
  font-size: 26px;
  right: 10px;
  cursor: pointer;
  top: 500px;
  transition: 0.3s;
  display: none;
}

.up span:hover {
  background: #fff;
  color: #f26b1c
}


/*---------------------------------------
    Pre Loader Style              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #fff;
}

.sk-spinner-pulse {
  width: 60px;
  height: 60px;
  background-color: #f26b1c;
  border-radius: 100%;
  margin: 40px auto;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
  animation: sk-pulseScaleOut 1s infinite ease-in-out;
}

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}



.container{width: 92%}
/*---------------------------------------
    navbar section Style              
-----------------------------------------*/
.navbar{z-index: 9999}
.navbar nav ul li{
  float: right;
  transition: 0.5s
}
.navbar nav ul li:hover{
  background: red;

}
.navbar nav ul a:hover{color: #fff}
.dropdown-content{
  margin-top: 63px;
}

.dropdown-content li > a, .dropdown-content li > span{color: #222}
@media only screen and (max-width: 992px){
  .navbar nav ul li {
    float: none;
}
}


.input-field input[type=search] ~ .mdi-navigation-close,
.input-field input[type=search] ~ .material-icons{
  right: 4rem;
}

.input-field input[type=search] {
    display: -webkit-inline-box;
    line-height: inherit;
    padding-left: 4rem;
    width: calc(100% - 4rem);
    padding: 10px;
}

/*---------------------------------------
    site-title section Style              
-----------------------------------------*/
.site-title{
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0
}
.site-title h2{
  font-family: 'Anton', sans-serif;
  margin: 0;
  padding: 0
}

.site-title p {
    padding: 0;
    margin-top: -3px;
    font-weight: bold;
    letter-spacing: 7px;
}



/*---------------------------------------
    news section Style              
-----------------------------------------*/

.news {
  overflow: hidden;
  margin-bottom: 50px
}

.news img {
  width: 100%;
  transition: 1.5s;
  height: 290px;
  transform: scale(1.1);
}

.news .col {
  padding: 2px;
}

.news .info {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.news .info .caption {
  position: absolute;
  top: 75%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.48);
  transition: 0.5s;
  padding: 5px
}

.news .info .caption h5 {
  margin-bottom: 30px
}

.news .info .caption .content {
  width: 95%
}

.news .info:hover .caption {
  top: 0
}

.news .info:hover img {
  filter: blur(3px);
  transform: scale(1.5);
}



/*---------------------------------------
    article section Style              
-----------------------------------------*/
.article .header h5 {
    padding: 10px;
    margin-top: -1px;
}
.article .info .content .content-img{
  width: 138px;
  height: 120px;
  position: relative;
  overflow: hidden;
}
.article .info .content .content-img img{
  width: 100%;
  height: 100%;
}
.article .info .content .content-img .img-caption{
  position: absolute;
  top: 300px;
  background: rgba(0, 0, 0, 0.65);
  text-align: center;
  width: 100%;
  height: 100%;
  transition: 0.5s
}
.article .info .content .content-img .img-caption i {
    color: #fff;
    font-size: 27px;
    position: relative;
    top: 29%;
    padding: 12px;
    border: 3px solid #fff;
    border-radius: 50%;
}
.article .info .content:hover .img-caption{top: 0}



.article .info .content .details {direction: rtl;margin-left: 30px;}
.article .info .content .details h6{
  margin-bottom: 20px
}
.article .info .content .details i{
    position: relative;
    top: 6px;
}
.article .info .content .details a{color: #000}
.article .info  .col{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px
}


/*start followers*/
.social-followers{
    border: 3px solid #eee;
    cursor: pointer;
}
.social-followers i{
    background: grey;
    color: #fff;
    font-size: 31px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 69px;
    margin-top: 10px;
    transition: 0.5s;
    
}
.social-followers h5{
    color: grey;
    font-size: 33px;
    font-family: sans-serif;
    font-weight: normal;
}
 h5,h6{transition: 0.5s}
.social-followers:hover i{
  transform: scale(1.2);
}
.social-followers:hover h5{transform: scale(0.9);}
.social-followers:hover h6{transform: scale(0.9);}

.social-followers:hover .fa-facebook{
  background: blue
}

.social-followers:hover .fa-twitter{
  background: aqua
}

.social-followers:hover .fa-google{
  background: red
}

.social-followers:hover .fa-instagram{
  background:orange
}

.social-followers:hover .fa-whatsapp{
  background: green
}

.social-followers:hover .fa-soundcloud{
  background: orange
}

.social-followers:hover .fa-pinterest-p{
  background: red
}

.social-followers:hover .fa-apple{
  background: black
}

.social-followers:hover .fa-behance{
  background: blue
}

.social-followers:hover .fa-tumblr{
  background: red
}

.social-followers:hover .fa-youtube{
  background: red
}





/*start gallery*/
.gallery .img-gallery{
  overflow: hidden;
  height: 110px;
  margin-bottom: 20px
}
.gallery .img-gallery img{
  width: 100%;
  height: 110px
}
.gallery .sign{
  width: 100%;
  height: 166px;
  text-align: center;
}
.gallery .sign h4{padding: 10px;position: relative;top: 10%}
/*start article video*/
.article .article-video{
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 220px;
  margin-bottom: 10px;
 direction: rtl;
}
.article .article-video img{
  width: 100%;
  height: 100%
}
.article .article-video .caption{
  width: 100%;
  height: 100%;
 background: rgba(0, 0, 0, 0.65);
 text-align: center;
 top: 500px;
 position: absolute;
 transition: 0.5s
}
.article .article-video .caption i{
    color: #fff;
    font-size: 74px;
    position: relative;
    top: 28%;
}
.article .article-video:hover .caption{top: 0}
.article .info{direction: rtl;margin-bottom: 50px}
.article .info h6{color: grey}
.article .info i {
    position: relative;
    top: 6px;
}

.slider .slides li .caption {
    color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.69);
    height: 100%;
    left: 0
}

.slider {margin-top: 15px}
.slider .slides li .caption h3,h5{padding:0px 20px 0px 20px}
.slider .indicators .indicator-item.active {
    background-color: #f44336;
}




/*---------------------------------------
    form-gallery section Style              
-----------------------------------------*/
.form-gallery{
  direction: rtl
}
.form-gallery form input[type="text"], input[type="password"] {
    border: 1px solid #eee;
    background: rgba(148, 148, 148, 0.25);
}
.form-gallery form span {
    position: relative;
    right: 27px;
}
.form-gallery form a{
  position: relative;
  top: 15px
}


.form-gallery .content .content-img {
    width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
}
.form-gallery .content .content-img img{
  width: 100%;
  height: 100%;
}
.form-gallery .content .content-img .img-caption{
  position: absolute;
  top: 300px;
  background: rgba(0, 0, 0, 0.65);
  text-align: center;
  width: 100%;
  height: 100%;
  transition: 0.5s
}
.form-gallery .content .content-img .img-caption i {
    color: #fff;
    font-size: 27px;
    position: relative;
    top: 29%;
    padding: 12px;
    border: 3px solid #fff;
    border-radius: 50%;
}
.form-gallery .content:hover .img-caption{top: 0}



.form-gallery .content .details {direction: rtl;margin-left: 30px;}
.form-gallery .content .details h6{
  margin-bottom: 20px
}
.form-gallery .content .details i{
    position: relative;
    top: 6px;
}
.form-gallery .content .details a{color: #000}
.form-gallery  .col{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px
}


/*---------------------------------------
    news-aquare section Style              
-----------------------------------------*/
.news-square{
  direction: rtl
}
.news-square .col{margin-bottom: 20px;padding: 10px}
.news-square h5{padding: 10px}
.news-square img{width: 100%;height: 200px;cursor: pointer;}





/*---------------------------------------
    comments section Style              
-----------------------------------------*/
.comments{
  direction: rtl;
  margin-top: 30px
}
.comments .header a{color: #000;font-weight: bold;}
.comments .header{
    background: rgba(204, 204, 204, 0.55);
    height: 68px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 22px;
}



/*---------------------------------------
    footer section Style              
-----------------------------------------*/
.footer {
    direction: rtl;
    background: rgba(0, 0, 0, 0.87);
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer .social a {
    margin-left: 25px;
    margin-bottom: 20px;
}
.footer .sign{
    width: 100%;
    height: 180px;
    background: #333;
    text-align: center;
}
.footer .sign h4{position: relative;top: 35%}
.footer .info img {
    width: 100%;
    height:84px;

}
.footer .info .img-info{
   overflow: hidden;
   height: 84px;
   position: relative;
   cursor: pointer;
   margin-bottom: 20px
}
.footer .info .img-info .caption{
  background: rgba(0, 0, 0, 0.72);
  width: 100%;
  height: 100%;
  position: absolute;
  top:400px;
  text-align: center;
  transition: 0.5s
}
.footer .info .img-info .caption i{
    position: relative;
    top: 18%;
    font-size: 22px;
    padding: 10px;
    border-radius: 50%;
    border: 3px solid #fff;
}
.footer .info .img-info:hover .caption{
  top: 0
}

.footer .info .s8 i{
    position: relative;
    top: 5px;
}

.divider {
    height: 1px;
    overflow: hidden;
    background-color: #4e4b4b;
    margin-bottom: 20px;
}

.footer .title {
    padding-top: 54px;
}
.footer .title h2{
  font-family: 'Anton', sans-serif;
  margin: 0;
  padding: 0
}

.footer .title p {
    padding: 0;
    margin-top: -3px;
    font-weight: bold;
    letter-spacing: 7px;
}
.footer .title h6 {
    line-height: 30px;
}
.footer .info{margin-bottom: 20px}
footer{
    background: #333;
    padding: 10px;
    direction: rtl;
}