@font-face{
    font-family: 'SpaceMono';
    src: url(font/SpaceMono-Regular.ttf)
}

@font-face{
    font-family: 'Abril';
    src: url(font/AbrilFatface-Regular.ttf)
}

body{
	margin-left: auto;
	margin-right: auto;
}

.container{
    margin-left: auto;
	margin-right: auto;
    max-width: 860px;
}

.content{
	margin-left: 20px;
    margin-right: 20px;
}

h1{
    font-family: 'Abril';
	font-size: 100px;
    line-height: 110%;
    letter-spacing: 0px;
	color: aquamarine;
    margin-bottom: 40px;
    margin-top: 60px;
}

h2{
    font-family: 'SpaceMono';
	font-size: 20px;
    font-weight: 100;
    letter-spacing: 0px;
	color: #000000;
}

.bounce {
    
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 10px;}
    100% {bottom: 0;}
}

.arrow {
    animation: bouncing 1s infinite ease-in-out;
    bottom: 0;
    display: block;
    width: 30px;
    height: 30px;
    left: 50%;
    margin-bottom: 30px;
    margin-left: -25px;
    position: absolute;
}

.knockout{
    width:100%;
    max-height:520px;
    margin-bottom: 0;
}

.section {        
    position:relative;
    z-index:1;
    max-height:520px;
    width:100%;
    background-attachment:fixed;    /* this keeps the background in place */
    background-size:100% 100%;
    background-repeat:no-repeat;
}
.sectionContent {
    position:relative;
    z-index:2;
    
    border:0;    
    height:100%;    /* this height difference allows the bg to show through */    
}

.section#s1 {
    background-image: url(images/multilayerbg.jpg);   
}


.change{
    max-width: 100%; 
    height:180px;
    background-color: black;
    padding-top: 70px;
}

p.replace{
    font-family: 'Abril';
	font-size: 60px;
    letter-spacing: 1px;
    margin-left: 20px;
    color: white;
    max-width:860px;
}

.connectDot{
    max-width: 100%; 
    height:650px;
    background-color: aquamarine;
    padding-top: 50px;
    margin-bottom: -60px;
}

#leftColumn{
	float: left;
	width: 58%;
	min-height: 100px;
}

#burgertop{
   	float: left;
	width: 100%;
	min-height: 100px;
}

#burgerbottom{
   	float: left;
	width: 100%;
	min-height: 100px; 
    position: relative;
    top: -100px;
    margin-bottom: -60px;
}

#rightColumn{
	float: right;
	width: 34%;
	min-height: 100px;
}


#myDots{
    position: relative;
    width:100%;
    min-height: 100px;
    float:left;
    z-index: 1;

}
canvas{
    position: relative;
    top: -100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 0;
}


.dot{
    background: yellow;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.clicked{
	background: black;
    width: 20px;
    height: 20px;
}

.vegfood{
    width: 100%;
    margin-top: -22px;
    margin-left: auto;
	margin-right: auto;
    margin-bottom: 20px;
    display: none; 
}
.vfvisible{
    display: inline-block;
}

.food {
    float: left;
    margin-right: 10px;
    margin-left: 20px;
    padding: 0px;
    padding-top: 10px;
    max-width: 250px;
    height: 300px;
    border-top: 4px solid black;
    
}

h3{
    font-family: 'SpaceMono';
	font-size: 24px;
    font-weight: 100;
    letter-spacing: 0px;
	color: #000000;
    margin-top: 8px;
    margin-bottom: 7px;
}

h4{
    float:left;
    font-family: 'Abril';
	font-size: 18px;
    font-weight: 100;
    letter-spacing: 0.5px;
	color: #000000;
    margin-top: 10px;
    margin-bottom: 8px;
}

p{
    float:left;
    font-family: 'SpaceMono';
	font-size: 14px;
    font-weight: 100;
    letter-spacing: 0px;
	color: #000000;
    margin-top: 0px;
}

.badge {
    float:left;
    position: relative;
    width: 14px;
    padding: 2px 3px 2px 3px;
    margin-right: 5px;
    border-radius: 20px;
    border: 2px solid aquamarine;
    font-family: 'SpaceMono';
	font-size: 10px;
    text-align: center;
}

.footer{
    margin-left: auto;
	margin-right: auto;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 100%;
    margin-bottom: -20px;
    background-color: #f7f7f7;
    display:none;
}
.fvisible{
    margin-left: auto;
	margin-right: auto;
    display: inline-block;
}

h5{
    font-family: 'Abril';
    font-weight:800;
    text-align: center;
	font-size: 14px;
    line-height: 28px;
    font-weight: 100;
    letter-spacing: .5px;
	color: black;
    margin-bottom: 0;
}

h6{
    max-width: 580px;
    font-family: 'SpaceMono';
    text-align: center;
	font-size: 10px;
    font-weight:200;
    letter-spacing: .5px;
    line-height: 18px;
	color: black;
    margin-left: auto;
	margin-right: auto;
    margin-top: 0;
}


a:link    {color:#00f295; text-decoration:underline}
a:visited {color:#00f295; text-decoration:underline}
a:hover   {color:black; text-decoration:underline}