@font-face {
    font-family: 'droid';
    src: url('../fonts/DroidKufi-Regular.ttf');
}
@font-face {
    font-family: "JF Flat Regular";
    src: url('../fonts/JF-Flat-regular.eot');
    src: url('../fonts/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
    url('../fonts/JF-Flat-regular.woff') format('woff'),
    url('../fonts/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
     font-family:"HelveticaNeue";
     src:url("../fonts/HelveticaNeueW23-Reg.ttf") format("truetype");
}
@font-face {
    font-family: 'GESSTOW_Light';
    src: url('../fonts/GE_SS_Two_Light.eot');
    src: url('../fonts/GE_SS_Two_Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GE_SS_Two_Light.woff') format('woff'),
         url('../fonts/GE_SS_Two_Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GESSTOW_Medium';
    src: url('../fonts/GE_SS_Two_Medium.eot');
    src: url('../fonts/GE_SS_Two_Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GE_SS_Two_Medium.woff') format('woff'),
         url('../fonts/GE_SS_Two_Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GESSTOW_Bold';
    src: url('../fonts/GE_SS_Two_Bold.eot');
    src: url('../fonts/GE_SS_Two_Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GE_SS_Two_Bold.woff') format('woff'),
         url('../fonts/GE_SS_Two_Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MyTestMedium";
    src: url('../fonts/TanseekModernProArabic1.eot');
    src: url('../fonts/TanseekModernProArabic1.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TanseekModernProArabic2.woff') format('woff'),
         url('../fonts/TanseekModernProArabic3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MyTestBold";
    src: url('../fonts/TanseekModernProArabic-Bold1.eot');
    src: url('../fonts/TanseekModernProArabic-Bold1.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TanseekModernProArabic-Bold2.woff') format('woff'),
         url('../fonts/TanseekModernProArabic-Bold3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}