
body{
      font-family: "JF Flat Regular";
     
      /*color: rgba(221, 89, 11, 0.92)*/

}
  @font-face {
    font-family: "JF Flat Regular";
    src: url('../fonts/JF-Flat-regular.eot');
    src: url('../fonts/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
    url('../fonts/JF-Flat-regular.woff') format('woff'),
    url('../fonts/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* start section header*/

/***************************/
.header {
    margin-top: 30px;
    margin-left: 53px;
    margin-bottom: 20px

}
.search{}
.header .search .b1 {
    background: rgba(221, 89, 11, 0.92);
    color: #fff;
    padding: 6px;
    border-radius: 10px;
    border: 0;
}
.header .search input[type="text"] {
    width: 161px;
    background: rgb(233, 233, 233);
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 6px;
}
.btn-default {
   
    background: #333;
    width: 61px;
    color: #fff;
    border: 0;
    margin-top: -9px;
    border-radius: 4px;
    padding: 3px;
    font-size: 13px;
}

.header .dropdown-menu {
    width: 61px;
    min-width: 0;
    padding: 0;
    margin-top: -6px;
}
.dropdown-menu span {
  
    margin-left: -14px;
}
.dropdown span.icon {
    margin-left: 20px;
    font-size: 19px;
    color: #b7b7b7;
}
.dropdown span.icon i {
    margin: 0px;
    border: 2px solid #b7b7b7;
    padding: 7px;
    border-radius: 50%;
    transition: 0.5s;
    font-weight: bold;
    transition: 0.5s
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
 
    padding: 4px;
}
.fa-play:before {
    content: "\f04b";
    padding: 2px;
}
.dropdown span.icon i:hover{
    color:rgba(221, 89, 11, 0.92) ;
    border-color: rgba(221, 89, 11, 0.92);
    transform: rotate(360deg);
}
/********************************/



.header .form input[type="password"] {
    width: 240px;
    background: rgba(221, 221, 221, 0.64);
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 8px;
}

.header .form button {
    background: rgba(221, 89, 11, 0.92);
    color: #fff;
    padding: 6px;
    border-radius: 6px;
    border: 0;
    width: 118px;
}

/*******************************/
.header .form2 {
    margin-left: -62px;
}
.header .form2 input[type="email"] {
    width: 195px;
    background: rgb(233, 233, 233);
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 8px;
}
.header .form2 label {
    font-size: 12px;
    color: #ccc;
}
/********************************/

.header img {
    width: 86px;
    height: 89px;
    margin-top: -16px;
    margin-left: -147px;
}
::-webkit-input-placeholder { /* Chrome */
  direction: rtl
}
:-ms-input-placeholder { /* IE 10+ */
  direction: rtl
}
::-moz-placeholder { /* Firefox 19+ */
  direction: rtl
}
:-moz-placeholder { /* Firefox 4 - 18 */
  direction: rtl
}
/*end section header*/


/*start section navbar*/

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    direction: rtl;
    margin-left: 186px;

}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -31px;
    background: #df661e;
    color: #fff;
}
.navbar-default {
    background-color: #141313;
    /* border-color: #e7e7e7; */
    border-bottom: 8px solid #df661e;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    transition: 0.5s
}
.navbar-default .navbar-nav > li > a:hover {
    background: #df661e;
    color: #fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #df661e;
}
.navbar-nav > li > .dropdown-menu {
    background: #df661e;
    right: 0;
    left: auto;
    transition: 0.5s;
    font-family: sans-serif;
}
.navsection .dropdown-menu > li > a{
    color: #fff;
    transition: 0.5s;
    background: #333;
    margin-bottom: 2px;
    border-radius: 5px;
    padding: 7px;

}
.navsection .dropdown-menu > li > a:hover{
    background: #df661e;
    color: #fff;
    margin-left: 5px
}




/*end section navbar*/
  


  /*strat slider */
 .slider {
    margin-top: -20px;
}
  
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    /* line-height: 1; */
    height: 350px;
    width: 100%;
}
.slider .info h3 {
    top: 1px;
    background: rgba(223, 102, 30, 0.52);
    
    padding: 10px;
}
.slider .info {
    background: rgba(12, 12, 12, 0.45);
    margin-bottom: 73px;
    padding-bottom: 10px;
    
}
.carousel-control:hover, .carousel-control:focus {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: 1;
}
.carousel-control{
    opacity: 1;
    color: #df661e
}


  /*end slider*/

/*start host*/

.host {
    margin-top: 25px;
  ;
     color: #969696;
}
.host p {
    font-weight: bold;
    font-size: 23px;
    margin-top: 20px;
     margin-bottom: 0
}

.host .serv{text-align: center;margin-bottom: 80px}
    .host .serv i{
    content: "\f1b8";
   /* background: #df661e;*/
   /* color: #fff;*/
    border: 5px solid #fff;
    /*box-shadow: 0 0 0 4px #df661e, 2px 1px 6px 4px;*/
    padding: 20px;
    border-radius: 50%;
    transition: 0.9s;
}
.host .serv:hover i{
   transform: rotate(360deg);
   background: #df661e;
    color: #fff;
    border: 5px solid #fff;
    box-shadow: 0 0 0 4px #df661e, 2px 1px 6px 4px;
    padding: 20px;
    border-radius: 50%;

    }
/*end host*/

/*start news*/
.news{margin-bottom: 50px}
.news h4 {
    padding: 16px;
    background: #FF5A01;
    color: #FFF;
    direction: rtl;
}
.fa-plus {
    /* text-align: center; */
    position: absolute;
    margin-left: 10px;
    margin-top: -45px;
    font-size: 20px;
    color: #FFF;
}

.news h5 {
    direction: rtl;
    color: #4888a8;
    font-weight: bold;
    font-size: 17px;
}
/*end news*/

/*start cour1*/
.cour1{margin-bottom: 50px}
.cour1 h1{
    color: #df661e;
    text-align: center;
}
.cour1 .hover:hover{
    background:rgba(0, 0, 0, 0.57);
    height: 100%;
    width: 100%;
    background-size: cover;
}

.cour1 img {
    width: 286px;
    height: 172px;
}

.cour1 .information {
    width: 286px;
    height: 172px;
    transition: 0.5s;
    box-shadow: -3px 5px 29px 1px #333;
    /* background: #333; */
}
.cour1 .information:hover p{
   display: inline;
   opacity: 1;


}
.cour1 .information:hover button{
    display: inline;
    opacity: 1
}
.cour1 .information:hover{
    
}
.cour1 .information p {
    color: #FFF;
    font-size: 19px;
    position: absolute;
    margin-top: 12px;
    margin-left: 55px;
    display: none;
    transition: 0.5s;
    
    text-align: center;
    font-weight: bold;
}

.cour1 .information button {
    position: absolute;
    margin-top: 61px;
    border: 0;
    background: #ff5a01;
    color: #FFF;
    width: 104px;
    padding: 5px;
    margin-left: 86px;
    border-radius: 5px;
    display: none;
}
.cour1 .information .btn1 {
    position: absolute;
    margin-top: 61px;
    border: 0;
    background: #333;
    color: #FFF;
    width: 104px;
    padding: 5px;
    margin-left: 86px;
    border-radius: 5px;
    display: none;
}

/*end cour 1*/

/*start footer*/
.footer{margin-bottom: 50px}
.footer .form{
    margin:auto;
    width: 500px;
    height: 150px;
    border:3px solid #df661e;

}
.footer .form h4{
    background: #df661e;
    color: #FFF;
    padding: 11px;
   margin-top: 0;
    text-align: center;
}
.footer .form .sign 

{
    width: 350px;
    margin: auto
}

.footer .form .sign input[type="text"] {
    padding: 9px;
    width: 250px;
    background: rgba(221, 221, 221, 0.55);
    border: 0;
    border-radius: 5px;
}

.footer .form .sign button {
    padding: 8px;
    border: 0;
    border-radius: 5px;
    background: #df661e;
    color: #FFF;
}

.footer .form .sign {
    width: 350px;
    margin: auto;
    margin-top: 25px;
}
/*end footer*/


 /*start right*/
.right{margin-bottom: 0}
.right h5{
    text-align: center;
    padding: 18px;
    background: #333;
    border-top: 4px solid #df661e;
    color: #fff;
    font-family: sans-serif;
}

 /*end right*/