/*Style Body */
body{
    padding-top: 70px;
    overflow: hidden;
    
}
/*Main Navbar*/
.navbar
{
    min-height: 70px
}

/*Navbar Color*/
.navbar-inverse .navbar-nav > li > a
{
    color: #BBB;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
}
/*Brand Color*/
.navbar-inverse .navbar-brand
{
    color: #BBB;
    font-size: 30px;
    line-height: 40px;
}

.navbar-toggle
{
    margin-top: 18px;
}

/*Dropdown Menu */
.dropdown-menu
{
    background-color: #333;
    min-width: 200px;
}
.dropdown-menu > li > a
{
    color: #FFF;
    padding: 6px 20px;
    -webkit-transition: padding 0.5s ease;
    -moz-transition: padding 0.5s ease;
    -o-transition: padding 0.5s ease;
    transition: padding 0.5s ease;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus
{
    color: #FFF;
    padding-left: 25px;
}

.dropdown-menu .divider
{
    background-color: #9f0f0f;
}
.navbar-right .dropdown-menu
{
    right: auto;
    left: 0;
}
/*Start Slide Carousel*/
.carousel-caption
{
    bottom: 70px;
    background-color: rgba(3,3,3,.1);
    padding-right: 20px;
    padding-left: 20px;
}
.carousel-indicators
{
    bottom: 0px;
}
.carousel-indicators li
{
    height: 15px;
    width: 15px;
    border: 1px solid #EEE;
}
.carousel-indicators .active
{
    height: 17px;
    width: 17px;
}
.img-responsive, .thumbnail > img, 
.thumbnail a > img,
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img
{
    width: 100%;
}

/*Start Section Tool Box*/

.option-box
{
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 9999;
}
.option-box .color-option
{
    float: left;
    background: #333;
    color: #FFF;
    padding: 10px;
    width: 200px;
    display: none;
}
.option-box .color-option ul li
{
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    margin-right: 3px;
}
.option-box .cog-check
{
    padding: 5px;
    color: #FFF;
    cursor: pointer;
}
/*End Section Tool Box*/

/*Start Section About*/
.about{
    padding-top: 60px;
    padding-bottom: 60px;
}
.about .lead{
    color: #888;
    font-size: 25px;
    margin-top: 15px;
}
.about h1, h3
{
    font-weight: bold;
}

/*End Section*/

/*Start Features*/
.features
{
    background: #DDD;
    padding-top: 60px;
    padding-bottom: 60px;
}

.features .feat
{
    margin-bottom: 50px;
}
.features .feat p
{
    line-height: 2em;
}
.features .feat span.glyphicon
{
    font-size: 25px;
    padding-bottom: 10px;
    
}
/*End Features*/

/*Start testimonials Section*/
.tesimonials
{
    padding-top: 50px;
    padding-bottom: 50px;
}

.tesimonials .lead
{
    line-height: 2em;
    margin-bottom: 10px
}
.tesimonials span
{
    font-size: 18px;
    font-weight: bold; 
}
.tesimonials.carousel-inner
{
    min-height: 160px;
}
.tesimonials .carousel-indicators
{
    position: static;
    width: 100%;
    margin-left: auto;
    padding-top: 20px;
}
.tesimonials .carousel-indicators li
{
    text-indent: 0;
    width: 80px;
    height: 80px;
    opacity: .4;
    border: 3px solid #FFF;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
}
.tesimonials .carousel-indicators li.active
{
    width: 80px;
    height: 80px;
    opacity: 1;
    background:none;
}
.tesimonials .carousel-indicators li img
{
    max-width: 100%;
}
/*End testimonials Section*/

/*Start Price Table Section*/
.price_table
{
    background: #EEE;
    padding-top: 40px;
    padding-bottom: 40px;
}
.price_table .price_box
{
    background: #FFF;
    padding: 10px;
    border: 1px solid #DDD;
    margin-bottom: 15px;
}
.price_table .price_box h2
{
    margin: 5px 0 15px;
}
.price_table .price_box:hover p
{
    -webkit-transform: scale(1.1,1.1) rotate(360deg);
    -moz-transform: scale(1.1,1.1) rotate(360deg);
    -o-transform: scale(1.1,1.1) rotate(360deg);
    transform: scale(1.1,1.1) rotate(360deg);
    border: 2px solid #DFDFDF;
}
.price_table .price_box p
{
    font-size: 35px;
    font-weight: bold;
    color: #666;
    width: 100px;
    height: 100px;
    background: #F3F3F3;
    border-radius: 50%;
    line-height: 100px;
    border: 2px solid #EEE;
    -webkit-transition-duration:0.7s;
    -moz-transition-duration:0.7s;
    -o-transition-duration:0.7s;
    transition-duration:0.7s; 
}
.price_table .price_box ul
{
    line-height: 250%;
    font-size: 18px
}
.price_table .price_box a
{
    margin-bottom: 5px
}
/*End Price Table Section*/

/*Start Section Our Team*/

.our_team
{
    background: url('../images/coding.jpg') no-repeat center center fixed;
}
.our_team .team
{
    background: rgba(2,2,2,0.7);
    color: #FFF;
    min-height: 600px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.our_team .person
{
    margin-bottom: 40px;
}
/*End Section Our Team*/

/*Start Section Subscribe*/
.subscribe
{
    padding-top: 40px;
    padding-bottom: 70px;
    background: #EEE;
}
.subscribe .h1
{
    color: #888;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.subscribe p
{
    margin-bottom: 30px;
}
.subscribe .form-control
{
    border-radius: 0;
    margin-right: -5px;
    width: 300px;
}
.subscribe button
{
    border-radius: 0
}
/*End Section Subscribe*/

/*Start Section Statistics*/
.statistics
{
    background: url('../images/stock.jpg') no-repeat center center fixed;
}
.statistics .data
{
    background-color: rgba(2,2,2,0.7);
    color: #B6B5B5;
    min-height: 300px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.statistics .stats
{
    margin-bottom: 30px;
}
.statistics .stats:hover
{
    color: #FFF;
}
.statistics p
{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 0
}
.statistics span
{
    font-size: 18px;
}

/*End Section Statistics*/

/*Start Section Our Skills*/
.our_skills
{
    padding-top: 40px;
    padding-bottom: 40px;
}
.our_skills h3
{
    font-weight: bold;
    margin-top: 0;
}
.our_skills .progress
{
    height: 37px;
}
.our_skills .progress-bar
{
    line-height: 36px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
}
/*End Section Our Skills*/

/*Start Section Contact Us*/
.contact-us
{
    background: url('../images/contact.jpg') no-repeat center center fixed;
    
}
.contact-us .fields
{
    background-color: rgba(2,2,2,0.7);
    color: #B5B6B6;
    min-height: 300px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.contact-us p
{
    margin-bottom: 40px;
}
.contact-us textarea
{
    height: 108px
}
.contact-us input[type='text'],
.contact-us textarea
{
    background: rgba(82,78,78,0.7);
    color: #FFF;
    border: none;
}
/*End Section Contact Us*/

/*Start Section Footer*/
.footer
{
    background: #111;
    color: #AAA;
    padding-top: 20px;
    margin-top: 40px
}
.footer a
{
    color: #AAA;
}
.footer a:hover
{
    color: #FFF;
}
.footer h3
{
    color: #0895D1;
    letter-spacing: 1px;
    margin:30px 0 20px;
}
.footer .three-columns
{
    overflow: hidden;
}
.footer .three-columns li
{
    width: 33.3333%;
    float: left;
    padding: 5px 0;
}
.footer .social-list
{
    overflow: hidden;
    margin: 20px 0 10px;
    
}
.footer .social-list li
{
    float: left;
    margin-right: 4px;
    opacity: 0.5;
    cursor: pointer;
}
.footer .social-list li:hover
{
    opacity: 1;

}
.footer .img-thumbnail
{
    background-color: rgba(0,0,0,0.2);
    border: 1px solid #444;
    margin-bottom: 5px;
}
.footer .copyright
{
    background-color: #333;
    color: #AAA;
    padding: 15px 0;
    margin-top: 20px;
    font-size: 18px;
}
.footer .copyright span
{
    color: #0895D1
}
/*End Section Footer*/
/*Start Section Loading*/
.loading-overlay
{
    background: #333;
    color: #FFF;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}
.spinner {
  width: 60px;
  height: 60px;

  position: relative;
  margin: 200px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FFF;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/*End Section Loading*/

/*Start Scroll To Top Button*/
#scroll-top
{
    background-color: #272727;
    width: 50px;
    height: 40px;
    color: #DDD;
    text-align: center;
    position: fixed;
    right: 15px;
    bottom: 10px;
    display: none;
    cursor: pointer;
}

#scroll-top:hover
{
    background-color: #F00;
}

/*End Scroll To Top Button*/


/*Start Your Grouping System*/

.contact-us, .statistics, .our_team
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px;   
}

.features .h1,
.tesimonials .h1,
.price_table .h1,
.our_team .h1,
.statistics .h1,
.our_skills .h1

{
    margin-bottom: 50px;
}

.footer .social-list li, 
.statistics .stats,
.tesimonials .carousel-indicators li
{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/*End Your Grouping System*/