/* Main Style
   ***************************** */

* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

body {
    height: 5000px;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.clearfix {clear: both}

/* ****************************** */



/* Start Header
   ***************************** */


.header {
    height: 643px;
    background-color: #F8BC3A;
}

.header .nav-bar {
    padding-top: 20px;
}

.header .nav-bar .logo {
    width: 150px;
}

.header .nav-bar .logo p {
    font-size: 30px;
    font-family: 'Pacifico' , sans-serif;
    color: #3D3D2D;
    float: left;
}

.header .nav-bar .items {
    float: right;
}

.header .nav-bar .items ul {
    list-style: none;
    padding-left: 0;
    font-size: 18px;
}

.header .nav-bar .items ul li {
    float: left;
    padding-top: 15px;
    width: 85px;
    color: #3D3D2D;
    font-weight: 300;
    text-align: center;
}

.header .nav-bar .items ul li:last-of-type {
    width: 130px;
}

.header .nav-bar .items ul li a {
    text-decoration: none;
    color: #3D3D2D;
    text-transform: uppercase;
    font-family: 'ubuntu';
    font-size: 14px;
    font-weight: bold;
}

.header .nav-bar .items .sign {
    background-color: #3D3D2D;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    width: 150px;

}

.header .slider .content {
    width: 50%;
    float: left;
}

.header .slider .content p {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 100px;
    text-transform: uppercase;
    color: white;
    float: left;
    line-height: 0.77;
    margin-top: 140px;
    margin-left: 50px;
}

.header .slider .ping {
    width: 50%;
    height: auto;
    float: right;
}

.header .slider .ping img {
    margin-top: 135px;
    float: right;
    margin-right: 50px;
    height: 82%;
    width: 82%;
}

/* End Header
   ***************************** */


/* Start Features
   ***************************** */

.features {
    height: 350px;
}

.features .feat {
    width: 33.333333%;
    float: left;
    background-color: white;

}

.features .feat img {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    display: block;
    margin-top: 70px;
    margin-bottom: 30px;

}

.features .feat h3 {
    text-align: center;
    font-family: 'Ubuntu';


}

.features .feat p {
    text-align: center;
    line-height: 1.6;
    color: #666;
    margin-top: 20px;
    margin-bottom: 50px;
}



/* End Features
   ***************************** */


/* Start Porfolio
   ***************************** */

.portfolio {
    height: 1300px;
    background-color: #27ae61;
}

.portfolio .intro {
    margin: 0 auto;
    width: 650px;
}

.portfolio .intro h1 {
    padding-top: 50px;
    color: white;
    font-family: 'Ubuntu';
    text-align: center;
    text-transform: uppercase;
}

.portfolio .intro p {
    color: #c7fbdd;
    font-family: 'ubuntu';
    line-height: 1.6;
    text-align: center;


}

.portfolio .types {
    height: 145px;
    text-align: center;
}


.portfolio .types button {
    background: none;
    width: 100px;
    color: white;
    border: 0;
    padding: 7px 18px;
    margin: 20px;
    margin-top: 50px;
    text-transform: uppercase;
    font-family: 'ubuntu';
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.portfolio .types button:hover {
    border: 2px solid white;
    border-radius: 6px;
}

.portfolio .types button:first-of-type {
    background-color: white;
    color: #27ae61;
    border: 2px solid white;
    border-radius: 6px;
}

#big {
    width: 156px;
    margin-right: 0px;
    margin-left: 0px;
}

.portfolio .works {
    overflow: hidden;
}

.portfolio .works .item {
    width: 33.3%;
    float: left;
}

.portfolio .works .item img {
    width: 89%;
    margin: 10px;
    padding: 3px;
    cursor: pointer;
}

.portfolio .works .more {
    background: none;
    text-align: center;
    width: 150px;
    border: 0;
    color: #27ae61;
    padding: 10px 18px;
    margin: 20px;
    margin-top: 50px;
    text-transform: uppercase;
    font-family: 'ubuntu';
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 43%;
}


/* End Porfolio
   ***************************** */



/* Start Blog
   ***************************** */


.blog {
    height: 680px;
}


/******** Post 1 *********/


.blog .post1 .text {
    width: 50%;
    float: right;
}

.blog .post1 .text h2 {
    font-family: 'ubuntu';
    color: #414141;
    margin: 70px auto 30px auto;
}

.blog .post1 .text p {
    font-family: 'ubuntu';
    color: #666;
    line-height: 1.6;

}

.blog .post1 .text button {
    background: none;
    color: #27ae61;
    padding: 10px;
    border: 2px solid #27ae61;
    border-radius: 6px;
    font-family: 'ubuntu';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-top: 30px;

}

.blog .post1 .pic {
    width: 50%;
    float: left;
}

.blog .post1 .pic img {
    width: 50%;
    height: 50%;
    margin: 70px 0 60px 110px;
}


/******** Post 2 *********/


.blog .post2 .text {
    width: 50%;
    float: left;
}

.blog .post2 .text h2 {
    font-family: 'ubuntu';
    color: #414141;
    margin: 50px auto 30px auto;
}

.blog .post2 .text p {
    font-family: 'ubuntu';
    color: #666;
    line-height: 1.6;

}

.blog .post2 .text button {
    background: none;
    color: #db5941;
    padding: 10px;
    border: 2px solid #db5941;
    border-radius: 6px;
    font-family: 'ubuntu';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-top: 30px;

}

.blog .post2 .pic {
    width: 50%;
    float: right;
}

.blog .post2 .pic img {
    float: right;
    width: 50%;
    height: 50%;
    margin: 50px 110px 40px 0;
}


/* End Blog
   ***************************** */



/* Start About
   ***************************** */


.about {
    background-color: #db5941;
    height: 650px;
}

.about .intro {
    margin: 0 auto;
    width: 650px;
}

.about .intro h1 {
    padding-top: 50px;
    color: white;
    font-family: 'Ubuntu';
    text-align: center;
    text-transform: uppercase;
}

.about .intro p {
    color: #f6dbd2;
    font-family: 'ubuntu';
    line-height: 1.6;
    text-align: center;


}

.about .cards {
}

.about .cards .card {
    background-color: white;
    width: 20%;
    height: 300px;
    float: left;
    margin: 90px 32px 0 32px;
    border-radius: 5px;
    overflow: hidden;

}

.about .cards .card:last-of-type {
    margin-right: 0;
}

.about .cards .card img {
    width: 50%;
    height: 35%;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

.about .cards .card p {
    font-family: 'Josefin Sans';
    color: #3b3f42;
    font-size: 22px;
    text-align: center;
    margin-top: 20px;

}

.about .cards .card span {
    text-align: center;
    font-family: 'ubuntu';
    display: block;
    color: #db5941;
    font-size: 20px;
    margin-top: 10px;
}

.about .cards .card i {
    background-color: #bcbcbc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-top: 20px;
    margin-left: 11px;
    padding: 10px 5px 0 5px;
    cursor: pointer;
}

.about .cards .card i:hover {
    background-color: #db5941;
}






/* End About
   ***************************** */



/* Start People
   ***************************** */


.people {
    height: 470px;
    width: 100%;
    background-image: url(../images/sbg.jpg);
    background-size: cover;
    overflow: hidden;

}

.people img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 18%;
    height: 18%;
}

.people p {
    font-family: 'ubuntu';
    font-weight: bold;
    color: #393f4b;
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
    width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    font-style: italic;
}


.people ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin-top: 30px;

}

.people ul li {
    height: 17px;
    width: 17px;
    background-color: #393f4b;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;

}


/* End People
   ***************************** */



/* Start Tables
   ***************************** */


.tables {
    background-color: #393f4b;
    height: 700px;
}

.tables .intro {
    margin: 0 auto;
    width: 650px;
}

.tables .intro h1 {
    padding-top: 50px;
    color: white;
    font-family: 'Ubuntu';
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
}

.tables .intro p {
    color: #CCC;
    font-family: 'ubuntu';
    line-height: 1.6;
    text-align: center;


}

.tables .cards .tab {
    background-color: white;
    width: 20%;
    height: 315px;
    float: left;
    margin: 140px 32px 0 32px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 20px 20px 0px 3px rgba(50,57,67,1);
    -moz-box-shadow: 20px 20px 0px 3px rgba(50,57,67,1);
    -webkit-box-shadow: 20px 20px 0px 3px rgba(50,57,67,1);


}

.tables .cards #top {
    margin-top: 100px;
}

.tables .cards .tab:first-of-type {
    margin-left: 170px;
}

.tables .cards .tab:last-of-type {
    margin-right: 0;
}

.tables .cards .tab h3 {
    color: #393f4b;
    font-family: 'ubuntu';
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 15px;
}

.tables .cards .tab span {
    font-family: 'Josefin Sans';
    text-align: center;
    font-size: 35px;
    color: #393f4b;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;

}

.tables .cards .tab hr {
    display: block;
    margin: 0 auto;
    width: 35px;
    border: 3px solid #C4C9CF;
    border-radius: 10px;
}

.tables .cards .tab p {
    color: #393f4b;
    font-family: 'ubuntu';
    text-align: center;
    line-height: 1.6;
    margin-top: 15px;
}

.tables .cards .tab button {
    background: none;
    padding: 10px 20px 10px 20px;
    color: #C4C9CF;
    border: 2px solid #C4C9CF;
    border-radius: 6px;
    font-family: 'ubuntu';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 60px;
}




/* End Tables
   ***************************** */


/* Start Blog
   ***************************** */



   .blog {
       background-color: white;
       height: 700px;
   }

   .blog .intro {
       margin: 0 auto;
       width: 650px;
   }

   .blog .intro h1 {
       padding-top: 50px;
       color: #444;
       font-family: 'Ubuntu';
       text-align: center;
       text-transform: uppercase;
       margin-top: 0;
   }

   .blog .intro p {
       color: #555;
       font-family: 'ubuntu';
       line-height: 1.6;
       text-align: center;
}


.blog .posts {
    background-color: darkgray;
    margin-top: 60px;
    margin-left: 60px;
}

.blog .posts .post {
    width: 50%;
    float: left;
    margin-bottom: 50px;
}

.blog .posts .pic {
    float: left;
}

.blog .posts .pic img {
    width: 180px;
    height: 180px;
    float: left;
}

.blog .posts .text {
    float: left;
    margin-left: 20px;
    
    
}

.blog .posts .text span {
    text-transform: uppercase;
    font-family: 'ubuntu';
    color: #999;
    font-size: 14px;
}

.blog .posts .text h3 {
    text-transform: capitalize;
    font-family: 'ubuntu';
    font-size: 20px;
    color: #444;
    width: 240px;
    margin: 10px 0 10px 0;
    
    
}

.blog .posts .text hr {
    display: block;
    width: 35px;
    border: 3px solid #fff072;
    border-radius: 10px;
}

.blog .posts .text p {   
    text-align: justify;
    line-height: 1.6;
    font-family: 'ubuntu';
    color: #555;
    width: 300px;
    margin-top: 10px;
    
}

/* End Blogs
   ***************************** */


/* Start Contact US
   ***************************** */


.contact-us {
    background-color: #3B6EBB;
    height: 700px;
}


.contact-us .intro {
   margin: 0 auto;
   width: 650px;
}

.contact-us .intro h1 {
   padding-top: 50px;
   color: white;
   font-family: 'Ubuntu';
   text-align: center;
   text-transform: uppercase;
   margin-top: 0;
}

.contact-us .intro p {
   color: white;
   font-family: 'ubuntu';
   line-height: 1.6;
   text-align: center;
}

.contact-us .contact {
    
    height: 450px;
    width: 650px;
    display: block;
    
    margin: 0 auto;
    margin-top: 50px;
}

.contact-us .contact input {
    color: #3B6EBB;
    font-family: 'ubuntu';
    font-weight: bold;
    font-size: 14px;
    background-color: white;
    width: 100%;
    height: 42px;
    outline: none;
    border: 0;
    border-radius: 5px;
    margin-top: 30px;
    padding-left: 10px;
}

.contact-us .contact input:last-of-type {
    padding: 0;
}

.contact-us .contact textarea {
    padding-left: 10px;
    padding-top: 10px;
    color: #3B6EBB;
    font-family: 'ubuntu';
    font-weight: bold;
    font-size: 14px;
    background-color: white;
    width: 100%;
    outline: none;
    border: 0;
    border-radius: 5px;
    margin-top: 30px;
    padding-left: 10px;
}

.contact-us .contact #submit {
    width: 140px;
    cursor: pointer;
}


/* End Contact US
   ***************************** */


/* Start Footer
   ***************************** */


.footer {
    background-color: #333;
    height: 430px;
    display: block;
    margin: 0 auto;
}

.footer img {
    width: 10%;
    height: 10%;
    display: block;
    margin: 0 auto;
    padding: 50px;
}

.footer p {
    color: white;
    font-family: 'ubuntu';
    text-transform: capitalize;
    text-align: center;
    line-height: 1;

}

.footer .icons {
    display: block;
    text-align: center;
    margin:0 auto;
}

.footer .icons i {
    color: white;
    padding: 6px;
    cursor: pointer;
    text-align: center;
}

.footer hr {
    display: block;
    margin: 50px 0 10px 0;
}

.footer #foo1 {
    float: left;
}

.footer p:last-of-type {
    float: right;
}


/* End Footer
   ***************************** */








