
body
{
    
        background: url("../images/bg.gif") no-repeat fixed;
           top: 0; 
            left: 0; 
           -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      
 
}

img[title]
{
    margin-top: 80px;
    margin-bottom: 10px;
    -webkit-transition: all .5s ease-in-out;
    -mos-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    
}

img[title]:hover
{
 -webkit-transform: scale(1.1,1.1);
     -mos-transform: scale(1.1,1.1);
     -o-transform: scale(1.1,1.1);
     
    transform: scale(1.1,1.1);
    
}

h1
{
  color:#FFF;
    text-align: center;
    font-family: monospace;

    
}


p 
{
    
    text-align: center;
    color:#FFF;
   
}
p a 
{
    
    text-decoration: none;
    color:firebrick;
   -webkit-transition: all .5s ease-in-out;
    -mos-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    
}

p a:hover 
{
    
    text-decoration: none;
    color:darkorange;
    margin-left:5px
}



