body {
	font-family: myFirstFont;
                src: url(font/GE-SS-Two-Bold.otf);
}
.container {
   width:990px;
   margin:auto;
}
.clearfix {clear:both;}

/* Start Header */
.slider h1 {
    text-align: center;
    color: white;
    font-family: cursive;
    font-weight: 500;
}
.slider .img-holder {animation: car 6s 1 ease-in-out;margin-top: 14%;margin-left: -13%;}
.header .slider {background-color:silver;height:600px;background-image:url('../images/go.jpg');background-size:cover;overflow: hidden;}
.header .slider .intro h2 {    margin-top: -147px;
    margin-left: -95%;
    font-size: 51px;
    width: 247px;
    color: #2d6e85;
	}
.header .slider .intro  {text-align:center;color:#484343;/* padding-top: 357px; *//* padding-left: 550px; */}
.slider .intro .login ,
.slider .intro .sign  {
    margin-right: 8px;
    margin-top: 17%;
    width: 150px;
    background-color: rgb(64, 207, 127);
    border: 1px solid;
    border-radius: 3px;
    height: 44px;
    font-family: cursive;
    cursor: pointer;
    color: white;
    font-size: 20px;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
    transition: box-shadow 0.5s;
}
.slider .intro .login:hover {border: 2px solid white;background-color: rgba(0, 0, 0, 0.17); box-shadow: 0px 2px 10px 0px black;}
.slider .intro .sign:hover {border: 2px solid white;background-color: rgba(0, 0, 0, 0.17); box-shadow: 0px 2px 10px 0px black;}
.navbar {color:#FFF;background-color: #0e445d;overflow:hidden;}
.navbar .container img {
    width: 6%;
    border-radius: 22px;
    margin-left: -17%;}	
.navbar h2 {margin-top: 2%;font-family: cursive;color: #ffffff;float:left;text-transform: uppercase;animation: header 3s 1 ease-in-out;}
.navbar ul {list-style:none;padding-	:0;overflow:hidden;float:right;}
.navbar ul li {float:left;padding:10px;}
.navbar ul li a {color: #ffffff;text-decoration:none;font-family: cursive;}
/* End Header */

/* Start features */
.features {overflow:hidden;padding-top:50px;padding-bottom:20px;}
.features .feat {float:left;width:33.33333%;height:200px;}
.features .feat h2 {text-transform:uppercase;color:#242F2E;}
.features .feat p {line-height:25px;color:#242F2E;padding: 0 20px 0 0;}

/* End features */

/* Start About me */
.aboutme {background-color:#F2F2F2;overflow:hidden;}
.aboutme .image {float:left;width:45%;}
.aboutme .image img {    width: 60%;
    margin-left: 21%;}

.aboutme .info {float:left;width:55%;}
.aboutme .info h2,
.aboutme .info > p {color:#9ca5a0}
.aboutme .info > h2 {margin:10px 0 20px 40px;color:#2d6e85;margin-top:0px;}
.aboutme .info > p {margin:0 0 10px 40px;}
.aboutme .info h3 {    color: #2d6e85;
    margin: 22px 0 10px 40px;}

.aboutme .info .hobbies {overflow:hidden;margin:40px 0 0 40px;}
.aboutme .info .hobbies .content {overflow:hidden;}
.aboutme .info .hobbies > div {float:left;width:50%;min-height:100px;}
.aboutme .hobbies .content .text {width:86%;}
.aboutme .hobbies .content .text h2 {font-size:17px;color:#001e3a;margin-top:0px;}
.aboutme .hobbies .content .text p {color:#BB997D;margin-left:40px;}
.aboutme .hobbies .content .icon {float:left;width:14%;}
.aboutme .hobbies .content .icon img {max-width:100%;margin:40px 10px 0 0;}

/* End About me */
.navbar select {background-color: #0e445d;font-family: cursive;border: 1px solid #0e445d;border-radius: 5px;color: white;cursor: pointer;}

@keyframes header {
	from {margin-left: -32%}
	to    {margin-left: 0%;}
}
@-webkit-keyframes header {
	0% {margin-left: -32%}
	100%   {margin-left: 0%;}
}
@keyframes car {
	from {margin-left: -13%}
	to    {margin-left: 102%;}
}
@-webkit-keyframes car {
	0% {margin-left: -13%}
	100%   {margin-left: 102%;}
}