/*---------------------------------------
    Body Style              
-----------------------------------------*/

body {
  font-family: 'DroidArabicNaskhRegular';
  overflow-x: hidden;


 

}

section{overflow: hidden;}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 0.6em;
  background: #fff
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: red;
  outline: 1px solid #fff;
  border-radius: 5px;
  width: 0.5em
}


/*---------------------------------------
    Up To page style              
-----------------------------------------*/

.up i {
    color: #fff;
    position: fixed;
    z-index: 9999;
    background: #f44336;
    padding: 14px;
    border-radius: 2px;
    font-size: 32px;
    right: 10px;
    cursor: pointer;
    top: 500px;
    transition: 0.3s;
    display: none;
}

.up i:hover {
  background: #000;
  color: #fff
}


/*---------------------------------------
    Pre Loader Style              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #fff;
}

.sk-spinner-pulse {
  width: 60px;
  height: 60px;
  background-color: #f26b1c;
  border-radius: 100%;
  margin: 40px auto;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
  animation: sk-pulseScaleOut 1s infinite ease-in-out;
}

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}



.container{width: 87%}


/*---------------------------------------
    Start top-bar section             
-----------------------------------------*/
.top-bar {
    background: #292830;
    min-height: 40px;
    
}
.top-bar .row{margin-bottom: 0}
.top-bar .col{
    margin-top: 7px;
    margin-bottom: 7px;
}
.top-bar .btn-floating {
    width: 35px;
    height: 35px;
    margin-left: 5px;
}

.top-bar ul{
    display: inline-flex;
    padding: 0;
    margin: 0;
}
.top-bar ul li {
    margin-left: 20px;
    line-height: 2.5em;
}
.top-bar ul a{
  color: rgba(255, 255, 255, 0.62);
  transition: 0.5s;
}
.top-bar ul a:hover {
  color: #fff;
}


.top-bar form{
  position: relative;
  overflow: hidden;
}
.top-bar form i {
    position: absolute;
    top: 10px;
    font-size: 17px;
    right: 5px;
}
.top-bar input{
    height: 14px;
    border: 0;
    background: #41404c;
    padding: 7px;
    margin-bottom: 0px;
    font-size: 12px;
}


/*---------------------------------------
    Header section Style              
-----------------------------------------*/
.header{
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0
}

.header .sign{
    height: 90px;
}

/*---------------------------------------
    navbar section Style              
-----------------------------------------*/

.navbar nav{background: rgb(65, 64, 76)}
.navbar nav ul li{
  float: right;
  transition: 0.5s
}
.navbar nav ul li:hover{
  background: #292830;

}
.navbar nav ul a:hover{color: #fff}
@media only screen and (max-width: 992px){
  .navbar nav ul li {
    float: none;
}
}
.navbar .go i {
    font-size: 30px;
    line-height: 40px;
}


/*---------------------------------------
    slider section Style              
-----------------------------------------*/
.slider-carousel{
  margin-top: 50px;
  margin-bottom: 50px;
  direction: ltr
}
.owl-carousel .owl-item img {
    height: 220px;
}

.owl-carousel .owl-item .items {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.owl-carousel .owl-item .items span {
    position: absolute;
    top: 9px;
    right: 7px;
    color: #fff;
    background: rgba(34, 34, 34, 0.82);
    padding: 4px;
    transition: 0.5s
}
.owl-carousel .owl-item .items span i {
    position: relative;
    top: 5px;
}
.owl-carousel .owl-item .items .caption{
  position: absolute;
  top: 500px;
  background: rgba(0, 0, 0, 0.79);
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.5s
}

.owl-carousel .owl-item .items .caption i{
    color: #fff;
    font-size: 30px;
    position: relative;
    padding: 10px;
    top: 31%;
    border-radius: 50%;
    border: 2px solid #fff;
}
.owl-carousel .owl-item .items:hover .caption{
  top: 0;
}
.owl-carousel .owl-item .items:hover span{
  right: -500px
}


/*---------------------------------------
    sid-bar Style              
-----------------------------------------*/
.side-bar .row{margin-bottom: 50px}
.side-bar .s7{
    padding: 0px;
}

.side-bar form input{
    border: 0;
    background: rgb(235, 235, 235);
    color: #fff;
}
.side-bar h4 {
    text-align: center;
    background: #f44336;
    color: #fff;
    padding: 10px;
    margin-top: -16px
}
.side-bar h5{
  background:#292830;
  color: #fff;
  padding: 10px 
}

.side-bar .info{
  position: relative;
  overflow: hidden;
  height: 100px;
  width: 30%;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px
}
.side-bar .info img{
  width: 100%;
  height: 100%;
}
.side-bar .info .caption{
  position: absolute;
  background: rgba(0, 0, 0, 0.72);
  top: 300px;
  width: 100%;
  height: 100%;
  transition: 0.5s
}
.side-bar .info .caption i{
    position: relative;
    color: #fff;
    font-size: 23px;
    padding: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    top: 24%;
}
.side-bar .info:hover .caption{top: 0}
.side-bar .details{width: 65%;overflow: hidden;}
.side-bar .details span {
    font-size: 12px;
    font-weight: bold;
}
.side-bar .details a{color: #222}
.side-bar .details i {
    position: relative;
    top: 6px;
    color: grey;
}




.side-bar form{
  padding: 8px
}
.side-bar form input {
    border: 0;
    background: rgba(235, 235, 235, 0.45);
    color: #292830;
    text-indent: 9px;
}
.side-bar .tabs .tab a {
    background-color: transparent;
    color: #292830;
    font-family: sans-serif;
    font-weight: bold;
}
/*---------------------------------------
    page content Style              
-----------------------------------------*/
.page-content {
  ;
}
.page-content .row{margin-bottom: 50px}
.page-content h5{
  background:#292830;
  color: #fff;
  padding: 10px 
}

.page-content .info{
  position: relative;
  overflow: hidden;
  height: 230px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px
}
.page-content .info img{
  width: 100%;
  height: 100%;
}
.page-content .info span {
    position: absolute;
    top: 8px;
    color: #fff;
    right: 7px;
    transition: 0.5s;
    background: rgba(34, 34, 34, 0.83);
    padding: 5px;
}
.page-content .info span i {
    position: relative;
    top: 6px;
}
.page-content .info .caption {
    position: absolute;
    background: rgba(0, 0, 0, 0.72);
    top: 72%;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.page-content .info .caption a{
    color: #fff;
    font-size: 19px;
    position: relative;
    top: 10px;
}

.page-content .info:hover .caption{top: 0}
.page-content .info:hover span{right: -200px}


/*start rewiews*/
.page-content .photo{
  overflow: hidden;
    width: 46%;
    height: 120px;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px
}
.page-content .photo img {
    width: 100%;
    height: 100%
}
.page-content .photo .caption{
  position: absolute;
  top: 500px;
  background: rgba(0, 0, 0, 0.79);
  width: 100%;
  height: 100%;
  transition: 0.5s;
  text-align: center;
}
.page-content .photo .caption i {
    position: relative;
    color: #fff;
    font-size: 34px;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
    top: 26%;
}

.page-content .photo:hover .caption{
  top: 0
}
.page-content .photo-info{
  width: 50%;
}







/*---------------------------------------
    footer section Style              
-----------------------------------------*/
.footer {
    background: #41404c;
    padding-top: 35px;
    padding-bottom: 20px
}
.footer h5{
    background: #292830;
    padding: 16px;
    margin-top: -1px;
}
.footer .info-img{
  width: 30%;
  height: 120px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-bottom: 20px
}
.footer .info-img img{
  width: 100%;
  height: 100%;
}
.footer .info-img .caption{
  position: absolute;
  top: 500px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.74);
  text-align: center;
  transition: 0.5s
}
.footer .info-img .caption i {
    color: #fff;
    position: relative;
    top: 21%;
    font-size: 25px;
    padding: 10px;
    border: 3px solid #fff;
    border-radius: 50%;
}
.footer .info-img:hover .caption{
  top: 0;
}
.footer .content{
  width: 65%
}
.footer .content a{color: #a0a0a0}
.footer .social a{
    margin-left: 7px;
    margin-bottom: 10px;
}

footer{
    background: #292830;
    color: #fff;
    padding: 12px;
}