
@media only screen and (max-width: 959px) and (min-width: 768px) {
.container {
	width: 768px;
}
#appear {
	width: 287px;
	right: 39px;
	top: 63px;
}
/*-------works-------*/
section.post {
	width: 30.4%;
	margin-left: 17px;
	margin-right: 0;
}
section.post:first-child {
	width: 63%;
}
.the-first {
	height: 362px !important;
}
/*------single------*/
.cart ul {
	width: 41%;
}
/*------contact------*/
.intro h1 {
	text-align: center;
	line-height: 300px;
	color: #fff;
	font-family: 'JE Flat';
	font-size: 37px;
}
.contact-form {
	width: 92%;
	margin: 30px auto;
	display: table;
}
.btns-contact {
	width: 45% !important;
	margin-right: 15px;
	background: #454545 !important;
	color: #fff;
}
.intro {
	background-position-y: 0;
}
/*--------blog--------*/
.img-limit-block {
	width: 215px;
}
.half {
	width: 56%;
}
.block h1 {
	font-family: 'lato-light';
	font-size: 18px;
	padding: 20px 20px 10px;
}
.meta i {
	font-size: 12px;
}
.meta span {
	font-size: 12px;
}
.block p {
	font-size: 13px;
}
input#s {
	font-size: 13px;
}
.social-icons {
	padding: 0 33px 30px;
	height: 68px;
}
.social-icons a {
	margin: 2px 7px;
	display: -webkit-inline-box;
}
/*-------single-blog--------*/
.meta-blog {
	width: 25%;
}
}

@media only screen and (max-width: 767px) and (min-width: 414px) {
.container {
	width: 410px;
}
/*--------Home---------*/
.btns a {
	margin: 0 19px;
}
.tweet p {
	line-height: 55px;
}
a.twitter-follow-button {
	margin-top: 40px;
}
.tweet i {
	line-height: 171px;
}
.contact a {
	margin: 0 4px;
	font-size: 33px;
}
.footer p {
	width: 100%;
	margin: 37px auto 54px auto;
}
.footer span {
	margin-bottom: 30px;
}
/*--------works--------*/
nav.cl-effect-7 {
	display: none;
}
.right-bar-mobile {
	display: block !important;
}
.right-bar-mobile:hover menu {
	display: block;
}
section.post:first-child {
	width: 100%;
	height: auto;
}
section.post {
	width: 100%;
	height: auto;
}
.the-first {
	height: 162px !important;
}
.post h1 {
	font-size: 24px;
	margin-top: 16px;
	line-height: 32px;
}
.post i {
	margin-top: 13px;
	margin-bottom: 13px;
}
a.align-right {
	padding: 18px 33px;
	width: 90px;
}
.p-n-btns a::before {
	left: 131px;
	font-size: 17px;
	top: 1px;
}
a.align-left {
	padding: 18px 18px 18px 48px;
	width: 90px;
}
.align-left::after {
	right: 95px !important;
}
.align-left:hover:after {
	right: 83px !important;
}
.align-left::before {
	left: 11px !important;
	top: -1px !important;
}
/*-------single--------*/
.cart ul {
	width: 66%;
}
/*--------blog----------*/
.head-blog p {
	line-height: 32px;
}
.content-left {
	width: 100%;
}
.block {
	height: auto;
}
.img-limit-block {
	width: 100%;
	height: 410px;
}
.half {
	width: 100%;
	float: right;
}
.block p {
	margin-bottom: 20px;
}
.content-right {
	width: 100%;
	float: right;
	background-color: #fff;
	height: auto;
	margin-bottom: 25px;
}
input#s {
	width: 86%;
	font-size: 13px;
}
.social-icons {
	margin: 0 auto;
	display: table;
}
/*-------single-blog--------*/
.thumb-blog {
	width: 100%;
	height: auto;
}
.overlay-blog {
	height: auto;
}
.overlay-blog h1 {
	line-height: 50px;
	font-size: 28px;
	margin-top: 30px;
	display: -webkit-inline-box;
}
.meta-blog {
	width: 49%;
	margin-top: 30px;
	padding-bottom: 28px;
}
/*------contact-------*/
.pages-nav ul {
	margin: 52px auto 56px;
}
.contact-form {
	height: auto;
}
.hr {
	display: none;
}
.right-column {
	width: 100%;
}
.left-column {
	width: 100%;
	margin-top: 30px;
	display: -webkit-inline-box;
}
.btns-contact {
	margin-left: 13px !important;
	margin-bottom: 20px !important;
	margin-right: 0 !important;
}
}

@media only screen and (max-width:414px) {
body {
	width: 440px;
}
.container {
	width: 410px;
}
/*--------Home---------*/
.btns a {
	margin: 0 19px;
}
.tweet p {
	line-height: 55px;
}
a.twitter-follow-button {
	margin-top: 40px;
}
.tweet i {
	line-height: 171px;
}
.contact a {
	margin: 0 4px;
	font-size: 33px;
}
.footer p {
	width: 100%;
	margin: 37px auto 54px auto;
}
.footer span {
	margin-bottom: 30px;
}
/*--------works--------*/
nav.cl-effect-7 {
	display: none;
}
.right-bar-mobile {
	display: block !important;
}
.right-bar-mobile:hover menu {
	display: block;
}
section.post:first-child {
	width: 95%;
	height: auto;
}
section.post {
	width: 95%;
	height: auto;
	margin-left: 11px;
}
.the-first {
	height: 162px !important;
}
.post h1 {
	font-size: 24px;
	margin-top: 16px;
	line-height: 32px;
}
.post i {
	margin-top: 13px;
	margin-bottom: 13px;
}
a.align-right {
	padding: 18px 33px;
	width: 90px;
}
.p-n-btns a::before {
	left: 131px;
	font-size: 17px;
	top: 1px;
	width: 35px;
}
.p-n-btns a::after {
	height: 134%;
	-webkit-transform: rotate(-13deg);
	-moz-transform-origin: 0 0;
	-moz-transform: rotate(-13deg);
	-ms-transform-origin: 0 0;
	-ms-transform: rotate(-13deg);
	transform-origin: 0 0;
	transform: rotate(-13deg);
}
a.align-left {
	padding: 18px 18px 18px 48px;
	width: 90px;
}
.align-left::after {
	right: 101px !important;
	top: -28px !important;
}
.align-left:hover:after {
	right: 83px !important;
}
.align-left::before {
	left: 11px !important;
	top: -1px !important;
}
/*-------single--------*/
.single-post {
	width: 88%;
}
.cart ul {
	width: 66%;
}
/*--------blog----------*/
.head-blog p {
	line-height: 32px;
}
.content-left {
	width: 100%;
}
.block {
	height: auto;
}
.img-limit-block {
	width: 100%;
	height: 410px;
}
.half {
	width: 100%;
	float: right;
}
.block p {
	margin-bottom: 20px;
}
.content-right {
	width: 100%;
	float: right;
	background-color: #fff;
	height: auto;
	margin-bottom: 25px;
}
input#s {
	width: 86%;
	font-size: 13px;
}
.social-icons {
	margin: 0 auto;
	display: table;
}
/*-------single-blog--------*/
.thumb-blog {
	width: 100%;
	height: auto;
}
.overlay-blog {
	height: auto;
}
.overlay-blog h1 {
	line-height: 50px;
	font-size: 28px;
	margin-top: 30px;
	display: -webkit-inline-box;
}
.meta-blog {
	width: 49%;
	margin-top: 30px;
	padding-bottom: 28px;
}
/*------contact-------*/
.intro {
	background-position-y: 0;
}
.intro h1 {
	font-size: 36px;
	margin-top: 111px;
	display: -webkit-inline-box;
	line-height: 50px;
}
.pages-nav ul {
	margin: 52px auto 56px;
}
.contact-form {
	height: auto;
}
.hr {
	display: none;
}
.right-column {
	width: 100%;
}
.left-column {
	width: 100%;
	margin-top: 30px;
	display: -webkit-inline-box;
}
.btns-contact {
	margin-left: 13px !important;
	margin-bottom: 20px !important;
	margin-right: 0 !important;
}
}
