/* S XS Small */

@media only screen and (max-width: 767px)
{
    
header .logo
    {
        float:none;
        display:block;
        text-align:center;
        margin-bottom:15px;
    }
    
nav
    {
        float:none;
    }
    
nav ul
{
    text-align:center;
}
    
header p
    {
        font-size:17px;
    }

.boxes
    {
        width:95%;
        height:175px;
        margin-top:100px;
        display:block;   
    }
    
.boxes .cimg,
.boxes .cimgb,
.boxes .cimgc
    {
        width:20%;
    }

.boxes .cimgb img
    {
        width:50%;
    }
    
}

/* E X Small */


/* S Small */

@media only screen and (min-width: 768px) and (max-width:991px)
{  
        header .logo
    {
        float:none;
        display:block;
        text-align:center;
        margin-bottom:15px;
    }
    
nav
    {
        float:none;
    }
    
nav ul
{
    text-align:center;
}
    
header p
    {
        font-size:17px;
    }

.boxes
    {
        width:95%;
        height:175px;
        margin-top:100px;
        display:block;   
    }
    
.boxes .cimg,
.boxes .cimgb,
.boxes .cimgc
    {
        width:20%;
    }

    
}

/* E Small */


/* S Medium */


@media only screen and (min-width:992px) and (max-width:1199px)
{


header .logo
{
    float:none;
    display:block;
    text-align:center;
    margin-bottom:15px;
    clear:both;
}

nav
{
    float:none;
}

nav ul
{
    text-align:center;
}

    
header p  
{
    font-size:17px;
}

.boxes
{
    width:95%;
    height:175px;
    margin-top:100px;
    display:block;   
}
    
.boxes .cimg,
.boxes .cimgb,
.boxes .cimgc
{
    width:15%;
}
  
    
}


/* E Medium */