#holder
  #head
    #head-0
    #head-1
    #head-2
    #head-3
    #head-4
    #head-5
    #head-6
    #head-7
    #head-8
    #head-9
  #forh
    #forh-1
    #forh-2
    #forh-3
    #forh-4
    #forh-5
    #forh-6
    #forh-7
    #forh-8
    #forh-9
    #forh-10
    #forh-11
    #forh-12
    #forh-13
    #forh-14
    #forh-15
    #forh-16
    #forh-17
    #forh-18
    #forh-19
    #forh-20
    #forh-21
    #forh-22
    #forh-23
  #eye-socket
    #eye-socket-1
    #eye-socket-2
    #eye-socket-3
    #eye-socket-4
    #eye-socket-5
    #eye-socket-6
  
  #eye
    #eye-1
    #eye-2
    #eye-3
    #eye-4
    #eye-5
    #eye-6
  #octo
  #octo-1
  #grab
  #grab-2
  #fourtackles
    #fourtackle-1
      
      #tent1-1
      #tent1-2
      
      #tent1-3
      #tent1-4
      
      #tent1-5
      
      
      #tent1-7
      #tent1-8
      #tent1-6
      #tent1-9
      #tent1-10
      #tent1-11
      #tent1-12
      #tent1-13
      #tent1-14
      #tent1-15
      #tent1-16
      #tent1-17
    #fourtackle-2
      #tent2-1
      #tent2-2
      #tent2-3
      #tent2-4
      #tent2-5
      #tent2-6
      #tent2-7
      #tent2-8
      #tent2-9
      #tent2-10
      #tent2-11
      #tent2-12
      #tent2-13