body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
    background-color: #049bd4;
}
a:-webkit-any-link {
    color: white;
    text-decoration: none;
    cursor: auto;
}
.meno{
	background-color: #049bd4;
    border: none;
    border-radius: 0px;
    z-index: 1030;
	height: 60px;
	position: relative;
    width: 100%;
    left: 0;
    top: 0;
	padding-left: 10px;
	padding-right: 15px;
	max-width: 1200px;
    margin: 0 auto;
}
logo{
	height: 40px;
    padding-left: 5px;
}
