/* Start global css*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: auto;
  overflow: hidden;
  position: relative
}

@font-face {
 
 font-family: "droidalkufi";
 src: url(../fonts/DroidKufi-Regular.ttf);

}

@font-face {
 
 font-family: "bahij";
 src: url(../fonts/Bahij_Insan-Regular.ttf);

}

.hidden {
 display: none
}

/* End global css*/

/* Start header css */

.header{
 width: 100%;
 height: 645px;
 background: url(../images/banner.jpg) no-repeat;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 position: relative;
}

.header .overly {
 width: 100%;
 height: 100%;
 background-color: rgba(0,0,0,0.79);
 position: absolute;
 top: 0;
 left: 0;
  overflow: hidden;
}

.header .title {
 position: absolute;
 width: 100%;
 height: 300px;
 background: none;
 top: 25%;
 text-align: center
}

.typed-cursor{
 opacity: 1;
 -webkit-animation: blink 0.7s infinite;
 -moz-animation: blink 0.7s infinite;
 animation: blink 0.7s infinite;
}

.header .logonav {
 width: 100%;
 height: 90px;
 background: rgba(0,0,0,0.70);
 overflow: hidden;
}

.header .nav{
 float: left;
 width: 374px;
 min-width: 374px;
 margin-left: 30px;
 overflow: hidden;
 direction: rtl;
}

.header .nav a{
display: inline-block;
width: 90px;
height: 87px;
font-family: droidalkufi;
font-size: 18px;
text-decoration: none;
line-height: 90px;
text-align: center;
color: #E2E2E2;
padding-bottom: 10px;
position: relative;
transition: all .5s ease;
outline: none
}

.header .nav a:hover{
 color: #FFF
}

.header .nav a:after{
 content: '';
 display: block;
 width: 0px;
 height: 3px;
 background: transparent;
 position: absolute;
 transition: all .5s ease;
 bottom: 0;
 margin: auto
}

.header .nav a:hover::after {
 background: #FFF;
 width: 90px
}

.header .logo {
 float: right;
 background: url(../images/logo.png) no-repeat;
 width: 300px;
 height: 89px;
 min-width: 300px;
 max-height: 90px;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 margin-top: 1px;
 margin-right: 30px
}


.header .s-buttons {
 width: 100%;
 height: 50px;
 position: absolute;
 text-align: center;
 bottom: 100px;
 background: none;
 display: none;
}
/* Start objectives css */

.objectives {
 width: 100%;
 height: 645px;
 overflow: hidden
}

/* End objectives css */

/* Start our team css */

.our-team {
 width: 100%;
 height: 450px;
 background: url(../images/slider.jpg) no-repeat;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 position: relative
}

.our-team .overly {
 width: 100%;
 height: 100%;
 background-color: rgba(0,0,0,0.85);
 position: absolute;
 top: 0;
 left: 0;
}

.our-team .overly .slider {
 width: 100%;
 height: 100%;
 text-align: center;
 margin-top: 110px;
 overflow: hidden
}

.our-team .overly .slider div {
 display: none
}

.our-team .overly .slider div.active {
 display: block
}
/* End our team css */

/* Start our images css */

.images {
 width: 100%;
 height: auto;
 background: #EEE;
 padding-bottom: 10px;
 text-align: center;
 border: 1px solid #d2d2d2;
}

.images .row1 {
 width: 100%;
 height: 290px;
 background: #EEE;
 padding-top: 40px;
 padding-bottom: 0;
 overflow: hidden
}

.images .row2 {
 width: 100%;
 height: 279px;
 background: #EEE;
 padding-top: 5px;
 padding-bottom: 0;
 overflow: hidden
}

.images .row3 {
 width: 100%;
 height: 290px;
 background: #EEE;
 padding-top: 1px;
 padding-bottom: 0;
 overflow: hidden;
}

.images img {
 width: 390px;
 height: 270px;
 border: 1px solid #c5c5c5
}

/* End our images css */

/* Start our questions css */
.common-q {
 width: 100%;
 height: auto;
 background: #fff;
 padding-bottom: 30px;
}

.common-q .questions{
 width: 100%;
 height: auto;
 background: #fff;
 margin-top: 100px;
 overflow: hidden
}

.common-q .questions > div, 
.common-q .questions > span {
 width: 100%;
 display: block;
 float: right;
 direction: rtl;
}

.common-q .questions > span {
 background: #2980b9;
 padding: 13px;
 font-family: 'droidalkufi';
 font-size: 20px;
 margin-top: 5px;
 cursor: pointer;
 border: 1px solid #2980b9;
 border-radius: 2px;
 color: #FFF;
 position: relative;
 -webkit-user-select: none;
 -moz-user-select: none;
 -o-user-select: none;
}

.common-q .questions > span:after {
 content: "\f078";
 font-style: normal;
 font-family: fontawesome;
 position: absolute;
 left: 13px;
  font-size: 20px;
}

.common-q .questions > div {
 height: 450px;
 padding: 15px;
 background: #F7F7F7;
 font-family: 'bahij';
 border: 1px solid #e3e3e3;
 font-size: 23px;
 overflow-y: scroll;
 border-radius: 2px;
 line-height: 40px;
 border-bottom: 5px solid #2980b9;
 display: none
}

.common-q .questions > div > div.table {
 display: table;
 text-align: center;
 width: 800px;
 margin: auto;
 border: 1px solid #b7b6b6;
}

.common-q .questions > div > div.table > div {
 display: table-row;
}

.common-q .questions > div > div.table > div.table-row {
 display: table-row;
}

.common-q .questions > div > div.table > div.table-row .row1 {
 display: table-cell;
 width: 150px;
 height: 40px;
 border: 1px solid #b7b6b6;
 line-height: 40px;
}

.common-q .questions > div.active {
 display: block
}

/* End our questions css */

/* Start our footer css */
.footer {
 width: 100%;
 height: 500px;
 background: url(../images/footerback.jpg);
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 position: relative;
 overflow: hidden;
 text-align: center
}

.footer .overly {
 width: 100%;
 height: 100%;
 background-color: rgba(0,0,0,0.80);
 position: absolute;
 top: 0;
 left: 0;
 overflow: hidden
}

.footer .contact {
 display: block;
 width: 550px;
 height: 280px;
 background: transparent;
 margin: 80px auto
}

.footer .contact .form {
 width: 100%;
 height: 300px;
 background: transparent;
 margin-top: 20px;
 color: #fff;
 text-align: center
}

.footer .media {
 width: 100%;
 height: 30px;
 text-align: center;
 color: #333;
}

.footer .media i {
 width: 30px;
 height: 30px;
 font-size: 17px;
 background: #FFF;
 border-radius: 50%;
 text-align: center;
 line-height: 30px;
}
/* End our footer css */

/* Start our copyrights css */
.copyrights {
 width: 100%;
 height: 50px;
 background: #000;
 overflow: hidden
}

.copyrights h4 {
 width: 400px;
 font-family: 'droidalkufi';
 font-size: 13px;
 float: right;
 direction: rtl;
 margin-top: 17px;
 margin-right: 10px;
 color: #bbb
}

.copyrights h4 a {
 text-decoration: none;
 color: #bbb
}

.copyrights .designer {
 width: 100px;
 height: 50px;
 overflow: hidden;
 position: relative
}

.copyrights .designer .nameme {
 width: 50px;
 height: 10px;
 position: absolute;
 color: #fff;
 font-family: 'droidalkufi';
 font-size: 12px;
 left: 42px;
 top: 9px;
 
}

.copyrights .designer img {
 width: 60%;
 height: 100%;
}
/* End our copyrights css */


/* Addition  properties*/

::-webkit-input-placeholder {
 color: #FFF
}

::-moz-input-placeholder {
 color: #FFF
}

:-o-input-placeholder {
 color: #FFF
}


@media screen and (max-width: 960px) {

    .container {
    width: 95%;
}

 
}

@media screen and (max-width: 640px) {

    .container {
    width: 100%;
}



}
