body{

   background-color: #EFF1F4;
   
}
p{line-height: 25px;
font-size: 110%;}

.Countainer{
    width: 1170px;
    margin: auto;}
    
    label{display: block;
    margin-top: 20px;
    margin-bottom: 20px; }
    
    
    textarea{padding-bottom: 60px;
    padding-right: 50px ;}
    
    
    
    button{width:150px;  }
    
    
  
   .data {margin-top: 50px; }
   
   
   
   
   .center{text-align: center;}
   
   
   
   .copy {padding-top: 20px;
margin-bottom: -10px;
text-align: center;
margin-bottom: 50px;
 }


.copy img{
    display: inline;
    margin: 0;
}