// === Colors === 

$white: #ffffff
$black: #000000
$gray: #ededed
$darkgray: #d9d9d9
$red: #ff7559
$green: #424c39
$brown: #bd9f85
$text-color: #2c2c2c
$text-blue: #006498
$dark-red: #f16245

// === Typography ===

$font: Montserrat, sans-serif
$font-size: 14px